---
# <!-- @formatter:off -->
title: Product Center
menu-priority: 0.5
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
private: true
additional-scripts:
  - src: /scripts/page--product-center.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/product-center.css
    inline: false
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <p class="ht--p--14 c-grey--900">{{title}}</p>
    <h1 class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">
        Welcome to the Higher Education Product Center
    </h1>
    <div class="box-row">
        <div class="box-item col-xs-12 col-sm-6">
            <p>
                Mobile recruitment. Highly personalized engagement. Keeping students on the path to success. See
                real-world examples of how the CampusNexus<sup>®</sup> Suite is driving results for today’s colleges and
                universities.
            </p>

            <p>
                Follow our prospective student, ANDY, as he progresses through the student lifecycle, from recruitment
                and admissions - and beyond.
            </p>
            <div class="product-center-login product-center-login--no-cookie">
                <p>Register now to enter the product center.</p>
                <div class="product-center-login-button-wrapper">
                    <a
                        class="pill-button product-center-login__register-link"
                        href="{{url-lang-prefix}}/product-center/register/"
                    >Register
                    </a>
                </div>
            </div>
            <div class="product-center-login product-center-login--has-cookie">
                <p>
                    <span>Enter</span> the Product Center
                </p>
                <div class="product-center-login-button-wrapper">
                    <a
                        href="{{url-lang-prefix}}/product-center/student-lifecycle-menu/"
                        class="pill-button product-center-login__enter-link"
                    >Enter
                    </a>
                </div>
            </div>
        </div>
        <div class="box-item box-item--not-flex col-xs-12 col-sm-6">
            <div class="cmc-article__video">
                <div class="cmc-article__video__video">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            src="https://www.youtube.com/embed/QMK8YCyIa2Q?rel=0"
                            frameborder="0"
                            style="display: block;"
                            title="Youtube Video - Product Center"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
