---
# <!-- @formatter:off -->
title: Campus Management Corp - Product Center
private: true
additional-scripts:
    - src: /scripts/page--product-center-register.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="cmc-article">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">Register for the Product Center</h1>
        <p class="ht--p--14-075 header__subtitle">
            Fill out the form below and select "Next" to access to the Product
            Center.
        </p>
    </div>

    <form
        id="productCenterRegisterForm"
        class="cmc-form cmc-form--centered"
        action="product-center-register/?site=cmc&group=en-us"
        data-success-redirect-url="{{url-lang-prefix}}/product-center/sign-up-complete/"
        data-lead-source="product center register"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="firstName">First Name</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="firstName"
                            id="firstName"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Last Name</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="lastName"
                            id="lastName"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="phone">Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="phone" id="phone" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="title">Job Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="title" id="title" required />
                    </div>
                </li>
                <li>
                    <label for="institution" class="required"
                        >Institution</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            id="institution"
                            name="institution"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label for="country">Country</label>
                    <div class="input-wrapper">
                        {{>country-select name="country" id="country"
                        required="required"}}
                    </div>
                </li>
                <li></li>
                <li class="cmc-form__submit-row">
                    <button
                        type="submit"
                        class="pill-button cmc-form__submit-button"
                        name="btnSave"
                    >
                        Next
                    </button>
                </li>
            </ul>
            <p class="pt1">
                Any personal information you provide to us using this form will
                be processed in accordance with our
                <a href="{{url-lang-prefix}}/about-us/privacy/"
                    >privacy policy</a
                >.
            </p>
        </fieldset>
    </form>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
