---
# <!-- @formatter:off -->
title: Retention
private: true
additional-scripts:
  - src: /scripts/page--product-center-cookie-check.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/product-center.css
    inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <ul class="demo-center__breadcrumb">
        <li><a href="{{url-lang-prefix}}/product-center/student-lifecycle-menu/">Student Lifecycle Menu</a></li>
        <li><span>Retention</span></li>
    </ul>
</div>

<div class="proportional-iframe-scale__outer-wrapper">
    <div class="proportional-iframe-scale__inner-wrapper">
        <img class="proportional-iframe-scale__sizer-img" src="/images/ui/16x9.gif" alt="" />
        <iframe
            class="proportional-iframe-scale__iframe"
            scrolling="no"
            allowfullscreen
            frameborder="0"
            src="/product-center/recruitment/recruitment.html"
            title="Retention Animation"
        ></iframe>
    </div>
</div>
{{/content}}
{{/extend}}
