---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
private: true
additional-stylesheets:
  - href: /styles/pages/contact-us.css
    inline: true
  - href: /styles/pages/hide-interface.css
    inline: true
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<div
    class="cmc-article app"
    style="min-height: 300px"
>
    <br />
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">Campus Management Product Center</h1>
        <div class="loading--placeholder">Loading...</div>
    </div>
</div>

<script>
    setTimeout(function () {
        window.location.href = "{{url-lang-prefix}}/product-center/student-lifecycle-menu/";
    }, 2000)
</script>

{{/content}}

{{/extend}}
