---
# <!-- @formatter:off -->
title: Product Center
private: true
additional-scripts:
  - src: /scripts/page--product-center-cookie-check.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/product-center.css
    inline: false
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <h1 class="ht--p--14 c-grey--900">Welcome to the Higher Education Product Center</h1>

    <section class="demo-center-home">
        <img class="demo-center-home__section-header-img" src="/images/pages/product-center/nexuscrmlogo.png" alt="">
        <ul class="demo-center-home__demos-list">
            <li>
                <a class="demo-center-home__demo-link" href="{{url-lang-prefix}}/product-center/recruitment/">
                    <img src="/images/pages/product-center/demo-center-home__demo-link__img--recruitment.png" alt="">
                    <span>Recruitment</span>
                </a>
            </li>
            <li>
                <a class="demo-center-home__demo-link" href="{{url-lang-prefix}}/product-center/admissions/">
                    <img src="/images/pages/product-center/demo-center-home__demo-link__img--admissions.png" alt="">
                    <span>Admissions</span>
                </a>
            </li>

            <li>
                <a class="demo-center-home__demo-link" href="{{url-lang-prefix}}/product-center/retention/">
                    <img src="/images/pages/product-center/demo-center-home__demo-link__img--retention.png" alt="">
                    <span>Retention</span>
                </a>
            </li>
            <li>
                <a class="demo-center-home__demo-link" href="{{url-lang-prefix}}/product-center/metrics-management/">
                    <img src="/images/pages/product-center/demo-center-home__demo-link__img--manager.png" alt="">
                    <span>Metrics Management</span>
                </a>
            </li>

        </ul>
        <p class="demo-center-home__view-demo-note">Select from above to view a demo</p>
    </section>
</div>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
