.headroom {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $left-nav-menu-z-index;
    transition:
        transform 200ms linear,
        top $location-notification-transition-duration;
    will-change: transform;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        /* stylelint-disable-next-line declaration-no-important */
        transition-duration: 0.1ms !important;
    }

    &.headroom--not-top.main-nav-open {
        height: 100%;
        overflow-x: auto;
    }
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    //transform: translateY(calc(-100% - #{rhythm(1)}));
    transform: translateY(-100%);
}

.headroom--top.headroom--pinned {
    position: absolute;
}

.headroom + .layout-bg--social-media-share,
.headroom--top.headroom--pinned + .layout-bg--social-media-share {
    margin-top: 0;
}
