/* stylelint-disable no-descending-specificity */

$horizontal-menu-bg-color: map-get($greys, 600) !default;

.horizontal-menu__wrapper {
    margin-bottom: rhythm(1);
}

.horizontal-menu {
    @include adjust-font-size-to($base-font-size, 1.5);

    position: relative;
    z-index: $left-nav-menu-z-index - 2;
    margin-bottom: rhythm(1);
    overflow: visible;
    font-weight: 400;
    text-align: right;
    list-style-type: none;
    background: map-get($greys, 200);
    border: 1px solid $border-color;

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(14px, 1.5);

        margin-bottom: 0;
        border: 0;
    }
}

.horizontal-menu a {
    display: block;
    cursor: pointer;

    &:link,
    &:visited {
        color: $white;
        text-decoration: none;
    }
}

.horizontal-menu > li {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;

    @media (min-width: $screen-sm-min) {
        display: inline-block;
        width: auto;
    }

    &:last-child a {
        border-bottom: 0;
    }
}

.horizontal-menu > li > a {
    padding: 0 0.5em;
    color: map-get($greys, 900);
    // top level
    font-family: $font-family-secondary;
    border-bottom: 1px solid $border-color;

    &:after {
        @include svg-sprite-icon();

        width: 9.7px;
        height: 6.4px;
        margin: 0 0 0.1em 1em;
        background-image:
            svg-load(
                'images/ui/chevron-down.svg' fill=map-get($greys, 800)
            );
        content: '';
    }

    @media (min-width: $screen-sm-min) {
        padding: 0 1em;
        border: 0;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.horizontal-menu > .sfHover > a {
    // top level hover
    color: map-get($greys, 900);

    &:link,
    &:hover,
    &:active,
    &:visited {
        text-decoration: none;
    }

    @media (min-width: $screen-sm-min) {
        color: $white;
        background: map-get($greys, 600);

        &:link,
        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &:after {
            background-image:
                svg-load(
                    'images/ui/chevron-down.svg',
                    fill=$white
                );
        }
    }
}

.horizontal-menu > li:last-child > ul {
    right: 0;
}

.horizontal-menu > li > ul a {
    @include adjust-font-size-to($base-font-size, 1.5);

    min-width: rhythm(5);
    padding-right: 1em;
    padding-left: 1em;
    white-space: nowrap;
    background-color: $horizontal-menu-bg-color;

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(12px, 1);
    }
}

.horizontal-menu > li > ul {
    //submenu
    @include make-small-scroll();

    top: rhythm(1.5, $base-font-size, 0);
    z-index: $left-nav-menu-z-index - 3;
    display: none;
    max-height: 222px;
    overflow-x: hidden;

    @media (min-width: $screen-sm-min) {
        position: absolute;
        border: 0;
    }

    li {
        border-top: 1px solid $white;
    }

    a:hover,
    a:active {
        color: map-get($greys, 1000);
        background-color: map-get($greys, 200);
    }
}

.horizontal-menu__selected-filter-text {
    @include adjust-font-size-to(14px, 1);

    position: relative;
    z-index: $left-nav-menu-z-index - 1;
    margin-left: rhythm(0.5);
    color: map-get($greys, 900);
    font-family: $font-family-secondary;

    &:before {
        content: 'Filter: ';
    }

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(14px, 1.5);

        display: block;
        float: left;
        margin-top: #{- rhythm(1.5)};

        &:before {
            content: none;
        }
    }
}

.selected-filter__remove-btn {
    @include adjust-font-size-to(14px);

    margin: 0;
    padding: 0;
    color: map-get($greys, 900);
    font-family: $font-family-secondary;
    text-decoration: none;
    background: none;
    border: 0;
    cursor: pointer;

    &:after {
        content: ' - ';
    }

    &:last-child:after {
        content: '';
    }

    &:hover {
        color: map-get($greys, 1000);
        text-decoration: none;
    }
}

.s3-doc-list-app--v2 {
    .horizontal-menu__wrapper {
        margin: 0;
        padding: 0;
    }

    .s3-doc-list__menu {
        z-index: $left-nav-menu-z-index - 1;
    }

    .horizontal-menu {
        @include container;
        @include adjust-font-size-to(16px, 1.5);

        max-width: 475px;
        margin-bottom: 0;
        text-align: center;
        background: none;
        border: 0;

        @media (min-width: $screen-sm-min) {
            width: 50%;
        }

        @media (min-width: $screen-md-min) {
            width: 33%;
        }
    }

    .horizontal-menu > li {
        width: 100%;
        border: 1px solid $border-color;

        @media (min-width: $screen-sm-min) {
            border: 0;
        }
    }

    .horizontal-menu > li:last-child > ul {
        left: 0;
    }

    .horizontal-menu > li > a {
        float: none;
        margin: auto;
        color: $white;
        text-align: right;
        background-color: $theme-tertiary;
        border: 0;
    }

    /* stylelint-disable selector-class-pattern */
    .horizontal-menu > li > a:after,
    .horizontal-menu > .sfHover > a:after {
        width: 13.352px;
        height: 11.567px;
        vertical-align: middle;
        background-image: svg-load('images/ui/triangle-down.svg' fill=$white);
    }
    /* stylelint-enable selector-class-pattern */

    .selected-filter__remove-btn {
        @include adjust-font-size-to(16px);
    }

    .horizontal-menu__selected-filter-text {
        @include adjust-font-size-to(16px, 1.5);

        z-index: $left-nav-menu-z-index - 2;
        display: block;
        margin-top: 0;
        margin-left: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .horizontal-menu__pagination-wrapper {
        @include container;

        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }
}
