.left-nav-menu__toggle-button {
    // menu button
    position: absolute;
    top: 21px;
    right: auto;
    left: rhythm(0.5);
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 48px;
    background: transparent;
    border: 0;
    border-radius: 0.5em;
    cursor: pointer;

    &:hover {
        color: $white;
        text-decoration: none;
    }

    &:before {
        @include svg-sprite-icon-in-pseudo();

        top: 0;
        left: 0;
        display: block;
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/hamburger.svg',
                fill=$theme-tertiary
            );
        border-radius: 0.5em;
    }

    &[aria-expanded='true']:before {
        background-image: svg-load('images/ui/close.svg', fill=$theme-tertiary);
    }

    @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 21px;
        right: auto;
        left: rhythm(0.5);
        width: 36px;
        height: 36px;
        overflow: hidden;
        white-space: nowrap;
        text-indent: 48px;
        background: transparent;
    }
}
