$main-nav-bg-color: rgba(0, 0, 0, 0.85);
$main-nav-header-color: rgba(0, 70, 138, 0.85);

.main-nav {
    position: relative;
    height: rhythm(3);
    background-color: $theme-primary;

    @media (min-width: $screen-md-min) {
        background-color: $main-nav-header-color;
    }
}

.main-nav__root-list {
    position: static;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
}

.main-nav__root-list-item {
    position: relative;
    flex: 0 0 33%;

    &:nth-child(1) {
        flex-basis: 50%;
        order: 2;

        @media (min-width: $screen-sm-min) {
            flex-basis: 33%;
        }
    }

    &:nth-child(2) {
        position: static;
        flex-basis: 25%;
        order: 1;

        @media (min-width: $screen-sm-min) {
            flex-basis: 33%;
        }
    }

    &:nth-child(3) {
        flex-shrink: 1;
        order: 3;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
        flex-basis: 48px;
        flex-shrink: 0;
        order: 3;
    }
}

.main-nav__home-link {
    @include text-hide();

    display: block;
    width: 256px;
    height: rhythm(3);
    margin: 0 auto;

    &:after {
        position: absolute;
        top: 50%;
        display: block;
        width: 256px;
        height: 36px;
        background-image: url('/images/ui/campusmanagement-transition-logo-white.svg');
        background-repeat: no-repeat;
        background-size: contain;
        transform: translateY(-50%);
        content: '';
    }
}

.main-nav__toggle-contents {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 900;
    margin: 0;
    overflow: visible;
    background-color: $main-nav-bg-color;
    background-clip: content-box;
    border: 0;
}

.main-nav__page-list-link {
    @include adjust-font-size-to(14px, 1);

    display: block;
    width: 100%;
    margin: 0;
    padding: rhythm(0.25) 0;
    color: $white;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
    background: transparent;

    &:hover {
        color: $white;
        text-decoration: underline;
    }

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(12px, 0.5);
    }

    &[aria-expanded] {
        &:after {
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            margin-left: rhythm(0.5);
            background-image:
                svg-load(
                    'images/ui/chevron-left.svg' fill=$white
                );
            background-repeat: no-repeat;
            background-size: contain;
            transition: all 0.4s ease;
            content: ' ';

            @media screen and (prefers-reduced-motion: reduce), (update: slow) {
                /* stylelint-disable-next-line declaration-no-important */
                transition-duration: 0.1ms !important;
            }
        }
    }

    &[aria-expanded='true'] {
        &:after {
            transform: rotate(-90deg);
        }
    }
}

.main-nav__pages-list {
    @include container;

    padding: 0 0 0 rhythm(1);
    overflow: hidden;
    transition: all 0.4s ease;

    @media (min-width: $screen-xs-land-min) {
        @supports (grid-gap: 0) {
            &:not([hidden]) {
                display: grid;
            }

            /* autoprefixer grid: no-autoplace */
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: $screen-sm-min) {
        // override %container;
        padding-top: 0;
        padding-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
        /* autoprefixer grid: no-autoplace */
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        /* stylelint-disable-next-line declaration-no-important */
        transition-duration: 0.1ms !important;
    }

    [aria-expanded='true'] + .main-nav__toggle-contents > & {
        padding-top: rhythm(1);
    }
}

.main-nav__pages-list--for-size {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: rhythm(1);
}

.main-nav__pages-list > .main-nav__pages-list-item > .main-nav__page-list-link {
    @include adjust-font-size-to(16px);

    font-family: $font-family-secondary;
    text-transform: uppercase;

    span {
        @include adjust-font-size-to(12px);

        font-weight: 300;
        font-family: $font-family-primary;
        text-transform: none;
    }

    &:before {
        display: block;
        width: rhythm(5.5);
        height: 7px;
        margin: 0 0 8px;
        background-color: $theme-tertiary;
        content: '';
    }

    &:hover {
        text-decoration: none;
    }
}

.main-nav__open-menu-button {
    position: relative;
}

.main-nav__pages-list > .main-nav__pages-list-item {
    position: relative;
    padding-bottom: rhythm(1);
    background: transparent;

    @media (min-width: $screen-xs-land-min) {
        &:nth-child(2n + 1) {
            clear: left;
        }
    }

    @media (min-width: $screen-md-min) {
        &:nth-child(2n + 1) {
            clear: none;
        }

        &:nth-child(4n + 1) {
            clear: left;
        }
    }
}

.main-nav__pages-sub-list {
    position: static;
    padding: 0 0 0 rhythm(1.25);
    overflow: hidden;
    transition: all 0.4s ease;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        // scss-lint:disable ImportantRule
        /* stylelint-disable-next-line declaration-no-important */
        transition-duration: 0.1ms !important;
    }
}

.main-nav .left-nav-menu__toggle-button {
    left: 0;

    @media (min-width: $screen-sm-min) {
        left: rhythm(0.5);
    }
}

.main-nav__static-content {
    .top-nav-menu__charm-button {
        position: absolute;
        top: 21px;
        right: rhythm(0.5);
    }
}

.main-nav__pages-list .top-nav-menu__charm-button {
    @include adjust-font-size-to(16px);

    display: inline-block;
    width: 100%;
    height: auto;
    padding: rhythm(0.25) 0;
    overflow: visible;
    color: $white;
    font-family: $font-family-secondary;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 0;
    background: transparent;
    border-radius: 0;
    cursor: pointer;

    &:after {
        content: none;
    }

    &:before {
        display: block;
        width: rhythm(5.5);
        height: 7px;
        margin: 0 0 8px;
        background-color: $theme-tertiary;
        content: '';
    }

    &:hover {
        text-decoration: none;
    }
}

.main-nav__pages-list .top-nav-menu__charm-button.top-nav-menu__charm-button--global {
    &:after {
        content: ' ';
    }
}

.top-nav-menu__charm-button.main-nav__page-list-link {
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(35px);

        width: 1em;
        padding: 0;
        line-height: 1;
    }
}

.global-nav__toggle-contents {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 900;
    margin: 0;
    overflow: visible;
    overflow: hidden;
    background-color: $main-nav-bg-color;
    border: 0;
    transition: all 0.4s ease;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        /* stylelint-disable-next-line declaration-no-important */
        transition-duration: 0.1ms !important;
    }

    &.main-nav__pages-list--for-size {
        @media (min-width: $screen-sm-min) {
            left: auto;
            padding-top: 0;
            padding-bottom: rhythm(1);
        }
    }
}

.global-nav__lang-list {
    padding-right: rhythm(1);
    padding-left: rhythm(1);

    @media (min-width: $screen-sm-min) {
        padding-left: rhythm(2);

        > li:not(:last-child) {
            // padding-bottom: rhythm(1);
        }
    }

    [aria-expanded='true'] + .global-nav__toggle-contents & {
        // padding-top: rhythm(1);
        padding-bottom: rhythm(1);
    }
}

.global-nav__country-title {
    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(16px);

        padding: rhythm(1) rhythm(1) 0;
        color: $white;
        font-family: $font-family-secondary;
        text-transform: uppercase;

        &:before {
            display: block;
            width: rhythm(5.5);
            height: 7px;
            margin: 0 0 8px;
            background-color: $theme-tertiary;
            content: '';
        }
    }
}

.global-nav__country-title--latam {
    &:hover {
        text-decoration: none;
    }
}

.global-nav__lang-option {
    padding-left: rhythm(1);
}
