.top-nav-menu__charm-button--global,
.top-nav-menu__charm-button--contact,
.top-nav-menu__charm-button--search,
.top-nav-menu__charm-button--sign-in,
.top-nav-menu__charm-button--sign-out,
.top-nav-menu__charm-button--support {
    border: 0;

    @media (min-width: $screen-sm-min) {
        @include charm-button;
    }
}

// scss-lint:disable SpaceAroundOperator
.top-nav-menu__charm-button--global {
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
        &:after {
            width: 35px;
            height: 35px;
            background-image:
                svg-load(
                    'images/ui/globe.svg',
                    fill=$theme-tertiary
                );
        }
    }
}

.top-nav-menu__charm-button--support {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/support.svg',
                fill=$theme-tertiary
            );
    }
}

.top-nav-menu__charm-button--contact {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/envelope.svg',
                fill=$theme-tertiary
            );
    }
}

.top-nav-menu__charm-button--search {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/search.svg',
                fill=$theme-tertiary
            );
    }
}

/*
.top-nav-menu__charm-button--sign-in {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/signin.svg',
                fill=$theme-tertiary
            );
    }
}

.top-nav-menu__charm-button--sign-out {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/signout.svg',
                fill=$theme-tertiary
            );
    }
}
*/
// scss-lint:enable SpaceAroundOperator
