---
# <!-- @formatter:off -->
label: EDUCAUSE
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-image--xs: /images/pages/news-and-events/events/events-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                Create the Future - Where Every Dream Is Achievable
            </h1>
            <p class="ht--p--16-22 mb0">
                Thanks for Joining Campus Management at EDUCAUSE 2019
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <img
                class="max-width-100 block c"
                src="/images/pages/news-and-events/educause-2019-lego-thanks.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
        </div>
    </div>
</article>

{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
