---
# <!-- @formatter:off -->
title: Presentation Schedule
banner-image: /images/pages/news-and-events/box-educause-logo.png
additional-stylesheets:
    - href: /styles/pages/event-schedule-table.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="c-grey--900 mb0">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Join Campus Management at EDUCAUSE 2015
    </p>
    <p class="ht--s--20 c-theme-tertiary">
        October 27 - 30 | Booth #1809
    </p>

    <p class="ht--s--38 c-theme-primary-dark">
        We also invite you to join us for fun and informative presentations
        throughout the day:
    </p>

    <p class="b c-grey--800">
        Providing Competency-Based Learning Today
    </p>

    <p>
        Learn the four critical steps to launching a competency-based education
        program, including identifying the right technology.
    </p>

    <p class="b c-grey--800">
        Where’s Wanda? Track Student Outcomes with CampusNexus CRM
    </p>

    <p>
        Discover how institutions use CampusNexus CRM in Career Services to
        record placement interactions to improve visibility
    </p>

    <p class="b c-grey--800">
        Using Faculty Management Tools to Support Operational Efficiency &amp;
        Strategic Goals
    </p>

    <p>
        Explore methodologies that provide visibility into faculty engagement,
        productivity, and career progress.
    </p>

    <h2 class="b c-grey--800 header--has-top-border">
        Wednesday, October 28
    </h2>

    <table class="event-schedule-table">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">10:00 am</td>
                <td>
                    Where’s Wanda? Track Student Outcomes with CampusNexus CRM
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">11:00 am</td>
                <td>
                    Using Faculty Management tools to Support Operational
                    Efficiency &amp; Strategic Goals
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:00 pm</td>
                <td>
                    The On Demand Model for Higher Education: Providing
                    Competency-Based Learning Today
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:00 pm</td>
                <td>
                    Where’s Wanda? Track Student Outcomes with CampusNexus CRM
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">2:00 pm</td>
                <td>
                    Using Faculty Management tools to Support Operational
                    Efficiency &amp; Strategic Goals
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">3:00 pm</td>
                <td>
                    The On Demand Model for Higher Education: Providing
                    Competency-Based Learning Today
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">5:00 pm</td>
                <td>
                    Where’s Wanda? Track Student Outcomes with CampusNexus CRM
                </td>
            </tr>
        </tbody>
    </table>

    <h2 class="b c-grey--800">
        Thursday, October 29
    </h2>

    <table class="event-schedule-table" border="0">
        <thead>
            <tr>
                <th class="event-schedule-table__time-cell">Time</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-schedule-table__time-cell">11:00 am</td>
                <td>
                    Where’s Wanda? Track Student Outcomes with CampusNexus CRM
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">12:00 pm</td>
                <td>
                    Using Faculty Management tools to Support Operational
                    Efficiency &amp; Strategic Goals
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">1:00 pm</td>
                <td>
                    The On Demand Model for Higher Education: Providing
                    Competency-Based Learning Today
                </td>
            </tr>

            <tr class="event-schedule-table__special-event">
                <td class="event-schedule-table__time-cell">1:30 pm</td>
                <td>
                    <!--
                    <a href="/news-and-events/events/EDUCAUSE/corporate-presentation/">
                        Corporate Presentation:
                    </a>
                    -->
                    <p>
                        Visualize This! The Power of Analytic Intelligence with
                        Campus Management and Microsoft<sup>®</sup> Power BI
                        <br />
                        Meeting Room 140 -141
                    </p>

                    <ul class="presenter-list">
                        <li>
                            <span class="presenter-list__presenter-name"
                                >Patrick LeBlanc</span
                            >,
                            <span class="presenter-list__presenter-title"
                                >Solution Architect</span
                            >,
                            <span class="presenter-list__presenter-company"
                                >Microsoft Corporation</span
                            >
                        </li>
                        <li>
                            <span class="presenter-list__presenter-name"
                                >Connor Gray</span
                            >,
                            <span class="presenter-list__presenter-title"
                                >Chief Strategy Officer</span
                            >,
                            <span class="presenter-list__presenter-company"
                                >Campus Management Corp.</span
                            >
                        </li>
                        <li>
                            <span class="presenter-list__presenter-name"
                                >Raymond Blackwood</span
                            >,
                            <span class="presenter-list__presenter-title"
                                >VP of Product Management</span
                            >,
                            <span class="presenter-list__presenter-company">
                                Campus Management Corp.</span
                            >
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td class="event-schedule-table__time-cell">2:00 pm</td>
                <td>
                    Exceeding Student Expectations through Proactive Engagement
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">3:00 pm</td>
                <td>
                    Using Faculty Management tools to Support Operational
                    Efficiency &amp; Strategic Goals
                </td>
            </tr>
            <tr>
                <td class="event-schedule-table__time-cell">3:30 pm</td>
                <td>
                    The On Demand Model for Higher Education: Providing
                    Competency-Based Learning Today
                </td>
            </tr>
        </tbody>
    </table>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
