---
# <!-- @formatter:off -->
title: CampusInsight
banner-image: /images/pages/news-and-events/banner-CI2018-logo.png
additional-stylesheets:
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article>
    <div class="cmc-article">
        <img
            class="cmc-article__article-image"
            src="{{banner-image}}"
            alt=""
        />

        <h1 class="ht--p--14 c-grey--900">{{title}}</h1>
        <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Campus Management Users Conference</p>
    </div>

    <div class="bgc-grey--200">
        <div class="box-row">
            <div
                class="box-item box-item--not-flex col-xs-12 col-sm-8 col-lg-offset-2 pb2-5--md"
                style="flex: none"
            >
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm pb1--sm">
                    General Session
                </h2>
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        src="https://www.youtube.com/embed/FO_igMA8Nww?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="CI2018 General Session"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>


    <div class="bgc-white">
        <div class="box-row">
            <div
                class="box-item box-item--not-flex col-xs-12 col-sm-8 col-lg-offset-2 pb2-5--md"
                style="flex: none"
            >
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm pb1--sm">
                    Occupation Insight
                </h2>
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        src="https://www.youtube.com/embed/8TJST0SiY_0?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="CI2018 General Session Occupation Insight"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
