---
# <!-- @formatter:off -->
title: Beneficios para Empleados
meta-description: Benefits administration system built with technology that has been tailored specifically to the needs of higher education.
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-image--xs: /images/pages/products/fhr-p/FHRP-410x730-bkg-blue.jpg
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-benefits-administration-system.jpg
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/benefits-administration-system/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Con CampusNexus Finance, HR y Payroll, su institución puede
                supervisar la planilla de empleados, cargos, alineamineto
                laboral, procesar políticas de compensación de los empleados y
                administrar múltiples beneficios en funcion del rol, duración de
                empleo, compensación y otros factores.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Planificación y previsión
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p class="ht--p--16-1_125">
                        Una gestión financiera exitosa se basa en una clara
                        visibilidad de las necesidades actuales y futuras,
                        además de la supervisión y rendición de cuentas en
                        tiempo real. CampusNexus Finance, HR y Payroll ofrece:
                    </p>
                    <h3 class="b ht--p--16-1_125 fl c-grey--800 mb0">
                        Presupuesto
                    </h3>
                    <p class="ht--p--16-1_125">
                        &nbsp;&ndash; Confugure, inicie y vea presupuestos.
                        Reduzca, congele y aumente. Disminuya presupuestos en
                        función de las necesidades en tiempo real
                    </p>
                    <h3 class="b ht--p--16-1_125 fl c-grey--800 mb0">
                        Presupuesto y Control
                    </h3>
                    <p class="ht--p--16-1_125">
                        &nbsp;&ndash; Proyecte las necesidades de contratación,
                        anticipación de retiros, costos asociados e
                        implementaciones de cambios en la tasa de pago actual
                    </p>
                </div>
                <div class="right">
                    <h3 class="b ht--p--16-1_125 fl c-grey--800 mb0">
                        Contabilidad de Proyectos
                    </h3>
                    <p class="ht--p--16-1_125">
                        &nbsp;&ndash; Porporcione supervisión financiera para
                        proyectos de inversiones de capital a lo largo de la
                        institución
                    </p>
                    <h3 class="b ht--p--16-1_125 fl c-grey--800 mb0">
                        Adquisiciones y Abastecimiento
                    </h3>
                    <p class="ht--p--16-1_125">
                        &nbsp;&ndash; Gestione el proceso de compras y servicios
                    </p>
                    <h3 class="b ht--p--16-1_125 fl c-grey--800 mb0">
                        Viajes y Gastos
                    </h3>
                    <p class="ht--p--16-1_125">
                        &nbsp;&ndash; Defina política de gastos y automatice
                        reembolsos de viajes aprobados
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Reportes y Analytics
            </h2>

            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p class="ht--p--16-1_125 mb0-5">
                        Desde informes de departamentos hasta mediciones
                        gerenciales y pasando por KPI estratégicos, CampusNexus
                        Finance, HR y Payroll proporciona una visibilidad en
                        tiempo real de datos críticos y le permite:
                    </p>
                    <p class="ht--p--16-1_125 mb0-5">
                        &bullet; Tableros para equipo ejecutivo, administrativo
                        y operacional
                    </p>
                </div>

                <div class="right">
                    <p class="ht--p--16-1_125 mb0-5">
                        &bullet; Prepara auditorias e informes de cumplimiento
                    </p>
                    <p class="ht--p--16-1_125 mb0-5">
                        &bullet; Cierres mensuales, trimestrales y anuales
                    </p>
                    <p class="ht--p--16-1_125 mb0-5">
                        &bullet; Reportes IPEDS
                    </p>
                    <p class="ht--p--16-1_125 mb0-5">
                        &bullet; Resúmenes y detalles de contabilidad de
                        proyectos
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <p class="big-text-wrapper">
                <span class="ht--s--40-80">57%</span>
                <span class="ht--p--16-22 c-black"
                    >Directores generales de negocios afirman, que la toma de
                    decisiones que se realiza con transparencia da lugar a las
                    mejores decisiones financieras</span
                >
            </p>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/fhr-p/FHRP-mobile-ready.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Dinámico, ágil y Receptivo
                    </h2>
                    <p>
                        CampusNexus Finance, HR y Payroll esta listo en
                        dispositivos móviles, lo que le permite tener acceso
                        desde cualquier lugar. Los potentes flujos de trabajo
                        envían la información que usted necesita, impulsando las
                        operaciones diarias y herramientas de reportes dinámicos
                        que ayudan a administrar el progreso de metas e
                        indicadores de rendimiento.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Gestión Financiera
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/sistema-de-gestion-financiera/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Gestión de Capital Humano
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/gestion-de-capital-humano/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Características de CampusNexus Finance, HR y Payroll
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/caracteristicas-de-CampusNexus-Finance-HR-Payroll/"
                        >Mas información</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}}
{{>[pattern-box/consultation-request-es]}} {{/content}} {{/extend}}
