---
# <!-- @formatter:off -->
title: CampusNexus Student Features
meta-description: CampusNexus Student, the cloud-based student information system, enables you to proactively engage students in a manner designed for their success and yours.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
#alt--pt-br: /solucoes/CampusNexus-Student-Detalhes-do-Produto/
page-bg-image: /images/pages/products/sis/sis-bkg-v3.jpg
page-bg-image--xs: /images/pages/products/sis/sis-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-student-information-system.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <h2 class="b c-grey--800 ht--p--18">
                Strategic Enrollment Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Recruiting – create and execute key strategies to target
                    growth areas as defined by your institution’s goals.
                </li>
                <li>
                    Admissions – collect essential information, manage
                    credentials and documents, and evaluate applicants in a
                    timely fashion.
                </li>
                <li>
                    Financial Aid – process applications, verify data, determine
                    eligibility, package and award, disburse funds and create
                    adjustments through powerful, automated processes.
                </li>
                <li>
                    Student Accounting – record information about students,
                    including charges, payments, refunds and adjustments.
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Academic Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Academic Records
                    <ul class="list--normal">
                        <li>
                            Assist enrollment processing through timely course
                            scheduling and registration.
                        </li>
                        <li>
                            Manage waitlists, automatically apply tuition and
                            fees, document each student’s academic history.
                        </li>
                        <li>
                            Protect academic standards and brand recognition of
                            programs.
                        </li>
                    </ul>
                </li>
                <li>
                    Curriculum Management
                    <ul class="list--normal">
                        <li>
                            Plan curricula and identify pre- and co-requisites,
                            define grade schema, pass/fail and retake policies.
                        </li>
                        <li>
                            Identify faculty eligible to teach courses,
                            determine facility needs, equipment, and book
                            requirements for each course and class section.
                        </li>
                        <li>
                            Offer the same academic program in standard,
                            nonstandard, and nonterm formats, all in one
                            environment.
                        </li>
                    </ul>
                </li>
                <li>
                    Student Academic Progress
                    <ul class="list--normal">
                        <li>
                            Monitor Satisfactory Academic Progress (SAP).
                        </li>
                        <li>
                            Enable degree progress audits, including ‘what if’
                            scenarios, and student pacing in multiple types of
                            programs.
                        </li>
                    </ul>
                </li>
                <li>
                    Graduation Processing
                    <ul class="list--normal">
                        <li>Verify program completion requirements.</li>
                        <li>Apply financial standing rules.</li>
                        <li>
                            Confer degrees and bestow credentials upon eligible
                            students.
                        </li>
                    </ul>
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Student Engagement &amp; Outcomes
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Early Alerts – utilize dynamic and adaptable criteria to
                    identify at-risk students early in their academic careers.
                </li>
                <li>
                    Retention – connect students to key resources through
                    automated workflows, and monitor the efficacy of
                    intervention strategies through student progress.
                </li>
                <li>
                    Student Services – provide individual support plans and
                    academic services based upon each student’s needs.
                </li>
                <li>
                    Career Services – prepare students to excel in their field
                    of choice by managing internship and externship
                    opportunities, assisting them with career skills building,
                    and matching them with employers.
                </li>
                <li>
                    Learning Management Systems (LMS) - Integrate your preferred
                    LMS to gain real-time visibility into student performance.
                </li>
                <li>
                    Regulatory &amp; Compliance Reporting – measure the cost
                    effectiveness of each course and program and supply
                    accrediting bodies with critical and necessary institutional
                    effectiveness data.
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Reporting and Analytics
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Satisfactory Academic Progress and student progression
                </li>
                <li>IPEDS outputs</li>
                <li>1098-Ts</li>
                <li>Gainful Employment compliance reporting</li>
                <li>Customized transcripts</li>
                <li>Executive, managerial, and operational dashboards</li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student Solution Sheet
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                        >Download</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Student Information System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/student-information-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Adapt and Grow As Needs Evolve
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/student-management-software/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{>[pattern-box/higher-ed-resources]}} {{/content}} {{/extend}}
