---
# <!-- @formatter:off -->
title: CampusNexus Finance, HR & Payroll Features
meta-description: CampusNexus Finance, HR & Payroll is designed for higher education and powered by Microsoft Dynamics® AX. Check how it can help you manage your institution better.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/products/fhr-p/banner-nexusFHR-P.png
#alt--pt-br: /solucoes/CampusNexus-Finance-HR-Payroll-Detalhes-do-Produto/
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-image--xs: /images/pages/products/fhr-p/FHRP-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-financial-management-system.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Powered by Microsoft Dynamics<sup>®</sup> 365
            </p>
        </header>
    </div>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <h2 class="b c-grey--800 ht--p--18">
                Finance, Accounting and Revenue Recognition
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    General Ledger – manage ledger, sales tax, currency,
                    year-end closing and financial statements
                </li>
                <li>
                    Cash and Bank Management – administer bank accounts and bank
                    reconciliations
                </li>
                <li>
                    Accounts Receivable – oversee tuition and services invoices
                    and incoming payments
                </li>
                <li>
                    Accounts Payable – process vendor invoices and outgoing
                    payments
                </li>
                <li>
                    Student Accounting – record information about students
                    including charges, payments, refunds, and adjustments
                </li>
                <li>
                    Federal Work Study Management – record FWS award amounts and
                    track against payroll information to ensure available funds
                </li>
                <li>
                    Fund Source Management – create and manage the funding
                    sources available to students, from federal grants, loans,
                    and work-study, to state aid, private scholarships, and
                    institutional grants
                </li>
                <li>
                    Fixed Assets – track and depreciate assets such as
                    equipment, technology, furnishings, vehicles, and buildings
                </li>
                <li>
                    Retail &amp; Point of Sales – operate sales for ticketed and
                    special events, bookstores, and dining halls and cafes
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Planning and Forecasting
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Budgeting – set up, initiate and view budgets; restrict,
                    freeze and increase/decrease budgets based on real-time
                    needs
                </li>
                <li>
                    Position Budgeting &amp; Control – project hiring needs,
                    anticipated retirements, associated costs, and implement
                    bulk pay rate changes by effective date
                </li>
                <li>
                    Project Accounting – provide financial supervision for
                    multi-year capital improvement projects throughout the
                    organization
                </li>
                <li>
                    Procurement and Sourcing – manage the purchasing process for
                    good and services
                </li>
                <li>
                    Travel &amp; Expense – define expense policies and automate
                    reimbursement for approved travel
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Human Resource Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Human Resources – oversee your entire employee base,
                    positions, and workforce alignment
                </li>
                <li>
                    Faculty Management – manage information, including position
                    type, tenure status, certifications and competencies,
                    teaching load, performance, professional memberships, and
                    knowledge creation
                </li>
                <li>
                    Payroll – process all aspects of employee compensation,
                    payments, and withholdings
                </li>
                <li>
                    Employee Benefits – administer multiple levels of benefits
                    based on role, length of employment, standard packages, and
                    elective categories
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Reporting and Analytics
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>Audit preparation to compliance reporting</li>
                <li>Monthly, quarterly, and year-end closings</li>
                <li>IPEDS outputs</li>
                <li>FASB and GASB standards</li>
                <li>
                    Projects accounting longitudinal summaries and details
                </li>
                <li>Executive, managerial, and operational dashboards</li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Financial Management System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/financial-management-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Benefits Administration System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/benefits-administration-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Human Capital Management
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/human-capital-management/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
