---
# <!-- @formatter:off -->
title: Características de CampusNexus Finance, HR & Payroll
meta-description: CampusNexus Finance, HR & Payroll is designed for higher education and powered by Microsoft Dynamics® AX. Check how it can help you manage your institution better.
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-image--xs: /images/pages/products/fhr-p/FHRP-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-financial-management-system.jpg
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/CampusNexus-Finance-HR-Payroll-features/
#alt--pt-br: /solucoes/CampusNexus-Finance-HR-Payroll-Detalhes-do-Produto/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Powered by Microsoft Dynamics<sup>®</sup> 365
            </p>
        </header>
    </div>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <h2 class="b c-grey--800 ht--p--18">
                Finanzas, Contabilidad y Reconocimiento de Ingresos
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Libro Mayor – Administre el libro mayor, impuesto de ventas,
                    moneda, cierre anual y estados financieros
                </li>
                <li>
                    Efectivo y Gestión Bancaria – Administre cuentas y
                    conciliaciones bancarias
                </li>
                <li>
                    Cuentas Por Cobrar – Supervise las facturas de matricula,
                    servicios y pagos entrantes
                </li>
                <li>
                    Cuentas Por Pagar – Procese facturas de proveedores y pagos
                    salientes
                </li>
                <li>
                    Contabilidad del Estudiante – Registre información del
                    estudiante, incluyendo cargos, pagos, reembolsos y ajustes
                </li>
                <li>
                    Administración de Programas Laborales Federales para el
                    Estudiante (FWS) – Registre los montos de FWS y realice un
                    seguimiento de información de nómina para garantizar los
                    fondos disponibles
                </li>
                <li>
                    Gestión de Fondos – Cree y administre las fuentes de
                    financiación disponibles para los estudiantes, desde
                    subsidios federales, prestamos y administración de programas
                    federales para el estudiante, hasta ayudas federales, becas
                    privadas y subsidios institucionales
                </li>
                <li>
                    Activos Fijos – Rastree y desvalorice activos como equipos,
                    tecnología, muebles, vehículos y edificios
                </li>
                <li>
                    Puntos de Venta – Administre ventas para boletas y eventos
                    especiales, librerías, comedores y cafeterías
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Planificación y Previsión
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Presupuesto – Configure, inicie y vea presupuestos. Reduzca,
                    congele, y aumente. Disminuya presupuestos en función de las
                    necesidades en tiempo real
                </li>
                <li>
                    Presupuesto y Control – Poyecte las necesidades de
                    contratacion, anticipación de retiros, costos asociados e
                    implementaciones de cambios en la tasa de pago actual
                </li>
                <li>
                    Contabilidad de Proyectos – Porporcione supervision
                    financiera para proyectos de inversiones de capital a lo
                    largo de la institución
                </li>
                <li>
                    Adquisicion y Abastecimiento – Gestione el proceso de
                    compras y servicios
                </li>
                <li>
                    Viajes y Gastos – Defina políticas de gastos y automatice
                    reembolsos de viajes aprobados
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Gestión de Recursos Humanos
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Recursos Humanos – Supervise toda la planilla de empleados,
                    puesto o cargo y su alineamiento laboral
                </li>
                <li>
                    Gestión del Docente – Gestione la información, incluyendo el
                    cargo, antigüedad, certificaciones y competencias, carga
                    laboral del profesor, rendimiento y credenciales
                    profesionales
                </li>
                <li>
                    Procesamiento de Nómina – Procese las políticas de
                    compensación, pagos y retenciones de los empleados
                </li>
                <li>
                    Beneficios para los Empleados – Administre para sus
                    empleados una variedad de beneficios según el rol que
                    establecen, duración de empleo, compensación y otros
                    factores
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Reportes y Analytics
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>Prepara auditorias e informes de cumplimiento</li>
                <li>Cierres mensuales, trimestrales y anuales</li>
                <li>Reportes IPEDS</li>
                <li>Estánderes FASB y GASB</li>
                <li>Resúmenes y detalles de contabilidad de proyectos</li>
                <li>
                    Tableros para equipo ejecutivo, administrativo y operacional
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Gestión Financiera
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/sistema-de-gestion-financiera/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Administración y Beneficios
                    </h3>

                    <a
                        class="pill-button c block bottom"
                        href="/products/beneficios-para-empleados/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Gestión de Capital Humano
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/gestion-de-capital-humano/"
                        >Mas información</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request-es]}}
{{/content}} {{/extend}}
