---
# <!-- @formatter:off -->
title: Características de CampusNexus Student
meta-description: CampusNexus Student, the cloud-based student information system, enables you to proactively engage students in a manner designed for their success and yours.
page-bg-image: /images/pages/products/sis/sis-bkg-v3.jpg
page-bg-image--xs: /images/pages/products/sis/sis-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-student-information-system.jpg
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/CampusNexus-Student-features/
#alt--pt-br: /solucoes/CampusNexus-Student-Detalhes-do-Produto/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <h2 class="b c-grey--800 ht--p--18">
                Gestión Estratégica de Inscripción
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Reclutamiento &ndash; Cree y ejecute estrategias claves para
                    apuntar a áreas de crecimiento según los objetivos de la
                    institución.
                </li>
                <li>
                    Admisiones &ndash; Reunir información importante,
                    administrar credenciales, documentos y evaluar de manera
                    oportuna a futuros solicitantes.
                </li>
                <li>
                    Ayuda financiera &ndash; Procesos de aplicación,
                    verificación de datos, determinar elegibilidad, programas de
                    apoyo y otorgamiento, desembolso de fondos y optimizar
                    procesos automatizados.
                </li>
                <li>
                    Contabilidad del estudiante &ndash; Capture información del
                    estudiante incluyendo pagos, reembolso y ajustes.
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Manejo Académico
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Records Académicos
                    <ul class="list--normal">
                        <li>
                            Asistir en el proceso de inscripción a través de
                            programas de apoyo y registros oportunos.
                        </li>
                        <li>
                            Administre listas de espera, aplique automáticamente
                            el pago de matricula, registraciones y costos.
                            Documente el historial académico de cada estudiante.
                        </li>
                        <li>
                            Proteja los estándares académicos de calidad y el
                            reconocimiento de programas.
                        </li>
                    </ul>
                </li>
                <li>
                    Gestión Curricular
                    <ul class="list--normal">
                        <li>
                            Programar planes de estudios e identificar
                            requisitos y co-requisitos previos, definición de
                            esquema de notas y políticas de exámenes.
                        </li>
                        <li>
                            Identifique que profesores son elegibles para
                            impartir los cursos, determine las necesidades en
                            las aulas, equipos y libros requeridos que se
                            necesitan para cada curso y sección de clase, esto
                            bajo una misma plataforma.
                        </li>
                    </ul>
                </li>
                <li>
                    Progreso Académico del Estudiante
                    <ul class="list--normal">
                        <li>
                            Supervise el progreso académico de los estudiantes
                            (SAP).
                        </li>
                        <li>
                            Brinde procesos de auditoria de grado incluyendo el
                            escenario de "que pasaría si".
                        </li>
                    </ul>
                </li>
                <li>
                    Proceso de Graduación
                    <ul class="list--normal">
                        <li>
                            Verifique los requisitos de finalización del
                            programa.
                        </li>
                        <li>Aplique las reglas financieras.</li>
                        <li>
                            Otorgue títulos y diplomas a los estudiantes
                            elegibles.
                        </li>
                    </ul>
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Participación Estudiantil y Resultados
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Emitir Alertas Tempranas - Use criterios dinámicos y
                    adaptables para identificar estudiantes que se encuentran en
                    riesgo de diserción.
                </li>
                <li>
                    Retención - Conecte a los estudiantes con recursos claves
                    automatizados y use las estrategias de participación a
                    través del progreso estudiantil.
                </li>
                <li>
                    Servicio al Estudiante - Brinde planes de apoyo individuales
                    y servicios académicos basados en las necesidades de cada
                    estudiante.
                </li>
                <li>
                    Atención al Estudiante - Prepare a sus estudiantes para que
                    sobresalgan en el campo de elección mediante la gestión de
                    practicas y oportunidades de pasantías, ayudando de esta
                    manera a construir habilidades profesionales con los
                    empleadores.
                </li>
                <li>
                    Sistema de Gestión de Aprendizaje (LMS) - Integre su LMS
                    para que obtenga una visibilidad en tiempo real del
                    rendimiento de cada estudiante.
                </li>
                <li>
                    Informes Reglamentarios y de Cumplimiento - Mida la
                    rentabilidad de cada curso y programa, proporcione a los
                    organismos de acreditación datos críticos de efectividad
                    institucional.
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Reportes y Analytics
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Progreso académico de los estudiantes (SAP) y progreso
                    estudiantil
                </li>
                <li>Extracto IPEDS</li>
                <li>1098-Ts</li>
                <li>Informes de cumplimiento laboral</li>
                <li>Transcripciones personalizadas</li>
                <li>
                    Tableros e indicadores enfocados en equipo ejecutivo,
                    gerencial y operacional
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student Hoja de Solución
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                        >Descargar</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistemas de Información del Estudiante
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/sistemas-de-informacion-del-estudiante/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Adáptese Fácilmente al Cambio
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/software-de-gestion-de-estudiantes/"
                        >Mas información</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request-es]}}
{{>[pattern-box/higher-ed-resources]}} {{/content}} {{/extend}}
