---
# <!-- @formatter:off -->
title: Creating a Sustainable Financial Model in Higher Education
meta-description: Learn how CampusNexus Finance, HR & Payroll can help higher education institutions focus on operational efficiency, strategic growth and a secure financial future.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-image--xs: /images/pages/products/fhr-p/FHRP-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Creating a Sustainable Financial Model in Higher Education"
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/wfgxIzOJKxA?rel=0"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="ht--p--400 c-grey--800 mb0-5">
                Achieve Operational Efficiency and Success
            </h2>
            <p>
                Fewer than 1 in 4 higher education business officers believe
                they have a sustainable financial model over the next 5-10
                business years. But today, there is a solution for reigning in
                budgets, uniting and streamlining departmental processes, and
                dramatically improving operational efficiency: CampusNexus
                Finance, HR &amp; Payroll.
            </p>
            <p class="mb0">
                Built on the Microsoft Dynamics AX platform, the solution helps
                you manage student accounts, federal work-study programs,
                faculty workload and credential details, scholarships and
                grants, position control and budgeting, as well as international
                currencies, campuses and student documents. In this brief video,
                you will discover how this next-generation solution can help you
                drive strategic growth, maximize resources, and achieve
                operational success.
            </p>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Financial Management System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/financial-management-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Benefits Administration System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/benefits-administration-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Human Capital Management
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/human-capital-management/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
