---
# <!-- @formatter:off -->
title: Donor Management Software
meta-description: With donor management software, enhance your ability to engage supporters, execute strategies, and deliver the right messages, to the right constituents.
banner-image: /images/pages/products/tfr/TFR-logo-circle.png
menu-priority: 0.5
#alt--pt-br: /solucoes/Talisma-Fundraising/
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-image--xs: /images/pages/products/tfr/donor-management-software-410x730-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-donor-management-software.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Behind Talisma<sup>®</sup>
                Fundraising from Campus Management are more than two decades of
                service to higher education and nonprofit organizations. We
                combine an ingrained understanding of the landscape, best
                practices, and demands of your mission with software solutions
                that help you get the most out of every interaction with your
                constituents, both in-person and online.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Utilize Tools for Fund and Traditional Accounting
            </h2>
            <div class="box-v4 box-v4--1-1 mb1">
                <div class="left">
                    <h3 class="b fl c-grey--800 mb0">
                        Integrate Microsoft Dynamics GP
                    </h3>
                    <p>
                        &nbsp;&ndash; Talisma Fundraising’s fund management
                        module enhances the integration between Talisma
                        Fundraising and Microsoft Dynamics GP accounting
                        software packages. You can easily access and
                        cross-reference data, automate operations and
                        administrative processes, and provide timely reports to
                        run your organization more effectively.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Set Up Business Rules
                    </h3>
                    <p>
                        &nbsp;&ndash; The fund management module allows you to
                        set up business rules and specific criteria for the
                        distribution of revenue and expenses across endowments
                        or other funds. Talisma Fundraising software will then
                        make the appropriate journal entries in Microsoft
                        Dynamics GP. In addition, this feature allows you to
                        specify types of assets that should not be included for
                        consideration in the allocation distribution.
                    </p>

                    <h3 class="b fl c-grey--800 mb0">
                        Enable Portal Access
                    </h3>
                    <p>
                        &nbsp;&ndash; With the Fund Management module, you can
                        assign multiple account managers to all of your funds.
                        You can also provide these managers an internal or
                        external facing portal for accessing reports tied to the
                        funds they manage. These reports include the fund
                        balance and transfer statements.
                    </p>
                </div>
                <div class="right">
                    <h3 class="b fl c-grey--800 mb0">Reports</h3>
                    <p>
                        &nbsp;&ndash; The Fund Management module also allows you
                        to produce a schedule-of-change report based on data
                        within Talisma Fundraising that is directly related to
                        the dimension codes within Great Plains. This report
                        includes a comprehensive collection of metrics,
                        including income, interest, dividends, unrealized
                        gains/losses, other income, transfers in, transfers out,
                        expenses, and the beginning and ending balance of each
                        fund.
                    </p>
                    <p>
                        What’s more, the module includes value-added tools for
                        analytical accounting, reporting, and a Web portal for
                        anywhere, anytime access. This module is especially
                        valuable to organizations that must track funds into
                        hundreds or thousands of designated funds, projects, or
                        categories.
                    </p>
                    <p>
                        Now you can:
                    </p>
                    <ul class="ht--p--16 list--normal list--has-lead-in">
                        <li>Dramatically shrink your chart of accounts</li>
                        <li>
                            Reduce thousands of general ledger accounts to a
                            master list of fewer than twenty
                        </li>
                        <li>
                            Leverage dimension codes for granularity beyond the
                            main classification of GL account types
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/product-sheets/#filter/Product/Talisma%20Fundraising"
                    >
                        Solution Sheets
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/case-studies/#filter/Product/Talisma%20Fundraising"
                    >
                        Case Studies
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{>tfr-modules}} {{>tfr-explore-demos}}

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Moves Management
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/moves-management/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Alumni Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/alumni-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Talisma Fundraising Features
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="{{url-lang-prefix}}/products/Talisma-Fundraising-features/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
