---
# <!-- @formatter:off -->
title: Support Request
meta-description: Submit your support request for the Campus Management Financial Aid Solutions product.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
private: true
page-bg-image: /images/pages/products/education-partners/financial-aid-solutions-bkg.jpg
page-bg-classes: page-bg-image--centered
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2 pb0">
            <p class="max-width-66--sm block c l mb0">
                Please complete and submit the form below. Be sure to select an
                Area of Interest from the drop down field. This will ensure your
                message is delivered to the appropriate department.
            </p>
        </div>

        <form
            id="requestDemoForm"
            class="cmc-form cmc-form--centered js--simple-form"
            action="education-partners-contact/?site=cmc&group=en-us"
            data-lead-source="education partners contact"
        >
            <fieldset>
                <ul class="mb1">
                    <li>
                        <label class="required" for="firstName"
                            >First Name</label
                        >
                        <div class="input-wrapper">
                            <input
                                type="text"
                                name="firstName"
                                id="firstName"
                                required
                            />
                        </div>
                    </li>
                    <li>
                        <label class="required" for="lastName">Last Name</label>
                        <div class="input-wrapper">
                            <input
                                type="text"
                                name="lastName"
                                id="lastName"
                                required
                            />
                        </div>
                    </li>
                    <li>
                        <label for="title">Title</label>
                        <div class="input-wrapper">
                            <input type="text" name="title" id="title" />
                        </div>
                    </li>
                    <li>
                        <label class="required" for="phone">Phone</label>
                        <div class="input-wrapper">
                            <input
                                type="text"
                                name="phone"
                                id="phone"
                                required
                            />
                        </div>
                    </li>
                    <li>
                        <label class="required" for="email">Email</label>
                        <div class="input-wrapper">
                            <input
                                type="email"
                                name="email"
                                id="email"
                                required
                            />
                        </div>
                    </li>
                    <li>
                        <label class="required" for="institution"
                            >Organization</label
                        >
                        <div class="input-wrapper">
                            <input
                                type="text"
                                name="institution"
                                id="institution"
                                required
                            />
                        </div>
                    </li>
                    <li>
                        <label class="required" for="areaOfInterest"
                            >Area of Interest</label
                        >
                        <div class="input-wrapper">
                            <select
                                name="areaOfInterest"
                                id="areaOfInterest"
                                required
                            >
                                <option selected="selected" value=""></option>
                                <option value="Student Verification"
                                    >Student Verification/Professional
                                    Judgments</option
                                >
                                <option value="Self-Service Student Enrollment"
                                    >Self-Service Student Enrollment/Financial
                                    Aid</option
                                >
                            </select>
                        </div>
                    </li>
                    <li>
                        <label class="required tallInputLabel" for="message"
                            >Message</label
                        >
                        <div class="input-wrapper">
                            <textarea
                                name="message"
                                id="message"
                                required
                            ></textarea>
                        </div>
                    </li>
                    <li class="cmc-form__submit-row">
                        <button
                            type="submit"
                            class="pill-button cmc-form__submit-button"
                            name="btnSave"
                        >
                            Submit
                        </button>
                    </li>
                </ul>
                <p>
                    Any personal information you provide to us using this form
                    will be processed in accordance with our
                    <a href="{{url-lang-prefix}}/about-us/privacy/"
                        >privacy policy</a
                    >.
                </p>
            </fieldset>
        </form>
    </div>
</article>
{{/content}} {{/extend}}
