---
# <!-- @formatter:off -->
title: Financial Aid Automation
meta-description: CampusNexus® Student, the cloud-based student information system, enables you to execute financial aid processes automatically, process revenues faster, remain compliant, and free staff to focus on student-success initiatives.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/education-partners/financial-aid-solutions-bkg.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                CampusNexus<sup>®</sup> Student, Campus Management’s cloud-based
                student information system, enables you to execute financial aid
                processes automatically, process revenues faster, remain
                compliant, and free staff to focus on student-success
                initiatives.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/education-partners/automated-awarding.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Ensure Student and Operational Success
                    </h2>
                    <p>
                        Today’s students seek greater flexibility in achieving
                        their academic and career goals, which places greater
                        demands on institutions to ensure their financial aid
                        processing needs are met. With CampusNexus Student, you
                        can now automate financial aid processing across a wide
                        range of academic delivery models, from classroom to
                        online, traditional semesters and quarters to flexible
                        terms, and even clock-hour and competency-based
                        programs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Dynamic, Agile, Responsive
            </h2>
            <p class="c mb2--sm">
                Automate the full range of financial aid workflows and processes
                to ensure timely packaging and regulatory compliance.
            </p>
            <ul class="box-v4 box-v4--auto">
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/automated-eligibility-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Eligibility
                    </h3>
                    <p class="has-intro-img">
                        Assign rules to any fund source based on over 20 Title
                        IV configurable rule options.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/COD-export-import-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        COD Export-Import
                    </h3>
                    <p class="has-intro-img">
                        Automate COD exporting and importing of files for Title
                        IV funds.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/scheduled-transmission-retrieval-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Scheduled Transmission and Retrieval (STAR)
                    </h3>
                    <p class="has-intro-img">
                        Send and receive COD files, transmit and retrieve files
                        through EDConnect.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/automated-disbursement-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Disbursement Payment Posting
                    </h3>
                    <p class="has-intro-img">
                        Pay all scholarships, grants, institutional aid/state
                        aid and COD fund sources automatically.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/stipend-schedule-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Stipend Scheduling
                    </h3>
                    <p class="has-intro-img">
                        Easily determine when and if a student should receive a
                        Title IV credit balance (stipend).
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/stipend-posting-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Stipend/Refund Payment Posting
                    </h3>
                    <p class="has-intro-img">
                        Post student credit balances and ensure payments are
                        recorded and released on time.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/products/education-partners/exceptions-mgmt-icon-sm.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3
                        class="ht--p--400 ht--p--18 has-intro-img mb0 c-grey--800"
                    >
                        Exceptions Management
                    </h3>
                    <p class="has-intro-img">
                        Quickly assess and resolve business rule errors and
                        monitor exceptions resolution progress.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Financial Aid Solutions
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/financial-aid-solutions/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Student Verification
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/student-verification/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Self-Service Student Enrollment and Financial Aid
                        Processing
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/self-service-student-enrollment-and-financial-aid-processing/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
