---
# <!-- @formatter:off -->
title: Garantice el Exito Estudiantil a Través de Workface Analytics
label--es: Través de Workface Analytics
meta-description: Build a stronger workforce in higher education using Campus Management’s cloud-based workforce analytics tool. Apply analytics to improve student success.
menu-priority: 0.9
social-image: /images/pages/social/social-student-success-through-workforce-analytics.jpg
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
language: es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: true
alt--en: /products/student-success-through-workforce-analytics/
additional-stylesheets:
    - href: /styles/pages/occupation-insight-demo.css
      inline: true
    - href: /styles/pages/has-testimonial.css
      inline: false
additional-scripts:
    - src: /scripts/page--occupation-insight-demos.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Prepare a sus estudiantes para los títulos académicos con mas demanda en el mercado. Alinee programas con las necesidades del mercado laboral e impulse el valor de su institución con una visión dinámica. Experimente esto y mas, con CampusNexus Insight.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2-5--sm">
                Empodere a sus Estudiantes con Información Sobre las Necesidades
                del Mercado Laboral
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/engage/occupation-insight.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p class="ht--p--16-22">
                        ¿Cuales son las carreras que tienen mas demanda en su
                        ciudad, estado o país? ¿Que programas, cursos o
                        habilidades hacen mas competitivo al mercado? Sus
                        alumnos quieren saber que toda esta información esta al
                        alcance de su mano con CampusNexus<sup>®</sup>
                        Occupation Insight.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Alinee los Programas Académicos con Workface Analytics
                </h2>
                <p class="ht--p--16-22">
                    Con Occupation Insight, directores de programas y profesorado pueden encaminar y perfilar programas basados en las ultimas búsquedas por los empleadores, y datos actuales del mercado laboral dentro de su comunidad y en todo el país.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/align-academic-programs-with-workforce-analytics.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4 container--color-boxes">
            <div class="left">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Intensificar el Asesoramiento y Retención de Estudiantes.
                </h2>
                <p class="ht--p--16-22">
                    Con Ocupation Insight, motive al estudiante a permanecer en la institución e incluso a guiarlos en nuevas direcciones. Estudiantes y docentes pueden personalizar actividades, como cursos o destrezas en particular para mejorar el potencial de ganancias y competitividad del estudiante en el mercado.
                </p>
            </div>
            <div class="right has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/improve-student-advising-retention-and-career-paths.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <p class="ht--s--38">
                “Todos estamos preocupados por las tasas de graduación y a través de la herramienta Ocupation Insight, sabemos que nos ayudara a aumentar las tasas de graduación.”
            </p>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">
                    Dr. Peter Teague EdD,
                </div>
                <div class="testimonial__author__title--v2">
                    President,
                </div>
                <div class="testimonial__author__company--v2">
                    Lancaster Bible College
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Contruyendo la Diferencia en la Vida de Cada Estudiante
            </h2>
            <p class="ht--p--16-22 c">
                Preste atención al siguiente video de como Lancaster Bible
                College hace uso de CampusNexus Ocupation Inisght transformando
                la vida de cada estudiante.
            </p>
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        frameborder="0"
                        allowfullscreen
                        title="CampusNexus Engage"
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/690kFpT34wo?rel=0"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Impulse la Retención a Través de Resultados Comprobados por
                    Estudiantes
                </h2>
                <p class="ht--p--16-22">
                    Tanto estudiantes como padres desean saber si su inversión
                    en Educación Superior cumplirá con las expectativas deseadas
                    para el futuro de sus hijos. Utilizando Ocupation Insight
                    mejore las matriculas e inscripciones a través de ROI que
                    permite visualizar el retorno de inversión de cada programa
                    y logros estudiantiles.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/drive-recruitment-with-job-placement-resultspng.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 container--color-boxes box-v4">
            <div class="left">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Transforme los Servicios Profesionales en una Visión de
                    Mercado Laboral
                </h2>
                <p class="ht--p--16-22">
                    Mejore el entrenamiento profesional y el éxito mediante la identificación de oportunidades de empleos regionales y nacionales, permitiendo al estudiante transmitir la educación y las habilidades que han adquirido.
                </p>
            </div>
            <div class="right has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/transform-career-services-with-labor-market-insight.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Aporte a los Estudiantes una Ventaja Competitiva en el
                    Mercado Laboral
                </h2>
                <p class="ht--p--16-22">
                    Utilizando Ocupation Insight, un estudiante que busca obtener un diploma en Marketing detecta que la mayoría del mercado laboral no solo quieren aspirantes con un diploma, sino también que tengan conocimiento y educación en ciencias de datos y marketing digital. Esta solución evidencia, que cursos en su institución van a responder a esta necesidad.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/provide-students-a-competitive-edge-in-the-job-market.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <h2 class="ht--s--38 c-theme-primary-dark">
                        Tour de Inicio Rápido
                    </h2>
                    <p class="ht--p--16-22">
                        Use este recorrido de inicio rápido para informarse de
                        conceptos básicos de navegación con CampusNexus
                        Ocupation Insight. Conozca lo fácil que es obtener los
                        datos que sus estudiantes y su institución necesitan
                        para tomar decisiones informadas de programas y
                        carreras.
                    </p>
                </div>
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/U0mab-M69dQ?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusNexus Occupation Insight"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <h2 class="ht--s--38 c">
                Conozca CampusNexus Occupation Insight
            </h2>
            <p class="ht--p--16-22">
                Observe como los estudiantes y profesores pueden aprovechar datos actualizados en el ciclo de vida de cada estudiante, y como profundizar en esos datos para alinear los programas académicos y selección de cursos a medida en que evolucionan las necesidades de la industria. De un vistazo a las demostraciones auto-guiadas.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button pill-button--outline"
                        href="../oi-demo-form-es/"
                    >
                        Explorar Demos
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        White Paper
                    </p>
                    <p>
                        Esta industria explora como el análisis del mercado
                        laboral puede ayudar a las instituciones a
                        compatibilizar programas académicos y habilidades de los
                        estudiantes de acuerdo a las necesidades de la
                        industria.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://info.campusmanagement.com/transform-student-success-though-occupation-insight"
                        target="_blank"
                        rel="noopener"
                    >
                        Descargar
                    </a>
                </div>
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        Webinar
                    </p>
                    <p>
                        Conozca los beneficios de CampusNexus Ocupation Insight,
                        una herramienta eficaz para alinear las habilidades de
                        los estudiantes con las necesidades del mercado laboral.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://info.campusmanagement.com/transforming-student-outcomes-with-occupation-insight"
                        target="_blank"
                        rel="noopener"
                    >
                        Ver
                    </a>
                </div>
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        Hoja de Solución
                    </p>
                    <p>
                        Conozca como CampusNexus Occupation Insight permite
                        tanto a sus estudiantes como a su institución adaptar
                        programas y cursos académicos de acuerdo con las
                        necesidades del mercado laboral.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/product-sheets/cmc/en-us/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                        target="_blank"
                        >Descargar
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}}
{{>[pattern-box/consultation-request--oi-es]}} {{/content}} {{/extend}}
