---
# <!-- @formatter:off -->
title: Gestión de Capital Humano
meta-description: Human capital management solutions designed for higher education that addresses pressures driven by competition, delivery models, funding, and outcomes.
menu-priority: 0.6
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-human-capital-management.jpg
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: true
alt--en: /products/human-capital-management/
#alt--pt-br: /solucoes/CampusNexus-Finance-HR-Payroll/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Como administrador de educación superior, se espera un control
                en presupuestos y reasignación de fondos que haga crecer los
                programas académicos. Para superar estos desafíos, usted
                necesita una solución de capital humano diseñado para la
                educación superior.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Transforme el Presente y el Futuro
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/fhr-p/human-capital-management.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Mientras su institución pronostica inscripciones y
                        proyecta el numero de docentes, al mismo tiempo esta
                        reduciendo gastos administrativos. Su departamento
                        necesita mayor visibilidad de datos para mejorar la
                        eficiencia operacional, pero al mismo tiempo debe
                        mantener estándares de auditoria y cronogramas de
                        informes de cumplimiento.
                    </p>
                    <p>
                        Para superar estos desafíos, usted necesita una solución
                        administrativa diseñada para la educación superior que
                        le permita transformar las operaciones y optimizar los
                        recursos.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/en-us/CampusNexusFinanceHR-Payroll-Product-Sheet-Campus-Management.pdf"
                                target="_blank"
                            >
                                Hoja de Solución
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Gestión de Recursos Humanos
            </h2>
            <div class="box-v4 box-v4--1-1 ht--p--16-1_125">
                <div class="left">
                    <p>
                        Los activos mas valiosos de su institución son la
                        facultad, el personal y los administradores que trabajan
                        para guiar a los estudiantes al éxito. Por esta razón,
                        usted necesita una visión global en cuanto a la
                        organización y capacidad de extender la funcionalidad de
                        autoservicio para su equipo laboral. Con CampusNexus
                        Finance, HR y Payroll, usted ayuda a administrar y a
                        optimizar.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Recursos humanos</h3>
                    <p>
                        &nbsp;&ndash; Supervise toda la planilla de empleados,
                        puesto o cargo y su alineamiento laboral
                    </p>
                </div>
                <div class="right">
                    <h3 class="b fl c-grey--800 mb0">
                        Procesamiento de Nómina
                    </h3>
                    <p>
                        &nbsp;&ndash; Procese las políticas de compensación,
                        pagos y retenciones de los empleados
                    </p>

                    <h3 class="b fl c-grey--800 mb0">Talento</h3>
                    <p>
                        &nbsp;&ndash; Capte los mejores recursos con
                        herramientas ya existentes como Linkedln y garantice la
                        incorporación, compromiso y crecimiento de sus empleados
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Beneficios para los Empleados
                    </h3>
                    <p>
                        &nbsp;&ndash; Administre para sus empleados una variedad
                        de beneficios según el rol que establecen, duración de
                        empleo, compensación y otros factores
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <p class="big-text-wrapper">
                <span class="ht--s--40-80">57%</span>
                <span class="ht--p--16-22 c-black"
                    >Directores generales de negocios afirman, que la toma de
                    decisiones que se realiza con transparencia da lugar a las
                    mejores decisiones financieras</span
                >
            </p>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Gestión del Docente
            </h2>
            <div class="box-v4 box-v4--1-1 ht--p--16-1_125">
                <div class="left">
                    <p>
                        El reclutamiento exitoso de profesores, la
                        incorporación, el apoyo y la gestión son fundamentales
                        para el éxito institucional. CampusNexus Finance, HR y
                        Payroll incluye herramientas ya probadas para:
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Gestión del Docente</h3>
                    <p>
                        &nbsp;&ndash; Gestione la información incluyendo el cargo, antigüedad, certificaciones y competencias, carga laboral del profesor, rendimiento y credenciales profesionales
                    </p>
                </div>
                <div class="right">
                    <h3 class="b fl c-grey--800 mb0">
                        Retorno de Inversión en Programas y Docentes
                    </h3>
                    <p>
                        &nbsp;&ndash; Mida la productividad de los docentes y el valor agregado de los cursos, tanto en términos de retorno de inversión como en resultados estudiantiles
                    </p>

                    <h3 class="b fl c-grey--800 mb0">
                        Nómina y Beneficios para Docentes
                    </h3>
                    <p>
                        &nbsp;&ndash; Administre múltiples tipos de docentes,
                        horarios de compensanción (tiempo completo, tiempo
                        parcial, antigüedad, contratación, asistente de
                        profesores), incluyendo manejo de contratos múltiples e
                        ingresos
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/webcasts/talent-mgmt-webinar.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p class="mb0">Webinar</p>
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Capte y Registre Personal con Nueva Gestión de Talento
                    </h2>
                    <p>
                        Conozca una nueva plataforma poderosa que administra
                        todo le ciclo de vida de los empleados de su
                        institución, desde la contratación hasta la
                        administración de beneficios.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://info.campusmanagement.com/attract-onboard-personnel-with-new-talent-management"
                                target="_blank"
                                rel="noopener"
                                >Ver Webinar</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Gestión Financiera
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/sistema-de-gestion-financiera/"
                        >Mas información
                    </a>
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Administración y Beneficios
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/beneficios-para-empleados/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Características de CampusNexus Finance, HR y Payroll
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/caracteristicas-de-CampusNexus-Finance-HR-Payroll/"
                        >Mas información</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request-es]}}
{{/content}} {{/extend}}
