---
# <!-- @formatter:off -->
title: Maximizing Recruitment, Retention, and Career Services with CampusNexus Occupation Insight
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
menu-priority: 0.6
page-bg-image: /images/pages/dev/animated/LBC-OI-video-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
additional-scripts:
    - src: /scripts/page--animated.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-sal-animation.css
      inline: true
    - href: /styles/pages/maximizing-recruitment.css
      inline: true
# https://github.com/mciastek/sal
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article class="max-recruit-oi">
    <style>
        .layout-bg--social-media-share {
            display: none;
        }
        .max-recruit-oi {
            margin-top: -13px;
        }
    </style>
    <section
        class="max-recruit-oi__section max-recruit-oi__section--intro"
        data-sal="fade"
        data-sal-easing="ease-out"
        data-sal-duration="400"
    >
        <header class="max-recruit-oi__header">
            <p class="ht--s--22 uc">Lancaster Bible College</p>
            <h1 class="ht--s--30-50 uc">
                {{title}}
            </h1>
        </header>

        <div class="max-recruit-oi__pq clearfix">
            <p class="ht--p--22-1_5 b pb1">
                “I think a tool like this will help our students stay focused.
                Because what are the skills that you need? What are the courses
                that will provide these skills so that when you go out in the
                marketplace you will have skill, a college degree, and be ready
                to go.”
            </p>
            <p class="ht--p--22 max-recruit-oi__pq-author b">
                Dr. Peter Teague, EdD
                <br />
                <span class="ht--p--16 i">
                    President, Lancaster Bible College
                </span>
            </p>
        </div>

        <img
            src="/images/pages/dev/animated/lbc-medal-1.png"
            alt=""
            class="max-recruit-oi__img"
            data-sal="slide-up"
            data-sal-delay="300"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        />
    </section>

    <section
        class="max-recruit-oi__section max-recruit-oi__section--graduation-rates"
    >
        <header
            class="max-recruit-oi__header"
            data-sal="slide-left"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <h2 class="ht--s--55-70 uc max-recruit-oi__heading">
                Graduation Rates
            </h2>
            <p class="ht--p--22 max-recruit-oi__pq-author">
                Dr. Peter Teague, EdD
                <br />
                <span class="ht--p--16 i">
                    President, Lancaster Bible College
                </span>
            </p>
        </header>
        <div class="max-recruit-oi__video-wrapper">
            <div
                class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
                data-sal="fade"
                data-sal-delay="600"
                data-sal-duration="400"
                data-sal-easing="ease-out"
            >
                <iframe
                    src="https://www.youtube.com/embed/1LbQ2QuX7SA?rel=0&enablejsapi=1"
                    frameborder="0"
                    allowfullscreen
                    title="Video"
                    loading="lazy"
                ></iframe>
            </div>
        </div>

        <aside
            class="max-recruit-oi__pq"
            data-sal="slide-right"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                “We all are concerned about graduation rates and this is a tool,
                Occupation Insight, that will definitely increase graduation
                rates. And make the journey through Higher Ed, which can be
                torturous, lot of detours, it’ll just streamline it. It will be
                so much more efficient for the families and the students in
                college today.”
            </p>

            <p class="ht--p--22 max-recruit-oi__pq-author">
                Dr. Peter Teague, EdD
                <br />
                <span class="ht--p--16 i">
                    President, Lancaster Bible College
                </span>
            </p>

            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/products/using-analytics-to-improve-student-success/"
                    >
                        Live Demo
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight"
                    >
                        Full Video
                    </a>
                </li>
            </ul>
        </aside>

        <div
            class="max-recruit-oi__img-wrapper"
            data-sal="slide-left"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <img
                src="/images/pages/dev/animated/graduation-rates.jpg"
                class="max-recruit-oi__img"
                alt=""
                loading="lazy"
                inline-img-dims
            />
        </div>
    </section>

    <section
        class="max-recruit-oi__section max-recruit-oi__section--career-services"
    >
        <header
            class="max-recruit-oi__header"
            data-sal="slide-left"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <h2 class="ht--s--55-70 uc max-recruit-oi__heading">
                Career Services
            </h2>
        </header>

        <div
            class="max-recruit-oi__row"
            data-sal="slide-right"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                “We’re reshaping our career services around Occupation Insight.
                What the ‘aha’ moment was when our business administration
                majors, when the professor saw skills in there, she said, We’re
                going to start our first day of class with these skills.”
            </p>

            <div class="max-recruit-oi__video-wrapper">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
                >
                    <iframe
                        src="https://www.youtube.com/embed/SfJ5HpZa2Y4?rel=0&enablejsapi=1"
                        frameborder="0"
                        allowfullscreen
                        title="Video"
                        loading="lazy"
                    ></iframe>
                </div>

                <div class="ht--p--22 max-recruit-oi__pq-author b">
                    Vince Johnson
                    <br />
                    <span class="ht--p--16 i">
                        CIO, Lancaster Bible College
                    </span>
                </div>
            </div>
        </div>

        <div
            class="max-recruit-oi__row"
            data-sal="slide-left"
            data-sal-delay="200"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <div class="max-recruit-oi__video-wrapper">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
                >
                    <iframe
                        src="https://www.youtube.com/embed/n1g3Ec6c5h4?rel=0&enablejsapi=1"
                        frameborder="0"
                        allowfullscreen
                        title="Video"
                        loading="lazy"
                    ></iframe>
                </div>

                <div class="ht--p--22 max-recruit-oi__pq-author b">
                    Keli Gentzler
                    <br />
                    <span class="ht--p--16 i">
                        Assistant Professor, Lancaster Bible College
                    </span>
                </div>
            </div>
            <div class="max-recruit-oi__pq-text-wrap">
                <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                    On the very first day of class it was great because I was
                    able to pull up the Occupation Insight and show them. I was
                    able to show them that you can be a plant manager. Here’s
                    the salary that you will make here’s where these jobs are in
                    the country.
                </p>
                <ul class="pill-list pill-list--multiple pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="{{url-lang-prefix}}/products/using-analytics-to-improve-student-success/"
                        >
                            Live Demo
                        </a>
                    </li>
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight"
                        >
                            Full Video
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section
        class="max-recruit-oi__section max-recruit-oi__section--student-advise"
    >
        <header
            class="max-recruit-oi__header"
            data-sal="slide-right"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <h2 class="ht--s--55-70 uc max-recruit-oi__heading">
                Student Advising Process
            </h2>
        </header>

        <aside
            class="max-recruit-oi__pq"
            data-sal="fade"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                “Unapologetically, I am beyond ecstatic about what Occupation
                Insight can do in the advising process, so students can connect
                when they come into a classroom. And we are super energized to
                see technology catching up with the life on life and I really
                believe it’s going to be a tremendous resource to enhance our
                efforts.”
            </p>

            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/products/using-analytics-to-improve-student-success/"
                    >
                        Live Demo
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight"
                    >
                        Full Video
                    </a>
                </li>
            </ul>
        </aside>

        <div
            class="max-recruit-oi__video-wrapper"
            data-sal="fade"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <div
                class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
            >
                <iframe
                    src="https://www.youtube.com/embed/uI9wkMOJaEM?rel=0&enablejsapi=1"
                    frameborder="0"
                    allowfullscreen
                    title="Video"
                    loading="lazy"
                ></iframe>
            </div>
            <p class="ht--p--22 max-recruit-oi__pq-author b">
                Josh Beers,
                <br />
                <span class="ht--p--16 i">
                    SVP, Lancaster Bible College
                </span>
            </p>
        </div>
    </section>

    <section class="max-recruit-oi__section max-recruit-oi__section--outcomes">
        <header
            class="max-recruit-oi__header"
            data-sal="slide-left"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <h2 class="ht--s--55-70 uc max-recruit-oi__heading">
                Degree Program Outcomes
            </h2>
        </header>
        <div class="max-recruit-oi__video-wrapper">
            <div
                class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
                data-sal="fade"
                data-sal-delay="600"
                data-sal-duration="400"
                data-sal-easing="ease-out"
            >
                <iframe
                    src="https://www.youtube.com/embed/7NofvfNcWLw?rel=0&enablejsapi=1"
                    frameborder="0"
                    allowfullscreen
                    title="Video"
                    loading="lazy"
                ></iframe>
            </div>
        </div>

        <aside
            class="max-recruit-oi__pq"
            data-sal="fade"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <p class="ht--p--22 max-recruit-oi__pq-author b">
                Jeffrey Hoover,
                <br />
                <span class="ht--p--16 i">
                    Process Engineer, Lancaster Bible College
                </span>
            </p>

            <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                “As we work with Occupation Insight and as I learn more about it
                I totally understood the idea of matching the skills within a
                program, which is totally dependent upon the curriculum and the
                outcomes that come from all the classes.”
            </p>

            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/products/using-analytics-to-improve-student-success/"
                    >
                        Live Demo
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight"
                    >
                        Full Video
                    </a>
                </li>
            </ul>
        </aside>

        <div
            class="max-recruit-oi__img-wrapper"
            data-sal="slide-left"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <img
                src="/images/pages/dev/animated/degree-program-outcomes.jpg"
                class="max-recruit-oi__img"
                alt=""
                loading="lazy"
                inline-img-dims
            />
        </div>
    </section>

    <section
        class="max-recruit-oi__section max-recruit-oi__section--student-advise"
    >
        <header
            class="max-recruit-oi__header"
            data-sal="slide-right"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <h2 class="ht--s--55-70 uc max-recruit-oi__heading">
                Student Career Paths
            </h2>
        </header>

        <aside
            class="max-recruit-oi__pq"
            data-sal="slide-right"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <p class="ht--p--22-1_5 max-recruit-oi__pq-text b">
                “Students will be able to come in their first year and say OK I
                may not know what I want to do right now, or I haven’t got it
                locked down, but let me research a couple areas that I’m
                interested in at the very least. And then what Occupation
                Insight does, when it pulls and aggregates all that data and
                gives it to the student, in a really presentable format, they
                could say this is great. I’m confident about this choice.”
            </p>

            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/products/using-analytics-to-improve-student-success/"
                    >
                        Live Demo
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight"
                    >
                        Full Video
                    </a>
                </li>
            </ul>
        </aside>

        <div
            class="max-recruit-oi__video-wrapper"
            data-sal="fade"
            data-sal-delay="600"
            data-sal-duration="400"
            data-sal-easing="ease-out"
        >
            <div
                class="video-wrapper video-wrapper--16x9 video-wrapper--youtube max-recruit-oi__video"
            >
                <iframe
                    src="https://www.youtube.com/embed/wr-LIEz0bh8?rel=0&enablejsapi=1"
                    frameborder="0"
                    allowfullscreen
                    title="Video"
                    loading="lazy"
                ></iframe>
            </div>
            <p class="ht--p--22 max-recruit-oi__pq-author b">
                Travis Drayton,
                <br />
                <span class="ht--p--16 i">
                    Student, Lancaster Bible College
                </span>
            </p>
        </div>
    </section>

    <section
        class="max-recruit-oi__section max-recruit-oi__section--about"
        data-sal="fade"
        data-sal-delay="600"
        data-sal-duration="400"
        data-sal-easing="ease-out"
    >
        <div class="max-recruit-oi__section--about-content">
            <h2 class="ht--s--28 uc">
                About Lancaster Bible College
            </h2>
            <p class="ht--p--18 mb0">
                Lancaster Bible College is a private, coeducational Bible
                college and seminary and graduate school in Lancaster,
                Pennsylvania that “exists to educate Christian students to think
                and live a biblical worldview and to proclaim Christ by serving
                him in the Church and society.” In addition to its Lancaster
                location, LBC has six satellite locations that offer Accelerated
                undergraduate, graduate and doctoral degree programs.
            </p>
        </div>
        <div class="max-recruit-oi__img-wrapper">
            <img
                src="/images/pages/dev/animated/school.jpg"
                class="max-recruit-oi__img"
                alt=""
                loading="lazy"
                inline-img-dims
            />
        </div>
    </section>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
