---
# <!-- @formatter:off -->
title: Moves Management
meta-description: The potential of moves management strategy is realized when supported by software tools that help identify and foster the relationships essential to giving.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/products/tfr/TFR-logo-circle.png
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-moves-management.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Simply adopting moves management as a strategy isn’t enough to
                build relationships with major gift donors. The full potential
                is only realized when supported by software tools that help you
                identify and foster the personal relationships essential to
                giving.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Achieve Advancement Success
            </h2>
            <p class="ht--p--16-1_125">
                From prospect profiling to creating compelling proposals, your
                ability to cultivate relationships with the best giving partners
                is greatly enhanced with the Talisma<sup>®</sup>
                Fundraising Moves Management module. Whether you choose to
                deploy on-site or in the cloud, Campus Management can rapidly
                launch your Talisma Fundraising solutions and ensure that your
                team is highly trained to optimize these powerful engagement
                tools for increasing support from your constituents.
            </p>
            <div class="box-v4 box-v4--1-1 mb1">
                <div>
                    <h3 class="b fl c-grey--800 mb0">Major Gift Profile</h3>
                    <p>
                        &nbsp;&ndash; Profiling your alumni, donors and
                        prospects is the core foundation to building a major
                        gifts database. Talisma Fundraising allows you to
                        categorize your donors based on industry-standard scales
                        and user-defined ratings. You can also assign staff
                        members or volunteers to specific donors or prospects.
                    </p>
                </div>
                <div>
                    <h3 class="b fl c-grey--800 mb0">
                        Seamless Integration with WealthEngine
                    </h3>
                    <p>
                        &nbsp;&ndash; When identifying prospects you need a way
                        to segment and understand the information you have in
                        your donor database and augment it with data you don’t
                        have to help identify where to spend your time. Our
                        integration with WealthEngine® helps bring all the
                        details together so that you can work smarter to
                        identify your best prospects and achieve your
                        fundraising goals.
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/product-sheets/#filter/Product/Talisma%20Fundraising"
                    >
                        Solution Sheets
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/case-studies/#filter/Product/Talisma%20Fundraising"
                    >
                        Case Studies
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {{>tfr-modules}} {{>tfr-explore-demos}}

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Donor Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="{{url-lang-prefix}}/products/donor-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Alumni Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="{{url-lang-prefix}}/products/alumni-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Talisma Fundraising Features
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="{{url-lang-prefix}}/products/Talisma-Fundraising-features/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
