---
# <!-- @formatter:off -->
title: Conozca CampusNexus Occupation Insight
meta-description: Would you like us to demonstrate how one or more of Campus Management products can improve your institution? If so, submit your consultation request today.
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/oi-demo-form/
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/contact-us.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                ¿Como su institución puede transformar los resultados de los
                estudiantes dentro de una visión en el mercado laboral? ¿Como
                puede potencializar a los estudiantes con las habilidades que
                ellos necesitan para tener éxito en el mercado laboral?
                Compruébelo usted mismo con las auto-guias.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2--sm">
                Complete el siguiente formulario para explorar los demos
            </h2>
            <div class="container container--color-boxes">
                <div class="box-v4 box-v4--1-1">
                    <div class="bgc-white">
                        <p>
                            En una economía de rápida evolución, conociendo las necesidades del mercado laboral y las habilidades que los empleadores buscan hoy en día, hacen que sus estudiantes y su institución sean cada vez mas competitivos en el mercado. Con CampusNexus Occupation Insight, usted puede experimentar por si mismo. Observe como esta solución de análisis aprovecha datos actuales del mercado laboral para:
                        </p>
                        <ul class="list--normal">
                            <li>
                                Proporcionar a los aspirantes y estudiantes una
                                visión sobre como se relacionan los programas
                                con el mercado laboral y las necesidades de cada
                                empleador
                            </li>
                            <li>
                                Permita que directores y asesores de programas
                                académicos determinen rápidamente como las
                                habilidades de los estudiantes, programas y
                                cursos de se relacionan con sus objetivos
                                profesionales y sus necesidades laborales
                            </li>
                            <li>
                                Fortalezca a los estudiantes con conocimientos y
                                orientación profesional para pasar de un cargo
                                de nivel medio a un cargo de nivel superior
                            </li>
                        </ul>
                        <p class="mb0">
                            Conozca el mercado laboral actual y futuro,
                            experimentando Occupation Insight desde multiples
                            perspectivas en recorridos autoguiados.
                        </p>
                    </div>
                    <div class="bgc-grey--200">
                        <p class="c">
                            Por favor complete el siguiente formulario.
                        </p>
                        <form
                            id="requestDemoForm"
                            class="cmc-form cmc-form--to-the-right js--simple-form"
                            action="oi-demo-form/?site=cmc&group=es"
                            data-lead-source="Occupation Insight Demo Form"
                            data-post-to-unify="false"
                            data-success-redirect-url="../uso-de-analytics-para-mejorar-el-exito-estudiantil/"
                        >
                            <fieldset>
                                <ul>
                                    <li>
                                        <label class="required" for="firstName"
                                            >Primer Nombre</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="firstName"
                                                id="firstName"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="lastName"
                                            >Apellido</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="lastName"
                                                id="lastName"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="email"
                                            >Correo electrónico</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="email"
                                                name="email"
                                                id="email"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label
                                            class="required"
                                            for="institution"
                                            >Institución</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="institution"
                                                id="institution"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li class="cmc-form__submit-row">
                                        <button
                                            type="submit"
                                            class="pill-button cmc-form__submit-button mb1"
                                            name="btnSave"
                                        >
                                            Enviar
                                        </button>
                                    </li>
                                </ul>
                                <p class="mb0">
                                    Cualquier información personal que usted nos
                                    suministre mediante este formulario, estará
                                    sujeto con nuestra
                                    <a href="/about-us/privacy/"
                                        >política de privacidad</a
                                    >.
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
