---
# <!-- @formatter:off -->
title: Experience CampusNexus Occupation Insight
meta-description: Would you like us to demonstrate how one or more of Campus Management products can improve your institution? If so, submit your consultation request today.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
alt--es: /products/oi-demo-form-es/
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/contact-us.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                How can your institution transform student outcomes with insight
                into the labor market? How can you empower students with the
                skills they need to succeed in the workforce? See for yourself
                in these self-guided tours.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2--sm">
                Fill Out this Form to Explore the Demos
            </h2>
            <div class="container container--color-boxes">
                <div class="box-v4 box-v4--1-1">
                    <div class="bgc-white">
                        <p>
                            In a rapidly evolving economy, knowing current and
                            future labor force needs and what skills employers
                            are seeking at any given time can make your students
                            – and your institution – more competitive in the
                            marketplace. Now experience CampusNexus Occupation
                            Insight for yourself. See how this powerful
                            workforce analytics solution harnesses current labor
                            force data to:
                        </p>
                        <ul class="list--normal">
                            <li>
                                Provide applicants and students with on-demand
                                insight into how their programs relate to the
                                job market and employer needs
                            </li>
                            <li>
                                Enable academic program directors and advisors
                                to determine early and often how students’
                                skills, programs and courses relate to their
                                career goals and workforce needs
                            </li>
                            <li>
                                Empower students with knowledge and career
                                pathways to move from entry level to higher
                                level positions
                            </li>
                        </ul>
                        <p class="mb0">
                            Get a glimpse of the current and future labor
                            market, and experience Occupation Insight from
                            multiple perspectives in these self-guided tours of
                            Career Explorer and Program Explorer.
                        </p>
                    </div>
                    <div class="bgc-grey--200">
                        <p class="c">
                            Please complete and submit the following form.
                        </p>
                        <form
                            id="requestDemoForm"
                            class="cmc-form cmc-form--to-the-right js--simple-form"
                            action="oi-demo-form/?site=cmc&group=en-us"
                            data-lead-source="Occupation Insight Demo Form"
                            data-post-to-unify="false"
                            data-success-redirect-url="../using-analytics-to-improve-student-success/"
                        >
                            <fieldset>
                                <ul>
                                    <li>
                                        <label class="required" for="firstName"
                                            >First Name</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="firstName"
                                                id="firstName"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="lastName"
                                            >Last Name</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="lastName"
                                                id="lastName"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label class="required" for="email"
                                            >E-Mail</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="email"
                                                name="email"
                                                id="email"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li>
                                        <label
                                            class="required"
                                            for="institution"
                                            >Institution</label
                                        >
                                        <div class="input-wrapper">
                                            <input
                                                type="text"
                                                name="institution"
                                                id="institution"
                                                required
                                            />
                                        </div>
                                    </li>
                                    <li class="cmc-form__submit-row">
                                        <button
                                            type="submit"
                                            class="pill-button cmc-form__submit-button mb1"
                                            name="btnSave"
                                        >
                                            Submit
                                        </button>
                                    </li>
                                </ul>
                                <p class="mb0">
                                    Any personal information you provide to us
                                    using this form will be processed in
                                    accordance with our
                                    <a href="/about-us/privacy/"
                                        >privacy policy</a
                                    >.
                                </p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
