---
# <!-- @formatter:off -->
title: Radius by Campus Management
meta-description: Radius by Campus Management empowers institutions to make purposeful connections at each stage of student lifecycle, for student success and yours.
menu-priority: 0.75
in-nav--en-us: true
in-nav--en-in: false
in-nav--en-uk: true
page-bg-image: /images/pages/products/radius/radius-bkg-v1.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-radius-by-campus-management.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Make deeper connections with students from inquiry to
                application and enrollment with higher education’s best-in-class
                admissions management solution.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/radius/best-fit-students-icon.png"
                        class="max-7"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Build and Sustain Strong Relationships with Prospective
                        Students
                    </h2>
                    <p>
                        Are you able to ensure that you’re sending personalized,
                        relevant information to your students and prospects?
                        Radius by Campus Management enables you to build deeper
                        relationships with students through case management,
                        event planning, and online inquiry management tools.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-3">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/radius/application-mgmt-icon-v2.png"
                        class="max-7"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Improve the Admissions Experience for Everyone
                    </h2>
                    <p>
                        Our robust application management system lets you create
                        and manage applications on the fly and hold all
                        applicant information in one place to create a better
                        experience for students, faculty and staff.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/radius/student-relationship-icon.png"
                        class="max-7"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Make Admissions Decisions Faster
                    </h2>
                    <p>
                        Radius by Campus Management takes the headache out of
                        application season by offering digital application
                        review and decision management. Customized options allow
                        you to set workflows specific to your institution and
                        make your review and decision processes more efficient
                        than ever.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-3">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/radius/student-portal-icon.png"
                        class="max-7"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Help Applicants Stay Organized and Informed
                    </h2>
                    <p>
                        Radius by Campus Management offers a student portal that
                        gives students personalized information about programs
                        of interest at your institution. The portal includes
                        application and financial aid status and tracking.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c-theme-primary-dark c">
                Radius by Campus Management Features
            </h2>

            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/macbook-sm.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <ul class="list--normal ht--p--16">
                        <li>
                            Multiple ways to communicate with prospects and
                            applicants including email marketing, text
                            messaging, chat
                        </li>
                        <li>
                            Manage the entire admissions process, from
                            application deadlines to review
                        </li>
                        <li>
                            Standard reports and analytics
                        </li>
                        <li>
                            Specifically designed for admissions offices, in the
                            cloud, with minimal IT involvement
                        </li>
                    </ul>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/en-us/Radius-Data-Sheet-Campus-Management.pdf"
                                target="_blank"
                            >
                                Solution Sheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="ht--s--28 c-theme-primary-dark c">
                Go Enterprise CRM with CampusNexus Engage
            </h2>
            <p class="ht--p--16-22">
                Built using Microsoft Dynamics 365, Azure, and Power BI, Campus
                Management’s CRM system of intelligence integrates higher
                education workflow processes and best practices with the latest
                innovations in artificial intelligence, machine learning, and
                business analytics to improve engagement and drive student and
                institutional success.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/crm-for-higher-education/"
                        target="_blank"
                    >
                        Learn More
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}}
{{>[pattern-box/consultation-request-v2]}} {{/content}} {{/extend}}
