---
# <!-- @formatter:off -->
title: Sistema de Gestión Financiera
meta-description: Feature-rich financial management system designed for higher education that keeps you in control of the processes critical to sound fiscal management.
menu-priority: 0.7
page-bg-image: /images/pages/products/fhr-p/FHRP-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-financial-management-system.jpg
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: true
alt--en: /products/financial-management-system/
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Convierta los datos en inteligencia procesable para mantener a su institución al día con un plan estratégico. CampusNexus Finance HR y payroll, es un sistema de gestión financiera enriquecido en funciones y diseñado para la educación superior.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Optimice los Recursos para Impulsar el Éxito Estudiantil y
                Operativo
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/fhr-p/financial-management-system.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Enfrentando reducciones de presupuesto, incluso cuando
                        intentan mantener una ventaja competitiva y un estándar
                        académico, universidades y oficinas administrativas
                        necesitan una solución ERP (planeación de recursos
                        empresariales y sistemas de información estudiantiles),
                        que permita optimizar recursos en torno a su misión como
                        estudiante, personal administrativo y operacional, de
                        acuerdo a las necesidades estudiantiles.
                    </p>
                    <p>
                        Con CampusNexus Finance, HR y payroll su institución
                        obtiene información en tiempo real sobre la efectividad
                        operativa tecnológica de Microsoft de clase mundial, que
                        se ha adaptado específicamente a las necesidades de la
                        educación superior.
                    </p>
                    <p>
                        Forme parte de la empresa con el mas alto reconocimiento
                        y recursos configurados de alta educación superior.
                    </p>

                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/en-us/CampusNexusFinanceHR-Payroll-Product-Sheet-Campus-Management.pdf"
                                >Mas información</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2-5--sm">
                Finanzas, Contabilidad y Reconocimiento de Ingresos
            </h2>
            <div class="box-v4 box-v4--1-1 ht--p--16-1_125">
                <div class="left">
                    <p>
                        Independientemente de que su institución este compuesta
                        por un recinto o 100, su institución necesitara una
                        plataforma con una funcionalidad que pueda manejar y
                        controlar los procesos críticos incluyendo el manejo
                        fiscal. CampusNexus Finance, HR y Payroll proporciona:
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Libro Mayor</h3>
                    <p>
                        &nbsp;&ndash; Administre el libro mayor, impuesto de
                        ventas, moneda, cierre anual y estados financieros
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Dinero en Efectivo y Manejo de Cuentas Bancarias
                    </h3>
                    <p>
                        &nbsp;&ndash; Administre cuentas bancarias e informes
                        financieros
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Cuentas por Pagar</h3>
                    <p>
                        &nbsp;&ndash; Supervise facturas de matricula, servicios
                        y pagos entrantes
                    </p>
                </div>
                <div class="right">
                    <h3 class="b fl c-grey--800 mb0">
                        Contabilidad del Estudiante
                    </h3>
                    <p>
                        &nbsp;&ndash; Registre la información de cada
                        estudiante, incluyendo cargos, pagos, reembolsos y
                        ajustes
                    </p>

                    <h3 class="b fl c-grey--800 mb0">
                        Administración de Programas Laborales Federales para el
                        Estudiante (FWS)
                    </h3>
                    <p>
                        &nbsp;&ndash; Registre los montos de FWS y realice un seguimiento de información de nómina para garantizar los fondos disponibles
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Gestión de Fondos</h3>
                    <p>
                        &nbsp;&ndash; Cree y administre fuentes de financiación
                        para los estudiantes, desde subsidios federales,
                        prestamos, programas de trabajos, ayudas estatales,
                        becas privadas y subsidios institucionales
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Activos Fijos</h3>
                    <p>
                        &nbsp;&ndash; Rastree y desvalorice activos como
                        equipos, tecnología, muebles, vehículos y edificios
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <p class="big-text-wrapper">
                <span class="ht--s--40-80">57%</span>
                <span class="ht--p--16-22 c-black"
                    >Directores generales de negocios afirman, que la toma de
                    decisiones que se realiza con transparencia da lugar a las
                    mejores decisiones financieras</span
                >
            </p>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Planificación y Previsión
            </h2>
            <p class="ht--p--16-1_125 c">
                Una gestión financiera exitosa, se basa en una clara visibilidad
                de las necesidades actuales y futuras, además de la supervisión
                y rendición de cuentas en tiempo real. CampusNexus Finance, HR y
                Payroll ofrece:
            </p>
            <div class="box-v4 box-v4--1-1">
                <ul class="left list--normal ht--p--16-1_125">
                    <li>
                        <h3 class="b fl c-grey--800 mb0">Presupuesto</h3>
                        <p>
                            &nbsp;&ndash; Configure, presupueste; limite,
                            congele, aumente y disminuya presupuestos de acuerdo
                            con las necesidades en tiempo real
                        </p>
                    </li>
                    <li>
                        <h3 class="b fl c-grey--800 mb0">
                            Presupuesto y Control
                        </h3>
                        <p class="mb0">
                            &nbsp;&ndash; Proyecte las necesidades de
                            contratación, anticipación de retiros, costos
                            asociados e implementaciones de cambios en la tasa
                            de pago actual
                        </p>
                    </li>
                </ul>
                <ul class="right list--normal ht--p--16-1_125">
                    <li>
                        <h3 class="b fl c-grey--800 mb0">
                            Contabilidad de Proyectos
                        </h3>
                        <p>
                            &nbsp;&ndash; Proporcione supervisión financiera
                            para proyectos de inversiones de capital a lo largo
                            de la institución
                        </p>
                    </li>
                    <li>
                        <h3 class="b fl c-grey--800 mb0">
                            Adquisiciones y Abastecimiento
                        </h3>
                        <p>
                            &nbsp;&ndash; Gestione el proceso de compras y
                            servicios
                        </p>
                    </li>
                    <li>
                        <h3 class="b fl c-grey--800 mb0">Viajes y Gastos</h3>
                        <p class="mb0">
                            &nbsp;&ndash; Defina políticas de gastos y
                            automatice el reembolso de viajes
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Gestión de Capital Humano
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/gestion-de-capital-humano/"
                        >Mas información
                    </a>
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistema de Administración y Beneficios
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/beneficios-para-empleados/"
                        >Mas información</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Características de CampusNexus Finance, HR y Payroll
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/caracteristicas-de-CampusNexus-Finance-HR-Payroll/"
                        >Mas información</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request-es]}}
{{/content}} {{/extend}}
