---
# <!-- @formatter:off -->
title: Software de Gestión de Estudiantes
meta-description: Student management solution that includes an event-driven architecture and workflow designer.
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/student-management-software/
page-bg-image: /images/pages/products/sis/sis-bkg-v3.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-student-management-software.jpg
additional-scripts:
    - src: /scripts/page--youtube-list-player.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-youtube-player.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Si su Institución atiende a 100 estudiantes o mas de 100.000
                estudiantes, CampusNexus<sup>®</sup> Student proporciona las
                funciones avanzadas que se necesitan para el éxito y futuras
                expectativas.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2-5--sm">
                Adapatarse Fácilmente al Cambio
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/sis/student-management-software.jpg"
                        alt="Drive Student Retention"
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p class="ht--p--16-22">
                        Esta solución permite estructuras de términos flexibles
                        respaldado por una ayuda financiera automatizada y
                        ajustes de facturación, ayudando a que sus
                        administradores y personal esten enfocados en sus
                        estudiantes.
                    </p>
                    <p class="ht--p--16-22">
                        También obtenga un acceso amplio a la plataforma de servicios web, utilizando los APIs de manera rápida y rentable desde sistemas de aprendizaje, bibliotecas, sistemas de pago y servicios a terceros.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2-5--sm">
                Flexible y Extensible
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p class="ht--p--16-22">
                        CampusNexus Student le permite responder al presente y
                        futuras generaciones de estudiantes permitiendo:
                    </p>
                    <p class="ht--p--16-22">
                        <span class="b">&bullet;</span>
                        Brindar atención personalizada, relevante y oportuna para mejorar el enfoque al estudiante, sin comprometer las normas de admisión
                    </p>
                    <p class="ht--p--16-22">
                        <span class="b">&bullet;</span>
                        Proveer planes de comunicación personalizados, relevantes y a tiempo, de esta manera mejore la experiencia y el compromiso estudiantil
                    </p>
                </div>
                <div class="right">
                    <p class="ht--p--16-22">
                        <span class="b">&bullet;</span>
                        Establecer criterios, clasificaciones, formularios y eventos para rastrear las tasas de participación y compromiso, además de indicadores de estudiantes que se encuentran en riesgo
                    </p>
                    <p class="ht--p--16-22">
                        <span class="b">&bullet;</span>
                        Establecer datos de comunicación, flujos de trabajo y alertas personalizadas, haciendo que el estudiante se sienta mas conectado
                    </p>
                    <p class="ht--p--16-22">
                        <span class="b">&bullet;</span>
                        Reducir costos administrativos eliminando procesos manuales entre departamentos y instituciones, permitiendo el acceso móvil y autoservicios para estudiantes y profesores
                    </p>
                </div>
            </div>
        </div>
    </div>

    {{>[box-v3/youtube-challenges-in-higher-ed-es]}}

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student Solution Sheet
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                        >Descargar
                    </a>
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Sistemas de Información del Estudiante
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/sistemas-de-informacion-del-estudiante/"
                        >Mas</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Características de CampusNexus Student
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/características-de-CampusNexus-Student/"
                        >Mas</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}}
{{>[pattern-box/consultation-request-es]}} {{/content}} {{/extend}}
