---
# <!-- @formatter:off -->
title: Student Success through Workforce Analytics
label: Workforce Analytics Tool
meta-description: Build a stronger workforce in higher education using Campus Management’s cloud-based workforce analytics tool. Apply analytics to improve student success.
menu-priority: 0.9
in-nav--en-us: true
in-nav--en-in: false
in-nav--en-uk: true
social-image: /images/pages/social/social-student-success-through-workforce-analytics.jpg
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
additional-stylesheets:
    - href: /styles/pages/occupation-insight-demo.css
      inline: true
    - href: /styles/pages/has-testimonial.css
      inline: false
additional-scripts:
    - src: /scripts/page--occupation-insight-demos.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Prepare your students for the most in-demand careers, align
                programs with employer needs, and drive your institution’s value
                with dynamic insight into the labor market. Experience
                CampusNexus Occupation Insight.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2-5--sm">
                Empower Students with Insight into Employer Needs
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/engage/occupation-insight.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p class="ht--p--16-22">
                        “What are the most in-demand careers in my community,
                        city, state and throughout the country? What programs,
                        courses and skills will make me more competitive in the
                        marketplace?” Your students want to know – and that
                        information is at their fingertips with CampusNexus<sup
                            >®</sup
                        >
                        Occupation Insight.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Align Academic Programs with Workforce Analytics
                </h2>
                <p class="ht--p--16-22">
                    With Occupation Insight, your academic program directors and
                    faculty can realign and refine programs based on the latest
                    skills sought by employers and current labor market data in
                    your community and throughout the country.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/align-academic-programs-with-workforce-analytics.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4 container--color-boxes">
            <div class="left">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Improve Student Advising and Retention
                </h2>
                <p class="ht--p--16-22">
                    Occupation insight can motivate students to stay in school
                    or even guide them in new directions. Students and advisors
                    can gauge how a particular course, sequence, or skill will
                    improve a student’s earnings potential and competitiveness
                    in the marketplace as well as address skills gaps earlier.
                </p>
            </div>
            <div class="right has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/improve-student-advising-retention-and-career-paths.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <p class="ht--s--38">
                “We all are concerned about graduation rates and this is a tool,
                Occupation Insight, that will definitely increase graduation
                rates.”
            </p>
            <div
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Dr. Peter Teague EdD,
                </div>
                <div class="testimonial__author__title--v2">
                    President,
                </div>
                <div class="testimonial__author__company--v2">
                    Lancaster Bible College
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Making a Difference in the Life of Every Student
            </h2>
            <p class="ht--p--16-22 c">
                Watch this video to hear how Lancaster Bible College uses
                CampusNexus Occupation Insight to make a difference in the life
                of every student.
            </p>
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        frameborder="0"
                        allowfullscreen
                        title="CampusNexus Engage"
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/690kFpT34wo?rel=0"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Drive Recruitment through Proven Student Outcomes
                </h2>
                <p class="ht--p--16-22">
                    Students as well as their parents want to know that their
                    investment in higher education will deliver on their
                    expectations for the future. With Occupation Insight, you
                    improve recruiting and enrollment through demonstrated
                    program ROI and student outcomes.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/drive-recruitment-with-job-placement-resultspng.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 container--color-boxes box-v4">
            <div class="left">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Transform Career Services with Labor Market Insight
                </h2>
                <p class="ht--p--16-22">
                    Improve career coaching and placement success by identifying
                    current regional and national employment opportunities and
                    empower students to market the education and skills they
                    have gained.
                </p>
            </div>
            <div class="right has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/transform-career-services-with-labor-market-insight.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div
            class="container container--2-5 container--color-boxes box-v4 box-v4--1-2"
        >
            <div class="right">
                <h2 class="ht--s--38 c-theme-primary-dark">
                    Provide Students a Competitive Edge in the Job Market
                </h2>
                <p class="ht--p--16-22">
                    Using Occupation Insight, a student pursuing a bachelor’s
                    degree in marketing discovers that most employers not only
                    want candidates with a bachelor’s degree, but also training
                    and education in data science and digital marketing. The
                    solution also displays what courses at your institution will
                    fulfill this need.
                </p>
            </div>
            <div class="left has-to-bottom-edge-img">
                <img
                    class="to-bottom-edge to-bottom-edge--screenshot border"
                    src="/images/pages/products/oi/provide-students-a-competitive-edge-in-the-job-market.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <h2 class="ht--s--38 c-theme-primary-dark">
                        Quick Start Tour
                    </h2>
                    <p>
                        Use this quick start tour to learn the basics of
                        navigating the CampusNexus Occupation Insight interface.
                        See how easy it is to get the data your institution and
                        students need to make informed program and career
                        choices.
                    </p>
                </div>
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/U0mab-M69dQ?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusNexus Occupation Insight"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <h2 class="ht--s--38 c">
                Experience CampusNexus Occupation Insight
            </h2>
            <p class="ht--p--16-22">
                See how students and advisors can leverage up-to-date workforce
                data earlier in the student lifecycle and drill down on that
                data to align academic programs and course selections as
                industry needs evolve. Check out these self-guided demos.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button pill-button--outline"
                        href="../oi-demo-form/"
                    >
                        Explore Demos
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        White Paper
                    </p>
                    <p>
                        This industry white paper explores how current labor
                        force analytics can help institutions better align
                        academic programs and student skills with industry
                        needs.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://info.campusmanagement.com/transform-student-success-though-occupation-insight"
                        target="_blank"
                        rel="noopener"
                    >
                        Download
                    </a>
                </div>
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        On-Demand Webinar
                    </p>
                    <p>
                        Discover the benefits of CampusNexus Occupation Insight,
                        a powerful new tool for aligning student skills with the
                        needs of the workforce.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://info.campusmanagement.com/transforming-student-outcomes-with-occupation-insight"
                        target="_blank"
                        rel="noopener"
                    >
                        View Webinar
                    </a>
                </div>
                <div class="flexcol">
                    <p class="c ht--s--28 c-theme-primary-dark">
                        Solution Sheet
                    </p>
                    <p>
                        Discover how CampusNexus Occupation Insight enables your
                        institution and students to align academic programs and
                        courses with the needs of the workforce.
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/product-sheets/cmc/en-us/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                        target="_blank"
                        >Download
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}}
{{>[pattern-box/consultation-request--oi]}} {{/content}} {{/extend}}
