---
# <!-- @formatter:off -->
title: Student Engagement
meta-description: CampusNexus Student the student information system that enables institutions to proactively ensure student engagement.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/sis/sis-bkg-v3.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
social-image: /images/pages/social/social-student-engagement.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Student engagement has always been important to institutions,
                but never more than now, as over two-thirds of states have
                created legislation tying funding to outcomes. CampusNexus<sup
                    >®</sup
                >
                Student helps you help your students in an era when
                accountability for outcomes is at an all-time high.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Boost Student Success
            </h2>

            <div class="box-v4">
                <div class="right">
                    <img
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/sis/boost-student-success.jpg"
                        alt="Drive Student Retention"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Are you able to ensure that you’re sending personalized,
                        relevant information to your students and prospects?
                        Radius by Campus Management enables you to build deeper
                        relationships with students through case management,
                        event planning, and online inquiry management tools.
                    </p>
                    <p>
                        With CRM built in to CampusNexus, you can create an
                        early-alert system to identify at-risk students, connect
                        students to resources through automated workflows, and
                        monitor intervention strategies through student progress
                        reports.
                    </p>
                    <p>
                        The student information system also helps you ensure
                        student success with career services tools for managing
                        internships and employment opportunities, outcome
                        reporting that measures the effectiveness of your
                        programs and services, and the ability to provide
                        legislative bodies with institutional effectiveness
                        data.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/{{language}}/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                                target="_blank"
                            >
                                Solution Sheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Reporting and Analytics
            </h2>

            <div class="box-v4 box-v4--1-1 ht--p--16-1_125">
                <div>
                    <p>
                        CampusNexus Student includes a data warehouse with
                        analytic views across a range of student and operational
                        metrics and KPIs. Combined with powerful interactive
                        data visualization tools from Microsoft Power BI, Campus
                        Management provides the most cost-effective reporting
                        solution for:
                    </p>
                    <p>
                        &bullet; Identifying enrollment trends, program
                        capacity, persistence, and retention rates
                    </p>
                </div>
                <div>
                    <p>
                        &bullet; Measuring satisfactory academic progress and
                        keeping students on the path to success
                    </p>
                    <p>
                        &bullet; Ensuring financial aid compliance and student
                        funding
                    </p>
                    <p>
                        &bullet; Complying with accreditation and federal
                        standards
                    </p>
                    <p>
                        &bullet; Empowering students with customized student
                        transcripts on demand
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Student Information System
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/student-information-system/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Adapt and Grow As Needs Evolve
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/student-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student Features
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/CampusNexus-Student-features/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{>[pattern-box/higher-ed-resources]}} {{/content}} {{/extend}}
