---
# <!-- @formatter:off -->
title: Financial Aid Student Verification
meta-description: CampusNexus's cloud-based Financial Aid Solutions enable your institution to automate and simplify the process for students and staff.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/education-partners/financial-aid-solutions-bkg.jpg
page-bg-classes: page-bg-image--centered
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Simplify financial aid verification processing, communicate with
                your students faster, and manage workflows through automation,
                with Campus Management’s Student Verification.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Automate and Simplify the Verification Processes
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/education-partners/verification-student.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p class="mb2--sm">
                        The financial aid verification process is often
                        difficult and can be an emotional experience for
                        students. Explore the Student Verification solution to
                        ease the burden for your students and staff. The
                        solution automates the standard verification, comment
                        code, and professional judgment processes.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button pill-button--outline"
                                href="/docs/product-sheets/cmc/{{language}}/Financial-Aid-Solution-Sheet-Campus-Management.pdf"
                                target="_blank"
                                >Solution Sheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Student Verification was Created with Your Students and Staff in
                Mind
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <h3 class="ht--s--18 c-grey--800">
                        Benefits for Staff
                    </h3>
                    <ul class="list--normal list--has-lead-in">
                        <li>ED Compliant Rule Engine</li>
                        <li>Real-time Dashboards</li>
                        <li>ISIR Comparison Tool</li>
                    </ul>
                </div>
                <div class="right">
                    <h3 class="ht--s--18 c-grey--800">
                        Benefits for Students
                    </h3>
                    <ul class="list--normal list--has-lead-in">
                        <li>Secure Student Portal</li>
                        <li>Real-time Status Bar</li>
                        <li>Email and Text Communication</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Why Financial Aid Verification Automation?
            </h2>
            <div class="box-v4 box-v4--1-3">
                <div class="left">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/education-partners/webform-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--18">
                        Documents Made Easy
                    </h3>
                    <ul class="list--normal list--has-lead-in mb1 mb2--sm">
                        <li>
                            Create student web forms and manage institutional
                            PDF documents
                        </li>
                        <li>
                            Automate document storage for web forms and PDFs
                        </li>
                        <li>
                            Trigger required documents based on federal and
                            institutional rules
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box-v4 box-v4--1-3 ">
                <div class="left">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/education-partners/standardize-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--18">
                        Standardize and Streamline
                    </h3>
                    <ul class="list--normal list--has-lead-in mb1 mb2--sm">
                        <li>Simplify Student Experience</li>
                        <li>
                            Leverage out-of-the-box standard verification
                            documents and rules
                        </li>
                        <li>
                            Ensure compliance with annual regulatory updates
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box-v4 box-v4--1-3">
                <div class="left">
                    <img
                        class="max-width-100 c"
                        src="/images/pages/products/education-partners/dashboard-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--18">
                        Stay on Track
                    </h3>
                    <ul class="list--normal list--has-lead-in">
                        <li>
                            Increase processing time with automated workflows
                        </li>
                        <li>
                            Enable real-time notification and status bar
                            tracking for students
                        </li>
                        <li>
                            Track staff worklists and student progress through
                            dashboards
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Automate Comment Code and Professional Judgment Processing
            </h2>
            <ul class="list--normal ht--p--16-22 c-grey--800">
                <li>
                    Enable C-flags and comment codes as part of the rules engine
                </li>
                <li>
                    Integrate professional judgment processing for student and
                    staff
                </li>
                <li>
                    Ensure secondary approval review process to keep you
                    compliant
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <p class="ht--s--36">
                “I watched a student start their Verification from their phone
                during an IT Orientation session, which was outstanding.”
            </p>
            <div
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    John Jurgens,
                </div>
                <div class="testimonial__author__title--v2">
                    Sr. Programmer/Analyst,
                </div>
                <div class="testimonial__author__company--v2">
                    College of Westchester
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Student Verification in Action
            </h2>
            <p class="ht--s--18">
                The College of Westchester Automates and Accelerates
                Verification
            </p>
            <ul class="list--normal list--has-lead-in">
                <li>
                    Students can easily complete the verification process
                    independently and online
                </li>
                <li>
                    Staff can focus more on assisting students with difficult
                    issues
                </li>
                <li>
                    With one-stop verification, documents are easy to track,
                    approve, and flag for issues
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/education-partners/student-verification-webinar.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p class="mb0">On-Demand</p>
                    <h3 class="ht--s--28 c-theme-primary-dark">
                        Student Verification Webinar Series
                    </h3>
                    <p>
                        Learn how you can automate financial aid verification
                        processing and workflows for students, parents and staff
                        in this series of on-demand webinars.
                    </p>
                    <ul
                        class="pill-list pill-list--multiple pill-list--centered"
                    >
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://info.campusmanagement.com/financial-aid-student-verification-automating-for-student-success"
                                target="_blank"
                                rel="noopener"
                            >
                                Automate Verification
                            </a>
                        </li>
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://info.campusmanagement.com/7-ways-technology-can-transform-isir-verification"
                                target="_blank"
                                rel="noopener"
                            >
                                ISIR Processing
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Financial Aid Solutions
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/financial-aid-solutions/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Self-Service Student Enrollment and Financial Aid
                        Processing
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/self-service-student-enrollment-and-financial-aid-processing/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Financial Aid Automation
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/financial-aid-automation/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{/content}} {{/extend}}
