---
# <!-- @formatter:off -->
title: Talisma Fundraising Demos
meta-description: Review demos of Talisma® Fundraising, a donor management software by Campus Management designed for higher education and nonprofit organizations.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-Talisma-Fundraising-demos.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                {{title}}
            </h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Talisma Fundraising Overview
                </h2>
                <p>
                    See how to configure the software to your development
                    environment, including donor activities and top-down
                    campaign summaries.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/Nd-GyJ9ndNk?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Talisma Fundraising Overview"
                    ></iframe>
                </div>
                <p>
                    Video: 6 Minutes, 41 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Major Gifts Demo
                </h2>
                <p>
                    Identity and cultivate major gift prospects with an
                    integrated wealth engine and templates for managing moves
                    and steps.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/zH3BLjwKEPE?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Major Gifts Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 8 Minutes, 32 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Honors and Memorials Demo
                </h2>
                <p>
                    Acknowledge family and friends of those being honored,
                    calculate totals received, and export information for
                    reports.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/-P7Y2kCk8X8?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Honors and Memorials Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 4 Minutes, 41 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Reporting Tools Demo
                </h2>
                <p>
                    Analyze your development program and projected campaigns
                    through powerful reporting tools.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/ASI_jxdsP-0?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Reporting Tools Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 6 Minutes, 38 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Power Search Demo
                </h2>
                <p>
                    Refine searches based on a wide range of giving criteria and
                    patterns, and do searches phonetically when on the phone
                    with supporters.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/oaCxGpSg4sk?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Power Search Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 4 Minutes, 42 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Online Giving Demo
                </h2>
                <p>
                    Create a portal with out-of-the-box templates, enable credit
                    card donations online, and foster a positive giving
                    experience.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/4ClrQsVbPbc?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Online Giving Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 6 Minutes, 37 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Donor Management System Demo
                </h2>
                <p>
                    Tallisma Fundraising and Talisma CRM combine to provide
                    lifetime communications for the entire student lifecycle,
                    from recruiting to alumni relations and advancement.
                </p>
            </div>
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/o76GuNbUvDU?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Donor Management System Demo"
                    ></iframe>
                </div>
                <p>
                    Video: 1 Minutes, 38 Seconds
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Donor Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/donor-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Moves Management
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/moves-management/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Alumni Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/alumni-management-software/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
