---
# <!-- @formatter:off -->
title: Talisma Fundraising Features
meta-description: Review the features of Talisma® Fundraising, a donor management software by Campus Management designed for higher education and nonprofit organizations.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-donor-management-software.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <h2 class="b c-grey--800 ht--p--18">
                Alumni and Advancement
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Track and cultivate relationships with alumni, parents,
                    corporate sponsors, and donors
                </li>
                <li>
                    Assist in the preparation of the VSE (Voluntary Support of
                    Education) Survey
                </li>
                <li>
                    Maintain a single view of all interactions with donors and
                    prospects
                </li>
                <li>Generate reports and analysis by class years</li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Events Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Drive attendance and support for your events, from dinners
                    to golf tournaments
                </li>
                <li>
                    Create dedicated Web pages for events and enable
                    registration and payments online
                </li>
                <li>
                    Easily and efficiently track expenses and manage
                    sponsorships and vendors
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Honors and Memorials
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Manage acknowledgements to donors and family members
                </li>
                <li>
                    Gain comprehensive reporting tools for newspaper listings
                    and analysis
                </li>
                <li>
                    Leverage a simple gift-entry approach for multiple honors
                    without splitting gifts
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Membership
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Store in-depth and relevant information for every membership
                </li>
                <li>See membership histories at a glance</li>
                <li>Track retention, attrition, new member sources</li>
                <li>
                    Print membership cards for easy assembly of membership
                    packets
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Moves Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>Prospect profiling</li>
                <li>Research collecting</li>
                <li>Proposal management</li>
                <li>Cultivation tracking</li>
                <li>Major gifts solicitation</li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Online Fundraising
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Enable supporters to make donations and pledges quickly and
                    easily
                </li>
                <li>Expand awareness and outreach efforts worldwide</li>
                <li>
                    Dramatically reduce manual, paper-intensive processes
                </li>
                <li>
                    Automatically create gift batches based on information
                    entered by donors online
                </li>
                <li>
                    Enable members and donors to update account and address
                    information
                </li>
                <li>Customize your online giving page with your brand</li>
                <li>
                    Provide returning donors access to online giving history and
                    account information
                </li>
                <li>
                    Enable donors to give honor/memorial gifts or matching and
                    recurring pledge payments
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Planned Giving
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Track intentions such as bequests, insurance policies,
                    trusts, and annuities
                </li>
                <li>
                    Track solicitation efforts of donors for planned gifts
                    separately from other solicitation efforts
                </li>
                <li>
                    Use a tickler system that can remind you of upcoming moves
                    or actions to take
                </li>
                <li>
                    Report the value of a planned gift separately for annual and
                    capital campaigns to adhere to industry standards such as
                    CASE or AHP
                </li>
                <li>
                    Generate relevant and important reports including those with
                    expectancies, monthly updates, giving detail, and
                    cultivation process
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Scholarships
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>Track past and present scholarship recipients</li>
                <li>
                    Link scholarship recipients with scholarship donors and
                    sponsors
                </li>
                <li>
                    Correspond with recipients, advisors, media, and sponsors
                </li>
                <li>
                    Manage pledges as well as deferred and matching gifts
                </li>
                <li>Choose from a comprehensive suite of reports</li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Volunteer Management
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Track volunteer qualifications, certifications, awards, and
                    preferences
                </li>
                <li>
                    Leverage powerful scheduler to meet the needs of various
                    departments
                </li>
                <li>
                    Filter on the most qualified and interested volunteer
                    resources
                </li>
                <li>Assign volunteers tasks with point-and-click ease</li>
                <li>
                    Generate reminder and thank-you notices automatically
                </li>
            </ul>

            <h2 class="b c-grey--800 ht--p--18 header--has-top-border">
                Credit Card Processing (EFT)
            </h2>
            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Provide instant approval and authorization for credit cards
                </li>
                <li>
                    Enable direct withdrawals from checking or saving accounts
                </li>
                <li>
                    Provide a simple interface to build files for credit and
                    debit transactions at your financial institution each month
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Donor Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/donor-management-software/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Moves Management
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/moves-management/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Alumni Management Software
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/products/alumni-management-software/"
                        >More</a
                    >
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
