---
# <!-- @formatter:off -->
title: Using Analytics to Improve Student Success
menu-priority: 0.9
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-using-analytics-to-improve-student-success.jpg
additional-stylesheets:
    - href: /styles/pages/occupation-insight-demo.css
      inline: true
additional-scripts:
    - src: /scripts/page--occupation-insight-demos.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>

    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Explore these fully functional CampusNexus Occupation Insight
                demos.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--3">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Experience CampusNexus Occupation Insight
            </h2>
            <p class="ht--p--16-22">
                Experience Occupation Insight just like a student, faculty, or
                staff member would at your institution. See how you can harness
                current labor market data to track demand, align programs with
                what employers need, and provide students a roadmap to career
                success.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--3 box-v4 box-v4--2-3">
            <div class="right">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Career Explorer
                </h2>
                <p class="ht--s--24 c-grey--800">
                    In-Demand Career Insight, On Demand
                </p>
                <p class="ht--p--18 mb2--sm">
                    Experience how a student gains visibility into the
                    marketplace, the most in-demand careers, and the skills
                    employers are seeking.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-380464f1-c824-40cf-b4f9-713b69fe1f12"
                            ><span
                                class="hs-cta-node hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                id="hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                ><!--[if lte IE 8]>
                                    <div id="hs-cta-ie-element"></div
                                ><![endif]-->
                                <a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12.png"
                                        alt="Explore Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                if (typeof hbspt !== 'undefined') {
                                    hbspt.cta.load(
                                        2683119,
                                        '380464f1-c824-40cf-b4f9-713b69fe1f12',
                                        {},
                                    );
                                }
                            </script></span
                        >
                        <!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="left">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-career-explorer-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--3 box-v4 box-v4--3-2">
            <div class="left">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Program Explorer
                </h2>
                <p class="ht--s--24 c-grey--800">
                    All Your Programs, All Matched to Careers, All in One Place
                </p>
                <p class="ht--p--18 mb2--sm">
                    See how students, academic advisors and program directors
                    gain visibility into how an institution’s programs and
                    training align with the job market.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-40a78465-c163-4b36-9d58-88dd93598df6"
                            ><span
                                class="hs-cta-node hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                id="hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/40a78465-c163-4b36-9d58-88dd93598df6"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-40a78465-c163-4b36-9d58-88dd93598df6"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/40a78465-c163-4b36-9d58-88dd93598df6.png"
                                        alt="See Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    '40a78465-c163-4b36-9d58-88dd93598df6',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="right">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-program-explorer-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--3 box-v4 box-v4--2-3">
            <div class="right">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Occupation Dashboard
                </h2>
                <p class="ht--s--24 c-grey--800">
                    See into the Current and Future Job Market
                </p>
                <p class="ht--p--18 mb2--sm">
                    Gain instant insight into how jobs and employer needs are
                    trending both regionally and nationally.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-63708249-098f-4919-b9e5-534a8a3b7902"
                            ><span
                                class="hs-cta-node hs-cta-63708249-098f-4919-b9e5-534a8a3b7902"
                                id="hs-cta-63708249-098f-4919-b9e5-534a8a3b7902"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/63708249-098f-4919-b9e5-534a8a3b7902"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-63708249-098f-4919-b9e5-534a8a3b7902"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/63708249-098f-4919-b9e5-534a8a3b7902.png"
                                        alt="See Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    '63708249-098f-4919-b9e5-534a8a3b7902',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="left">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-dashboard-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--3 box-v4 box-v4--3-2">
            <div class="left">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Skill Demand Dashboard
                </h2>
                <p class="ht--s--24 c-grey--800">
                    Know What Skills Employers Are Seeking
                </p>
                <p class="ht--p--18 mb2--sm">
                    Drill down on the exact skills employer are looking for in
                    job candidates, including software skills and specialized
                    skills.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-a8d57f94-8d76-42ca-8870-47f174531c6f"
                            ><span
                                class="hs-cta-node hs-cta-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                id="hs-cta-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/a8d57f94-8d76-42ca-8870-47f174531c6f"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/a8d57f94-8d76-42ca-8870-47f174531c6f.png"
                                        alt="See Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    'a8d57f94-8d76-42ca-8870-47f174531c6f',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="right">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-skill-dashboard-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    {{>[pattern-box/consultation-request--oi]}}
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
