---
# <!-- @formatter:off -->
title: Uso de Analytics para Mejorar el Exito Estudiantil
menu-priority: 0.9
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /products/using-analytics-to-improve-student-success/
page-bg-image: /images/pages/products/occupation-insight-Demo-bkg.jpg
page-bg-classes: page-bg-image--centered
social-image: /images/pages/social/social-using-analytics-to-improve-student-success.jpg
additional-stylesheets:
    - href: /styles/pages/occupation-insight-demo.css
      inline: true
additional-scripts:
    - src: /scripts/page--occupation-insight-demos.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>

    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Explore los demos de CampusNexus Occupation Insight.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--3">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Conozca CampusNexus Occupation Insight
            </h2>
            <p class="ht--p--16-22">
                Experimente con Occupation Insight tal como lo haría un
                estudiante, facultad o miembro del personal de su institución.
                Considere como aprovechar datos actuales del mercado laboral,
                incluyendo ofertas y alineando programas que empleadores
                necesitan para proporcionar a los estudiantes un sendero para el
                éxito profesional.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--3 box-v4 box-v4--2-3">
            <div class="right">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Búsqueda de Trabajo
                </h2>
                <p class="ht--s--24 c-grey--800">
                    Carreras con Alta Demanda
                </p>
                <p class="ht--p--18 mb2--sm">
                    Conozca como un estudiante obtiene visibilidad dentro del
                    mercado laboral, las profesiones con mayor demanda y las
                    habilidades que buscan los empleadores.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-380464f1-c824-40cf-b4f9-713b69fe1f12"
                            ><span
                                class="hs-cta-node hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                id="hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                ><!--[if lte IE 8]>
                                    <div id="hs-cta-ie-element"></div
                                ><![endif]-->
                                <a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12.png"
                                        alt="Ver Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                if (typeof hbspt !== 'undefined') {
                                    hbspt.cta.load(
                                        2683119,
                                        '380464f1-c824-40cf-b4f9-713b69fe1f12',
                                        {},
                                    );
                                }
                            </script></span
                        >
                        <!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="left">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-career-explorer-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--3 box-v4 box-v4--3-2">
            <div class="left">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Búsqueda de Programas
                </h2>
                <p class="ht--s--24 c-grey--800">
                    Todos los Programas Combinados con Carreras en un Solo
                    Lugar.
                </p>
                <p class="ht--p--18 mb2--sm">
                    Observe como los estudiantes, asesores académicos y
                    directores de programas obtienen visibilidad en cuanto a
                    programas y capacitación institucional, encaminadas al
                    mercado laboral.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-40a78465-c163-4b36-9d58-88dd93598df6"
                            ><span
                                class="hs-cta-node hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                id="hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/40a78465-c163-4b36-9d58-88dd93598df6"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-40a78465-c163-4b36-9d58-88dd93598df6"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/40a78465-c163-4b36-9d58-88dd93598df6.png"
                                        alt="Ver Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    '40a78465-c163-4b36-9d58-88dd93598df6',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="right">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-program-explorer-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--3 box-v4 box-v4--2-3">
            <div class="right">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Panel de Profesiones
                </h2>
                <p class="ht--s--24 c-grey--800">
                    Ver el Mercado Laboral Actual y Futuro
                </p>
                <p class="ht--p--18 mb2--sm">
                    Obtenga información al instante en cuanto a tendencias de
                    empleos y necesidades de empleadores, tanto a nivel regional
                    como nacional.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-63708249-098f-4919-b9e5-534a8a3b7902"
                            ><span
                                class="hs-cta-node hs-cta-63708249-098f-4919-b9e5-534a8a3b7902"
                                id="hs-cta-63708249-098f-4919-b9e5-534a8a3b7902"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/63708249-098f-4919-b9e5-534a8a3b7902"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-63708249-098f-4919-b9e5-534a8a3b7902"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/63708249-098f-4919-b9e5-534a8a3b7902.png"
                                        alt="Ver Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    '63708249-098f-4919-b9e5-534a8a3b7902',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="left">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-dashboard-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--3 box-v4 box-v4--3-2">
            <div class="left">
                <h2 class="ht--s--36 c-theme-primary-dark">
                    Portal de Habilidades
                </h2>
                <p class="ht--s--24 c-grey--800">
                    Conozca que Habilidades Buscan los Empleadores
                </p>
                <p class="ht--p--18 mb2--sm">
                    Fortalezca en las habilidades exactas que busca el empleador
                    en los candidatos de trabajo, incluyendo habilidades de
                    software y habilidades especiales.
                </p>
                <ul class="pill-list pill-list--centered pill-list--hs-cta">
                    <li class="pill-list__item">
                        <!--HubSpot Call-to-Action Code --><span
                            class="hs-cta-wrapper"
                            id="hs-cta-wrapper-a8d57f94-8d76-42ca-8870-47f174531c6f"
                            ><span
                                class="hs-cta-node hs-cta-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                id="hs-cta-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                ><!--[if lte IE 8
                                    ]><div id="hs-cta-ie-element"></div><!
                                [endif]--><a
                                    href="https://cta-redirect.hubspot.com/cta/redirect/2683119/a8d57f94-8d76-42ca-8870-47f174531c6f"
                                    target="_blank"
                                    ><img
                                        class="hs-cta-img"
                                        id="hs-cta-img-a8d57f94-8d76-42ca-8870-47f174531c6f"
                                        style="border-width: 0px;"
                                        src="https://no-cache.hubspot.com/cta/default/2683119/a8d57f94-8d76-42ca-8870-47f174531c6f.png"
                                        alt="Ver Demo" /></a
                            ></span>
                            <script type="text/javascript">
                                hbspt.cta.load(
                                    2683119,
                                    'a8d57f94-8d76-42ca-8870-47f174531c6f',
                                    {},
                                );
                            </script></span
                        ><!-- end HubSpot Call-to-Action Code -->
                    </li>
                </ul>
            </div>
            <div class="right">
                <img
                    class="max-width-100 c border"
                    src="/images/pages/products/oi/OI-skill-dashboard-full-scrn.png"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
            </div>
        </div>
    </div>

    {{>[pattern-box/consultation-request--oi-es]}}
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
