@import 'common-imports';
@import 'base/util';
@import 'components/menu/headroom';
@import 'components/form-wall';
@import 'components/location-notification';
@import 'components/cmc-form--critical';

@font-face {
    font-weight: 300;
    font-family: 'Open Sans';
    font-style: normal;
    src:
        local('Open Sans Light'),
        local('OpenSans-Light'),
        url('/fonts/open-sans-v16-latin-300.woff2') format('woff2'),
        url('/fonts/open-sans-v16-latin-300.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: 'Open Sans';
    font-style: normal;
    src:
        local('Open Sans Regular'),
        local('OpenSans-Regular'),
        url('/fonts/open-sans-v16-latin-regular.woff2') format('woff2'),
        url('/fonts/open-sans-v16-latin-regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: 'Oswald';
    font-style: normal;
    src:
        local('Oswald Regular'),
        local('Oswald-Regular'),
        url('/fonts/oswald-v17-latin-regular.woff2') format('woff2'),
        url('/fonts/oswald-v17-latin-regular.woff') format('woff');
    font-display: swap;
}

.box-item--no-min-height {
    min-height: 0;
}

.menu-lang--en-us {
    .menu-lang--en-us {
        display: block;
    }

    .menu-lang--en-in,
    .menu-lang--es,
    .menu-lang--en-uk {
        display: none;
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-lang--en-in {
    .menu-lang--en-in {
        display: block;
    }

    .menu-lang--en-us,
    .menu-lang--es,
    .menu-lang--en-uk {
        display: none;
    }
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-lang--es {
    .menu-lang--es {
        display: block;

        &.inline {
            display: inline;
        }
    }

    .menu-lang--en-us,
    .menu-lang--en-in,
    .menu-lang--en-uk {
        display: none;
    }
}

.hidden--en-us {
    .menu-lang--en-us & {
        display: none;
    }
}

.hidden--en-in {
    .menu-lang--en-in & {
        display: none;
    }
}

.hidden--pt-br {
    .menu-lang--pt-br & {
        display: none;
    }
}

.hidden--es {
    .menu-lang--es & {
        display: none;
    }
}
