---
# <!-- @formatter:off -->
title: Green Mountain Higher Education Consortium
additional-stylesheets:
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img
        class="cmc-article__article-image"
        src="/images/pages/demos/banner-GMHEC-logo.png"
        alt=""
    />
    <h1 class="ht--p--14 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark cmc-article__subtitle">Campus Management Demo Presentation</p>

    <p class="ht--s--20 c-theme-tertiary article__intro">Discover how Campus Management is transforming higher
        education.
    </p>

    <p>We hope when you’ve explored everything from the demo agenda to the product information and videos, you’ll be as
        excited as we are about the prospect of our two communities working together to help the Green Mountain Higher
        Education Consortium mission become a reality.
    </p>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item">
            <a
                class="pill-button cmc-article__link"
                href="/documents/demos/GMHEC/GMHEC-Agenda.pdf"
                target="_blank"
                rel="noopener"
            >Agenda
            </a>
        </li>
    </ul>

</article>
{{/content}}

{{#content "after-body"}}
<div class="bgc-grey--100">
    <div class="box-row ">
        <div class="box-item box-item--has-auto-height col-xs-12 c">
            <h2 class="box-item__title ht--s--22">
                Jim Milton, CEO
            </h2>

            <div class="video-wrapper">
                <div
                    class="jwVideoPlayer"
                    id="jwVideoPlayer1b"
                >
                    <div class="loading--placeholder">Loading...</div>
                </div>
                <ul class="video-link-list is-hidden">
                    <li>
                        <span class="video-url priority--0 type--flash label--low">rtmp://ds8xcy.cloud.influxis.com/vod/_definst_/mp4:ManagedContent/gmhec-milton-intro-final-v4_h264_1000k_1080p_aac_64k.mp4</span>
                        <span class="video-url priority--0 type--html label--medium">https://ds8xcy.cloud.influxis.com/ManagedContent/gmhec-milton-intro-final-v4_h264_1000k_1080p_aac_64k.mp4</span>
                        <span class="title">Jim Milton, CEO</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bgc-white">
    <div class="box-row">

        <div class="box-item box-item--not-flex col-xs-12 ">
            <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                Campus Management Overview
            </h2>
            <img
                class="box-item__img c fr--sm"
                src="/images/pages/about-us/banner-about-us.png"
                alt=""
            >

            <p class="ht--p--14-075 box-item__text">
                Our mission is to deliver the higher education platform and services that allow you to transform your
                academic delivery, student success and operational efficiencies on your terms.
            </p>
            <div class="c">
                <a
                    class="pill-button box-item__link c"
                    href="/documents/demos/GMHEC/campus-management-executive-bios.pdf"
                    target="_blank"
                    rel="noopener"
                >Executive Bios
                </a>
            </div>
        </div>
    </div>
</div>


<div class="bgc-grey--200">
    <div class="box-row">

        <div class="box-item box-item--not-flex col-xs-12 ">
            <h2 class="box-item__title ht--s--22 c-grey--900 c">
                Product Resources
            </h2>
            <img
                class="box-item__img c fr--sm"
                src="/images/pages/home/Banner_productSheets.gif"
                alt="Product Resources"
            >

            <p class="ht--p--14-075 box-item__text">
                View a Product Sheet:
            </p>
            <ul class="list--normal list--has-lead-in ht--p--14-075 box-item__text">
                <li>
                    <a
                        href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                        target="_blank"
                        rel="noopener"
                    >
                        CampusNexus Student
                    </a>
                </li>
                <li>
                    <a
                        href="/docs/product-sheets/cmc/en-us/CampusNexusCRM-Product-Sheet-Campus-Management.pdf"
                        target="_blank"
                        rel="noopener"
                    >
                        CampusNexus CRM
                    </a>
                </li>
                <li>
                    <a
                        href="/docs/product-sheets/cmc/en-us/CampusNexusFinanceHR-Payroll-Product-Sheet-Campus-Management.pdf"
                        target="_blank"
                        rel="noopener"
                    >
                        CampusNexus Finance, HR &amp; Payroll
                    </a>
                </li>
            </ul>

            <p class="ht--p--14-075 box-item__text">View a Case Study:</p>

            <ul class="list--normal list--has-lead-in ht--p--14-075 box-item__text">
                <li>
                    <a
                        href="/docs/case-studies/cmc/en-us/CampusInsight-2016-Awards-LancasterBible-Case-Study.pdf"
                        target="_blank"
                        rel="noopener"
                    >
                        Lancaster Bible College Case Study
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>


<div class="bgc-white">
    <div class="box-row">

        <div class="box-item box-item--not-flex col-xs-12 ">
            <h2 class="box-item__title ht--s--22 c-grey--900 c">
                The Learning Center
            </h2>
            <img
                class="box-item__img c fr--sm"
                src="/images/pages/demos/box-demo-training.png"
                alt="Training"
            >

            <p class="ht--p--14-075 box-item__text">
                Campus Management training services offer curriculums designed around the working world of each
                department within your institution.
            </p>
            <p class="ht--p--14-075 box-item__text">
                Each user gains the depth and breadth of knowledge to take advantage of the full potential of each
                product. From beginner- to advanced-level courses, the Learning Center covers the spectrum of products
                and proficiency levels.
            </p>
            <p class="ht--p--14-075 box-item__text">
                Offered in a variety of learning formats, including online, onsite or at one of Campus Management's
                facilities, courses from the Learning Center can increase productivity and improve practical, day-to-day
                use of a range of products within the CampusNexus<sup>®</sup> suite.
            </p>
        </div>
    </div>
</div>

<div class="bgc-grey--200">
    <div class="box-row">

        <div class="box-item box-item--not-flex col-xs-12 ">
            <h2 class="box-item__title ht--s--22 c-grey--900 c">
                Online Community
            </h2>
            <img
                class="box-item__img c fr--sm"
                src="/images/pages/demos/box-demo-supprt.png"
                alt="Support"
            >
            <h3 class="ht--p--400 ht--p--16 c-grey--900 article__subtitle">
                MyCampusInsight
            </h3>

            <p class="ht--p--14-075 box-item__text">
                MyCampusInsight provides clients access to an online community of users and opportunities to review and
                vote on the company’s product roadmap, enabling direct communication to top managers and company
                executives on the future of its software releases.
            </p>
            <h3 class="ht--p--400 ht--p--16 c-grey--900 article__subtitle">
                ServiceDesk
            </h3>
            <p class="ht--p--14-075 box-item__text">
                ServiceDesk is your institution’s window on the progress and resolution of current service or technical
                issues with Campus Management’s products. View the progress of incidents opened by users within your
                institution. Contribute information. Add users to your watchlist.
            </p>
            <h3 class="ht--p--400 ht--p--16 c-grey--900 article__subtitle">
                User Forums
            </h3>
            <p class="ht--p--14-075 box-item__text">
                Campus Management’s User Forum is where clients share experiences, best practices, and helpful tips on
                using CampusNexus products. Join the conversation. Ask questions. Gain knowledge and insight from users
                at other institutions.
            </p>
        </div>
    </div>
</div>
{{/content}}

{{/extend}}
