---
# <!-- @formatter:off -->
title: Contact Campus Management
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/demo-sign-in.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="cmc-article">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">Welcome</h1>
        <p class="ht--p--14-075 header__subtitle">Please Sign In below</p>
    </div>

    <form
        id="requestDemoForm"
        class="cmc-form cmc-form--centered js--simple-form"
        action="demo-sign-in/?site=cmc&group=GMHEC"
        data-success-redirect-url="/demos/GMHEC/sign-in-complete/"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="firstName">First Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="firstName" id="firstName" />
                    </div>
                </li>
                <li>
                    <label class="required" for="lastName">Last Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="lastName" id="lastName" />
                    </div>
                </li>
                <li>
                    <label for="title">Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="title" id="title" />
                    </div>
                </li>
                <li>
                    <label class="required" for="email">Email</label>
                    <div class="input-wrapper">
                        <input type="email" name="email" id="email" />
                    </div>
                </li>
                <!--
                <li>
                    <label class="required" for="institution">Institution</label>
                    <div class="input-wrapper">
                        <input type="text" name="institution" id="institution" required/>

                    </div>
                </li>
                -->
                <li>
                    <label class="required" for="institution"
                        >Institution</label
                    >
                    <div class="input-wrapper">
                        <select name="institution" id="institution" required>
                            <option value=""></option>
                            <option value="Champlain College"
                                >Champlain College</option
                            >
                            <option value="Middlebury College"
                                >Middlebury College</option
                            >
                            <option value="Saint Michael’s College"
                                >Saint Michael’s College</option
                            >
                        </select>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button
                        type="submit"
                        class="pill-button cmc-form__submit-button"
                        name="btnSave"
                    >
                        Sign In
                    </button>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
{{/content}} {{/extend}}
