---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
additional-stylesheets:
  - href: /styles/pages/demo-sign-in.css
    inline: true
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<script>
    setTimeout(function () {
        document.location = '{{url-lang-prefix}}/demos/GMHEC/sign-in/'
    }, 5000)
</script>
<div class="cmc-article">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 header__title">Thank You</h1>
        <p class="ht--p--14-075 header__subtitle">Enjoy the demo</p>
    </div>

    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li>
            <a
                href="{{url-lang-prefix}}/demos/GMHEC/sign-in/"
                class="pill-button cmc-article__link"
            >Next Person
            </a>
        </li>
    </ul>

</div>
{{/content}}


{{/extend}}
