{{#extend "hb-layouts/v3"}}
    {{#content "body"}}
        <div class="container">
            <img class="block c fr--sm mb1" src="{{banner-image}}" alt=""/>
            <h2 class="ht--s--38-45">{{title}}</h2>
        </div>
        <div class="container">
            <ul class="blog-entries">
                {{#each pagination.files}}
                    <li>
                        <article>
                            <header>
                                <h2><a href="/{{path}}">{{title}}</a></h2>
                                <p>By {{author}} on {{blogFormatDate publishFormatted}}</p>
                                {{>blog-category-list}}
                            </header>
                            {{snippet}}
                        </article>
                    </li>
                {{/each}}
            </ul>

            <p>
                {{#if pagination.previous}}
                    <a href="/{{pagination.previous.path}}">Newer</a>
                {{/if}}
                {{#if pagination.next}}
                    <a href="/{{pagination.next.path}}">Older</a>
                {{/if}}
            </p>
        </div>
    {{/content}}


    {{#content "after-body"}}
        <div class="container">
            <a href="/blog/" class="blog-home-link">Blog Home</a>
            {{>quick-launch--blog-archive}}
            {{>quick-launch--blog-categories}}
        </div>
    {{/content}}

{{/extend}}
