{{#each files}}
    {{#if (or in-nav--en-us in-nav--en-in in-nav--en-uk in-nav--pt-br in-nav--es)}}
        <li
            id="navMenuItem_{{shortName}}_{{#ifDefined 'currentDepth'}}sub{{else}}top{{/ifDefined}}"
            class="{{#if files}}has-children{{/if}} main-nav__pages-list-item"
            {{#if in-nav--en-us}}data-in-nav--en-us{{/if}}
            {{#if in-nav--en-in}}data-in-nav--en-in{{/if}}
            {{#if in-nav--en-uk}}data-in-nav--en-uk{{/if}}
            {{#if in-nav--pt-br}}data-in-nav--pt-br{{/if}}
            {{#if in-nav--es}}data-in-nav--es{{/if}}
        >
            <a
                href="{{#if this.isActiveFile}}#main{{else}}{{href}}{{/if}}"
                {{#if this.isActiveFile}}aria-current="page"{{/if}}
                class="{{activeMenuItemClass this}} main-nav__page-list-link"
                {{#if label--en-in}}
                    data-label--en-in="{{label--en-in}}"
                {{/if}}
                {{#if label--es}}
                    data-label--es="{{label--es}}"
                {{/if}}
                {{#if (or label--en-in label--es)}}
                    data-label--en-us="{{label}}"
                {{/if}}
            >{{label}}</a>
            {{#childIsShowInLeftNav files}}
                <ul class="main-nav__pages-sub-list">
                    {{>collection-data-loop/main-nav this}}
                </ul>
            {{/childIsShowInLeftNav}}
        </li>
    {{/if}}
{{/each}}
