{{~#each files ~}}
    {{~#unless meta-description~}}
    "{{label}}","{{href}}","{{publish}}","{{meta-description}}"!
    {{/unless}}
    {{#if files}}
        {{~>collection-data-loop/metadata this ~}}
    {{/if}}
{{~/each ~}}
