<ul>
    {{#each files}}
        {{#if show-in-quick-launch}}
            <li>
                <a href="{{href}}" class="menu-item {{activeMenuItemClass this}}">
                    <span class="menu-item-text">{{label}}</span>
                </a>
                {{#if files}}
                    {{>collection-data-loop/quick-launch this}}
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
</ul>
