<ul class="sitemap {{class}}">
    {{#each files}}
        <li>
            {{maxChars label 55}}
            <span class="sitemap-item-details">
                <span class="sitemap-item-details__in-menu">
                    {{#unless show-in-left-nav}}
                        hidden from menu
                    {{/unless}}
                </span>
                <span class="sitemap-item-details__link"><a href="{{href}}">link</a></span>
            </span>
            {{#if files}}
                {{>collection-data-loop/sitemap this}}
            {{/if}}
        </li>
    {{/each}}
</ul>
