<div class='horizontal-menu__wrapper'>
    <ul class='s3-doc-list__menu sf-menu horizontal-menu'></ul>
</div>
<div class='bgc-grey--100'>
    <div class='horizontal-menu__pagination-wrapper'>
        <div class='box-v4 box-v4--1-1'>
            <div class='left mb0'>
                <span class='horizontal-menu__selected-filter-text'></span>
            </div>
            <div class='right r'>
                <nav
                    aria-label='document pagination'
                    class='s3-doc-list__pagination'
                ></nav>
            </div>
        </div>
    </div>
</div>
<div class='s3-doc-list'></div>
<div class='bgc-grey--100'>
    <div class='horizontal-menu__pagination-wrapper'>
        <div class='block r'>
            <nav
                aria-label='document pagination'
                class='s3-doc-list__pagination'
            ></nav>
        </div>
    </div>
</div>
