{{#each this}}

    {{#ifModEq @index 3 0}}
        {{#unless @first}}
            </div>
            </div>
        {{/unless}}

        {{#ifModEq @index 6 0}}
            <div class="bgc-grey--200">
        {{else}}
            <div class="bgc-grey--300">
        {{/ifModEq}}
        <div class="container container--color-boxes box-v4 box-v4--flex-1-3 upcoming-webinar-row">
    {{/ifModEq}}

        <div
            class="upcoming-webinar
        {{#ifModEq @index 6 0}}bgc-grey--200{{/ifModEq}}
                {{#ifModEq @index 6 1}}bgc-grey--300{{/ifModEq}}
                {{#ifModEq @index 6 2}}bgc-grey--200{{/ifModEq}}
                {{#ifModEq @index 6 3}}bgc-grey--300{{/ifModEq}}
                {{#ifModEq @index 6 4}}bgc-grey--200{{/ifModEq}}
                {{#ifModEq @index 6 5}}bgc-grey--300{{/ifModEq}}
            "
        >
            <div class="upcoming-webinar--row__content">
                <p class="upcoming-webinar__date">{{displayDate}}</p>
                {{#if thumbnail}}
                    <div
                        class="upcoming-webinar__img"
                        style="background-image: url({{thumbnail}})"
                    ></div>
                {{/if}}
                <h3 class="ht--s--22 c upcoming-webinar__title c-theme-primary-dark">
                    {{title}}
                </h3>
                <p class="ht--p--14-075 upcoming-webinar__text">
                {{{ description }}}
                </p>
                <a
                    class="pill-button block bottom c mb1"
                    href="{{onDemandUrl}}"
                    target="_blank"
                    rel="noopener"
                    >{{safeValue buttonText 'Register'}}
                </a>
            </div>
        </div>

    {{#if @last}}
        {{#ifModEq @index 3 0}}
                <div
                    class="hidden-xs
                        {{#ifModEq @index 6 0}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 1}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 2}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 3}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 4}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 5}}bgc-grey--200{{/ifModEq}}
                   "
                >&nbsp;
                </div>
                <div
                    class="hidden-xs
                        {{#ifModEq @index 6 0}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 1}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 2}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 3}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 4}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 5}}bgc-grey--300{{/ifModEq}}
                "
                >&nbsp;
                </div>
        {{/ifModEq}}
        {{#ifModEq @index 3 1}}
                <div
                    class="hidden-xs
    `                   {{#ifModEq @index 6 0}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 1}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 2}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 3}}bgc-grey--200{{/ifModEq}}
                        {{#ifModEq @index 6 4}}bgc-grey--300{{/ifModEq}}
                        {{#ifModEq @index 6 5}}bgc-grey--200{{/ifModEq}}
                "
                >&nbsp;
                </div>
        {{/ifModEq}}
        </div>
        </div>
    {{/if}}

{{/each}}
