---
# <!-- @formatter:off -->
title: Current Openings
meta-description: Campus Management offers professional career opportunities in software development, project management, services and account management, sales, marketing, finance, and other areas.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/about-us/about-us-blue.jpg
page-bg-image--xs: /images/pages/about-us/careers-410x730-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
additional-stylesheets:
    - href: /styles/pages/current-openings.css
      inline: true
    - href: /styles/pages/has-document-links-list.css
      inline: true
additional-scripts:
    - src: /scripts/page--current-openings.js
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}} {{#isnt NODE_ENV 'production'}}
<script>
    const pressReleasesPreloadData = [
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '529035',
            joblistintnum: '',
            jobtitle: 'Client Services Finance/Payroll D365 Analyst',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Client Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Client Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p><span>The Client Services Finance/Payroll D365 Analyst is responsible for supporting the Campus Management customer base with product-related issues for our CampusNexus Finance, HR, and Payroll product which is built on Microsoft Dynamics Finance application.&nbsp; The role involves working closely with other analysts and departments in order to provide effective and high-quality technical support services.&nbsp; The Client Services department consists of various specialized teams with a wide range of functions and responsibilities dependent upon the software application. The right candidate for this role has a passion for customer service and embraces a customer-centric attitude in all aspects of customer success.</span>&nbsp;</p>\r\n<p><span style="font-family: \'Helvetica Neue\', Helvetica, Arial, sans-serif;"></span><span>The Client Services Finance/Payroll D365 Analyst is responsible for providing application support for CMC software as well as Microsoft Dynamics expertise, including:</span></p>\r\n<ul>\r\n    <li>Account ownership and customer-centric mindset for all designated/assigned customers</li>\r\n    <li>Follows established guidelines, department SOP, and industry best practices to resolve customer issues</li>\r\n    <li>Provides problem resolution for end-users, including research on various data and reporting issues, and collaborates to gain input on potential solutions</li>\r\n    <li>Provides training and best practices, and keeps users well informed on the proper use of Microsoft Dynamics Finance and CampusNexus Finance, HR, and Payroll</li>\r\n    <li>Maintains extensive knowledge of current versions of the company&rsquo;s proprietary applications such as CampusNexus Finance HR and Payroll, CampusNexus Student, etc.</li>\r\n    <li>Recommends functional configurations and proposes business solutions where appropriate</li>\r\n    <li>Evaluates upcoming releases and recommends installation of beneficial upgrades</li>\r\n    <li>Effectively and professionally communicates updates to the customer by providing prompt and consistent follow-up on all unresolved issues and recording all actions in the approved help desk system</li>\r\n    <li>Builds and maintains knowledge of the database structure, configuration files, integrations and business flows to assist with issue investigation and resolution</li>\r\n    <li>Escalates issues to management as appropriate</li>\r\n    <li>Follows established guidelines and industry best practices to resolve customer issues</li>\r\n    <li>Assists with the creation of Client Services documentation, including Knowledge Base articles</li>\r\n    <li>Builds and maintains knowledge of the configurations, integrations, and business flows to assist with issue investigation and resolution</li>\r\n    <li>Serves as a coach and mentor to designated Client Services team members</li>\r\n    <li>Achieves and exceeds established department and company KPIs and goals</li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                "<ul>\r\n    <li>2+ years of experience in financial consulting or a business analyst role relating to the Microsoft Dynamics 365 application </li>\r\n    <li>(Module experience preference in order):</li>\r\n    <li>Payroll (or Payroll Management system experience)</li>\r\n    <li>Accounts Payable</li>\r\n    <li>General Ledger</li>\r\n    <li>Cash and Bank</li>\r\n    <li>Fixed Assets</li>\r\n    <li>Procurement</li>\r\n    <li>Bachelor's degree or equivalent work experience (Accounting, Finance, or MIS related field)</li>\r\n    <li>Successful completion of current Microsoft certification exams (MB-300/MB-310)</li>\r\n    <li>2+ years of customer service experience preferred</li>\r\n    <li>2+ years of Higher Education industry experience preferred&nbsp;</li>\r\n    <li>Must demonstrate an understanding of basic accounting fundamentals (i.e. balancing ledger cards, releasing to ledgers, payment plans, account reconciliations) to help users reconcile reports and identify discrepancies in reporting practices</li>\r\n    <li>Solid analytical and troubleshooting skills</li>\r\n    <li>Solid understanding of data structures and the ability to identify recurring patterns</li>\r\n    <li>Ability to work with moderate supervision on escalated issues and can prioritize, investigate and resolve them with minimal guidance from others</li>\r\n    <li>Experience working with customers and maintaining good customer relationships</li>\r\n    <li>Ability to quickly establish rapport, gain and maintain credibility with diverse audiences</li>\r\n    <li>Must have solid verbal and written communication skills and can communicate at all levels of the company</li>\r\n    <li>Communicate complex technical issues to both technical and non-technical users in a professional and understandable manner</li>\r\n    <li>Proficient in Microsoft Office Suite</li>\r\n    <li>Experience with MS SQL preferred</li>\r\n    <li>Experience with MS SSRS and Power BI preferred</li>\r\n</ul>",
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=529035&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=529035&cid=5915',
            modifydate: '5/15/2020',
            createdate: '5/12/2020',
            publicdate: '',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '522224',
            joblistintnum: '',
            jobtitle: 'Cloud Architect',
            jobloc: '1003',
            joblocname: 'Boca Raton, FL - Corporate HQ',
            jobloccity: 'Boca Raton',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'us',
            jobloccountryname: 'United States',
            jobcatname: 'Cloud Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Cloud Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                "<p>The Cloud Services team is seeking a highly skilled and experienced <strong>Cloud Architect </strong>who will be responsible for the organization's continued infrastructure modernization into the Azure cloud.&nbsp; The Architect will work across internal departments to design and implement new cloud-based solutions while also educating internal employees on cloud best practices.</p>\r\n<ul>\r\n    <li>Create and maintain cloud governance.</li>\r\n    <li>Enhance cloud infrastructure automation.</li>\r\n    <li>Design and execute cloud cost-saving measures.</li>\r\n    <li>Security harden Azure IaaS and PaaS infrastructure.</li>\r\n    <li>Assist DevOps teams with pipeline deployments.</li>\r\n    <li>Initiate new cloud solutions by documenting the project and the cost impact.</li>\r\n    <li>Enabling and facilitating Proof of Concepts.&nbsp;</li>\r\n    <li>Azure evangelist, trainer &amp; hands-on lead for the cloud operations team. </li>\r\n    <li>Maintain a deep technical knowledge of Microsoft data center technologies, including Active Directory, Office 365, Azure, SCCM, and Windows Servers. </li>\r\n    <li>Able to give technical guidance to team members.&nbsp;&nbsp;</li>\r\n    <li>Work with the appropriate teams to respond to incidents and to take charge when needed.  </li>\r\n    <li>Migrate on-premises workloads to the cloud.</li>\r\n    <li>Proactively adopt new cloud infrastructure and technologies.</li>\r\n    <li> Manage environments in Azure to ensure optimal security, performance, scalability, availability, and operations.</li>\r\n</ul>",
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Bachelor\'s degree in Computer Science or related technical experience</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Azure certification preferred</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">(3) years or more experience with architecting solutions involving one or more cloud service providers Microsoft Azure, AWS, GCP, etc.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">(5) years or more experience in an IT professional role</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience in architect, design, deployment of enterprise applications and systems</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Familiarity with Cloud Design Patterns</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience with implementing cloud governance</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience with securing, managing and deploying Azure IaaS and PaaS solution</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience in deploying ARM templates</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience with Azure automation and creating runbooks</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Scripting in PowerShell and Azure CLI</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience communicating across audiences of various levels of technical backgrounds.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Understanding of Microsoft server products and/or complementing solutions.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Have a sound understanding of standard networking protocols such as HTTP, DNS, TCP/IP, virtual networks, and Load Balancing.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience with monitoring tools, network monitoring systems, and APMs; such as Application Insight, Azure Monitor, Operations Management Suite, Network Watcher, Nagios, LogicMonitor, New Relic, AppDynamic, DataDog or similar.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Demonstrated knowledge of DNS, Routing/Switching, Monitoring, SSL Certificates, File Servers, Security, Performance, High Availability, Redundancy, and Disaster Recovery.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Familiarity with SIEM and log analytical languages.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Experience working in on-call rotations.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Great organizational skills and customer service.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Adapatable to changing environment.</li>\r\n    <li class="BulletedList" style="margin-left: 0.25in;">Demonstrate effective time management .</li>\r\n</ul>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=522224&cid=5915&locvalue=1003',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=522224&cid=5915',
            modifydate: '1/7/2020',
            createdate: '12/31/2019',
            publicdate: '12/31/2019',
            location: {
                address: '',
                city: 'Boca Raton',
                state: 'FL',
                statename: 'Florida',
                zip: '33431',
                country: 'us',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '517370',
            joblistintnum: '',
            jobtitle: 'D365 Technical Consultant',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Professional Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p class="MsoNormal" style="text-align:justify;">Campus Management is looking for a highly\r\nskilled<strong> D365 Finance and Operations Technical Consultants&nbsp;</strong>with a strong\r\nbackground in building scalable, predictable, high-quality and high-performance\r\nsolutions on the Microsoft technology. Consultant is responsible for providing\r\nanalysis, design and development of D365FO custom functionality, develop and\r\nupdate SSRS reports, Application Integration Framework, provide technical\r\nguidance to IT team, install and configure Dynamics 365 F&amp;O software,\r\nproficient with SQL Server, Data Migration Framework, basics of Enterprise\r\nPortal. The Technical Consultant is responsible for the configuration of\r\nDynamics 365 F&amp;O installations and Add-ons, as well as for training and\r\nassisting clients&rsquo; IT in maintaining the Dynamics 365 F&amp;O software. Apart\r\nfrom development, the consultant may also get involved with providing technical\r\nsupport, troubleshooting, performance optimizations, code modifications and post\r\ngo-live enhancements. He/she will provide technical and infrastructure know-how\r\nand manage client relationships within context of individual role.</p>\r\n<p class="MsoNormal"><strong><span style="text-decoration-line: underline;">&nbsp;</span></strong></p>\r\n<p class="MsoNormal"><strong><span style="text-decoration-line: underline;">Essential Job Responsibilities</span></strong></p>\r\n<ul>\r\n    <li style="text-align: justify;">Understand Functional Design Documents, create Technical Design Document, present the technical and security aspects of the solution to the customers, develop and test the X++ code, SSRS reports, integrations/data migrations with legacy systems, web services, extensions, configuring workflows, debug and resolve any issues with the delivery.</li>\r\n    <li style="text-align: justify;">Interact closely with Integration analyst/ architects to understand software requirements and design solutions</li>\r\n    <li style="text-align: justify;">Assist Integration Architects with providing estimates for Integration Solutions.</li>\r\n    <li style="text-align: justify;">Provide development support and assistance for customer escalations and issues, including off-hours</li>\r\n    <li style="text-align: justify;">Multi-task many projects effectively</li>\r\n    <li style="text-align: justify;">Responsible for quality and accountability of deliverables</li>\r\n    <li style="text-align: justify;">Prioritize and schedule assignments to meet team deadlines and goals</li>\r\n    <li style="text-align: justify;">Participate in a small, experienced, energetic team on a rapid development schedule.</li>\r\n    <li style="text-align: justify;">Should be comfortable with direct communication with all levels of technical and business resources.</li>\r\n    <li>Must be able to interact well with multiple priorities in an extremely dynamic environment, initiating necessary tasks and ensuring complete follow up</li>\r\n    <li style="text-align: justify;">All other responsibilities as assigned.</li>\r\n</ul>\r\n<p class="MsoNormal"><strong><span style="text-decoration-line: underline;"></span></strong></p>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li>Bachelor&rsquo;s degree or higher in CS, CIS, or related field.</li>\r\n    <li>Solid Object Oriented Programming skills</li>\r\n    <li style="background: white;"><span>Good understanding of all Software Development Life Cycle Phases</span></li>\r\n    <li style="background: white;"><span>4+ years supporting new and existing customers in Microsoft Dynamics 365 F&amp;O.</span></li>\r\n    <li style="background: white;"><span>Experience in code extensions in Microsoft Dynamics 365 F&amp;O using .NET, X++ and including data migration effort.</span></li>\r\n    <li style="background: white;"><span>Experience in D365FO report extensions using SSRS</span></li>\r\n    <li>Experience with extension methodologies for customizing Dynamics 365</li>\r\n    <li>Understanding of Dynamics 365 FO Model Split and Form Patterns</li>\r\n    <li>Experience in building and deploying Dynamics 365 deployable packages for both core Dynamics 365 and Retail SDK</li>\r\n    <li>Familiarity working with Visual Studio Team Services or Team Foundation Server for version/source control</li>\r\n    <li>Experience in building and consuming of Data Entities (OData)</li>\r\n    <li>Configuring D365FO workflows and technical support to troubleshoot and resolve issues</li>\r\n    <li>Technical analysis and development in D365FO, including data and code upgrade from different versions, technical design solutioning and integrations</li>\r\n    <li>Dynamics 365 F&amp;O Certifications&nbsp;Preferred</li>\r\n    <li>Strong organizational, writing, interpersonal and communication skills, attention to details, ability to multi-task and meet deadlines.</li>\r\n    <li>Performance tuning, code profiling, code review, hands on experience using Best Patterns and Practices </li>\r\n    <li>Good understanding and experience on Enterprise Integration Patterns, B2B, EAI and EII integrations</li>\r\n    <li>Knowledge of Student Information System and HR, Payroll, AP/AR, GL module is a plus.</li>\r\n    <li>Must be able to travel up to 25%.</li>\r\n</ul>\r\n<p>&nbsp;</p>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=517370&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=517370&cid=5915',
            modifydate: '12/2/2019',
            createdate: '10/10/2019',
            publicdate: '',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '520738',
            joblistintnum: '',
            jobtitle: 'Enterprise Architect',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Integration Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Integration Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p>The Technical Services team is seeking a highly skilled and experienced <strong>Enterprise Architect</strong> with a strong background in building scalable, predictable, high-quality and high-performance solutions for the Microsoft technology.&nbsp; As an Architect, you will be responsible for leading the development of the Solutions architecture for higher education customers and will be accountable for the design, development and execution of programs, overall direction, guidance, definition and facilitation for the development of Enterprise Architecture and solution architecture capabilities and technology required to meet business strategies and goals.&nbsp; The Architect will work with a team of experienced analysts, architects, consultants, developers, and business resources to build high-performance enterprise-level solutions.&nbsp;&nbsp;</p>\r\n<p>Enterprise Architect will be responsible for leading the development of the Solutions architecture for higher education customers. She/he will be accountable for the design, development, and execution of programs, overall direction, guidance, definition, and facilitation for the development of Enterprise Architecture and solution architecture capabilities and technology required to meet business strategies and goals.</p>\r\n<ul>\r\n    <li>Interact closely with Solution Consultants, Product Team, Business Analysts, Integration analyst/ architects and developers.&nbsp;</li>\r\n    <li>Provide development support and assistance for customer escalations and issues, including off-hours.</li>\r\n    <li>Multi-task many projects effectively under Global delivery model.</li>\r\n    <li>Responsible for quality and accountability of deliverables.</li>\r\n    <li>Prioritize and schedule assignments to meet team deadlines and goals.</li>\r\n    <li>Share knowledge through knowledge-sharing presentations.</li>\r\n    <li>Participate in a small, experienced, energetic team on a rapid development schedule.</li>\r\n    <li>Should be comfortable with direct communication with all levels of technical and business resources.</li>\r\n    <li>Must be able to interact well with multiple priorities in an extremely dynamic environment, initiating necessary tasks and ensuring complete follow up.</li>\r\n    <li>All other responsibilities as assigned.</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Bachelor&rsquo;s degree or higher in CS, CIS, or related field preferred.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Excellent analytical skills and solid object-oriented programming skills.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Demonstrated knowledge of Software Development life cycle phases.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">10+ years of development experience using Microsoft technologies.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Microsoft Dynamics 365 technical implementation experience</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Solid knowledge of .NET framework 4.5 or higher, C#, MVC, WCF Web Services, Windows Workflow, Visual Studio 2015 and higher, REST, SOA, object serialization for XML/JSON.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Experience in HTML5/CSS/JavaScript frameworks such as AngularJS and TypeScript.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Performance tuning, code profiling, code review, hands-on experience using best patterns and practices.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Experience on Enterprise Integration Patterns, B2B, EAI, and EII integrations.</span></li>\r\n    <li style="margin-left: 0.25in; text-align: justify;"><span style="background: white; color: #333333;">Microsoft Certification preferred&nbsp;&ndash; Azure certifications.</span></li>\r\n    <li style="margin-left: 0.25in;"><span style="background: white; color: #333333;">Higher Education software implementation experience preferred</span></li>\r\n    <li style="margin-left: 0.25in;"><span style="background: white; color: #333333;">Understanding of higher education lifecycles and processes a plus.</span></li>\r\n    <li style="margin-left: 0.25in;"><span style="background: white; color: #333333;">Must be flexible to travel up to 70%.</span></li>\r\n</ul>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=520738&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=520738&cid=5915',
            modifydate: '1/14/2020',
            createdate: '12/3/2019',
            publicdate: '',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '530653',
            joblistintnum: '',
            jobtitle: 'Implementation Consultant (CRM)',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Professional Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p><span>The Implementation Consultant is part of a project team assisting in implementing and training Campus Management Corporation&rsquo;s software solution at customer sites.&nbsp; This includes learning Campus Management software, gathering and reviewing customer business practices and existing data, configuring software, training end users on the software and writing status reports.&nbsp; The consultant must be proactive, self-starting, professional, able to travel, willing to work extra hours, and strive for consistent high-quality results.</span></p>\r\n<ul>\r\n    <li><span>&nbsp;</span><span>Perform assigned project tasks with minimal supervision.</span></li>\r\n    <li><span>&nbsp;</span><span>Follow established methodology to meet project deliverables for all assigned tasks.</span></li>\r\n    <li><span>Recognize potential solutions to a business problem to ensure the best alternative is selected for the client within the project scope.</span></li>\r\n    <li><span>Provide required documentation for tasks including design documentation, technical specifications, user procedures, test plans, and status reports.</span></li>\r\n    <li><span>Communicate information clearly, accurately and timely to project team members and clients.</span></li>\r\n    <li><span>Train client staff on the solution functionality.</span></li>\r\n    <li><span>Identify, recognize and escalate risks and issues.</span></li>\r\n    <li><span>Seek out and participate in learning activities to enhance knowledge of technologies, software packages, and the industry.</span></li>\r\n    <li><span>Foster an environment of teamwork both internally and externally.</span></li>\r\n    <li><span>Actively participate in performance plans and evaluations. </span></li>\r\n    <li><span>Initiate recommendations for personal education and career objectives. </span></li>\r\n    <li><span>Accepts constructive feedback and works towards achieving the established goals.</span></li>\r\n    <li><span>Participate in project quality assurance reviews as necessary.</span></li>\r\n    <li><span>Participate in and support, company-sponsored local/regional/national professional groups and organizational activities.</span></li>\r\n    <li><span>Assist in developing internal training materials and project productivity tools.</span></li>\r\n    <li><span>Assist in the production of company briefing, marketing/business development presentations, and journal articles.</span></li>\r\n    <li><span>Participate in business development activities when requested.</span></li>\r\n    <li><span>Assist in the recruiting of qualified consultants.</span></li>\r\n    <li>Submits Time and Expense Reports each week according to company policy.</li>\r\n    <li>Conduct/participate in status team meetings.</li>\r\n    <li>Provide Project Manager and client management with ongoing progress reports according to the project charter, at minimum ever week. </li>\r\n    <li>Understand and adhere to established project management policies and procedures; including meeting project budgets and scope, project status reports and project documentation.</li>\r\n    <li>Contribute as appropriate to the development of project scope and structure.</li>\r\n    <li>Contribute to the management of the project goals and client expectations.</li>\r\n    <li> Notify Project Manager of potential new business opportunities.</li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li>A Bachelor&rsquo;s degree in finance, business administration, information technology, or related field</li>\r\n    <li>4+ years working with Microsoft Dynamics required. </li>\r\n    <li>Microsoft Power Platform + Dynamics 365 Core certification preferred.&nbsp;</li>\r\n    <li>Microsoft Power Apps + Dynamics 365 Developer certification preferred.&nbsp;</li>\r\n    <li>Higher Education industry experience preferred.&nbsp;</li>\r\n    <li>CRM experience preferred and Student Information System experience a plus.</li>\r\n    <li>Financial Aid experience a plus. </li>\r\n    <li>Relational database management including queries, reporting, and administration preferred.&nbsp;</li>\r\n    <li>Demonstrated experience conducting presentations, conducting one-on-one and/or on-the-job training, classroom training and/or online/webcast training.&nbsp;</li>\r\n    <li>Proficient in all Microsoft Office applications. </li>\r\n    <li>Experience with project management software preferred.&nbsp;</li>\r\n    <li>Previous experience with other software applications such as database and reporting programs preferred.&nbsp;</li>\r\n    <li>Ability to adapt to new technologies.&nbsp;</li>\r\n    <li>Excellent written and oral communication skills.&nbsp;</li>\r\n    <li>Excellent presentation and training skills. Proven effective listening skills.&nbsp;</li>\r\n    <li>Ability to work independently or as part of a team to accomplish assigned tasks.</li>\r\n    <li>Establish a positive, professional relationship with client staff; inclusive of professional demeanor, conduct, and appearance.</li>\r\n    <li>Establish proper communication channels with client personnel and respond appropriately to all client concerns/requests.</li>\r\n    <li>Ability to quickly establish rapport, gain and maintain credibility with diverse audiences. </li>\r\n    <li>Demonstrate strong analytical and logical thinking skills.</li>\r\n    <li>Self-starter with troubleshooting capabilities.&nbsp;</li>\r\n    <li>Works proactively and cooperatively in a team environment to accomplish project deliverables within a defined schedule.&nbsp;</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=530653&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=530653&cid=5915',
            modifydate: '6/16/2020',
            createdate: '6/15/2020',
            publicdate: '6/15/2020',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '510156',
            joblistintnum: '',
            jobtitle: 'Implementation Consultant (SIS)',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Professional Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<div>\r\n</div>\r\n<p>Campus Management is looking for <strong>Implementation Consultants </strong>to join our Professional Services team to assist in implementing and training Campus Management Corporation&rsquo;s software suite of applications at customer sites.&nbsp; This includes learning Campus Management software, gathering and reviewing customer business practices and existing data, configuring software, training end users on the software and writing status reports.&nbsp; The Consultant must be proactive, self-starting, professional, able to travel, willing to work extra hours and strive for consistent high-quality results.</p>\r\n<p><span style="text-decoration: underline;">Functional/Technical Assignments</span></p>\r\n<ul>\r\n    <li>Perform assigned project tasks with minimal supervision.&nbsp;</li>\r\n    <li>Follow established methodology to meet project deliverables for all assigned tasks.&nbsp;&nbsp;</li>\r\n    <li>Recognize potential solutions to a business problem to ensure the best alternative is selected for the client within project scope.</li>\r\n    <li>Provide required documentation for tasks including design documentation, technical specifications, user procedures, and test plans.</li>\r\n    <li>Works proactively and cooperatively in a team environment to accomplish project deliverables within defined schedule.&nbsp; &nbsp;</li>\r\n    <li>Communicate information clearly, accurately and timely to project team members.</li>\r\n    <li>Train client staff on the applications.</li>\r\n    <li>Identify and recognize when risks and issues need to be escalated.</li>\r\n    <li>Seek and participates in learning activities to enhance knowledge of technologies, software packages, and the industry.<br />\r\n    <strong><span style="text-decoration: underline;"></span></strong><strong><span style="text-decoration: underline;"></span></strong><strong><span style="text-decoration: underline;"></span></strong></li>\r\n</ul>\r\n<p><span style="text-decoration: underline;">Client Relations</span></p>\r\n<ul>\r\n    <li>Establish positive, professional relationship with client staff; inclusive of professional demeanor, conduct, and appearance.</li>\r\n    <li>Establish proper communication channels with client personnel and respond appropriately to all client concerns.</li>\r\n    <li>Conduct/participate in status team meetings.</li>\r\n    <li>Provide Project Manager and client management with ongoing progress reports according to the project charter, or at a minimum on a weekly basis.</li>\r\n    <li>Understand and adhere to established project management policies and procedures; including meeting project budgets and scope, project status reports and project documentation.</li>\r\n    <li>Contribute as appropriate to the development of project scope and structure.</li>\r\n    <li>Contribute to the management the project goals and client expectations.</li>\r\n</ul>\r\n<p><span style="text-decoration: underline;">Other Duties:</span></p>\r\n<ul>\r\n    <li>Understand and work towards the attainment of CMC&rsquo;s strategic and operational goals.&nbsp;&nbsp;</li>\r\n    <li>Initiate solutions to perceived gaps in organizational processes or procedures.</li>\r\n    <li>Foster an environment of teamwork both internally and externally.</li>\r\n    <li>Actively participate in performance plans and evaluations.&nbsp;&nbsp;</li>\r\n    <li>Initiate recommendations for personal education and career objectives.&nbsp;&nbsp;</li>\r\n    <li>Accepts constructive feedback and works towards achieving the established goals.</li>\r\n    <li>Participate in project quality assurance reviews as necessary.</li>\r\n    <li>Participate in and support company sponsored local/regional/national professional groups and organizational activities.</li>\r\n    <li>Assist in developing internal training materials and project productivity tools.</li>\r\n    <li>Assist in the production of company briefing, marketing/business development presentations, and journal articles.</li>\r\n    <li>Participate in business development activities, when requested.</li>\r\n    <li>Assist in the recruiting of qualified consultants.</li>\r\n    <li>Submits Time and Expense Reports each week according to company policy.</li>\r\n    <li>Provide Project Manager and client management with ongoing progress reports according to the project charter, or at a minimum on a weekly basis.</li>\r\n    <li>Understand and adhere to established project management policies and procedures; including meeting project budgets and scope, project status reports and project documentation.</li>\r\n    <li>Contribute as appropriate to the development of project scope and structure.&nbsp;</li>\r\n    <li>Contribute to the management the project goals and client expectations.</li>\r\n    <li>Notify Project Manager of potential new business opportunities.</li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li>4+ years working in project teams in software installation, implementation preferred.</li>\r\n    <li>Bachelor&rsquo;s degree in finance, business administration, information technology or related field</li>\r\n    <li>Higher Education industry experience preferred.</li>\r\n    <li>ERP and/or CRM experience preferred.</li>\r\n    <li>Student Information System experience preferred.</li>\r\n    <li>Financial Aid experience a plus.</li>\r\n    <li>Relational database management including queries, reporting, and administration desired but not required.</li>\r\n    <li>Demonstrated experience conducting presentations, conducting one-on-one and/or on-the-job training, classroom training and/or online/webcast training.</li>\r\n    <li>Proficient in all Microsoft Office applications.</li>\r\n    <li>Experience with project management software preferred.</li>\r\n    <li>Previous experience with other software applications such as database and reporting programs preferred.</li>\r\n    <li>Ability to adapt easily to working with new technologies.</li>\r\n    <li>Excellent written and oral communication skills.</li>\r\n    <li>Excellent presentation and training skills.</li>\r\n    <li>Proven effective listening skills.&nbsp; &nbsp;</li>\r\n    <li>Able to quickly establish rapport, gain and maintain credibility with diverse audiences.</li>\r\n    <li>Self-starter with troubleshooting capabilities.</li>\r\n    <li>Must be flexible to travel up to 70-75%.</li>\r\n    <li>Conduct/participate in status team meetings</li>\r\n</ul>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=510156&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=510156&cid=5915',
            modifydate: '3/9/2020',
            createdate: '7/2/2019',
            publicdate: '7/2/2019',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '510155',
            joblistintnum: '',
            jobtitle: 'Integration .NET Developer',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Integration Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p>We are looking for a highly skilled&nbsp;<strong>.NET Developer </strong>with a strong background in building scalable, predictable, high-quality and high-performance solutions for the Microsoft technology.&nbsp; As a Developer, you will be responsible for building and maintaining internal and external facing web and windows applications. This person will work with a team of experienced analysts, architects, developers and business resources to build high-performance enterprise-level integration solutions.&nbsp; Candidate must have excellent analytical skills as well as a solid object-oriented programming experience.</p>\r\n<ul>\r\n    <li>Interact closely with Integration analyst/ architects to understand software requirements and design solutions</li>\r\n    <li>Assist Integration Architects with providing estimates for Integration Solutions.</li>\r\n    <li>Provide development support and assistance for customer escalations and issues, including off-hours</li>\r\n    <li>Multi-task many projects effectively</li>\r\n    <li>Responsible for quality and accountability of deliverables</li>\r\n    <li>Prioritize and schedule assignments to meet team deadlines and goals</li>\r\n    <li>Develop new functionality on our existing software products.</li>\r\n    <li>Share knowledge through knowledge-sharing presentations.</li>\r\n    <li>Participate in a small, experienced, energetic team on a rapid development schedule.</li>\r\n    <li>Design, develop and maintain software on .NET platform.</li>\r\n    <li>Should be comfortable with direct communication with all levels of technical and business resources.</li>\r\n    <li>Must be able to interact well with multiple priorities in an extremely dynamic environment, initiating necessary tasks and ensuring complete follow up</li>\r\n    <li>All other responsibilities as assigned</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li>Bachelor&rsquo;s degree or higher in CS, CIS, or related field</li>\r\n    <li>Solid Object Oriented Programming skills</li>\r\n    <li>Good understanding of all Software Development Life Cycle Phases</li>\r\n    <li>4+ years experience in application development</li>\r\n    <li>3+ years of development experience using Microsoft technologies</li>\r\n    <li>3+ years using: C#, ASP.NET, ADO.NET and SQL Server&nbsp;</li>\r\n    <li>Solid knowledge of .NET framework 4.5 or higher, C# , MVC, WCF Web Services, Windows Workflow, Visual Studio 2015 and higher, REST, SOA, object serialization for XML/JSON</li>\r\n    <li>Develop&nbsp;using HTML5/CSS/JavaScript frameworks such as AngularJS and TypeScript</li>\r\n    <li>Experience working with TFS</li>\r\n    <li>Solid knowledge of SQL Server 2014 and higher with the development of stored procedures, service broker, and triggers</li>\r\n    <li>Performance tuning, code profiling, code review, hands-on experience using Best Patterns and Practices&nbsp;</li>\r\n    <li>Good understanding and&nbsp; experience on Enterprise Integration Patterns, B2B, EAI and EII integrations</li>\r\n    <li>Microsoft Certification preferred&nbsp;</li>\r\n    <li>Experience working with Powershell/install packages</li>\r\n    <li>Knowledge of Student Information Systems, CRM Systems, and Learning Management Systems is a plus</li>\r\n    <li>Must be flexible to travel 25% - 50% to customer sites.&nbsp;</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=510155&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=510155&cid=5915',
            modifydate: '12/11/2019',
            createdate: '7/2/2019',
            publicdate: '7/2/2019',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '511687',
            joblistintnum: '',
            jobtitle: 'Integration .NET Developer',
            jobloc: '1003',
            joblocname: 'Boca Raton, FL - Corporate HQ',
            jobloccity: 'Boca Raton',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'us',
            jobloccountryname: 'United States',
            jobcatname: 'Integration Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p>We are looking for a highly skilled&nbsp;<strong>.NET Developer </strong>with a strong background in building scalable, predictable, high-quality and high-performance solutions for the Microsoft technology.&nbsp; As a Developer, you will be responsible for building and maintaining internal and external facing web and windows applications. This person will work with a team of experienced analysts, architects, developers and business resources to build high-performance enterprise-level integration solutions.&nbsp; Candidate must have excellent analytical skills as well as a solid object-oriented programming experience.</p>\r\n<ul>\r\n    <li>Interact closely with Integration analyst/ architects to understand software requirements and design solutions</li>\r\n    <li>Assist Integration Architects with providing estimates for Integration Solutions.</li>\r\n    <li>Provide development support and assistance for customer escalations and issues, including off-hours</li>\r\n    <li>Multi-task many projects effectively</li>\r\n    <li>Responsible for quality and accountability of deliverables</li>\r\n    <li>Prioritize and schedule assignments to meet team deadlines and goals</li>\r\n    <li>Develop new functionality on our existing software products.</li>\r\n    <li>Share knowledge through knowledge-sharing presentations.</li>\r\n    <li>Participate in a small, experienced, energetic team on a rapid development schedule.</li>\r\n    <li>Design, develop and maintain software on .NET platform.</li>\r\n    <li>Should be comfortable with direct communication with all levels of technical and business resources.</li>\r\n    <li>Must be able to interact well with multiple priorities in an extremely dynamic environment, initiating necessary tasks and ensuring complete follow up</li>\r\n    <li>All other responsibilities as assigned</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li>Bachelor&rsquo;s degree or higher in CS, CIS, or related field</li>\r\n    <li>Solid Object Oriented Programming skills</li>\r\n    <li>Good understanding of all Software Development Life Cycle Phases</li>\r\n    <li>4+ years experience in application development</li>\r\n    <li>3+ years of development experience using Microsoft technologies</li>\r\n    <li>3+ years using: C#, ASP.NET, ADO.NET and SQL Server&nbsp;</li>\r\n    <li>Solid knowledge of .NET framework 4.5 or higher, C# , MVC, WCF Web Services, Windows Workflow, Visual Studio 2015 and higher, REST, SOA, object serialization for XML/JSON</li>\r\n    <li>Develop&nbsp;using HTML5/CSS/JavaScript frameworks such as AngularJS and TypeScript</li>\r\n    <li>Experience working with TFS</li>\r\n    <li>Solid knowledge of SQL Server 2014 and higher with the development of stored procedures, service broker, and triggers</li>\r\n    <li>Performance tuning, code profiling, code review, hands-on experience using Best Patterns and Practices&nbsp;</li>\r\n    <li>Good understanding and&nbsp; experience on Enterprise Integration Patterns, B2B, EAI and EII integrations</li>\r\n    <li>Microsoft Certification preferred&nbsp;</li>\r\n    <li>Experience working with Powershell/install packages</li>\r\n    <li>Knowledge of Student Information Systems, CRM Systems, and Learning Management Systems is a plus</li>\r\n    <li>Must be flexible to travel 25% - 50% to customer sites.&nbsp;</li>\r\n</ul>\r\n<div>&nbsp;</div>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=511687&cid=5915&locvalue=1003',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=511687&cid=5915',
            modifydate: '9/10/2019',
            createdate: '7/24/2019',
            publicdate: '7/24/2019',
            location: {
                address: '',
                city: 'Boca Raton',
                state: 'FL',
                statename: 'Florida',
                zip: '33431',
                country: 'us',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '526254',
            joblistintnum: '',
            jobtitle: 'Lead Consultant - Data Analytics & State Reporting',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Integration Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Integration Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p style="background: white; margin-bottom: 12pt;"><span>The Lead Consultant will develop Enterprise Reporting and Data warehouse designs in accordance with established Enterprise Architecture standards.</span></p>\r\n<ul>\r\n    <li><span>Interface and work with Business Stakeholders to understand the business and functional requirements to architect an Enterprise Data Warehouse (EDW) and State Reports platform</span></li>\r\n    <li><span>Develop application specific logical and physical data models</span></li>\r\n    <li><span>Play a leadership role in the design, implementation, and development of ETL processes</span></li>\r\n    <li><span>Define the strategy and design for creation of a Data Warehouse Data Quality strategy.</span></li>\r\n    <li><span>Manage all aspects of the data architecture, including models, data staging and ETL framework</span></li>\r\n    <li><span>Collaborate with other cross-functional IT software/data personnel on development of EDW components</span></li>\r\n    <li><span>Establishes standards for data warehouse reporting technology, as well as design, development, implementation and maintenance processes</span></li>\r\n    <li><span>Perform database administration duties (upgrades, service packs, and patches)</span></li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                "<ul>\r\n    <li><span>Bachelor's degree in computer science, computer programming or related field preferred, or job-related experience and training.</span></li>\r\n    <li><span>Data Management and Analytics or Business Intelligence certifications are preferred.\r\n    </span></li>\r\n    <li>5+ &nbsp;years of Data Architecture experience required</li>\r\n    <li>Excellent verbal and written communication skills</li>\r\n    <li>Hands-on experience with relational and dimensional modeling practices</li>\r\n    <li>Advanced SQL skills</li>\r\n    <li>Microsoft BI Stack tools (SQL, SSRS, SSIS, SSAS).</li>\r\n    <li>Background or familiarity with Data Governance, Metadata Management, Taxonomy Management, Master Data Management and Data Security</li>\r\n    <li>Understanding of data warehouse architecture that supports business intelligence tools</li>\r\n    <li>Reporting &amp; Visualization tools (e.g., Tableau, SSRS, Power BI)</li>\r\n    <li>Expertise in Data Warehouse design and best practices</li>\r\n    <li>Team skills: Adaptable, collaboration, creative, negotiation, communication, presentation and group dynamics.</li>\r\n    <li>Professional skills: Problem solving, SQL programming, Systems Analysis and Design, Program Analysis and Design.</li>\r\n    <li><span>Experience with SIS/ERP is a plus</span></li>\r\n    <li><span>Reporting &amp; Visualization tools (SSRS, Power BI, Tableau, etc.)</span></li>\r\n    <li><span>Programming languages (VB.net, C# etc.)</span></li>\r\n    <li><span>Database tools (MS SQL Server Management Studio, MS Visual Studio, MS Access)</span></li>\r\n    <li><span>DBA experience preferred</span></li>\r\n</ul>",
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=526254&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=526254&cid=5915',
            modifydate: '3/3/2020',
            createdate: '2/29/2020',
            publicdate: '2/29/2020',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '510157',
            joblistintnum: '',
            jobtitle: 'Project Manager',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Professional Services',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Professional Services',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p>A Project Manager defines project objectives and scope and manages implementation activities from the creation of the project plan to the go-live and transition to support services for Campus Management software implementation projects. In accordance with Campus Management standard implementation methodology, the Campus Management Project Manager drives the entire implementation process to ensure project deliverables are completed on time and within budget.&nbsp; The Project Manager works with the Resource Manager to ensure the project is properly staffed for project requirements. The Project Manager must have the ability to learn Campus Management Software and willing to provide hands-on support to the project team if necessary to keep the project on schedule.&nbsp; The Project Manager must be a proactive, self-starting, professional, able to travel, willing to flexible with schedule to accommodate client schedules, and strive for consistent high-quality results. The Implementation Project Management will have the ability to learn Campus Management software.&nbsp;</p>\r\n<p><strong style="font-family: \'Helvetica Neue\', Helvetica, Arial, sans-serif;"><span style="text-decoration: underline;">Essential Job Responsibilities</span></strong></p>\r\n<ul>\r\n    <li>Perform assigned project tasks with minimal supervision.&nbsp;</li>\r\n    <li>Establish a positive, professional relationship with client staff; inclusive of professional demeanor, conduct, and appearance.</li>\r\n    <li>Define project scope and deliverables.</li>\r\n    <li>Create baseline project plans and budgets.</li>\r\n    <li>Create project strategies, organization, and governance based on CMC implementation methodology.</li>\r\n    <li>Execute project communication strategy, including regular project and executive status reporting.</li>\r\n    <li>Manage project activities according to inline with approved scope, schedule, and budget. Applies expert understanding of and maintains accountability for all client-facing documentation including functional, technical, and/or end-user materials.</li>\r\n    <li>Develop contingency/recovery plans which could determine the economic impact and critical success factors related to business decisions.</li>\r\n    <li>Define project team roles and responsibilities.&nbsp;</li>\r\n    <li>Negotiate with customers to set and manage expectations.&nbsp;</li>\r\n    <li>Manage conflicting customer requests and complex issues/problems.</li>\r\n    <li>Provide direction to resolve complex problems, collaborating with others as appropriate; identifies trends.&nbsp; Maintains accountability for the timely resolution of project-related issues.</li>\r\n    <li>Identify the need for change or development of new processes to meet changing needs or improve the effectiveness of the entire implementation.&nbsp; Guides process improvement efforts by assessing risks and applying innovative problem-solving techniques.</li>\r\n    <li>Provide assistance with project implementation tasks as necessary.</li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                "<ul>\r\n    <li>Bachelor's degree in relevant field (Information Technology, Business Administration, and Finance) or 15 years of relevant work experience.</li>\r\n    <li>7 years of project management experience implementing complex software packages and/or ERP implementations.&nbsp;&nbsp;</li>\r\n    <li>Higher Education industry experience preferred</li>\r\n    <li>PMI certification preferred</li>\r\n    <li>Master's degree preferred</li>\r\n    <li>Proficient in Microsoft Project and Microsoft Office applications.</li>\r\n    <li>Advanced skills in successfully managing projects to completion within a defined scope, schedule, and budget</li>\r\n    <li>Proficient with project management methodologies and processes, including Schedule Management, Issue Management, Risk Management, Decision Management, Scope Management, Project </li>\r\n    <li>Budget Management, Communications Management, Project Change Management.</li>\r\n    <li>Demonstrated ability to manage multiple projects simultaneously.</li>\r\n    <li>Demonstrated ability to lead and motivate a team to meet goals and objectives.</li>\r\n    <li>Demonstrated ability to lead client project meetings.</li>\r\n    <li>Highly developed written and oral communication skills to communicate effectively with all levels within the post-secondary higher education administrative structure.</li>\r\n    <li>Highly developed customer-facing skills, including proven listening skills and the ability to network with client staff.</li>\r\n    <li>Ability to establish strong relationships within the organization to achieve results.</li>\r\n    <li>Ability to learn new technologies quickly in order to explain Campus Management products and services to customers and to assist with simple implementation tasks as necessary.</li>\r\n    <li>Must be able to travel 50% and be flexible to work additional hours at the customer site as requested.<br />\r\n    <div>&nbsp;</div>\r\n    </li>\r\n</ul>",
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=510157&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=510157&cid=5915',
            modifydate: '6/14/2020',
            createdate: '7/2/2019',
            publicdate: '7/2/2019',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
        {
            companyid: '5915',
            companyname: 'Campus Management',
            joblistid: '530194',
            joblistintnum: '',
            jobtitle: 'Solutions Consultant',
            jobloc: '1007',
            joblocname: 'Remote (Anywhere USA)',
            jobloccity: 'Remote (Anywhere)',
            joblocstate: 'FL',
            joblocstatename: 'Florida',
            jobloccountry: 'US',
            jobloccountryname: 'United States',
            jobcatname: 'Sales',
            jobgroupname: '',
            jobcodename: '',
            jobdeptname: 'Sales',
            jobfunctionname: '',
            jobtypename: 'Full Time',
            busunit: '',
            busunitname: '',
            description:
                '<p><span style="color: #333333; background: white;">Solutions Consultants at Campus Management act as strategic partners within the Field Operations Team to understand, configure, and communicate the value of the Campus Management suite of products to Higher Education institutions.&nbsp; The Solutions Consultant will add value throughout the sales process in requirements analysis, value assessments, solution development, tailored product demonstrations, and finally in the transition to professional services to ensure our clients are successful.</span></p>\r\n<ul>\r\n    <li style="background: transparent; margin-top: 0pt; margin-bottom: 0pt; list-style-type: disc;"><span data-preserver-spaces="true">Understand the needs of higher education institutions, identify the right solutions and communicate the value these bring to their institutions</span></li>\r\n    <li><span data-preserver-spaces="true">Understanding the needs of the prospects and customers to glean information through productive discovery/survey sessions.</span></li>\r\n    <li><span data-preserver-spaces="true">Translate customer needs and articulate technology and product positioning through storytelling and solution demonstrations</span></li>\r\n    <li><span data-preserver-spaces="true">Respond promptly to customer needs and communicate with confidence and passion using the domain expertise&nbsp;</span></li>\r\n    <li><span data-preserver-spaces="true">Work effectively with the CMC proposal team to produce high-quality RFP responses in a timely fashion.</span></li>\r\n    <li><span data-preserver-spaces="true">Understand all products sold through CMC and be responsible for keeping the content and demos we use to support prospect/customer presentations current for your assigned product set.</span></li>\r\n    <li><span data-preserver-spaces="true">Prepare and deliver demos to show the value of our solutions to higher education institutions challenges</span></li>\r\n    <li><span data-preserver-spaces="true">Stay up to date with the latest software releases and attend regular briefings on changes for your assigned products</span></li>\r\n    <li><span data-preserver-spaces="true">\t\tPractice continuous learning through self-guided reading and research of relevant business practices, including the student journey, strategies in higher education, analytics,&nbsp;</span><span>workflow, or product-specific activities.</span></li>\r\n</ul>',
            descriptioninternal: '',
            skills:
                '<ul>\r\n    <li style="background: transparent; margin-top: 0pt; margin-bottom: 0pt; list-style-type: disc;"><span data-preserver-spaces="true">Bachelor&rsquo;s degree or equivalent, in business, technology, marketing or sales qualification</span></li>\r\n    <li>4 or more years of Solution Consulting experience</li>\r\n    <li>Public sector experience preferred</li>\r\n    <li> Higher Education experience specializing in Advancement, CRM, Financial Aid, HR/Payroll or Finance or Technical preferred</li>\r\n    <li>Fluent in Spanish or Portuguese preferred</li>\r\n    <li>Great verbal and written communication skills</li>\r\n    <li>Successful quota achievement</li>\r\n    <li><span data-preserver-spaces="true"> Must be open to frequent travel when necessary&nbsp;</span></li>\r\n    <li><span data-preserver-spaces="true">Strong verbal, written and presentation skills and is not afraid to pick-up the phone</span></li>\r\n    <li><span data-preserver-spaces="true">Natural storyteller and passion for presenting solutions to problems</span></li>\r\n    <li><span data-preserver-spaces="true">Able to make effective presentations in time-constrained situations</span></li>\r\n    <li><span data-preserver-spaces="true">Able to articulate and logically communicate concepts both technically and functionally</span></li>\r\n    <li><span data-preserver-spaces="true">Able to prioritize the work and strong project management skills</span></li>\r\n    <li><span data-preserver-spaces="true">Able to meet deadlines, follow up on commitments, and take action as needed</span></li>\r\n    <li><span data-preserver-spaces="true">Positive team player with the ability to develop and maintain internal and external professional relationships</span></li>\r\n    <li><span>Highly organized with an exceptional eye for detail</span></li>\r\n    <li><span>Ability to work collaboratively and build strong cross-functional relationships</span></li>\r\n    <li><span>Takes a strategic approach to work</span></li>\r\n    <li><span>Self-motivated and proactive to constantly learn and grow</span></li>\r\n</ul>\r\n<p style="background: transparent; margin-top: 0pt; margin-bottom: 0pt; list-style-type: disc;"><span data-preserver-spaces="true">&nbsp;</span></p>',
            url:
                'https://recruit.hirebridge.com/v3/Jobs/JobDetails.aspx?jid=530194&cid=5915&locvalue=1007',
            applyurl:
                'http://recruit.hirebridge.com/v3/application/AppLink.aspx?jid=530194&cid=5915',
            modifydate: '6/7/2020',
            createdate: '6/7/2020',
            publicdate: '6/7/2020',
            location: {
                address: '',
                city: 'Remote (Anywhere)',
                state: 'FL',
                statename: 'Florida',
                zip: '33433',
                country: 'US',
            },
        },
    ];
</script>
{{/isnt}}

<section>
    <div class="container container--2 container--header pb1">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Campus Management offers a range of career opportunities for
                professionals in software development, project management,
                services and account management, sales, marketing, finance, and
                other areas. The company seeks talented, qualified professionals
                who share its core values of excellence, innovation, and
                quality.
            </p>
        </header>
    </div>
    <div id="s3docListApp" class="app s3-doc-list-app--v2">
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
