---
# <!-- @formatter:off -->
title: Careers at Campus Management
label: Careers
meta-description: Campus Management offers professional career opportunities in software development, project management, services and account management, sales, marketing, finance, and other areas.
page-bg-image: /images/pages/about-us/about-us-blue.jpg
page-bg-image--xs: /images/pages/about-us/management-team-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-stylesheets:
    - href: /styles/pages/demos--jjc.css
      inline: true
additional-scripts:
    - src: /scripts/page--has-carousel.js
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--2 container--header container--header--top-heavy">
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                Careers at Campus Management
            </h1>
            <p class="ht--p--16-22 mb0">
                Join the fastest growing enterprise software company in higher
                education. Explore career opportunities in Boca Raton, Fla.;
                McLean, Va.; Cincinnati, Ohio; Houston, Texas; and also remote
                positions.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Why Join Campus Management
            </h2>

            <p>
                At Campus Management, you will be part of a global team
                committed to the mission of higher education as a critical
                element and driver in the growth, productivity and
                transformation of individuals, communities and nations.
            </p>
            <p>
                The company’s cloud-based SIS, CRM and ERP solutions help
                institutions empower a greater diversity of students with more
                options for achieving their education, training, and career
                goals. Today, more than 1,100 institutions in over 30 countries
                partner with Campus Management to transform academic delivery,
                student success, and operational efficiency.
            </p>
            <p class="mb0">
                If you are looking for a rewarding career that enables you to
                apply your talent and knowledge to an important mission, Campus
                Management wants to hear from you.
            </p>
        </div>
    </div>

    {{>[pattern-box/careers]}}

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2 pb1">
            <h2 class="ht--s--28 c mb2--sm">
                Campus Management by the Numbers
            </h2>
            <div class="box-v4 box-v4--flex-1-2-3">
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-serve-edu-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p>
                        <span class="ht--s--30-46 block">31 Years</span>
                        <span class="ht--p--18 block"
                            >Serving Higher Education</span
                        >
                    </p>
                </div>
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-global-employees-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p>
                        <span class="ht--s--30-46 block">900+</span>
                        <span class="ht--p--18 block">Global Employees</span>
                    </p>
                </div>
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-degrees-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p>
                        <span class="ht--s--30-46 block">77%</span>
                        <span class="ht--p--18 block"
                            >Undergrad Degrees <br />and 41% Grad Degrees</span
                        >
                    </p>
                </div>
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-university-experience-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p>
                        <span class="ht--s--30-46 block">1 in 4</span>
                        <span class="ht--p--18 block"
                            >5+ Years Experience<br />Working at
                            Institutions</span
                        >
                    </p>
                </div>
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-experience-edu-tech-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p>
                        <span class="ht--s--30-46 block">11 Years</span>
                        <span class="ht--p--18 block"
                            >Average Experience Working <br />in Education
                            Technology</span
                        >
                    </p>
                </div>
                <div class="c">
                    <img
                        loading="lazy"
                        class="c"
                        src="/images/pages/about-us/careers/careers-volunteer-time-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <p class="mb0">
                        <span class="ht--s--30-46 block">22K Hours</span>
                        <span class="ht--p--18 block"
                            >Annual Community Volunteer <br />Time by
                            Employees</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 pb1">
            <h2 class="title ht--s--28 c c-theme-primary-dark c">
                Life @CampusMgmt
            </h2>
            <div
                id="Campus-Life-Carousel"
                data-interval="10000"
                class="carousel slide carousel--jjc"
            >
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                class="left"
                                src="/images/pages/about-us/careers/microsoft-award.jpg"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                class="right"
                                src="/images/pages/about-us/careers/dev-group.jpg"
                                alt=""
                                inline-img-dims
                            />
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                class="left"
                                src="/images/pages/about-us/careers/pie-day-1.jpg"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/qsm-1.jpg"
                                class="right"
                                alt=""
                                inline-img-dims
                            />
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/diwali-1.jpg"
                                class="left"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/diwali-2.jpg"
                                alt=""
                                class="right"
                                inline-img-dims
                            />
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                class="left"
                                src="/images/pages/about-us/careers/office-1.jpg"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/office-2.jpg"
                                class="right"
                                alt=""
                                inline-img-dims
                            />
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/office-3.jpg"
                                class="left"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/office-6.jpg"
                                class="right"
                                alt=""
                                inline-img-dims
                            />
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/ci2019-1.jpg"
                                class="left"
                                alt=""
                                inline-img-dims
                            />
                            <img
                                loading="lazy"
                                src="/images/pages/about-us/careers/ci2019-2.jpg"
                                alt=""
                                class="right"
                                inline-img-dims
                            />
                        </div>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li
                        data-target="#Campus-Life-Carousel"
                        data-slide-to="0"
                        class="active"
                    >
                        <span class="carousel-indicators__graphic">1</span>
                    </li>
                    <li data-target="#Campus-Life-Carousel" data-slide-to="1">
                        <span class="carousel-indicators__graphic">2</span>
                    </li>
                    <li data-target="#Campus-Life-Carousel" data-slide-to="2">
                        <span class="carousel-indicators__graphic">3</span>
                    </li>
                    <li data-target="#Campus-Life-Carousel" data-slide-to="3">
                        <span class="carousel-indicators__graphic">4</span>
                    </li>
                    <li data-target="#Campus-Life-Carousel" data-slide-to="4">
                        <span class="carousel-indicators__graphic">5</span>
                    </li>
                    <li data-target="#Campus-Life-Carousel" data-slide-to="5">
                        <span class="carousel-indicators__graphic">6</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Benefits
            </h2>
            <p class="mb2--sm">
                There are many things to consider when deciding on your next
                employer! Here at Campus Management, we offer employees a full
                range of benefits. We want you and your extended family to be
                happy and healthy.
            </p>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/wellness-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Wellness Coverage
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Your health is important to us and we care about you and
                        your family! Campus Management offers various benefit
                        plan options for your convenience.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/retirement-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Retirement
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Campus Management offers a generous 401(k) retirement
                        plan to help you prepare for the future. The sooner you
                        begin planning for your retirement, the better.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/support-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Support
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Through the Life Assistance Program, you and your family
                        have access to support 24 hours a day, 7 days a week.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/work-life-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Work Life Balance
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Campus Management encourages employees to take time away
                        from work to recharge. Employees earn paid time off in
                        addition to company paid holidays.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/referral-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Referral Bonus
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Campus Management offers referral bonuses for their
                        employees. Get paid to refer your friends!
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/about-us/careers/edu-asistance-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="b c-grey--800 ht--p--18 has-intro-img mb0">
                        Education Assistance
                    </h3>
                    <p class="has-intro-img mb0">
                        Campus Management helps you accomplish your goals by
                        offering tuition reimbursement.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 pb1">
            <h2 class="title ht--s--28 c c-theme-primary-dark">
                Explore Career Opportunities Across Campus Management
            </h2>
            <div
                id="Campus-Dept-Carousel"
                data-interval="10000"
                class="carousel slide carousel--jjc"
            >
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="box-v4 box-v4--1-1">
                            <div class="left flexcol">
                                <h3 class="ht--s--28">
                                    Account Management
                                </h3>
                                <p class="ht--p--16-22">
                                    Takes ownership of the client relationship
                                    and engages them with a thorough
                                    understanding of their history, goals, and
                                    needs and coordinates service delivery,
                                    upgrades, and modifications as needed.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Account%20Management"
                                    >See Current openings</a
                                >
                            </div>
                            <div class="right flexcol">
                                <h3 class="ht--s--28">
                                    Client Services
                                </h3>
                                <p class="ht--p--16-22">
                                    Responsible for support for all Campus
                                    Management solutions across all products and
                                    offices, and provides assistance both
                                    internally during implementation as well as
                                    post transition.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Client%20Services"
                                    >See Current openings
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <div class="left flexcol">
                                <h3 class="ht--s--28">
                                    Field Operations
                                </h3>
                                <p class="ht--p--16-22">
                                    Provides field-facing customer support,
                                    profitability results and revenue, including
                                    sales, professional services, managed
                                    services, customer care/CSAT, UK CRM
                                    operations, and Latin America operations.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Field%20Operations"
                                    >See Current openings
                                </a>
                            </div>
                            <div class="right flexcol">
                                <h3 class="ht--s--28">
                                    Integration Services
                                </h3>
                                <p class="ht--p--16-22">
                                    Ensures that client solutions, data and
                                    preferred applications and workflows are
                                    configured and united across campuses.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Integration%20Services"
                                    >See Current openings
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <div class="left flexcol">
                                <h3 class="ht--s--28">
                                    Legal
                                </h3>
                                <p class="ht--p--16-22">
                                    Provides legal counsel and oversight for all
                                    business operations, including negotiating,
                                    drafting, and reviewing contracts with
                                    clients, and acquisitions and intellectual
                                    property rights.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Legal"
                                    >See Current openings
                                </a>
                            </div>
                            <div class="right flexcol">
                                <h3 class="ht--s--28">
                                    Managed Services
                                </h3>
                                <p class="ht--p--16-22">
                                    Helps clients optimize solutions, ensure
                                    uptime and performance, meet staffing needs,
                                    and adapt easily to new strategies.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Managed%20Services"
                                    >See Current openings
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <div class="left flexcol">
                                <h3 class="ht--s--28">
                                    Product Management
                                </h3>
                                <p class="ht--p--16-22">
                                    Defines the long-term industry strategy for
                                    success in global higher education markets,
                                    builds and refines product roadmaps that
                                    align with strategic and company objective.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Product%20Management"
                                    >See Current openings
                                </a>
                            </div>
                            <div class="right flexcol">
                                <h3 class="ht--s--28">
                                    Professional Services
                                </h3>
                                <p class="ht--p--16-22">
                                    Works directly with current and new clients
                                    to help them achieve their business goals
                                    through the optimization of our product set
                                    and alignment with institution’s goals and
                                    workflows.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Professional%20Services"
                                    >See Current openings
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="box-v4 box-v4--1-1">
                            <div class="left flexcol">
                                <h3 class="ht--s--28">
                                    Sales
                                </h3>
                                <p class="ht--p--16-22">
                                    Engages prospects and clients, both Net New
                                    (SIS, ERP and CRM) and Installed Base, to
                                    drive value for higher education
                                    institutions and increase company sales and
                                    market share.
                                </p>
                                <a
                                    class="pill-button block bottom c"
                                    href="{{url-lang-prefix}}/about-us/careers-at-Campus-Management/current-openings/#filter/jobcatname/Sales"
                                    >See Current openings
                                </a>
                            </div>
                            <div class="right flexcol">
                                <h3 class="ht--s--28">
                                    &nbsp;
                                </h3>
                                <p class="ht--p--16-22">
                                    &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li
                        data-target="#Campus-Dept-Carousel"
                        data-slide-to="0"
                        class="active"
                    >
                        <span class="carousel-indicators__graphic">1</span>
                    </li>
                    <li data-target="#Campus-Dept-Carousel" data-slide-to="1">
                        <span class="carousel-indicators__graphic">2</span>
                    </li>
                    <li data-target="#Campus-Dept-Carousel" data-slide-to="2">
                        <span class="carousel-indicators__graphic">3</span>
                    </li>
                    <li data-target="#Campus-Dept-Carousel" data-slide-to="3">
                        <span class="carousel-indicators__graphic">4</span>
                    </li>
                    <li data-target="#Campus-Dept-Carousel" data-slide-to="4">
                        <span class="carousel-indicators__graphic">5</span>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container">
            <p class="mb0">
                <small class="txt--legal-i">
                    Campus Management is firmly committed to providing equal
                    employment opportunities in all employment practices. All
                    qualified applicants will receive consideration for
                    employment without regard to race, color, religion, sex,
                    sexual orientation, gender identity, national origin,
                    religion, disability, protected veteran status or any other
                    characteristic protected by law. If a qualified individual
                    with a disability needs a reasonable accommodation to
                    complete any part of the online application process, please
                    <a href="{{url-lang-prefix}}/contact-us/?reason=Careers"
                        >Contact Us</a
                    >. For our EEO Policy Statement,
                    <a href="/documents/EEO.pdf">please click here</a>.
                </small>
            </p>
        </div>
    </div>

    {{>[pattern-box/careers]}}
</article>
{{/content}} {{/extend}}
