const config = {
    leadLanderID: '<%= data.LEAD_LANDER_ID %>',
    liveChatId: '<%= data.LIVE_CHAT_ID %>',
    s3BucketPrefix: '<%= data.AWS_S3_BUCKET_PREFIX %>',
    algolia: {
        appId: '<%= data.ALGOLIA_APPID %>',
        searchKey: '<%= data.ALGOLIA_SEARCH_KEY %>',
    },
    google: {
        googleAnalyticsId: '<%= data.GOOGLE_ANALYTICS_ID %>',
        googleMapsKey: '<%= data.GOOGLE_MAPS_KEY %>',
        googleSearchKey: '<%= data.GOOGLE_SEARCH_KEY %>',
    },
    facebook: {
        fpAppId: '<%= data.FB_APP_ID %>',
        fbSiteName: '<%= data.FB_SITE_NAME %>',
        fbDefaultImg: '<%= data.FB_DEFAULT_IMG %>',
    },
    auth0: {
        issuer: '<%= data.AUTH0_ISSUER %>',
        domain: '<%= data.AUTH0_DOMAIN %>',
        endpoint: '<%= data.AUTH0_ENDPOINT %>',
        clientID: '<%= data.AUTH0_AUDIENCE %>',
    },
    hubspot: {
        id: '<%= data.HUBSPOT_ID %>',
    },
    jwPlayer: {
        v6: 'FCXq8p/qumcGlxjpWZRQ39oS6YW5M5Slp6hOcQ==',
        v7: 'IT3FoF7bFRsBxMAFvcLrIZuIXPE978aZ3mOuFQ==',
    },
    domains: {
        tld: '<%= data.CORS_ORIGIN_TLD %>',
        cmc: '<%= data.CORS_ORIGIN_CMC %>',
        api: '<%= data.CORS_ORIGIN_API %>',
        self: '<%= data.CORS_ORIGIN_SELF %>',
        ptbr: '<%= data.CORS_ORIGIN_PTBR %>',
    },
};

export default config;
