<fieldset class="password-protected-download__form">
    <label
        for="password-protected-download__form__username"
        class="password-protected-download__label"
    >
        <%= data.i18n.username %>
    </label>
    <input
        type="text"
        id="password-protected-download__form__username"
        class="password-protected-download__form__username"
        name="username"
    />
    <label
        for="password-protected-download__form__password"
        class="password-protected-download__label"
    >
        <%= data.i18n.password %>
    </label>
    <input
        type="password"
        id="password-protected-download__form__password"
        class="password-protected-download__form__password"
        name="password"
    />

    <p class="password-protected-download__form__error"></p>

    <button class="password-protected-download__form__submit">
        <%= data.i18n.login %>
    </button>
</fieldset>
