<ul id="password-protected-download__list">
    {{#each items}}
        <li class="password-protected-download__list-item" data-expires="{{expires}}">
            <a
                class="password-protected-download__list-item__link"
                href="{{safeValue altUrl signedRequest}}">
                <img
                    class="password-protected-download__list-item__image"
                    src="{{safeValue thumbnail '/images/ui/productSheetIconSm.png'}}"
                    alt="" />
                <p class="c-grey--900 mb0">{{title}}</p>
                <span class="password-protected-download__list-item__dl-text">{{../downloadTxt}}</span>
                <p class="expiresMsg"></p>
            </a>
        </li>

    {{/each}}
</ul>
{{#if error}}
    <p class="password-protected-download__form__error">{{error}}</p>
{{/if}}

<button
    class="password-protected-download__refresh-button"
    style="display: none;">
    Reload
</button>

<button class="password-protected-download__reauth-button">
    {{#if hasUnauthorizedItem}}
        Reauthenticate
    {{else}}
        Logout
    {{/if}}
</button>


