---
# <!-- @formatter:off -->
title: Talisma Fundraising Events
meta-description: Campus Management offers a wider range of opportunities and training formats for gaining knowledge and maximizing results with Talisma Fundraising.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
additional-stylesheets:
    - href: /styles/pages/event-schedule-table.css
      inline: true
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Fundraising and Donor Management
            </h2>
            <p>
                Campus Management offers a wider range of opportunities and
                training formats for gaining knowledge and maximizing results
                with Talisma Fundraising. Learn best practices and proven
                strategies for driving donations and support from our product
                experts.
            </p>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a class="pill-button" href="#essentials-training">
                        Essentials Training
                    </a>
                </li>
                <li class="pill-list__item">
                    <a class="pill-button" href="#advanced-training">
                        Advanced Training
                    </a>
                </li>
                <li>
                    <a
                        class="pill-button"
                        href="/Talisma-Fundraising-events/Talisma-Fundraising-archived-webinars/"
                    >
                        Archived Webinars
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <section id="essentials-training" tabindex="-1">
        <div class="bgc-grey--100 c-grey--1000">
            <div class="container">
                <h2 class="c ht--s--22 c-grey--800">
                    Essentials Instructor Led Remote Training
                </h2>
                <div class="box-v4 box-v4--1-1 mb1">
                    <div class="left">
                        <p>
                            Join us for a Talisma Fundraising Essentials
                            training course - now provided via the web and
                            telephone! This hands-on course is a great
                            opportunity to expand your knowledge of the Talisma
                            Fundraising Browser via the web!
                        </p>
                        <p>
                            Travel no further than your desktop! You may sign up
                            for any 2 consecutive days of your choice – up to
                            twelve hours! Offered at the cost of $1,500 per
                            participant, this course will explore:
                        </p>
                        <ul class="list--normal list--has-lead-in">
                            <li>Account management</li>
                            <li>Gift entry</li>
                            <li>Mailings</li>
                            <li>User configuration</li>
                            <li>Reports</li>
                            <li>Analysis of your development efforts</li>
                            <li>Code maintenance</li>
                        </ul>
                        <h3 class="b c-grey--800">
                            2 Days - 12 hours - $1,500 Per Participant
                        </h3>
                        <table
                            class="event-schedule-table event-schedule-table--tfr-training event-schedule-table--collapsible ht--p--16"
                            border="0"
                        >
                            <thead>
                                <tr>
                                    <th>Training Schedule</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>May</td>
                                    <td>26/27</td>
                                </tr>
                                <tr>
                                    <td>June</td>
                                    <td>9/10</td>
                                </tr>
                                <tr>
                                    <td>June</td>
                                    <td>23/24</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="right">
                        <h3 class="b c-grey--800">
                            During this course, you’ll learn how to:
                        </h3>
                        <ul class="list--normal list--has-lead-in">
                            <li>
                                Manage all primary aspects of a donor or
                                prospect record
                            </li>
                            <li>
                                Utilize batch entry to enter the various types
                                of donations, including pledges, matching and
                                soft credit
                            </li>
                            <li>Automate your gift thank-you process</li>
                            <li>Manage tasks</li>
                            <li>
                                Understand the impact of proper coding and
                                maintenance
                            </li>
                            <li>
                                Develop basic filters for pulling reports and
                                exports
                            </li>
                            <li>
                                Run standard reports and use summaries to
                                analyze your development program
                            </li>
                            <li>
                                Customize user views, including the home page
                                and summary page
                            </li>
                            <li>
                                Standardize administration tasks, including
                                duplicate checking, combining accounts and
                                security
                            </li>
                        </ul>
                        <h3 class="b c-grey--800">
                            Who will benefit:
                        </h3>

                        <ul class="list--normal list--has-lead-in">
                            <li>
                                New clients who have just purchased Talisma
                                Fundraising
                            </li>
                            <li>
                                Existing clients who have upgraded to Talisma
                                Fundraising
                            </li>
                            <li>New employees</li>
                            <li>
                                Clients who wish to receive refresher training
                            </li>
                        </ul>
                        <h3 class="b c-grey--800">
                            Course Prerequisites:
                        </h3>
                        <ul class="list--normal list--has-lead-in mb1">
                            <li>
                                You should be familiar with your Windows
                                operating system and experienced with your word
                                processor (specifically merging)
                            </li>
                        </ul>

                        <a
                            href="#page-top"
                            class="ht--p--14 r block smooth-scroll-link"
                            >Back to top
                        </a>
                    </div>
                </div>
                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="mailto:jjoslin@campusmgmt.com?Subject=Essentials Instructor Led Remote Training"
                            >Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="advanced-training" tabindex="-1">
        <div class="bgc-white">
            <div class="container">
                <h2 class="c ht--s--22 c-grey--800">
                    Advanced Instructor Led Remote Training
                </h2>

                <div class="box-v4 box-v4--1-1 mb1">
                    <div class="left">
                        <p>
                            This course explores the more advanced features of
                            Talisma Fundraising. It is designed for the
                            experienced user and focuses on:
                        </p>
                        <ul class="list--normal list--has-lead-in">
                            <li>Advanced criteria building</li>
                            <li>Complex exporting</li>
                            <li>Custom report writer</li>
                            <li>Importing</li>
                            <li>Recognition clubs</li>
                            <li>Mass updates</li>
                            <li>Best practices for data management</li>
                        </ul>
                        <p>
                            This course is designed for users who currently work
                            with Talisma Fundraising and are comfortable with
                            basic program functionality, and those who are
                            responsible for databases administration and
                            criteria building.
                        </p>
                    </div>
                    <div class="right">
                        <h3 class="b c-grey--800">
                            You may choose any one day that suits your schedule.
                        </h3>
                        <p>
                            The advanced course is web-based and delivered to
                            your desktop! Participants should be able to build
                            basic filters and exports on their own before
                            attending this course.
                        </p>
                        <table
                            class="event-schedule-table event-schedule-table--tfr-training event-schedule-table--collapsible ht--p--16"
                            border="0"
                        >
                            <thead>
                                <tr>
                                    <th>Training Schedule</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>May</td>
                                    <td>21</td>
                                </tr>
                                <tr>
                                    <td>June</td>
                                    <td>18</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="b c-grey--800">
                            1 Day - Six Hours - $1,250 Per Participant
                        </h3>
                        <a
                            href="#page-top"
                            class="ht--p--14 r block smooth-scroll-link"
                            >Back to top
                        </a>
                    </div>
                </div>
                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="mailto:jjoslin@campusmgmt.com?Subject=Essentials Instructor Led Remote Training"
                            >Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Donor Management Software
                    </p>
                    <a
                        class="pill-button c block bottom"
                        href="/products/donor-management-software/"
                        >More</a
                    >
                </div>

                <div class="c flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Moves Management
                    </p>
                    <a
                        class="pill-button c block bottom"
                        href="/products/moves-management/"
                        >More</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Alumni Management Software
                    </p>
                    <a
                        class="pill-button c block bottom"
                        href="/products/alumni-management-software/"
                        >More
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
