---
# <!-- @formatter:off -->
title: Talisma Fundraising Archived Webinars
meta-description: Review recent Talisma Fundraising webinars on ways to transform your alumni, fundraising and advancement success.
page-bg-image: /images/pages/products/tfr/TFR-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Did you miss any of our recent Webinars on ways to transform
                your alumni, fundraising and advancement success? Now you can
                watch them at a time convenient to you. Click on any of these
                informative events to discover more ways to optimize your
                Talisma<sup>®</sup>
                Fundraising solution for maximum results.
            </p>
        </header>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
              <div class="flexcol">
                  <h3 class="ht--p--16-20 mb0">
                      On-Demand Webinar
                  </h3>
                  <h3 class="ht--s--22-28 c-theme-primary-dark">
                    Leveraging Talisma Fundraising for Giving Tuesday 2020 
                  </h3>
                  <ul class="pill-list pill-list--centered">
                      <li class="pill-list__item">
                          <a
                              class="pill-button"
                              href="https://vimeo.com/486504801"
                              target="_blank"
                              rel="noopener"
                              >View
                          </a>
                      </li>
                  </ul>
              </div>
                <div class="flexcol">
                    <h3 class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </h3>
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Advancing Online Engagement with Encompass
                    </h3>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://www.youtube.com/watch?v=Y7u6tV7gfLI&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                                target="_blank"
                                rel="noopener"
                                >View
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="flexcol">
                    <h3 class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </h3>
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Talisma Fundraising with CampusNexus Engage
                    </h3>
                    <ul class="pill-list pill-list--centered bottom">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://www.youtube.com/watch?v=G8N0dsx3YLw&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                                target="_blank"
                                rel="noopener"
                                >View
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--300">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys alt-row">
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Top 10 Talisma Fundraising Reports
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=xi0nCmU5gm0&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Maximize Online Giving through Mobile Integration
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=DsOm0DKrmHU&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Discover Hidden Gems in Talisma Fundraising
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=gGMU8im0R3A&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Top 10 Talisma Fundraising Reports to Maximize your
                        Fundraising Efforts
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=oxin_stiA-k&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Setting Up Service Desk for Talisma Fundraising
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=O_cljsYR7bU&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Building a Simple Filter in Talisma Fundraising
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=AVzhkflJQtg&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-grey--300">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys alt-row">
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Creating an Event from the Ground Up
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=ujUgVJHC5tA&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Advanced Filters in Talisma Fundraising
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=JWoPjPkvnA8&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Talisma Fundraising with WealthEngine 8 for Improved
                        Prospect Research
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=iL7w0QT-QsI&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Tips and Tricks in Talisma Fundraising
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=Vd_ZFynKH48&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol">
                    <p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Building and Maintaining an Accurate Database
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="https://www.youtube.com/watch?v=l2-l22CtJCc&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="flexcol hidden-xs">
				<p class="ht--p--16-20 mb0">
                        On-Demand Webinar
                    </p>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Industry Trends: What Are the Trends We are Seeing and
                        Experiencing?
                    </p>
                    <a
                                class="pill-button block c bottom"
                                href="https://www.youtube.com/watch?v=JV64J1x8Ah0&list=PLssSsjjF_5VFrNn2hcDz0VWmIpt9MvAur"
                                target="_blank"
                                rel="noopener"
                                >View
                            </a>
				</div>
            </div>
        </div>
    </div>

    {{>tfr-explore-demos}}

    <div class="bgc-grey--200">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark c">
                        Donor Management Software
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="/products/donor-management-software/"
                        >More
                    </a>
                </div>
                <div class="flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark c">
                        Alumni Management
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="/products/alumni-management-software/"
                        >More
                    </a>
                </div>
                <div class="flexcol min-height-7">
                    <p class="ht--s--22-28 c-theme-primary-dark c">
                        Moves Management
                    </p>
                    <a
                        class="pill-button block c bottom"
                        href="/products/moves-management/"
                        >More
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
