%input {
    @include adjust-font-size-to(16px, 1);

    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 3px;
    line-height: normal;
    background-color: $white;
    border: 1px solid $border-color;

    &:focus {
        border: 1px dotted $black;
    }

    &.error {
        border: 1px dotted $font-color-error;
    }
}

%textarea {
    display: block;
    height: rhythm(3, $base-font-size, 3);
    margin-top: 2px;
    margin-bottom: 1px;
    appearance: none;
}

%radio-or-checkbox {
    display: inline;
    margin: 0.25em;
    vertical-align: text-bottom;
}

%input-button {
    float: right;
    width: auto;
    padding: 0 1em;
    line-height: 2em;
    background: $white;
    border-radius: 0;
    cursor: pointer;
    appearance: none;

    &:hover {
        text-decoration: none;
    }
}
