@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';

@include make-grid-columns;

// ggrep -Roh 'col-[[:alpha:]]\{2\}-offset-[[:digit:]]\{1,2\}' ./app | sort -u

@include calc-grid-column(1, xs, offset);
@include calc-grid-column(2, xs, offset);
@include calc-grid-column(3, xs, offset);
@include calc-grid-column(6, xs, offset);

@media (min-width: $screen-sm-min) {
    @include calc-grid-column(1, sm, offset);
    @include calc-grid-column(2, sm, offset);
    @include calc-grid-column(3, sm, offset);
}

// ggrep -Roh 'col-xs-[0-9]\{1,2\}' ./app | sort -u
@include float-grid-columns(xs);
@include calc-grid-column(10, xs, width);
@include calc-grid-column(12, xs, width);
@include calc-grid-column(2, xs, width);
@include calc-grid-column(2, xs, width);
@include calc-grid-column(6, xs, width);
@include calc-grid-column(8, xs, width);

// ggrep -Roh 'col-sm-[0-9]\{1,2\}' ./app | sort -u
@media (min-width: $screen-sm-min) {
    @include float-grid-columns(sm);
    @include calc-grid-column(10, sm, width);
    @include calc-grid-column(3, sm, width);
    @include calc-grid-column(4, sm, width);
    @include calc-grid-column(5, sm, width);
    @include calc-grid-column(6, sm, width);
    @include calc-grid-column(7, sm, width);
    @include calc-grid-column(8, sm, width);
    @include calc-grid-column(9, sm, width);
}

// ggrep -Roh 'col-md-[0-9]\{1,2\}' ./app | sort -u
@media (min-width: $screen-md-min) {
    @include float-grid-columns(md);
    @include calc-grid-column(3, md, width);
    @include calc-grid-column(4, md, width);
}

// ggrep -Roh 'col-lg-[0-9]\{1,2\}' ./app | sort -u
@media (min-width: $screen-lg-min) {
    @include float-grid-columns(lg);
    @include calc-grid-column(2, lg, width);
}
