body {
    margin: 0;
    padding: 0;
}

.page {
    position: relative;
    margin: 0;
    padding: rhythm(3) 0 0;

    &.has-xs-img {
        margin: #{- rhythm(3)} 0 0;

        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
    }
}

.container {
    @include container;
}

.container--0_5 {
    padding-top: rhythm(0.5);
    padding-bottom: rhythm(0.5);
}

.container--2 {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2);
        padding-bottom: rhythm(2);
    }
}

.container--2-5 {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2.5);
        padding-bottom: rhythm(2.5);
    }
}

.container--3 {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(3);
        padding-bottom: rhythm(3);
    }
}

.container--header {
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
}

.container--header.container--header-with-img {
    &.container--2 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(1);
        }

        &.container--header--top-heavy {
            @media (min-width: $screen-sm-min) {
                padding-top: rhythm(2);
            }
        }
    }

    &.container--2-5 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(1.5);
        }

        &.container--header--top-heavy {
            @media (min-width: $screen-sm-min) {
                padding-top: rhythm(2.5);
            }
        }
    }

    &.container--3 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(2);
        }

        &.container--header--top-heavy {
            @media (min-width: $screen-sm-min) {
                padding-top: rhythm(3);
            }
        }
    }
}

.container--header--top-heavy {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2);
    }

    &.container--2 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(4);
        }
    }

    &.container--2-5 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(5);
        }
    }

    &.container--3 {
        @media (min-width: $screen-sm-min) {
            padding-top: rhythm(6);
        }
    }
}

.container--insights {
    > * {
        padding: rhythm(1) rhythm(0.5);
    }
}
