.no-charms {
    .main-nav__root-list-item:nth-child(3),
    .main-nav__root-list-item:nth-child(4),
    .main-nav__root-list-item:nth-child(5),
    .main-nav__root-list-item:nth-child(6) {
        display: none;
    }
}

.no-social {
    .social-media-share-plugins-list {
        display: none;
    }
}
