@import '../helpers/compass-altered/reset/utilities';

@include global-reset();

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main:focus {
    outline: none;
}

strong,
b {
    font-weight: 400;
}

em {
    font-style: italic;
}

[hidden] {
    display: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: rhythm(1);
}
