@include establish-baseline;

html {
    text-size-adjust: 100%;
}

body {
    color: map-get($greys, 800);
    font-weight: 300;
    font-family: $font-family-primary;
}

/* stylelint-disable selector-no-qualifying-type */
a[class=''],
a:not([class]) {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $font-color-link;
        text-decoration: underline;
    }
}
/* stylelint-enable selector-no-qualifying-type */

sup {
    position: relative;
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

.header--has-top-border {
    padding-top: rhythm(1);
    border-top: 1px solid $border-color;
}

.list--normal {
    @include adjust-leading-to(0.75);

    margin-bottom: rhythm(0.75);
    padding-left: rhythm(1);
    list-style-position: outside;
    list-style-type: disc;

    @media (min-width: $screen-sm-min) {
        padding-left: rhythm(2);
    }

    li {
        margin-bottom: rhythm(0.4);
    }
}

.list--normal .list--normal {
    margin-top: rhythm(0.4);
    margin-bottom: 0;

    li:last-child {
        margin-bottom: 0;
    }
}

.list--has-lead-in {
    margin-top: #{- rhythm(0.5)};
}

::selection {
    color: $white;
    background: $theme-primary;
}

.category {
    @include adjust-font-size-to(16px, 1);

    margin-bottom: 0;
    color: map-get($greys, 800);

    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(0.125);

        @include adjust-font-size-to(20px, 1);
    }
}

.section-label {
    @include adjust-leading-to(1.5);

    position: relative;
    margin: auto;
    padding-bottom: rhythm(1.5);
    color: $white;
    text-align: center;

    &:before {
        @include svg-sprite-icon-in-pseudo();
        // scss-lint:enable SpaceAroundOperator
        bottom: 0;
        left: 50%;
        width: 46.415px;
        height: 23.16px;
        // scss-lint:disable SpaceAroundOperator
        background-image:
            svg-load(
                'images/ui/resources-arrow.svg',
                fill=$white
            );
        transform: translateX(-50%);
    }
}

.error {
    color: $font-color-error;
}
