// scss-lint:disable ColorVariable
$theme: 'cmc';

$rhythm-unit: 'rem';
$base-font-size: 16px;
$base-line-height: 26px;
$content-max-width: 998px;
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;

$left-nav-menu-z-index: 900;

$screen-xs-land-min: $screen-xs-min;
$screen-md-min: 922px;
$screen-sm-max: ($screen-md-min - 1);

$grid-gutter-width: 26px;

$black: #000;
$white: #fff;

$greys: (
    100: #f0f2f4,
    lightest: #f0f2f4,
    200: #e7eaed,
    light: #e7eaed,
    300: #d3d9de,
    normal: #d3d9de,
    400: #bfc8d0,
    500: #bbb,
    600: #8e99a8,
    700: #6a7688,
    800: #666,
    900: #4b5363,
    dark: #4b5363,
    1000: #333,
    darkest: #333,
);

$font-color-error: #ff3f00;

$border-color: map-get($greys, 500);

$theme-primary: #1569a9;
$theme-primary-light: #4b8ad8;
$theme-primary-dark: #00468a;
$theme-secondary: #dc932f;
$theme-tertiary: #78a22f;
$theme-tertiary-light: #78a02d;

$font-color-link: $theme-primary-dark;
$default-rhythm-border-style: solid $border-color;

$header-bg-gradient-stop1: #fff;
$header-bg-gradient-stop2: #f3f4f8;
$header-bg-gradient: radial-gradient(
    ellipse at center,
    $header-bg-gradient-stop1 60%,
    $header-bg-gradient-stop2 100%
);

$location-notification-transition-duration: 700ms;
