---
# <!-- @formatter:off -->
title: Colors
show-in-quick-launch: true
additional-scripts:
    - src: /scripts/page--styleguide.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/styleguide.css
      inline: false
loop:
    - 100
    - 200
    - 300
    - 400
    - 500
    - 600
    - 700
    - 800
    - 900
    - 1000
# <!-- @formatter:on -->
---

<div class="layout__container">
    <section>
        <h1 class="h1-sg-heading">Colors</h1>
        <section>
            <h2 class="h2-sg-heading">Text Colors</h2>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="">
                        default: map-get($greys, 800) / c-grey-800
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-white b bgc-theme-primary">
                        .c-white
                    </div>
                </div>
            </div>
            {{#each loop}}
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-grey--{{this}} b">
                        .c-grey--{{this}}
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-black b">
                        .c-black
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <span class="c-theme-primary b">
                        .c-theme-primary
                    </span>
                    <span class="txt--legal-i">currently unused</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-theme-primary-light b">
                        .c-theme-primary-light
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-theme-primary-dark b">
                        .c-theme-primary-dark
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="c-theme-tertiary b">.c-theme-tertiary</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <span class="c-theme-tertiary-light b">
                        .c-theme-tertiary-light
                    </span>
                    <span class="txt--legal-i">currently unused</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <span class="c-theme-secondary b">
                        .c-theme-secondary
                    </span>
                    <span class="txt--legal-i">currently unused</span>
                </div>
            </div>
        </section>
        <section>
            <h2 class="h2-sg-heading">Item Background XS Colors</h2>

            {{#each loop}}
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class=" swatch bgc-grey--{{this}}">
                        .bgc-grey--{{this}}
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc-white">
                        .bgc-white
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc-theme-primary c-white">
                        .bgc-theme-primary
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc-theme-primary-light c-white">
                        .bgc-theme-primary-light
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc-theme-tertiary c-white">
                        .bgc-theme-tertiary
                    </div>
                </div>
            </div>
            <h2 class="h2-sg-heading">Item Background SM Colors</h2>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc--sm--grey--200 ">
                        bgc--sm--grey--200 / bgc--sm--grey--light
                    </div>
                </div>
            </div>
                        <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc--sm--grey--300 ">
                        bgc--sm--grey--200 / bgc--sm--grey--normal
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc--sm--theme-primary c-white">
                        .bgc--sm--theme-primary
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-6 col-xs-6">
                    <div class="swatch bgc--sm--theme-primary-light c-white">
                        .bgc--sm--theme-primary-light
                    </div>
                </div>
            </div>

        </section>
    </section>
    <section>
        <h2 class="h2-sg-heading">Full Width Background Wrappers</h2>
        <div class="row">
            <div class="col-xs-12">
                <div
                    class="swatch--bg bgg-theme-primary-to-theme-primary-light c-white"
                >
                    .bgg-theme-primary-to-theme-primary-light-light
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div
                    class="swatch--bg bgg-theme-primary-to-theme-primary-light reverse c-white"
                >
                    <em>.reverse</em
                    >.bgg-theme-primary-to-theme-primary-light-light
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bgg-grey-200-to-grey-300">
                    .bgg-grey-200-to-grey-300
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bgg-grey-200-to-grey-300 reverse">
                    <em>.reverse</em>.bgg-grey-200-to-grey-300
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bg-ptn--blue-bar-bkg-nexus">
                    .bg-ptn--blue-bar-bkg-nexus
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bg-ptn--blue-bar-bkg-careers">
                    .bg-ptn--blue-bar-bkg-careers
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bg-ptn--blue-bar-bkg-resources c-white">
                    .bg-ptn--blue-bar-bkg-resources
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="swatch--bg bg-ptn--blue-bar-bkg-email c-white">
                    .bg-ptn--blue-bar-bkg-email
                </div>
            </div>
        </div>
    </section>
</div>
