---
# <!-- @formatter:off -->
title: Styleguide
show-in-quick-launch: true
additional-scripts:
    - src: /scripts/page--styleguide.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/styleguide.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="cmc-article">
    {{>quick-launch}}
    <p><a href="../component-builder/">component builder</a></p>
</article>
{{/content}} {{/extend}}
