---
# <!-- @formatter:off -->
title: Typography
show-in-quick-launch: true
additional-scripts:
    - src: /scripts/page--styleguide.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/styleguide.css
      inline: false
# <!-- @formatter:on -->
---

<div class="layout__container">
    <section>
        <h1 class="h1-sg-heading">Typography</h1>
    </section>

    <section>
        <h2 class="h2-sg-heading">Heading Text</h2>
        <p>
            <code>.ht--s--18-24</code>
            in _home-page-carousel only
        </p>
        <p>
            <code>.ht--s--30-40</code>
            in _partner-list only
        </p>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.i</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16 i">
                    make any italic with <code>i</code>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.uc</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16 uc">
                    make any uppercase with <code>uc</code>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.category</div>
            </div>
            <div class="col-xs-6">
                <div class="category">make named style <code>category</code></div>
            </div>
        </div>
        
        <p>
            <code>.ht--{p,s}--{size-mobile}-{size-desktop}-{leading}</code>
        </p>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--400</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16 ht--p--400">
                    make any bold with <code>ht--p--400</code>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--14</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--14">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--14-075</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--14-075">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--16</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--16-1_125</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16-1_125">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--400 ht--p--16-1_125</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--400 ht--p--16-1_125">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--400 ht--p--16</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--400 ht--p--16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--16-20</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16-20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--16-22</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--16-22">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--18</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--18">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--18-24</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--18-24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--20</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--22</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--22">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--22-i</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--22-i">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--22-1_5</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--22-1_5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--28</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--28">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--30</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--30">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--p--30-48</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--p--30-48">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--16</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--16">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--18</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--18">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--20</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--22</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--22">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--22-28</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--22-28">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--24</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--24">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--28</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--28">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--30-46</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--30-46">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--32</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--32">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--36</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--36">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--38</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--38">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--38-45</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--38-45">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--44</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--44">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--50</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--50">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--70</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--70">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--30-50</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--30-50">
                    Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--40-80</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--40-80">
                    lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.ht--s--55-70</div>
            </div>
            <div class="col-xs-6">
                <div class="ht--s--55-70">
                    lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </section>

    <section>
        <h2 class="h2-sg-heading">Text Text</h2>

        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.txt--legal</div>
            </div>
            <div class="col-xs-6">
                <div class="txt--legal">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-3">
                <div class="">.txt--legal-i</div>
            </div>
            <div class="col-xs-6">
                <div class="txt--legal-i">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
    </section>
</div>
