---
# <!-- @formatter:off -->
title: Wrappers / Boxes
show-in-quick-launch: true
additional-scripts:
    - src: /scripts/page--styleguide.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/styleguide.css
      inline: false
    - href: /styles/pages/pre-box-v4.css
      inline: false
# <!-- @formatter:on -->
---

<section class="layout__container">
    <h1 class="h1-sg-heading">Generic Wrappers</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.c</div>
        </div>
        <div class="col-xs-6">
            <div class="c">text-align: center</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.l</div>
        </div>
        <div class="col-xs-6">
            <div class="l">text-align: left</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.r</div>
        </div>
        <div class="col-xs-6">
            <div class="r">text-align: right</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.fs</div>
        </div>
        <div class="col-xs-6 flexcol">
            <div class="fs">align-self:flex-start</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.l--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="c l--sm border">
                center then <code>text-align: left</code> starting at small
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.bottom</div>
        </div>
        <div class="col-xs-6">
            <div class="border min-height-7 flexcol">
                <a href="#" class="pill-button bottom fs">bottom</a>
                <span class="txt--legal-i"
                    >must be in flex column, prob also needs `block c` or
                    `fs`</span
                >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.block</div>
        </div>
        <div class="col-xs-6">
            <div class="c l--sm border">
                force a flex item to block
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.flexcol</div>
        </div>
        <div class="col-xs-6">
            <div class="c l--sm border">
                force a block/inline item to flex
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.fl</div>
        </div>
        <div class="col-xs-6">
            <div class="fl border">float left</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.fr</div>
        </div>
        <div class="col-xs-6">
            <div class="fr border">float right</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.border</div>
        </div>
        <div class="col-xs-6">
            <div class="block border">add a border</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.clear</div>
        </div>
        <div class="col-xs-6">
            <div class="block border">clear some floats</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.reverse-spans</div>
        </div>
        <div class="col-xs-6 reverse-spans">
            <span class="block border">one</span>
            <span class="block border">two</span>
            <div class="txt--legal-i">
                reverse two spans so they read properly. for accessability
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.cols</div>
        </div>
        <div class="col-xs-6 cols">
            <p>1 col @xs</p>
            <p>2 col @xs-land</p>
            <p>3 col @sm</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                eu elit ut nulla vulputate fermentum at ut leo. Mauris quis
                sapien metus. Morbi placerat auctor nunc, a lobortis tellus
                gravida ac.
            </p>
        </div>
    </div>
</section>

<section class="layout__container">
    <h1 class="h1-sg-heading">Img Wrappers</h1>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.intro-img / .has-intro-img</div>
        </div>
        <div class="col-xs-6">
            <img
                loading="lazy"
                class="intro-img"
                src="/images/pages/products/education-partners/COD-export-import-icon-sm.png"
                alt=""
                inline-img-dims
            />
            <h3 class="b ht--p--18 has-intro-img mb0 c-grey--800">
                h3 has-intro-img mb0 c-grey--800
            </h3>
            <p class="has-intro-img">p has-intro-img</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.img-cover</div>
        </div>
        <div class="col-xs-6">
            <div class="swatch">
                <img
                    alt=""
                    loading="lazy"
                    inline-img-dims
                    src="/images/pages/higher-education-resources/box-LBC-case-study.jpg"
                    class="img-cover"
                />
            </div>
        </div>
    </div>
    
</section>

<section class="layout__container">
    <h1 class="h1-sg-heading">Size Wrappers</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.min-height-7</div>
        </div>
        <div class="col-xs-6">
            <div class="block border min-height-7">min height 7 rows</div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.max-7</div>
        </div>
        <div class="col-xs-6">
            <div class="block border fl">
                <img
                    alt=""
                    loading="lazy"
                    inline-img-dims
                    src="/images/pages/higher-education-resources/box-LBC-case-study.jpg"
                    class="block max-7"
                />
            </div>
            <span> max <span class="b">width & height</span> 7 rows/cols </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.max-height-7--xs-only</div>
        </div>
        <div class="col-xs-6">
            <div class="block border fl">
                <img
                    alt=""
                    loading="lazy"
                    inline-img-dims
                    src="/images/pages/higher-education-resources/box-LBC-case-study.jpg"
                    class="block max-height-7--xs-only img-cover"
                />
            </div>
            <div class="block border max-height-7--xs-only">
                <span class="b">max</span> height 7 rows xs only
                <div class="txt--legal-i">img probably needs img-covr</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.max-width-100</div>
        </div>
        <div class="col-xs-6">
            <div class="block border" style="width: 142px;">
                <img
                    alt=""
                    loading="lazy"
                    inline-img-dims
                    src="/images/pages/higher-education-resources/box-LBC-case-study.jpg"
                    class="max-width-100"
                />
            </div>
            <span> max <span class="b">width </span> 100% of container </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.max-width-66--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="block border border">
            <div class="bgc-grey--300 max-width-66--sm block c">
            foo
            </div>
            <span>
                max <span class="b">width </span> 66% of container @>=sm 
            </span>
        </div>
    </div>
</section>

<section class="layout__container">
    <h1 class="h1-sg-heading">Padding Wrappers</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.pb0</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box pb0">pb0</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.pb1</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="pb1 sg-pad-marg-box">pb1</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.pt1--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box pt1--sm">pt1--sm</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.pt2</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="pt2 sg-pad-marg-box">pt2</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">pt2--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="pt2--sm sg-pad-marg-box">pt2--sm</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.pt2-5--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="pt2-5--sm sg-pad-marg-box">pt2-5--sm</div>
            </div>
        </div>
    </div>
</section>

<section class="layout__container">
    <h1 class="h1-sg-heading">Margin Wrappers</h1>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.mb0</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box mb0">mb0</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.mb0-5</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box mb0-5">mb0-5</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.mb1</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box mb1">mb1</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.mb2--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box mb2--sm">mb2--sm</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
            <div class="">.mb2-5--sm</div>
        </div>
        <div class="col-xs-6">
            <div class="sg-pad-marg-box-wrapper">
                <div class="sg-pad-marg-box mb2-5--sm">mb2-5--sm</div>
            </div>
        </div>
    </div>
</section>
