<ul id="password-protected-download__list">
    {{#each links}}
        <li class="password-protected-download__list-item" data-expires="{{expires}}">
            <a
                class="password-protected-download__list-item__link"
                href="{{signedRequest}}">
                <img
                    class="password-protected-download__list-item__image"
                    src="/images/ui/productSheetIconSm.png"
                    alt="" />
                <p class="b mb0">{{title}}</p>
                <span class="password-protected-download__list-item__dl-text">Download</span>
                {{#if error}}
                    <p class="password-protected-download__form__error">{{error}}</p>
                {{/if}}
                <p class="expiresMsg"></p>
            </a>
        </li>

    {{/each}}
</ul>

<button
    class="password-protected-download__refresh-button"
    style="display: none;">
    Reload
</button>

<button class="password-protected-download__reauth-button">
    {{#if hasUnauthorizedItem}}
        Reauthenticate
    {{else}}
        Logout
    {{/if}}
</button>


