---
# <!-- @formatter:off -->
title: 3 Survival Questions Every Institution Should Ask - eCampusNews
publish: 2015-07-07
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Why adapting to changing demographics is a matter
        of survival; and how colleges and universities can do it.
    </p>

    <p>
        <span class="press-release__date-location">By Connor Gray, July 7, 2015</span>
        - Increased competition, reduced public funding, demand for non-traditional delivery models, and increased
        regulatory pressure around student outcomes are forcing institutions to ask fundamental questions about the
        effectiveness of their current strategies and offerings for engaging today’s students and helping them succeed.
        Questions such as:
    </p>

    <h2 class="b  c-grey--800 ">1. Who is the typical student today?</h2>

    <p>Is it the 18-year-old right out of high school who moves away from home for the first time and has never known a
        world without the Internet? Is it the older student who lives off-campus and works part-time to pay tuition? Or
        is it the mid-career parent who works full time and needs a more flexible way to gain new skills or academic
        credit for real-world experience and competencies?
    </p>

    <p>For more institutions, it’s all of the above.</p>

    <p>Today’s “typical students” represent a diverse demographic across economic, cultural, and generational lines.
        They need to be engaged on their own terms, with multiple choices and pathways for achieving specific academic
        and professional goals.
    </p>

    <p>They also live in the digital age. With the proliferation of online programs and options, they are one click away
        from transferring to new institutions or taking online courses from multiple providers. For institutions to
        maintain or increase enrollments, it will take more than offering more online classes or provisioning tablets,
        smartphones, and other personal devices for students. It will take a fundamental change in how schools go about
        engaging students and establishing loyalty.
    </p>

    <p>The retail industry faced a similar seismic shift with consumers. We all know what happened to Blockbuster and
        Sears: Netflix and Amazon.com happened. Attempts at launching online versions of their brick-and-mortar stores
        turned out to be too little too late. In contrast, forward-thinking big-box retailers such as Staples and Toys R
        Us saw an opportunity to engage customers on a deeper level through the digital experience, treating physical
        locations as fulfillment centers for online orders and enabling in-store customers to ship purchases home.
        According to the Urban Land Institute, even Millennials prefer to shop in-store and are more likely to visit
        retail locations that align the physical and virtual shopping experience.
    </p>

    <p>Higher education is experiencing a similar phenomenon.</p>

    <p>Even at a venerable (and yes, traditional) institution such as Penn State, only 20 percent of its student body
        actually conforms to the old-school definition of “typical student,” the kind of student who moves to campus,
        lives in the dorm, attends ground-school classes Monday through Friday, and parties on the weekends. With the
        rising cost of education and reduced public funding, more students have to work to pay for school, which makes
        scheduling even more problematic. If they can’t get into a class at the time they want, Penn State knows its
        students may go online to seek out alternatives, possibly at another institution.
    </p>

    <h2 class="b  c-grey--800 ">2. How can institutions adapt?</h2>

    <p>Just as with the retail industry, institutions like Penn State are providing more than convenience or
        alternatives through online engagement. They are adding value. Presently, more than 50 percent of Penn State
        students take at least one online course to complete their curriculum. Programs at its World Campus, which is
        ranked in the top 25 for online undergraduate and graduate programs by U.S. News &amp; World Report, offer
        value-added resources for students and faculty that help improve learning outcomes across a wide range of
        academic and career goals. Faculty members are paired with learning designers to improve the quality and
        consistency of online instruction, which benefits their ground-school classes as well.
    </p>

    <p>In fact, hybrid programs that combine online and ground-school formats are yielding tangible results as well. At
        Penn State Berks, analysis of hybrid courses has shown improved student learning and student retention,
        including:
    </p>

    <ul class="list--normal list--has-lead-in">
        <li>Overall increase in student class grade point average in the course</li>
        <li>Greater number of students who now receive a passing grade (C or better)</li>
        <li>Overall increase in student class grade point average for each test</li>
        <li>Greater number of students who now receive a passing grade (C or better)</li>
        <li>Decrease of number of student withdrawals from the course</li>
    </ul>

    <p>
        Other new models and support mechanisms are emerging to help students succeed.
        <a
            href="http://asuonline.asu.edu/"
            target="_blank"
            rel="noopener"
        >Arizona State University
        </a>
        is gaining national attention for teaming up with Starbucks to create a pioneering new approach to help students
        who are unable to complete their degrees due to work-life or financial obstacles. The Starbucks College
        Achievement Plan will enable Starbucks employees throughout the country, who are in their junior or senior year
        of college, to finish a bachelor’s degree through Arizona State’s top-ranked online program with full tuition
        reimbursement.
    </p>

    <p>Secretary of Education Arne Duncan sees the Starbucks-ASU partnership as a fantastic program that reflects the
        kind of innovative programs and models needed to serve today’s students. He notes that in tough economic times,
        states typically cut back their funding and universities jack up tuition to cover the difference, so having the
        private sector step up with programs like this is important if we want to make higher education accessible to
        everyone and be the world leader in higher education graduation rates again.
    </p>

    <h2 class="b  c-grey--800 ">3. How can the right technology help you
        adapt?</h2>

    <p>Of course, enabling technologies will play a critical role in bringing new ideas and models to life, and exciting
        innovations are on the horizon. But as industry analyst organization OVUM observes, today’s higher education
        software vendors should be providing a better value proposition for how these new technologies can help
        institutions meet specific institutional goals.
    </p>

    <p>At Campus Management, we spend a lot of time thinking about the foundational challenges facing higher education
        and have articulated some cornerstones for institutional and student success.
    </p>

    <p>The first one is having an engagement strategy to orchestrate interactions and keep students informed and
        motivated throughout the student lifecycle. We must make it easier and more cost-effective for students to take
        classes and achieve their academic goals.
    </p>

    <p>Secondly, we must design new models of delivery incorporating flexible terms, online and hybrid programs, along
        with financial aid packages to support these models.
    </p>

    <p>The last piece is agility, the ability to quickly change and adapt to new strategies. We don’t know for sure how
        higher education and student demographics will evolve over the next ten years, but we know from looking back
        over the last ten years that change is inevitable. As a result, an institution’s continued success will
        necessarily be tied to the adaptability of its academic model and supporting technology for current and future
        generations of learners.
    </p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
