---
# <!-- @formatter:off -->
title: "65 percent students don't get jobs"
publish: 2016-06-04
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Only 200 top colleges have excellent placement record</p>

    <p><span class="press-release__date-location">DECCAN Chronicle - Purnima Sah - June 05, 2015 - COIMBATORE:</span>
        About 65 per cent of the students in the country who pass out from colleges do not get jobs, according to a
        latest survey. India has over 34,000 colleges and about 65 per cent of the students who complete their
        bachelor’s degree do not get employment, according to the Campus Preparedness Survey 2015.</p>

    <p>Only about 200 top colleges have excellent record in providing placement, said Raj Mruthyunjayappa, managing
        director of Campus Management, while releasing the Campus Preparedness Survey 2015.</p>

    <p>About 22 per cent of the colleges in India don’t feel the need for any research activity. The focus on research
        is more pronounced in the colleges in north India where 57 per cent of the institutions give high priority to
        research studies. In south India, about 43 per cent of the colleges show great keenness in research work.</p>

    <p>The survey findings reveal that curriculum optimisation remains the most important emerging trend among Indian
        institutions. Almost all colleges in south India give paramount importance to academic rigour .But surprisingly,
        57 per cent of the southern institutions don&#39;t give priority to faculty and institutional advancement.
        Furthering faculty effectiveness remains a very high priority for only 32 per cent of the institutions in the
        country.</p>

    <p>About 31 per cent of the institutions feel the need for pursuing a non-traditional educational methodology. The
        conservative south is probably not very keen on giving a go-by to conventional learning strategies. Only 29 per
        cent of the southern institutions want to try out non-traditional learning strategies.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
