---
# <!-- @formatter:off -->
title: Arkansas Colleges of Health Education (ACHE) Selects CampusNexus Suite to Launch School of Osteopathic Medicine
publish: 2016-05-16
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p><span class="press-release__date-location">Boca Raton, Florida – May 16, 2016</span> – Campus Management Corp., a
        leading provider of enterprise solutions and services for higher education, announced today that the Arkansas
        Colleges of Health Education (ACHE) has selected the full CampusNexus® product suite—including CampusNexus
        Student, CampusNexus CRM, and CampusNexus Finance, HR &amp; Payroll —as the academic and administrative platform
        for their medical school system, which begins this year with the Arkansas College of Osteopathic Medicine
        (ARCOM).</p>

    <p>“We needed to open a school to train osteopathic physicians in the Fort Smith area, an underserved region of
        Arkansas,” said Tom Webb, ACHE’s Chief Operating Officer. “Because we’re building our flagship institution,
        ARCOM, from the ground up, we sought the best partner to implement a technology foundation -- one that can
        deploy rapidly across departments and the student lifecycle -- and help us scale over the long term. After a
        very competitive selection process, we chose Campus Management for its service philosophy, genuine passion for
        our mission, and proven track record in higher education. We were also impressed with the adaptability of the
        CampusNexus product suite to our delivery model. It’s the most comprehensive, next-generation platform in the
        industry.”</p>

    <p>“We are very pleased to welcome ACHE as a valued client and to support its mission in Arkansas,” said Jim
        Brigadier, Senior Vice President at Campus Management. “With our CampusNexus solutions, the institution can
        execute its immediate and long-term strategies based on a complete picture of constituent and operational needs.
        Combining an agile student information system, enterprise-level CRM solution, and a robust Microsoft®-based
        finance, human resources and payroll platform as its foundation, ACHE will be able to unite and automate
        workflows, enhance engagement with students, easily add programs and campuses, optimize resources and staffing,
        and adapt their playbook to the ever-evolving higher education landscape.”</p>

    <p>The CampusNexus Suite embodies Campus Management’s goal of empowering institutions with solutions designed for
        higher education in the 21st century. This robust platform enables institutions of every size and mission to
        offer students greater flexibility in achieving their educational and career goals, from flexible terms and
        financial aid packaging, to online, competency-based, and hybrid programs.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Arkansas Colleges of Health Education (ACHE)</h2>

    <p>The mission of the Arkansas College of Osteopathic Medicine (ARCOM) is to advance medical education and outreach
        and foster the physician workforce throughout the state. With its proposed launch of ARCOM in 2017, the
        organization plans to educate and train compassionate osteopathic physicians, skilled in the science of
        patient-centered osteopathic medical care, dedicated to the ethical and social principles of the osteopathic
        profession, committed to lifelong learning, and focused on service to the underserved. This mission will be
        accomplished at the undergraduate and graduate medical education levels through excellence in teaching,
        research, service, and scholarly activity.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
