---
# <!-- @formatter:off -->
title: Banff Centre for Arts and Creativity Partners with Campus Management to Maximize Student Engagement and Transform the Student Lifecycle
publish: 2018-05-03
social-image: /images/pages/news-and-events/PostImage-1200x630-Banff.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – May 3, 2018</span> – Campus Management announced today that <a href="https://www.banffcentre.ca/" rel="noopener" target="_blank" >Banff Centre for Arts and Creativity</a>, selected Campus Management as its technology partner by licensing the CampusNexus<sup>&reg;</sup> Student and CampusNexus CRM solutions to maximize student success and expand student engagement. Banff Centre will implement CampusNexus Student and CRM, by leveraging the power of CampusNexus Cloud.</p>

    <figure class="press-release__figure" style="width: 300px;">
		<img src="/images/pages/news-and-events/press-releases/banff-logo.png" alt="Banff Centre for Arts and Creativity"/>
	</figure>

    <p>“Campus Management’s 30 years of higher education experience and high-quality services will allow our institution to not only engage with participants in a more meaningful, personalized and flexible way but also enhance our recruitment and enrollment process overall,” said Bill Pearce, Chief Information Officer at Banff Centre. “These dynamic solutions allow us to creatively grow along with our participants and use data-driven analytics to gain important insights that can help us to make the experience better for our artists and leaders.”</p>

    <p>Campus Management’s solutions are built on Microsoft technology that enable higher education institutions to leverage the security of Microsoft Azure, Dynamics and other solutions. Campus Management has a 30-year history of providing institutions all over the world with scalable, robust solutions designed to better engage students, operate with greater efficiencies and empower innovation.</p>

    <p>“Campus Management understands Banff Centre’s growth strategy and requirements to attract and inspire the most talented artists and leaders in the world,” added Jim Milton, Chief Executive Officer at Campus Management. “We look forward to facilitating a culture of ongoing collaboration, communication and flexibility through our partnership.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <h2 class="b c-grey--800 mb0">About Banff Centre for Arts and Creativity</h2>

    <p>Banff Centre for Arts and Creativity, founded in 1933, is a learning organization built upon an extraordinary legacy of excellence in artistic and creative development. What started as a single course in drama has grown to become the global organization leading in arts, culture, and creativity across dozens of disciplines. From our home in the stunning Canadian Rocky Mountains, Banff Centre for Arts and Creativity aims to inspire everyone who attends our campus – artists, leaders, and thinkers – to unleash their creative potential and realize their unique contribution to society through cross-disciplinary learning opportunities, world-class performances, and public outreach. In 2018, Banff Centre celebrates 85 years of creative practice.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Banff Centre for Arts and Creativity</h2>
        Jenny Spurr, Manager, Communications
        <br />
        (403) 431-0261
        <br />
        Jenny_Spurr@banffcentre.ca
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
