---
# <!-- @formatter:off -->
title: Bon Secours Memorial College of Nursing and St. Mary’s Hospital School of Medical Imaging to Deploy Campus Management’s CampusNexus Suite to Enhance the Student Experience
meta-description: Bon Secours Memorial College of Nursing and St. Mary’s Hospital School of Medical Imaging to Deploy Campus Management’s CampusNexus Suite.
publish: 2015-04-14
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p><span class="press-release__date-location">Boca Raton, FL — April 14, 2015</span> — Campus Management Corp., a
        leading provider of enterprise software solutions and services for higher education, today announced that Bon
        Secours Memorial College of Nursing (BSMCON) and St. Mary’s Hospital School of Medical Imaging (SOMI) have
        selected CampusNexus® Student and CampusNexus CRM to replace their long-standing student information systems.
    </p>

    <p>BSMCON and SOMI strive to offer students a high degree of personalization, but their existing student information
        systems were unable to scale sufficiently to meet the needs of a growing and increasingly competitive student
        body. The institutions chose CampusNexus Student and CRM to provide them with flexible, configuration-driven
        solutions, centralizing and automating key processes and administrative functions. Through an extensive
        evaluation process, BSMCON and SOMI determined that CampusNexus solutions will enable their constituencies to
        become more effective and dramatically improve both the student experience and their educational outcome,
        including extending positive student participation in their growing online programs.</p>

    <p>&quot;As educators, it is our responsibility to enhance the overall experience of our valued student population.
        By embracing the power of technology, we have worked closely with the professionals from Campus Management to
        successfully implement a comprehensive platform that supports positive student outcomes,&quot; said Regina
        Welch, Dean of Finance and Administration for Bon Secours Memorial College of Nursing. &quot;CampusNexus not
        only allows us to improve our operations, but it also empowers our staff to better serve our students.
        Establishing a solid operational foundation will provide for better engagement throughout the student
        lifecycle.”</p>

    <p>“Bon Secours recognizes the extensibility and alignment that CampusNexus provides in promoting their values and
        vision, which begins with enhanced student personalization,” said Jim Brigadier, Senior Vice President at Campus
        Management. “By leveraging our scalable student information system with enterprise CRM for lifelong student
        engagement, Bon Secours will be able to eliminate time spent on unnecessary customizations and, thus, continue
        delivering service excellence both in classroom and in meeting community healthcare needs.”</p>

    <p>For more information about Campus Management’s CampusNexus software, please click <a
        href="{{url-lang-prefix}}/products/">here</a>.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Bon Secours Memorial College of Nursing</h2>

    <p>Bon Secours Memorial College of Nursing is a faith-based college offering a Bachelor of Science in nursing
        program and an online RN to BSN degree completion program. BSMCON focuses on student-centered education,
        ensuring graduates are highly-skilled and prepared for a career in nursing in the spirit of Bon Secours (“good
        help”). The College is certified to operate in Virginia by the State Council for Higher Education in Virginia
        and accredited by the Accrediting Council for Independent Colleges and Schools and by the Commission on
        Collegiate Nursing Education. BSMCON is affiliated with Memorial Regional Medical Center, part of Bon Secours
        Richmond Health System.</p>

    <h2 class="b c-grey--800 mb0">About St. Mary’s Hospital School of Medical Imaging</h2>

    <p>The St. Mary’s Hospital School of Medical Imaging proudly offers 38 years of experience and accreditation. The
        program follows the strict requirements of the ASRT (American Society of Radiologic Technologists) curriculum
        and meets accreditation standards of the <a href="http://www.jrcert.org/">JRCERT</a> (Joint Review Committee on
        Education in Radiologic Technology).</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
