---
# <!-- @formatter:off -->
title: Brazosport College Selects Campus Management CampusNexus Student and Engage Platforms to Transform and Personalize Student Engagement
publish: 2019-12-11
social-image: /images/pages/news-and-events/Brazosport-College-social-share.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Prominent Texas College Upgrades to Campus Management’s Comprehensive,
State-of-the-Art Student Information and Intelligent CRM Solutions
</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla. – December 11, 2019</span> – Campus Management, a leading provider of cloud-based, enterprise SIS, CRM and ERP solutions and services, announced today that Brazosport College will deploy its CampusNexus<sup>®</sup> Student and CampusNexus Engage solutions as part of a major student-centered technology transformation across campus.  A public, coeducational college based in Lake Jackson, Texas that offers four-year degree programs and two-year degree and certificate options in a variety of career fields, Brazosport College chose to partner with Campus Management for its market leadership, focus on empowering learner success, and its ability to enable a highly individualized student engagement experience.</p>

    <p>“We’re excited to partner with Campus Management and look forward to the new system allowing us to understand and serve our diverse student population. We will now be able to quickly respond, support and encourage our students’ progress toward their individual success,” said Dr. Millicent Valek, President of Brazosport College. “Campus Management was an ideal fit to our student success agenda – from nurturing students through every phase of their college experience to ensuring our state reporting and analytic needs are being met.”</p>

    <p>Upgrading from a prior technology  system that was in place for several decades, Brazosport College was seeking a modern and personalized approach to empower its student population of more than 4,000, which includes learners pursuing select four-year degrees, two-year transfers as well as certificate programs across a variety of career areas and major fields of study. </p>

    <p>“We are thrilled to be deploying CampusNexus Student and Engage at Brazosport – their top-notch team has set the bar high for meeting the ever-shifting needs of a highly diverse regional student demographic with varying demographic and socioeconomic backgrounds,” said Jim Brigadier, Senior Vice President of Field Operations for Campus Management. “We applaud Brazosport’s commitment to transforming its service approach to meet students’ personalized needs.”</p>

	<p>CampusNexus Student transforms the student experience for higher education institutions. Offering a 360-degree view of every department’s interactions with each student, the solution helps institutions boost enrollment, retention and placement results.</p>

	<p>CampusNexus Engage delivers a dynamic system of intelligence for higher education institutions with a smart CRM approach offering actionable insight throughout the student lifecycle. Built using Microsoft Dynamics, Azure and Power BI, the solution integrates higher education workflow processes and best practices with the latest innovations in artificial intelligence, machine learning and business analytics to improve student engagement and success.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Brazosport College</h2>

    <p>
        Located on 156 acres of beautifully landscaped grounds in Lake Jackson, Texas, <a href="https://brazosport.edu/" rel="noopener"  target="_blank">Brazosport College</a> has served as the college of choice for students in southern Brazoria County since 1968. Brazosport College offers four-year degree programs in Industrial Management and Health Services Management. BC also offers two-year degree and certificate options in a variety of career fields, as well as courses in major fields of study, which will transfer to four-year schools. The healthcare program at BC offers ADN and LVN opportunities.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
