---
# <!-- @formatter:off -->
title: Campus Management Acquires IDenizen SmartCampus
publish: 2015-04-06
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">Providing Advanced Technology Solutions for Higher Education Institutions
        Worldwide</p>

    <p><span class="press-release__date-location">Boca Raton, Florida and Bangalore, India — April 6, 2015</span> —
        Campus Management Corp., a leading provider of
        enterprise software products and services for higher education, today announced that it has acquired IDenizen
        Smartware Pvt. Ltd. (IDenizen), a technology company based in Bangalore, India.</p>

    <p>Established in 2004, IDenizen is a leading developer of ERP-based automation solutions for educational
        institutions in India. IDenizen will be incorporated into the newly formed <a
            href="{{url-lang-prefix}}/news-and-events/press-releases/Campus-Management-Establishes-Headquarters-for-International-Operations-in-Bangalore-India/">Campus
            Management International Pvt. Ltd.</a> business unit, also based in Bangalore, further strengthening Campus
        Management’s global position in higher education.</p>

    <p>“IDenizen’s SmartCampus™ products provide complementary functionality to our CampusNexus® solutions in markets
        like India and allows us to deepen our local presence,” commented Raj Mruthyunjayappa, Campus Management’s
        Senior Vice President &amp; Managing Director for APAC &amp; EMEA. “As a cost-effective, stand-alone
        application, with a fast implementation time, SmartCampus will help us target smaller, cost conscious
        institutions in India seeking to gain access to the functionality of a progressive student information
        system.”</p>

    <p>The IDenizen acquisition brings to Campus Management International an additional 20 customers, along with a
        strong reputation for delivering some of the most mission-critical modules that institutions across India,
        Africa and Indonesia demand such as Examinations, SmartCards, Staff Attendance and E-cash.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>
    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About IDenizen</h2>
    <p>
        IDenizen Smartware Pvt Ltd, with its head office in Bangalore, is an IT and Product Development company focused
        on the education vertical. An ISO 9001:2008 certified company by GMS Registrar Ltd, Inc, IDenizen has been
        empowering educational institutions by helping them maximize potential and optimize resources through its
        flagship product suite SmartCampus™, an ERP software which integrates all the important functionalities of a
        college thereby giving the required Information quickly and efficiently.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
