---
# <!-- @formatter:off -->
title: Campus Management Showcases Soon-to-be-Released Intelligent Engagement Platform for Higher Ed at EDUCAUSE
publish: 2018-10-30
social-image: /images/pages/news-and-events/Intelligent-Engagement-Platform-PR-Social.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">Imagining Tomorrow – Innovating Today: Campus Management Showcases Soon-to-be-Released Intelligent Engagement Platform for Higher Ed at EDUCAUSE</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — October 30, 2018</span> — Campus Management will unveil their latest higher education innovations to support institutional modernization at the EDUCAUSE Annual Conference 2018 in Denver, Colorado, Oct. 31-Nov. 2. This includes showcasing the soon-to-be-released intelligent engagement platform, CampusNexus Engage, and a higher education digital assistant for CampusNexus solutions, built on the Microsoft AI Platform and using Microsoft Azure Machine Learning. Additionally, Campus Management is announcing the early adoption of the new Microsoft Higher Education Accelerator into CampusNexus Engage and future solution releases.</p>

	<p>“From artificial intelligence to CampusNexus Occupation Insight embedded in CampusNexus Engage, we are laser-focused on harnessing the digital transformation underway in higher education to deliver more effective engagement solutions that reflect modern campus business objectives, and today’s outcome-driven students,” said Mark Armstrong, Campus Management Chief Strategy Officer.</p>

	<p>Known for its close solution development relationship with Microsoft, Campus Management was recognized earlier this year as the <a href="https://www.campusmanagement.com/news-and-events/press-releases/Campus-Management-named-2018-Microsoft-global-partner-of-the-year-award-winner-for-education/">2018 Microsoft Global Partner of the Year award winner for Education</a>. At the EDUCAUSE Annual Conference 2017, Campus Management <a href="https://www.campusmanagement.com/news-and-events/press-releases/Campus-Management-expands-collaboration-with-Microsoft-on-constituent-engagement-platform-for-higher-education/">announced a collaboration project with Microsoft</a>, which has since been named CampusNexus Engage. Over the past year, the solution has been developed and designed with a group of early adopters and has integrated the new Microsoft Higher Education Accelerator, which contains industry standard data entities (e.g. student, course, test scores, etc.), pre-built dashboards, workflows, and sample data.</p>

	<p>“Campus Management has collaborated with some forward-thinking institutions over the past year to develop CampusNexus Engage,” said Jamie Harper, Microsoft Vice President, U.S. Education. “Just one year since the announcement of our collaboration project, I’m pleased to showcase the development progress of this intelligent engagement platform.”</p>

	<p>Throughout the CampusNexus Engage design phase, Campus Management has worked closely with clients as part of the Design Partner Program to identify requirements, react to demonstrations and test the solution. In the recent Ovum report, <a href="https://info.campusmanagement.com/campus-management-builds-for-educations-future">Campus Management Builds for Education’s Future</a>, industry analyst Dr. Joyce Kim identifies some of the critical university design partners and the company’s significant development investment that is creating a future-proofed solution.</p>

	<p>Genise Schuette, State Program Administrator for Bemidji State University/Northwest Technical College, a CampusNexus Engage Design Program Partner, noted in the report, “CampusNexus Engage is being built on the best platform out there and seems to be on the cutting edge of emerging technologies. With the solution built on Microsoft Dynamics 365 and using the Microsoft Higher Education Accelerator, I am confident that the final product will surpass our expectations. We are especially impressed with the integration capabilities it has with Microsoft Power BI and social media; furthermore, the analytics are top-notch.”</p>

	<p>Campus Management will have its subject matter experts on site at EDUCAUSE booth No. 923 to discuss and demonstrate the company’s latest technology developments in the areas of artificial intelligence and machine learning, data analytics, and transforming the business of higher education with CampusNexus Engage.</p>

	<p>With a 30-year history of serving higher education customers, Campus Management solutions are cloud-ready, engaging and supporting the student and institution lifecycle. For more information on Campus Management at EDUCAUSE, please visit <a href="https://www.campusmanagement.com/EDUCAUSE">www.campusmanagement.com/EDUCAUSE</a>.</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
