---
# <!-- @formatter:off -->
title: Campus Management Launches Strategic Solutions Practice
publish: 2016-04-05
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Value Track<sup>SM</sup> to Provide Ongoing Guidance to Help Higher-Ed Institutions
        Achieve Operational Goals</p>

    <p><span class="press-release__date-location">Boca Raton, FL — April 5, 2016</span> — Campus Management Corp., a
        leading provider of enterprise solutions and services for higher education, announced today the establishment of
        the Higher Education Strategic Solutions Practice to help institutions fully prepare for and utilize technology.
    </p>

    <p>“Campus Management’s Professional Services team is introducing a paradigm shift in an effort to transform the way
        in which our customers leverage technology,” said James Squires, Vice President of Professional Services at
        Campus Management. “Instead of following the time-worn ‘sell, install, maintain’ formula that has sustained the
        industry for years, Campus Management is establishing an innovative consulting practice to guide our customers
        throughout the transformational lifecycle to achieve optimal benefits based on their unique needs and
        goals.”</p>

    <p>The Strategic Solutions Practice and newly created team of industry experts will be led by Ken Wilson, who
        specializes in helping institutions focus on student success and in executing on their unique mission to become
        more effective. “Recognizing that shifting priorities of institutions necessitate an evolutionary approach, our
        customers will benefit from the continuity of having strategic consultants who remain engaged throughout the
        entire relationship lifecycle with Campus Management,” said Mr. Wilson. “Implementations are not
        one-size-fits-all approaches, so our engagements and resulting recommendations will be holistic, co-created with
        each customer to maximize impact and relevance.”</p>

    <p>Campus Management’s Value Track process consists of three areas of engagement:</p>

    <ul class="list--normal list--has-lead-in">
        <li><strong>Align</strong> – Targeted interviews identify each customer’s priorities and critical pain points.
            Resulting recommendations, created in partnership with the customer, include measurable Key Performance
            Indicators (KPIs) for tracking effectiveness. Operational challenges are translated into executive
            strategies.
        </li>

        <li><strong>Assess</strong> – Regular touchpoints during service engagements ensure the focus remains on the
            institution’s top priorities. They also help to evaluate progress and confirm that the solution roadmap
            satisfies the intended goals. Institutional priorities are continuously evaluated to keep the engagement on
            track.
        </li>

        <li><strong>Optimize</strong> – Periodic milestone assessments allow Campus Management and its customers to
            evaluate the identified KPIs to maximize the solution impact. Customer satisfaction measurements and the use
            of best practices are considered. Post implementation, both the solution and the customer continue to
            evolve, so continuous optimization reviews ensure that institutions are leveraging the latest solution
            capabilities, and that Campus Management is responding to customers’ current and future needs.
        </li>
    </ul>

    <p>“We recognize that customers succeed when they have access to education experts who provide guidance based on
        best practices, industry expertise and a vision for excellence,” commented Jim Brigadier, Campus Management’s
        Senior Vice President, Sales and Professional Services. “The Strategic Solutions Practice will align Campus
        Management solutions with higher education institutions’ unique missions and priorities, maximizing each
        school’s impact on their students and communities.”</p>

    <p>For more information about Campus Management’s CampusNexus software, please click <a
        href="{{url-lang-prefix}}/products/">here</a>.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
