---
# <!-- @formatter:off -->
title: Campus Solutions Provider
publish: 2015-09-16
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p style="text-align: left;">
        <img
            align="right"
            src="/images/pages/news-and-events/press-releases/Raj-Mruthanjappa.gif"
            alt=""
            style="margin: 5px;"
        />
        Raj Mruthyunjayappa is the Bangalore-based managing
        director (Asia Pacific, Europe, Middle East &amp; Africa) of the Boca Raton (USA)-based Campus Management
        Corporation (CMC) which offers a complete ERP (enterprise resource planning) solution to over 2,000 higher
        education institutions in 26 countries. In this capacity, Mruthyunjayappa manages CMC’s business in all
        geographies except the American continents. An alum of Mysore University with a Masters in computer
        applications, Mruthyunjayappa acquired valuable professional experience with nGenera Corp, Austin (Texas), Aditi
        Technologies and Visual Commerce in Seattle, prior to signing up with CMC in 2007.
    </p>

    <p><b>Newspeg</b><br/> In April, a national survey conducted by the US-based Tambellini Group adjudged CMC the #1
        student information systems vendor in the US. Almost simultaneously CMC acquired the Bangalore-based IDenizen
        Smartware Pvt. Ltd (IDenizen), a leading developer of ERP-based automation solutions for medium and small
        education institutions in India.</p>

    <p><b>History</b><br/> Promoted in Boca Raton, Florida in 1988, CMC provides its ERP and administrative software
        systems to post-secondary education institutions in 18 countries. Its comprehensive ERP solution includes the
        first fully online student advisory system and a two-way integration of commercial student administrative
        systems. In 2008, when CMC acquired the Bangalore-based Talisma Corp whose CRM (customer relationship
        management) software is used by banks, financial institutions and business organisations in 32 countries
        worldwide, Mruthyunjayappa relocated to Bangalore to assume additional responsibility as chief executive of the
        company.</p>

    <p><b>Direct talk</b><br/> “The higher education market in India is rapidly modernising and becoming
        customer-conscious, a development well-suited to our solutions portfolio. Institutional users of our end-to-end
        ERP solution in India aggregate 40 and include IIM-Udaipur, SRM University, Chennai, Educomp-Raffles and the
        FLAME Academy, Pune, among others,” he says.</p>

    <p><b>Future plans</b><br/> According to Mruthyunjayappa, a Campus Preparedness Survey covering 500 institutions of
        higher education conducted by CMC, indicates that India’s higher education sector needs to be urgently enabled
        by ICT (information communication technologies). “The survey identifies several pain points of higher education
        institutions with a critical infirmity being low faculty productivity. Our ERP solution which covers the entire
        gamut of institutional operations, is ideal in the circumstances. We believe there’s a huge latent demand for
        our ERP in deemed and private universities in particular. Helping them to upgrade their operations, and
        improving faculty efficiencies and learning outcomes are our prime objectives,” says Mruthyunjayappa.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
