---
# <!-- @formatter:off -->
title: Campus Management Enables Transformation of Higher Education as a Leading U.S. SIS Provider
publish: 2017-07-26
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — July 26, 2017</span> — Campus Management Corp. continues to enable colleges and universities to transform their operational efficiency, academic delivery and student success to meet future challenges through its innovative CampusNexus® suite of solutions and services. Building on its continued momentum during the recent fiscal year ending June 30, 2017, Campus Management was once again named a leading SIS vendor in 2016 by The Tambellini Group, a third-party market research and advisory firm for higher education. Client institutions of every size and mission continue to achieve  measurable results and improve student outcomes leveraging Campus Management’s highly flexible and extensible solutions.</p>

    <p>“Campus Management has a vision for the future of higher education that includes integrating innovative and continually evolving technology to drive operational efficiency, student success and academic delivery at today’s institutions. With market-leading partners as well as employees who average 11 years of education technology experience, we bring unmatched expertise to institutions of every size, mission and student demographic,” said Jim Milton, Campus Management Chief Executive Officer. “In FY17 we had the pleasure of working with institutions that are excited about meeting the academic and career needs of current and future generations of students. We look forward to helping these institutions turn their challenges into opportunities to drive even greater student and institutional success.”</p>

    <p>Trending statistics in recent years show Campus Management to be a dominant software provider to career colleges, as well as the solution-of-choice for a growing number of private and public nonprofit institutions.</p>

    <p>FY2017 Operational Highlights:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Growth and Expansion Achieved Across Operating Footprint
            <ul class="list--normal">
            	<li>58 new CampusNexus clients in the U.S.</li>
            	<li>8 global institutions selected Campus Management solutions to meet increasingly critical business objectives.</li>
            </ul>
        </li>
        <li>CampusNexus Cloud Continued Demand and Growth
        	<ul class="list--normal">
            	<li>34 of Campus Management’s clients in the U.S. selected the cloud solution.</li>
            	<li>Campus Management currently hosts a total of 140 higher education clients in the cloud.</li>
            </ul>
        </li>
        <li>Annual Customer Satisfaction Survey
        	<ul class="list--normal">
            	<li>In the Campus Management 2017 Customer Satisfaction Survey conducted by the National Business Research Institute, the company achieved an unprecedented satisfaction score.</li>
            </ul>
        </li>
    </ul>

    <p>Recent Technology and Partnership Highlights:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Campus Management Launched CampusNexus Cloud on Microsoft Azure
            <ul class="list--normal">
            	<li>CampusNexus Cloud delivers Campus Management solutions as SaaS.</li>
            	<li>CampusNexus Cloud gives clients options to select and flex the right size cloud for their needs.</li>
            </ul>
        </li>
        <li>Campus Management Partnered with Burning Glass Technologies
        	<ul class="list--normal">
            	<li>The partnership delivers actionable job market analytics using the CampusNexus Student dashboard.</li>
            	<li>Students receive job data required to make essential decisions about career opportunities and course planning.</li>
            </ul>
         </li>
    </ul>

    <p>“After seeing the past year’s SIS selections and reviewing the market as a whole, our research shows that Campus Management has seen great success in continuing to rank as the leading SIS vendor in the private, for-profit sector of higher education,” said Vicki Tambellini, The Tambellini Group President and Chief Executive Officer. “Campus Management is establishing stronger representation in the private, not-for-profit and public segments of the market.”</p>

    <p>Campus Management’s market position was recently validated by The Tambellini Group’s
        "<a href="https://www.thetambellinigroup.com/post/2017-student-information-systems-u-s-higher-education-market-share-trends-and-leaders-report-annual-report/"
            target="_blank"
            rel="noopener"
        >2017: Student Information Systems: U.S. Higher Education Market Share, Trends and Leaders Report (2017 SIS Report)</a>,”
        which recognized that Campus Management sold more student information systems in calendar year 2016 than any other vendor.
    </p>

    <p>The company’s growth has been driven by its CampusNexus solution suite, which includes CampusNexus Student, CampusNexus CRM, and CampusNexus Finance, HR & Payroll, all built upon the Microsoft technology stack and offered in the CampusNexus Cloud.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud solutions and services that transform higher education institutions. Its next-generation suite,
CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with
Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About The Tambellini Group:</h2>

    <p>The Tambellini Group is the only independent research and analyst firm dedicated exclusively to higher education. With a database of the technology selections of more than 18,900 global institutions, and a team of analysts and researchers who have decades of higher education expertise, The Tambellini Group offers unbiased analysis and objective insight on education technology and market trends with verifiable data. The organization helps higher education executives, business leaders and the investment community make fact-based technology decisions to achieve their key strategic goals.  Founded in 2001, The Tambellini Group is a woman-owned business headquartered in Irvington, Virginia.</p>

    <p><sup>1</sup>The Tambellini Group 2017 U.S. Higher Education Student Information Systems Market, Trends and Leaders Report by Vicki Tambellini, Mary Beth Cahill, June 2017.</p>

    <p>TTG does not recommend or endorse any vendor solutions for higher education. TTG is an independent research firm without sponsors or ties to vendors. TTG provides selected information about vendors based on research. TTG makes every effort to validate all of the information presented in this report and performs all research in good faith.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
