---
# <!-- @formatter:off -->
title: Campus Management Partners with California Western School of Law to Bolster Recruitment and Administrative Processes
publish: 2017-09-07
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — September 7, 2017</span> — Campus Management today announced its new partnership with California Western School of Law to streamline and enhance recruitment and administrative processes through the power of cloud technology.</p>

    <p>In order to transform their business operations to focus intently on attracting creative, judicious-minded students who are committed to improving society through legal application, California Western School of Law selected Campus Management’s administrative solutions – CampusNexus<sup>®</sup> Student and CampusNexus Finance, HR &amp; Payroll in the CampusNexus Cloud.</p>

    <p>“Our goal is to attract passionate law students who share our dedication to community engagement and finding effective solutions to societal problems," said Niels B. Schaumann, President and Dean at the California Western School of Law. "With Campus Management, we not only gain a cutting-edge, flexible architecture to successfully engage with these students but also a true partner who understands our unwavering pledge to student growth and achievement."</p>

    <p>California Western School of Law is replacing its current systems with the feature-rich CampusNexus solutions, built on Microsoft technology, and available today. Campus Management’s strong partnership with Microsoft enables greater institutional flexibility through integrated functionalities and without requiring additional institutional resources. As a result, CampusNexus has seen wide adoption at campuses all over the globe.</p>

    <p>“The Campus Management team looks forward to helping the California Western School of Law prepare for the future of higher education with CampusNexus,” said Campus Management CEO Jim Milton. “In today’s constantly changing industry landscape, we understand the importance of transforming student engagement and operational efficiencies across campuses now more than ever, and implementing CampusNexus is the first step to remaining competitive.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud solutions and services that transform higher education institutions. Its next-generation suite,
CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with
Campus Management to transform academic delivery, student success and operational efficiency.</p>

	<h2 class="b c-grey--800 mb0">About California Western School of Law</h2>

    <p>Established in 1924 and San Diego’s oldest law school, California Western School of Law is an independent, ABA/AALS-accredited law school that prepares graduates for the practice of law through a carefully sequenced program of study, combining traditional legal theory with hands-on learning in real and simulated client environments.</p>

	<p>For six years in a row, California Western was named to President Obama’s Higher Education Community Service Honor Roll and Honor Roll with Distinction in recognition of the school’s numerous community-focused projects including the California Innocence Project, Community Law Project, and the Mediation Clinic. Students, faculty, and staff donate more than 20,000 pro bono and service hours each year to nonprofits, clinical programs, and law offices.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
