---
# <!-- @formatter:off -->
title: Campus Management’s CampusNexus Engage Wins Enrollment Management Solution Provider of the Year in 2020 EdTech Breakthrough Awards
publish: 2020-06-24
social-image: /images/pages/news-and-events/EdTech-award-2020-PR-Social.png
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">2<sup>nd</sup> Annual Awards Program Recognizes Outstanding Educational Technology Products and Companies</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla., June 24, 2020 </span> – Recognized for continued innovation in driving increased student success from recruitment to career services, Campus Management today announced that its CampusNexus<sup>®</sup> Engage solution won a prestigious 2020 EdTech Breakthrough Award. Taking home the top prize for Enrollment Management Solution Provider of the Year, Campus Management’s CampusNexus Engage combines the company’s deep CRM solutions expertise with Microsoft’s application and cloud infrastructure to deliver a system of intelligence for higher education.</p>

    <p>The 2<sup>nd</sup> annual 2020 EdTech Breakthrough Awards honor excellence and recognize innovation, hard work and success in a range of educational technology categories, including Enrollment Management, School Administration, Adaptive Learning, STEM Education, e-Learning, Career Preparation and many more. This year's program attracted over 1,500 nominations from over 12 different countries worldwide.</p>

    <p>"The enrollment management award category saw fierce competition this year and Campus Management broke through with CampusNexus Engage as it was developed for and with institutions to respond more dynamically and collaboratively to evolving student needs,” said James Johnson, Managing Director for EdTech Breakthrough. "We are thrilled to recognize Campus Management as a 2020 EdTech Breakthrough Award winner."</p>

    <p>EdTech Breakthrough is a leading market intelligence organization that recognizes the top companies and solutions in the global educational technology market.</p>

	<p>Campus Management designed CampusNexus Engage to enable universities and colleges to gain insight across the full student lifecycle. CampusNexus Engage works alongside an institution’s existing systems to help them gain visibility into and respond to each student’s experience and needs in a precise, individualized way. The solution allows institutions to cultivate prospective student relationships through communications and events, predict student success outcomes based on leading indicators and predictive workflows, respond proactively to potential issues based on patterns identified, empower students with a personalized support team of staff/faculty and provide users with an intuitive experiences surrounding the holistic person model.</p>

	<p>“It is our privilege and honor to accept this year’s Enrollment Management of the Year for CampusNexus Engage,” said Dr. Jennifer Beyer, VP of Product Management, CRM, Campus Management. “With this powerful solution, universities and colleges can use critical insights to foster deeper relationships and cultivate success from the first connection point throughout all phases of their higher education journey with their institution.”</p>

	<h2 class="b c-grey--800 mb0">About EdTech Breakthrough</h2>

	<p>Part of Tech Breakthrough, a leading market intelligence and recognition platform for global technology innovation and leadership, the EdTech Breakthrough Awards program is devoted to honoring excellence in educational technology products, companies, and people. The EdTech Breakthrough Awards provide a platform for public recognition around the achievements of breakthrough educational technology in categories including e-learning, student engagement, school administration, career preparation, language learning, STEM and more. Learn more at
        <a href="https://edtechbreakthrough.com/" target="_blank" rel="noopener">EdTechBreakthrough.com</a>.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp.
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
