---
# <!-- @formatter:off -->
title: Campus Management Partners with EDUKAN to Transform Constituent Engagement with Six Community Colleges
publish: 2017-01-18
products:
  - CampusNexus CRM
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – January 18, 2017</span> – Campus Management Corp. announced today that EDUKAN has selected the CampusNexus<sup>®</sup> CRM cloud solution as its new student engagement and communications platform. EDUKAN’s selection of CampusNexus CRM was based on the six-member consortium’s requirements for a proven solution to enhance quantitative insight, enhanced student services and data integration across EDUKAN’s constituent colleges.</p>

    <p>“In order to meet students’ growing demand for online programs, EDUKAN requires a system that allows us to efficiently and securely manage increased enrollment numbers and student data transfers between EDUKAN and consortium colleges” said EDUKAN CEO Esther Lahargoue. “Campus Management’s solutions are designed specifically for higher education, allowing for need-based adaptability and maximum productivity, which makes CampusNexus CRM the perfect tool to integrate data from all six consortium college systems into a single advanced platform.”</p>

    <p>EDUKAN offers easy access to over 200 courses and 16 degree and certification programs online through the six western-based consortium colleges. The integration of all six institutional systems was a key factor for the college’s decision to use CampusNexus CRM. The six consortium colleges include Barton Community College, in Great Bend; Colby Community College, in Colby; Dodge City Community College, in Dodge City; Garden City Community College, in Garden City; Pratt Community College, in Pratt; and Seward County Community College, in Liberal.</p>

    <p>“Enabling EDUKAN to reach and communicate with students who are pursuing college degrees, certificates or individual courses will position the next generation of graduates to succeed in the workforce,” added Campus Management CEO Jim Milton. “Campus Management thrives on helping higher education institutions to provide convenient and affordable access to education. We look forward to building a strong partnership with EDUKAN and implementing CampusNexus® CRM according to their needs.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

     <h2 class="b c-grey--800 mb0">About EDUKAN</h2>

    <p>EDUKAN provides access to quality, affordable, higher education online courses for students pursuing college degrees, certificates or individual courses. Founded in 1998, EDUKAN has been helping students who are returning to complete a degree, high school students looking for early college credit, students needing a flexible schedule or specific courses to complete their degree path, or people looking to make a career change. EDUKAN courses are all accredited through our consortium of Kansas learning institutions with excellent reputations and long histories helping students achieve their educational goals.  For more information, please visit http://www.edukan.org.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Relations</h2>
        Ashley Prince<br/>
        Campus Management Corp.<br/>
        (954)-249-1124<br/>
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
