---
# <!-- @formatter:off -->
title: Campus Management Partners with Burning Glass Technologies to Deliver Actionable Job Market Analytics to Higher Ed
publish: 2017-04-27T10:00:00-04:00
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — April 27, 2017</span> — Today during the
        CampusInsight Annual Users Conference, Campus Management Corp. and Burning Glass Technologies announced their
        strategic partnership to deliver job market analytics that empower educators and students to make data-driven
        career decisions.</p>

    <p>“Campus Management is using Burning Glass’ data to enable both administrators and students to understand the
        skills employers need in real time, and to make the right choices,” said Burning Glass CEO, Matthew Sigelman.
        “We’re excited to partner with Campus Management and be part of a skills-gap solution that will empower
        institutions and students with real-time information for making market-driven decisions about education and
        career paths.”</p>

    <figure class="press-release__figure" style="width: 402px;">
        <img src="/images/pages/news-and-events/press-releases/burning-glass-page.jpg"
             alt="Burning Glass Technologies" />

        <figcaption class="press-release__figcaption">Students can use real-time data in an interactive visualization to
            find careers related to their programs even while in school.
        </figcaption>
    </figure>

    <p>Leveraging the power of the CampusNexus® platform and the data provided by Burning Glass, CampusNexus Student
        gives institutions the ability to view current job market data as it relates to the programs, degrees and skills
        they are providing students. The partnership also puts job data in the hands of students, so they are able to
        interactively visualize the skills employers are looking for, career opportunities available in their area and
        salary expectations for those positions. This will allow students to stay informed on the progress they are
        making in their chosen career paths, throughout their education.</p>

    <p>“Partnering with Burning Glass enables us to integrate data-driven insight into our solutions that help
        administrators build career-driven programs and give students an understanding of how their academic progress
        connects to their career objectives,” said Campus Management Chief Strategy Officer, Mark Armstrong. “Embedding
        these visualizations into CampusNexus Student is an important step in our product roadmap and we are thrilled to
        be partnering with Burning Glass to make this impact in student success and relevant academic delivery.”</p>

    <p>CampusNexus Student continues to see an infusion of embedded analytics with each new release, and the partnership
        with Burning Glass Technologies is demonstrating how the CampusNexus platform is pioneering new territory in
        helping to make students successful and employable.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education
        institutions. Its next-generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR
        &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with Campus Management to
        transform academic delivery, student success and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Burning Glass Technologies</h2>

    <p>Burning Glass Technologies delivers job market analytics that empower employers, workers, and educators to make
        data-driven decisions. The company’s artificial intelligence technology analyzes hundreds of millions of job
        postings and real-life career transitions to provide insight into labor market patterns. This real-time
        strategic intelligence offers crucial insights, such as which jobs are most in demand, the specific skills
        employers need, and the career directions that offer the highest potential for workers. For more information,
        visit <a href="http://burning-glass.com/" target="_blank" rel="noopener">www.burning-glass.com</a>.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
