---
# <!-- @formatter:off -->
title: Campus Management Enhances Financial Aid and Enrollment Capabilities with the Acquisition of Education Partners
publish: 2018-09-06
social-image: /images/pages/news-and-events/EP-PR-SocialShare.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — September 6, 2018</span> — Campus Management Corp. today announced that it has completed
        the acquisition of <a href="http://www.educationpartners.com/">Education Partners</a>. As a leading higher
        education student lifecycle software and services provider, Campus Management is further enhancing its footprint
        in the enrollment, financial aid and verification processes at institutions.
    </p>

    <p>
        “Our clients have processed billions of dollars of financial aid using our solutions, and we are thrilled to
        accelerate and extend our product roadmap to further automate and enhance the student experience by simplifying
        financial aid, enrollment and verification processes for non-traditional students and programs,” said Campus
        Management Chief Executive Officer Jim Milton. “In addition to these strategic benefits, the acquisition allows
        us to welcome new team members to the Campus Management family who have deep financial aid and student
        self-service domain expertise in higher education. The technology and people are complementary to our
        organization and we are excited to be moving forward together.”
    </p>

    <p>
        Founded in 2013, Education Partners’ software platform has helped over 750,000 students and processed over $3
        billion in financial aid. With the goal of simplifying the enrollment and financial aid process for students
        through technology, Education Partners has focused on developing financial aid, verification, student lifecycle
        and enrollment solutions that apply automation, standardization and self-service to reduce barriers for
        students.
    </p>

    <p>
        “Campus Management’s commitment to utilizing new technology, analytics and domain expertise to identify
        innovation solutions to student and institutional challenges makes this an ideal organizational match for
        Education Partners’ clients and the market,” said Education Partners’ Chief Executive Officer Lawson F. Ellinor.
        “It has been my pleasure to lead Education Partners to this point and I feel confident that Campus Management is
        positioned to continue investing in the technology and people that have made this organization and clients
        successful.”
    </p>

    <p>
        The transaction is effective today with all employees of Education Partners becoming employees of Campus
        Management.
    </p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
