---
# <!-- @formatter:off -->
title: Campus Management Names James Squires as New VP of Professional Services
publish: 2015-08-24
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Distinguished Higher Education Professional to Lead Award-Winning Services
        Division</p>

    <p><span class="press-release__date-location">Boca Raton, FL – August 24, 2015</span> - Campus Management Corp., a leader in
        technology and services for higher education, announced today that James Squires has been appointed Vice
        President of Professional Services, effective immediately. Mr. Squires will lead Campus Management’s
        professional services organization for the Americas and direct all aspects of deployment, including
        implementation services, consulting and project management.</p>

    <p>“I am pleased to welcome James to Campus Management and to once again have the opportunity to collaborate with
        such a highly valued higher education professional. James and I worked together at SunGard Higher Education (now
        Ellucian) for over a decade and he impressed me with his dedication to supplying outstanding support to his
        clients,” said Jim Brigadier, Senior Vice President of Sales and Professional Services, Campus Management.
        “James brings over 25 years of higher education sector experience, and is passionate about education.”</p>

    <p>Most recently, Mr. Squires has been Senior Client Partner with Ciber, responsible for supporting Oracle higher
        education clients through consulting, implementation, mobile applications, business solutions, hosting and
        managed services.</p>

    <p>Earlier in his career in public higher education, Mr. Squires was the Associate Vice Chancellor of Information
        Technology at the University System of Georgia, supporting 30 institutions. He has also served as a Director of
        Admissions and Records and is a former Assistant Registrar.</p>

    <p>Mr. Squires&#39; career includes 14 years as General Manager and Regional VP at SunGard (now Ellucian), where he
        created highly successful teams to deliver enterprise implementation services and creative approaches to help
        clients achieve measurable positive results.</p>

    <p>Mr. Squires has also served as a consultant assisting higher education clients with implementation readiness
        assessments, software selection, services engagements and project management services. He has direct experience
        with Plus, Banner, Power Campus, Colleague, PeopleSoft, E-Business and Hobson&#39;s administrative systems.</p>

    <p>Mr. Squires holds a Master of Science degree in Human Resource Development and a Bachelor of Business
        Administration degree from Georgia State University.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
