---
# <!-- @formatter:off -->
title: Campus Management to Mark 30th Anniversary as Higher Education Solutions Provider at CampusInsight 2018 Annual Users Conference
publish: 2018-03-28
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — March 28, 2018</span> — Campus Management Corp. today announced it will host CampusInsight 2018 (CI2018), its annual global customer conference in Orlando, Florida, April 16 – 20.</p>

    <p>Through this year’s event theme, Reflections on the Future, Campus Management will address using innovation to make institutions successful through next generation technology and services. The theme also captures an important moment in time for Campus Management as the company celebrates its 30th anniversary in service to higher education.</p>

    <p>Campus Management is pleased to have trust and leadership expert, entrepreneur, researcher and CEO of the Trust Edge Leadership Institute David Horsager as its keynote speaker. Having advised some of the world’s highest performing organizations, Mr. Horsager will share how top leaders and organizations drive business results to become the most trusted in their industries.</p>

    <p>With Campus Management’s recent acquisition of the Radius, AppReview, ApplyYourself, Connect and Retain product lines, the company is on track for a record turnout at the conference. “We are very pleased to welcome former Hobsons clients from around the world to their first CampusInsight users conference,” said Campus Management CEO Jim Milton. “The event will provide an opportunity for all of us to learn from each other in an immersive and collaborative atmosphere as well as set the stage for the next generation constituent engagement and intelligence platform that we are currently developing in partnership with Microsoft.”</p>

    <p>CI2018 will also include an Executive Strategy Forum focused on campus-wide topics designed to foster interaction, networking and thought leadership within our client community, as well as a Guest Institution Program to provide key prospect institutions an introduction to Campus Management’s clients, culture and solutions ecosystem.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
