---
# <!-- @formatter:off -->
title: Campus Management Announces Annual Excellence Award Winners During CampusInsight 2018
publish: 2018-04-25
products:
  - CampusNexus Finance HR & Payroll
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">Asbury University, Ultimate Medical Academy and Unicesumar Receive Prestigious Higher Education Technology Honors</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – April 25, 2018</span> – During its CampusInsight 2018 User Conference in Orlando, Fla. last week, Campus Management Corp. announced the winners of its annual Excellence Awards honoring higher education client institutions with significant achievements in the field of technology. Honorees were recognized for embracing higher education technology to achieve measurable outcomes, improve efficiencies and better serve students and faculty.</p>

    <figure class="press-release__figure" style="width: 400px;">
		<img src="/images/pages/news-and-events/press-releases/CI2018-Excellence-Awards.jpg" alt="Jim Milton"/>
		<figcaption class="press-release__figcaption">Asbury University, Ultimate Medical Academy and Unicesumar receive prestigious higher education technology honors</figcaption>
	</figure>

    <p>“Our Excellence Award winners are passionate and dedicated higher education technology leaders and representative of our forward-thinking client-base,” said Jim Milton, CEO of Campus Management. “The winners’ innovative uses of technology allows their institutions to make significant business process improvements and achieve measurable outcomes across their campuses, resulting in better overall experiences for faculty, staff and students.”</p>

    <p>The 2018 Campus Management Excellence Award Winners are:</p>

    <p><strong>Asbury University</strong> (Operational Efficiency Award) – The Christian liberal arts university recognized the need to fully automate the retrieval, processing and importing of student test scores. Working with Campus Management, the institution has realized significant business process improvements and decreased operational expenses in the areas of employee service, administration and infrastructure. By automating processes, Asbury University has saved over 300 hours of staff time and ensured 100 percent accuracy and completeness of test data.</p>

    <p><strong>Ultimate Medical Academy</strong> (Student Success Award) – By using Campus Management’s CampusNexus workflow, the nonprofit accredited healthcare educational institution has improved its Registrar Office’s operational efficiency by automating student scheduling. Working with Campus Management not only benefitted the Registrar by replacing a labor-intensive process, but also positively impacted other departments in their efforts to continuously improve student services. </p>

    <p><strong>Unicesumar</strong> (Strategic Vision and Innovation Award) – Using Campus Management’s CampusNexus CRM to automate the communication process has allowed Unicesumar, a private university in Brazil, to increase recruitment and retention efforts and improve call center efficiencies. By the end of 2017, Unicesumar bolstered recruitment by 31 percent year-over-year and improved call center agent efficiencies from 3.8 to 5.5 enrollments per day by automating inbound and outbound calls.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
