---
# <!-- @formatter:off -->
title: Campus Management Introduces New Versions of CampusNexus
publish: 2015-10-20
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Updates Address Top Challenges Faced by Today’s Higher Education Institutions </p>

    <p><span class="press-release__date-location">Boca Raton, FL — October 20, 2015</span> — Campus Management Corp., a
        leading provider of enterprise software products and services for higher education, announced today the release
        of new and improved versions of the CampusNexus® suite, a purpose-built solution set to address the superstorm
        of challenges facing higher education.</p>


    <p>“Increasing competition, changing delivery models, challenging outcomes goals and continuing funding pressures
        are reshaping higher education. The pressures are very real and many institutions simply cannot wait for
        relief,” said Jim Milton, CEO, Campus Management. “Grounded in decades of experience in the higher education
        sector and bolstered by the success of its initial release over the past year, CampusNexus is ready today and
        allows institutions to address the challenges of a constantly changing, increasingly competitive market. As
        Traditional higher education has become less “traditional,” we are in a unique position with our solutions to
        address needs today, while other vendors are months, or years, away from deliverable solutions.”</p>

    <p>Since announcing CampusNexus last year at the EDUCAUSE Annual Conference, Campus Management has delivered
        numerous releases across its CampusNexus solution set. Today, Campus Management brings to market a new fully
        featured CampusNexus Finance, HR &amp; Payroll solution targeted at the unique aspects of higher education.
        CampusNexus CRM provides an entirely new user experience, while continuing to add new features to the leading
        student engagement solution, addressing the entire student lifecycle – from pre-enrolment through alumni status.
        CampusNexus Student harnesses the power of the CampusNexus event-driven architecture to provide a vast array of
        opportunities to streamline processes and drive efficiency.</p>

    <p>As Campus Management’s chief strategy officer, Connor Gray, explains, “One of the hallmarks of Campus Management
        is its ability to support change and drive adoption using our technology – we call this an “Agile DNA”. This
        evolutionary approach allows institutions to harness the power of our solutions capable of meeting today’s
        challenges, while taking advantage of new technology advances in the future. Today’s higher education technology
        landscape is riddled with orphaned products and unfulfilled promises; CampusNexus provides a proven solution
        that helps institutions chart a coherent path for their strategies.”</p>

    <p>Highlights of New CampusNexus Solution. Important elements of the new CampusNexus releases include a modern user
        experience, eventing and workflow capabilities, and cloud-ready solutions. Many other trends cited by analysts
        as top priorities for today’s higher education CIOs are also being addressed with the new CampusNexus
        solutions.</p>


    <p>As Connor Gray describes, “New CampusNexus versions have greatly improved the overall user experience. We are
        also leveraging our relationship with Microsoft to ensure that we are employing many of their latest innovations
        in style and design within our solutions. Plus, our cloud strategy is very robust, giving institutions choices
        and flexibility as they move to the cloud. Over 25 percent of our clients are already leveraging our cloud
        solutions today.”</p>

    <p>Support for nontraditional students and programs. Working closely with the U.S. Department of Education, Campus
        Management has added tools to improve control of financial aid disbursements to students enrolled in online
        programs. This improvement helps institutions reduce the risk of students taking on too much debt, while it also
        helps ensure compliance with disbursement rules state by state as online programs attract students throughout
        the country.</p>

    <p>“Online programs and other nontraditional academic delivery still present challenges in terms of scheduling Title
        IV disbursements,” said Raymond Blackwood, vice president of product management at Campus Management. “While
        institutions want to offer students greater flexibility, there is still the need to better align disbursements
        with their academic progress and timelines. With the latest release of CampusNexus Student, institutions can now
        govern disbursements across a wide range of traditional and nontraditional academic models, from classroom to
        online, semesters to flexible terms, and even clock hour and competency-based programs.”</p>

    <p>Flexible, rule-based configurable solutions. Campus Management continues its expansion of the workflow designer
        in CampusNexus to optimize configuration and execution of business processes. Institutions are now be able to
        automate course registrations, customize wait listing rules, manage populations through student groups, and
        automate student notifications for changes in courses, enrollments, and billing. “Schools can now configure the
        execution of workflows to new and evolving business processes,” said Blackwood.</p>

    <p>Mobile and social-enhanced solutions for students, faculty, and administrators. CampusNexus Student now features
        a mobile portal solution that simplifies constituent access to services provided by the institution. Currently,
        students and other constituents access multiple touchpoints and resources across campus, such as admissions,
        academics, financial aid, and housing, through a single sign-on using their preferred mobile devices. With
        enhancements to CampusNexus CRM, administrators, student advisors, and other users can now work directly through
        a Web client using any Internet connection rather than having to log in to the desktop application, thus gaining
        the ability to access CRM tools and engage constituents, anytime, anywhere, using most any device.</p>

    <p>Support for real-time analysis of data. New releases of CampusNexus Student feature enhanced data views and
        reports, enabling users to quickly launch their workspaces configured to their responsibilities, priorities, and
        preferences. Administrators and other users can now extract data from the student information system to gain
        access to unique insights and create workspace views based on their roles, without having to depend on IT.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
