---
# <!-- @formatter:off -->
title: Campus Management Expands its Collaboration with Microsoft on a Constituent Engagement Platform for Higher Education
publish: 2017-11-01
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">The platform is built on Microsoft Dynamics 365 running on Microsoft Azure and integrates with Microsoft Office 365</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla. — November 1, 2017</span> — Campus Management will be showing how its alliance with Microsoft is unleashing a stream of innovations for their mutual customers and the higher education market at the EDUCAUSE 2017 Annual Conference in Philadelphia, Pennsylvania, Oct. 31-Nov. 3.  This includes a Microsoft Azure-based platform under development built on Microsoft Dynamics 365 and integrates with Microsoft Office 365. In addition, Campus Management is integrating the new platform with Azure Machine Learning and Microsoft Power BI to provide higher education constituents with a scalable, secure and highly personalized experience.</p>

    <p>“We’re excited to combine our deep higher education CRM expertise with Microsoft applications and services to deliver an adaptable and comprehensive engagement platform for higher education,” said Campus Management CEO Jim Milton. “By transforming the way they engage with their constituents, our customers will improve student success and nurture life-long relationships, which goes straight to the bottom-line for most institutions.”</p>

    <p>Campus Management recently announced the acquisition of the Radius, AppReview, ApplyYourself, Connect and Retain product lines from Hobsons, Inc., making it the largest and best-in-class higher education CRM provider. These investments in higher education-focused CRM functionality and expertise reflect the company’s mission to help institutions transform student success, operational efficiency and academic delivery.</p>

    <p>“Campus Management is continuing to build on its student-centric engagement solutions in the higher education applications market, said Margo Day, Microsoft Vice President, U.S. Education. “Together, we are ushering in the digital transformation by developing products and services that make the pathways for students connected, accessible and personally relevant.”</p>

    <p>From outreach, through enrollment management, to advancement, Campus Management products and services enable higher education institutions to thrive in today’s competitive environment. Campus Management subject matter experts will be on-site at EDUCAUSE to showcase the company’s new CRM technology at:</p>

    <ul class="list--normal list--has-lead-in">
    	<li><strong>The corporate presentation: The Engagement Platform of the Future: More Than a CRM</strong> – Presented by Chief Strategy Officer Mark Armstrong, Vice President, Product Management Dr. Jennifer Beyer and Principal Product Manager Jose Augustin on Wednesday, Nov. 1, 10:30-11 a.m. ET in meeting room 113B, 100 level.</li>
    	<li><strong>Campus Management booth 609 presentations</strong> – Scheduled presentations and demos will be available on Wednesday, Nov. 1 and Thursday, Nov. 2.</li>
    	<li><strong>Microsoft booth 1215 presentations</strong> – Scheduled presentations and demos will be available on Wednesday, Nov. 1, 11a.m. and Thursday, Nov. 2, 12:30 p.m.</li>
        <li>
            <strong>The Engagement Platform of the Future webinar</strong> –
            Hosted by Campus Management and University Business on Nov. 2, 2-3 p.m. ET. You can listen to the live webinar by
            <a href="https://promediagrp1.webex.com/promediagrp1/onstage/g.php?MTID=e1bc62645b6fafd538e684774e8da40f4&sourceid=campusmanagement"
               target="_blank"
               rel="noopener"
            >registering here</a>.
        </li>
    </ul>

    <p>With a 30-year history of serving higher education customers, Campus Management solutions are cloud-ready, engaging and support the student and institution lifecycle. For more information on Campus Management at EDUCAUSE, please visit <a href="https://www.campusmanagement.com/EDUCAUSE">www.campusmanagement.com/EDUCAUSE</a>. </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,000 institutions in over 20 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
