---
# <!-- @formatter:off -->
title: Campus Management’s Student Information System Recognized by Tambellini Group for Sixth Consecutive Year
publish: 2020-06-30
social-image: /images/pages/news-and-events/TTG-6-2020-PR.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla., June 30, 2020 </span> – Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services that help higher education institutions transform their business operations and enable student learners to succeed in multiple modalities, announced today it has been identified by the Tambellini Group’s “Student Systems U.S. Higher Education Market Share, Trends, and Leaders Report,” published in June 2020, as the leading student systems vendor in 2019.</p>

    <p>“As modern student systems gain traction in the market, Tambellini research shows that Campus Management received more student selections than any other vendor in 2019, capturing 29.5 percent of the selections,” said Vicki Tambellini, President and CEO of The Tambellini Group. "Campus Management has led student selections in the private, for-profit and private, not-for-profit sections for each of the past three years and total selections for the past six years.”</p>

    <p>CampusNexus<sup>®</sup> Student is a cloud-based student information system that enables institutions to manage the entire academic lifecycle of a student from acceptance to graduation, including financial aid, student accounts, career services, and analytics.</p>

    <p>“CampusNexus Student supports our students throughout their higher ed journey at CAC. From financial aid and flexible registration to working with advisors who have visual analytics at their fingertips, our students have the benefit of a modern student system enabling our institution,” said Central Arizona College President Dr. Jackie Elliott.</p>

	<p>CampusNexus Student supports traditional, entrepreneurial, and online institutions, by managing the diversity of academic delivery and financial models.</p>

	<p>“Being identified in the Tambellini Group’s research for leading student information system selections in 2019 is an accomplishment that we do not take lightly at Campus Management. Each student information system selection is a new member of our Campus Management community, for whom we are grateful,” said Campus Management Chief Executive Officer Jim Milton. “We are proud to be leading the innovation imperative in education technology and provide reliable technology when colleges and institutions need it most - today.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp.
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
