---
# <!-- @formatter:off -->
title: Campus Management CampusNexus Occupation Insight Wins 2019 Tech Edvocate Award for Best Student Information System Application
publish: 2019-09-18
social-image: /images/pages/news-and-events/SocialShareImage-600x300-TechEdAward-OI-v2.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Higher Ed Tech Leader and Campus Management CEO Jim Milton Named Finalist for Best Education Leader Category</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – Sept. 18, 2019</span> – Campus Management today announced that its CampusNexus® Occupation Insight solution was named a 2019 Tech Edvocate Award winner in the Best Student Information System Application category.  In addition, Campus Management CEO Jim Milton was selected as a finalist in the Best Higher Education Leader category.</p>

    <p>“Campus Management is thrilled to be recognized for our market-changing, AI-enabled workforce analytics tool and for our leader Jim Milton’s contributions to furthering technology innovation in higher education,” added Cynthia Haynie, Chief Technology Officer at Campus Management. “CampusNexus Occupation Insight was designed to meet the needs of all higher education institutions, as they face increased accountability demands for student outcomes coupled with public funding often being tied to career placement results. Winning this award highlights how vital this type of application is to the current and future success of both higher education institutions and the marketplace.”</p>

    <p>CampusNexus<sup>®</sup> Occupation Insight is Campus Management’s cloud-based workforce analytics tool. Designed to align higher education academic programs and student skills with the needs of the marketplace, the solution is a first-to-market application that empowers students and advisors by providing up-to-date workforce data earlier in the student lifecycle and utilizes that data to inform academic program creation, revision and student course selection as industry needs evolve. Workforce data seamlessly integrates with programs, courses, catalogs, and student and career services.</p>

    <p>Serving as Campus Management’s CEO since 2014, Milton is an EdTech industry leader and disruptor, bringing his expertise growing and scaling innovative technologies to the higher education marketplace. He leads the team at Campus Management to deliver superior SIS, ERP and CRM solutions to higher education institutions globally. Milton serves as a champion in helping institutions address the skills gap between higher ed learners and the requirements demanded by their future real-world job, as well as advocates for institutions to evolve their business models to deliver an exceptional student experience in order to thrive.</p>

    <p>The 3rd annual <a href="https://www.theedadvocate.org/announcing-the-winners-of-the-2019-tech-edvocate-awards/" rel="noopener"  target="_blank">2019 Tech Edvocate Awards</a> were presented to this year’s top EdTech companies, products, people and more. The finalists and winners were selected by a panel of education technology thought leaders, PreK-12 teachers, college professors, K-12 administrators, college administrators, and PreK-12 parents.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
