---
# <!-- @formatter:off -->
title: Campus Management Introduces New CRM Practice
publish: 2015-10-26
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 "><em>The objective of the CRM-focused practice is to help institutions in higher
        education gain insight into student-centric enrollment</em></p>
    <p><span class="press-release__date-location">Boca Raton, FL — October 26, 2015</span> — Campus Management Corp., a
        leading provider of enterprise software products and services for higher education, announced today the
        establishment of the Higher Education Enterprise CRM Practice<sup>SM</sup><sup></sup> to help institutions
        evaluate, plan, and execute to achieve institutional goals related to CRM throughout the student lifecycle.</p>
    <p>This initiative is being staffed with senior subject matter experts who have established firsthand leadership and
        expertise within the higher education industry. This expertise provides insight into the types of initiatives
        institutions are working on, along with their ability to meet goals and overcome challenges that may be
        encountered. Additionally, the team will work with Campus Management’s Product Management team to ensure the
        latest input is available for the product roadmap in order to help ensure that the ongoing development is
        congruent with their needs both today, and in the future.</p>
    <p>“Campus Management is excited to announce that Denise Groves, former Vice President of Enrollment Management at
        Sul Ross State University and Dean of Enrollment at Tarleton State University, has joined the company to help
        other institutions succeed in their recruitment and retention strategies,” said James Squires, vice president of
        Professional Services at Campus Management. “Her 20 years in public higher education, along with Denise’s
        leadership and expertise have led to record enrollment and retention results, including a 94 percent increase in
        new graduate students, a 28 percent increase in first time in college enrollments (FTIC), an 8 percent increase
        in overall continuing enrollment, and an increase in retention from 44 percent to 58 percent in just three
        years.”</p>
    <p>“CRM is a key strategic enabler to further the goals of an institution,” said Denise Groves. “As a practice
        leader at Campus Management, my first-hand practical experience can help growth-minded institutions avoid
        pitfalls and develop a strong strategy to excel.”</p>
    <p>The objective of the CRM-focused practice is to help institutions in higher education gain insight into
        student-centric enrollment including the ability to:</p>
    <ul class="list--normal list--has-lead-in">
        <li>Achieve programmatic goals for quality, quantity, and diversity</li>
        <li>Leverage technology to drive student engagement across the student lifecycle, including recruitment,
            financial aid, registrar’s office, student advising, alumni relations and more
        </li>
        <li>Optimize recruitment and retention results through targeted recruiting and proactive advising</li>
    </ul>
    <p>Campus Management provides Strategic Consulting for institutions to enable the optimization of their investment
        and maximize the potential value of institutional goals and strategies. This engagement evaluates current
        business processes and leverages best practices to create recommended courses of action leveraging key
        performance indicators to improve both alignment and continual assessment.</p>
    <p>“Campus Management’s Professional Services team has been ranked among the top three of the Best-of-the-Best
        service providers by Service Performance Insight,” added Squires. “Our team leverages the On Demand Model for
        Higher Education and our advanced technology strategy to provide transformative solutions to help institutions
        adapt and be successful both today, and in the future.” </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
