---
# <!-- @formatter:off -->
title: Campus Management Appoints New General Counsel
publish: 2017-03-09
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p>
        <span class="press-release__date-location">Boca Raton, Fla. — March 9, 2017 </span> —
        Campus Management Corp. announced today the appointment of Cori Franco Shelley as the new Vice President and General Counsel for the organization.
    </p>

    <p>
        Ms. Shelley has over 20 years of experience working with corporate clients on mergers, acquisitions, contracts, vendor agreements and other legal issues. In her most recent role, Ms. Shelley provided global legal counsel for Virtustream, a cloud software and service provider.
    </p>

    <p>
        “With her familiarity working with cloud services contracts, Cori is a great fit for Campus Management’s direction and pace,” said Jim Milton CEO Campus Management. “We are pleased to have Cori directing the legal team as we continue to grow and support more institutions in our industry leading cloud deployment.”
    </p>
    <p>
        Campus Management is continuing to invest in leaders who are experts in their field and have in-depth knowledge of the cloud industry. In February, Campus Management welcomed Emiliano Diez as the Vice President of Cloud Operations.
    </p>
    <p>
        “It’s exciting to be part of an organization that has industry leading solutions, like the CampusNexus suite. Campus Management’s solutions are changing the way higher education reaches constituents and it’s exciting to be a part of the transformation,” said Shelley. “I’m looking forward to contributing to Campus Management’s momentum and bringing contracts to fruition quickly and efficiently.”
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>
    <p>
        Campus Management is a leading provider of technology solutions and services that transform higher education
        institutions. Its next-generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR &
        Payroll solutions. Today, more than 2,000 campuses in 19 countries partner with Campus Management to transform
        academic delivery, student success and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
