---
# <!-- @formatter:off -->
title: Campus Management to Host Global University and College Leaders at 20th Annual CampusInsight Conference in Orlando
publish: 2015-03-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 "> Users conference offers valuable experience and exposure to breakthrough
        strategies and provides attendees with an opportunity to learn more about Campus Management’s product
        innovation</p>

    <p><span class="press-release__date-location">Boca Raton, FL — March 25, 2015</span> — Campus Management Corp.
        announced today the final countdown to <a href="https://www.campusinsight.com/">CampusInsight
            2015</a>, its renowned users conference
        taking place from April 20 – April 24, in Orlando, Florida at Walt Disney World’s® Contemporary Resort. This
        annual event is expected to attract more than 700 college and university leaders from around the world. The
        theme of this year’s conference, “Destination Excellence,” symbolizes Campus Management’s never-ending quest to
        develop new and innovative ways of delivering enterprise technology products and services to address the
        challenges facing its client institutions.</p>

    <p>“Throughout its history, CampusInsight has served as a center of technology and thought leadership in the higher
        education industry. Against the backdrop of an increasingly competitive and rapidly changing environment, the
        importance of CampusInsight to Campus Management and its constituents has never been greater,” noted Jim Milton,
        Chief Executive Officer at Campus Management. “CampusInsight will provide an unparalleled opportunity for senior
        administrators and IT professionals at some of the most forward-thinking colleges and universities to network
        and learn from one another about how they are utilizing technology to successfully manage the super storm of
        challenges currently impacting higher education. We expect this year’s event to attract the largest customer
        turnout in our history, with more workshops, user presentations and panel sessions than ever before, as well as
        an expanded Executive Strategy Forum, which will allow attendees to stay on the cutting edge of higher
        education.”</p>

    <p>Mr. Milton continued, “In addition to a full slate of sessions and activities, I am pleased to announce that Lee
        Cockerell, former Executive Vice President of operations for Magic Kingdom – Walt Disney World, has agreed to
        deliver our keynote address. As the Creator of Disney Great Leader Strategies, which has been used to train over
        7,000 leaders at Walt Disney World, Mr. Cockerell is one of the foremost authorities on delivering a world-class
        customer experience. I am confident that all attendees will benefit from his expertise and advice, and how these
        ideas can be applied to today’s higher education environment, where the ultimate ‘customer’ is the student.”</p>

    <p>Throughout CampusInsight, attendees will have an opportunity to gain an insiders’ perspective of CampusNexus
        Student and CRM and its latest solution, CampusNexus Finance, HR &amp; Payroll, Powered by Microsoft Dynamics®
        AX. This highly versatile finance solution provides rich core fiscal management and HR functionality on the
        Microsoft Dynamics AX platform, in addition to key features required by higher education business officers and
        human resources administrators.</p>

    <p>Capitalizing on the success of last year’s event, the Executive Strategy Forum is back for a second year and will
        offer insight into the driving forces transforming higher education and bring about change that result in
        increased student and institution success. The Forum is exclusive to C-level executives within Campus
        Management’s client institutions.</p>

    <p>Finally, Campus Management will unveil the winners of its second annual Excellence Awards Program, which
        recognizes five outstanding institutions that utilize technology to solve problems, create efficiencies and
        promote student and institutional success. Awards will be given in the following categories: Constituent
        Service; Student Success; Operational Efficiency; Innovation; and Strategic Vision.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
