---
# <!-- @formatter:off -->
title: Campus Management Extends CampusNexus Platform with Microsoft Power BI, Microsoft Dynamics 365 and Office 365
publish: 2016-10-27T12:00:00-05:00
products:
  - CampusNexus Student
  - CampusNexus CRM
  - CampusNexus Finance HR & Payroll
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – October 26, 2016</span> – Campus Management, a leading provider of
    enterprise solutions and services for higher education, announced today that the Company’s CampusNexus<sup>®</sup> solution now includes enterprise
    adoption of Microsoft Power BI, the suite of business analytics tools that analyzes data and shares insights; Microsoft Dynamics 365; and
    Office 365. These additions further demonstrate the Company’s ongoing commitment to providing focused innovation to colleges and universities
    around the world through the CampusNexus platform.</p>

    <p>The CampusNexus suite, which includes Student, Constituent Relationship Management (CRM) and Finance, HR &amp; Payroll applications, is built
    entirely on the Microsoft technology stack. At its core, CampusNexus utilizes Microsoft SQL Server, Microsoft .NET entity framework, Windows
    Workflow Foundation and the Microsoft Dynamics AX platform to deliver highly scalable solutions for higher education.</p>

    <p>&quot;With today’s additions to CampusNexus, Campus Management can more effectively help our customers to transform their institutions to support
    their constituents and strategic business initiatives,&quot; said Mark Armstrong, chief strategy officer at Campus Management. &quot;Our commitment to
    delivering next-generation applications and services to higher education, at a predictable cost, enables our customers to focus on what is
    most important – teaching, learning and student success.&quot;</p>

    <p>&quot;Colleges and universities require a technology provider that continues to address the dynamic changes occurring on campuses around the
    globe,&quot; said Margo Day, vice president of US Education, Microsoft. &quot;Our platform and tools are enabling Campus Management to deliver breakthrough
    solutions and services that are built upon Microsoft’s vision and strategy. This means that higher education not only has an innovative solution,
    CampusNexus, available to them today, but also, together, we are helping institutions evolve to meet the challenges ahead.&quot;</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus<sup>®</sup>, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
