---
# <!-- @formatter:off -->
title: Campus Management Solidifies Status as Preferred Application Software Provider to Colleges and Universities Across the United States
publish: 2015-05-13
products:
  - CampusNexus Finance HR & Payroll
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">- Recently Named Leading Student Information System Vendor by The Tambellini
        Group</p>

    <p class="b  c-grey--800 ">- Client Accomplishments, CampusNexus Solutions and Company Successes take
        Center-Stage at Annual CampusInsight Conference</p>

    <p><span class="press-release__date-location">Boca Raton, Florida — May 13, 2015</span> — During its annual users
        conference, CampusInsight, which took place
        April 20-24, Campus Management Corp., a leader in enterprise software products and services for higher
        education, announced its market achievements, milestones and customer successes over the past year, further
        solidifying its position as a preferred application software provider to colleges and universities across the
        United States. The annual meeting, held in Orlando, Florida, is for technology leaders in higher education.</p>

    <p>“This was a year of exciting growth and advancement for Campus Management. Since commencing the roll-out of our
        CampusNexus<sup>®</sup> suite of solutions a year ago, we have experienced significant customer expansion,
        innovative client successes, as well as strong international growth in countries such as Brazil and India. Also
        during the year, we partnered with Microsoft to launch CampusNexus Finance, HR &amp; Payroll, Powered by
        Microsoft Dynamics<sup>®</sup> AX, a true game changer for higher education. Combined, these achievements serve
        as a testament to our forward-looking vision and the strong market adoption of our newly introduced On Demand
        Model for Higher Education, and our CampusNexus solution set, by both new and existing clients,” said Jim
        Milton, CEO of Campus Management. “Overwhelmingly, leaders of institutions agree with our analysis related to
        the challenges of increased competition, delivery and funding affecting higher education, and the need to
        implement agile and versatile technology platforms to help them achieve positive outcomes.”</p>

    <p>The aforementioned sentiment was echoed by attendees of CampusInsight, which was the most dynamic and diverse
        conference to date. This year’s event included representatives from around the globe and consisted of three days
        of hands-on instruction, and an additional two days of sessions highlighted by the latest in industry updates, a
        record number of product-specific breakout sessions, and a series of innovation-focused presentations led by
        current clients. An Executive Strategy Forum attracted leadership from top institutions in addition to a guest
        program that afforded non-clients an opportunity to learn more about Campus Management’s On Demand Model for
        Higher Education.</p>

    <p>Added Connor Gray, Chief Strategy Officer, “Campus Management has successfully developed and launched a robust
        innovative product strategy and roadmap; and in the past year we established an enduring architectural
        foundation and accelerated our pioneering work. Integral to this strategy is the inclusion of a progressive
        mobile access across our offerings. We have also expanded our cloud and managed services options, enabling
        institutions to quickly migrate their infrastructure to the cloud and benefit from having its applications
        managed simultaneously. By leveraging our industry expertise and recognizing the changing landscape and
        increasing competitiveness within post-secondary education, Campus Management is well-positioned to support the
        markets’ needs well into the future.”</p>

    <p>It was announced at the conference that Campus Management was named the leading student information system (SIS)
        vendor in the U.S. in 2014, achieving 161 total customer installments, comprised of 139 for-profit institutions
        and 22 not-for-profit traditional institutions that selected CampusNexus Student, Powered by
        CampusVue<sup>®</sup>, according to the <i>2015 Student Information Systems U.S. Higher Education Market Share,
            Trends and Leaders</i> annual report issued by The Tambellini Group in April 2015. The report highlighted
        the fact that Campus Management was the clear leader in 2014 in SIS placements, garnering 65 percent overall
        market share, including a 96 percent market share of for-profit institutions; and a strong number two with
        not-for-profit institutions, with a 21 percent market share.</p>

    <p>CampusNexus Student is a part of the CampusNexus suite of solutions, which also includes CampusNexus CRM, Powered
        by Talisma<sup>®</sup>, a constituent relationship management (CRM) product; and CampusNexus Finance, HR &amp;
        Payroll, Powered by Microsoft Dynamics® AX, a higher education financial solution built on the highly acclaimed
        Microsoft financial platform with proven use in over 20,000 organizations.</p>

    <p>Milton continued, “There is a super-storm of challenges affecting the recruitment, retention, financial and
        regulatory landscapes in higher education, and institutional leaders need the right tools to meet those
        challenges. Being recognized by The Tambellini Group as a leading student information system vendor is an
        important affirmation of our commitment to providing the very best to our customers to help them effectively
        navigate today’s higher education sector.”</p>

    <p>For more information or to purchase the Tambellini Group report,
        <a href="http://www.thetambellinigroup.com/">click here</a>.
    </p>
    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
