---
# <!-- @formatter:off -->
title: Campus Management Appoints Jim Brigadier as SVP of Sales and Professional Services
publish: 2015-07-20
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">Seasoned Higher Education Technology Sales Professional Joins Top-Ranked Higher
        Education Solution Organization</p>

    <p><span class="press-release__date-location">Boca Raton, FL - July 20, 2015</span> - Campus Management Corp., a
        leader in
        technology and services for higher education, announced today that Jim Brigadier has been appointed Senior Vice
        President of Sales and Professional Services, effective immediately. Mr. Brigadier will lead Campus Management’s
        North America and Latin America field services teams, including sales, professional services and account
        management.</p>

    <p>“I am excited to welcome Jim to Campus Management and to work closely with a proven sales professional during
        this important and exciting time in our history. Jim brings to Campus Management tremendous experience and
        success gained during his more than 15 years in the higher education sector. Jim’s expertise will be invaluable
        as we continue to focus on achieving significant market growth and customer satisfaction,” said Jim Milton,
        Chief Executive Officer, Campus Management. “I am confident that Jim’s deep industry knowledge will help Campus
        Management solidify its market leadership position – given our strength in handling multiple delivery models
        (online, on-campus, non-semester, competency based education, etc.), our superior enterprise wide CRM offering
        and our emerging partnership with Microsoft. I am especially keen to gaining access to Jim’s wealth of
        experience with public and private colleges and universities as he spearheads our efforts to accelerate our
        penetration into the traditional sector, while continuing to expand our widely acknowledged proprietary sector
        leadership.”</p>

    <p>Most recently, Mr. Brigadier, age 45, served as Executive Vice President of Sales for Academic Partnerships, a
        leader in business process outsourcing in online education, where he led a team of focused on the largest
        traditional colleges and universities in the U.S. Prior to that (2007 – 2013), as Vice President, Customer
        Relationships for Ellucian (formerly SunGard Higher Education), Mr. Brigadier led a sales team that was
        responsible for over 40 percent of U.S. software and services revenue. From 2000 – 2007, Mr. Brigadier was an
        Account Executive for SunGard Higher Education (formerly SCT).</p>

    <p>Before entering the higher education software and services market, Mr. Brigadier spent eight years with the U.S.
        Marine Corps as an Intelligence Officer and as a recruiter on college campuses. Mr. Brigadier holds an MBA (Cum
        Laude) from Auburn University and a B.S., Business Administration (Cum Laude) from the University of South
        Carolina.</p>


    <p>“I have been tracking the remarkable success Campus Management has achieved on the heels of successfully
        launching the On Demand Model for Higher Education,” said Jim Brigadier. “The expertise and vision of management
        attracted me to become part of their exciting organization. I believe Campus Management is on the forefront of
        the industry and I look forward to capitalizing on its current momentum and participating in its future
        success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
