---
# <!-- @formatter:off -->
title: Campus Management Engages AccelerEd to Deploy CampusNexus at University of Maryland University College
publish: 2018-10-24
social-image: /images/pages/news-and-events/UMUC-PR-Social.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — October 24, 2018</span> — Campus Management announced today that AccelerEd selected CampusNexus<sup>®</sup> CRM, CampusNexus Student and CampusNexus Occupation Insight<sup>™</sup> deployed in CampusNexus Cloud on behalf of <a href="http://www.umuc.edu/academic-programs/about-online-learning.cfm"  rel="noopener" target="_blank">University of Maryland University College</a> (UMUC) to identify, reach and provide a highly personalized academic experience to its students. </p>

	<figure class="press-release__figure" style="width: 393px;">
		<img src="/images/pages/news-and-events/UMUC-AccelerEd-logos.png" alt="UMUC - AccelerEd"/>
	</figure>

	<p>“At AccelerEd, our institutional relationships are always focused on improving the customer experience, advancing academic delivery, realizing cost efficiencies and creating a platform for growth and innovation in today’s competitive higher education landscape,” said <a href="https://www.accelered.com/"  rel="noopener" target="_blank">AccelerEd</a> President Tracy Woods. “Campus Management and its solutions offer a technology collaboration that delivers on our performance expectations and our customer’s vision.”</p>

	<p>UMUC will be one of the first institutions to begin using CampusNexus Occupation Insight. This cloud-based solution combines local and national job market data with UMUC’s academic programs and courses. Skills needed for the workforce are aligned with skills attained through UMUC offerings, which allows UMUC to target and empower student success and outcomes in a rapidly evolving job market.</p>

	<p>“This relationship between UMUC, AccelerEd, UMUC Ventures and Campus Management exemplifies the innovation and focus needed to ensure that higher education continues to transform to meet the needs of traditional and nontraditional students around the globe,” said Campus Management Chief Executive Officer Jim Milton. “There is no limit to the potential of this relationship, and through our solutions and services, we look forward to strengthening the institution’s student and faculty community.”</p>

	<p>Built on Microsoft Azure, CampusNexus solutions are flexible, secure and scalable. Campus Management’s focus on designing, developing and delivering higher education solutions built on Microsoft technology was recognized in July when Microsoft awarded Campus Management the 2018 Microsoft Global Education Partner of the Year award.</p>

	<p>“Microsoft is invested in digitally transforming the way students interact with their education landscape,” said Microsoft Vice President of Education Jamie Harper. “Using the CampusNexus platform, UMUC is going to advance their institution and harness the power of data to reach students and empower faculty.”</p>

	<p>UMUC will use CampusNexus solutions to refine its enrollment, engagement, advising and retention strategy to ensure that their 95,000 working adults, military servicemen and servicewomen and veterans in Maryland and around the world are academically successful and thrive in their career fields.</p>

	<p>“For over seventy years, UMUC has been a leader in adult education bringing affordable, accessible, high-quality educational opportunities to students around the world,” said <a href="http://umucventures.org/" rel="noopener"  target="_blank">UMUC Ventures</a> Chief Executive Officer Michael Roark. “AccelerEd’s collaboration with UMUC and Campus Management will play a significant role in shaping UMUC’s global operations to support the market-oriented solutions students and employers require. Today’s announcement is a clear example of AccelerEd’s commitment to advancing innovative technology solutions that allow institutions to focus on student outcomes.”</p>

	<p>Campus Management’s solutions are designed to support all academic delivery types, including dual enrollments, online degrees and workforce development, in a single environment without difficult integrations or customizations.</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About AccelerEd</h2>

    <p>
        AccelerEd’s innovative solutions and services advance operational efficiency for higher education institutions. We implement advanced technology solutions that allow institutions to leverage technology more efficiently and free education leaders and administrators to focus on student outcomes. AccelerEd is a portfolio company of <a href="http://umucventures.org/" rel="noopener"  target="_blank">UMUC Ventures</a>. To learn more about AccelerEd, please visit <a href="https://www.accelered.com/"  rel="noopener" target="_blank">www.AccelerEd.com</a>.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
