---
# <!-- @formatter:off -->
title: Campus Management Marks Transformational Year with Highest-Ever Annual Bookings and Revenue Totals
publish: 2019-07-15
social-image: /images/pages/news-and-events/2019-milestones-PR.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Leading Higher Education Solutions Provider Records Double-Digit Revenue Growth</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – July 15, 2019</span> – Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions, today announced that it has achieved an exceptional year with key achievements – including recording its highest bookings and revenue totals in company history, product accolades and marquee client wins. With its fiscal year ending June 30, 2019, the company celebrated major milestones including being named the leading student systems vendor in 2018 by The Tambellini Group and a finalist for the 2019 Microsoft Power BI Partner of the Year Award for its innovative artificial intelligence-driven Occupation Insight solution.</p>

    <p>FY2019 Corporate Highlights include:</p>

	<ul class="list--normal list--has-lead-in">
		<li>Achieved nearly 20% average annual bookings growth for last three years</li>
		<li>Recorded double-digit annual revenue growth globally</li>
		<li>Launched CampusNexus Engage solution in Fall 2018</li>
		<li>Named a Finalist for 2019 Microsoft Power BI Partner of the Year Award</li>
	</ul>

	<p>FY2019 Client/Partner Focused Highlights include:</p>

	<ul class="list--normal list--has-lead-in">
		<li>Stellar client support delivery led to a Net Promoter Score of 72 – a 44 percent increase – and highest-ever customer satisfaction rating in company’s history based on participation by hundreds of clients.</li>
		<li>Increased adoption of CampusNexus among community colleges – including Flathead Valley Community College, Del Mar Community College, and Pasco Hernando State College – ensuring greater access to higher education, training and career opportunities for all students.</li>
		<li>The CampusNexus Engage solution was selected by Gonzaga University to become the campus’ “premier system of intelligence” delivering insights across the full student lifecycle and enabling the institution to deliver a dynamic, personalized student and alumni experience.</li>
		<li>Welcomed 16 new clients to next-generation higher education system of engagement and intelligence, CampusNexus Engage.</li>
		<li>Elevated international higher education adoption of CampusNexus including deployment across 14 universities serving 2.6 million students in the State of Maharashtra in the country of India.</li>
	</ul>

    <p>“Moving into our next fiscal year, the Campus Management team is proud to continue our rapid growth by expanding into additional higher education markets and introducing new innovations to transform student connections and outcomes across the board,” said Jim Milton, CEO of Campus Management. “Our CampusNexus solutions have become the gold standard for public, private for-profit and private not-for-profit institutions looking to connect all aspects of student engagement—from recruiting and enrollment through every phase of their campus experience including confirming skillset development for real-world careers after graduation.”</p>

	<p>Published in June 2019, The Tambellini Group’s “Student Systems U.S. Higher Education Market Share, Trends, and Leaders Report” identifies Campus Management as the leading student systems vendor in 2018.</p>

	<p>“As modern student systems gain traction in the market, Tambellini research shows that Campus Management is the leading student system vendor overall for new placements for 2018,” said Vicki Tambellini, president and CEO of The Tambellini Group. “While continuing to be the leading student system provider in the U.S. private, for-profit sector, Campus Management was also the leading student system vendor in the private, not-for-profit sector and was selected by more traditional institutions than any other student solution in 2018.”</p>

	<p>Campus Management unveiled its latest product innovation this year – CampusNexus Engage – an intelligent engagement platform built using Microsoft Dynamics, Azure and Power BI. CampusNexus Engage integrates higher education workflow processes and best practices with the latest innovations in artificial intelligence, machine learning and business analytics to improve engagement and drive student and institutional success.</p>

	<p>The company’s full suite of CampusNexus solutions includes CampusNexus Student, CampusNexus Engage, CampusNexus Finance, HR & Payroll, and CampusNexus Occupation Insight. All solutions are delivered via the CampusNexus Cloud and exceed top industry security standards.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
