---
# <!-- @formatter:off -->
title: Campus Management Introduces Occupation Insight to Help Students Align Skills with Workforce Demand
publish: 2018-04-18
products:
  - CampusNexus CRM
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">
        <em>Matching Coursework with Labor Needs Will Help Students Plan their Academic Path</em>
    </p>

    <p>
        <span class="press-release__date-location">Orlando, Fla. – April 18, 2018</span>
        –
        <a href="{{url-lang-prefix}}/">Campus Management Corp.</a>
        announced today the release of CampusNexus Occupation Insight™, a cloud-based workforce analytics tool that will
        provide higher education the insight it needs to align academic programs and skills development with a rapidly
        evolving job marketplace.
    </p>

    <p>
        Occupation Insight captures national and regional workforce data in the CampusNexus® Cloud and seamlessly
        integrates the real-time data with an institution’s programs, courses and student services.
    </p>

    <p>
        “Today, institutions of every size and mission face increased accountability for student outcomes with public
        funding often tied to career placement results,” said Robert Sparks, Senior Vice President and Chief Marketing
        Officer of Campus Management. “With Occupation Insight, institutions and students can leverage up-to-date
        workforce data earlier in the student lifecycle and drill down on that data to shape academic programs and
        course selections as industry needs evolve.”
    </p>

    <p>
        Paired with an institution’s student information system, Occupation Insight gives students the information they
        need, in a digestible dashboard, to make course and career decisions.
    </p>

    <p>
        “Direct knowledge of current career opportunities and the necessary associated skills, provides students a new
        perspective on how to configure and manage their academic journey,” noted Sparks. “As more students demand
        immediate earning potential from their degrees, Occupation Insight is an essential tool for aligning necessary
        skills to career outcomes.”
    </p>
    <p>
        As a Microsoft partner, Campus Management’s Occupation Insight solution leverages the Microsoft technology stack
        and its applications, tools, and services, including CampusNexus Cloud (built on Microsoft Azure) and Power BI.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        <a href="{{url-lang-prefix}}/">Campus Management</a>
        is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
