---
# <!-- @formatter:off -->
title: Campus Management Recognizes Client Institutions for Excellence in Technology Innovation and Vision in Enhancing Student Success
publish: 2017-05-08
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — May 8, 2017</span> - Campus Management annually recognizes client institutions that exemplify excellence in embracing technology to achieve measurable outcomes, improve efficiencies and better serve students and faculty. Five institutions were recently presented the Campus Management Excellence Awards at Campus Management’s annual user conference, CampusInsight 2017, which took place at the Rosen Centre Hotel in Orlando, Florida.</p>

    <p>“Each successive year Campus Management reviews the nominations for the Excellence Awards, I am increasingly inspired and moved by the innovation and deliberate transformation that our clients are driving at their institutions,” said Campus Management CEO, Jim Milton. “I am proud to recognize these five institutions as the 2017 Excellence Award recipients and celebrate their dedication to improving operational efficiencies and responsiveness to its increasingly diverse constituents by raising industry standards on personalized engagement.”</p>

    <p>The Excellence Awards recognize clients in five categories of excellence. The Campus Management 2017 Excellence Award winners are:</p>

    <h2 class="b  c-grey--800 ">Excellence in Constituent Service – The Ohio State University</h2>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/osu-excellence-award.jpg" alt="The Ohio State University"/>

        <figcaption class="press-release__figcaption">2017 Excellence in Constituent Service Winner – The Ohio State University</figcaption>
    </figure>

    <p>For 147 years, <a href="https://www.osu.edu/" target="_blank" rel="noopener">The Ohio State University</a> campus in Columbus has been a distinguished hub for academic achievement, a laboratory for innovation, and among the nation's top-20 public universities.</p>

    <p>This institution set forth to enhance personalization and customization of relevant and timely content for constituents, increase collaboration across university departments and expand utilization of its CRM.</p>

    <p>By strategically leveraging CampusNexus<sup>®</sup> CRM, the university was able to increase the number of staff and employee constituents as daily users by 87 percent, active users by 240 percent and the average concurrent users by 200 percent. The institution’s recruitment interactions were increased by 124 percent, strategic campaign messages by 15 percent, and complex and long-term campaigns by 50 percent, and they were able to run A/B quality testing on 50 percent of their messages during their recruitment campaigns.</p>

	<h2 class="b  c-grey--800 ">Excellence in Student Success – Cleveland University – Kansas City</h2>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/cleveland-excellence-award.jpg" alt="Cleveland University – Kansas City"/>

        <figcaption class="press-release__figcaption">2017 Excellence in Student Success Winner – Cleveland University – Kansas City</figcaption>
    </figure>

    <p>Based in Overland Park, Kansas, <a href="http://www.cleveland.edu/" target="_blank" rel="noopener">Cleveland University – Kansas City</a> is one of the oldest nonprofit chiropractic colleges in the nation.</p>

    <p>In advance of the institution implementing multiple new academic programs with increased enrollment, they needed to scale up their systems with regard to automation, student self-service, and recruitment and admissions processes.</p>

    <p>By using CampusNexus analytics, the university has been able to better target their admission campaigns and they’ve improved their email campaigns by 1,000 percent. Through new APIs and workflows, they have reduced their prospect response rate time on a lead by 98 percent.</p>

    <h2 class="b  c-grey--800 ">Excellence in Operational Efficiency – Chatham University</h2>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/chatham-excellence-award.jpg" alt="Chatham University"/>

        <figcaption class="press-release__figcaption">2017 Excellence in Operational Efficiency Winner – Chatham University</figcaption>
    </figure>

    <p><a href="https://www.chatham.edu/" target="_blank" rel="noopener">Chatham University</a> is a private not-for-profit university located in Pittsburgh, Pennsylvania. Established in 1869 as a small women’s college, Chatham is now coed and a leader in sustainability and forward-thinking initiatives.</p>

    <p>As a result of attending CampusInsight 2016, Chatham University began brainstorming potential CampusNexus workflows to implement for improvements on campus. They were looking for a way to prevent errors and dissatisfaction and reduce manual processes.</p>

    <p>With the assistance of a Campus Management strategic consultant, Chatham identified and implemented workflows in CampusNexus with phenomenal results. Mismatched and inaccurate data entry errors have been eliminated by nearly 100 percent. The university has  reduced two days’ worth of manual processing per month in their Student Accounts office, resulting  in an annual savings of 192 hours per year.</p>

    <h2 class="b  c-grey--800 ">Excellence in Strategic Vision – Positivo University in Brazil</h2>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/positivo-excellence-award.jpg" alt="Positivo University"/>

        <figcaption class="press-release__figcaption">2017 Excellence in Strategic Vision Winner – Positivo University</figcaption>
    </figure>

    <p><a href="http://www.up.edu.br/" target="_blank" rel="noopener">Positivo University</a> is a private university in the State of Paraná, Brazil, which was established more than three decades ago.</p>

    <p>Recognizing that a country-wide downturn in the economy was coming, and that funding for students was being severely cut, this institution worked to align strategies of sustainable growth in its number of students by reducing operational costs and improving interactions with their candidates and students.</p>

    <p>The university decided to implement CampusNexus CRM and the institution grew by 25% in 2015 and an additional 11 percent in 2016!</p>

  	<h2 class="b  c-grey--800 ">Excellence in Innovation – Kansas State University</h2>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/kansas-excellence-award.jpg" alt="Kansas State University"/>

        <figcaption class="press-release__figcaption">2017 Excellence in Innovation Winners – Kansas State University</figcaption>
    </figure>

    <p>Established in 1863, <a href="http://www.k-state.edu/" target="_blank" rel="noopener">Kansas State University</a>, a public research university located in Manhattan, Kansas, has evolved into a modern institution committed to quality programs,  adaptive  to a rapidly changing world with an increasingly diverse society.</p>

   <p>The institution was focused on developing an interactive technology platform in its one-of-a-kind Berney Family Welcome Center that would delight visitors while simultaneously remaining authentic to the university’s unique story.</p>

   <p>After the renovation of a historic building and the implementation of CampusNexus CRM, the new space now includes a massive, intelligent wall that integrates campus visit details, maintained in CampusNexus CRM. and presents this information back to the student through an immersive interactive video wall. The students can forge a digital path that mirrors and visualizes their own vision for their future, using customized content for that student.</p>

   <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions. Its next-generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with Campus Management to transform academic delivery, student success and operational efficiency.</p>

<div class="press-release__contact">
    <h2 class="press-release__contact__title">Company Contact</h2>
    Ashley Prince, Media Relations<br />
    Campus Management Corp<br />
    (954) 249-1124<br />
    aprince@campusmgmt.com
</div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
