---
# <!-- @formatter:off -->
title: Campus Management’s Occupation Insight Named SIIA Education Technology 2020 CODiE Award Finalist for Best College & Career Readiness
publish: 2020-04-02
social-image: /images/pages/news-and-events/CODiE2020-PR-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">CampusNexus<sup>®</sup> Occupation Insight Earns Prestigious Industry Recognition</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla., April 2, 2020 </span> – Confirming marketplace demand for cloud-based workforce analytics innovations that drive increased student success across the higher education landscape, Campus Management today announced that its <a href="https://www.campusmanagement.com/products/student-success-through-workforce-analytics/"  rel="noopener" target="_blank">CampusNexus Occupation Insight</a> solution was named a 2020 SIIA CODiE Award finalist. Awarded in the Best College & Career Readiness category, Campus Management’s Occupation Insight is among the award finalists that represent applications, products and services from developers of educational software, digital content, online learning services and related technologies across the K-20 sector.</p>

    <p>Campus Management designed CampusNexus Occupation Insight to align higher education academic programs and student skills with the marketplace, empowering students and advisors to leverage up-to-date workforce data earlier in the student lifecycle and utilize that data to inform academic program revisions and course selections as industry needs evolve.</p>

    <p>“Being named a finalist for the SIIA CODiE Award further validates the increased need for innovations like Occupation Insight in helping institutions worldwide foster improved career preparation as well as meet increased accountability requirements for driving career-centric student outcomes,” said Jim Milton, CEO, Campus Management. “The Campus Management team is honored to receive this prestigious industry recognition and remains committed to delivering comprehensive innovations that proactively empower student success by addressing the full student lifecycle.”</p>

    <p>As the premier awards program for the software and information industries for 35 years, the <a href="http://siia.net/codie" rel="noopener"  target="_blank">SIIA CODiE Awards</a> are produced by the <a href="http://www.siia.net/" rel="noopener"  target="_blank">Software & Information Industry Association (SIIA)</a>, the principal trade association for the software, education, media and digital content industries.</p>

	<p>CampusNexus Occupation Insight was honored as one of 157 finalists across the 35 education technology categories.</p>

    <p>“We are thrilled to unveil the 2020 CODiE Award finalists, the best in education technology,” said SIIA President Jeff Joseph. “These exciting innovations are setting the pace to improve outcomes in education for students, educators, and administrators.”</p>

	<p>The SIIA CODiE Awards are the industry's only peer-reviewed awards program. Educators and administrators serve as judges and conduct the first-round review of all education nominees. Their scores determine the SIIA CODiE Award finalists and account for 80 percent of the overall score. SIIA members then vote on the finalist products. The scores from both rounds are tabulated to select the winners.</p>

	<p>Education Technology category winners will be announced May 19, 2020.</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About the SIIA CODiE<sup>™</sup> Awards</h2>

    <p>
        The SIIA CODiE Awards is the only peer-reviewed program to showcase business and education technology’s finest products and services. Since 1986, thousands of products, services and solutions have been recognized for achieving excellence. For more information, visit <a href="http://www.siia.net/codie" rel="noopener"  target="_blank">siia.net/CODiE</a>.
    </p>

	<h2 class="b c-grey--800 mb0">About Software and Information Industry Association (SIIA)</h2>

    <p>
        SIIA is an umbrella association representing 800+ technology, data and media companies globally. Industry leaders work through SIIA’s divisions to address issues and challenges that impact their industry segments with the goal of driving innovation and growth for the industry and each member company.  This is accomplished through in-person and online business development opportunities, peer networking, corporate education, intellectual property protection and government relations. For more information, visit <a href="http://www.siia.net/"  rel="noopener" target="_blank">siia.net</a>.
    </p>


	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp.
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
