---
# <!-- @formatter:off -->
title: Campus Management Solidifies Leadership Position in Higher Education Sector During 2015
publish: 2016-06-23
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">Named Industry’s Top-Ranked Student Information System Provider for Second
        Consecutive Year</h2>

    <p><span class="press-release__date-location">Boca Raton, FL — June 23, 2016</span> — Campus Management Corp. (the
        Company), a leading provider of enterprise software solutions and services for higher education, announced today
        continued momentum for 2015, as measured against numerous Key Performance Indicators (KPIs). Campus Management
        remains the dominant software provider to proprietary institutions, including career colleges and for-profit
        institutions, according to a recent third-party research report. Trending statistics in recent years also show
        Campus Management to be the solution-of-choice for a growing number of public and private not-for-profit
        institutions that recognize the need to adopt an on-demand model for higher education, including comprehensive
        constituent engagement, solution agility, innovative delivery modalities and flexible financial aid
        capabilities.</p>

    <p><strong>2015 Operational Highlights</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li>Growth and Expansion Achieved across Operating Footprint
            <ul style="margin-left: 1.635rem; margin-top: 0.625rem; list-style: circle;">
                <li>44 new CampusNexus® clients in the U.S. representing 269 campuses (over 300,000 students)</li>
                <li>24 international institutions selected Campus Management solutions to meet increasingly critical
                    business objectives and institutional drivers as they participate in the growth, productivity and
                    transformation of nations across the globe
                </li>
                <li>Focus on the two-year public institution segment yielded four new clients</li>
                <li>Targeted outreach efforts added to diverse portfolio of over 2,000+ campuses across 18 countries
                </li>
            </ul>
        </li>
        <li>Cloud Solutions Experience Continued Demand and Growing Interest
            <ul style="margin-left: 1.635rem; margin-top: 0.625rem; list-style: circle;">
                <li>Campus Management currently hosts a total of 139 higher education clients in the cloud</li>
                <li>Sixty-six percent of Campus Management’s new client institutions in the U.S. in 2015 chose
                    cloud-hosted deployment
                </li>
            </ul>
        </li>
        <li>Expansion in Not-For-Profit Sector
            <ul style="margin-left: 1.635rem; margin-top: 0.625rem; list-style: circle;">
                <li>Six new not-for-profit clients</li>
                <li>An additional six not-for-profit institutions converted to the CampusNexus suite from earlier Campus
                    Management products, showing continued confidence in partnership
                </li>
            </ul>
        </li>
    </ul>

    <p><strong>Recent Operational Highlights</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li>New Cloud-based Service Offering
            <ul style="margin-left: 1.635rem; margin-top: 0.625rem; list-style: circle;">
                <li>Introduction of a focused new offering for student success and early warning: Campus Management’s
                    retention-as-a-service offering, Retention360™, uses an artificial intelligence persona as a virtual
                    guidance counselor to monitor and influence student activities and academic / social involvement to
                    aid in retention and student success
                </li>
            </ul>
        </li>

        <li>Customer Enablement
            <ul style="margin-left: 1.635rem; margin-top: 0.625rem; list-style: circle;">
                <li>Campus Management established a dedicated Customer Enablement Management team to help customers meet
                    the demands of the current higher education environment, including changing student needs, increased
                    scrutiny related to outcomes and growing funding challenges
                </li>
            </ul>
        </li>
    </ul>

    <p>“Campus Management remains ahead of the curve in terms of innovation and execution. Whereas, for many of our
        peers, it is early days in terms of migrating to the cloud, Campus Management has been offering progressively
        sophisticated cloud-based deployment for over a decade; today, all of our solutions are available in the cloud.
        While, at present, approximately 25 percent of our clients have migrated to the cloud, we expect this number to
        expand dramatically over the next five to 10 years, as both proprietary and traditional institutions implement
        solutions to provide greater flexibility and options for achieving their goals,” said Jim Milton, Chief
        Executive Officer, Campus Management. “We are pleased that higher education institutions continue to positively
        respond to our vision and ability to help them turn today’s challenges into competitive advantages. The building
        momentum of our growing new customer base, as well as renewed relationships with existing clients, is extremely
        gratifying.”</p>

    <p>Further confirming Campus Management’s internally developed metrics, its leadership position was recently
        validated by The Tambellini Group’s “2016: Student Information Systems: U.S. Higher Education Market Share,
        Trends and Leaders Report<sup>1</sup>,” which recognized Campus Management as the software company most often
        selected by institutions for the second year in a row. According to Vicki Tambellini, President and CEO of The
        Tambellini Group, “The CampusNexus software suite was chosen more often than any other vendor’s offering for
        Student Information Systems (SIS) contracts in the U.S., accounting for 39 percent of all 2015 selections.”</p>

    <p>The Company’s growth has been supported through its CampusNexus® solution suite for higher education, which
        includes CampusNexus Student, Powered by CampusVue®, a robust student information system (SIS); CampusNexus CRM,
        Powered by Talisma®, a constituent relationship management (CRM) product and CampusNexus Finance, HR &amp;
        Payroll, Powered by Microsoft Dynamics® AX, a higher education financial solution built on the highly acclaimed
        Microsoft financial platform with proven use in over 20,000 organizations.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About The Tambellini Group</h2>


    <p>The Tambellini Group, LLC is the only independent research and analyst firm dedicated exclusively to higher
        education. With a database of the technology selections of more than 18,900 global institutions, a team of
        analysts and researchers who have decades of higher education expertise, TTG offers unbiased analysis and
        objective insight on education technology and market trends with verifiable data. TTG helps higher education
        executives, business leaders and the investment community make fact-based technology decisions to achieve their
        key strategic goals. Founded in 2001, TTG is a woman-owned business headquartered in Irvington, Virginia. To
        learn more about TTG, please visit <a href="http://www.thetambellinigroup.com/">www.thetambellinigroup.com</a>.
        Follow TTG on Twitter @tambellinigroup.</p>

    <p>For more information on the report and to download the executive summary, visit
        <a href="http://www.thetambellinigroup.com/post/2016-u-s-higher-education-student-information-systems-market-trends-and-leaders-report-annual-report/">
            http://www.thetambellinigroup.com/post/2016-u-s-higher-education-student-information-systems-market-trends-and-leaders-report-annual-report/
        </a>
    </p>

    <p><sup>1</sup>The Tambellini Group 2016 U.S. Higher Education Student Information Systems Market, Trends and
        Leaders Report by Vicki Tambellini, Mary Beth Cahill, June 2016</p>

    <p>TTG does not recommend or endorse any vendor solutions for higher education. TTG is an independent research firm
        without sponsors or ties to vendors. TTG provides selected information about vendors based on research. TTG
        makes every effort to validate all of the information presented in this report and performs all research in good
        faith.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact</h2>

        Caitlin Kasunich<br/>
        KCSA Strategic Communications<br/>
        Phone: 212.896.1241<br/>
        ckasunich@kcsa.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
