---
# <!-- @formatter:off -->
title: Campus Management Announces Second Annual Excellence Award Recipients
publish: 2015-05-04
products:
  - CampusNexus Finance HR & Payroll
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">Campus Management Recognizes Five Prestigious Higher Ed Institutions for Innovative
        and Strategic Use of Technology</p>

    <p><span class="press-release__date-location">Boca Raton, Florida — May 4, 2015</span> — Campus Management Corp., a
        leading provider of enterprise software
        products and services for higher education, is extremely pleased to announce the winners of its second annual
        Campus Management Excellence Awards which honor academic institutions that exemplify excellence in embracing
        technology to achieve measurable outcomes, improve efficiencies and better serve students and faculty.</p>

    <p>The Campus Management Excellence Awards recognize institutions that showcase distinction in constituent service,
        student success, operational efficiency, innovation, and strategic vision. The awards were presented during the
        CampusInsight 2015 Annual Users Conference which took place April 20 - 24, 2015 in Orlando, FL., at Walt Disney
        World’s® Contemporary Resort.</p>

    <p><b>Campus Management Excellence Award Winners:</b><br/>
        Excellence in Student Success – Franklin University <br/>
        Excellence in Constituent Services – Portland State University <br/>
        Excellence in Operational Efficiency – Porter and Chester, Inc. / YTI Career Institute <br/>
        Excellence in Innovation — Indiana State University<br/>
        Excellence in Strategic Vision – Estácio S.A.</p>

    <p>“Campus Management’s Excellence Award recipients exemplify how innovative technology combined with a unique
        strategic vision can support a myriad of student and business objectives, ultimately resulting in unparalleled
        success. The stakes have never been greater in higher education and neither have the challenges; however each
        institution honored has shown that the use of technology can help to create stronger student connections, solve
        problems, streamline operations and even reduce costs. Campus Management is proud to support and recognize these
        institutions,” said Jim Milton, CEO of Campus Management. </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
