---
# <!-- @formatter:off -->
title: Campus Management Unveils Student Verification Solution as Part of Application-Driven Student Success Initiative
publish: 2019-12-10
social-image: /images/pages/news-and-events/student-verification-social-share.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Early Adopter University of Wisconsin-Madison Cuts FAFSA Processing Times in Half
and Minimizes Student Stress with New Solution</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla. – December 10, 2019</span> – As part of its ongoing student success innovation initiative, Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services, today unveiled its <a href="/products/student-verification/">Student Verification solution</a>. The new cloud-based solution allows institutions to automate workflows, ensure regulatory compliance, and improve communications to enable timely and accurate financial aid processing.</p>

    <p>“For many students, the overall financial aid process is incredibly challenging and stressful, with often little insight regarding where they are in the process or if further documentation is required,” said Jim Milton, CEO of Campus Management. “To remedy this issue, we developed a new application-driven Student Verification solution, which improves the student experience while freeing up staff resources to focus on more complex financial aid scenarios that support students.”</p>

    <p>Since implementing the solution, the University of Wisconsin-Madison – an early adopter – has already seen a dramatic reduction in financial aid processing, as students’ verification processing times have been cut in half. Additionally, they are experiencing improved communications outcomes, with students reacting more quickly to real-time communications and automatic reminders being sent regarding pending financial documents.</p>

    <p>“It is now significantly easier for our students and their parents to submit the required financial aid documents in a secure electronic format and for us to communicate with them in real time with optimal transparency,” said Derek Kindle, Director, Office Student Financial Aid, University of Wisconsin-Madison. “Campus Management’s Student Verification solution has helped our institution transform our entire financial aid application process for the better.”</p>

	<p>Student Verification helps keep students and administrative staff on track and in compliance with regulatory updates, through a paperless environment with automatic notifications via email and text. Also available is the ability to enable dynamic tools to exercise a professional judgment if the student’s circumstances or income profile changes after their FAFSA form has been processed. Configuration is available to require additional documents for comment codes that flag a student’s file for review.</p>

	<p>With the Student Verification solution, students have access from any device. The solution includes a portal that allows students to quickly identify and complete required documents and receive automatic notifications and status updates. The staff portal features include an electronic document-compliant rules engine, workflow automation, and real-time student tracking for verification, comment code, and professional judgment dashboards.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About University of Wisconsin-Madison</h2>

    <p>
        For 168 years, <a href="https://www.wisc.edu/"  rel="noopener" target="_blank">University of Wisconsin-Madison</a> has been a catalyst for the extraordinary. As a public land-grant university and prolific research institution, our students, staff, and faculty members partake in a world-class education and solve real-world problems.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
