---
# <!-- @formatter:off -->
title: Campus Management Highlights Latest Cloud and Analytics Innovations for Today’s Modern Campus at EDUCAUSE
publish: 2019-10-15
social-image: /images/pages/news-and-events/Educause-2019-social-share.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Gonzaga University to Share Benefits of Uniting Departments Across Student Lifecycle During Interactive Presentation</h2>

    <p><span class="press-release__date-location">Chicago, Ill. – October 15, 2019</span> – As part of its relentless focus on the intelligent transformation of campuses globally, Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services, showcased the latest innovations for its CampusNexus<sup>®</sup> Cloud platform, powered by Microsoft Azure, and next-generation analytics capabilities at EDUCAUSE 2019 in Chicago, Illinois, October 14 - 17, 2019.</p>

    <p>“In order for institutions to meet the needs of the next generation of students, they must modernize with purpose-focused cloud technology as well as leverage innovative analytic solutions to move academic paths and job aspirations forward,” said Jim Milton, CEO of Campus Management.</p>

    <p>Offering a secure, dynamic platform with analytic views across a range of student and operational metrics and KPIs, Campus Management delivers next-generation analytics combined with powerful interactive data visualization tools from Microsoft Power BI. Campus Management provides the most cost-effective reporting solution across the institution for departments such as admissions, enrollment, financial aid, and student accounting.</p>

    <p>These latest enhancements come on the heels of Campus Management receiving the 2019 Microsoft Power BI Partner of the Year Finalist Award for its analytics-driven, artificial intelligence-driven Occupation Insight solution and a resulting 145 percent growth in CampusNexus Cloud customers over the past year.</p>

    <p>Additionally, Gonzaga University, a Campus Management customer, will present an interactive session at EDUCAUSE on October 17: “Empowering the Campus Community to Own Tech Transformation.” Featuring a case study on the early successes of leveraging solutions provided by Campus Management and Azure cloud technology, the presentation will provide an insightful facilitation of effective stakeholder engagement strategies that support enterprise-wide collaboration while simultaneously preparing for the cultural, technical, and tactical implications of deploying a university-wide CRM.</p>

	<p>“Utilizing a holistic, interconnected departmental approach for student success has made all the difference in our mission to collaborate as a university across all steps of the student lifecycle,” said Borre Ulrichsen, Chief Information Officer, Gonzaga University “Empowering our team to constructively engage stakeholders and prepare them for all facets of technology transformation was critical to our initiative’s success. With this level of commitment, we’ve been able to leverage the power of CampusNexus Engage, including trending toward predictive analytics to proactively meet future campus-wide needs.”</p>

	<p>For more information on Campus Management at EDUCAUSE, please visit Booth #1544 or the <a href="https://www.campusmanagement.com/educause/">Campus Management EDUCAUSE</a> page.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
