---
# <!-- @formatter:off -->
title: Campus Management International Signs Future Communications Company as Strategic Partner to Enable the Growing Middle East Higher Education Market
publish: 2015-12-10
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Future Communications Company will offer Campus Management’s products and services
        to higher education institutions in the Middle East</p>

    <p><span class="press-release__date-location">Bangalore, India – 10 December 2015</span> — Campus Management
        International, a leading provider of enterprise software products and services for higher education has
        announced a strategic partnership with Future Communications Company Global, an active Microsoft partner and
        leading Information and Communications Technology (ICT) player in the Middle East region. Through this
        partnership, Future Communications Company will offer Campus Management’s products and services to higher
        education institutions in the Middle East.</p>

    <p>Campus Management’s solutions help institutions worldwide to navigate the “superstorm” of forces impacting the
        higher education environment, including serving the diverse needs of today’s learners, providing agility to
        adjust to changing market requirements, and delivering the requirements to assure a sound financial foundation.
        The CampusNexus® suite is a purpose-built solution set for the higher education market which allows institutions
        to harness the power of technology and expertise to meet today’s challenges, while taking advantage of new
        advances in the future.
    </p>

    <p>“Future Communications Company is actively working toward enabling campuses in the Middle East to align
        themselves with global standards of Higher Education through innovative use of technology and services,” said
        Raj Mruthyunjayappa, Senior Vice President and Managing Director, Campus Management International. “Campus
        Management International and Future Communications Company will work together to achieve that goal. A key area
        of synergy will be addressing the existing and emerging needs of campuses in the region through the combined
        strengths of both organisations, including expertise in Microsoft technology, higher education industry
        proficiency, and implementation know-how.”</p>

    <p>“Future Communications Company Global has been implementing Microsoft AX based solutions in a number of
        prestigious installations in the Middle East,” said Mr. Mohammed Qiyamuddin, Operations Manager – Enterprise
        Business Solutions, Future Communications Company. “Our strong presence and implementation skills will add reach
        and depth to Campus Management International’s desire to expand its presence and fully serve institutions in the
        region.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of software, strategies and services which enable institutions of higher
        education to offer dynamic models of engagement and delivery. Over the past 27 years, Campus Management has
        supported higher education, both proprietary and traditional institutions, as well as foundations and other
        organizations through its cutting-edge student information system; constituent relationship management (CRM)
        software; and finance, human resources and payroll solutions.</p>

    <p>Campus Management’s CampusNexus suite is specifically designed to provide institutions the flexibility they need
        to compete in the ever-changing higher education landscape. CampusNexus supports changes in education delivery,
        recruitment, financial aid, student accounts, finance, human resources, payroll, inventory management,
        procurement handling and compliance management. Today, more than 2,000 campuses in 18 countries utilize Campus
        Management to unite campuses and workflows, improve student outcomes and achieve goals.</p>

    <p>For more information, please visit <a href="{{url-lang-prefix}}/">www.campusmanagement.com</a></p>

    <h2 class="b c-grey--800 mb0">About Future Communications Company</h2>

    <p>
        Future Communications Company is a leading technology company that provides cutting edge services ranging from
        retail, distribution and maintenance of mobile devices, ICT products and services, enterprise mobility
        solutions, project management services and telecom engineering services. With its headquarters in Kuwait, the
        company also has a presence in Bahrain, Saudi Arabia, Qatar and the UAE. Through its strategic partnerships with
        some of the biggest brand names in the world, the company is able to provide a broad spectrum of technology
        solutions to various industries in both, the private and government sectors across the region.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact</h2>
        Sai Narayan CG<br/>
        Campus Management International<br/>
        +91 (80) 4339 8400<br/>
        sain@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
