---
# <!-- @formatter:off -->
title: Campus Management Software Company Grows Overseas - Sun Sentinel, May 30, 2015
publish: 2015-05-30
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">A Boca Raton company that makes software to run colleges is expanding globally.</p>

    <p><span class="press-release__date-location">By Doreen Hemlock</span> - Campus Management Corp. recently opened a
        small
        office in Brazil and upgraded its large office in India. It now has customers in 18 countries, including
        colleges in Asia and Africa.</p>

    <figure class="press-release__figure" style="width: 220px;">
        <img src="/images/pages/news-and-events/press-releases/miltonHeadshot.jpg" alt="CEO Jim Milton"/>

        <figcaption class="press-release__figcaption">Campus Management Corp. CEO Jim Milton expects company sales this
            year to be around $100 million.
        </figcaption>
    </figure>

    <p>The company expects about 10 percent of revenue this year from sales outside the U.S. That share should increase
        to about 30 percent in five years, chief executive Jim Milton said in an interview.</p>

    <p>It&#39;s focusing on overseas growth mainly on emerging markets where English is commonly used, where the economy
        and middle classes are growing, and where colleges model operations on the U.S. system.</p>

    <p>&quot;The United States is still the shining star for higher education in the world,&quot; Milton said, noting
        that many colleges abroad are adopting the mixed on-campus, online education programs popular in the U.S.</p>

    <p>Founded by a South Florida entrepreneur in 1988, Campus Management started out supplying software mainly to
        private, for-profit colleges in the U.S. Keiser University was among its first customers.</p>

    <p>In 2008, the company was purchased by a private-equity firm from New York named Leeds, which focuses on
        education. Leeds encouraged the push abroad, both for staff and for sales.</p>


    <figure class="press-release__figure">
        <img src="/images/pages/news-and-events/press-releases/indiaOffice.jpg" alt="India Office"/>

        <figcaption class="press-release__figcaption">Campus Management Corp.&#39;s new office in India.</figcaption>
    </figure>

    <p>In late 2008, Leeds bought the assets of a software company in India named Talisma. That provided Campus
        Management with software engineers in India, where labor costs are much lower than in the U.S.</p>

    <p>About three years ago, Campus Management also started to sell its software overseas. It now handles some sales
        directly from India, especially to nations nearby in southeast Asia and Africa. That&#39;s helped boost its
        employee base in India to about 350 — or about half the company&#39;s staff worldwide.</p>

    <p>The overseas expansion should push company sales this year to around $100 million, Milton said.</p>

    <p>That&#39;s good news for Kelly Smallridge, who leads the Business Development Board of Palm Beach County. Her
        group is targeting corporate headquarters, software companies and international business as areas for growth in
        the county. She&#39;s pleased that Campus Management now employs about 300 employees in South Florida, from
        software developers to people with Portuguese skills.</p>

    <p>&quot;It&#39;s another sign that corporate headquarters are thriving here,&quot; Smallridge said. Milton, now 54,
        took the CEO post at Campus Management in August after a career in international business and in scaling up
        ventures. Raised in Canada, he had worked in international sales for software maker UGS and other companies,
        even opening up subsidiaries in the United Kingdom and China. He also had run a 15,000-employee operation across
        North America for computer maker Compaq.</p>

    <p>Milton said his biggest challenge in the new global push is picking which overseas markets to target and scaling
        them up effectively. It can take 18 to 24 months for a college to choose a software provider. And many schools
        weigh the experience of others in their country before selecting.</p>

    <p>&quot;You&#39;ve got to be all in and make sure you have a highly successful implementation&quot; in your initial
        entry into a new market, Milton said. Spreading efforts too thin and not executing well can lead to failure.</p>

    <p>To be sure, the U.S. remains the largest market for Campus Management and its software that helps college manage
        three key areas: customer relations, student information and human resources, finance and payroll. Milton
        estimates the potential market for those products at colleges in the U.S. at roughly $2.2 billion yearly, or
        almost half of the $5 billion market at colleges worldwide.</p>

    <p>Competition is stiff for sales. For student information systems, for example, Campus Management in 2014 was
        strongest in reaching private, for-profit colleges and smaller schools. Its rivals — including Workday Student,
        PeopleSoft Campus and Ellucian — had an edge in other segments, said a new report by higher-education researcher
        Tambellini Group, based in Virginia.</p>

    <p>College demands are shifting too Tambellin said, as technology moves from servers to the Internet-based
        cloud.</p>

    <p><a href="http://www.sun-sentinel.com/business/fl-campus-management-profile-20150529-story.html">Sun
        Sentinel article</a></p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
