---
# <!-- @formatter:off -->
title: Campus Management CampusNexus Cloud Achieves Top-Level Cloud Security Standards with SOC 2 Examination and ISO 27001 Certification
publish: 2020-06-04
social-image: /images/pages/news-and-events/social-ISO-27001-certification.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla., June 4, 2020 </span> – Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions, today announced that its CampusNexus Cloud platform has achieved two top-level cloud security industry standards. Powered by Microsoft Azure, CampusNexus Cloud successfully completed the SOC 2 examination and earned the ISO 27001 certification for its information security management system (ISMS) supporting infrastructure and services.</p>

    <p>“Completing the SOC 2 examination and earning the ISO 27001 certification for CampusNexus Cloud demonstrates Campus Management’s commitment to continually raising the bar on achieving the highest security protocols for our award-winning, integrated higher ed solutions,” said Richie Rodriguez, Chief Information Security Officer, Campus Management. “We are proud to deliver a premier, secure cloud platform with world-class solutions for academic delivery, student success and operational efficiency.”</p>

    <p>SOC 2 examinations, which are formally known as “Reports on Controls at a Service Organization Relevant to Security, Availability, Processing Integrity, Confidentiality, or Privacy,” are performed by independent, licensed CPA firms and attest to controls at a service organization relevant to the security, availability, or processing integrity of a system, or the confidentiality/privacy of the information processed for the user entities. Campus Management was examined by service auditor Schellman & Company, LLC in the Security service category.</p>

    <p>ISO 27001 is a globally recognized standard for the establishment and certification of an ISMS. The standard specifies the requirements for establishing, implementing, operating, monitoring, reviewing, maintaining and improving a documented ISMS within the context of the organization’s overall business risks. It sets forth a risk-based approach that focuses on adequate and proportionate security controls that protect information assets and give confidence to interested parties. CampusNexus Cloud’s ISO 27001 certification was performed by Schellman & Company, LLC, an ANAB and UKAS accredited Certification Body based in the United States. The platform’s certification includes service provisioning, development, maintenance, operations, support, disaster recovery and the protection of personally identifiable information, per the statement of applicability, version 2.3.</p>

	<p>CampusNexus Cloud is a standards-based cloud platform designed for higher education success. Built on Microsoft Azure, it enables institutions to respond dynamically to change on a flexible and extensible platform, grow enrollments and add campuses, gain greater insight from data across the institution, and optimize technology around student and operational success.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management was named a finalist for the 2019 Microsoft Power BI Partner of the Year and was awarded the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Schellman & Company, LLC</h2>

    <p>
        Schellman & Company, LLC is a leading national provider of attestation and compliance services - and the only company in the world that is a CPA firm, an ISO Certification Body, a globally licensed be PCI Qualified Security Assessor Company, a HITRUST assessor, and a FedRAMP 3PAO. Renowned for expertise tempered by practical experience, our professionals provide superior client service balanced by steadfast independence. Schellman’s approach builds successful, long-term relationships and allows our clients to achieve multiple compliance objectives using a single third-party assessor.</a>.
    </p>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp.
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
