---
# <!-- @formatter:off -->
title: Campus Management Names Mark Armstrong as Chief Strategy Officer
publish: 2016-10-03
products:
  - CampusNexus Student
  - CampusNexus CRM
  - CampusNexus Finance HR & Payroll
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Addition to Senior Leadership Team Demonstrates Company’s Commitment to Providing Global
    Technology Solutions for Higher Education</p>

    <p><span class="press-release__date-location">Boca Raton, Florida – October 3, 2016</span> – Campus Management Corp., a
    leading provider of enterprise software, solutions and services for higher education, announced today that Mark Armstrong
    has joined the Company as Chief Strategy Officer. Mr. Armstrong comes to Campus Management with
    over 25 years of higher education technology experience.</p>

    <p>“Mark is a visionary with a rich history of driving solutions to meet the needs of colleges and universities,” said Jim
    Milton, CEO at Campus Management. “Institutions all over the world are utilizing software Mark and his team have designed
    and created. His expertise and commitment to meeting and exceeding customer expectations will continue to propel our CampusNexus®
    solution across campuses in the United States and globally.”</p>

    <p>Prior to joining Campus Management, Mr. Armstrong served as Vice President, Higher Education Product Development, at Oracle,
    where he developed and supported a variety of key campus applications and SaaS solutions for the global higher education market.
    He originally entered the software market with Campus Solutions, Inc., in 1995, and after its acquisition by PeopleSoft, was
    responsible for building the company’s presence in higher education.</p>

    <p>Prior to that, Mr. Armstrong developed and supported student solutions at the University of California, Los Angeles (UCLA).
    He has served in executive advisory positions with EDUCAUSE, the Oracle Higher Education User Group (HEUG) and on the Board of
    Directors for IMS Global. During his tenure at Oracle, Mr. Armstrong’s executive sponsorship of the Education &amp; Research Strategy
    Council, along with key customer implementations, gave him direct insight into how higher education institutions are transforming
    globally.</p>

    <p>“When I evaluated Campus Management’s strategy, I knew I wanted to become part of the team,” said Armstrong. “The Company’s
    CampusNexus® solution has incredible configurability and extensibility to empower today’s learners. Additionally, Campus Management
    offers a variety of cloud and hosting options to help colleges and universities to realize their strategic technology objectives.
    Institutions really can transform with Campus Management.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
