---
# <!-- @formatter:off -->
title: Campus Management Unveils CampusNexus Engage at CampusInsight 2018
publish: 2018-04-18
products:
  - CampusNexus CRM
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">
        <em>
            Launching December 2018, Next Generation System of Engagement and Intelligence to Drive Personalized Student
            Learning Experiences
        </em>
    </p>

    <p>
        <span class="press-release__date-location">Orlando, Fla. – April 18, 2018</span>
        – During CampusInsight 2018,
        <a href="{{url-lang-prefix}}/">Campus Management’s</a>
        annual user conference, the company’s next generation system of constituent engagement and intelligence called
        CampusNexus® Engage was announced.
    </p>

    <p>
        Available in December 2018, CampusNexus Engage is the outcome of a collaboration between Campus Management and
        Microsoft to deliver a comprehensive, intelligent platform to transform the way higher education institutions
        engage with their constituents. The Microsoft Dynamics 365 platform, combined with Campus Management higher
        education extensions and expertise, enables institutions to drive personalized and predictive engagement with
        their constituents at scale. Pricing will be available this summer.
    </p>

    <p>
        “Based on a deep expertise and rich history in higher education, we are building a transformative platform that
        allows an institution to put the student at the center and deliver a highly personalized and contextualized
        engagement,” said Mark Armstrong, Senior Vice President and Chief Strategy Officer, Campus Management.
    </p>

    <p>
        “With the support and foundation of Microsoft, this solution will truly empower students and bring a competitive
        advantage to institutions,” said Jim Milton, Chief Executive Officer, Campus Management. “Continuing the
        development of CampusNexus Engage and bringing it to market in the next year is a momentous milestone for Campus
        Management and our partners.”
    </p>

    <p>
        Campus Management solutions are built on Microsoft technology, allowing clients to benefit from Dynamics 365 and
        the trusted Microsoft Azure cloud platform.
    </p>
    <p>
        Anthony Salcito, Vice President of Worldwide Education, Microsoft Corp. said, “Campus Management and Microsoft
        share a commitment to the higher education community. The collaboration that has taken place over the past year
        to develop the CampusNexus Engage platform is evidence of our shared vision and passion for transformative
        technology.”
    </p>
    <p>
        Fourteen design partners, including Campus Management customer Kansas State University, will collaborate with
        the company on CampusNexus Engage.
    </p>
    <p>
        “Campus Management has always had a student-centric focus on education and CampusNexus Engage will take this
        approach to the next level,” said Jan Elsasser, Assistant Vice President Student Life Technology and Information
        Services, Kansas State University. “We look forward to working with the company as they continue their mission
        of helping institutions increase efficiencies, while setting students up for success with a personalized
        approach to learning.”
    </p>
    <p>
        For the past 30 years, Campus Management has been developing solutions and services to allow higher education
        institutions to transform their academic delivery, student success and operational efficiency.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        <a href="{{url-lang-prefix}}/">Campus Management</a>
        is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
