---
# <!-- @formatter:off -->
title: Campus Management Expands Global Footprint with New Efforts in Middle East
publish: 2016-10-31
products:
  - CampusNexus Student
  - CampusNexus CRM
  - CampusNexus Finance HR & Payroll
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">New Partnership with OrientTech and Work with Muscat University Enable Institutions Worldwide
    to Transform and Respond Dynamically to Change</p>

    <p><span class="press-release__date-location">Boca Raton, Florida – October 30, 2016</span> – Campus Management Corp., a leading
    provider of enterprise solutions and services for higher education, today announced the Company's expanded global footprint in
    the Middle East as a result of its new partnership with Oman-based OrientTech, a leading enterprise solutions provider in the
    region, and work with Muscat University, Campus Management's first customer in Oman.</p>

    <p>Campus Management's partnership with OrientTech will deliver and implement the Company's CampusNexus<sup>®</sup> product suite to help
    future-focused educational institutions achieve greater academic excellence in an ever-evolving higher education landscape. This
    partnership also signifies a deeper penetration into the Persian Gulf region in addition to the relationships that Campus
    Management already has in both the UAE and Kuwait.</p>

    <p>"As education is a high-growth sector in the region, our partnership with Campus Management will enable us to create greater
    opportunities and deliver innovative solutions for students across the board," added Rajesh Bhandari, Managing Director, OrientTech.</p>

    <p>At the same time, Muscat University, Campus Management's first Oman customer, has selected the CampusNexus product suite -- including
    CampusNexus Student, CampusNexus CRM and CampusNexus Finance &amp; HR -- as its academic and administrative platform. Under the agreement,
    CampusNexus will enable the University to implement programs that are focused on recruitment and retention, centralizing and automating
    key processes and delivering collaborative tools for students, staff and faculty.</p>

    <p>&quot;It's important that we leverage technology solutions that are intuitive, efficient and effective to not only help us create a learning
    environment that is positive, creative and rewarding but also to enhance the student experience and seamlessly connect the campus community,&quot;
    said Professor Costas Chryssou, Deputy Vice-Chancellor, Enterprise and Engagement, Muscat University. &quot;Campus Management enables us to achieve
    all of these objectives through ultimately transforming academic delivery, engagement and operational efficiency with innovative technology.&quot;</p>

    <p>Muscat University in particular is experiencing a rapid period of growth, helping to transform students and communities through excellence
    in teaching and research that is both rigorous and relevant. The University is deploying technology to create greater synergies among all
    stakeholders and to streamline processes.</p>

    <p>&quot;We are dedicated to solving the challenges that higher education institutions are facing worldwide and help them to embrace digital
    technologies to build and implement programs across campuses and functions,&quot; concluded Jim Milton, Campus Management CEO. &quot;Our expertise in
    leveraging enterprise solutions and services for higher education allows institutions to not only engage a wider diversity of students and
    improve outcomes but also drive greater operational efficiency to help institutions truly transform and respond dynamically to change.&quot;</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus<sup>®</sup>, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contacts</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

    <div class="press-release__contact">
        Sai Narayan,<br/>
        (984) 560-9174<br/>
        sain@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
