---
# <!-- @formatter:off -->
title: Campus Management Implements Largest Rollout of University Management System Available to All India Education Institutions
publish: 2018-12-21
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">Campus Management Implements Largest Rollout of University Management System Available to All India Education Institutions</h1>

	<h2 class="b  c-grey--800 ">Selected for India’s First Statewide Implementation at 14 Universities under Maharashtra State Government</h2>

    <p><span class="press-release__date-location">Bangalore — December 21, 2018</span> — Campus Management Corp. announced today that its university management system can be configured to cater to the unique needs of state and central universities in India.</p>

	<p>Large, centralized universities face a specific set of challenges when it comes to managing multiple colleges and universities. These challenges include efficiently managing complex student enrollment processes, examinations and academics, administrative workflows, financial transparency, and regulatory standards.</p>

	<p>With the university management system, institutions can leverage the solution for a secure and transparent time-bound examination process, manage utilization of funds, gain a central view of data across multiple university systems, and collaborate for resources and knowledge.</p>

	<p>“Campus Management is the leading provider of education technology solutions in India. Although India’s higher education system is complex, our solutions enable entities in India to transform as they scale up for enrollment, address equitable access to education and bridge the gap in employability with quality education and an industry-ready skilled workforce,” said Raj Mruthyunjayappa, MD, Senior Vice President and Managing Director, Campus Management International.</p>

	<p>In July 2018, Campus Management was selected by Maha IT to implement a university management system for 14 state universities across 4700 affiliated and constituent colleges to support 27 lakh students in the State of Maharashtra. This is the single largest higher education system rollout by a state in India.</p>

	<p>Other notable Campus Management deployments include the integrated skill management system that is in use at NSDC as the system of record, and the integrated vocational education management system for the Department of Vocational and Educational training (DVET) in Maharashtra across 1500 ITIs for 1.2L students.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact:</h2>
        Sai Narayan CG
        <br />
        Campus Management Corp
        <br />
        sain@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
