---
# <!-- @formatter:off -->
title: Campus Management Recognizes Five Prestigious Higher Ed Institutions for Innovative and Strategic Use of Technology
publish: 2016-05-18
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, FL — May 18, 2016</span> — Campus Management Corp., a
        leading provider of enterprise software products and services for higher education, is pleased to announce the
        winners of its third annual Campus Management Excellence Awards, which honor colleges and universities that
        exemplify excellence in embracing technology to achieve measurable outcomes, improve efficiencies and better
        serve students and faculty. The awards were presented at the recently held CampusInsight 2016 Annual Users
        Conference, which took place at Walt Disney World’s® Contemporary Resort.</p>

    <p>“Each of Campus Management’s Excellence Award recipients has demonstrated that superior achievement and
        innovation in their adoption of technology is a means by which to solve key issues facing higher education
        today. Not only does the effective use of technology result in stronger student connections, more competitive
        programs and refined business practices, it also drives an overall improvement in the economic wellbeing of the
        institution. Campus Management is honored to support and recognize these progressive institutions,” said Jim
        Milton, CEO of Campus Management.</p>

    <h2 class="b  c-grey--800 ">Campus Management Excellence Award Winners:</h2>

    <p><strong>Excellence in Student Success – Central Michigan University</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li><a href="https://www.cmich.edu/Pages/default.aspx">Central Michigan University</a> is a
            public research university located in Mount Pleasant, Michigan. Established in 1892, Central Michigan
            University is one of the largest universities in the state of Michigan and one of the nation&#39;s 100
            largest public universities.
        </li>
        <li>Central Michigan wanted to move the needle on improving student engagement and the student experience,
            increasing completion rates, and embracing the needs of the growing nontraditional population to help each
            student succeed.
        </li>
        <li>With CampusNexus® CRM, the university was able to effectively target different student populations, track
            completion rates, and differentiate between veteran and beginner students regarding their ability to manage
            online coursework. As a result, staff and administrators can now accurately target at-risk students online
            and onsite so they can correlate outreach and engagement to monthly retention rates.
        </li>
    </ul>

    <p><strong>Excellence in Operational Efficiency – Lancaster Bible College</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li><a href="http://www.lbc.edu/">Lancaster Bible College</a> (LBC) is a private, coeducational
            Bible college and graduate school in Lancaster, Pennsylvania. The College offers a full range of collegiate
            programming from non-credit courses to undergraduate, master’s level, and doctoral degree programs.
        </li>
        <li>With campuses spread across seven different locations, LBC wanted consistent processes across sites and
            programs for managing prospective student contacts and leads. Its manually intensive workload included dual
            data entry of applicant information coming from a dozen different application forms.
        </li>
        <li>After implementing CampusNexus Student and CRM, LBC was able to achieve its vertical integration goal in six
            months, launch a universal common application for perspective students, implement a paperless application,
            and use CRM for email admissions. Those processes have resulted in increased consistency, as well as reduced
            workload, and have enabled staff to become more focused on successful relationship-building.
        </li>
    </ul>

    <p><strong>Excellence in Innovation — Rasmussen College</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li><a href="http://www.rasmussen.edu/">Rasmussen College</a> is a regionally accredited private
            college, headquartered in Bloomington, Minnesota, with around 14,000 students, across 23 campuses in six
            states. It offers degree programs at the certificate and diploma level through the associate’s and
            bachelor’s degree levels.
        </li>
        <li>Rasmussen recognized that being innovative with their academic programs could serve their various adult
            student populations who were looking for a different way to obtain and complete their education.
        </li>
        <li>By designing a variety of competency-based education (CBE) programs while leveraging CampusNexus Student as
            the foundation, Rasmussen gained greater transparency into students’ skills, abilities, knowledge and career
            objectives. This allows the college to have greater visibility into students’ proficiencies, and prospective
            employers have confidence in what students know and can do upon earning credentials.
        </li>
    </ul>

    <p><strong>Excellence in Strategic Vision – Bridgepoint Education</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li><a href="http://bridgepointeducation.com/">Bridgepoint Education</a> is a publicly held,
            proprietary education services company based in San Diego, Calif. It owns two accredited universities,
            Ashford University and University of the Rockies, which offer degrees both online and on-campus, with a
            total enrollment of nearly 55,000 students.
        </li>
        <li>To provide more compelling outreach to prospective students, Bridgepoint needed to streamline its
            recruitment processes, accelerate lead management, and create a system that could continuously prioritize
            the enrollment team’s workload.
        </li>
        <li>With CampusNexus CRM, Bridgepoint established processes including near real-time recruitment actions, with
            leads automatically scored throughout the day based on multiple triggers, allowing advisors to focus on
            prospects who are most likely to respond or submit an application.
        </li>
    </ul>

    <p><strong>Excellence in Constituent Services – Botho University in Gaborone, Botswana</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li><a href="http://www.bothouniversity.com/">Botho University</a> is Botswana’s largest private tertiary
            education provider. Founded in 1997, Botho serves more than 4,000 students and has trained 16,000 graduates
            since inception.
        </li>
        <li>Prior to implementing Campus Management’s Student, Portal and CRM solutions, Botho recognized they needed to
            improve its processes for capturing data for applicants, processing the information, responding in a timely
            fashion and supporting appropriate access to student records.
        </li>
        <li>Following the successful implementation of Campus Management’s CampusNexus suite, Botho completely
            eliminated its manual processes and improved accuracy, efficiency, and transparency throughout the
            institution. In addition, the University has since achieved its goal to go paperless, successfully
            instituting 48 new functions, processes, and reports.
        </li>
    </ul>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
