---
# <!-- @formatter:off -->
title: Campus Management Expands Solutions and Services to Support Growth at Education Corporation of America
publish: 2017-03-30
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — March 30, 2017</span> — Campus Management Corp. today announced that it is expanding the solutions and services it provides to Education Corporation of America (ECA) to include CampusNexus® Student and CampusNexus Constituent Relationship Management (CRM) solutions. ECA will also leverage additional Campus Management support services to assist with the solutions’ implementations.</p>

    <p>“We are pleased to continue our relationship with Campus Management and begin the implementation of our next generation CRM and Student Information System platforms,” said President and CEO, Stu Reed. “We are relentlessly focused on delivering superior student outcomes, and using Campus Management’s world class administrative platforms enables our campuses to operate more efficiently and with an improved student experience.”</p>

    <p>ECA began using Campus Management solutions in 2005 and has expanded its partnership over the past 12 years as the organization grew its campuses. Recently, one of ECA’s institutions, the New England College of Business, was named to three U.S. News &amp; World Report 2016 Education Rankings for Best Online Higher Education Programs, including Best Online Graduate Business Degrees, Excluding MBA, Best MBA Programs, and Best Bachelor Programs.</p>

    <p>“The continued growth and transformation ECA has experienced over the past 12 years, has made them an exciting partner to grow with,” said Campus Management CEO, Jim Milton. “We look forward to continuing to support their efforts to improve the student experience and drive efficiencies in their administrative processes.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions. Its next-generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Education Corporation of America</h2>

    <p>Education Corporation of America® owns and operates private accredited colleges across the United States. Our schools serve the needs of thousands of students while giving employers an educated and skilled workforce in the markets where we are located.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
