---
# <!-- @formatter:off -->
title: Campus Management Achieves Highest Booking Results in Company’s 30-Year History
publish: 2018-07-24
social-image: /images/pages/news-and-events/PostImage-1200x630-momentum.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">Campus Management Celebrates Dramatic Growth and Introduction of Innovative Products that Enable the Transformation of Higher Education</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – July 24, 2018</span> – Campus Management Corp., a leading provider of enterprise cloud software solutions and services for higher education, announced today a record-breaking year with client bookings and new product innovations in its recent fiscal year ending June 30, 2018. Campus Management was also recognized as the Microsoft Global Partner of the Year for Education and named, once again, as the leading SIS vendor in the latest research report by The Tambellini Group.</p>

    <h2 class="b  c-grey--800 ">FY2018 Operational Highlights include:</h2>

	 <ul class="list--normal">
        <li>Achieved highest annual bookings in 30-year history</li>
        <li>U.S. booking results for FY2018 are 72% higher than the previous year</li>
        <li>International booking results for FY2018 are 61% higher than the previous year</li>
        <li>Launched CampusNexus® Occupation Insight™ in April 2018</li>
        <li>Welcomed a variety of new CampusNexus clients in the U.S., including five community colleges in Oregon, Lipscomb University, Post University and Lubbock Christian University</li>
        <li>Welcomed a variety of new Radius by Campus Management clients in the U.S., including Everett Community College, and Campbellsville University</li>
        <li>Unprecedented satisfaction scores in the Campus Management 2018 Customer Satisfaction Survey conducted by the National Business Research Institute</li>
    </ul>

    <h2 class="b  c-grey--800 ">FY2018 Partnership and Acquisition Highlights:</h2>

    <ul class="list--normal">
    	<li>Acquisition of the Radius, AppReview, ApplyYourself, Connect, and Retain CRM and application management product lines from Hobsons, Inc. used by more than 700 colleges and universities </li>
        <li>Campus Management was named the 2018 Microsoft Global Partner of the Year Award Winner for Education</li>
    </ul>

    <p>“With a customer net promoter score of over 50 and record client and employee satisfaction rates over the last year, we continue to be dedicated to transforming the systems and services that enable colleges and universities to transform their operational efficiency, academic delivery and student success,” said Jim Milton, CEO of Campus Management. “Our success can be attributed to setting a strategic, results-driven course for our clients, maintaining high levels of customer satisfaction and cementing supportive partnerships, including a strong long-lasting relationship with Microsoft.”</p>

    <p>Published in July 2018, The Tambellini Group’s “Student Systems U.S. Higher Education Market Share, Trends, and Leaders Report,” identifies Campus Management as the leading student systems vendor in 2017.</p>

    <p>“From analyzing the market as a whole, our research shows that Campus Management is the leading student systems vendor for new placements for 2017,” said Vicki Tambellini, The Tambellini Group President, and Chief Executive Officer. “While Campus Management continues to lead new placements in the private, for-profit sector of higher education, they also led in new selections in the private not-for-profit sector in 2017.”</p>

    <p>On the product innovation front, Campus Management released Occupation Insight, a cloud-based workforce analytics tool that will provide higher education the insight it needs to align academic programs and skills development with a rapidly evolving marketplace. Campus Management also announced a forthcoming solution CampusNexus Engage, which will enable institutions to drive personalized and predictive engagement with their constituents. These cloud-based solutions continue to build out Campus Management’s portfolio of business transformation tools for institutions. Campus Management has provided a reliable cloud solution to institutions for the past 15 years.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
