---
# <!-- @formatter:off -->
title: Campus Management Establishes Customer Enablement Team
publish: 2016-01-27
meta-description: The establishment of a dedicated Customer Enablement Management team to help its customers meet the demands of the current higher-education environment.
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">Program to Foster Trusted Advisor Relationship to Help Clients Achieve
        Transformational Strategies</p>

    <p><span class="press-release__date-location">Boca Raton, FL — January 27, 2016</span> — Campus Management Corp., a
        leading provider of enterprise software products and services for higher education, announced today the
        establishment of a dedicated Customer Enablement Management team to help its customers meet the demands of the
        current higher-education environment, including changing student needs, increased scrutiny related to outcomes
        and growing funding challenges. Campus Management will provide institutions with ongoing, one-to-one access to
        world-class resources for guidance and performance assistance.</p>

    <p>“To help our customers harness the potential created through the unprecedented activity and technological
        advancement within today’s higher education sector, we have assembled a dedicated team of professionals,
        spearheaded by Dave Megregian, a 25-year industry veteran,” said Jim Brigadier, Campus Management’s Senior Vice
        President of Sales and Professional Services for the Americas. “With tremendous experience gained at SCT (now
        Ellucian), Collegis, rSmart, Strata Information Group, and most recently at Workday, Dave’s entire professional
        life has been dedicated to improving service, fostering engagement and helping drive deeper collaboration with
        his valued customers.”</p>

    <p>Mr. Megregian will lead a Customer Enablement Management team comprised of experts whose experience is rooted in
        supporting professional services, account management, sales, managed services and cloud delivery. Each member
        will serve as a liaison to assure a collaborative teamwork environment to assist with customer needs,
        challenges, requirements and institutional drivers.</p>

    <p>“This is an exciting time to be part of an organization that prides itself on being a leader and at the forefront
        of the technology advancement in higher education. Our mandate is to deliver support far beyond a typical
        ‘Account Management’ function; we want to be the customers’ first call – their trusted advisor,” said Dave
        Megregian, Campus Management’s Vice President of Customer Enablement. “We have aligned corporate resources to
        support this initiative, creating strategic partnerships forged through relationships and skills that are
        best-in-class and industry. We are confident this will result in satisfied customers, who view Campus Management
        as a true partner in delivering value to their constituencies.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
