---
# <!-- @formatter:off -->
title: Campus Management Names Emiliano Diez Vice President of Cloud Operations and Services

publish: 2017-01-20
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – January 20, 2017</span> – Campus Management Corp. is continuing to invest in and drive its cloud strategy with the appointment of Emiliano Diez as the Vice President of Cloud Operations and Services. Mr. Diez has been hired to lead the higher education, market-leading cloud platform, CampusNexus<sup>®</sup> Cloud, which has more than 135 higher education clients deployed worldwide. In this role, Mr. Diez will ensure Campus Management is prepared to meet the growing demand for its agile, cost-effective cloud solutions, specifically designed to meet the unique needs of colleges and universities.</p>

    <figure class="press-release__figure" style="width: 200px"> <img src="/images/pages/news-and-events/press-releases/emiliano-diez.jpg" alt="Emiliano Diez"> <figcaption class="press-release__figcaption">Emiliano Diez, Vice President of<br/>Cloud Operations and Services.</figcaption> </figure>

    <p>“Emiliano has a wealth of higher education, IT implementation and operational experience that spans across the U.S., Europe, Asia and Latin America,” said Jim Milton CEO at Campus Management. “As Campus Management provides increasingly robust administrative solutions for the higher education sector, our cloud platform continues to gain momentum and will benefit from the industry experience that he brings to our organization.”</p>

    <p>Prior to joining Campus Management, Mr. Diez served as Vice President of Operations, University of Miami Partnership at Laureate Education, where he helped the institution launch eight online master’s programs across five schools in less than two years. With a talent for international collaboration, Mr. Diez developed regional partnerships for the University of Miami.</p>

    <p>Mr. Diez began his career implementing Enterprise Resource Planning (ERP) and Customer Relationship Management (CRM) solutions in Latin America for WorldCom. For the past 20 years, he has continued to collaborate and develop partnerships globally to execute ERP and CRM solutions and elevate the way institutions meet their technology needs.</p>

    <p>“I’m excited to bring my experience in higher education and cloud-based ERP and CRM solutions to Campus Management,” said Diez. “CampusNexus Cloud is already serving customers all over the world, and I’m looking forward to helping further expand the reach of its capabilities.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Relations</h2>
        Ashley Prince<br/>
        Campus Management Corp.<br/>
        (954)-249-1124<br/>
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
