---
# <!-- @formatter:off -->
title: Campus Management Announces Strong Results of Global Expansion Program
publish: 2015-03-23
products:
  - CampusNexus Finance HR & Payroll
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 "><em>-- Significant Client Wins in India, Brazil, Africa and Malaysia</em></p>

    <p><span class="press-release__date-location">Boca Raton, Florida – March 23, 2015</span> – <a href="{{url-lang-prefix}}/">Campus
        Management Corp.</a>, a leader in technology
        and services for higher education, announced today very positive results from its global expansion program,
        gaining 47 new international customers over the past 24 months, and in turn, increasing its worldwide client
        count to nearly 2,000 campuses across 18 countries.</p>

    <p>“Our global team has worked tirelessly to establish Campus Management as a trusted partner to help higher
        education customers around the world. Capitalizing on our existing global footprint, we have invested in the
        organization and the products we offer to address the changing needs of our clients in their respective
        markets,” said Jim Milton, Chief Executive Officer, Campus Management.</p>

    <p>Campus Management’s global clients now include some of the world’s most prestigious private and vocational
        colleges and universities, as well as government-sponsored institutions. This expansive growth has been
        supported through the company’s CampusNexus® solution suite for the higher education market, which includes
        CampusNexus Student, Powered by CampusVue®, a robust student information system (SIS); CampusNexus CRM, Powered
        by Talisma®, a constituent relationship management (CRM) product; and CampusNexus Finance, HR &amp; Payroll,
        Powered by Microsoft Dynamics® AX, a higher education financial solution built on the highly acclaimed Microsoft
        financial platform with proven use in over 20,000 organizations.</p>

    <p>Campus Management’s product strategy has been developed based on the Company’s vision and its “On Demand Model
        for Higher Education” that focuses on improving constituent engagement, being able to offer flexible terms and
        delivery options, afford a global perspective balanced with local realities, and provide the agility to continue
        to make changes based upon market demands and student needs.</p>

    <p>Mr. Milton continued, “Much of our success can be tied to Campus Management’s commitment to a localized approach
        – knowing that each market faces unique challenges. In addition to revamping and advancing our entire product
        suite and architecture over the past two years, our global team has worked side-by-side with our customers
        around the world to help them prepare for and effectively address a super storm of challenges such as curriculum
        delivery, competition, compliance and government oversight, as well as the need to provide positive student
        outcomes.” </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
