---
# <!-- @formatter:off -->
title: Campus Management Selected for India’s First Statewide Implementation of a University Management System
publish: 2018-09-27
social-image: /images/pages/news-and-events/Maha-IT-PR.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — September 27, 2018</span> — Campus Management announced today that the Maharashtra State government in India, under the MahaIT initiative, has selected the consortium which includes Campus Management as its technology partner. This entails the licensing of CampusNexus<sup>®</sup> solutions on Microsoft Azure to enable the government of Maharashtra to advance education and skill development across the state. The 14 universities that comprise the State of Maharashtra will implement the CampusNexus platform to align skills and training with workforce demand.
    </p>

	<figure class="press-release__figure" style="width: 300px;">
		<img src="/images/pages/news-and-events/maha-it.jpg" alt="MahaIT Initiative"/>
	</figure>

	<p>“Campus Management is proud to be the largest education technology provider, based on student count, in India,” said Jim Milton Campus Management Chief Executive Officer. “We’re looking forward to implementing CampusNexus solutions to enable over five million students in Maharashtra to better engage with their university and enjoy more streamlined university processes.”</p>

	<p>Campus Management solutions are built on Microsoft technology, allowing clients to benefit from Microsoft Dynamics 365 and the trusted Azure cloud platform. The strong Microsoft foundation enables Campus Management to focus on higher education specific software and solutions development to deliver innovation that transforms academic delivery, student success and operational efficiencies.</p>

	<p>“Microsoft’s relationship with Campus Management allows us to impact a diverse global footprint in higher education,” said Microsoft Vice President of Worldwide Education Anthony Salcito. “Enhancing university collaboration and student engagement for millions of students in this region is one of the many reasons we continue to invest in our cloud-based solutions.”</p>

	<p>Campus Management <a href="https://www.campusmanagement.com/news-and-events/press-releases/Campus-Management-Achieves-Highest-Booking-Results-in-Companys-30-Year-History/">recently announced</a> that it achieved its highest booking results in its 30-year history. The International booking results for FY2018 were 61 percent higher than FY2017. The EMEA and APAC regions continue to be an important part of the strategic growth plan for Campus Management.</p>

	<p>“Our existing international partnerships showcase Campus Management’s efficiency in completing large university system integrations. As an example, our ability to roll out the CampusNexus platform across 900 Industrial Training Institutes and Industrial Training Centers (ITIs) as part of the DVET project in Maharashtra led to this exciting new partnership with MahaIT Partners,” said Campus Management International Managing Director Raj Mruthyunjayappa. “Together, we are going to enhance the higher education system in Maharashtra and make more students successful in achieving their dreams.”</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
