---
# <!-- @formatter:off -->
title: Campus Management Helps Institutions Engage with Their Constituents Today, and in the Future
publish: 2017-11-15
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — November 15, 2017</span> — As part of its continuing pledge to support higher education’s mission now and in the future, Campus Management announces the upcoming releases of its flagship Constituent Relationship Management (CRM) solutions – Radius by Campus Management and CampusNexus CRM. Campus Management demonstrates its long-term commitment to supporting its products and developing solutions for the industry’s current needs and rapid evolution. The company <a href="/news-and-events/press-releases/Campus-Management-expands-collaboration-with-Microsoft-on-constituent-engagement-platform-for-higher-education/">recently announced a development initiative with Microsoft</a>.</p>

    <p>“The higher education operating environment is increasingly volatile, driven by rising competition and unpredictable budgets. The CRM solutions and practices deployed to engage with constituents have become the biggest differentiators for success in higher education,” said Campus Management Chief Strategy Officer Mark Armstrong. “We are committed to providing customers rich and stable solutions today, and through the next decade and beyond, thanks in part to our collaboration with Microsoft.”</p>

    <p>Campus Management pledges to continue product support for CampusNexus CRM and Radius by Campus Management, along with Connect and ApplyYourself products, for at least the next five years. Product enhancements for driving constituent engagement that will be delivered through the first half of 2018 include:</p>

    <ul class="list--normal list--has-lead-in">
    	<li>CampusNexus CRM: new release will simplify user interactions with the platform leading to increased operational efficiency.</li>
    	<li>Radius by Campus Management: new release will further automate and streamline the admissions and recruitment offices’ business processes to enhance constituent engagement.</li>
    </ul>

    <p>Clients are looking forward to embracing the future of higher education with Campus Management. Here is what a few of them they are saying:</p>

    <p>“Implementing Radius by Campus Management helped us to increase our yield of admit-to-enrolled students for fall 2016 by six percent,” said Shelly Kieffer Gill, Dean of Enrollment Management at Louisiana State University at Alexandria. “The commitment that Campus Management made to continuing to innovate on Radius by Campus Management will enable us to grow our institution’s enrollment.”</p>

    <p>“Campus Management helped us evolve to an institution-wide system that supports our prospects, students, and growth initiatives,” said The University of Ottawa CRM Product Specialist Louis-Philippe Basque. “They are continuing to support our institution’s CRM investment, even as they are developing a new engagement platform, and we are proud to partner with them today and in the future.”</p>

    <p>In 2014, University of Ottawa won the Campus Management Excellence Award for their ability to guide students through the financial aid process and help those students achieve positive outcomes. Since the <a href="/news-and-events/press-releases/Campus-Management-Acquires-Radius-AppReview-ApplyYourself-Connect-and-Retain-Product-Lines-from-Hobsons/">September 2017 acquisition of CRM solutions</a>, Campus Management is the largest and best-in-class higher education CRM provider.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
