---
# <!-- @formatter:off -->
title: Campus Management Names Dan Frazier as New VP of Sales, North America
meta-description: Campus Management Names Dan Frazier as New VP of Sales, North America
publish: 2016-08-01
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">Highly Successful Higher Education Executive to Lead Domestic Sales</h2>

    <p><span class="press-release__date-location">Boca Raton, FL — August 1, 2016</span> — <a href="{{url-lang-prefix}}/">Campus Management
        Corp.</a>, a leading provider of enterprise solutions and services for higher education, announced today that
        Dan Frazier has joined Campus Management as Vice President of Sales for North America.</p>

    <p>“Dan is a well-respected and proven leader in our industry who brings a track record of success and an unwavering
        commitment to customer results,” said Jim Brigadier, Senior Vice President of Sales and Professional Services,
        Americas, at Campus Management. “His extensive experience in leading sales teams and fostering collaborative
        engagements extends nicely into our continued focus on helping institutions achieve their strategic goals. I’m
        confident that his innovative leadership, commitment to customer satisfaction, and deep knowledge of industry
        trends will complement Campus Management’s experienced team. Dan has consistently demonstrated the ability to
        develop and motivate high performing sales teams to increase market share, and his infectious attitude will
        strengthen our continued momentum in higher education.”</p>

    <p>Prior to joining Campus Management, Mr. Frazier served as Senior Vice President of Sales at iModules Software, a
        leading provider of online collaboration and engagement management tools for higher education. As a member of
        the executive team, he successfully led a sales organization that helped institutions achieve their missions and
        build meaningful relationships through use of the company’s constituent engagement management solution.</p>

    <p>Earlier in his career, he spent 16 years at Ellucian (formerly SunGard Higher Education). During his tenure, he
        managed a team that was responsible for sales, revenue generation, and customer satisfaction in a 19-state
        region that consistently exceeded growth initiatives through his outstanding leadership as vice president. His
        experience also includes serving as vice president of sales and marketing at OuterBounds Technology, which
        specializes in cloud computing and professional services delivery.</p>

    <p>Mr. Frazier holds a Bachelor of Science degree in Business Finance from Montana State University – Bozeman.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
