---
# <!-- @formatter:off -->
title: Campus Management Spotlights Annual Excellence Award Winners During CampusInsight 2019
publish: 2019-03-28
social-image: /images/pages/news-and-events/2019-Excellence-Award-Winners-SocialShare.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Orlando, Florida – March 28, 2019</span> – During its CampusInsight 2019 user conference in Orlando, Fla., Campus Management Corp. announced the winners of its annual Excellence Awards. The awards recognize higher education institutions that have embraced innovative technology to achieve measurable outcomes, improve efficiencies and better serve students and faculty. The winners embody excellence in delivering on their mission based on results achieved over the past year in one of three categories:  Student Success, Operational Efficiency, and Vision & Innovation. .</p>

    <p>“We highlight these institutions’ success stories to recognize their accomplishments, and to inspire greater insight and best practices for solving the most pressing challenges facing higher education today,” said Jim Milton, CEO of Campus Management. “The higher education landscape is continually evolving, and the 2019 Excellence Award winners have demonstrated how it’s possible to leverage modern technology and methodologies to create new business models, adapt to change, and achieve measurable results across campus and the student lifecycle.”</p>

	<figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/ci2019-excellence-award-winners.jpg" alt="Excellence Award Winners"/>
    </figure>

    <p>The 2019 Campus Management Excellence Award Winners are:</p>

   <h2 class="b  c-grey--800 ">Student Success - The University of Texas Rio Grande Valley</h2>

    <p>The University of Texas Rio Grande Valley (UTRGV) is extending CRM capabilities beyond admissions and recruitment to other university departments. They have dramatically improved coordination of enrollment communications and campaigns across campus and have played an integral role in improving the student experience and increasing enrollment results.</p>

	<h2 class="b  c-grey--800 ">Operational Efficiency - Mercer University</h2>

    <p>Mercer University is improving billing workflows, processes and accountability through innovative web-based programs, which ensures that students, parents and staff have reliable access to the critical financial information they need in real time. Their achievement in operational efficiency, includes automating functions critical to managing the financial aspects of student life, and increasing direct service to students.</p>

	<h2 class="b  c-grey--800 ">Vision & Innovation - ECPI University</h2>

    <p>ECPI University is delivering flexible academic programs, and financial aid automation has created a path for a wide diversity of learners to achieve their academic and career goals. As a result of your forward-thinking innovation, students now experience faster turnaround times for the financial aid packaging they need to succeed.</p>

	<p>Campus Management congratulates these institutions on winning the 2019 Excellence Awards and the success they have achieved in delivering on their mission.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
