---
# <!-- @formatter:off -->
title: Campus Management Cloud Evolution Continues with Launch of CampusNexus Cloud on Microsoft Azure
publish: 2017-04-24
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — April 24, 2017</span> — With CampusNexus<sup>®</sup> Cloud, Campus Management Corp. has developed the next generation cloud computing platform and services designed specifically for higher education institutions. Built on Microsoft Azure, CampusNexus<sup>®</sup> Cloud provides a proven and agile platform for future innovation and student needs, as well as increased integration with Microsoft Office 365, Microsoft Power BI and other Microsoft applications.</p>

    <p>“Institutions expect enterprise-wide solutions available on a reliable, scalable, secure and cost-efficient cloud computing platform that allows for burst capacity,” said Jim Milton, Campus Management Chief Executive Officer. “Campus Management has a legacy of building enterprise-wide solutions on the .NET platform and using Microsoft Power BI and Microsoft Dynamics 365 to help ensure our solutions are open and flexible. We are taking it a step further by aligning our solutions with Microsoft Azure, as we prepare customers for the next technology revolution.”</p>

    <p>In July 2017, CampusNexus Cloud will be available to new and existing clients in three tiers of cloud offerings. All three tiers allow institutions to transform operational efficiency by enabling them to focus on strategic leadership instead of the tactical tasks associated with managing on-premises hardware, operating systems, databases and software.</p>

    <p>Campus Management has over 200 client campuses already using its current cloud offering, CampusNet Cloud. CampusNexus Cloud is a new offering that builds on Campus Management’s experience and knowledge of the higher education industry’s cloud expectations.</p>

    <p>“Campus Management has decades of experience supporting higher education, including traditional and nontraditional institutions,” said Margo Day, Microsoft Vice President, U.S. Education. “As pioneers in the delivery of systems for student-centric engagement, the company brings its industry expertise and clients to our globally trusted cloud platform, Microsoft Azure. Together we are enabling the next wave of innovation in higher education and providing more flexible and accessible pathways for students to achieve their life’s ambitions.” </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions. Its next-generation suite, CampusNexus<sup>®</sup>, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
