---
# <!-- @formatter:off -->
title: Campus Management Named 2018 Microsoft Global Partner of the Year Award Winner for Education
publish: 2018-06-12
social-image: /images/pages/news-and-events/PostImage-1200x630-Microsoft-partner-award.png
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">Leading Provider of Cloud-Based SIS, CRM and ERP Solutions Honored for Displaying Innovation in Higher Education Technology</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – June 11, 2018</span> – Campus Management has been named the 2018 Microsoft Global Partner of the Year Award Winner for Education. The company was honored among a global field of top Microsoft partners for demonstrating excellence in innovation and implementation of customer solutions based on Microsoft technology.</p>

    <figure class="press-release__figure" style="width: 310px;">
		<img src="/images/pages/home/homebanner-microsoft-award.png" alt="2018 Microsoft Global Partner of the Year"/>
	</figure>

    <p>“The real beneficiaries of our partnership with Microsoft are the colleges and universities who transform their operations and drive better outcomes for their students by leveraging Campus Management’s solutions, which are built on Microsoft technology,” said Jim Milton, Chief Executive Officer at Campus Management. “Campus Management is honored to be selected for this prestigious award and for the incredible partnership we have established with Microsoft.” </p>

    <p>Campus Management’s solutions enable higher education institutions to leverage the security and flexibility of Microsoft Azure and Microsoft Dynamics365. Campus Management has a 30-year history of providing institutions all over the world with scalable, robust solutions designed to better engage students, operate with greater efficiencies and empower innovation.</p>

    <p>“Our ecosystem of partners is crucial to delivering transformative solutions, and this year’s winners have proven to be some of the finest among their peers,” said Gavriella Schuster, Corporate Vice President, One Commercial Partner, Microsoft Corp. “We are pleased to recognize Campus Management for being selected as the winner of the 2018 Microsoft Global Partner of the Year Award for Education.”</p>

    <p>Awards were presented in several categories, with winners chosen from a set of more than 2,600 entrants from 115 countries worldwide. Campus Management was recognized for providing outstanding solutions and services in education.</p>

    <p>The Microsoft Partner of the Year Awards recognize Microsoft partners that have developed and delivered exceptional Microsoft-based solutions during the past year.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
