---
# <!-- @formatter:off -->
title: Campus Management Announces Strong Results of Traditional Sector Expansion Program
publish: 2015-09-23
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>
    <p class="b  c-grey--800 ">Company Achieves Milestone of 50-50 Customer Split Between Traditional and
        Proprietary Institutions</p>

    <p class="b  c-grey--800 ">Traditional Sector Penetration Driven by Aligning Solutions with Evolving Business
        Model Needs of Institutions</p>

    <p><span class="press-release__date-location">Boca Raton, FL — September 23, 2015</span> — Campus Management Corp.,
        a leader
        in technology and services for higher education, announced today favorable industry penetration indicators from
        its Traditional sector expansion program. While recognized for many years as the dominant software provider to
        Proprietary institutions, Campus Management continues to gain traction in the not-for-profit sector as
        Traditional institutions face increased pressure to transform and address increasingly challenging industry
        dynamics.</p>

    <p>“Capitalizing on the highly differentiated technology advantage we’ve developed for institutions serving
        non-traditional students and online business models, we have made tremendous strides over the past several years
        gaining momentum in the Traditional sector. The distinction between Proprietary and Traditional institutions has
        been greatly reduced; Campus Management is at the forefront of serving these distinct but increasingly similar
        industry segments,” said Jim Milton, Chief Executive Officer, Campus Management. “The Company’s product strategy
        is characterized by advanced pedagogical innovation which accommodates the evolving definition of a
        “traditional” student and modalities of learning, competency-based programs, processes to boost recruitment and
        enrollment, and measurement tools to precisely gauge student success and learning outcomes. This forward-looking
        strategy has not only spurred interest from the Traditional segment, but has enabled us to remain strongly
        committed to all segments within higher education, including the private for-profit sector and international
        institutions.”</p>

    <p>In addition to internal metrics, published higher education statistics validate Campus Management’s momentum in
        the Traditional segment. A recent research report from The Tambellini Group, “2015: Student Information Systems:
        U.S. Higher Education Market Share, Trends and Leaders Report©,” ranked Campus Management as the top-ranking
        software company last year with new Student Information System (SIS) contracts for the industry overall, and
        number two in new Traditional segment contracts.</p>

    <p>Connor Gray, Senior Vice President and Chief Strategy Office added, “To accomplish our industry vision, Campus
        Management revised our entire product suite roadmap and architecture, resulting in a unique,
        full-student-lifecycle solution, with offerings that address institutions of any size. Campus Management’s
        product strategy is based on its vision for the ‘On Demand Model for Higher Education,’ focusing on improved
        constituent engagement, the ability to offer flexible terms and delivery options, and the agility to make
        changes based upon industry demands and student needs.”</p>

    <p>To support its efforts to further address the Traditional sector, Campus Management recently bolstered its team
        by adding seasoned, proven professionals, including Jim Brigadier as Senior Vice President of Sales and
        Professional Services, James Squires as Vice President of Professional Services, and Bruce Bleiman as Vice
        President of Sales. Each of these individuals bring to bear a wealth of experience serving the Traditional
        sector. In addition, the Company has revamped many of its customer implementation and support processes to
        better address the needs of the not-for-profit industry segment.</p>

    <p>Campus Management’s not-for-profit clients now include some of the country’s most prestigious 4-year and 2-year
        colleges and universities. The Company’s growth has been supported through its CampusNexus® solution suite for
        the higher education market, which includes CampusNexus Student, Powered by CampusVue®, a robust student
        information system (SIS); CampusNexus CRM, Powered by Talisma®, a constituent relationship management (CRM)
        product; and CampusNexus Finance, HR &amp; Payroll, Powered by Microsoft Dynamics® AX, a higher education
        financial solution built on the highly acclaimed Microsoft financial platform with proven use in over 20,000
        organizations.</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About The Tambellini Group</h2>
    <p>
        The Tambellini Group, LLC is the world’s leading market research and advisory firm for higher education
        executives, organizations and investment firms interested in higher education market research, vendor contract
        negotiations and market research and analysis. TTG delivers detailed quantitative and qualitative technology
        research, insight and analysis specifically for education and enables informed decisions based on data.
        Executive level skills and services include strategic advice for executives, market research, contract
        negotiations with administrative systems, technology vendors and service providers, and published thought
        leadership on business and technology issues.</p>

    <p>The data analyzed for this report are derived from the TTG Education Institution Technology Profile Database™,
        the world’s most comprehensive catalog of 53,300 education technology selections made by institutions worldwide.
        The Education Institution Technology Profile Database™ contains SIS records for more than 5,600 U.S. higher
        education institutions, including accredited and non-accredited schools. The total size of the Education
        Institution Technology Profile Database™ exceeds 18,900 global institutions, and includes data in categories
        such as most recent systems selected for human resources, financial systems, learning management systems,
        advancement/alumni systems, student/faculty/staff email and library systems.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
