---
# <!-- @formatter:off -->
title: Campus Management Partners with Bryant University to Expand International Engagement in China
publish: 2017-08-09
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — Aug. 9, 2017</span> — Campus Management today announced that Bryant University Zhuhai selected CampusNexus Student on the CampusNexus Cloud to assist in the institution’s goal of expanding education opportunities in China’s Guangdong Province. Due to a quick implementation process, the Student Information System (SIS) is already supporting the institution as it engages undergraduate business students at the Zhuhai campus.</p>

    <p>Bryant University Zhuhai is the first and only American university with a presence in Zhuhai and the only U.S.-China joint business program in the Guangdong Province on the southeast coast. Since 2005, the U.S.-China Institute at Bryant has forged academic, business, and cultural partnerships that have provided students and faculty with broad global experiences.  The graduating students will receive a Bryant University degree.</p>

    <p>“Campus Management was the best cloud-based SIS provider to help us move from numerous manual processes to increased operational efficiency,” said Bryant University CIO, Chuck LoCurto. “In less than 90 days, CampusNexus Student was implemented and already engaging international students, which is faster than anything we could have imagined. It’s already saving the Zhuhai campus staff time and reducing errors.”</p>

    <p>Campus Management Corp. implemented CampusNexus Student using CampusNexus Cloud for the Bryant University Zhuhai campus. CampusNexus Student has been enhanced with features and functionality that provide an innovative user experience. Even though the Bryant University Zhuhai program will be taught in English, CampusNexus Student allows institutions to configure their portal in multiple language according to their preference.</p>

    <p>“Education is nation building, and we are thrilled that Bryant University Zhuhai chose Campus Management to help them solve the challenges that come with expanding an international program,” said Campus Management CEO, Jim Milton. “We were able to leverage our experience of deploying solutions in 20 countries to quickly get CampusNexus Student operational and helping students in China achieve success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud solutions and services that transform higher education institutions. Its next-generation suite,
CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with
Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Bryant University Zhuhai</h2>

    <p>Bryant University Zhuhai is situated on the 800-acre campus of Beijing Institute of Technology Zhuhai and houses the only U.S.-China joint four-year undergraduate business degree program in China. The academic program for Chinese as well as U.S. students mirrors the vigor and quality of Bryant’s nationally recognized curriculum.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
