---
# <!-- @formatter:off -->
title: Campus Management to Host Higher Educations Top Thought Leaders at 2016 CampusInsight Conference
publish: 2016-04-04
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, FL — April 4, 2016</span> — Campus Management Corp.
        announced today its marquee event, the
        <a href="https://www.campusinsight.com/">CampusInsight 2016</a>
        Annual Users Conference, taking
        place on April 18 through 22 in Orlando, Fla., at Walt Disney World’s® Contemporary Resort. The annual event is
        expected to attract more than 700 college and university leaders from around the world. This year’s theme,
        “Destination Excellence: Driving Performance,” reflects Campus Management’s continued commitment to refining and
        expanding its solutions and services to more effectively address the evolving needs of higher education.</p>

    <p>“CampusInsight 2016 will provide unparalleled opportunities for our clients to gain access to new knowledge and
        skill sets, as well as engage with Campus Management’s executive leadership and associates, including our new
        Customer Enablement team. They will also learn about the progress and milestones we’ve achieved through the
        launch of our next generation solution, CampusNexus®,” noted Jim Milton, Chief Executive Officer at Campus
        Management. “Over the past year, we’ve made tremendous strides executing against the CampusNexus product
        roadmap, and I look forward to sharing these important developments, as well as client successes, with our
        esteemed guests.”</p>

    <p>Mr. Milton continued, “This year’s opening session will feature three of the industry’s top thought leaders
        participating in a timely discussion on how colleges and universities can excel in a new world of higher
        education, which calls for greater innovation and flexibility to help students succeed. I am looking forward to
        what promises to be an insightful and lively debate.”</p>

    <p>Opening session panelists include:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Steve Gunderson, President and CEO of the Association of Private Sector Colleges and Universities (APSCU)
        </li>
        <li>Richard DeMillo, Ph.D., Executive Director, Center for 21st Century Universities, Georgia Institute of
            Technology
        </li>
        <li>Dave Hoverman, Managing Director of Parthenon-Ernst &amp; Young</li>
    </ul>

    <p>Mr. Milton concluded, “With more institutions converting to CampusNexus every day, we have added more than 40 new
        pre-conference training courses across the solutions suite, including training and best practices for
        CampusNexus Student, CampusNexus CRM and CampusNexus Finance, HR &amp; Payroll, powered by Microsoft Dynamics®
        AX. Combined with over 100 breakout sessions during the regular session – as well as additional workshops, user
        presentations and panel sessions, along with an expanded Executive Strategy Forum – there is truly something for
        every interest and skill level at this year’s event.”</p>

    <p>Finally, Campus Management will unveil the winners of its third annual Excellence Awards Program, which
        recognizes five outstanding institutions that utilize technology to solve problems, create efficiencies and
        promote student and institutional success. Awards will be given in the following categories: Constituent
        Service, Student Success, Operational Efficiency, Innovation and Strategic Vision.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
