---
# <!-- @formatter:off -->
title: Campus Management Corp. Acquires the Radius, AppReview, ApplyYourself, Connect, and Retain Product Lines from Hobsons, Inc.
publish: 2017-09-28
products:
  - Radius by Campus Management
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p>
        <span class="press-release__date-location">Boca Raton, Fla. — September 28, 2017</span> —
        Today, Campus Management Corp. acquired the Radius, AppReview, ApplyYourself, Connect, and Retain CRM and
        application management product lines from Hobsons, Inc. These solutions are used by more than 700 colleges and
        universities in the United States and around the globe.
    </p>

    <p>
        The acquisition continues to build out Campus Management’s solution portfolio, making it the largest and
        best-in-class higher education Constituent Relationship Management (CRM) provider. The company now includes the
        approximately 100-person, dedicated team of CRM and application management experts from Hobsons who will
        continue to design, develop, implement, and support these solutions at Campus Management.
    </p>

    <p>
        “As we continue to evolve our CampusNexus® engagement platform, fostering communications and relationships
        throughout the student lifecycle, we look to constantly improve upon what we offer to the market,” said Campus
        Management CEO Jim Milton. “The CRM and application management products add to our already strong CampusNexus
        suite to achieve that goal, and the addition of the very talented Hobsons team members reinforces our mission to
        deliver the higher education platform and services that enable institutions to transform their academic
        delivery, student success, and operational efficiency, on their terms.”
    </p>

    <p>
        Hobsons is well known for its leading K-12 college and career readiness platform Naviance, its student-college
        matching platform Intersect, and its higher education student success and analytics platform Starfish, and plans
        to concentrate on that core business moving forward.
    </p>

    <p>
        “As Hobsons looks to the future, we want to focus our portfolio and continue to build upon our leadership
        position in Naviance, Intersect, and Starfish -- business lines where we have the greatest opportunity to
        continue to grow, always with the aim of helping K-12 schools and districts and higher education institutions
        advance their student success goals,” said Hobsons CEO Kate Cassino. “We’re pleased that with Campus Management,
        we have found a buyer that is well-positioned to invest in the future of our CRM and application management
        products and committed to serving the customers using them. We are also happy that our colleagues working in
        these product lines will transition to a great home at Campus Management.”
    </p>

    <p>
        JEGI (www.jegi.com), a New York City-headquartered investment bank specializing in the global media,
        information, marketing, software and tech-enabled services sectors, was lead advisor to DMGT's Hobsons
        Admissions. Tyton Partners co-advised on the transaction.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud solutions and services that transform higher education
        institutions. Its next-generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR
        &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with Campus Management to
        transform academic delivery, student success and operational efficiency.
    </p>

    <h2 class="b c-grey--800 mb0">About Hobsons</h2>

    <p>
        Hobsons helps students identify their strengths and interests, explore colleges and careers, create academic
        plans, match to best-fit educational opportunities, and succeed in reaching their education and life goals.
        Through our solutions, Naviance, Intersect, and Starfish, we enable thousands of K-12 schools and districts and
        higher education institutions to improve college and career planning, college admissions, and student success
        and advising, helping millions of students around the globe. <a href="https://www.hobsons.com/"
        target="_blank" rel="noopener">hobsons.com</a>
    </p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">For Campus Management</h2>
        Rob Sparks<br />
        Chief Marketing Officer<br />
        Media &amp; Analyst Relations<br />
        Campus Management Corp.<br />
        (214) 600-4705<br />
        rsparks@campusmgmt.com
    </div>

    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">For Hobsons:</h2>
        Scott Beaver<br />
        SutherlandGold Group for Hobsons, Inc.<br />
        (541) 326-5847<br />
        hobsons@sutherlandgold.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
