---
# <!-- @formatter:off -->
title: Campus Management Partners with The University of Texas Rio Grande Valley

publish: 2017-02-13T08:00:00-05:00
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">Campus Management Partners with The University of Texas Rio Grande Valley to Engage Diverse Population with Large Alumni Network</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – February 13, 2017</span> – Campus Management Corp. today announced that The University of Texas Rio Grande Valley (UTRGV) will use the CampusNexus<sup>®</sup> CRM solution to transform the way it connects and engages with constituents.</p>

    <p>Known as a Gateway to the Americas, UTRGV is located in the Rio Grande Valley with close proximity to the Gulf Coast. It is the second largest Hispanic-serving institution in the United States and is focused on creating global leaders in business, medicine, science, education and technology.</p>

    <p>“Our inclusive and diverse population of students will change the economy in the Rio Grande Valley and around the world. Continuing to be a part of that change and engaging with alumni is extremely important to our institution and we are thrilled to be partnering with Campus Management to make that happen,” said UTRGV Vice President for Strategic Enrollment, Dr. Maggie Hinojosa. “The CampusNexus CRM solution is going to set our institution up for engagement across the student lifecycle for generations to come.”</p>

    <p>UTRGV has a large education presence in the Rio Grande Valley with more than 28,000 students currently enrolled. The institution enrolled its first class in the fall of 2015 and is part of the University of Texas System.</p>

    <p>“We look forward to partnering with UTRGV to help transform the institution and to integrate the two legacy institutions’ student and alumni data,” said Campus Management CEO, Jim Milton. “CampusNexus CRM is an enterprise solution that can be used by the entire institution at multiple campuses. The solution will enhance the way UTRGV plans campaigns across its campuses and help strengthen their continued effort to build strong relationships with its constituents.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

     <h2 class="b c-grey--800 mb0">About University of Texas Rio Grande Valley</h2>

    <p>The University of Texas Rio Grande Valley was created by the Texas Legislature in 2013 in a historic move that made it possible for residents of the Rio Grande Valley to benefit from the Permanent University Fund—a public endowment contributing support to the University of Texas System and the Texas A&amp;M University System.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Relations</h2>
        Ashley Prince<br/>
        Campus Management Corp.<br/>
        (954)-249-1124<br/>
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
