---
# <!-- @formatter:off -->
title: Campus Management Dramatically Expands International Presence in First Half of Fiscal Year 2020
publish: 2020-02-13
social-image: /images/pages/news-and-events/FY20-PR-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">Campus Management, a Microsoft Strategic Education Partner, Widens Footprint in Developing Countries and Experiences Rapid Adoption of Transformational Higher Education Innovations</h2>

    <p><span class="press-release__date-location">Boca Raton, Fla., February 13, 2020</span> – Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services that help higher education institutions transform their business operations and enable student learners to succeed in multiple modalities, announced today its rapid international expansion and other significant achievements in the first 6 months of Fiscal Year 2020. Campus Management has recently experienced considerable growth in key markets such as India and Africa. Impacting more than 15 million Indian students, Campus Management now serves Maha IT, an IT initiative that assists 14 universities in the Maharashtra State Government,  DVET, a platform for 1800 Indian institutions as well as Skill India, Mangalore University and Andhra University.</p>

    <p>“Both in the US and globally, it is our mission to support institutions that value the success and empowerment of their students through greater access to higher education, training and career opportunities,” said Jim Milton, CEO of Campus Management. “We continue to build our global footprint and through our strong collaboration with Microsoft, we are committed to reinvesting in modern, cloud-focused technologies that utilize predictive analytics, machine learning, and AI – enabling institutions to deepen engagement with thousands of students and help keep them on track to succeed beyond graduation.”</p>

    <p>In addition to its growth in the Asia Pacific and Africa regions, RCSI University of Medicine and Health Sciences (RCSI) in Dublin, Ireland recently selected CampusNexus® Engage as its system of intelligence to reach medical-focused prospects and students across geographical boundaries. RCSI is the first European client to adopt CampusNexus Engage, which is built using Microsoft Dynamics 365, Microsoft Azure, and Microsoft Power BI. Campus Management was recognized as a finalist for the 2019 Microsoft Power BI Partner of the Year Award.</p>

    <p>“Microsoft and Campus Management share a core commitment to help institutions and faculty enable students to build skills for the future and unleash their talent to make a positive impact on the world,” remarked Microsoft Vice President of Worldwide Education Anthony Salcito. “We are proud of the continued collaboration with Campus Management as students improve their lives through our cloud-based solutions.”</p>

	<p>Campus Management also launched its cloud-based Student Verification Solution, which allows institutions to streamline the financial aid process for both students and administrators. Using automated workflows, institutions ensure regulatory compliance and improved communications for timely and accurate financial aid processing. Its cloud-based workforce analytics tool, CampusNexus Occupation Insight, recent winner of the 2019 Tech Edvocate Award, has been adopted by more than 25 institutions and recently introduced several new labor market reports. These new reports empowering students with even more labor data related to their choice of study, helping them make informed decisions while still in school.</p>

    <p>Campus Management’s full suite of CampusNexus solutions includes CampusNexus Student, CampusNexus Engage, CampusNexus Finance, HR & Payroll, and CampusNexus Occupation Insight. All solutions are delivered via the CampusNexus Cloud and exceed top industry security standards.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp.
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
