---
# <!-- @formatter:off -->
title:  Campus Management Corp. Establishes Headquarters for International Operations in Bangalore, India
publish: 2015-03-30
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Providing Advanced Technology Solutions for Higher Education Institutions
        Worldwide</p>

    <p><span class="press-release__date-location">Boca Raton, Florida and Bangalore, India — March 30, 2015</span> —
        Campus Management Corp., a leading provider of
        enterprise software products and services for higher education, announced today the establishment of a new
        division and headquarters for higher education solutions in Bangalore, India, to support the expansion of its
        global operations outside the Americas. The new division will be known as Campus Management International
        Private Limited.</p>

    <p>Jim Milton, Chief Executive Officer of Campus Management, noted, &quot;Given the rapid growth of our higher
        education business internationally, it is only natural that we create a separate entity focused exclusively on
        markets outside the Americas. This move further demonstrates our commitment to our flagship customers globally
        and is a reflection of the current strength, momentum and potential of the worldwide higher education market.&quot;</p>

    <p>Mr. Milton continued, “Raj Mruthyunjayappa, Senior Vice President &amp; Managing Director for APAC &amp; EMEA,
        will serve as the senior leader for our international headquarters. Mr. Mruthyunjayappa joined Campus Management
        in 2001 and has provided the guidance and direction which now allows us to establish this new division with
        great confidence of success.”</p>

    <p>Located in Bangalore’s Bagmane Tech Park, in the central business district, Campus Management International has
        over 300 employees that focus on global operations, business development, professional services and support.
        Campus Management currently has 28 customers in India alone, and has experienced more than a 200 percent growth
        over the past year internationally.</p>

    <p>“We are finding that higher education institutions worldwide are experiencing similar challenges as the market
        evolves,” said Mr. Mruthyunjayappa. “We are focused on deepening our engagement with Indian higher education
        institutions, and have validation from our clients in a host of different countries that our CampusNexus®
        solutions are well-suited to the needs and priorities of institutions around the globe. In addition to
        addressing our clients’ technology requirements, we will work to evolve best practices, eco-system strategies
        and student engagement approaches that take into account the uniqueness of each institution.” </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
