---
# <!-- @formatter:off -->
title: Campus Management International Launches Admissions Automation Service for Indian Universities and Colleges to Comply with UGC Directive
publish: 2016-03-30
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Uma Kannan, June 6, 2015, Bengaluru, DECCAN HERALD</span> - Campus
        Management, a leading provider of software, strategies, and services to higher educational institutions, has
        plans to sell its solutions to at least 200 institutions across India in the next five years.</p>

    <p>Though the Rs 500-crore company started its India operations eight years ago, only six months back did it start
        selling its products to educational institutions in India.</p>

    <p>Rajendra C Mruthyunjayappa, managing director (Europe, Asia-Pacific, Africa, and Middle East), Campus Management,
        said over 500 employees are working in the Bengaluru office. “We have been developing solutions that we sell
        globally. But only recently did we start selling them to Indian institutions. We have around 40 clients now,” he
        said.</p>

    <p>To understand educational institutions better, and to provide tailor-made solutions to the Indian market, Campus
        Management conducted a survey, and has come up with ‘Campus Preparedness Report 2015’.</p>

    <p>“When we look for information on the Indian education market, there are many data on how many students are
        getting jobs and so on, but nothing about institutional challenges, their priorities, what they want to do, and
        what they want to address. We conducted the survey with the help of Engineering Watch, and covered 500
        institutions across the country with about 120 institutions in the South, North, West, and the East
        respectively,” said Rajendra. The survey was conducted over four months with 30 people working on it, and the
        result was out a month ago.</p>

    <p class="b  c-grey--800 ">2,000 clients globally</p>

    <p>The survey revealed that one of the priorities of institutions is how to effectively manage faculty. “About 85
        per cent of institutions were thinking how to effectively manage faculty time to maximise on teaching and
        research versus all other activities. Another priority was how to optimally utilise and manage their existing
        infrastructure. When we think of institutions, we first think about buildings. Most institutions have realised
        that buildings alone cannot solve the problem. Infrastructure includes projectors in the classroom, tables, lab
        facility, among others. An institution might have a huge building, but what if it doesn’t have a lab that can
        accommodate all students? Now institutions have started thinking how to utilise resources properly,” he said.
        Rajendra added that there are 34,000 colleges offering higher education across the country.</p>

    <p>Campus Management’s product suite — CampusNexus — provides seven tools to institutions.</p>

    <p>“For instance, if we take the admission process management, which involves lots of paperwork, our solution does
        everything automatically. It automatically sends reminders to shortlisted candidates, fixes timing according to
        the availability of counsellors, and so on,” he explained.</p>

    <p>At present, Campus Management targets engineering colleges, deemed universities, and its focus area is
        institutions that are upgrading to the university status as they will be in dire need of putting systems into
        place.</p>

    <p>“Globally, as many as 2,000 campuses have implemented our system. One of the challenges in selling our solutions
        to the Indian market is that it involves many selling cycles,” he said.</p>

    <p>The company, based on survey and experience, will come up with tailor-made solutions to the Indian market.
        Speaking about the cost involved in purchasing the product, Rajendra said, “It is charged on a per student and
        per year basis. The product costs between Rs 600 and Rs 2,500, and institutions can pick and choose products
        accordingly.”</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
