---
# <!-- @formatter:off -->
title: Campus Management Bets Big on Digitization Push
publish: 2015-07-02
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Prune, India - July 2, 2015 -</span> Campus Management (Formerly
        Talisma Software) is gearing up to address the opportunity that has come from the digitalization process in
        institutions of professional and higher educations in India.</p>

    <p>The company is keen on filling the gap that exists in the digitization of education campuses in the country by
        offering its Student Informatio System (SIS), Jim Milton, chief executive officer, Campus Management, told
        TOI.</p>

    <p>Campus Management is a solutions provider to more than 1,300 major educational institutions in 35 countries and
        95 per cent of its business comes from these institutions. The company is looking at opportunities to offer
        Indian institutions solutions to manage their most mission-critical transactions, dynamic relationships, and the
        complexities of learning, finance, research and regulation.</p>

    <p>Milton said SIS is a solution based on customer relations management principles as they apply to educational
        campuses.</p>

    <p>“The solution has modules which include admission process management, attendance management, resource engagement
        and academic engagement. It will help institutions in monitoring the progress of students on real time basis and
        implement corrective action where necessary,” he said.</p>

    <p>Milton said the company has a software development centre in India and is currently working with around 40
        colleges and universities in India, including Manipal University, SRM University and IIM Udaipur.</p>

    <p>Campus Management has provided the technology platform for National Skill Development Corporation (NSDC) and few
        other government projects for skill development, he added.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
