---
# <!-- @formatter:off -->
title: Campus Management Recognized as Finalist for 2019 Microsoft Power BI Partner of the Year
publish: 2019-06-25
social-image: /images/pages/news-and-events/Microsoft-finalist-PR-Social.png
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – June 25, 2019</span> – Campus Management today announced it has been named a finalist for the 2019 Microsoft Power BI Partner of the Year Award. The company was honored among a global field of top Microsoft partners for demonstrating excellence in innovation and implementation of customer solutions based on Microsoft technology.</p>

    <figure class="press-release__figure" style="width: 300px;">
		<img src="/images/pages/news-and-events/press-releases/Microsoft-PowerBI-finalist.png" alt="2018 Microsoft PowerBI Finalist"/>
	</figure>

    <p>“Being globally recognized for our utilization of Microsoft technology, specifically Power BI, to create visualizations for our higher education solutions like CampusNexus Occupation Insight is humbling and exciting,” said Jim Milton, CEO of Campus Management. “We are always looking at innovative methods to solve challenges in higher education and by teaming with Microsoft we are able to spend more of our time and resources on those pain points.”</p>

    <p>Awards were presented in several categories, with winners chosen from a set of more than 2,900 entrants from 115 countries worldwide. Campus Management was recognized for providing outstanding solutions and services in Power BI.</p>

    <p>The Power BI Partner of the Year Award recognizes a partner who has delivered a Business Analytics solution based on the Power BI cloud service. Campus Management was named a finalist in this category for its use of Power BI in its solution portfolio to enable more aligned and informed decisions with predictive analytics for clients.</p>

    <p>“It’s an honor to recognize finalists and winners of the Microsoft 2019 Partner of the Year Awards,” said Gavriella Schuster, Corporate Vice President, One Commercial Partner, Microsoft Corp. “These companies are successfully leading their industries, building intelligent solutions, addressing complex business challenges and making more possible for customers around the world. I’m honored to congratulate each winner and finalist.”</p>

	<p>The Microsoft Partner of the Year Awards recognize Microsoft partners that have developed and delivered exceptional Microsoft-based solutions during the past year.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
