---
# <!-- @formatter:off -->
title: Carroll University continues to innovate by selecting Campus Managements full suite of CampusNexus solutions
publish: 2019-02-21
social-image: /images/pages/news-and-events/Innovate-PR-Social.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — February 21, 2019</span> — Campus Management Corp., a leading provider of cloud-based enterprise solutions and services for higher education, announced today that Carroll University has selected the CampusNexus platform to replace its legacy system. The private liberal arts institution, located in Waukesha, Wisconsin, will be using the cloud-based platform, including CampusNexus Student, CampusNexus CRM, and CampusNexus Finance, HR and Payroll, for its College of Arts and Sciences, College of Health Sciences and School of Business to drive student and operational success.</p>

	<p>The institution also plans to use Occupation Insight, Campus Management’s cloud-based workforce analytics tool to better align academic programs and student skills with the needs of a rapidly evolving job market.</p>

	<p>“We selected Campus Management because of the company’s forward-looking vision, innovative products, and commitment to our goal of improving student services, engagement, and outcomes,” said Dana Stuart, Vice President for Finance and Administration, Carroll University. “With a modern platform and innovative delivery system, we can focus more resources on developing academic programs and services that directly impact students.”</p>

	<p>Built on Microsoft technology, Campus Management clients benefit from Microsoft Dynamics 365 and the trusted Microsoft Azure cloud platform. The strong Microsoft foundation enables Campus Management to focus solely on higher education innovations, academic delivery and operational efficiencies.</p>

	<p>“We embrace forward-thinking institutions that align with our core principle of building a strong culture by fostering collaborative partnerships in support of higher education,” said Jim Brigadier, Senior Vice President of Field Operations, Campus Management. “Our solutions will enable Carroll University to provide students with greater program flexibility and differentiated learning modalities, as well as supporting their personalized pathways to success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform
        higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus
        Management to transform academic delivery, student success, and operational efficiency. Campus Management is the
        2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b  c-grey--800 ">Carroll University</h2>

    <p>Carroll University was incorporated in 1846, making it Wisconsin’s first four-year institution of higher learning. Situated in Waukesha, the independent, co-educational comprehensive university is grounded in the liberal arts tradition, and offers more than 95 areas of study, multiple graduate programs and a clinical doctorate in physical therapy. For more information, visit <a href="https://www.carrollu.edu/"  rel="noopener" target="_blank" >www.carrollu.edu</a>, and follow us on <a href="https://twitter.com/carrollu"  rel="noopener" target="_blank" >Twitter</a> and <a href="https://www.facebook.com/carroll.university"  rel="noopener" target="_blank" >Facebook</a>.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
