---
# <!-- @formatter:off -->
title: Central Arizona College Selects Campus Management as Partner
publish: 2016-07-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Will Deploy Full CampusNexus Suite in CampusNet Cloud</p>

    <p><span class="press-release__date-location">Boca Raton, FL — July 25, 2016</span> — Campus Management Corp., a
        leading provider of enterprise solutions and services for higher education, announced today that Central Arizona
        College has selected the full CampusNexus® product suite—including CampusNexus Student, CampusNexus CRM, and
        CampusNexus Finance, HR &amp; Payroll, all hosted through CampusNet Cloud —as its academic and administrative
        platform for serving a diverse and growing student population across the College’s five campuses and three
        centers.</p>

    <p>“From students of Hispanic and Native American descent to constituents in Central Arizona’s Lifelong Learners
        program, our diverse college community values the power of innovation and continuous quality improvement,” said
        Chris Wodka, Chief Financial Officer at Central Arizona College. “But our legacy system wasn’t integrated, nor
        was it able to scale with our growing student population. We needed a more mobile, integrated solution that
        could serve faculty, staff, and students throughout the region. It also had to adapt to our long-term vision.
        With Campus Management, we not only gained an integrated SIS, ERP, and enterprise CRM solution in a
        cost-effective hosted environment, but a true partner in our continuing efforts to improve student services,
        retention, and outcomes.”</p>

    <p>“Central Arizona College also gains powerful reporting and decision-support capabilities, said Jim Brigadier,
        Senior Vice President of Sales and Professional Services at Campus Management. “Optimizing and allocating
        resources and student services across the community college system requires having a comprehensive, real-time,
        and accurate view of student and operational needs. Through the advanced analytics in CampusNexus, Central
        Arizona will be able to transform data from across the enterprise into actionable intelligence.”</p>

    <p>“Community college systems such as Central Arizona College continue to be a critical part of higher education in
        this country, said Jim Milton, CEO of Campus Management. “They serve growing populations of nontraditional and
        returning students through innovative services and delivery formats, including flexible terms, competency-based
        education, and online programs—even as public funding continues to decline. Campus Management is proud to serve
        Central Arizona College and its mission by providing cost effective, highly flexible and adaptable solutions,
        and is committed to the long-term success of the institution and its constituency.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Central Arizona College</h2>

    <p>Central Arizona College is a dynamic and multifaceted institution of higher education featuring five campuses and
        three centers strategically located throughout Pinal County, Arizona, for the purpose of educating the diverse
        populations of the region. The college provides accessible, educational, economic, cultural, and personal growth
        opportunities for those of all ages by offering more than 90 academic degrees and certificates, career training,
        personal enrichment classes, Weekend College, online, and university transfer courses.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact</h2>
        Caitlin Kasunich<br/>
        KCSA Strategic Communications<br/>
        212.896.1241<br/>
        ckasunich@kcsa.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
