---
# <!-- @formatter:off -->
title: Consortium of 5 Oregon Community Colleges Selects Campus Management Suite of Solutions to Transform Student Experience
publish: 2018-08-24
social-image: /images/pages/news-and-events/PostImage-1200x630-Oregon.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – August 24, 2018</span> — Five Oregon community colleges have selected the full suite of CampusNexus<sup>®</sup> solutions to transform the way their institutions use technology to enhance their students’ experience and modernize business processes.</p>

    <figure class="press-release__figure" style="width: 150px;">
		<img src="/images/pages/news-and-events/press-releases/oregon-pr.jpg" alt="2018 Microsoft Global Partner of the Year"/>
	</figure>

    <p>The Oregon Community College Consortium, which consists of Blue Mountain Community College, Clatsop Community College, Columbia Gorge Community College, Oregon Coast Community College and Rogue Community College, have been serving their students with a homegrown technology platform and collaborated on moving to a modern, cloud-based SaaS enterprise solutions provider to leverage the innovative architecture for data-driven outcomes to create capacity for student engagement. The presidents of the colleges have issued the following statements in regard to their recent selection:</p>

    <p>“Blue Mountain Community College always puts Students First, and the suite of CampusNexus solutions will make us future-ready so that we may better serve our students and improve upon our operational efficiencies,” said Blue Mountain Community College President Dr. Camille Preus.</p>

    <p>“Through this partnership, Clatsop Community College has the benefit of shared cost, which elevates the level of innovative technology and student services that will be accessible to students across Oregon and increase the cost efficiency of implementing new business processes,” said Clatsop Community College President, Dr. Chris Breitmeyer.</p>

    <p>“Student success is at the forefront of Columbia Gorge Community College’s technology vision, and we are looking forward to utilizing the newest features of the CampusNexus system, specifically guided pathways and CampusNexus Occupation Insight,” said Columbia Gorge Community College President, Dr. Marta Yera Cronin.</p>

    <p>“Our shared commitment to supporting Oregon’s economy by preparing the workforce for current and future job markets, not only brought our consortium together, but allowed Oregon Coast Community College to select a modern system that would not have been possible on our own,” said Oregon Coast Community College President, Dr. Birgitte Ryslinge.</p>

    <p>The consortium has a partnership built on many years of working together, and we’re excited to welcome a new technology partner, Campus Management, whose software and services allows us to advance our collaboration with common business processes and configurations,” said Rogue Community College President, Dr. Cathy Kemper-Pelle.</p>

    <p>Deploying CampusNexus, as a consortium, enables the member institutions to set a new standard of excellence within the state of Oregon that balances operational efficiencies within the unique communities that each college serves.</p>

    <p>“Community colleges are critical to helping resolve the skills gaps for the jobs of tomorrow’s economy.  By selecting the CampusNexus suite, including Occupation Insight for workforce analytics, these colleges are setting the pace to empower students to improve their skills, create better employability and economic growth for families, communities and, ultimately, our nation.  There is no greater cause and Campus Management is deeply honored to support this imperative,” stated Campus Management CEO Jim Milton.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
