---
# <!-- @formatter:off -->
title: Dallas Theological Seminary Selects Full Suite of CampusNexus Solutions to Transform Institution’s Ability to Serve Students, Faculty, and Staff
publish: 2019-10-07
social-image: /images/pages/news-and-events/DTS-social-share.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – Sept. 18, 2019</span> – Campus Management and <a href="https://www.dts.edu/"  rel="noopener" target="_blank">Dallas Theological Seminary</a> (DTS) today announced their partnership to bring a more technology-centered and customer-focused mindset into the institution through the full suite of CampusNexus solutions. The modern, enterprise-wide system was selected to transform the student and faculty experience to focus on learning and student success through new, operationally efficient and innovative technology.</p>

    <p>The full suite of CampusNexus solutions selected by DTS includes CampusNexus<sup>®</sup> Engage, CampusNexus Student, and CampusNexus Finance, HR & Payroll, all of which are implemented and deployed in the CampusNexus Cloud.</p>

    <p>“Since our inception in 1924, we have been serious about serving our students and preparing them for whatever God might be calling them to do,” said DTS Chief Operating Officer Robert Riggs. “With the development of technology over the past decade, the way we can engage, and support students has improved tremendously. Today, we are focused on providing our students, faculty, and staff a higher education-specific, enterprise-wide system that is built on Microsoft technology and enables innovation in the way we connect and impact all our constituents. We are excited about our new partnership with Campus Management and what we will gain by implementing these advanced technological solutions.”</p>

    <p>The latest release of CampusNexus Engage includes a native integration with CampusNexus Student that provides the real-time, bi-directional communication, enabling constituents to access accurate data when they need it. Using CampusNexus solutions and the Microsoft Power Platform, the institution will have the ability to utilize app development and the latest innovations on their campus such as chatbots, analytics and machine learning.</p>

    <p>“We’re proud to be the selected transformation partner for Dallas Theological Seminary as they strengthen their infrastructure for innovation and technology advancements. Their strategic investment positions them to be at the forefront of technology for years to come,” said Campus Management Senior Vice President of Field Operations Jim Brigadier. “From the moment we began interacting with DTS, we knew there was a strong cultural alignment between their institution and our organization. We look forward to leveraging that alignment to drive student success well into the foreseeable future.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Dallas Theological Seminary</h2>

    <p>
        <a href="https://www.dts.edu/" rel="noopener"  target="_blank">Dallas Theological Seminary</a> was founded in 1924 and is based in Dallas, Texas. With a current enrollment of almost 2500 graduate students, their mission remains, “to glorify God by equipping godly servant-leaders for the proclamation of His Word and the building up of the body of Christ worldwide.” In other words, they want to help men and women fulfill the Great Commission and the Great Commandment, or more simply: Teach Truth. Love Well.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
