---
# <!-- @formatter:off -->
title: Del Mar College Harnesses the Power of Technology to Deliver Dreams with Campus Management
publish: 2019-06-20
social-image: /images/pages/news-and-events/DelMar-PR-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – June 25, 2019</span> – Campus Management and Del Mar College today announced a partnership to support the growing need for a highly skilled workforce in the Gulf Coast Region of Texas, and to ensure greater access to higher education, training, and career opportunities for all students by leveraging modern technology. Del Mar College, located in Corpus Christi, continues to experience one of the highest enrollment growth rates in the State of Texas. Maintaining high quality, affordable access and excellence in student services were key factors in selecting the Campus Management full-suite of CampusNexus<sup>®</sup> solutions.</p>

    <figure class="press-release__figure" style="width: 300px;">
		<img src="/images/pages/news-and-events/press-releases/Del-Mar-College.jpg" alt="2018 Microsoft Global Partner of the Year"/>
		<figcaption class="press-release__figcaption">Campus Management CEO Jim Milton (L) and Del Mar College President and CEO Dr. Mark Escamilla (R) sign a partnership agreement to empower students through technology.</figcaption>
	</figure>

    <p>The full-suite of CampusNexus solutions includes CampusNexus Student, CampusNexus Engage, CampusNexus Finance, HR & Payroll, and CampusNexus Occupation Insight all in the CampusNexus Cloud. Built on Microsoft technology, CampusNexus solutions are modern, flexible, and configurable. The platform’s cloud capabilities and security exceed top industry standards.</p>

    <p>“Del Mar College is pleased to be the first community college in Texas to implement the CampusNexus platform. This campus-wide initiative involves the implementation of a cutting-edge Enterprise Resource Planning (ERP) system selected to transform our business processes, achieve operational excellence and improve productivity. Using CampusNexus Student, learners will be able to interact with a modern user interface in an unprecedented way,” said Augusto Alfonso, Vice President of Facilities Operations and Chief Information Officer, Del Mar College. “In addition, CampusNexus Engage, the first Constituent Relationship Management (CRM) system for our institution, will provide valuable insights about our students, allowing Del Mar College to foster stronger and more personal relationships with prospective and current students, as well as with alumni.”</p>

    <p>The CampusNexus platform provides executives, faculty and staff with a personalized view of student learners that cultivates engagement by synthesizing processes into a single source of information. Departments across the institution have access to intuitive dashboards, with real-time data and analytics embedded that empowers users to connect with constituents in a directed and meaningful way.</p>

    <p>“We’re honored to be a partner in Del Mar College’s digital transformation. We are committed to providing innovative solutions that enable institutions to leverage data and analytics in a more meaningful and impactful way, which ultimately translates into greater outcomes for every student,” said Campus Management Chief Executive Officer Jim Milton.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.</p>

	<h2 class="b c-grey--800 mb0">About Del Mar College</h2>

    <p><a href="https://www.delmar.edu/"  rel="noopener" target="_blank">Del Mar College</a> empowers students to achieve their dreams. They offer quality programs, individual attention, outstanding instruction through faculty with real-world experience and affordable costs to credit and noncredit students in Corpus Christi and the Southern Texas Coastal Bend area. Nationally recognized while locally focused, they’re ranked in the top two percent of community colleges in the country granting associate degrees to Hispanic students (Community College Week). Del Mar College focuses on offering programs that match current or emerging career opportunities. Whether students are interested in the fine arts, sciences, business, occupational or technical areas, students get the education they need for the future they want at Del Mar College.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
