---
# <!-- @formatter:off -->
title: Franklin University Is Tracking Student Lifecycles with This CRM Solution
publish: 2016-01-18
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Will Deploy Full CampusNexus Suite in CampusNet Cloud</p>

    <p><span class="press-release__date-location">Higher Ed Tech Decisions, January 18, 2016</span></p>

    <p>
        Lyndsey Clark says Talisma is her “communication tool from tip to tail.” Talisma, a CRM solution by Campus
        Management, was implemented at Franklin University in order to replace spread sheets, and better track student
        lifecycles.
    </p>
    <p>
        Clark, Associate Director of Admissions Operations and Graduate Admissions at Franklin University, uses Talisma
        every day.
        She says admissions uses Talisma to hone in on leads – reaching out to those leads and “continuing the
        conversation” with those leads if a relationship is sparked from initial outreach.
    </p>
    <p>“[We use it] primarily in keeping track of our students,” Clark says. “What we have spoken to students about has
        allowed us to do a lot more with our reporting ability.”
        Jessica Skala, Assistant Director of CRM &amp; Technology Tools from Student Affairs at Franklin University,
        says Talisma’s customization tools help make the university’s campaign functionalities run more efficiently.
        Plus, it helps the school’s advisors save time, and quickly identifies students for them.
    </p>
    <p>
        “We use the campaign functionality so that it creates efficiency, and sends out campaigns so our advisors don’t
        have to necessarily research each individual student,” Skala says. “Then we use it like a regular admission to
        identify students for outreach, and then we track those calls. We’re very excited about what we’re doing with
        it.”</p>
    <p>
        Skala also says Talisma has enabled her department to maintain relationships with Franklin University students,
        and monitor their progresses.&#160;“We were able to move from being reactive to being proactive,” she says.
        “Students used to rely on us and tell us when there were issues, but now, Talisma has enabled us to integrate a
        lot of student information so we can see indicators of at-risk behaviors and successful behaviors, and we’re
        able to do that outreach proactively.”
    </p>
    <p>
        <b>The Rules of Engagement: Communication Is Key</b>
        <br/>
        The biggest benefit CRMs like Talisma offer colleges is the opportunity to better engage with their customers -
        prospective students and their parents, current students, and alumni.
        Jason Soffer, Product Marketing Manager at Campus Management, says solutions like these give colleges a 360
        degree view of their customers – what they like and dislike about a school, grade performances, and even what
        students are doing on and off campus.
    </p>
    <p>
        These solutions also create clarity on which method of communication colleges should use to reach out to these
        customers. “By having more data points around those constituents, they can best engage and communicate with
        them,” Soffer says. “That’s really where the benefit of a CRM comes into play, not just understanding what
        [someone] likes or dislikes, or the fact that he or she likes text messages versus campaigning. We can better
        segment our population to communicate that and begin to come up with an analysis and draw conclusions as to
        what’s going to be best for our population.”
    </p>
    <h2 class="b  c-grey--800 ">Tips to Implementing a CRM</h2>
    <p>
        <b>Identify what your college wants to do</b>
        <br/>
        Before investing in a CRM, Soffer recommends that a college identify what it wants to achieve with the solution.
        Talisma can also be utilized on mobile devices.
        That way, a college can determine if it wants the CRM to work for only one or two departments, or multiple
        departments across campus, and find a solution accordingly.
    </p>
    <p>
        “Understand the vision for how you want to penetrate that student lifecycle and what you want to do with it,”
        Soffer says. “Do that homework first…As an example, if you only want a recruiting and admissions solution, there
        are a number of solutions that are on the market that meet that specific need, but you would not want to
        necessarily consider them if the strategic vision that you have is to reverse the entire student lifecycle.”
    </p>
    <p>
        <b>Keep an open mind</b>
        <br/>
        Clark suggests that colleges keep an open mind when selecting a CRM.
        Doing so enables college decision makers to absorb more information about certain products, and have greater
        success in finding a solution that fits their needs.
        That’s what Franklin University found in Talisma, Clark says.</p>
    <p>
        “One thing I learned with Talisma is 99 percent of the time, if you can think of it, you can do it in Talisma,”
        she says. “It’s very customizable. It’s interesting to see how you can pretty much shape what you need into
        Talisma, and utilize it to provide yourself and leadership the data you need.”
    </p>
    <p>
        <b>Get on the same page with other departments</b>
        <br/>
        Soffer says colleges should investigate which other CRM solutions are being used across campus before buying a
        new solution.
        This ensures no toes are stepped on, and can keep politically-charged environments neutral.
    </p>
    <p>
        “Sometimes, not understanding what else exists can create some political conflict on the business side of those
        applications,” Soffer says. “It can be a politically charged landscape along the way because people become
        protective of their systems, the budgets around their systems, the people around their systems, and of course
        there’s a mindset that this is working for us, why are we going to change? Understand what that landscape is and
        how to work with the business owners of those applications is an extremely important thing to do.”
    </p>

    <p>
        <a href="http://www.higheredtechdecisions.com/article/franklin_university_is_tracking_student_lifecycles_with_this_crm_solution">
            Read Article
        </a>
        <!--
        -
        <a href="/documents/Franklin+University+Is+Tracking+Student+Lifecycles+with+This+CRM+Solution-1-18-2016.pdf">
            Link to PDF
        </a>
        -->
    </p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
