---
# <!-- @formatter:off -->
title: Future-Proofing Our Universities
publish: 2015-04-05
in-nav--en-us: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Technology is the most prevalent topic relating to learning and education
        today.<br/></p>

    <p><span class="press-release__date-location">Bangalore, India  — April 5, 2015</span> (as seen in <i>The Financial
        Express</i>) — Earlier technology in education was a debatable subject; with a large mix of opinions, everyone
        had personal views on reforming education using technology. The fact is that technology and education are a
        great amalgamation, if used together rightly.</p>

    <p>Investing in technology is crucial for universities. With increasing regulatory pressures, institutions must
        comply with evolving requirements and demonstrate the achievements of their students. The Indian education
        sector has been recognised as a ‘sunrise sector’ for investment. The sector offers a huge untapped market in
        both regulated and non-regulated segments due to low literacy rate, high concentration in urban areas and
        growing per capita income. The government has been playing the role of a facilitator in this sector. According
        to a 2014 report, the gross enrolment ratio (GER) in higher education in India, calculated for age group 18-23,
        is 21.1. GER for male population is 22.3 and for females it is 19.8. Total enrolment in higher education is
        estimated to be 29.6 million, with 16.3 million boys and 13.3 million girls.</p>

    <p>Technological innovation can change the way universities want to teach and students want to learn. The potential
        is great for institutions preparing graduates to compete in today’s knowledge economy. Distance education,
        sophisticated learning-management systems and the opportunity to collaborate with research partners from around
        the world are some of the transformational benefits that universities are embracing. Having said that,
        significant challenges are also emerging. Technology remains a disruptive innovation, and an expensive one.</p>

    <p>Faculty members used to teaching in one way may be opposed to invest the time to learn new methods, and may lack
        the budget for the support needed. However, the good news is one can transform these challenges into a
        competitive advantage by offering greater flexibility and more personalised services across the student
        lifecycle.</p>

    <p>Today’s students seek education delivery models that far more flexible and accessible than they have even been.
        If universities are to effectively educate this generation, they must be willing to invest in learning
        environments. Integration of technology with learning as a tool provides you with the scope to explore what you
        can do with knowledge, what you can make of it, and what you will allow your students to make of it.</p>

    <p>Remember that technology also allows the possibility of everyone learning at their own pace. The question today
        is no longer if technology enhances learning, but how do we improve the usage of technology to enhance
        learning?</p>

    <p>The author is managing director, APAC and EMEA, Talisma</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of software, strategies and services which enable institutions of higher
        education to offer dynamic models of engagement &amp; delivery. Over the past 27 years, Campus Management has
        supported higher education, both proprietary and traditional institutions, as well as foundations and other
        organizations through its cutting-edge student information system; constituent relationship management (CRM)
        software; and finance, human resources and payroll solutions. </p>

    <p>Campus Management’s solutions are specifically designed to provide institutions the flexibility they need to
        compete in the ever-changing higher education landscape by offering products that support changes in education
        delivery, recruitment, financial aid, finance, human resources, payroll, and regulatory compliance. Today,
        nearly 2,000 campuses in 18 countries utilize Campus Management to unite campuses and workflows, improve student
        outcomes and achieve goals.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact</h2>
        Lisa Patterson, Corporate Communications Manager<br/>
        Campus Management Corp<br/>
        (561) 213-8702<br/>
        lpatterson@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
