---
# <!-- @formatter:off -->
title: Gonzaga University to Drive Successful Student Outcomes with Campus Management
publish: 2019-05-29
social-image: /images/pages/news-and-events/Gonzaga-PR-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

	<h2 class="b  c-grey--800 ">CampusNexus Engage will Enable Business Processes from Recruitment through Alumni Engagement</h2>

    <p><span class="press-release__date-location">Boca Raton, Florida – May 29, 2019</span> – Delivering next-generation solutions that support operational efficiency, academic delivery and student success, Campus Management announced today that Gonzaga University – an exemplary Jesuit, liberal arts institution – selected its CampusNexus<sup>®</sup> Engage solution. The university chose Campus Management’s premier system of intelligence, which is built on Microsoft Dynamics 365 and Microsoft Azure, to gain a 360-degree and interactive view of constituents through a single, enterprise-level solution that scales and standardizes data across the institution.</p>

    <p>“After an extensive vendor evaluation process, we’re excited to move forward with Campus Management as our strategic partner.  We selected CampusNexus Engage as a highly qualified and AI-advanced solution to manage Gonzaga’s student lifecycle and enable us to deliver on our high-touch student engagement commitment,” said Jim Angelosante, Vice President for Administration, Gonzaga University. “This powerful enterprise platform will be vital in helping us improve the way we understand and interact with the many constituents we serve, from potential graduate students, to current students and their families, to alumni and donors, to faculty and staff.”</p>

    <p>The Campus Management partnership selection ensures a holistic, personalized view of constituents that enables engagement by connecting processes and a single source of information, allowing departments across the institution to have real-time data, interactive communications and access to intuitive dashboards. Together, Gonzaga and Campus Management are implementing a constituent relationship management and system of intelligence solution for Graduate Enrollment, Student Advising, Student Development, Marketing & Communications and the University Advancement offices. The system uses the latest nudge technology to assist in communication strategies that help with enrollment and retention.</p>

    <p>“It is an honor to partner with an innovative institution like Gonzaga University that recognizes the importance of adopting technology that unites all departments, faculty and staff into their student and alumni success initiatives,” said Jim Milton, CEO of Campus Management. “Our modern, inclusive solution is best suited to address the comprehensive needs of Gonzaga, and we are thrilled to welcome Gonzaga to our Campus Management community.”</p>

    <p>Using Microsoft Dynamics, Azure, and Power BI, CampusNexus Engage integrates higher education workflows and best practices with advanced artificial intelligence, machine learning and business analytics to improve student engagement, retention and overall outcomes. Analytics are embedded in the solution to help identify trends, measure ROI and enable rapid response. The platform’s cloud capabilities and security exceed top industry standards.</p>

	<p>“As student needs continue to evolve and widen, institutions like Gonzaga University benefit from the right tools to help them respond dynamically and collaboratively to identify the right applicants and keep students on the path to success,” said Jamie Harper, Microsoft Vice President, Education. “With CampusNexus Engage, Gonzaga University will immediately gain insight into all aspects of their students’ experiences through powerful analytics and be able to respond with specific actions that improve student engagement and outcomes.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Gonzaga University</h2>

    <p>
        <a href="https://www.gonzaga.edu/"  rel="noopener" target="_blank">Gonzaga University</a>, established in Spokane, WA in 1887, is a private, Jesuit, liberal-arts institution that develops every student’s intellectual skills, imaginative capacities and ability to innovate so its graduates become leaders who shape and serve their professions and communities for the good of all. Gonzaga offers 18 undergraduate degrees through 56 majors, 61 minors and 50 concentrations; 16 master's programs and five doctorate degrees, through the College of Arts and Sciences and six schools: School of Business Administration, School of Education, School of Engineering and Applied Science, School of Nursing and Human Physiology, School of Leadership Studies, and School of Law.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
