---
# <!-- @formatter:off -->
title: How a Boca Raton education tech firm expanded its software to 2,000 campuses - South Florida Business Journal - 4/28/2015
publish: 2015-04-28
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Boca Raton tech firm Campus Management is taking over the world.</p>

    <p><span class="press-release__date-location">Celia Ampel - South Florida Business Journal</span> - Just a few years
        ago, the
        company’s administrative software for colleges and universities was mostly limited to the U.S. Today, its
        product is on 2,000 campuses in 18 countries.</p>

    <p>The 700‐employee firm aims to help its customers battle funding challenges and declining enrollment, CEO Jim
        Milton said.</p>

    <figure class="press-release__figure" style="width: 220px;">
        <img src="/images/pages/news-and-events/press-releases/miltonHeadshot.jpg" alt="Jim Milton"/>

        <figcaption class="press-release__figcaption">Campus Management CEO Jim Milton.</figcaption>
    </figure>

    <p>“We’re almost the central nervous system of a higher education institution, helping them increase their
        efficiency from an administrative standpoint,” he said.</p>

    <p>The company’s latest suite of tools, CampusNexus, allows schools to manage all of their dealings with students,
        including admissions, enrollment and financial aid. The software also helps with recruiting and alumni
        fundraising.</p>

    <p>CampusNexus includes HR and finance software, created through a partnership with Microsoft.</p>

    <p>“We have taken their base human resources and financial product and we have built on top of it,” adding
        capabilities such as tenure management, Milton said.</p>

    <p>CampusNexus is the only higher‐education software that uses the Microsoft Dynamics AX platform, he said. As part
        of the partnership, Microsoft brings the product into colleges and universities where it has a presence.</p>

    <p>Campus Management’s global expansion has focused on countries where higher education systems are still
        developing, such as Malaysia, Indonesia, Singapore, and various East African nations.</p>

    <p>“Many of these countries actually look toward the U.S. as a model for higher education, so we are particularly
        well‐suited [to meet their needs],” Milton said.</p>

    <p>The company has established its strongest international presence in India and Brazil, with offices in those
        countries, he said. Campus Management is looking to grow its teams in those offices.</p>

    <p>Global expansion has its challenges, Milton said.</p>

    <p>“There’s the balance of ensuring that you have scale — a single suite of products that you can deploy around the
        world — but that you also localize your products and services for the various markets,” he said.</p>

    <p>That means helping colleges and universities comply with national regulatory requirements and hiring people who
        speak the local language in each country.</p>

    <p>“You also have to be careful not to expand too quickly and spread yourself too thin,” he added.</p>

    <p>Campus Management was founded in 1988 in Deerfield Beach, starting with one product meant to support for‐profit
        colleges.</p>

    <p>Today, the company’s customers range from small, two‐year colleges to brand‐name four‐year universities such as
        Pennsylvania State University and the University of Alabama, Milton said.</p>

    <p>Many of those large state universities are just beginning to develop online‐only education, or systems for
        students who want to take a mix of online and in‐person classes.</p>

    <p>“We’re uniquely positioned to be able to help those not‐for‐profit schools given our experience with for‐ profit
        schools,” Milton said.</p>

    <p>Milton would not say how many people the company plans to hire in the coming year, but he said the firm’s
        300‐person workforce in South Florida would continue to grow.</p>

    <p>“We’re constantly on the hunt for, in particular, developers,” he said.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
