---
# <!-- @formatter:off -->
title: How to boost campus engagement combining mobile with CRM - eCampusNews
publish: 2016-11-23T12:00:00-05:00
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 ">Student outreach begins with the first recruiting interaction and it must continue
    throughout the student’s lifecycle at your institution.</p>

    <p><span class="press-release__date-location">By Renee Pacini, November 23, 2016</span> - Campus-wide CRM tools have
    become the technology foundation for aiding colleges and universities in their focus on engaging students as individuals,
    respecting their preferences and unique characteristics–a transformation focused on individual outcomes, redefining
    success not only in terms of persistence and completion rates but also ultimately on gainful employment.</p>

    <p>The tactics to execution have also evolved with each generational shift. Consider these data points from the Beloit
    College Mindset for the class of 2020:</p>

    <ul class="list--normal list--has-lead-in">
        <li>If you want to reach them, you’d better send a text—emails are often ignored</li>
        <li>Books have always been read to you on audible.com</li>
        <li>There has always been a digital swap meet called eBay</li>
        <li>Robots have always been surgical partners in the O.R.</li>
        <li>Airline tickets have always been purchased online</li>
    </ul>

    <p>The common thread is that technology-based content today is more than expected – it is assumed. Whether there is
    “an app for that” versus a website, providing that content is irrelevant to today’s students. Young adult learners
    assume that they can find what they need through their mobile devices. Consequently, institutions must embrace these
    expectations. This is why the term “CRM” gets tossed around as much as “ISIR” and “FERPA” in the halls of academia
    nowadays.</p>

    <h2 class="b  c-grey--800 ">Fully Utilizing CRM</h2>

    <p>As advertised, CRM is supposed to help institutions deliver the right content to the right student – and to the
    right device at the right time. But it’s more than technology. It takes a change in the way that we engage with students.</p>

    <p>Consider the transformation that a college applicant undergoes before becoming a student. We evaluate many factors
    in the admissions cycle. We “woo” applicants, treat them as individuals, listen to their goals and read their essays.
    We give them a clear “checklist” of requirements to complete their applications.</p>

    <p>At the point of acceptance, we believe that we have chosen the right classes or, in some cases, believe that we have
    the right programs in place to foster success. The next challenge comes in the first-year experience. How do we keep the
    enthusiasm of bright-eyed, first-year students? How do we ensure that we have captured student intentions from the very
    beginning? For example, if they come in expecting to transfer, can we change their minds, or do we let them go? By
    knowing who our students are – beyond academic information, by knowing their intentions – we take a huge step toward
    completion success.</p>

    <p>Beyond the first year (again when many institutions have programs in place that are focused on individuals), how do
    we maintain the right focus? Do we assume that “they got it” and stop focusing on an action plan? Retention and attrition
    data show that drop-outs continue beyond the first year. We can’t afford to take our eye off of the ball as a result.</p>

    <h2 class="b  c-grey--800 ">The Power of Mobile is in Knowing Your Audience</h2>

    <p>When it comes to student success tactics, we must engage learners where they are. For many of today’s students, that
    means mobile devices. However, the rush to “mobile” is also a generalization. Truly successful delivery is rooted in
    knowing your audience – “where they are” is just as important as knowing “who they are.” Institutions must understand
    communications preferences and adjust accordingly. If we want to be truly student-centric, the message, action plan and
    delivery must be tailored to the student.</p>

    <p>Another element of the tactic is fitting the method to the message. An admissions decision may be quickly communicated
    via text or an applicant portal. The importance of that first step on the journey is momentous for so many students. Don’t
    underestimate the power of a paper letter, one that is proudly displayed in many homes.</p>

    <p>Taking together the power of CRM and mobile, ask yourself these key questions as your students begin their academic years:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Does the communication method fit the magnitude of the message?</li>
        <li>Are we cultivating an incoming class with high expectations and then dropping them into the student body with the
        right “checklist” for success?</li>
        <li>Does our student-centric approach go beyond knowing their names? Are we putting a holistic, 360-degree view
        and action plan around retention?</li>
        <li>Are we heavily focused on the first-year experience, or do plans follow the student through to completion?</li>
        <li>Do we truly understand the student’s end goal? Or do we rely on expected major and graduation date to tell us?</li>
        <li>Are we taking the student’s preferences into account in establishing the communication method and calls to action?</li>
        <li>Are we creating a bridge between students and the institution, helping them to stay on track and eventually keeping
        them engaged as alumni?</li>
    </ul>

    <h2 class="b  c-grey--800 ">Going Forward</h2>

    <p>The proliferation of phrases like “enterprise CRM,” “constituent engagement” and “user experience” are quickly becoming
    overused as vendors race to deliver the right solutions to address these issues. At its core, CRM-driven engagement should
    help to foster timely action and adjustments on the part of learners and their advisors to keep students on the path to graduation.
    This requires a more holistic approach beyond academics to include financial aid, housing, social interactions, career services
    and many other touchpoints in the student experience.</p>

    <p>When pressed into service to influence outcomes, CRM should also help students stay aligned with industry expectations.
    The technology can help them engage alumni and employers in their respective industries, secure internships and, ultimately,
    transition from graduation into productive careers.</p>

    <p>We’re no longer just tasked with transforming students into graduates, but we’re now also transforming graduates into
    working professionals.</p>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
