---
# <!-- @formatter:off -->
title: News
menu-priority: 0.7
in-nav--en-us: true
in-nav--en-in: true
in-nav--en-uk: true
alt--pt-br: /noticias-e-eventos/press-releases/
additional-scripts:
    - src: /scripts/page--press-releases.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-image--xs: /images/pages/news-and-events/events/events-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--shortwip
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--2 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="-22 mb0">
                There's always something innovative going on at Campus
                Management. Stay up-to-date with all of our latest news.
            </p>
        </header>
    </div>
    <div class="container c-grey--1000">
        <div class="bgc-white">
            {{>press-releases-preload-data}}

            <section id="pressReleasesApp" class="app">
                <div class="loading--placeholder">Loading...</div>
            </section>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
