---
# <!-- @formatter:off -->
title: International Spirit for Institutional Transformation
publish: 2017-03-17
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <h2 class="b  c-grey--800 ">A combination of international expansion and a do-it-yourself ethos has allowed CFO Anders Nessen to foster profits for Campus Management</h2>

    <p>
        <span class="press-release__date-location">By Jacob Winchester - Profile Magazine</span> — Every year, Campus Management celebrates Diwali, the autumnal Indian light festival, where numerous luminous displays herald the incandescent power of good over evil and light over darkness. “This is an international company. Over half of our employees are in India—mostly in Bangalore—and we have a lot of employees going back and forth. There’s definitely an international feel,” chief financial officer Anders Nessen says. “Last year, I went to the wedding of our Indian controller in Kochi, India, which was very cool. Also, our CEO is Canadian and I’m Swedish, so every time Sweden loses to Canada in hockey, he’s quick to point it out.”
    </p>

    <p>This sort of diversity comes in handy for Campus Management, an education technology company that specializes in software information systems and management solutions designed to cohere the administrative data of nearly 2,000 college and university campuses in nineteen countries.</p>

    <p>Today, the company boasts offices in Boca Raton, Florida, and Bangalore, India, as well as satellite offices in London and Brazil, but that wasn’t always the case. In 2008, Nessen and his team spearheaded an initiative to acquire Bangalore-based Talisma, which added a major CRM component to the company’s suite of products and completely redefined Campus Management’s operations. “We were not international at all before we purchased Talisma. And so, almost overnight, we had all of these international customers and a big Indian footprint,” Nessen explains. “There was a lot of integration activity that had to happen across all areas of the business, but today, we’re actually quite streamlined. The two locations are very much aligned.”</p>

    <p>While now cultivating the international spirit that enhances service for its globally diverse customer base, Campus Management traces its origins to software development for proprietary universities, such as Bridgepoint Education, which have complex, diverse, and progressive needs. “Because those schools have been highly innovative and pioneered new academic delivery models, we have had to be very flexible to fit all of their needs,” Nessen says.</p>

    <p>Since these institutions often had uncommon semester lengths and online or hybrid-learning programs, Campus Management heeded the challenge to develop new and innovative systems, which also gave the company an edge over its rivals.</p>

    <p>“Most of our competitors built their products a long time ago with the traditional academic model in mind,” Nessen says. “Since that initial set of customers, we have expanded into the traditional school segment, as well as internationally. But what really defined us was growing up in that fast-evolving proprietary segment.”</p>

    <p>Nessen grew up in the suburbs of Stockholm as the child of Swedish parents, who would flee the country’s annual snowfall for Florida’s palm-studded warmth and to visit his grandfather in Boca Raton. He later attended high school at a boarding school in the same city. Eventually, he earned a degree from the University of Virginia in finance and information systems, which led to a position in the mergers and acquisitions group with Lehman Brothers in New York City.</p>

    <p>After two years, Nessen joined Leeds Equity Partners, a private equity firm that invests primarily in the education industry. As an investment professional there, Nessen learned general financial analysis skills, evaluated new investments, and learned how to manage portfolio companies. “Really, the big thing I took away from that experience was knowing what to focus on and how to think like an investor,” he says. “Something else I did a lot of was lender relationship management, including negotiating credit agreements, so it was really helpful to have a background in that.”</p>

    <p>In the wake of the 2008 financial crisis, Leeds Equity acquired Campus Management, and Nessen accepted an offer to become CFO. Now, he finds himself integrating the fundamental principles that he learned earlier in his career with newly developed skills, such as management.</p>

    <p>Along with always asking himself what would be important for the company’s shareholders, Nessen also places high esteem on taking personal action on a task rather than delegating. “More so than your average CFO, I like to take a divide-and-conquer approach, and if there’s something I can help with, I will just go ahead and do it,” he explains. “With a company of our size and structure, it’s important to be a doer at times. Of course, you have to also delegate, but there are a lot of situations when you have to do things on the fly or deal with confidential information.”</p>

    <p>He also tries to keep daily interactions succinct and to the point and to carefully manage the number of meetings he attends throughout the day, which otherwise can interfere with genuine productivity.</p>

    <p>From a financial perspective, Nessen places special emphasis on EBITDA—or, earnings before interest, taxes, depreciation, and amortization.</p>

    <p>“Essentially, when someone values this business, they’re going to look at that as the ultimate metric. And so anything that affects that, whether revenue or cost, is something that would warrant focusing on,” he says.</p>

    <p>Whether implementing systems for the 150,000-plus students of the Ugandan government’s national universities or working with the Indian government to establish multi-million-person databases for its nation-wide skill development initiative, Campus Management continues its international expansion. And Nessen, along with his team, continue to demonstrate adaptability to fit the needs of regional customers. “One of the major hurdles we face is simply localizing the product. Sometimes, it can be quite cumbersome to make changes to fit the local market, just because it’s such a large footprint software that we have to be very careful in making the changes due to ripple effects throughout the software,” he says.</p>

    <p>Nessen also says that some of the company’s original proprietary customers have gone through tough times in recent years, although those trials have spurred further innovations from the company in the form of new products and services, including a recently launched finance, human resources, and payroll solution.</p>

    <p>For each costumer, Campus Management’s suite of services and software product offerings sit at the core of the organization. “We think of ourselves as being the central nervous system of the educational institution,” Nessen says. “We’re always thinking of ways to expand and improve our functionality to help institutions transform.”</p>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
