---
# <!-- @formatter:off -->
title: Lipscomb University Partners with Campus Management to Further Its Mission of Academic Excellence
publish: 2019-03-20
social-image: /images/pages/news-and-events/CM-Lipscomb-Partnership-SocialShare.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – March 20, 2019</span> – Campus Management Corp. announced today that Lipscomb University selected the CampusNexus platform to assist in building a data-powered campus. The faith-based liberal arts institution, located in Nashville, Tenn., will be using the cloud-based platform, which includes CampusNexus Student, CampusNexus Engage, and CampusNexus Finance, HR & Payroll to aid in the transformation of its business processes and academic programs.</p>

    <p>Lipscomb University is partnering with Campus Management to offer traditional and nontraditional students greater flexibility in registration, financial aid, and other student lifecycle administrative processes.</p>

    <p>“Initially we looked to Campus Management for a flexible solution to support our online programs, but once we recognized the platform’s full suite of capabilities, we decided to utilize it across the entire university,” said Mike Green, Senior Vice President and CIO, Lipscomb University. “It is critical to work with dynamic technology providers as higher education business models, learning strategies, and student needs continue to evolve.”</p>

    <p>Built on Microsoft technology, Campus Management clients benefit from Microsoft Dynamics 365 and the trusted Microsoft Azure cloud platform. The strong Microsoft foundation enables Campus Management to focus solely on higher education innovations, academic delivery, and operational efficiencies.</p>

    <p>“We are excited to work closely with Lipscomb University as they continue to envision and innovate methods to advance superior learning outcomes for students,” said Cynthia Haynie, Chief Technology Officer, Campus Management. “Their growing student body requires more schedule and term flexibility, which our solutions have been supporting for years. Overall, the institution will realize greater student engagement and operational efficiency through its inclusive enterprise-wide strategy and supporting technology.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Lipscomb University</h2>

    <p>
        As a private, Christian liberal arts institution located in the heart of Nashville, <a href="https://www.lipscomb.edu/" rel="noopener"  target="_blank">Lipscomb University</a> is joyfully committed to developing students whose academic excellence, faith and practice reflect our ideas of global citizenship. Founded in 1891, the institution is based in Nashville, Tenn., although its online programs are globally available.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
