---
# <!-- @formatter:off -->
title: Lourdes University Selects CampusNexus Solutions to Support Student Success Initiatives and Growth Goals
publish: 2019-11-25
social-image: /images/pages/news-and-events/Lourdes-University-social-share.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. – November 25, 2019</span> – Lourdes University announced today the selection of CampusNexus<sup>®</sup> solutions to transform the institution’s technology ecosystem. The Campus Management and Lourdes University technology partnership will improve business processes by leveraging Campus Management’s modern, cloud-based platform, to ensure a more efficient and effective digital data environment.  Campus Management supports degree audit, billing and financial aid for Lourdes’ traditional programs and will provide a data platform that will interact with Lourdes’ initiatives in Competency Based Learning and online delivery.</p>

    <p>Advised by <a href="http://www.dynamiccampus.com/"  rel="noopener" target="_blank" >Dynamic Campus</a>, a higher education IT support and managed services provider, Lourdes University selected the full-suite of CampusNexus solutions, including CampusNexus Student; Occupation Insight; Finance, HR & Payroll; Engage; Succeed; Apply and the fundraising and university advancement solution from our partner xRM.</p>

    <p>“The CampusNexus technology ecosystem allows Lourdes to enhance student engagement,” said Lourdes University President Mary Ann Gawelek. “As a smart campus, Lourdes faculty and staff will gain a more powerful and relevant product that fulfills our business needs and facilitates real-time data access and sharing capabilities.”</p>

    <p>Making quality data and analytics available across the institution is a key component of Campus Management solutions. The CampusNexus suite allows faculty and staff to utilize the same data and information across the enterprise, which enables more personalized communication with students.</p>

	<p>“Campus Management is excited to enter this partnership where we undergo a rapid implementation of CampusNexus solutions to meet the operational needs of Lourdes University,” said Jim Milton, CEO of Campus Management. “We are enabling Lourdes to enhance their program offerings and business processes with innovative technology such as CampusNexus Engage and CampusNexus Occupation Insight. When you pair these solutions with our proven full-suite of enterprise administrative solutions, the result is a technology-supported campus focused on student success.”</p>

	<p>Campus Management is continually investing its solutions and releasing enhanced functionality based on customer participation to meet the future demands of the higher education technology market. The latest version of CampusNexus Engage, Campus Management’s system of engagement and intelligence, contains an enhanced scoring model framework that allows users to expand their application of the feature, drastically simplifying configuration. Whether calculating risk or success factors, the scoring model provides recommendations for students that are both prescriptive and personalized.  Over time, machine learning powers more accurate predictions which, in turn, drive more successful outcomes.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Lourdes University</h2>

    <p>
        <a href="https://www.lourdes.edu/" rel="noopener"  target="_blank">Lourdes University</a> is a Catholic and Franciscan institution established in 1958 by the Sisters of St. Francis. Offering undergraduate and graduate degrees, Lourdes is known for its quality academic programs and personalized attention afforded to students. Located in Sylvania, Ohio within the Great Lakes region of the United States, Lourdes students appreciate the safe and beautiful 127-acre suburban campus.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
