---
# <!-- @formatter:off -->
title: Lubbock Christian University Selects Campus Management’s Full Enterprise Suite to Transform Student Experience and Streamline Business Processes
publish: 2018-03-27
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — March 27, 2018</span> — Campus Management announced today that Lubbock Christian University (LCU) selected the CampusNexus<sup></sup> enterprise suite of solutions to support its goal of creating successful outcomes for students. By using the CampusNexus Student and CampusNexus Finance, HR &amp; Payroll solutions, LCU is enabling enhanced levels of engagement, starting with the recruitment process and continuing through the student lifecycle to its network of more than 9,000 alumni.</p>

    <p>“I am confident that our partnership with Campus Management will complement our mission to transform our students’ lives by giving them new success tools like enhanced degree planning and a more robust student portal that provides easier class registration and course tracking,” said Dr. Karl Mahan, Vice President of Technology Advancement at LCU. “Additionally, CampusNexus solutions will enable us to better connect with our constituents throughout the student lifecycle and help them fulfill their academic and career goals.”</p>

    <p>Campus Management’s solutions are built on Microsoft technology that enable higher education institutions to leverage the security and scalability of the Azure cloud platform-as-a service, Dynamics, and other innovative technologies that Microsoft offers in support of systems of modern engagement. Campus Management has a 30-year history of providing institutions with robust solutions that support better engagement with students, operate with greater efficiencies and foster innovation.</p>

    <p>“Today’s students have the ability to utilize advanced technology to enhance their education experience and leverage big data applications to both extend and deepen their career and education decision-making processes,” said Campus Management Senior Vice President of Field Operations Jim Brigadier. “We are constantly innovating to bring members of the Campus Management community new ways to reach students in unique ways and support their career aspirations. We warmly welcome Lubbock Christian University to the Campus Management community and look forward to helping improve the student experience at their campus.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Lubbock Christian University</h2>

    <p>Lubbock Christian University is a Christ-centered, academic community of learners, transforming the hearts, minds, and hands of students for lives of purpose and service. The institution is known for its academic excellence and its commitment to faith that seeks understanding, where wisdom is pursued, vocation is discerned and service is fostered.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
