---
# <!-- @formatter:off -->
title: Luminus Education Partners with Campus Management International for Digital Transformation Initiatives
publish: 2017-09-05
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — Aug. 29, 2017</span> — Campus Management today announced their partnership with Luminus Education, Jordan, a subsidiary of Luminus Group, a leading provider of internationally certified programs aligned with industry needs, which empowers students for gainful employment throughout the region. Campus Management solutions supports Jordan’s Tertiary and Vocational Educational Transformation (TVET) vision to meet industry demand and economic growth.</p>

    <figure class="press-release__figure" style="width: 300px;">
        <img src="/images/pages/news-and-events/press-releases/Luminus-partners-with-Campus-Management.jpg" alt="Luminus partners with Campus Management"/>

        <figcaption class="press-release__figcaption">Campus Management International Managing Director Raj Mruthyunjayappa celebrates new partnership with Ibrahim Safadi, CEO of Luminus Group.</figcaption>
    </figure>

    <p>With an objective to deliver an industry ready skilled workforce to support the ‘Jordan 2025 Vision’, Luminus Education is revolutionizing technical and vocational training in the region by developing an affordable, innovative and scalable TVET model that addresses the current mismatch of skills and widens access for low- and middle-income students. Luminus Education, through their integrated Enterprise Business Integration Management Suite (EBIMS system), aims to enroll 10,000 students every year, make real-time data-driven decisions, and gain performance insights on academic programs and assessment mechanisms on the CampusNexus<sup>®</sup> platform.</p>

    <p>“Our fundamental belief is that a good education combining world- class standards with real work experience has the power to transform lives, stimulate economic growth, and help nations evolve,” said Luminus Group CEO Ibrahim Safadi. Luminus Education has an international vision for Jordan and the region, which is to fuel an empowered and employable generation of Arabs. “Our programs are geared toward the development of Middle Eastern people by providing internationally certified programs that align with the industry’s needs. Our graduates can work anywhere in the region. There should be no limits to their potential. Instead there should be boundless opportunities to develop their careers,” added Safadi.</p>

    <p>“To manage this entire process, ensure transparency, deliver on speed of operations, and develop real time insights, the technology backbone needs to be robust, scalable, and future proof,” said Campus Management International Managing Director Raj Mruthyunjayappa. “Our proven expertise in delivering and managing platforms for skill and vocational programs across different countries will help Luminus Education address all stakeholder requirements to create positive digital citizens who can contribute to a growing knowledge-based economy.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud solutions and services that transform higher education institutions. Its next-generation suite,
CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with
Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Contact</h2>
        Sai Narayan, International Marketing<br />
        Campus Management International<br />
        984-560-9174<br />
        sain@campusmgmt.com
    </div>


    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
