---
# <!-- @formatter:off -->
title: Lynchburg College Partners with Campus Management to Attain Engagement and Stewardship Goals
publish: 2017-08-14
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — Aug. 14, 2017</span> — With a focus on engagement and stewardship, Lynchburg College selected Campus Management as its student information system and enterprise resource planning partner. Using CampusNexus<sup>®</sup> Student and CampusNexus Finance, HR &amp; Payroll in the CampusNexus Cloud, Lynchburg College will be positioned to meet its Vision 2020 strategic plan.</p>

    <p>Campus Management solutions will help faculty and staff reach students in a targeted, personalized manner to meet students' needs. Additionally, staff will be able to eliminate manual processes across the institution, creating more time to devote to students.</p>

    <p>“Now more than ever we need a software partner to help us engage with students, families and staff, and automate and integrate processes that will help us modernize our IT infrastructure,” said Jackie Almond, Director of Information, Technology and Resources at Lynchburg College. “We believe Campus Management’s focus on culture, relationships and technology built for the future will enable us to engage our constituents throughout Lynchburg’s branding process and help us prepare for the growth we see on the horizon.”</p>

    <p>In February 2017, Lynchburg announced its name change from Lynchburg College to University of Lynchburg for the beginning of the 2018-2019 academic year. The partnership with Campus Management, as well as the name change, follows the adoption of the Vision 2020 strategy to strive for national leadership in student engagement.</p>

    <p>“Leveraging CampusNexus solutions, Lynchburg College will modernize and enhance its technology and transform engagement with constituents for years to come,” said Campus Management Senior Vice President of Sales and Professional Services Jim Brigadier. “We are excited to be a part of the strategy to enhance operational efficiency at the institution and help them achieve and exceed their goals for growth.”</p>

    <p>Built on Microsoft technology, Campus Management’s CampusNexus solutions enable institutions to engage with their desired audiences at the right time to meet prospect, student and staff needs.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud solutions and services that transform higher education institutions. Its next-generation suite,
CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today, more than 2,000 campuses in 20 countries partner with
Campus Management to transform academic delivery, student success and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Lynchburg College</h2>

    <p>Lynchburg College is a private, independent, residential college located on 250 beautiful acres in central Virginia. The student body numbers 2,800 undergraduate and graduate students. Lynchburg College offers 40 undergraduate majors, 57 minors, 13 pre-professional programs, and 18 graduate degrees, all supported by a strong liberal arts foundation.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
