---
# <!-- @formatter:off -->
title: Maharashtra Institute of Technology to Deploy Campus Management International’s CampusNexus Suite
publish: 2015-12-02
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p class="b  c-grey--800 "><em>CampusNexus Continues to Demonstrate Leadership in Higher Education within
        India</em></p>
    <p><span class="press-release__date-location">Bangalore, India – December 2, 2015</span> — Campus Management
        International, a leading provider of enterprise software products and services for higher education, today
        announced that Maharashtra Institute of Technology (MIT) group, one of India’s top-ranked group of educational
        institutes , has chosen CampusNexus® – including CampusNexus Student; CampusNexus CRM and CampusNexus Finance,
        HR &amp; Payroll – to transform its operations and improve student recruitment and retention.</p>

    <p>Through its CampusNexus suite, Campus Management International will enable MIT to implement programs focused on
        recruitment and retention, centralizing and automating key processes and administrative functions, and improving
        student services. From an operational perspective, nearly every department and job function (admissions,
        academics, student accounts, finance, human resources and payroll, inventory management, procurement handling
        and compliance management) will benefit from the efficiencies, data and access CampusNexus provides.</p>
    <p>“Our work with Campus Management International goes well beyond the typical customer / vendor relationship. A
        formidable partner, Campus Management International, provides us with the flexibility necessary to deliver
        innovative educational models, increase meaningful communications with students and prospects and better manage
        back-end functions, without increasing resources. Ultimately, CampusNexus will help MIT group to take the lead
        in establishing new standards for student service in the higher education sector in India,” said Dr. Sunil
        Karad. Executive Director- MIT Group of Institutions. </p>

    <p>“As competition to acquire and retain students continues to increase, CampusNexus provides the necessary
        technology platform to enable institutions to build and implement programs across campuses and functions, and
        ultimately deliver true value to students,” said Raj Mruthyunjayappa, Managing Director-Campus Management
        International. “We look forward to continuing to work with MIT group to utilize the CampusNexus suite to achieve
        strategic goals and expand their constituent experience.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR & Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Maharashtra Institute of Technology</h2>
    <p>Maharashtra Institute of Technology (MIT), a flagship institute of MIT group established in 1983, is today
        amongst the top engineering colleges in India. The news magazine &#39;Outlook&#39; has ranked MIT Pune as first
        in Maharashtra and eleventh in India amongst the finest Private Engineering Colleges. Recently,another institute
        from same group ‘MIT Academy of Engineering’ got autonomous status from AICTE and University of Pune. MIT Group
        offers quality education in Engineering, Medecine, Management, Design areas and MIT Institute of design is one
        more institute of the group which is known as one of the best in the country.</p>
    <p>Please visit <a href="http://www.mitpune.com/">www.mitpune.com</a> for more details.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
