---
# <!-- @formatter:off -->
title: More Community Colleges Thrive with Campus Management by Empowering Transformation and Improved Student Career Preparation
publish: 2019-07-31
social-image: /images/pages/news-and-events/community-colleges-thrive-PR.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – July 31, 2019</span> – Campus Management, a leading provider of cloud-based SIS, CRM and ERP solutions and services that support digital transformation for higher education institutions, today announced that it has experienced a significant growth in demand among community colleges for its innovative technologies. Over the past year, the company has deepened its current engagements and signed new major community college clients including Del Mar College, Flathead Valley Community College, the Oregon Community College Consortium, and Pasco-Hernando State College (PHSC).</p>

    <p>“The opportunity to provide a step change improvement in career upskilling and reskilling is ripe in the community college ecosystem,” said Jim Milton, CEO of Campus Management. “To help them meet this increasing market demand, Campus Management empowers community colleges to serve their distinct regional communities by delivering powerful workforce analytics and guided pathways tools that help engage new and existing students, as well as ensure they are developing skillsets that align with local and global post-graduation job requirements.”</p>

    <p>Campus Management’s mission is to deliver <a href="https://www.campusmanagement.com/products/"  rel="noopener" target="_blank">higher education solutions</a> and services that enable institutions to transform their academic delivery, improve student outcomes and enhance operational efficiency. The company’s foundation in the career education market has led to the creation of solutions that enables community colleges to maximize student success through flexible term structures supported by automated financial aid. Leveraging Campus Management’s CampusNexus platform – a modern cloud-enabled system with predictive analytics, machine learning, and AI – institutions can deepen their personalized engagement with students and help keep them on the path to success beyond graduation.</p>

    <p>“Since we initiated our partnership with Campus Management, we’ve experienced transformation across the institution. From relieving our financial aid staff with financial aid automation to reaching students with personalized communications through our new CRM, we are excited to keep reaping the benefits of our new solution set,” said Central Arizona College President and CEO Jackie Elliott. “We are constantly looking at the horizon for new ways to innovate on behalf of students. Currently, we are implementing <a href="https://www.campusmanagement.com/products/student-success-through-workforce-analytics/"  rel="noopener" target="_blank">CampusNexus Occupation Insight</a> to help students choose their program of study and to learn more about their future careers.”</p>

    <p>PHSC is the latest community college to partner with Campus Management, choosing to elevate the higher education learning experience for students and faculty at the institution’s five southwest Florida campuses.</p>

	<p>“One of the reasons we selected Campus Management is that they were more interested in Pasco-Hernando State College than selling their solutions. Our Provosts were also impressed with their teamwork, and we have continued to experience their positive team dynamic as we move forward into implementation,” said Dr. Melissa Harts, Vice President, Technology and Distance Education at PHSC.</p>

	<p>Campus Management’s full suite of CampusNexus solutions includes CampusNexus Student, CampusNexus Engage, CampusNexus Finance, HR & Payroll, and CampusNexus Occupation Insight. All solutions are delivered via the CampusNexus Cloud and exceed top industry security standards.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
