---
# <!-- @formatter:off -->
title: Mount Marty College Partners with Campus Management to Transform Student Engagement
publish: 2018-03-14
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — March 14, 2018</span> — Campus Management announced today that Mount Marty College
selected the enterprise suite of CampusNexus<sup>&reg;</sup> solutions to support their mission of cultivating lasting relationships between students, faculty and staff. Once implemented, CampusNexus Student, CampusNexus CRM and CampusNexus Finance, HR &amp; Payroll deployed in the CampusNexus Cloud, will enhance their constituent engagement and enable communication that leads to lifelong learning.</p>

    <p>“At Mount Marty College we are embracing our centuries-old Benedictine heritage and our vision for the future, which will better serve students, faculty and administration using the latest technology,” said Mount Marty College CIO Christian Hunhoff. The values of stability, stewardship and community are the foundation of our new effort to streamline many administrative functions with the latest next generation software from our new partner - Campus Management."</p>

    <p>For the past 30 years, Campus Management has been developing solutions and services to allow higher education institutions to transform their academic delivery, student success and operational efficiency. Campus Management solutions are built on Microsoft technology, allowing clients to leverage the flexibility, security and scalability of Microsoft Azure, Dynamics and other products.</p>

    <p>“We are pleased to welcome Mount Marty College to the Campus Management community, where we will begin the process of transforming their institution with new technology and business processes,” said Campus Management CEO Jim Milton. “We whole heartedly embrace their vision for enabling lifelong learning and look forward to helping the institution deepen and enrich its engagement with constituents throughout the student lifecycle.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Mount Marty College</h2>

    <p>Mount Marty College is an academic community in the Catholic Benedictine liberal arts tradition that prepares students for a contemporary world of work, service to the human community, and personal growth. Based in South Dakota, Mount Marty College strives towards academic excellence in its undergraduate and graduate programs.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
