---
# <!-- @formatter:off -->
title: NJEdge Announces RFP Award to Campus Management for Cloud-Based Enterprise Resource Planning and Student Information System
publish: 2019-04-10
social-image: /images/pages/news-and-events/NJEdge-PR-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – April 10, 2019</span> – Today, NJEdge, New Jersey’s nonprofit research and education network and technology solutions center, announced the award of a contract to Campus Management. This award is the culmination of a comprehensive RFP process conducted by NJEdge in partnership with a team of experts from among its member colleges, with the intent of providing business solutions capabilities to constituents via it’s New Jersey Department of Community Affairs-approved cooperative pricing system, EdgeMarket.</p>

    <p>The award will allow NJEdge member institutions and others across the country to be able to quickly access and implement Campus Management’s advanced solutions in support of their digital transformation efforts.</p>

    <p>“Cutting edge ERP and SIS systems are essential tools to enable operational excellence in higher education today,” said Dr. Samuel Conn, President & CEO of NJEdge. “Providing an avenue for our members to quickly and easily engage with an industry leader in this space was a priority for NJEdge. Campus Management will be a great partner to our members as a result of their state-of-the-art capabilities and service-minded approach to higher education.”</p>

    <p>Campus Management’s systems of record and system of engagement with students will all be available on the EdgeMarket. <a href="https://www.campusmanagement.com/products/student-information-system/">CampusNexus Student</a>, <a href="https://www.campusmanagement.com/products/student-success-through-workforce-analytics/">CampusNexus Occupation Insight</a>, <a href="https://www.campusmanagement.com/products/financial-management-system/">CampusNexus Finance, HR & Payroll</a>, and <a href="https://www.campusmanagement.com/products/crm-for-higher-education/">CampusNexus Engage</a> are built on Microsoft technology and leverage the innovative capabilities of Microsoft Dynamics 365 and the trusted Microsoft Azure cloud platform. The strong Microsoft foundation enables Campus Management to focus solely on higher education innovations, academic delivery, and operational efficiencies in its solutions. One of the newest innovation solutions available through Campus Management is CampusNexus Occupation Insight, a cloud-based workforce analytics solution that brings together career, job and skills data with an institution’s programs and courses, allowing students and advisors to align program and course skill outcomes with employer demand in the workforce.</p>

    <p>“After serving higher education for more than 30 years, we continue to innovate and develop modern solutions that fit the needs of today’s institutions – flexible, secure, and enterprise-enabled,” said Jim Milton, CEO of Campus Management. “Our mission is to empower faculty and staff to transform academic delivery, student success and operational efficiency. As a new vendor to EdgeMarket, Campus Management looks forward to meeting more of the NJEdge members and discussing their unique challenges.”</p>

	<p>NJEdge members will also have the unique advantage of access to the organization’s EdgePro solution set, which includes services designed to ensure the success of digital transformation projects involving ERP/SIS implementations. Available services such as readiness assessments, organizational change management training, business process review and optimization, and project management training for institutional staff will equip them with the tools they need to achieve a successful ERP/SIS implementation.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About NJEdge</h2>

    <p>
        Founded in 2000, NJEdge is a New Jersey-based 501(c)(3) nonprofit which provides high-performance optical networking, Internet, digital asset management solutions and IT products and services. NJEdge provides these solutions to colleges and universities, K-12 school districts, government entities, hospital networks, and businesses as part of a 60-member consortium spread throughout the continental US. The group is governed by New Jersey’s Presidents’ Council and housed at the New Jersey Institute of Technology (NJIT) on its Newark, NJ, campus. For more information, please visit: <a href="http://www.njedge.net/">www.njedge.net</a>.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
