---
# <!-- @formatter:off -->
title: Pasco-Hernando State College and Campus Management Solidify Partnership to Elevate Focus on Students with CampusNexus Platform
publish: 2019-07-10
social-image: /images/pages/news-and-events/PHSC-Social.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – July 10, 2019</span> – Campus Management and Pasco-Hernando State College (PHSC) today announced their technology partnership to transform the Florida institution with a modern, cloud-based student platform for enabling students to achieve academic and career success in today’s global society. To elevate the higher education learning experience for students and faculty at the institution’s five Southwest Florida campuses, PHSC selected Campus Management’s full suite of CampusNexus ® solutions.</p>

    <p>The full suite of CampusNexus solutions selected by PHSC includes CampusNexus Engage, CampusNexus Student, CampusNexus Finance, HR & Payroll, and CampusNexus Occupation Insight, all of which are implemented and deployed in the CampusNexus Cloud.</p>

    <p>“As we embark on this technology evolution, we are excited to reimagine new ways for our institution to deliver the education and skills necessary to enhance our local, state and global economy,” said Timothy L. Beard, Ph.D., president of PHSC. “The enterprise-wide, efficient platform – CampusNexus – will transform how Pasco-Hernando State College engages its students in ways that build meaningful relationships that support their success.”</p>

    <p>The CampusNexus platform will become a single-source of truth for faculty and staff across the institution and enable more meaningful and effective student outreach and connection. Its solutions offer a variety of benefits to students and faculty that transform operational efficiency and academic delivery. For instance, through the student portal, embedded analytics, financial aid automation and interactive web forms, the CampusNexus solutions allow students to experience a more comprehensive view of their campus and the resources available to them.</p>

    <p>“We are excited to be a trusted partner to Pasco-Hernando State College. As more digital natives enter the Florida College System, they require more intuitive technology that allows them to find the administrative answers they need quickly, so they can spend more time on elevating their education,” said Campus Management CEO Jim Milton. “The full suite of CampusNexus solutions enable student self-service and will automate many of the institution’s time intensive processes, empowering faculty and staff to prioritize students’ success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year and the 2018 Microsoft Global Education Partner of the Year.</p>

	<h2 class="b c-grey--800 mb0">About Pasco Hernando State College</h2>

    <p><a href="https://phsc.edu/"  rel="noopener" target="_blank">Pasco-Hernando State College</a> combines high-tech educational facilities and state-of-the-art programs with a focus on teaching for student success. With five convenient campuses, students can expect personalized attention, small class sizes, highly credentialed faculty, and tuition and fees that are among the most affordable in the State of Florida. PHSC provides training for more than 70 high-demand careers in business, health, industry and technology, and public service through new bachelor degrees, Associate in Science degrees and certificate programs.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
