---
# <!-- @formatter:off -->
title: Post University Partners with Campus Management to Provide Modern and Flexible Solutions that Personalize the Student Journey
publish: 2017-10-30
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p>
        <span class="press-release__date-location">Boca Raton, Fla. — October 30, 2017</span> — With a focus on personalizing the student journey, Post University<sup>®</sup> selected the enterprise suite of solutions from Campus Management to reach and engage constituents. Campus Management and Post University have a shared vision for engaging students throughout their lifecycle to create lifetime learners.</p>

    <p>Using CampusNexus<sup>®</sup> Student, CampusNexus CRM and CampusNexus Finance, HR &amp; Payroll in the CampusNexus Cloud, Post University is modernizing their IT infrastructure with flexible solutions that leverage Microsoft technology.</p>

    <p>“When we began the search for a modern student information system (SIS), we were determined to choose a partner with higher education experience who strategically develops their solutions for the future,” said Greg Theisen, Post University Chief Information &amp; Technology Officer.  “When we discovered the depth of Campus Management’s partnership with Microsoft, their focus on student success and the level of service they provide to their client community, we decided we needed the full suite of solutions, not just SIS.”</p>

    <p>Post University has a 127-year heritage of cultivating undergraduate and graduate students from its Waterbury, Connecticut main campus and through Post University Online. Since 2007, when it was the first university in Connecticut to offer accredited and accelerated degree programs online, Post University’s online student population has grown significantly. The amount of online students is projected to triple over the next five years.</p>

    <p>“We are excited to help Post University optimize their processes to drive the desired efficiencies that will enable scaling in support of projected high growth over the next few years,” said Jim Brigadier, Campus Management’s Senior Vice President, Field Operations. “Paired with our innovative services and client engagement teams, CampusNexus solutions will revolutionize the way students connect with this top-rated institution and set the foundation for decades of academic success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,000 institutions in over 20 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Post University</h2>

    <p>
        Based in Waterbury, Connecticut, since 1890, Post University<sup>®</sup> is known for its innovation and focus
        on providing every online and on-campus student an extraordinary educational experience with an unmatched level
        of personalized support. Among the first in the nation and the first in the State of Connecticut to offer full
        degrees online, Post fuels the personal aspirations and career goals of its students with inventive and robust
        learning technologies that deliver in-demand undergraduate and graduate degree programs, small class sizes,
        individual attention, and customizable degree concentrations. Recognized for its Honors Program, NCAA Division
        II athletics, and its pioneering role in online education for more than twenty years, Post University is
        licensed by the Connecticut Office of Financial and Academic Affairs for Higher Education and accredited by the
        prestigious New England Association of Schools and Colleges (NEASC). Its award-winning Malcolm Baldrige School
        of Business programs are nationally accredited by the Accreditation Council for Business Schools and Programs
        (ACBSP). Post is ranked among the best by US News &amp; World Report. Learn more about how Post Makes It
        Personal™ by calling 800.345.2562, or visiting
        <a href="http://post.edu/" target="_blank" rel="noopener">www.Post.edu</a>. For useful consumer information go
        to
        <a href="http://post.edu/consumer-information" target="_blank" rel="noopener">http://post.edu/consumer-information</a>.
    </p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
