---
# <!-- @formatter:off -->
title: Premier Education Group to Implement CampusNexus Higher Education Platform
publish: 2015-02-10
products:
    - CampusNexus Student
    - CampusNexus CRM
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000">
    <h1 class="ht--s--38-45 c-theme-primary-dark">{{title}}</h1>

    <p class="b c-grey--800">
        Leading Career-Training Organization Works with Campus Management to
        Streamline its Services for Staff, Students and Faculty
    </p>

    <p>
        <span class="press-release__date-location"
            >Boca Raton, Florida – February 10, 2015</span
        >
        – Campus Management Corp., a leading provider of enterprise software
        products and services for higher education, announced today that
        <a
            href="http://www.premiereducationgroup.com/"
            target="_blank"
            rel="noopener"
            >Premier Education Group</a
        >
        (PEG) has chosen
        <a href="/products/student-information-system/"
            >CampusNexus<sup>TM</sup> Student</a
        >
        and CRM solutions to support its growth initiatives and help improve the
        delivery of services to faculty, students and staff.
    </p>

    <p>
        Premier Education Group is one of the nation’s leading privately owned
        career-training organizations offering flexible career-focused education
        at more than 30 campuses throughout the Northeastern United States and
        in Florida. As a current customer of Campus Management’s CampusVue
        Student Information System since 2006, PEG has once again turned to
        Campus Management to provide a technology platform to support its
        strategic growth initiatives by improving and automating the
        administrative process workflow without increasing staff. In addition,
        PEG selected Campus Management’s Portal to provide students, faculty and
        staff with a centralized online gateway to enable communication and
        delivery of student services anytime, anywhere.
    </p>

    <p>
        “The higher education landscape is constantly evolving and it’s
        particularly important for a growing institution like Premier Education
        Group to operate effectively, efficiently and to continually improve the
        manner in which we serve our many constituents,” said Nick Hastain,
        President at Premier Education Group. “As a long-time Campus Management
        customer, we were confident CampusNexus Student was the right platform
        to help us achieve growth and automate certain processes while retaining
        our culture of engaging directly with students.”
    </p>

    <p>
        “It is imperative for higher education institutions to eliminate
        communication and administrative silos in order to improve information
        and workflow; doing so enables staff to spend more time focusing on the
        student experience,” said Connor Gray, Chief Strategy Officer at Campus
        Management. “CampusNexus’ architecture provides Premier Education Group
        with the malleability and power to simplify administrative processes, to
        improve communications and ultimately to grow its business.”
    </p>

    <p>
        The CampusNexus architecture makes its applications easier to use,
        provides greater flexibility, creates a more open structure and has CRM
        ‘baked-in.’ For more information about CampusNexus CRM,
        <a href="/products/crm-for-higher-education/"
            >click here</a
        >.
    </p>

    <p>
        CampusNet Cloud can be deployed rapidly, customized as needed, and
        offers the following features:
    </p>

    <ul class="list--normal list--has-lead-in">
        <li>Leverages a secure multi-tenant environment</li>
        <li>
            Allows direct connections and integrations with hosted SQL server
            and Active Directory via virtual private network to on-premises
            systems
        </li>
        <li>
            Deployment of 3rd party applications alongside the Campus Management
            portfolio
        </li>
        <li>
            Ability to add servers, storage, memory, and computer resources as
            needed to a private cloud
        </li>
    </ul>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of technology solutions and
        services that transform higher education institutions. Its next
        generation suite, CampusNexus®, includes enterprise-wide Student, CRM,
        and Finance, HR & Payroll solutions. Today, more than 2,000 campuses in
        19 countries partner with Campus Management to transform academic
        delivery, student success and operational efficiency.
    </p>

    <h2 class="b c-grey--800 mb0">About Premier Education Group</h2>
    <p>
        As one of the nation’s leading privately owned career-training
        organizations, Premier Education Group offers professional
        career-focused education at over thirty campuses concentrated in the
        Northeastern United States as well as campuses in Florida.
    </p>

    <p>
        In each of its campuses, Premier Education Group is committed to
        providing students with the necessary skills and attitudes to secure
        employment in their field of training. Through the combination of
        professional faculty, focused support services, and modern, well
        equipped facilities, PEG strives to foster pride, dignity, and
        self-respect in its student body. PEG provides students with a solid
        educational foundation with which to build their future professional
        development.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Karli A. Grant, Director, Product Marketing<br />
        Campus Management Corp<br />
        (561) 999-3592<br />
        kgrant@campusmgmt.com
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
