---
# <!-- @formatter:off -->
title: Royal College of Surgeons in Ireland Selects CampusNexus Engage to Enhance Lifecycle Communications with Prospects and Students
publish: 2020-02-11
social-image: /images/pages/news-and-events/Royal-College-of-Surgeons-PR.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla., February 11, 2020</span> – Campus Management announced today that the Royal College of Surgeons in Ireland (RCSI) has selected CampusNexus<sup>®</sup> Engage as its system of intelligence to reach medical-focused prospects and students across geographical boundaries. RCSI is the first CampusNexus Engage adopter in the EMEA region.</p>

    <p>“After our first demo with Campus Management and Microsoft, we knew that CampusNexus Engage was going to transform our staff and faculty’s mindset from transactional communications to personalized communications,” said RCSI Chief Technology Officer Justin Ralph. “By selecting a modern, cloud-based CRM, we are providing our staff and faculty access to analytics and enhanced student journey insights that will enable data-driven decision making and timely communications.”</p>

    <p>Launched in January 2019, CampusNexus Engage has already been selected by dozens of institutions as their next-generation CRM solution. Built using Microsoft Dynamics 365, Microsoft Azure, and Microsoft Power BI, the solution integrates higher education workflow processes and best practices with the latest innovations in artificial intelligence, machine learning, and business analytics to improve engagement and drive student and institutional success.</p>

    <p>“Campus Management is thrilled to be implementing CampusNexus Engage at an institution in Ireland and the EMEA region for the first time,” said Lisa Smith-Welsh, Campus Management Managing Director of EMEA/APAC. “With the technology advancements of our CampusNexus solutions, RCSI is enabled to experience increased recruitment and retention numbers, which will lead to even more students graduating, as well as accelerating research development in the medical field.”</p>

	<p>CampusNexus Engage was developed specifically with higher education and its users in mind. One of the ways it increases retention numbers is by automating case management creation and workflows to allow counselors to track student issues through resolution. To learn more about how CampusNexus Engage helps institutions gain insight across the student lifecycle, visit the <a href="/products/crm-for-higher-education/">CampusNexus Engage</a> webpage.</p>


    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Royal College of Surgeons in Ireland</h2>

    <p>
        <a href="https://www.rcsi.com/dublin/" rel="noopener"  target="_blank">The Royal College of Surgeons in Ireland (RCSI)</a> was founded as the national training body for surgery in Ireland. RCSI has been at the forefront of healthcare education since its establishment in 1784. Today they are an innovative, world-leading international health sciences education and research institution offering education and training at Undergraduate, Postgraduate and Professional level.
    </p>



	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
