---
# <!-- @formatter:off -->
title: Siena Heights University Selects Campus Management’s Full Product Suite to Transform Systems and Student Engagement
publish: 2017-02-21T06:00:00-05:00
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p>
        <span class="press-release__date-location">Boca Raton, Fla. — Feb. 21, 2017 </span> —
        After a highly competitive selection process that lasted nearly a year, Campus Management Corp. today announced
        that Siena Heights University will be using the full suite of Campus Management solutions, hosted in the cloud.
        The suite of solutions will support the institution in its mission of enabling students through superior service
        to become more competent, purposeful, and ethical through a teaching and learning environment which respects the
        dignity of all.
    </p>

    <p>
        The full suite of Campus Management solutions includes, CampusNexus<sup>®</sup> Student, CampusNexus CRM, CampusNexus
        Finance, HR, & Payroll and Talisma Fundraising, all hosted in the CampusNexus Cloud.
    </p>

    <p>
        “Siena Heights University prefers to partner with organizations that have a similar culture to improve lives
        through education and social responsibility,” said Siena Heights University CIO, Bob Metz. “Campus Management
        has a proven cloud-based solution that will improve student engagement and ease our administrative process. We
        are excited to make this investment in our students and campus community.”
    </p>
    <p>
        Siena Heights University has ten campuses that will be connected and managed with the CampusNexus solution suite
        to grow enrollment, provide a positive student experience, enhance the registration and academic advising
        process and provide the data measurements that enable financial forecasting and analysis. The university will
        manage about 100 undergraduate and graduate programs and approximately 2,700 students with the new system.
    </p>
    <p>
        “Campus Management’s solution set will be configured to fit the unique needs of Siena Heights University, which
        includes supporting a nationally ranked online program, ten campuses and a business model that is positioned for
        growth,” said Campus Management CEO, Jim Milton. “We are excited to begin the journey together that will provide
        connectivity across all campuses to help our newest partner function with more operational efficiency, growth
        and to serve students as one united university.” Siena Heights University’s online program is number one in
        Michigan and tied for 24th in the nation, per U.S. News & World Report’s 2017 Best Online Bachelor's Programs.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>
    <p>
        Campus Management is a leading provider of technology solutions and services that transform higher education
        institutions. Its next-generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR &
        Payroll solutions. Today, more than 2,000 campuses in 19 countries partner with Campus Management to transform
        academic delivery, student success and operational efficiency.
    </p>

    <h2 class="b c-grey--800 mb0">About Siena Heights University </h2>
    <p>
        Siena Heights University is a Catholic university founded in 1919 and sponsored by the Adrian Dominican Sisters.
        Enrolling a diverse community of traditional-age and working adult students, Siena Heights is a coeducational
        North Central accredited institution founded in the liberal arts tradition, offering associate’s, bachelor’s,
        master’s and specialist’s degrees. The University is headquartered in Adrian, Mich., with degree completion
        centers in Dearborn, Southfield, Benton Harbor, Monroe, Battle Creek, Kalamazoo, Lansing, Jackson and Online.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Company Contact</h2>
        Ashley Prince, Media Relations<br />
        Campus Management Corp<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
