---
# <!-- @formatter:off -->
title: Tusculum University Focuses on Student and Institutional Success with Selection of CampusNexus Suite
publish: 2019-03-14
social-image: /images/pages/news-and-events/CM-Tusculum-Partnership-SocialShare.jpg
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – March 14, 2019</span> – Campus Management announced today that its full suite of CampusNexus<sup>®</sup> solutions was selected by Tusculum University to replace their legacy system and support constituents throughout the student lifecycle. Focused on its growth strategy, the oldest institution of higher education in Tennessee conducted a thorough evaluation of providers and chose the CampusNexus platform for its flexible program delivery methods, and to streamline their business operations.</p>

    <figure class="press-release__figure" style="width: 300px;">
		<img src="/images/pages/news-and-events/Tusculum-pr.jpg" alt="Tusculum University selects CampusNexus Suite"/>
	</figure>

    <p>“We believe Campus Management’s culture of fostering collaborative partnerships and its modern platform complement our mission and vision. The CampusNexus platform is flexible, configurable, and enables innovative delivery methods that will allow us to continue to add new programs such as the Niswonger College of Optometry and our new physician assistant program quickly as we identify the need. I’m excited about the continuous innovation and responsiveness these solutions will enable our institution,” said Tusculum University President Dr. James Hurley.</p>

    <p>Tusculum University selected the CampusNexus platform to unite its campus with a single version of truth across the enterprise (CRM, SIS, Finance, HR and Payroll, Fundraising and Occupation Insight), so faculty and staff can work collectively to achieve recruiting and retention, and other student success-centered goals.</p>

    <p>“Tusculum University has a student-first mindset and knows that to serve students they must transform the front-end, student-facing systems as much as back-end business processes. This partnership will enable Tusculum to engage students, operate efficiently and enable innovation,” said Campus Management Chief Executive Officer Jim Milton.</p>

    <p>Campus Management’s solutions are designed to support all academic delivery types, including dual enrollments and online degrees in a single environment without difficult integrations.</p>

    <p>“Dr. Hurley’s  approach to embracing change and advocating for technology will enable Tusculum University to strategically forge ahead to become a first-choice destination for students in the region,” said Dr. Gregory W. Nelson, chairman of Tusculum’s Board of Trustees.</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education
        institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to
        transform academic delivery, student success, and operational efficiency. Campus Management is the 2018 Microsoft Global Education Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Tusculum University</h2>

    <p>
        <a href="https://home.tusculum.edu/"  rel="noopener" target="_blank">Tusculum University</a> is located in Eastern Tennessee, about an hour Northeast of Knoxville and was founded in 1794 and is the oldest institution of higher education in Tennessee, the twenty-eighth oldest in the nation, and the oldest coeducational institution affiliated with the Presbyterian Church. Tusculum University provides a comprehensive education in a Judeo-Christian environment, grounded in a civic, liberal, and medical arts curriculum with pathways for career preparation, personal development and civic engagement.
    </p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Ashley Prince, Media Relations
        <br />
        Campus Management Corp
        <br />
        (954) 249-1124
        <br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
