---
# <!-- @formatter:off -->
title: Veritas Capital to Acquire Campus Management and Edcentric from Leeds Equity Partners
publish: 2020-01-16
products:
  - CampusNexus CRM
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla., January 16, 2020</span> – Veritas Capital (“Veritas”), a leading private investment firm, today announced that an affiliate of Veritas has signed a definitive agreement to acquire Campus Management Acquisition Corp. (“Campus Management”) and Edcentric Holdings LLC (“Edcentric”) from Leeds Equity Partners, LLC (“Leeds Equity”). Leeds Equity will continue as an investor in both companies in partnership with Veritas.</p>

    <p>Campus Management is a global provider of cloud-based student information systems (“SIS”), customer relationship management (“CRM”) and enterprise resource planning (“ERP”) solutions for more than 1,100 colleges and universities in over 30 countries. Edcentric is a leading SaaS platform providing data-driven solutions around student and alumni engagement, retention, and compliance to help over 1,400 higher education institutions make strategic decisions.</p>

    <p>“With differentiated platforms providing mission-critical software solutions, Campus Management and Edcentric are uniquely positioned to help higher education institutions increase operational efficiency, promote student success, and improve overall institutional effectiveness,” said Ramzi Musallam, CEO and Managing Partner of Veritas Capital.  “We look forward to working in partnership with Leeds Equity and the management teams at Campus Management and Edcentric to support their long-term growth and continued development.”</p>

    <p>“Leeds Equity is committed to supporting Edcentric and Campus Management as they continue to invest in solutions that help to transform institutions across academic delivery, constituent engagement and overall operations,” said Jacques Galante, Partner at Leeds Equity. “As we enter this next chapter of continued expansion for both companies, we are excited to leverage our two decades’ worth of experience in higher education to pursue new growth opportunities in partnership with Veritas Capital, a firm with whom we have a shared vision for long-term investment and innovation.”</p>

	<p>The transaction is expected to close in the first quarter of 2020, subject to customary conditions and regulatory approvals.</p>

	<p>Raymond James acted as financial advisor to Campus Management and Edcentric in the transactions.</p>

	<h2 class="b c-grey--800 mb0">About Veritas Capital</h2>

    <p>
        Veritas is a leading private investment firm that invests in companies that provide critical products and services, primarily technology and technology-enabled solutions, to government and commercial customers worldwide, including those operating in the aerospace & defense, healthcare, software, national security, communications, energy, government services and education industries. Veritas seeks to create value by strategically transforming the companies in which it invests through organic and inorganic means. Veritas currently has $19 billion in assets under management, including committed capital of $6.5 billion from The Veritas Capital Fund VII, L.P which closed in October 2019. For more information on Veritas and its current and past investments, visit <a href="https://www.veritascapital.com/" rel="noopener"  target="_blank">www.veritascapital.com</a>.
    </p>

	<h2 class="b c-grey--800 mb0">About Leeds Equity Partners</h2>

    <p>
        Leeds Equity Partners, LLC, is a New York-based private equity firm dedicated exclusively to partnering with management teams in the education, training and information services industries (the "Knowledge Industries"). The firm was founded in 1993 and currently manages $1.7 billion of capital across a broad spectrum of companies within the Knowledge Industries. Leeds Equity seeks to leverage its sector-focused expertise and market insights to create long-term value for its partner companies.
    </p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>
        Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency. Campus Management is a finalist for the 2019 Microsoft Power BI Partner of the Year.
    </p>

	<h2 class="b c-grey--800 mb0">About Edcentric</h2>

    <p>
        Edcentric is the leading provider of institutional effectiveness software to over 1,400 education institutions. The company's software leverages data to enable planning, assessment, engagement and fundraising, thereby improving overall institutional effectiveness.
    </p>

	<h2 class="b c-grey--800 mb0">Media Contacts:</h2>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Campus Management</h2>
        Rob Sparks, Chief Marketing Officer
        <br />
        (214) 600-4705
        <br />
        rsparks@campusmgmt.com
    </div>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Edcentric</h2>
        Tom Palmer, Executive Chairman
        <br />
        (913) 685-5207
        <br />
        tpalmer@edcentric.io
    </div>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Veritas Capital</h2>
        David Millar / Julie Rudnick / Julie Casale
		<br />
        Sard Verbinnen & Co
        <br />
        (212) 687-8080
        <br />
        veritascapital-SVC@sardverb.com
    </div>

	<div class="press-release__contact">
        <h2 class="press-release__contact__title">Leeds Equity Partners</h2>
        Jeffrey Leeds, Managing Partner
		<br />
        (212) 835-2000
        <br />
        jeffrey.leeds@leedsequity.com
		<br />
		Jacques Galante, Partner
		<br />
        (212) 835-2000
        <br />
        jacques.galante@leedsequity.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
