---
# <!-- @formatter:off -->
title: Vision for Student Success Enhanced with Campus Management and Marymount California University Partnership
publish: 2018-01-29
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Fla. — January 29, 2018</span> — Campus Management announced today that Marymount California University (MCU) has chosen the enterprise suite of CampusNexus<sup>&reg;</sup> solutions to support their mission of fostering a student-centered approach to learning. Using CampusNexus Student, CampusNexus CRM and CampusNexus Finance, HR &amp; Payroll deployed in the CampusNexus Cloud, MCU is aligning its IT infrastructure to meet their student growth and business goals.</p>

    <p>“By choosing Campus Management as our administrative software solutions partner, MCU will be better positioned to meet students’ technology expectations, and allow students to make data-driven decisions about their education journey,” said MCU CFO Kathleen Ruiz. “Campus Management’s focus on delivering innovative solutions that enable student success and lead to better career outcomes is going to have a positive impact on our student body. We’re excited to begin the implementation process.”</p>

    <p>Campus Management has a 30-year history of providing higher education institutions with the robust solutions needed to engage students, operate efficiently and enable innovation. Its solutions are built on Microsoft technology, allowing clients to leverage the flexibility, security and scalability of Microsoft Azure, Dynamics and other products.</p>

    <p>“MCU’s approach to enriching students’ lives through a high-tech, high-touch learning environment is compelling and complementary to our solutions,” said Campus Management CEO Jim Milton. “Together, we are going to transform the way students interact with the institution during their educational journey and as alumni. We are excited about MCU’s vision and look forward to enhancing it through our technology and partnership.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions. Today, more than 1,100 institutions in over 30 countries partner with Campus Management to transform academic delivery, student success, and operational efficiency.</p>

    <h2 class="b c-grey--800 mb0">About Marymount California University</h2>

    <p>Marymount California University is a Catholic institution that welcomes students of all faiths and backgrounds into a quality, values-based education. The institution has a beautiful campus in Rancho Palos Verdes in Los Angeles County and offers student-centered learning opportunities for undergraduate and graduate students.</p>

    <h2 class="b c-grey--800 mb0">Media Contacts:</h2>


    <div class="press-release__contact">
        Ashley Prince<br />
        Media Relations<br />
        Campus Management Corp.<br />
        (954) 249-1124<br />
        aprince@campusmgmt.com
    </div>


</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
