---
# <!-- @formatter:off -->
title: Zenith Education Group Signs Multi-Year Extension for CampusNexus Student in the Cloud to Drive Transformation
publish: 2017-01-19
products:
  - CampusNexus Student
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container c-grey--1000">

    <h1 class="ht--s--38-45 c-theme-primary-dark ">{{title}}</h1>

    <p><span class="press-release__date-location">Boca Raton, Florida – January 19, 2017</span> – Campus Management Corp. a leading provider of enterprise solutions and services for higher education, announced today that Zenith Education Group has committed to a five-year extension of its licensing agreement for Campus Management’s flagship student information system, CampusNexus<sup>®</sup> Student, delivered through CampusNet Cloud. The move is part of Zenith Education Group’s mission to advance student success and to help bridge our country’s growing skills gap by creating high-quality, affordable programs.</p>

    <p>“We are committed to our students’ long-term success and finding transformational ways to improve outcomes,” said Dave Goff, chief information officer of Zenith Education Group. “With a significant population of nontraditional students, we will leverage CampusNexus in the cloud to deliver highly flexible programs and terms, including online and blended programs, accelerated courses, and competency-based education.”</p>

    <p>Zenith Education Group serves thousands of students at 24 campuses throughout the country. Multi-campus operations and visibility, scalability and resource optimization around student outcomes were among the key factors for the college system’s decision to move its student information system into the cloud.</p>

    <p>“Campus Management’s ability to deliver and manage CampusNexus Student through CampusNet Cloud enables us to gain efficiencies across campuses and departments, as well as improve student services, engagement and outcomes through innovations as they emerge, without disruption to our operations,” added Goff.</p>
    <p>“Campus Management is proud to partner with Zenith Education Group in support of its mission to help students throughout the nation achieve their academic and career goals,” said Jim Milton, chief executive officer at Campus Management. “Our mission is to deliver the higher education platform and services that allow institutions to transform academic delivery, student success and operational efficiencies – on their terms. With delivery of CampusNexus Student in the cloud, Zenith Education Group gains rapid access to an open and extensible platform that adapts to its vision and strategy for driving student success.”</p>

    <h2 class="b c-grey--800 mb0">About Campus Management Corp.</h2>

    <p>Campus Management is a leading provider of technology solutions and services that transform higher education institutions.
     Its next generation suite, CampusNexus, includes enterprise-wide Student, CRM, and Finance, HR &amp; Payroll solutions. Today,
     more than 2,000 campuses in 19 countries partner with Campus Management to transform academic delivery, student success
     and operational efficiency.</p>

     <h2 class="b c-grey--800 mb0">About Zenith Education Group</h2>

    <p>Zenith Education Group is a nonprofit provider of career school training and a member of ECMC Group. Above all, Zenith is driven to help students succeed by providing affordable, quality education and training for occupations in demand. Through its Everest and WyoTech schools across the country, Zenith offers diploma and degree programs in the healthcare, skilled trades, business and other fields. For more information, go to www.zenith.org.</p>

    <div class="press-release__contact">
        <h2 class="press-release__contact__title">Media Relations</h2>
        Ashley Prince<br/>
        Campus Management Corp.<br/>
        (954)-249-1124<br/>
        aprince@campusmgmt.com
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{>[pattern-box/consultation-request]}}
{{/content}}

{{/extend}}
