---
# <!-- @formatter:off -->
title: 'Activity-Based Accounting: Optimizing Resources to Improve Student Outcomes'
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000">
    <h1 class="ht--s--38-45 c-theme-primary-dark">{{title}}</h1>

    <p>
        <span class="press-release__date-location"
            >By Karli A. Grant, September 22, 2017
        </span>
        — “What about a tool for measuring the viability of our academic
        programs?” As a solutions vendor, I hear this question frequently when I
        visit with higher education institutions.
    </p>

    <p>
        As budgets continue to shrink and regulatory accountability for student
        outcomes increases, institutions are seeking greater insight into the
        true value of programs beyond traditional metrics or accounting methods.
    </p>
    <p>
        Faculty costs, for example, are considered a direct cost of a program or
        course. But what about the additional administrative services or more
        specialized faculty (i.e., more ‘expensive’ faculty) that a new program
        demands? What about the specific classroom space, equipment or
        additional library services, energy, added security and even janitorial
        needs that a particular program requires? Rather than allocating these
        costs into general operational overhead, activity-based budgeting seeks
        to assign them to their respective programs and services.
    </p>
    <p>
        More commonly utilized in other industries such as manufacturing and
        healthcare, activity-based accounting is now generating interest among
        higher education executives who face increasing uncertainty about the
        long-term financial viability of their institutions. A recent survey of
        higher education chief business officers by Inside Higher Ed bears this
        out. Less than half of those surveyed, 48 percent, agree that their
        current business model will be sustainable over the next 10 years*.
    </p>
    <p>
        This may explain why I get that question so often when I visit colleges
        and universities today. Even as they look to cut costs, these
        institutions want to add more options and alternative programs (e.g.,
        competency-based education, continuing education) to attract traditional
        and nontraditional students alike. They are asking for a solution that
        can help them project the value of these programs and their impact on
        the bottom line.
    </p>
    <p>
        And yes, there are advanced analytic tools on the market today that can
        provide the visibility institutions need to accurately assess program
        ROI. These tools (e.g., Power BI) are only the final layer in the
        technology stack however. They depend on an enterprise-wide financial or
        ERP system underneath them that can aggregate and contextualize data
        from multiple systems and departments. Higher education’s continuing
        evolution toward cloud-based systems aligns well with this accounting
        method’s need to compile data from across the enterprise.
    </p>
    <p>
        While the technology now exists, ultimately the move to activity-based
        budgeting is as much about the institution’s mission, values and
        culture. For a private liberal arts college, the value of their programs
        are measured more in the classical education and critical thinking
        skills gained by their students and less in the revenues generated by
        any given program or course. Even at larger public institutions,
        determining the value of programs by their financial efficacy alone
        could run afoul with faculty and students.
    </p>
    <p>
        The fact remains that higher education institutions of every size and
        mission are looking for ways to serve students more efficiently. They
        are trying to do more with less. For institutions that have embraced
        activity-based accounting, it’s about gaining greater insight into
        program patterns over the long-term and being able to make adjustments
        at the right time. Their executives use it as another important method
        for finding a program’s sweet spot and the ideal mix of courses and
        resources to make it more efficient and successful for students and the
        institution, today and ten years from now.
    </p>
    <p>
        In the end, the goal of activity-based budgeting is putting dollars
        where they’re needed most, in the programs that help more students
        achieve their academic and career goals.
    </p>
    <p>
        Karli Grant is Director of Product Marketing at Campus Management Corp.
    </p>
    <p>
        *2017 Inside Higher Ed Survey of College and University Business
        Officers
    </p>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--cloud-4]}} {{/content}}
{{/extend}}
