---
# <!-- @formatter:off -->
title: Providing Emergency Financial Aid at the Right Time
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000">
    <h1 class="ht--s--38-45 c-theme-primary-dark">{{title}}</h1>

    <p>
        <span class="press-release__date-location"
            >By Ruben Garcia, September 22, 2017
        </span>
        — Students and families save for years to afford the cost of higher
        education and secure financial aid, grants and scholarships to fill the
        gaps, but they can’t anticipate every contingency in life. A job loss,
        sudden illness, or other family crisis can derail the best laid plans
        once the student is on campus.
    </p>

    <p>
        Some financial aid departments are fortunate to have a discretionary
        fund that would allow them to provide students facing a financial
        emergency a short-term loan or grant to pay for direct costs such as
        books, tuition and fees to keep the student in school. Even if they
        don’t however, they can also help the student adjust their FAFSA
        information to reflect their current financial situation. As
        importantly, modern technology can help institutions deliver emergency
        financial aid faster and more efficiently.
    </p>

    <p>
        Today’s financial aid and student information systems should be able to
        process emergency financial aid and short-term loans at any time
        throughout the school term while ensuring regulatory compliance. If the
        institution has a discretionary fund that has been designated for such
        circumstances, the system will keep outstanding balances separate from
        the original students account, allowing for repayment of the loan
        separate from the original student account.
    </p>

    <p>
        Another option that colleges or universities have is to provide students
        emergency financial assistance that enables small incremental payments
        against tuition and fees. If the system is flexible enough, they can
        create a variety of payment plan options and promissory notes (even cash
        payment options) that will get posted to the student’s account
        automatically.
    </p>

    <p>
        Leveraging a modern platform’s forms builders, workflows and eventing
        tools along with built-in CRM to create electronic forms, institutions
        can assist students facing a financial emergency and deliver funds on
        short notice without a lot of manual processing, additional staffing or
        risk of mistakes. Should a financial situation change, the student will
        go to a website to complete the request for assistance. Upon completing
        the form, the information will be captured and stored in the student
        document center. As the form is submitted, automated notifications will
        be sent to the financial aid department, along with other departments
        and personnel the institution has designated. The financial aid
        department can then create CRM communications and campaigns to ensure
        students know this option is available to them, along with guidance and
        links to put their applications for emergency aid in motion.
    </p>

    <p>
        These features can also be used throughout an institution’s departments
        to execute retention campaigns, acknowledgement campaigns, document
        collection campaigns, emergency notifications and much more.
    </p>

    <p>
        As a former financial aid manager, I embraced the best practice of
        encouraging all students to complete a FAFSA application, even if they
        think they won’t need assistance. With the right system, the institution
        can then execute a continuous, configurable, and automated communication
        campaign via email, text or web alerts with a variety of compelling
        messages for students who have not completed the FAFSA. The entire
        process is automated, so there are little if any additional demands on
        personnel to manage the communication process.
    </p>

    <p>
        With the right combination of technology and best practices,
        institutions today have the resources they need to keep students on
        track with their academic and career goals, in the best and worst of
        times.
    </p>

    <p>
        Ruben Garcia is Principal Product Manager at Campus Management Corp.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--cloud-4]}} {{/content}}
{{/extend}}
