---
# <!-- @formatter:off -->
title: Sitemap
private: true
additional-scripts:
  - src: /scripts/page--sitemap.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/sitemap.css
    inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" rel="stylesheet" />
<div class="container">
    <div class="sitemap-wrapper">
        {{sortCollectionData collection.[0] 'pages' 99 'collection-data-loop/sitemap'}}
    </div>
</div>
{{/content}}

{{/extend}}
