---
# <!-- @formatter:off -->
title: Q&A
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="block max-width-66--sm c">
        <h1 class="ht--s--38 c-theme-primary-dark">{{title}}</h1>
        <p class="mb0">
            Please complete the from below to submit a question.
        </p>
    </div>
</div>
<form
    id="requestDemoForm"
    class="cmc-form cmc-form--centered js--simple-form"
    action="demo-q-a/?site=cmc&group=Texas60x30"
    data-success-redirect-url="/campaigns/Texas-Community-Colleges-60x30TX/"
>
    <fieldset>
        <ul class="mb1">
            <li>
                <label class="required" for="firstName">Name</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        required
                        autocomplete="name"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="email">Email</label>
                <div class="input-wrapper">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        required
                        autocomplete="email"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="phone">Phone</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="phone"
                        id="phone"
                        required
                        autocomplete="tel-national"
                    />
                </div>
            </li>

            <li>
                <label class="required tallInputLabel" for="message"
                    >Question</label
                >
                <div class="input-wrapper">
                    <textarea name="message" id="message" required></textarea>
                </div>
            </li>
            <li class="cmc-form__submit-row">
                <button
                    type="submit"
                    class="pill-button cmc-form__submit-button"
                    name="btnSave"
                >
                    Submit
                </button>
            </li>
        </ul>
        <p>
            Any personal information you provide to us using this form will be
            processed in accordance with our
            <a href="{{url-lang-prefix}}/about-us/privacy/">privacy policy</a>.
        </p>
    </fieldset>
</form>

{{/content}} {{/extend}}
