---
# <!-- @formatter:off -->
title: Aligned with the Mission and Goals of Texas Community Colleges and 60x30TX
meta-description: Meeting the ambitious goals of the 60x30TX initiative will require a combination of new programs, processes, and systems.
label: 60x30TX
menu-priority: 0.7
page-bg-image: /images/pages/campaigns/60x30TX/60x30TX-page-bkg-blue.jpg
page-bg-image--xs: /images/pages/campaigns/60x30TX/60x30TX-410x730-bkg-blue.jpg
additional-scripts:
    - src: /scripts/page--open-source-platform-for-higher-education.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>

    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Meeting the ambitious goals of the 60x30TX initiative will
                require a combination of new programs, processes, and systems.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                A True Partner Committed to Texas Community Colleges
            </h2>

            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/campaigns/60x30TX/texas-student-1.jpg"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />
                <div class="left">
                    <p>
                        Texas community colleges have worked hard to ensure that
                        more students graduate with the critical skills they
                        need to succeed in today’s economy. But today, not
                        nearly enough Texas students are completing the levels
                        of education needed to fill the jobs that will be
                        available.
                    </p>
                    <h3 class="ht--s--22">
                        Transform with Campus Management
                    </h3>
                    <p>
                        For over three decades, Campus Management’s mission has
                        been to provide institutions a flexible and innovative
                        platform for serving a wide diversity of students, from
                        first-generation students to working adults, and we are
                        committed to helping your community college meet the
                        60x30TX goals established by the Texas Higher Education
                        Coordinating Board (THECB). While progress has been
                        made, we still have much work to do if we are going to
                        reach the ambitious goals of 60X30.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Texas Service Center – Helping Community Colleges Meet 60x30TX
                Goals
            </h2>
            <p>
                As part of Campus Management’s commitment to Texas institutions,
                we have created the Texas Service Center as a resource for
                strategies, technology, and reporting tools that align with the
                goals of 60x30TX. Our experts combine knowledge and experience
                in higher education processes and CampusNexus to align systems
                and workflows with your institution’s strategy for student
                success.
            </p>
            <ul class="list--normal mb0">
                <li>
                    Provides all THECB CBM reports as part of our CampusNexus
                    baseline
                </li>
                <li>
                    Supports schools in meeting and demonstrating progress
                    toward the 60x30 goals
                </li>
                <li>Offers expert guidance in support of your mission</li>
            </ul>
        </div>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-black">
                Del Mar College Harnesses CampusNexus Engage to Deliver Dreams
            </h2>
            <blockquote>
                <p class="c-white ht--s--36 mb2--sm">
                    “CampusNexus Engage will allow Del Mar College to foster
                    stronger and more personal relationships with prospective
                    and current students, as well as with alumni.”
                </p>
                <footer>
                    <cite>
                        <div
                            class="testimonial__author--v2 c-black ht--p--14-075 i"
                        >
                            <div class="testimonial__author__name--v2 b">
                                August Alfonso,
                            </div>
                            <div class="testimonial__author__title--v2">
                                Vice President for Facilities Operations & Chief
                                Information Officer,
                            </div>
                            <div class="testimonial__author__company--v2">
                                Del Mar College
                            </div>
                        </div>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4">
                <div class="right">
                    <img
                        src="/images/pages/campaigns/60x30TX/edu-pop-icon-2.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Goal 1: Educated Population
                    </h2>
                    <p class="ht--s--22">
                        By 2030, 60 percent of the population age 25-34 will
                        have a post-secondary credential.
                    </p>
                    <p>
                        Since the inception of 60x30TX in 2015, the actual
                        percentage of the Texas population ages 25-34 with
                        post-secondary credentials has only grown only 3.2
                        percent since 2014 to 43.5 percent. Of that growth,
                        associate degrees and certificates only grew .3 percent.
                        To grow enrollments and completion rates, community
                        colleges will need to deepen engagement with prospects
                        and students.
                    </p>
                    <p class="ht--s--22">
                        Grow Enrollment with CampusNexus Engage
                    </p>
                    <p>
                        CampusNexus Engage is a next-generation system of
                        intelligence that helps you deepen insight and
                        connections with students. With the solution’s advanced
                        analytics built on Microsoft Dynamics 365, Azure, and
                        Power BI, you gain a holistic picture of each student
                        and provide tailored guidance to keep them motivated and
                        on the path to success.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                target="_blank"
                                href="/products/crm-for-higher-education/"
                                >CampusNexus Engage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        src="/images/pages/campaigns/60x30TX/completion-icon-2.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>

                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Goal 2: Completion
                    </h2>
                    <p class="ht--s--22">
                        By 2030, at least 550,000 students in that year will
                        complete a certificate, associate, bachelor’s, or
                        master’s from an institution of higher education in
                        Texas.
                    </p>
                    <p>
                        In 2018, there were 341,307 awards conferred. To reach
                        our 2020 goal, we still need to increase that number by
                        10 percent. Furthermore, we will need to increase that
                        number by nearly 39 percent if we are to meet our 2030
                        goal.
                    </p>

                    <p class="ht--s--22">
                        Increase Retention with CampusNexus Engage
                    </p>
                    <p>
                        CampusNexus Engage combines predictive analytics,
                        machine learning, and artificial intelligence to
                        automatically identify patterns of student behavior and
                        respond earlier to potential issues. You can also
                        automate case management creation and workflows and
                        track student issues through resolution.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/crm-for-higher-education/"
                                target="_blank"
                                >CampusNexus Engage
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4">
                <div class="right">
                    <img
                        src="/images/pages/campaigns/60x30TX/marketable-icon-2.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Goal 3: Marketable Skills
                    </h2>
                    <p class="ht--s--22">
                        By 2030, all graduates from Texas public institutions of
                        higher education will have completed programs with
                        identified marketable skills.
                    </p>
                    <p>
                        The 60X30TX goals are unclear on how to measure this
                        important outcome. What we are certain of is that Texas
                        community college students need to be aware of the
                        marketable skills embedded in their academic programs,
                        and institutions must make certain that students
                        graduate with marketable skills. Additionally,
                        administrators need to be aware of what the market
                        demands in order to plan academic offerings.
                    </p>

                    <p></p>
                    <p class="ht--s--22">
                        Gain Awareness with CampusNexus Occupation Insight
                    </p>
                    <p>
                        With CampusNexus Occupation Insight, both advisors and
                        students gain insight into what skills and education
                        employers are seeking from graduates and how their
                        courses and programs align with the needs of the
                        marketplace.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                target="_blank"
                                href="/images/pages/campaigns/60x30TX/marketable-icon-2.png"
                                >CampusNexus Occupation Insight
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary" id="demos">
        <div class="container container--2-5 c-white">
            <h2 class="c ht--s--28">
                Explore Interactive Demos
            </h2>
            <p class="ht--p--16 mb2--sm">
                See how students and advisors can leverage up-to-date workforce
                data earlier in the student lifecycle and drill down on that
                data to align academic programs and course selections as
                industry needs evolve.
            </p>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <img
                        class="mb1"
                        src="/images/pages/campaigns/60x30TX/OI-career-explorer-scrn-texas.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                    <h2 class="c ht--s--28">
                        Career Explorer Demo
                    </h2>
                    <ul class="pill-list pill-list--centered pill-list--hs-cta">
                        <li class="pill-list__item">
                            <!--HubSpot Call-to-Action Code --><span
                                class="hs-cta-wrapper"
                                id="hs-cta-wrapper-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                ><span
                                    class="hs-cta-node hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    id="hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    ><!--[if lte IE 8]>
                                        <div id="hs-cta-ie-element"></div
                                    ><![endif]-->
                                    <a
                                        href="https://cta-redirect.hubspot.com/cta/redirect/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12"
                                        ><img
                                            class="hs-cta-img"
                                            id="hs-cta-img-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                            style="border-width: 0px;"
                                            src="https://no-cache.hubspot.com/cta/default/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12.png"
                                            alt="Explore Demo" /></a
                                ></span>
                                <script type="text/javascript">
                                    if (typeof hbspt !== 'undefined') {
                                        hbspt.cta.load(
                                            2683119,
                                            '380464f1-c824-40cf-b4f9-713b69fe1f12',
                                            {},
                                        );
                                    }
                                </script></span
                            >
                            <!-- end HubSpot Call-to-Action Code -->
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <img
                        class="mb1"
                        src="/images/pages/products/OI-program-explorer-scrn.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                    <h2 class="c ht--s--28">
                        Program Explorer Demo
                    </h2>
                    <ul class="pill-list pill-list--centered pill-list--hs-cta">
                        <li class="pill-list__item">
                            <!--HubSpot Call-to-Action Code --><span
                                class="hs-cta-wrapper"
                                id="hs-cta-wrapper-40a78465-c163-4b36-9d58-88dd93598df6"
                                ><span
                                    class="hs-cta-node hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                    id="hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                    ><!--[if lte IE 8]>
                                        <div id="hs-cta-ie-element"></div
                                    ><![endif]-->
                                    <a
                                        href="https://cta-redirect.hubspot.com/cta/redirect/2683119/40a78465-c163-4b36-9d58-88dd93598df6"
                                        ><img
                                            class="hs-cta-img"
                                            id="hs-cta-img-40a78465-c163-4b36-9d58-88dd93598df6"
                                            style="border-width: 0px;"
                                            src="https://no-cache.hubspot.com/cta/default/2683119/40a78465-c163-4b36-9d58-88dd93598df6.png"
                                            alt="Explore Demo" /></a
                                ></span>
                                <script type="text/javascript">
                                    if (typeof hbspt !== 'undefined') {
                                        hbspt.cta.load(
                                            2683119,
                                            '40a78465-c163-4b36-9d58-88dd93598df6',
                                            {},
                                        );
                                    }
                                </script></span
                            >
                            <!-- end HubSpot Call-to-Action Code -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        src="/images/pages/campaigns/60x30TX/debt-icon-2.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Goal 4: Student Debt
                    </h2>
                    <p class="ht--s--22">
                        By 2030, undergraduate student loan debt will not exceed
                        60 percent of first-year wages for graduates of Texas
                        public institutions.
                    </p>
                    <p>
                        On average, a student receiving an associate degree from
                        a Texas community college graduates with 24 semester
                        credit hours more than they need. With the right
                        guidance and academic options, students can
                        significantly reduce the cost of their education and the
                        student loan debt they face.
                    </p>
                    <p class="ht--s--22">
                        Provide Flexibility and Direction with CampusNexus
                        Student
                    </p>
                    <p>
                        With CampusNexus Student, your community college can
                        easily deliver and manage alternative programs such as
                        competency-based education, online programs, bootcamps,
                        micro-credentials, and flexible and accelerated terms
                        from a single, cloud-based student information system.
                    </p>
                    <p>
                        In addition to the system’s flexibility, Campus
                        Management’s Guided Pathway’s Tool enables students to
                        see how they get from the beginning to the end of their
                        programs. Designed to supplement the graduation
                        checklist and combine a degree planner with data that
                        can drive employment outcomes, the Guided Pathways Tool
                        is easily configured to support your institution’s Texas
                        Pathways program.
                    </p>
                    <p>
                        The pathway is adjustable course by course and
                        highlights the impact of course placements on their
                        graduation dates, skills achieved, and the cost of their
                        programs. They click, drag, and drop their courses to
                        create unique pathways to success and see visible
                        progress towards their goals.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                target="_blank"
                                href="/products/student-information-system/"
                                >CampusNexus Student
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="container container--2 c-white">
            <div class="box-v4 box-v4--1-3">
                <div class="left">
                    <img
                        src="/images/pages/campaigns/60x30TX/texas-students-2.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <p class="mb0">Thought Leadership Essay</p>
                    <p class="ht--s--28">
                        Empowering Students Through CampusNexus Student and the
                        Guided Pathways Tool
                    </p>
                    <p>
                        Learn more about Campus Management’s Guided Pathways
                        Tool in this essay by Rebecca Whitehead, Campus
                        Management’s Director of Product Management, Enrollment,
                        Records and Services.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button pill-button--reverse mb0"
                                href="https://info.campusmanagement.com/empowering-students-through-campusnexus-student-and-the-guided-pathways-tool"
                                target="_blank"
                                rel="noopener"
                            >
                                Read
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Meeting 60x30TX Goals with a Cloud-based Platform
            </h2>
            <p>
                Built on Microsoft Azure and delivered in a SaaS model, the
                CampusNexus Solutions Suite provides Texas community colleges a
                cost-effective platform and pathway for meeting 60x30TX goals.
                You gain the scalable infrastructure to expand enrollments and
                the visibility across departments, systems, and the student
                lifecycle to improve recruitment, retention and outcomes.
            </p>
            <ul class="list--normal mb0">
                <li>
                    <a
                        href="/products/crm-for-higher-education/"
                        target="_blank"
                        >CampusNexus Engage</a
                    >
                    – higher education’s next-generation CRM system of
                    intelligence for improving recruitment, retention, and
                    outcomes.
                </li>
                <li>
                    <a
                        href="/products/student-information-system/"
                        target="_blank"
                        >CampusNexus Student</a
                    >
                    – a highly flexible platform for managing a wide range of
                    academic programs and terms, automating financial aid,
                    reporting and compliance.
                </li>
                <li>
                    <a
                        href="/products/student-success-through-workforce-analytics/"
                        target="_blank"
                        >CampusNexus Occupation Insight</a
                    >
                    – a powerful workforce analytics tool that enables you to
                    align academic programs and student skills with the needs of
                    the labor market.
                </li>
                <li class="mb0">
                    <a
                        href="/products/financial-management-system/"
                        target="_blank"
                        >CampusNexus Finance, HR & Payroll</a
                    >
                    – a comprehensive ERP solution for higher education
                    accounting and benefits administration, faculty management,
                    employee self-service.
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
