---
# <!-- @formatter:off -->
title: The Intersection of Machine Learning and Higher Education
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000">
    <h1 class="ht--s--38-45 c-theme-primary-dark">{{title}}</h1>

    <p>
        <span class="press-release__date-location">
            By Ray Blackwood, Vice President, Product Management, Campus
            Management Corp.
        </span>
        — Back in my days at the University of Advancing Technology, I had an
        opportunity to study artificial intelligence (AI) as part of my
        undergraduate studies. As you may know, the true measure of successful
        AI is to convince a test subject that they are interacting with another
        human and not computer intelligence. This is known at the Turing Test,
        named after Alan Turing, the mathematical genius who cracked the Enigma
        Code for the Allies in World War II.
    </p>

    <p>
        While at the university, I developed ‘Clark Devereaux’, an AI persona
        that sent students and administrators needed information. Some of my
        favorite moments were when people would come into the IT area and ask to
        speak with Clark. They would ask if he was in and even invite him to
        meetings. It has been more than 10 years since Clark was invented and
        seven years since I left the university. Clark is still active today!
    </p>
    <p>
        Back when Clark was created, we didn’t have access to machine learning
        like we do today; thus Clark was limited to what we programmed him to
        do. Today it’s a completely different story. Machine learning, first
        explored by IBM back in the 1950s, adds a predictive element to
        artificial intelligence. Instead of a system being hardwired for certain
        actions and responses, it will also make predictions over time based on
        the data it receives, what we more often refer to as predictive
        analytics today.
    </p>
    <p>
        As an executive for a higher education technology company today, I’m
        amazed at how far the industry has come in incorporating machine
        learning into systems and solutions. Where Clark didn’t have the benefit
        of machine learning to recognize and predict behavior, next-generation
        RENEE can. She is a virtual guidance counselor who facilitates
        interactions between institutions and their students. She notifies
        advisors of students who are at risk as well as the best way to reach
        them.
    </p>
    <p>
        As we will see at EDUCAUSE this month, more vendors are beginning to
        integrate machine learning (and predictive analytics) into their student
        information systems as institutions seek to gain greater insight,
        enhance student engagement and improve student outcomes. One example is
        adding machine learning to the registration assistant logic. Using
        natural language, students can interact with an AI through voice or chat
        and receive assistance with class registration.
    </p>
    <p>
        What is most exciting, is that we keep adding more and more processes to
        predictive analytics and machine learning. Admissions, retention,
        reporting, course scheduling and finance all have areas that are ripe
        for this technology. As the industry continues to adopt machine learning
        and predictive analytics, we allow for innovative ideas like RENEE to
        become real value-added benefits to higher education -- even if, like
        Clark back in the day, they get invited to a meeting or two.
    </p>
    <p>
        Ray Blackwood is Vice President of Product Management, Campus Management
        Corp.
    </p>
    <p class="b c-grey--800 mb0">
        Learn more about The Intersection of Machine Learning and Higher
        Education. Join us in Philadelphia at the EDUCAUSE Annual Conference -
        booth #609.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--cloud-4]}} {{/content}}
{{/extend}}
