---
# <!-- @formatter:off -->
title: Why Campus Management
meta-description: Submit your request today. Or you can call us at 561.923.2500.
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/contact-us.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="block max-width-66--sm c">
        <h1 class="ht--s--38 c-theme-primary-dark mb1">{{title}}</h1>
        <p class="mb0">
            Please complete and submit the form below.
        </p>
    </div>
</div>
<form
    id="becomeAPartnerForm"
    class="cmc-form cmc-form--centered js--simple-form"
    action="why-campusmanagement/?site=cmc&group=en-us"
    data-lead-source="why campusmanagement form"
    data-post-to-unify="true"
>
    <fieldset>
        <ul class="mb1">
            <li>
                <label class="required" for="firstName">First Name</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        required
                    />
                </div>
            </li>
            <li>
                <label class="required" for="lastName">Last Name</label>
                <div class="input-wrapper">
                    <input type="text" name="lastName" id="lastName" required />
                </div>
            </li>
            <li>
                <label class="required" for="title">Title</label>
                <div class="input-wrapper">
                    <input type="text" name="title" id="title" required />
                </div>
            </li>
            <li>
                <label class="required" for="institution">Institution</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="institution"
                        id="institution"
                        required
                    />
                </div>
            </li>
            <li>
                <label class="required" for="email">Email</label>
                <div class="input-wrapper">
                    <input type="email" name="email" id="email" required />
                </div>
            </li>
            <li>
                <label class="required" for="phone">Phone</label>
                <div class="input-wrapper">
                    <input type="text" name="phone" id="phone" required />
                </div>
            </li>
            <li>
                <label class="tallInputLabel" for="message">Message</label>
                <div class="input-wrapper">
                    <textarea name="message" id="message"></textarea>
                </div>
            </li>
            <li class="cmc-form__submit-row">
                <button
                    type="submit"
                    class="pill-button cmc-form__submit-button"
                    name="btnSave"
                >
                    Submit
                </button>
            </li>
        </ul>
        <p>
            Any personal information you provide to us using this form will be
            processed in accordance with our
            <a href="{{url-lang-prefix}}/about-us/privacy/">privacy policy</a>.
        </p>
    </fieldset>
</form>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--us-india-brazil-uk]}}
{{/content}} {{/extend}}
