---
# <!-- @formatter:off -->
title: Why Campus Management
meta-description: Make the Move to Campus Management
additional-stylesheets:
    - href: /styles/pages/has-archive-list.css
      inline: true
pageCssClass: hide-products-and-solutions
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="bgc-white">
        <div class="container">
            <h1 class="ht--p--14 c-grey--900 mb0">{{title}}</h1>

            <p class="ht--s--38-45 c-theme-primary-dark">
                Why Institutions are Switching to Campus Management
            </p>

            <ul class="archive-list">
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        Your Transformation Starts Here
                    </p>
                    <p class="archive-list-item__text">
                        Make a Direct Impact on Student and Operational Success
                    </p>
                    <img
                        src="/images/pages/campaigns/box-nexus-sm.png"
                        class="archive-list-item__img"
                        alt="CampusNexus"
                        loading="eager"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#campusnexus"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        Western Technical College
                    </p>
                    <p class="archive-list-item__text">
                        Selects Campus Management to Replace Diamond D
                    </p>
                    <img
                        src="/images/pages/campaigns/box-western-sm.png"
                        class="archive-list-item__img"
                        alt="Western Technical College"
                        loading="eager"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#western"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        Western Technical College Success Story
                    </p>
                    <p class="archive-list-item__text">
                        Hear About CampusNexus from Brad Kuykendall
                    </p>
                    <img
                        src="/images/pages/campaigns/box-western-tech-video.png"
                        class="archive-list-item__img"
                        alt="western-video"
                        loading="eager"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#western-video"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        The CampusNexus Student Difference
                    </p>
                    <p class="archive-list-item__text">
                        Drive Student and Institutional Success
                    </p>
                    <img
                        src="/images/pages/products/why-nexus/box-student-difference.png"
                        class="archive-list-item__img"
                        alt="CampusNexus Student Difference"
                        loading="lazy"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#student-difference"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        The CampusNexus CRM Difference
                    </p>
                    <p class="archive-list-item__text">
                        Improve Engagement Across the Student Lifecycle
                    </p>
                    <img
                        src="/images/pages/products/why-nexus/box-crm-difference.png"
                        class="archive-list-item__img"
                        alt="CampusNexus CRM Difference"
                        loading="lazy"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#crm-difference"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        The Financial Aid Automation Difference
                    </p>
                    <p class="archive-list-item__text">
                        A Powerful and Proven Financial Aid Automation Engine
                    </p>
                    <img
                        src="/images/pages/campaigns/box-fa-sm.png"
                        class="archive-list-item__img"
                        alt="Financial Aid Automation"
                        loading="lazy"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#fa-difference"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        The CampusNexus Cloud Difference
                    </p>
                    <p class="archive-list-item__text">
                        Solutions from Campus Management in a True SaaS Model
                    </p>
                    <img
                        src="/images/pages/campaigns/box-cloud-sm.png"
                        class="archive-list-item__img"
                        alt="CampusNexus Cloud"
                        loading="lazy"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#cloud-difference"
                    >
                        View
                    </a>
                </li>
                <li class="archive-list-item">
                    <p class="ht--s--18 archive-list-item__title">
                        Why Campus Management
                    </p>
                    <p class="archive-list-item__text">
                        Campus Management by the numbers
                    </p>
                    <img
                        src="/images/pages/campaigns/box-cmc-numbers-sm.png"
                        class="archive-list-item__img"
                        alt="Campus Management by the Numbers"
                        loading="lazy"
                        inline-img-dims
                    />
                    <a
                        class="archive-list-item__link pill-button smooth-scroll-link"
                        href="#cmc-numbers"
                    >
                        View
                    </a>
                </li>
            </ul>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/docs/product-sheets/cmc/en-us/Why-Campus-Management.pdf"
                        target="_blank"
                        >Why Campus Management Brochure
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <section id="campusnexus" tabindex="-1" class="container ht--p--14-075">
            <h2 class="ht--s--22 c-theme-primary-dark">
                Your CampusNexus Transformation Starts Here
            </h2>
            <img
                class="mb1 block c fr--sm"
                src="/images/pages/campaigns/box-nexus-lrg.png"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <p>
                In a climate of reduced funding and evolving student needs, your
                institution values technology that can make a direct impact on
                student and operational success. That’s where CampusNexus comes
                in. The solutions suite enables your institution to transform
                academic delivery, student engagement and operational efficiency
                – on your terms.
            </p>

            <p>
                Diamond D institutions that migrate to CampusNexus gain
                immediate benefits, including:
            </p>

            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Single version of the truth across the institution
                </li>
                <li>
                    Ability to serve traditional and nontraditional students
                    alike with flexible terms and programs
                </li>
                <li>
                    Real-time operational and analytical reports at your
                    fingertips
                </li>
                <li>
                    Confidence in those reports for making strategic decisions
                </li>
                <li>
                    Greater visibility/transparency to evaluate staff
                    performance and impact
                </li>
                <li>
                    Automation of manually intensive processes such as financial
                    aid packaging
                </li>
                <li>
                    Proven student engagement tools for driving recruitment,
                    retention and successful student outcomes
                </li>
                <li>
                    High data integrity across systems and departments
                </li>
            </ul>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-white c-grey--1000">
        <section id="western" tabindex="-1" class="container ht--p--14-075">
            <h2 class="ht--s--22 c-theme-primary-dark">
                Why Western Technical College Switched
            </h2>

            <img
                class="mb1 block c fr--sm"
                src="/images/pages/campaigns/box-western-lrg.png"
                alt="Western Technical College"
                loading="lazy"
                inline-img-dims
            />
            <p>
                As a former Diamond D institution, Western Technical College saw
                new challenges emerge in response to the changing needs of its
                students and the institution. As their student population grew,
                processes became more manually intensive. The lack of
                integration between the student information and CRM platform
                made reconciling the two systems more difficult as the
                institution tried to achieve their recruitment goals.
            </p>

            <p>
                From meeting strategic objectives to financial aid
                administration and roster and student accounts management, the
                institution needed to transform to a new solution, on their
                terms.
            </p>

            <p>
                The institution then turned to Campus Management to replace
                Diamond D and unite its departments and programs, automate
                processes and migrate their legacy data and integrations.
            </p>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <div class="c">
                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="/campaigns/why-campusmanagement-form/"
                            >Start Your Transformation
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <section id="western-video" tabindex="-1" class="container">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div
                        class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                    >
                        <iframe
                            data-src="https://www.youtube.com/embed/hXCoNT8di10?rel=0"
                            class="lazyload"
                            frameborder="0"
                            allowfullscreen
                            title="Hear About CampusNexus from Brad Kuykendall"
                        ></iframe>
                    </div>
                    <p class="l mb0">
                        Video: 2 Minutes, 44 Seconds
                    </p>
                </div>
                <div class="right mb1">
                    <h2 class="ht--s--22 c-theme-primary-dark">
                        Western Technical College Success Story
                    </h2>
                    <p class="c-grey--900">
                        Brad Kuykendall, CEO, Western Technical College
                    </p>
                    <p class="ht--p--14-075">
                        Hear why Western Technical College turned to Campus
                        Management to replace Diamond D and unite its
                        departments and programs, automate processes and migrate
                        their legacy data and integrations.
                    </p>
                </div>
            </div>

            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/docs/product-sheets/cmc/en-us/Why-Campus-Management.pdf"
                        target="_blank"
                        >Why Campus Management Brochure
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-white c-grey--1000">
        <section
            id="student-difference"
            tabindex="-1"
            class="container ht--p--14-075"
        >
            <h2 class="ht--s--22 c-theme-primary-dark">
                The CampusNexus Student Difference
            </h2>
            <img
                class="mb1 block c fr--sm"
                src="/images/pages/products/Info-student-difference.png"
                alt="The CampusNexus Student Difference"
                loading="lazy"
                inline-img-dims
            />
            <p>
                A proven, Microsoft-based student information system that:
            </p>

            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Provides a highly flexible platform for traditional and
                    nontraditional programs
                </li>
                <li>
                    Enables flexible terms and rolling starts while ensuring
                    regulatory compliance
                </li>
                <li>
                    Optimizes roster management, making it easy to create
                    courses that align with student needs and identify students
                    approaching program completion
                </li>
                <li>
                    Includes tightly integrated CRM to drive success across the
                    student lifecycle
                </li>
            </ul>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>

            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <section
            id="crm-difference"
            tabindex="-1"
            class="container ht--p--14-075"
        >
            <h2 class="ht--s--22 c-theme-primary-dark">
                The CampusNexus CRM Difference
            </h2>
            <img
                class="mb1 block c fr--sm"
                src="/images/pages/products/Info-crm-difference.png"
                alt="The CampusNexus CRM Difference"
                loading="lazy"
                inline-img-dims
            />

            <p>
                Integrated with CampusNexus Student, CampusNexus CRM helps you:
            </p>

            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Drive successful recruitment and retention through highly
                    responsive and personalized engagement and campaigns
                </li>
                <li>
                    Identify at-risk students and behaviors early (e.g.,
                    absences, missed meals)
                </li>
                <li>
                    Automate notification of advisors to engage with these
                    students
                </li>
            </ul>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-white c-grey--1000">
        <section
            id="fa-difference"
            tabindex="-1"
            class="container ht--p--14-075"
        >
            <h2 class="ht--s--22 c-theme-primary-dark">
                The Financial Aid Automation Difference
            </h2>
            <img
                class="mb1 block c fr--sm"
                src="/images/pages/campaigns/box-fa-lrg.png"
                alt="Financial Aid Automation"
                loading="lazy"
                inline-img-dims
            />

            <p>
                CampusNexus Student includes a powerful and proven financial aid
                automation engine that:
            </p>

            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    Automates exceptions management, disbursements, R2T4
                    calculations
                </li>
                <li>
                    Automates Loan Default Management Process (SSCR)
                </li>
                <li>Automates EdExpress and COD processing</li>
            </ul>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <section
            id="cloud-difference"
            tabindex="-1"
            class="container ht--p--14-075"
        >
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            data-src="https://www.youtube.com/embed/-QrNGQGoUzo?rel=0"
                            class="lazyload"
                            frameborder="0"
                            allowfullscreen
                            title="Youtube video - The CampusNexus Cloud Difference"
                        ></iframe>
                    </div>
                </div>
                <div class="right mb1">
                    <h2 class="ht--s--22 c-theme-primary-dark">
                        The CampusNexus Cloud Difference
                    </h2>
                    <p>
                        With CampusNexus<sup>®</sup>
                        Cloud, your institution gains rapid access to the most
                        dynamic higher education solutions from Campus
                        Management in a true SaaS model.
                    </p>
                    <ul class="list--normal">
                        <li>Subscription-based (Software-as-a-Service)</li>
                        <li>Built on Microsoft Azure</li>
                        <li>Rapidly deployed</li>
                        <li>Expertly managed software delivery and support</li>
                        <li>
                            Optimally configured to your institution’s workflows
                            and processes
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
            </ul>
        </section>
    </div>

    <div class="bgc-white c-grey--1000">
        <section id="cmc-numbers" tabindex="-1" class="container ht--p--14-075">
            <h2 class="ht--s--22 c-theme-primary-dark">
                Why Campus Management
            </h2>
            <img
                class="mb1 block c fr--sm max-width-100"
                src="/images/pages/campaigns/box-cmc-numbers2-lrg.png"
                alt="Campus Management by the Numbers"
                loading="lazy"
                inline-img-dims
            />
            <h3 class="ht--p--400 ht--p--16 c-grey--900">
                Our People and Culture
            </h3>

            <p>
                Campus Management offers institutions unparalleled service and
                support through industry-recognized Professional Services,
                Consulting, and Customer Enablement Teams with decades of
                dedicated service to higher education. Where most service
                providers only focus on issues resolution, our trusted advisors
                are equally focused on optimizing Campus Management solutions
                and services based on each client’s unique challenges and goals.
            </p>

            <h3 class="ht--p--400 ht--p--16 c-grey--900">
                Campus Management by the Numbers
            </h3>

            <ul class="list--normal list--has-lead-in mb1">
                <li>
                    For 29 years, Campus Management has served higher education
                    institutions of every size and mission
                </li>
                <li>650+ global employees serving higher education</li>
                <li>
                    41% of employees hold Master’s degrees and 77% hold
                    Bachelor’s degrees
                </li>
                <li>
                    1 in 4 employees have 5+ years’ experience working at higher
                    education institutions
                </li>
                <li class="mb0">
                    11 Years average experience working in education technology
                </li>
            </ul>

            <a href="#page-top" class="block r clear smooth-scroll-link mb1"
                >Back to top
            </a>
            <ul class="pill-list pill-list--multiple pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/campaigns/why-campusmanagement-form/"
                        >Start Your Transformation
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/docs/product-sheets/cmc/en-us/Why-Campus-Management.pdf"
                        target="_blank"
                        >Why Campus Management
                    </a>
                </li>
            </ul>
        </section>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
