---
# <!-- @formatter:off -->
title: CampusInsight
alt--pt-br: /noticias-e-eventos/eventos/CampusInsight/
page-bg-image: /images/pages/news-and-events/events/campusinsight2019-bkg.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header class="c container container--2 c-white">
        <div class="max-width-66--sm block c mb1 mb2--sm">
            <div class="video-wrapper video-wrapper--16x9">
                <iframe
                    frameborder="0"
                    allowfullscreen
                    title="CampusInsight 2018 Highlights"
                    src="https://www.youtube.com/embed/yjUw8QSKwQo?rel=0"
                ></iframe>
            </div>
        </div>
        <h1 class="ht--s--38-45">{{title}}</h1>
        <p class="ht--p--16-22 mb0">
            Campus Management’s Annual Users Conference
        </p>
    </header>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--22-28 c-theme-primary-dark">
                CAMPUS MANAGEMENT ANNOUNCES CANCELLATION OF CI2020
            </h2>

            <p>
                The health and well-being of our clients, partners, and
                employees are a top priority as we face the global pandemic of
                Coronavirus (COVID-19). With this in mind, Campus Management has
                decided to cancel CampusInsight 2020, which was scheduled to
                take place in Grapevine, Texas in April.
            </p>
            <p>
                We were looking forward to getting together with you at the
                conference (we are still Better Together!) but your well-being
                remains our top priority during this challenging time. In the
                meantime, stay tuned for new On-Demand Education Resources for
                the solutions you use.
            </p>
            <p>
                Please know that we are working diligently to ensure that you
                continue to receive exceptional service as a valued partner, and
                we look forward to seeing you at CampusInsight 2021.
            </p>
            <p>
                If you have any additional questions or concerns, please contact
                us at
                <a
                    href="mailto:campusinsight@campusmgmt.com?subject=CI2020 Cancellation"
                    >campusinsight@campusmgmt.com</a
                >.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://www.campusinsight.com"
                        target="_blank"
                        rel="noopener"
                    >
                        Learn More
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/hRrE2fMAZRw?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <h2 class="ht--p--16-20 mb0">
                        CampusInsight 2019
                    </h2>
                    <p class="ht--s--22-28 c-theme-primary-dark">
                        Imagine. Innovate. Inspire.
                    </p>
                    <p>
                        Our theme for CampusInsight 2019 reflects how more
                        institutions are working diligently to reimagine their
                        business models and processes and leveraging technology
                        to provide students greater opportunities and
                        flexibility for achieving their goals.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--300 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys alt-row">
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Reflections on the Future
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2018
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/9DohsArn4bM"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Transformation in the Cloud
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2017
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/-QrNGQGoUzo"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Destination Excellence: Driving Performance
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2016
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/mh1NXp8LnkE"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Super Storm of Challenges
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2014
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/6_j370kU5pI"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Partners for Progress.
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2013
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/oHXs-ZbZJvo"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            My Story
                        </span>
                        <span class="block ht--p--16-20">
                            CampusInsight 2011
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="https://youtu.be/enrl0z0etgg"
                        target="_blank"
                        rel="noopener"
                        >Play Video
                    </a>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
