---
# <!-- @formatter:off -->
title: Events
banner-image: /images/pages/news-and-events/events/Banner_events.png
alt--pt-br: /noticias-e-eventos/eventos/
additional-stylesheets:
    - href: /styles/pages/news-and-events__events.css
      inline: true
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-image--xs: /images/pages/news-and-events/events/events-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Campus Management is a major sponsor and contributor to industry
                conferences and events. Join us at the conferences listed below.
            </p>
        </header>
    </div>
    <div class="bgc-white">
        <div class="container container--2">
            <ul class="events-list">
                <li>
                    <p class="b c-grey--800 mb0 events-list__time">
                        July 29-31, 2020
                    </p>
                    <p class="events-list__place">
                        AFIT Summer Institute
                        <br />
                        Virtual Conference
                        <br />
                    </p>
                </li>

                <li>
                    <p class="b c-grey--800 mb0 events-list__time">
                        August 14, 2020
                    </p>
                    <p class="events-list__place">
                        AICUO Collaborative Conference
                        <br />
                        Westerville, Ohio
                        <br />
                    </p>
                </li>

                <li>
                    <p class="b c-grey--800 mb0 events-list__time">
                        October 26-29, 2020
                    </p>
                    <p class="events-list__place">
                        EDUCAUSE Annual Conference
                        <br />
                        Boston, Massachusetts
                        <br />
                        Booth # 1000
                        <br />
                    </p>
                </li>

                <li>
                    <p class="b c-grey--800 mb0 events-list__time">
                        November 1-3, 2020
                    </p>
                    <p class="events-list__place">
                        Eduventures Summit
                        <br />
                        Boston, Massachusetts
                        <br />
                    </p>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
