<section id='webcasts'>
    <div class='container container--2'>
        <h2 class='section-label ht--s--30-46'>
            On-Demand Webinars
        </h2>
    </div>

    <div class='bgc-grey--200'>
        <div
            class='container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys'
        >
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28  c-theme-primary-dark'>
                    Attract &amp; Onboard Personnel with New Talent Management
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/attract-onboard-personnel-with-new-talent-management'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28  c-theme-primary-dark'>
                    What Blockchain Means to Higher Education
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/what-blockchain-means-to-higher-education'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28  c-theme-primary-dark'>
                    Transforming Student Success with Occupation Insight
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/transforming-student-outcomes-with-occupation-insight'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
        </div>
    </div>

    <div class='bgc-grey--300'>
        <div
            class='container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys alt-row'
        >
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28 block bottom c-theme-primary-dark'>
                    Transforming Business Intelligence with Microsoft Power BI
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/transforming-business-intelligence-with-microsoft-power-bi'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28  c-theme-primary-dark'>
                    CampusNexus Engage: Higher Education’s Intelligent CRM Platform
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/higher-educations-intelligent-crm-platform'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
            <div class='flexcol'>
                <p class='category'>
                    On-Demand Webinar
                </p>
                <h3 class='ht--s--22-28  c-theme-primary-dark'>
                    Uniting Your Systems in the Cloud: Integration Challenges and Solutions
                </h3>
                <a
                    class='pill-button block bottom c'
                    href='https://info.campusmanagement.com/uniting-your-systems-in-the-cloud'
                    target='_blank'
                    rel='noopener'
                >
                    View
                </a>
            </div>
        </div>
    </div>

    <div class='bgc-white'>
        <div class='container c'>
            <a
                class='pill-button'
                href="{{url-lang-prefix}}/higher-education-resources/webcasts/"
            >
                View All
            </a>
        </div>
    </div>
</section>
