<div class='bgg-theme-primary-to-theme-primary-light reverse c-white'>
    <div class='container container--color-boxes box-v4 box-v4--1-1'>
        <div class='left box-v4 box-v4--1-2 bgc-theme-primary-light'>
            <div class='left'>
                <img
                    class='max-width-100'
                    src='/images/pages/resources/box-resources-blue-sky-thinking.png'
                    alt='Higher Education in the Cloud'
                    loading='lazy'
                    inline-img-dims
                />
            </div>
            <div class='right'>
                <p class='ht--p--14 mb0'>
                    White Paper
                </p>
                <h2 class='ht--s--44'>
                    <span class='ht--s--36 c-black'>
                        Higher Education in the Cloud:
                    </span>
                    Real Value vs. Blue-Sky Thinking
                </h2>
                <p class='ht--p--16-20'>
                    Learn why early adopters of cloud-based SIS and ERP solutions see the cloud as a critical platform
                    for transforming their institutions.
                </p>
                <a
                    class='pill-button c'
                    href='https://info.campusmanagement.com/higher-education-in-the-cloud'
                    target='_blank'
                    rel='noopener'
                >
                    Download Whitepaper
                </a>
            </div>
        </div>
        <div class='right box-v4 box-v4--1-2 bgc-theme-primary'>
            <div class='left'>
                <img
                    class='max-width-100'
                    src='/images/pages/resources/box-resources-5--steps-implement-cloud.png'
                    alt='Implementing in the Cloud'
                    loading='lazy'
                    inline-img-dims
                />
            </div>
            <div class='right'>
                <p class='ht--p--14 mb0'>
                    Best Practices Guide
                </p>
                <h2 class='ht--s--44'>
                    <span class='ht--s--36 c-black'>
                        Five Critical Steps to Take Before
                    </span>
                    Implementing in the Cloud
                </h2>
                <p class='ht--p--16-20'>
                    Learn the most important steps institutions can take prior to cloud implementation to ensure a
                    successful migration.
                </p>
                <a
                    class='pill-button  c'
                    href='https://info.campusmanagement.com/five-critical-steps-to-take-before-implementing-in-the-cloud'
                    target='_blank'
                    rel='noopener'
                >
                    Download Guide
                </a>
            </div>
        </div>
    </div>
</div>

<div class='bgg-theme-primary-to-theme-primary-light c-white'>
    <div class='container container--color-boxes box-v4'>
        <div
            class='left box-v4 box-v4--1-2 bgc-theme-primary-light bgc--sm--theme-primary'
        >
            <div class='left'>
                <img
                    class='max-width-100'
                    src='/images/pages/resources/box-resources-drive-transformational-change.png'
                    alt='Higher Education in the Cloud'
                    loading='lazy'
                    inline-img-dims
                />
            </div>
            <div class='right'>
                <p class='ht--p--14 mb0'>
                    White Paper
                </p>
                <h2 class='ht--s--44'>
                    Driving Transformational Change
                    <span class='ht--s--36 c-black'>
                        in Higher Education
                    </span>
                </h2>
                <p class='ht--p--16-20'>
                    Learn best practices used in the process of transforming institutions for growth and long-term
                    success.
                </p>
                <a
                    class='pill-button  c'
                    href='https://info.campusmanagement.com/driving-transformational-change-in-higher-ed'
                    target='_blank'
                    rel='noopener'
                >
                    Download Whitepaper
                </a>
            </div>
        </div>
        <div class='right bgc-theme-primary bgc--sm--theme-primary-light'>
            <p class='ht--p--14 mb0'>
                Industry Leader Insights
            </p>
            <h2 class='ht--s--44'>
                <span class='ht--s--36 c-black'>
                    Transform Recruitment to
                </span>
                Exceed Goals
            </h2>
            <p class='ht--p--16-20'>
                Find out how Baker University used CRM to increase its enrollment 17% in one year.
            </p>
            <a
                class='pill-button  c'
                href="{{
                    url-lang-prefix
                }}/higher-education-resources/insights/how-to-transform-recruitment-to-exceed-goals-with-crm-insights/"
                target='_blank'
                rel='noopener'
            >
                Learn More
            </a>
        </div>
    </div>
</div>
