<section id='best-practices'>
    <div class='container container--2'>
        <h2 class='section-label ht--s--30-46'>
            Best Practices Guides
        </h2>
    </div>

    <div class='bgg-grey-200-to-grey-300 reverse'>
        <div class='container container--color-boxes'>
            <div class='box-v4 box-v4--flex-1-2 box-v4--greys alt-row'>
                <div class='flexcol min-height-7'>
                    <p class='ht--p--16-20 mb0'>
                        Best Practices Guide
                    </p>
                    <h3 class='ht--s--22-28 c-theme-primary-dark'>
                        Still Fear Moving to the Cloud?
                    </h3>
                    <a
                        class='pill-button c block bottom'
                        href='https://info.campusmanagement.com/still-fear-moving-to-the-cloud'
                        target='_blank'
                        rel='noopener'
                    >
                        Get Guide
                    </a>
                </div>
                <div class='flexcol min-height-7'>
                    <p class='ht--p--16-20 mb0'>
                        Best Practices Guide
                    </p>
                    <h3 class='ht--s--22-28  c-theme-primary-dark'>
                        5 Ways to Maximize Student Success with CRM
                    </h3>
                    <a
                        class='pill-button block bottom c'
                        href='https://info.campusmanagement.com/five-ways-to-maximize-student-success-with-crm'
                        target='_blank'
                        rel='noopener'
                    >
                        Get Guide
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class='bgg-grey-200-to-grey-300'>
        <div class='container container--color-boxes'>
            <div class='box-v4 box-v4--flex-1-2 box-v4--greys'>
                <div class='flexcol min-height-7'>
                    <p class='ht--p--16-20 mb0'>
                        Best Practices Guide
                    </p>
                    <h3
                        class='ht--s--22-28 c-theme-primary-dark'
                    >
                        5 Critical Steps to Take Before Implementing in the Cloud
                    </h3>
                    <a
                        class='pill-button block bottom c'
                        href='https://info.campusmanagement.com/five-critical-steps-to-take-before-implementing-in-the-cloud'
                        target='_blank'
                        rel='noopener'
                    >
                        Get Guide
                    </a>
                </div>
                <div class='flexcol min-height-7 hidden-xs'>
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</section>
