<section class='bgc-theme-primary-light'>
    <div class='container container--color-boxes box-v4 box-v4--flex-1-3'>
        <div class='bgc-theme-primary-light'>
            <div class='ht--s--22 c c-white'>
                Lancaster Bible College
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    We are confident that CampusNexus will enable Lancaster Bible College to continue to grow and serve
                    our students in a sustainable model.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Vince Johnson
                    </div>
                    <div class='testimonial__author__title'>
                        VP of Technology
                    </div>
                    <div class='testimonial__author__company'>
                        Lancaster Bible College
                    </div>
                </div>
            </div>
        </div>
        <div class='bgc-theme-primary'>
            <div class='ht--s--22 c c-white'>
                Mercy College
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    CampusNexus CRM allows us to capitalize on our own internal data to better understand constituent
                    needs and build programs that help students achieve their educational and post-graduation goals.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Todd Pratella
                    </div>
                    <div class='testimonial__author__title'>
                        Director of IT
                    </div>
                    <div class='testimonial__author__company'>
                        Mercy College
                    </div>
                </div>
            </div>
        </div>
        <div class='bgc-theme-primary-light'>
            <div class='ht--s--22 c c-white'>
                Bridgepoint Education
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    I'm also excited about CampusNexus and what it brings in terms of a next generation technology
                    solution.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Tom Ashbrook
                    </div>
                    <div class='testimonial__author__title'>
                        Executive VP and CIO
                    </div>
                    <div class='testimonial__author__company'>
                        Bridgepoint Education
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
