<section class='bgc-theme-primary-light'>
    <div class='container container--color-boxes box-v4 box-v4--flex-1-3'>
        <div class='bgc-theme-primary-light'>
            <div class='ht--s--22 c c-white'>
                Lancaster Bibble College
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    Tenemos la confianza que CampusNexus permitirá a Lancaster Bibble College continuar creciendo y sirviendo a los estudiantes con un modelo sustentable.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Vince Johnson
                    </div>
                    <div class='testimonial__author__title'>
                        VP de Tecnologia
                    </div>
                    <div class='testimonial__author__company'>
                        Lancaster Bibble College
                    </div>
                </div>
            </div>
        </div>
        <div class='bgc-theme-primary'>
            <div class='ht--s--22 c c-white'>
                Mercy College
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    CampusNexus CRM nos permite usar datos internos para entender mejor las necesidades de los prospectos o estudiantes, así mismo creamos programas para ayudar a los estudiantes a alcanzar sus metas educativas y de post-grado.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Todd Pratella
                    </div>
                    <div class='testimonial__author__title'>
                        Diretor de TI
                    </div>
                    <div class='testimonial__author__company'>
                        Mercy College
                    </div>
                </div>
            </div>
        </div>
        <div class='bgc-theme-primary-light'>
            <div class='ht--s--22 c c-white'>
                Bridgepoint Education
            </div>
            <div class='testimonial'>
                <p class='testimonial__quote'>
                    Nosotros estamos muy emocionados por que CampusNexus nos proporciona soluciones de próxima generación en términos de soluciones y tecnología.
                </p>
                <div class='testimonial__author'>
                    <div class='testimonial__author__name'>
                        Tom Ashbrook
                    </div>
                    <div class='testimonial__author__title'>
                        VP Executivo e CIO
                    </div>
                    <div class='testimonial__author__company'>
                        Bridgepoint Education
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
