<div class="bgg-grey-200-to-grey-300 c-grey--1000">
    <div
        class="container container--color-boxes box-v4 box-v4--flex-1-2-4 box-v4--greys reverse"
    >
        <div class="c flexcol">
            {{>[box-v3/us]}}
        </div>
        <div class="c flexcol">
            {{>[box-v3/brazil]}}
        </div>
        <div class="c flexcol">
            {{>[box-v3/india]}}
        </div>
        <div class="c flexcol">
            {{>[box-v3/uk]}}
        </div>
    </div>
</div>
