<h2 class='ht--s--20 c-theme-primary-dark'>
    India
</h2>
<p class='ht--p--14'>
    3rd Floor, Olympia/Building-01
    <br />
    Bagmane Tech Park, CV Raman Nagar,
    <br />
    Byrasandra, Bangalore-560 093, India
    <br />
    <br />
    +91 80 40394400
</p>
<a class='pill-button c bottom block hidden--en-in' href='/en-in/'>
    Website
</a>
