<section id='challenges-in-higher-ed'>
    {{#isnt show-header 'false'}}
        <div class='container container--2'>
            <h2 class='section-label ht--s--30-46'>
                Challenges in Higher Education Videos
            </h2>
        </div>
    {{/isnt}}
    <div class='bgc-white'>
        <div class='container youtube-player pb2--sm'>
            <div class='youtube-player__controller'>
                <p class='c'>
                    Select to View Video
                </p>
                <ul class='youtube-player__button-list'>
                    <li>
                        <button
                            class='active youtube-player__button youtube-player__button--marty'
                        >
                            Banff
                            <span class='youtube-player__video-url'>
                                //www.youtube.com/embed/wIPQfjSpD9Y?rel=0&autoplay=1&enablejsapi=1
                            </span>
                            <span class='youtube-player__quote-src'>
                                &ldquo;CampusNexus Occupation Insight shows the value of a four-year education and what it’s going to mean throughout their career.&rdquo;
                            </span>
                            <span class='youtube-player__author-src'>
                                <strong>
                                    Christian Hunhoff
                                </strong>
                                ,
                            CIO, Mount Marty College
                            </span>
                        </button>
                    </li>
                    <li>
                        <button
                            class='youtube-player__button youtube-player__button--clarks'
                        >
                            Banff
                            <span class='youtube-player__video-url'>
                                //www.youtube.com/embed/c3vMpeDyD2s?rel=0&autoplay=1&enablejsapi=1
                            </span>
                            <span class='youtube-player__quote-src'>
                                &ldquo;With the changes in what student, parents and employers expect, we needed a system that enables students to grow and develop personally.&rdquo;
                            </span>
                            <span class='youtube-player__author-src'>
                                <strong>
                                    Allen Dreyer
                                </strong>
                                ,
                            Executive Director of Administrative Services, Clarks Summit University
                            </span>
                        </button>
                    </li>
                    <li>
                        <button
                            class='youtube-player__button youtube-player__button--banff'
                        >
                            Banff
                            <span class='youtube-player__video-url'>
                                //www.youtube.com/embed/-ZJ74tDZMIs?rel=0&autoplay=1&enablejsapi=1
                            </span>
                            <span class='youtube-player__quote-src'>
                                &ldquo;For us it was about creating a sustainable IT department with predictable costs and keeping our systems up to date.&rdquo;
                            </span>
                            <span class='youtube-player__author-src'>
                                <strong>
                                    Bill Pearce
                                </strong>
                                ,
                            CIO, Banff Center for Arts and Creativity
                            </span>
                        </button>
                    </li>
                    <li>
                        <button
                            class='youtube-player__button youtube-player__button--divers'
                        >
                            Divers
                            <span class='youtube-player__video-url'>
                                //www.youtube.com/embed/AeLK6a8GnYg?rel=0&autoplay=1&enablejsapi=1
                            </span>
                            <span class='youtube-player__quote-src'>
                                &ldquo;As a small institution, having processes automated and running in daily batches is great for us.&rdquo;
                            </span>
                            <span class='youtube-player__author-src'>
                                <strong>
                                    Michelle Perrigo
                                </strong>
                                ,
                            Director of Compliance and Administration, Divers Institute of Technology
                            </span>
                        </button>
                    </li>
                    <li>
                        <button
                            class='youtube-player__button youtube-player__button--cac'
                        >
                            CAC
                            <span class='youtube-player__video-url'>
                                //www.youtube.com/embed/kUtBumeDpfw?rel=0&autoplay=1&enablejsapi=1
                            </span>
                            <span class='youtube-player__quote-src'>
                                &ldquo;With Campus Management putting processes in the cloud, I can use my IT staff for strategic projects.&rdquo;
                            </span>
                            <span class='youtube-player__author-src'>
                                <strong>
                                    Chris Wodka
                                </strong>
                                ,
                            Chief Financial Officer, Central Arizona College
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
            <div class='box-v4 box-v4--1_1'>
                <div class='left'>
                    <div class='video-wrapper video-wrapper--16x9'>
                        <iframe
                            class='lazyload youtube-player__video-iframe'
                            data-src='https://www.youtube.com/embed/wIPQfjSpD9Y?rel=0&autoplay=0&enablejsapi=1'
                            frameborder='0'
                            allowfullscreen
                            title='Youtube Video - Christian Hunhoff'
                        ></iframe>
                    </div>
                </div>
                <div class='right'>
                    <p
                        class='ht--s--22-28 hidden-xs youtube-player__quote'
                    >
                        "CampusNexus Occupation Insight shows the value of a four-year education and what it’s going to mean throughout their career."
                    </p>
                    <p class='ht--p--14-075 youtube-player__author'>
                        <strong>
                            Christian Hunhoff
                        </strong>
                        ,
                        CIO, Mount Marty College
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
