{{!whitepapers}}
{{#each this}}
 
    {{#ifModEq @index 2 0}}
        {{#unless @first}}
            </div>
            </div>
        {{/unless}}
        {{#ifModEq @index 4 0}}
            <div class="bgg-grey-200-to-grey-300">
                <div class="container box-v4 box-v4--1-1 container--color-boxes box-v4--greys">
        {{else}}
            <div class="bgg-grey-200-to-grey-300 reverse">
                <div class="container box-v4 box-v4--1-1 container--color-boxes box-v4--greys alt-row">
        {{/ifModEq}}
    {{/ifModEq}}

        <div class="{{#ifModEq @index 2 0}}left{{else}}right{{/ifModEq}} whitepaper">
            {{#if thumbnail}}
            <img
                class="whitepaper__img"
                src="{{thumbnail}}"
                alt=""
            >
            {{/if}}
            <div class="whitepaper__content">
                <h3 class="ht--s--22-28 c-theme-primary-dark">
                    {{title}}
                </h3>
                <p class="c-grey--800">
                    {{ description }}
                </p>
                <a
                    class="pill-button bottom block c"
                    href="{{fullUrl}}"
                    target="_blank"
                    rel="noopener"
                >Download
                </a>
            </div>
        </div>

    {{#if @last}}
        {{#ifModEq @index 2 1}}
        {{else}}
            <div class="right hidden-xs">&nbsp;</div>
        {{/ifModEq}}
        </div>
        </div>
    {{/if}}

{{/each}}
