{{#each this}}
    {{#ifModEq @index 2 0}}
        <div class="bgc-white">
            <div class="container box-v4 container--color-boxes">
    {{else}}
        <div class="bgc-grey--100">
            <div class="container box-v4 box-v4--1-2 container--color-boxes">
    {{/ifModEq}}
            <img
                alt=""
                src="{{thumbnail-v2}}"
                class="img-cover max-height-7--xs-only {{#ifModEq @index 2 0}}right{{else}}left{{/ifModEq}}"
                />
            <div class="{{#ifModEq @index 2 0}}left{{else}}right{{/ifModEq}}">
                <p class="category">{{safeValue typeTitle 'Case Study'}}</p>
                <h3 class="ht--s--30-46 c-theme-tertiary">
                    {{title}}
                </h3>
                <p class="ht--p--16-20">
                {{ description }}
                </p>
                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="{{fullUrl}}"
                            >View</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{/each}}
