<ul>
    <!-- @formatter:off -->
    <li><button
        type="button"
        data-action="prev"
        aria-label="previous"
        {{#unless prevEnabled}}disabled{{/unless}}
    >Prev</button></li><!--
    -->{{#each items}}<!--
    --><li><button
        data-action="{{page}}"
        class="{{#if active}}active{{/if}}"
        {{#if aria-label}}aria-label={{ariaLabel}}{{/if}}
        type="button"
        >{{text}}</button>
    {{/each}}</li><!--
    --><li><button
        type="button"
        data-action="next"
        aria-label="next"
        {{#unless nextEnabled}}disabled{{/unless}}
    >Next</button></li>
    <!-- @formatter:on -->
</ul>

