---
# <!-- @formatter:off -->
title: New Mexico Independent Community Colleges
menu-priority: 0.9
page-bg-image: /images/pages/demos/NMICC/NMICC-bkg-blue-2.jpg
page-bg-image--xs: /images/pages/demos/NMICC/NMICC-410x730-bkg-blue.jpg
pageCssClass: no-charms no-social
additional-scripts:
    - src: /scripts/page--has-carousel.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/demos--jjc.css
      inline: true
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
    <div
        class="container container--2 container--header container--header-with-img"
    >
        <header class="c c-white">
            <img
                class="block c mb1"
                src="/images/pages/demos/NMICC/NMICC-logo-circle.png"
                loading="eager"
                alt=""
                inline-img-dims
            />
            <h1 class="ht--s--38-45">
                New Mexico Independent Community Colleges (NMICC)
            </h1>
            <p class="ht--p--16-22">
                Empowering Students and Meeting Workforce Needs through the
                Shared Services Initiative
            </p>
            <p class="ht--p--16 mb0">
                Clovis | Central New Mexico | Luna | Mesalands | New Mexico Junior College | San Juan | Santa Fe | New Mexico Military Institute | Northern New Mexico | Western New Mexico
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Driving Student and Operational Success
            </h2>
            <p class="ht--p--16-22 mb0">
                In uncertain times and a rapidly evolving economy, New Mexico
                looks to its community colleges to empower students with the
                critical education, skills acquisition and job training they
                need to succeed. Through innovative solutions and a true
                partnership, Campus Management is committed to the NMICC Shared Services Initiative and its efforts to expand access and remove
                barriers to education for a wide diversity of students.
            </p>
        </div>
    </div>

	<div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Anthology – Committed to Advancing NMICC’s Vision
            </h2>
            <p class="ht--p--16-22 mb0">
                In July 2020, Campus Management, Campus Labs, and iModules joined together to create a bold and disruptive company, Anthology, which will revolutionize higher education. Anthology brings together the best people, solutions and expertise in higher ed to empower NMICC with the knowledge and data-driven insight it needs to drive student and operational success.
            </p>
        </div>
    </div>
	
	<div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Optimizing Resources through a Shared Services Model
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p class="ht--p--16">
                		Community colleges are the lifeblood of a state’s economy and workforce, but they are also facing unprecedented budgetary pressures, disruption and uncertainty about the future.  As a result, more are banding together on a shared platform as part of a consortium or affiliated network. Through a shared services model built on CampusNexus Student and the Microsoft Azure Cloud, NMICC member institutions can unite on a single, scalable IT infrastructure, gain greater insight from their data, and optimize local resources around student success.
            		</p>
					<p class="ht--p--16">
                		 For example, building on CampusNexus Student, Lancaster Bible College (LBC) is creating a shared services model for a network of faith-based institutions to foster collaboration, scalability, and operational efficiency.
            		</p>
                </div>
                <div class="right">
                    <div class="testimonial pb1">
						<p class="testimonial__quote">
							Institutions in the LBC Consortium will share a single instance of CampusNexus Student to gain efficiencies and cost savings over implementing and managing their own student information system.
						</p>
						<div class="testimonial__author">
							<div class="testimonial__author__name">
								Vince Johnson,
							</div>
							<div class="testimonial__author__title">
								CIO/VP IT,
							</div>
							<div class="testimonial__author__company">
								Lancaster Bible College
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Uniting Campuses, Programs and Communities with CampusNexus
                Student
            </h2>
            <p class="mb2--sm">
                With CampusNexus Student built on the latest Microsoft Azure
                Cloud technology, NMICC can unite campuses, departments, and
                staff, make data-driven decisions, support multiple academic
                models and flexible terms, automate financial aid, and grow
                programs and enrollment – all from the same SaaS platform. The
                solution also enables NMICC to cultivate meaningful
                relationships with students, graduates, and local employers to
                align programs with each community’s business needs and
                workforce development initiatives.
            </p>
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        data-src="https://www.youtube.com/embed/krLrHhGpdZo?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="CampusNexus Student"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4 box-v4--1-2">
            <img
                class="left max-410"
                src="/images/pages/demos/NMICC/guided-pathways.jpg"
                alt="Guided Pathways"
                loading="lazy"
                inline-img-dims
            />
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Empowering Students Through the Guided Pathways Solution
                </h2>
                <p>
                    CampusNexus Student includes a powerful Guided Pathways Tool
                    to help your students plan the most efficient path to their
                    desired outcome, including graduation and career success.
                </p>
                <ul
                    class="cmc-article__link-list cmc-article__link-list--centered"
                >
                    <li class="cmc-article__link-list-item">
                        <a
                            class="pill-button"
                            href="https://info.campusmanagement.com/empowering-students-through-campusnexus-student-and-the-guided-pathways-tool"
                            target="_blank"
                            rel="noopener"
                            >Learn More</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="container container--2-5">
            <h2 class="ht--s--22-28 c c-black">
                Consortium of 5 Oregon Community Colleges Selects Campus
                Management Suite of Solutions to Transform Student Experience
            </h2>
            <blockquote>
                <p class="c-white ht--s--22-28 mb1 mb2--sm">
                    “Our shared commitment to supporting Oregon’s economy by
                    preparing the workforce for current and future job markets,
                    not only brought our consortium together, but allowed Oregon
                    Coast Community College to select a modern system that would
                    not have been possible on our own.”
                </p>
                <footer>
                    <cite>
                        <div
                            class="testimonial__author--v2 c-black ht--p--14-075 i"
                        >
                            <div class="testimonial__author__name--v2 b">
                                Dr. Birgitte Ryslinge,
                            </div>
                            <div class="testimonial__author__title--v2">
                                President,
                            </div>
                            <div class="testimonial__author__company--v2">
                                Oregon Coast Community College
                            </div>
                        </div>
                    </cite>
                </footer>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Gaining Insight into Student Needs in Uncertain Times with
                CampusNexus Engage
            </h2>
            <p class="mb2--sm">
                NMICC goals include supporting student success through comprehensive services while promoting equity. This is especially critical as institutions respond to the impact of the global pandemic on students, especially those who may now be uncertain about their career paths or futures. With CampusNexus Engage, institutions are gaining a holistic view of each student’s unique needs to keep them engaged, informed and on track with their career goals.
            </p>
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        data-src="https://www.youtube.com/embed/NDFQvHwMoXA?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="CampusNexus Engage"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000" id="demos">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Providing Quality Programs Designed to Increase Employability
                with Occupation Insight
            </h2>
            <p class="mb2--sm">
                With CampusNexus Occupation Insight, NMICC gains a powerful
                integrated tool for aligning student skills and academic
                programs with the workforce development goals of each community
                college based on the latest local and regional labor-force data.
                Students also work with their advisors using the solution to
                tailor and add courses to their programs and customize curricula
                based on their career goals and industry needs.
            </p>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <img
                        class="box-item__img c"
                        src="/images/pages/products/OI-career-explorer-scrn.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                    <h3 class="c ht--s--22 c-grey--800">
                        Career Explorer Demo
                    </h3>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li
                            class="cmc-article__link-list-item cmc-article__link-list-item--hs-cta cmc-article__link-list-item--hs-cta--career"
                        >
                            <!--HubSpot Call-to-Action Code --><span
                                class="hs-cta-wrapper"
                                id="hs-cta-wrapper-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                ><span
                                    class="hs-cta-node hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    id="hs-cta-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                    ><!--[if lte IE 8]>
                                        <div id="hs-cta-ie-element"></div
                                    ><![endif]-->
                                    <a
                                        href="https://cta-redirect.hubspot.com/cta/redirect/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12"
                                        ><img
                                            class="hs-cta-img"
                                            id="hs-cta-img-380464f1-c824-40cf-b4f9-713b69fe1f12"
                                            style="border-width: 0px;"
                                            src="https://no-cache.hubspot.com/cta/default/2683119/380464f1-c824-40cf-b4f9-713b69fe1f12.png"
                                            alt="Explore Demo" /></a
                                ></span>
                                <script type="text/javascript">
                                    if (typeof hbspt !== 'undefined') {
                                        hbspt.cta.load(
                                            2683119,
                                            '380464f1-c824-40cf-b4f9-713b69fe1f12',
                                            {},
                                        );
                                    }
                                </script></span
                            >
                            <!-- end HubSpot Call-to-Action Code -->
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <img
                        class="box-item__img c"
                        src="/images/pages/products/OI-program-explorer-scrn.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                    <h3 class="c ht--s--22 c-grey--800">
                        Program Explorer Demo
                    </h3>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li
                            class="cmc-article__link-list-item cmc-article__link-list-item--hs-cta cmc-article__link-list-item--hs-cta--program"
                        >
                            <!--HubSpot Call-to-Action Code --><span
                                class="hs-cta-wrapper"
                                id="hs-cta-wrapper-40a78465-c163-4b36-9d58-88dd93598df6"
                                ><span
                                    class="hs-cta-node hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                    id="hs-cta-40a78465-c163-4b36-9d58-88dd93598df6"
                                    ><!--[if lte IE 8]>
                                        <div id="hs-cta-ie-element"></div
                                    ><![endif]-->
                                    <a
                                        href="https://cta-redirect.hubspot.com/cta/redirect/2683119/40a78465-c163-4b36-9d58-88dd93598df6"
                                        ><img
                                            class="hs-cta-img"
                                            id="hs-cta-img-40a78465-c163-4b36-9d58-88dd93598df6"
                                            style="border-width: 0px;"
                                            src="https://no-cache.hubspot.com/cta/default/2683119/40a78465-c163-4b36-9d58-88dd93598df6.png"
                                            alt="Explore Demo" /></a
                                ></span>
                                <script type="text/javascript">
                                    if (typeof hbspt !== 'undefined') {
                                        hbspt.cta.load(
                                            2683119,
                                            '40a78465-c163-4b36-9d58-88dd93598df6',
                                            {},
                                        );
                                    }
                                </script></span
                            >
                            <!-- end HubSpot Call-to-Action Code -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Ensuring Operational Effectiveness with CampusNexus Finance, HR
                &amp; Payroll
            </h2>
            <p class="mb2--sm ht--p--16-22">
                From optimizing and allocating resources to recruiting and
                retaining faculty and staff, CampusNexus Finance, HR & Payroll
                is aligned with the goal of the NMICC Shared Services Initiative
                to ensure operational effectiveness as campuses adapt and grow
                to meet student demand.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Industry-Recognized Innovation and Momentum
            </h2>

            <p>
                Our innovation in delivering solutions to higher education is reflected in the momentum we have seen in institutions joining our campus community. Campus Management was named the leading student information systems provider in the US higher education market for five consecutive years by The Tambellini Group.
            </p>
            <div class="testimonial pb1">
                <p class="testimonial__quote">
                    As modern student systems gain traction in the market,
                    Tambellini research shows that Campus Management is the
                    leading student system vendor overall for new placements.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">
                        Vicki Tambellini,
                    </div>
                    <div class="testimonial__author__title">
                        President and CEO,
                    </div>
                    <div class="testimonial__author__company">
                        The Tambellini Group 2019 Report
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-black mb2--sm">
                Arizona Community College Replaces ERP - Moves to the Cloud
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/dCMombH-ltk?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Youtube Video - Bill Pearce"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <p class="c-white ht--s--22-28">
                        “We have peace of mind because Campus Management is
                        taking care of the technical side for us, so we can
                        concentrate on making the software work for our
                        students.”
                    </p>
                    <div
                        class="testimonial__author--v2 c-black ht--p--14-075 i"
                    >
                        <div class="testimonial__author__name--v2 b">
                            Cameron Sanders,
                        </div>
                        <div class="testimonial__author__title--v2">
                            <em>Director of Enterprise Application Services</em>
                        </div>
                        <div class="testimonial__author__company--v2">
                            Central Arizona College
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
