---
# <!-- @formatter:off -->
title: Minnesota State
page-bg-image: /images/pages/demos/MNSCU/MNSCU-page-bkg-blue.jpg
page-bg-image--xs: /images/pages/demos/MNSCU/MNSCU-410x730-bkg-blue.jpg
pageCssClass: has-page-bg-image
additional-stylesheets:
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<article>
    <div class="cmc-article ">
        <header class="c c-white">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/demos/MNSCU/MNSCU-logo-circle.png"
                alt=""
            />
            <h1 class="ht--s--38-45 article__title">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="box-row">
            <div class="box-item box-item--info-box-v2 box-item--not-flex col-xs-12 pt2-5--sm pb2-5--sm">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    The Power of Partnership
                </h2>

                <p class="ht--p--16 box-item__text c-grey--800">
                    Welcome to the Minnesota State/Campus Management Partner site.  We are proud to partner with the institutions of MN State.  Campus Management offers powerful solutions that provide comprehensive views across campus of constituent engagement.  From prospects, applicants, students and alumni, Campus Management helps drive behavior to successful outcomes.
                </p>

				<p class="ht--p--16 box-item__text c-grey--800">
                    This site contains the basic information you may need regarding all products and services covered under the MN State Master Service Agreement.  Please reach out to us for further information.
                </p>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
                    Solutions
        </h2>
    </div>

	<div class="bgc-white">
        <div class="box-row">
			<div class="box-item box-item--no-min-height col-xs-12">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm">
                    CampusNexus Engage
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pt0 pb2--sm">
                <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                    Imagine an Intelligent Engagement Platform built on the Microsoft Platform
                </h2>
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    CampusNexus Engage is the Future of CRM Solutions.
                </h2>
                <p class="ht--p--16 box-item__text">
                    Learn about CampusNexus Engage and a higher education digital assistant for CampusNexus solutions,
                    built with Microsoft artificial intelligence and machine learning services.
                </p>
                <div class="c">
                    <a
                        class="pill-button box-item__link c"
                        href="/products/crm-for-higher-education/"
                        target="_blank"
                        rel="noopener"
                    >Learn More
                    </a>
                </div>
            </div>
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pt0 pb2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/N76SA3TtG9U?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="CampusNexus Engage"
                    ></iframe>
                </div>
            </div>

        </div>
    </div>

	<div class="bgc-grey--200 c-grey--1000">
        <div class="box-row">
			<div class="box-item box-item--no-min-height col-xs-12">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm">
                    CampusNexus Occupation Insight
                </h2>
            </div>
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pt0 pb2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="Occupation Insight"
                    ></iframe>
                </div>
            </div>
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pt0 pb2--sm">
                <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                    Imagine Helping Your Students to Look Beyond Graduation
                </h2>
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    CampusNexus Occupation Insight Delivers that Today.
                </h2>
                <p class="ht--p--16 box-item__text">
                    Learn how CampusNexus Occupation Insight leverages machine learning to predict needs, prescribe
                    actions and influence outcomes, while assisting your students to plan their futures beyond the
                    classroom.
                </p>
                <div class="c">
                    <a
                        class="pill-button box-item__link c"
                        href="/products/student-success-through-workforce-analytics/"
                        target="_blank"
                        rel="noopener"
                    >Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/Banner-contact-us.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Renewal Solutions
                </h2>
                <p class="ht--p--16 pb1">If you would like additional information on renewing one of the following solutions: Radius by Campus Management, Connect, Retain or CampusNexus CRM, please select the "More Information" button.</p>
                <a
                class="pill-button box-item__link"
                href="/demos/MNSCU/request-form/"
            >More Information
            </a>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
                    Partnerships
        </h2>
    </div>

    <div class="bgc-white">
        <div class="box-row">
            <div class="box-item col-xs-12 col-sm-8 pt2-5--sm pb2-5--sm pb0--xs-only">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Microsoft
                </h2>
				<p class="ht--p--16">
                    Campus Management has been named the 2018 Microsoft Global Partner of the Year Award Winner for Education. The company was honored among a global field of top Microsoft partners for demonstrating excellence in innovation and implementation of customer solutions based on Microsoft technology.
                </p>
            </div>
			<div class="box-item box-item--no-min-height col-xs-12 col-sm-3 pt2-5--sm pt0--xs-only">
                <img
                    class="box-item__img c mb0"
                    src="/images/pages/demos/MNSCU/microsoft-award.png"
                    alt=""
                >
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300 c-grey--1000 reverse">
        <div class="box-row">
            <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-6 bgc-grey--300">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Mongoose
                </h2>
				<p class="ht--p--16 box-item__text">
                    Radius by Campus Management and Connect integrate with Mongoose to offer two-way, integrated texting. You can easily get all your contact data loaded into Mongoose and begin reaching your students through their favorite channel – texting.
                </p>
                <a
                    class="pill-button box-item__link c"
                    href="/products/text-messaging/"
                    target="_blank"
                    rel="noopener"
                >More Information
                </a>
            </div>
            <div class="box-item box-item--info-box-v2 col-xs-12 col-sm-6 bgc-grey--200">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Full Measure Education
                </h2>
				<p class="ht--p--16 box-item__text">
                    Through the Full Measure Education platform, institutions create a higher level of engagement by gathering, understanding, and utilizing data related to student behavior and interests, at the same time increasing the impact of institutional staff members.
                </p>
                <a
                    class="pill-button box-item__link c"
                    href="https://fullmeasureed.com/"
                    target="_blank"
                    rel="noopener"
                >More Information
                </a>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
                    CampusInsight
        </h2>
    </div>

	<div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/MNSCU/ci2019-general-session.jpg"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Campus Management Users Conference
                </h2>
				<p class="ht--p--16 pb1">There’s something for everyone at CampusInsight — our annual users conference in Orlando. This premier event is a unique opportunity to attend informative breakout sessions, networking events, and product focused pre-conference training. Listed as one of the “10 Conferences You Should Attend…In 2018” by Forbes.com.</p>
                <a
                    class="pill-button box-item__link c"
                    href="https://www.campusinsight.com"
                    target="_blank"
                    rel="noopener"
                >More Information
                </a>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
                    Meet the Team
        </h2>
    </div>

	<div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/MNSCU/c-willette-headshot-140x140.jpg"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Cathy Willette
                </h2>
				<p class="ht--p--16 ht--p--400">Senior Account Manager</p>
				<p class="ht--p--16 pb1">Cathy is your main point of contact for Campus Management questions regarding new product solutions, renewal of current products, migration to new solutions, contract questions, escalation of product support concerns, and facilitating conversations with the consulting and support teams regarding how we can best help you meet your needs on campus. Cathy has worked with Higher Education institutions for 18 years, and is a proud MN resident and a former MN State system student. Cathy came to Campus Management from Hobsons, and has worked with the MN State system and individual schools since 2010.</p>
                <a
                class="pill-button box-item__link"
                href="mailto:cwillette@campusmgmt.com"
            >Contact Cathy
            </a>
            </div>
        </div>
    </div>

	<div class="bgc-grey--200 c-grey--1000">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/MNSCU/t-armer-headshot-140x140.jpg"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Tiffany Armer
                </h2>
				<p class="ht--p--16 ht--p--400 c-grey--800">Senior Account Executive</p>
                <p class="ht--p--16 pb1">Tiffany has served higher education for more than 13 years, with Campus Management, Oracle, Hobsons, and Embark helping universities improve recruitment and admissions practices, automate student services, increase engagement and retention, and ultimately improve institutional effectiveness. She began her career in higher education providing student support services and academic instruction at Fort Lewis College for 8 years.</p>
                <a
                class="pill-button box-item__link"
                href="mailto:tarmer@campusmgmt.com"
            >Contact Tiffany
            </a>
            </div>
        </div>
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
