---
# <!-- @formatter:off -->
title: Baker University Transforms Recruitment to Exceed Goals with CRM - Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="mb0 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        A Strategic Targeted Approach to Enrollment Management
    </p>

    <p>
        <strong>Andy Jett:</strong> Hello everybody. My name is Andy Jet. I am
        the Chief Information Officer here at Baker University and Kevin Kropf
        is here with me. And we are just going to dive right into our
        presentation and talk a little bit about how CRM has helped Kevin
        achieve those recruitment goals.
    </p>

    <p>
        <strong>Kevin Kropf:</strong> We came into last year for Class of Fall
        2013, really needing to turn around our enrollment numbers and after
        four kind of down years, we were able to do that. The Fall ’13 class was
        the highest in the last five years. It was 17 percent larger than the
        class in the Fall of ’12 and almost 30 percent higher than the low water
        market in 2010. Moving forward to this year, our application numbers
        continue to be well ahead of last year by about 15 percent and
        currently, our deposits are pretty much in line with where we were last
        year, or maybe even a couple ahead. I did not get a chance to check the
        mail today so hopefully we will have some more good news in there.
    </p>

    <blockquote>
        "Moving forward to this year, our application numbers continue to be
        well ahead of last year by about 15 percent"
    </blockquote>

    <p>
        And so going backwards a little bit in terms of what we did. Baker has
        been known for its innovation and, throughout its history, as the first
        university in Kansas founded in 1858. We were like a lot of
        denominational schools. We turned out a lot of preachers and teachers in
        the early years, but really in the 1980s, transformed itself a little
        bit with a little greater focus on science, on business areas, and still
        a strong education program. But then added a nursing school that has
        been a great draw for us. And then soon after that graduate programs in
        business and education. And that is what has led us to become this
        comprehensive university that we are today, with six campuses across
        Kansas and in the Kansas City metro area. And we have some famous alums
        that people probably recognize. People like Mike McCarthy, who is the
        head football coach of the Green Bay Packers, and Andrew Cherng, who is
        the Founder and CEO of the Panda Restaurant Group. But also folks like
        Candice Millard, who is a New York Times bestselling author, and then
        Kevin Mahogany, a jazz musician. So that is a little bit about the
        background of Baker. I think Andy wants to talk a little bit about more
        about some of the nuts and bolts and enrollment figures.
    </p>

    <p>
        <strong>Andy Jett:</strong> So the slide that you see now is based upon
        our iPad’s data from last fall. Our FTE count totally is 2,299. Again,
        as Kevin stated, we have four schools, the College of Arts and Sciences,
        which is our residential traditional campus. It is in a rural community
        of Baldwin City. Our School of Nursing is a BSN program located in
        Topeka as part of the Stormont-Vail Hospital system. Our School of
        Education splits its time between both the traditional campus and the
        Graduate Program campus in multiple locations across Kansas, Missouri
        and fully online programs. And then last but not least is our School of
        Professional and Graduate Studies. This is an accelerated adult program
        that carries undergraduate and graduate programs in business,
        leadership, mass media, criminal justice and the liberal arts.
    </p>

    <blockquote>
        "I really think that collaboration is going to be a key for now and for
        the far future"
    </blockquote>

    <p>
        <strong>Kevin Kropf:</strong> So a little bit about what we want to talk
        today in regards to Lisman and CRM systems is how to leverage CRMs for
        targeted campaigns and engagements. And really how we can build that
        into continuous improvement so that we are always looking forward to
        what we can do better each time that we go through this process. And how
        we can make technology work for us. We also want to talk about
        increasing accountability. I know that is a buzz word these days,
        accountability. And how we can kind of plan work for admissions
        counselors and then know that it is being done. And then the last thing
        is really the partnership that the admissions office and the IT
        department here at Baker have forged and how that can be a model for
        other institutions, because I really think that collaboration is going
        to be a key for now and for the far future and it allows us to maximize
        each other’s strengths.
    </p>

    <p>
        <strong>Andy Jett:</strong> So we wanted to give you a little bit of a
        perspective of why did Baker move to Talisma CRM. Well prior to 2011, we
        used an old, very old version of EMAS. And at the time, going back to
        Kevin’s point about collaboration across campus, IT’s responsibility in
        the world of admissions was simply just to make sure the server was
        turned on every morning and was working. But any work done within this
        EMAS application was completely managed by the admissions staff and the
        folks in the office. And when we made the decision that we needed to
        move away from that, it was either we had to move to a bigger version of
        EMAS or more to something else. We needed a SQL based database that was
        not proprietary, meaning that we could get in and mess with the data,
        because our student information system was a SQL database. It is campus
        management’s SIS system. So we wanted to have something that we could
        integrate easily with. We wanted to move from an antiquated process to a
        more dynamic process and as a CRM.
    </p>

    <blockquote>
        "We needed improved communication planning, not only with our leads and
        students but internally within the team and within the university."
    </blockquote>

    <p>
        We had new leadership in Kevin coming into admissions, who had a
        different attitude and way of working with CRM. We needed a culture
        change in the admissions department, partly because of Kevin’s arrival
        and his change in management style and work processes. And we knew that
        the existing software was not going to be able to manage that type of
        dynamic change. We needed improved communication planning, not only with
        our leads and students but internally within the team and within the
        university. And we needed to create some accountability tools and I will
        speak to that. At a small institution like ours, we have to take
        advantage of all the resources and get as much efficiency out of them.
        And so tearing down walls and tearing down these silos and holding
        people in all areas of the university accountable was an important part
        of making this be successful. We also wanted to do a transition from a
        broad marketing approach to a more strategic targeted approach. Part of
        our commitment to our accrediting bodies was that we would create a
        strategic enrollment management plan. And part of that plan was to move
        to a more dynamic and manageable CRM platform that allowed us to have
        that plan and work that plan and be able to work the data and have the
        data to make those decisions from. And also the last thing was we wanted
        to create a partnership between admissions and marketing and IT.
        Admissions is doing the work of recruitment. Marketing is doing the work
        of development of the recruiting materials. And obviously IT in
        developing the infrastructure and work flows that allowed them to do
        their job effectively.
    </p>

    <p>
        <strong>Kevin Kropf:</strong> One of the things I think it is important
        to point out is that when I came to leadership, I was also assuming a
        budget that was 25 percent smaller than what my predecessor had. And so
        we talked about culture change. Part of that is we needed to do things
        more effectively and more efficiently and so we were looking for a tool
        that would help us deliver that as quickly as possible. A big thing that
        we focused upon was really what we like to call rapid response. And
        really attending to students interests as quickly as possible. If we are
        meeting them on the road at a high school or at a college fair. It was
        not good enough anymore for those cards to come back at the end of the
        week, and then to be entered sometime in the next three weeks, and then
        for the U.S. mail to be able to get something out to them. We needed
        something that would happen a lot quicker than that. And we saw Talisma
        as an opportunity to do that. And so we talk about rapid response all
        the time. And now we try to get waves captured through iPad forms and
        that is entered and then emails are going to the students practically in
        real time. We also needed a tool that would allow us to be more
        systematic and strategic. In the past, we had events. We would gather
        things together, whether it was people or materials, etcetera, and then
        boom, we would have a mailing. And that could be put on hold because we
        did not quite have things or people at the right time. And so trying to
        have events in terms of our communication plan was really not effective
        and it really was not efficient. And so we wanted something that would
        allow us to do that. And we also wanted something that would allow us to
        reorganize some staff. We were a little overheavy on the operations side
        and little lighter on the recruitment side. And making this change
        allowed us to move some human resources around in addition to working
        with fewer financial resources.
    </p>

    <blockquote>
        "admissions staff now have access to working dashboards and data
        generation on their own"
    </blockquote>

    <p>
        <strong>Andy Jett:</strong> So what did that transition look like when
        we made the move. Well, beforehand, admissions controlled the
        application with no support from IT or marketing within the application.
        So all that work that went into managing EMAS was done solely within
        admissions. And there was no real involvement externally. Also at the
        time, one to two people were managing the software and all data that the
        reps or the directors needed had to come through those one to two
        people. So there was not – it was very difficult to share information
        and obviously we wanted to make that change. The transition occurred
        with a little over 1,000 hours in development work with Campus
        Management, the data importing from old and new, the configuration of
        the system, and the training and go live process on our first campus.
        And we focused, our immediate piece was to focus on the College of Arts
        and Sciences, our traditional residential campus because it was the
        campus that needed to have that change occur at the time. Afterwards and
        since we have been on Talisma, we have one shared position that is
        shared between admissions and IT. That individual is our main
        administrator for the software application and she reaches out to both
        IT and to Kevin and his admissions staff to make sure the processes and
        work flows all happen effectively. All admissions staff now have access
        to working dashboards and data generation on their own, meaning they do
        not need to go to an individual. They can learn how to pull reports and
        see what their next set of tasks are. They can see where their students
        and leads are in the process. And it is a much more dynamic and
        self-maintaining process for those admissions staff. Marketing also
        assists with the development of mailers and campaigns within the system.
        They can jump in there and actually build out the graphic for the
        mailers and assist to make sure that the branding is done effectively
        and stays consistent. And three-quarters position in IT is used to
        support the data importing and the systems admin role. So there is an
        individual that, a couple of different individuals, that portions of
        their job is designed to support the IT staff completely on back end of
        the system. And then also the data importing, as we buy lists from ACT
        and some of the other purchase lists that we do. We have data base
        managers that are able to import that data effectively and quickly.
    </p>

    <blockquote>
        "As we build the campaigns out, it is visual. It is a flow chart that
        makes sense to us."
    </blockquote>

    <p>
        <strong>Kevin Kropf:</strong> So how do you leverage the power of a CRM
        for targeted campaigns and engagements? For us, the real key word here
        was intentionality. You know, I came in and spoke with Andy about this
        and talked with the Campus Management folks, as they are on campus,
        about how we needed something that was going to help us be strategic,
        something that could be logical from our end, and would allow us to kind
        of target students in a way that we had not before. And again, the
        intentionality of planning it was really, I think, one of the most
        beneficial things for us. We knew with that smaller budget that we could
        not do business as usual, which before was spending almost two-thirds of
        the operations budget on print and postage. And I really thought that
        was outdated. I think we needed something that was a little bit more
        nimble. We needed some stuff that is electronic. We were not going to
        mail it to as many people. Again, that strategic component. We wanted to
        mail it to the people we thought were going to have the best reaction to
        the stuff that we wanted to send. Timing was critical. Previously, the
        timing was not really of essence. It was really how much stuff can we
        get out into the postal service. So all of this kind of came together as
        we wanted to build this logical process. And Talisma for us was great in
        that it offered some opportunity to build it visually. As we build the
        campaigns out, it is visual. It is a flow chart that makes sense to us.
        It was easy to kind of see that on our screens and say this is what we
        want to have happen. Or no this is not, let us move this around. How can
        we create this process that is going to work for us? And I think it is
        always good to review and assess and evaluate what you are doing and
        moving to a new CRM forced us to do this. In a sense, kind of start from
        scratch and say how do we want this to look in an ideal state? Can we
        insure that we are targeting the right students at the right time and
        looking at all aspects of that. And as I said before, we wanted that
        communication plan to be a process, not an event. It needed to be
        something that happened every day a little bit as opposed to something
        that happened every two weeks. Or let us time this up so it starts with
        March madness so that we can stuff envelopes and watch basketball games
        all day. We needed where something was happening every day. And we
        needed to be able to do this without having to pick up the phone and
        calling IT every five minutes. Before when we would have issues with
        EMAS, we are calling there and they did not have answers for us. And
        then we are calling and waiting to hear from somebody from San Diego and
        it was not efficient.
    </p>

    <blockquote>
        "We needed something that we could manage ourselves or that we could get
        the training necessary that we could manage ourselves."
    </blockquote>

    <p>
        We needed something that we could manage ourselves or that we could get
        the training necessary that we could manage ourselves. And we were able
        to do that. We wanted to impact how we communicate with students about
        campus visits. We wanted to impact our email flow and how can we track
        emails on a regular basis outside of counters having to go into a system
        and log and cut and paste every single email that they were sending. We
        needed some flexibility in our plan. If we needed a move date, we wanted
        to be able to move that easily without really impacting mailing
        schedules from our internal mail room or for the postal service. And
        what we found is that inserting new communication once we had these
        plans built out when really well. It was very simple to do, to add. It
        was easy to insure that people were getting things in the right time.
        This also helped us to look at cost effectiveness of different mailings
        as we kind of tracked, especially with campus visits, the number of kind
        of targets that we were sending out, and then the number who were
        attending. And looking up the cost of that, the ROI was important. And
        the other part I am hearing on the communication is segmentation. The
        way these campaigns have been built, we have been able to segment in
        ways that we could not before. And when I get a call from the Academic
        Dean that says, Kevin, we really could use some more students in our Art
        and Art History program, it was pretty easy for us to get some targeted
        communication out through specific ad hoc campaigns. And then the last
        thing I want to say kind of on the side is that the amount of data that
        we are able to collect really has allowed us the option to review kind
        of what we are doing and adjust. That whole idea of continuous
        improvement. We have a lot more data and we are able to analyze that
        kind of after the fact and see where we are effective and where we were
        not. And when we think about targeted campaigns and that planning, you
        know, we are always planning. The fact that we are getting close with
        our class for 2014 means that we are developing a lot more campaigns and
        making changing for fall ’15 and even for fall ’16.
    </p>

    <blockquote>
        "Talisma has taken a lot of that tracking out of the hands of the
        admissions counselor"
    </blockquote>

    <p>
        So another component here is Roy talking about increased accountability.
        And for enrollment driven institutions like Baker, where something of 70
        percent of our revenue comes from tuition, it is vital that we
        understand the role we play in that. And that we are held accountable
        for our actions. And as Andy mentioned, we needed a little bit of a
        culture change. We needed to do things differently. You know, the budget
        reduction, part of that meant we did not travel as much. And that was
        probably a good thing, because the admissions staff was visiting pretty
        much every school in Kansas twice a year. Some times that meant schools
        with 13 students were getting two visits from an admissions officer
        about 300 miles away from campus. That was not efficient and it
        definitely was not effective. We needed to become data driven. And I
        know that my boss that I report to and our trustees appreciate that the
        new level of data that we are able to provide. And I think that speaks
        to my accountability. But we also wanted to insure that we could plan
        work for the admissions staff and then be able to measure it. Campaigns
        dictate when actions should be taken and that can be tracked. I like to
        say if it was not tracked, it was not done. Talisma has taken a lot of
        that tracking out of the hands of the admissions counselor and they are
        able to do that with a couple of clicks as opposed to an awful lot of
        data entry. In a couple of clicks.
    </p>

    <p>
        You know, our ad hoc interactions and campaigns can be planned in
        advance. If we have an idea or we need to do additional outreach for a
        specific set of students, we can plan a one-off campaign for that. We
        can get that assigned to admissions counselors that are able to follow
        up with that. That is tracked. I can check in real time to see how
        counselors are doing and if they are kind of meeting their targets with
        that. And at the same time counselors have greater access to their
        information. The dashboards that Andy’s team has created have really
        allowed counselors to kind of see all of their students at the various
        aspects of the funnel. And I think that allows them to see again in real
        time kind of where they are towards their goals and also for them to
        plan activities that they would like to do to try to continue students
        down that funnel.
    </p>

    <blockquote>
        "When we talk about tracking interactions, I think the big key for that
        is that it is a lot simpler than what I have seen in other CRMs."
    </blockquote>

    <p>
        When we talk about tracking interactions, I think the big key for that
        is that it is a lot simpler than what I have seen in other CRMs.
        Sometimes it is clicks and it is drop down menus. Sometimes it is short
        data entry points. But it is really efficient and effective. The fact
        that the admissions staff can canvas offsite. We all have this loaded on
        our iPads or other kind of tablets that we may have. And we are able to
        use this effectively while on the road. I think it really speaks to
        better utilization of time when counselors are on the road. Before they
        were like, well I do not have access on the road. I guess I will not
        make phone calls tonight or if I do, I am going to have to log them when
        I get back to the office. Now, that excuse is gone. We can look students
        up, we can read applications, we evaluate applications through Talisma.
        So we can evaluate applications, we can follow up with students with
        email and phone calls, we can track those things.
    </p>

    <p>
        And the other part of this is it really has forced admissions staff to
        take the anecdotal out of the process. We are getting more data. So
        instead of hearing well, I had students tell me this, well show me.
        Where are these interactions? Let me see what you logged here and so
        students is two? Okay, that is one thing. Students is 20, students is
        50. That is something else. And so it really took that anecdotal aspect
        out of that a little bit better because we have more data and towards
        our being data driven.
    </p>

    <blockquote>
        "it makes it easier for me to report to the admissions staff and to
        communicate kind of where we are with things."
    </blockquote>

    <p>
        A great thing again for me is it is a whole lot easier for me to report
        both up and down the line. With the data we are collecting, with the
        analysis tools that are in here, it makes it easier for me to report to
        the admissions staff and to communicate kind of where we are with
        things. But then I can turn around and communicate to my boss, to the
        President, to the Board of Trustees about where things are. One of my
        favorite things about Talisma is that it is Excel based. And I love
        Excel. I love manipulating data in Excel. And that has really proven to
        be a great tool for me in terms of teaching admissions counselors how to
        manipulate data in Excel. And so that speaks to that. I think the fact
        that it is SQL based allows IT to really support our department with
        their skill set in a way that was not possible before.
    </p>

    <p>
        And I guess the last thing I would say is that we have been able to dote
        out key performance indicators out of this. And that is something that
        has come from our Board of Trustees. That they have really asked for key
        performance indicators across our campus. It is not just in the
        admissions office. It is in human resources, it is in our growth
        committees, it is in our development office. And this will allow
        students or admissions counselors to see kind of where they are towards
        their targets. And I think it is important when you build in
        accountability. It is just not enough to say hey, we need more. It is
        really saying here is the goals that we have set, analyzing data in the
        past. And here is kind of where we are towards those. And at least I
        think some better conversations with admissions counselors about where
        they are and the steps they need to take to get to where we need to be.
    </p>

    <blockquote>
        "that form then submits into Talisma an interaction that flows in and a
        ticket is automatically created"
    </blockquote>

    <p>
        <strong>Andy Jett:</strong> So let me take you down a little bit of a
        different path and away from recruitment and to IT Helpdesk. We have
        been able to leverage Talisma as well to hold my staff accountable to
        all of the Helpdesk work that we do. And given that we have students all
        across multiple states online and we have different geographic locations
        of our offices. I also have IT staff that are spread across multiple
        campuses, so sometimes they are supporting the Helpdesk but they are not
        easily accessible. They are physically on the campus. So what we saw was
        the ability to manage interactions and the data around those
        interactions. Where we could really be effective at identifying problem
        areas. So we have an online form for staff, faculty and students to use.
        And that form then submits into Talisma an interaction that flows in and
        a ticket is automatically created with auto generation of emails back to
        the individual who put the ticket in. They are then able to know that
        that ticket is being worked and has a ticket number to hold us
        accountable if they have problems. And we have a couple of individuals
        that then work throughout the day to assign those tickets to the
        appropriate IT staff member based upon what the ticket tells us. Meaning
        a form tell us is this an email problem, is this a portal problem, is
        this a desktop problem, and so on and so forth. And that and a series of
        other questions that we ask drive where that ticket is going to be
        assigned. Once that ticket is assigned, it notifies the appropriate IT
        person either through an email to their desktop to let them know hey,
        you need to get into Talisma and work this ticket. Or they have a
        dashboard much like the recruiters do of their open tickets that they
        need to work. And we can also prioritize those tickets. And I as the CIO
        will sometimes run into the Talisma system and actually help prioritize
        those tickets. If I see issues that are showing up from individuals that
        need to have priority on the list, then I will move those up the
        priority list and so staff can get that immediate feedback from me.
    </p>

    <p>
        There is also canned responses that adds some efficiency to the common
        ticket process. So if we have an issue of I cannot log in, I do not
        remember how to log into my portal. Well, we have a canned response and
        instead of having to retype that response every single time we get that
        question, we just have canned responses that can go back and are easy to
        just simply click a button and it adds it to the interaction response.
        And they we are able to see how students then respond back to us. If
        they have continued questions, a reply comes back and it maintains that
        kind of inventory of responses that we shared with that individual. So
        that if I may have started the ticket with a person, but another
        individual in IT may have to take up helping that student later, they
        can look at what I did for that student and what that student shared
        earlier. And that helps drive some efficiency in the process. Now the
        team can see all tickets, not just their own. So they can jump in and
        assist us when we have a lot of tickets coming in. Monday mornings are
        also a big time. A lot of tickets from over the weekend. And so we jump
        in and we help each other push tickets out and get those things resolved
        quickly.
    </p>

    <blockquote>
        "that helps us slow those tickets down and train people on the
        appropriate things that they need"
    </blockquote>

    <p>
        As the managers of the Helpdesk and myself, we can review efficiency and
        effectiveness of our team members. We can look at how long it takes for
        resolution of the tickets to occur. We can look at how many tickets are
        being resolved on a daily basis. This helps us build some KPIs around
        the expectations I have of staff and I have of them responding to
        tickets. And then the reporting element is, as Kevin stated, pretty
        robust. And it helps us in developing training for common ticket issues.
        So if we see the same issue coming in time over time over time from a
        particular department or a particular individual even, we can kind of
        pull that knowledge out of there and say let us go develop a training
        session on how to use a particular aspect in Outlook. And we will have
        that session. And that comes from what we are seeing the tickets coming
        in on. And so that helps us slow those tickets down and train people on
        the appropriate things that they need instead of it just being kind of a
        shotgun approach.
    </p>

    <p>
        <strong>Kevin Kropf:</strong> When Andy came to me and started talking
        about a new CRM, I knew that we needed to build a partnership between
        our two departments. As I said earlier, I really think the future is
        going to require this type of collaboration between admissions offices
        and IT. And I knew we could not work harder and smarter without the help
        of a CRM that was logical. And to be strategic, we needed IT to be able
        to support us. And having worked in a number of different schools, I
        have seen all kinds of different interplay between IT and admissions.
        And Andy has been a great partner in that way. And when we looked at
        Talisma, Talisma was going to help us offer the multiple channels we
        needed to communicate with students. We know students are living on
        their mobile devices and we just cannot do telecounseling anymore. We
        need to be able to communicate them – email, texting. You know, both of
        those are huge for us in communicating with students. And we did not
        have that expertise in our office. We did not have the ability to kind
        of manage expectations, let alone build the infrastructure necessary to
        create a system that was going to lead to a small type channel
        communication. And so while, yes, getting started with building
        campaigns and utilizing more and more tools of Talisma, we needed help
        with troubleshooting too. And a great example of that is, and I do not
        know what the true cause of this was, but on my computer only, when I
        would log into Talisma, I would get multiple error messages. And it
        turned out it was a problem with one of our servers here. And the next
        thing you know, IT creates a workaround for me to insure that I get a
        server that does not create these errors. And for nine months, I used
        that. That worked really well for us when we turned over to a new
        upgrade and that problem went away. But that was I think one example of
        that working.
    </p>

    <blockquote>
        "Talisma was going to help us offer the multiple channels we needed to
        communicate with students."
    </blockquote>

    <p>
        We also, as everyone knows, you have to have clean data. The quality of
        the data is imperative. If you are going to do segmented communications,
        you need to know that your data is clean. And through this partnership,
        Andy’s side, the IT side, really does help us with monitoring the
        quality of that data. And in looking at the attendees here, I see
        institutions that are a lot larger than us in terms of their volume and
        I know you know the importance of quality data. And to have that kind of
        partnership to know that IT kind of has our back and is able to double
        check a lot of our data entry here, allows me to be confident that the
        data we have is accurate and clean.
    </p>

    <p>
        And then it is just the idea of training. And we on a regular basis as
        we meet, we talk about what else do we need to know from Talisma or hey,
        when I was playing around with this, I found this. Is there a way that
        we can all use this or can we build this out a little bit more. Or
        counselors are asking how can we develop a campaign just for my
        students? And this is kind of what I want to do. And so as we do that,
        we get together with Information Technology and Andy’s team and we do
        some training. And I am sure they have learned some things from us, but
        we are also discovering a lot of these things together. And as we have
        done that, I think that has really strengthened our office here. And you
        know, it is not that we do not continue to have needs. We do, and we
        know that there is a queue that is out there for prioritization, but I
        have been very happy with where we have been on that queue and how
        things are addressed. And I think if you are going to have a good
        partnership, I mean, there is some give and take. What I hope to keep
        giving Andy is more new students that he has to support through our
        infrastructure.
    </p>

    <blockquote>
        "Talisma’s data structure allows for there to be quite a bit of
        customization to and insertion of new fields and new data types."
    </blockquote>

    <p>
        <strong>Andy Jett:</strong> So our final thoughts we wanted to share
        with you is that when we purchased Talisma and brought it in house, we
        knew that there was a long term goals. But the short term goal was to
        simply get our CIS campus up and running from a recruitment standpoint.
        But we easily and quickly saw what else it could do for us. Because
        Talisma’s data structure allows for there to be quite a bit of
        customization to and insertion of new fields and new data types. It
        allows us to see that we have some opportunities in the areas of student
        services, career services, which is something we desperately need to do,
        especially for our graduate and adult programs. And then also physical
        plan. We got approached recently by our Director of Physical Facilities
        about running his ticketing system through Talisma, much like we do our
        Helpdesk for IT. And we quickly were able to kind of just draw it up on
        the board and know that we could deliver that into Talisma as a tool for
        them to be more effective. They are running into the same issues that
        all the departments are. Is they are having fewer staff and fewer
        resources and they need to be able to do their jobs better and more
        efficiently and this is something that we feel Talisma can help us do.
        So we are going to be implementing that across those non-recruiting
        areas.
    </p>

    <p>
        On top of that we just in the next ten days are going to be moving
        Talisma to the other campuses. So we are going to be moving our Graduate
        School of Education and one of our Wichita locations in Kansas to begin
        utilizing Talisma in much the same way that Kevin uses it in the
        recruitment area for the traditional campus. And we are also going to be
        starting a call center. An element, small as it may be, it will be a
        call center element. And we will be managing that through Talisma as
        well. So we see a lot of things we know we need to do and can do and we
        have just taken a very metered approach to making it happen. But we know
        it is a tool that we think we can use for quite some time because of the
        flexibility of the program.
    </p>

    <blockquote>
        "I really think that this is going to help us continue to achieve our
        enrollment goals."
    </blockquote>

    <p>
        <strong>Kevin Kropf:</strong> As the bullet says, a good communication
        plan is a process and changing to a new CRM was a process, not an event.
        And it has been that. I wish I could say that we had a celebration, we
        had a ribbon cutting and everything ran smoothly from there. It has been
        a process. And as we implemented this back in 2011, you know, we had
        some bumps along the way. But we worked through those and I think we had
        good support from Campus Management and certainly from IT office here.
        And we did not maybe see some of the benefits in terms of enrollment
        that first year, in part because one, recruitment of new students is an
        18 or 30 month cycle. And so students did not really get to have the
        full benefit of this but we were able to bring in a decent size class in
        that year. But really in year two, we really felt the effect of that.
        That meant that the kids who entered in the fall ’13 basically had
        Talisma serving them their entire recruitment process. And that is where
        I think we saw some of those benefits kick in. And that really means
        that I am excited about the future. And that we are continuing to find
        more and more ways to utilize our CRM, as Andy talked about. The
        implementing of the call center I think is going to be a great asset for
        us. And we talk about this all the time with my staff and that we do not
        work for technology. We need technology that works for us. And the goal
        of a good CRM is to make technology work for you and right now, that is
        definitely happening for us. And as we continue to find new ways to use
        this and new kind of aspects that we have not used before. And new
        reports that we can run. I really think that this is going to help us
        continue to achieve our enrollment goals.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
