---
# <!-- @formatter:off -->
title: Best Practices for Implementing Competency-Based Programs
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='best-practices-for-implementing-competency-based-programs'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <p>
                    Competency-based education (CBE) provides students with more
                    flexible and cost-effective ways to complete their degrees,
                    gives institutions more effective ways to assess learning,
                    and helps to address concerns from many employers about the
                    skill levels and readiness of recent college graduates.
                </p>

                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/g8bfEI5s41Y?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Best Practices for Implementing CBE"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: June, 2 2016
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered pill-list--multiple">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/insights/implementing-cbe-programs-insights/"
                        target="_blank"
                        >Review Insights
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/webcasts/best-practices-for-implementing-competency-based-programs-transcript/"
                        target="_blank"
                        rel="noopener"
                        >Review Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Rasmussen College (Minn.) is an early adopter of flexible,
                competency-based programs, and part of a network of colleges
                working with regional accreditors and the U.S. Department of
                Education to address shared challenges to designing, developing
                and scaling competency-based programs.
            </p>

            <p>
                Rasmussen’s program allows students to opt into competency-based
                learning assessments supported by interactive content and
                credentialed faculty coaches. Students have flexible time to
                finish these assessments and are able to show what they know as
                soon as they know it.
            </p>
            <p>
                Watch this web seminar to learn from two leaders at Rasmussen
                about the college’s CBE journey, and some best practices for
                implementing a CBE program at any institution, including the
                areas of course design, assessment, faculty and operations.
            </p>

            <h2 class="b c-grey--800">
                Topics include:
            </h2>

            <ul class="list--normal list--has-lead-in">
                <li>
                    Why CBE is a disruptive innovation in higher education
                </li>
                <li>The key considerations for creating a CBE program</li>
                <li>
                    The financial aid issues and standards being set at the
                    national level
                </li>
                <li>
                    How to determine if CBE is right for your institution
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Speakers
            </h2>
            <ul class="presenter-list mb0">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Tawnie Cortez</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Senior Vice President</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Rasmussen College</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Brooks Doherty</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Department Dean</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Rasmussen College</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
