---
# <!-- @formatter:off -->
title: Best Practices for Implementing Competency-Based Programs - Webcast Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="c-grey--900 mb0">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        How Rasmussen College Implemented a CBE Program
    </p>

    <p>
        <strong>Tawnie Cortez:</strong> This is an introduction to
        competency-based education as Rasmussen College learns and embarks on
        this venture with many others.
    </p>

    <p>
        Rasmussen College was founded in 1900. We are Minnesota based, but
        multi-sided. We have campuses in five other states in North Dakota,
        Wisconsin, Illinois and in Florida. We are accredited in the North
        Central Region and we work just with the Higher Learning Commission.
        From a credential perspective, we are baccalaureate degree granting and
        we are public benefit with a direct focus to serving the public good.
    </p>

    <blockquote>
        "We needed to combine the wisdom from institutions that have been the
        trend setters"
    </blockquote>

    <p>
        I want to share with you out of the gate that one of the first things we
        realized when we began to experiment and have conversations around
        competency-based education. We realized with great immediacy that there
        were so many things we simply did not know. We needed help. And we
        needed guidance and collaboration. We needed to combine the wisdom from
        institutions that have been the trend setters or the pace setters in
        competency-based education with others who were on their own journey in
        CBE. And so for us, collaboration is key.
    </p>

    <p>
        So we began with a number of areas that we are highlighting here today.
        But we did apply, were accepted and have been working with the
        Competency-Based Education Network, the folks known as CBEN. The CBEN
        colleagues have been an absolute wealth of information both for us
        personally and professionally, but certainly as an institution.
    </p>

    <blockquote>
        "CBEN really mines the wealth of the institutions that are working on a
        competency-based education process"
    </blockquote>

    <p>
        One of the guidance points we would give to folks is to watch for press
        releases and memos in the field. CBEN really mines the wealth of the
        institutions that are working on a competency-based education process
        and are in varying degrees of implementation. Also watch for the
        information that comes from those institutions through FAQs and
        checklists.
    </p>

    <p>
        One key topic, some that is already published in academic and delivery
        models, more information coming out in assessment, technology and
        services. Some time ago, CBEN published a full financial aid FAQ, which
        is incredibly helpful. So I would watch for those press releases and
        more as a real bit of information and guide post in that process.
    </p>

    <blockquote>
        "We also collaborated with EDUCAUSE through the Breakthrough Models
        Academy"
    </blockquote>

    <p>
        We also collaborated with EDUCAUSE through the Breakthrough Models
        Academy really seeking best practices in the field and opportunity to
        learn from some folks that are out there. And we did apply and were
        accepted as an experimental site in Limited Direct Assessment and Full
        Programs.
    </p>

    <p>
        As a result, the United States Department of Education provides guidance
        through their colleague letters and information in publications. So our
        encouragement would be for folks considering or along the path, to go
        out to all three of those. All three of those areas have been really
        fabulous guidance for us as an institution.
    </p>

    <p>
        The question then becomes why is CBE such a disruptor? Is it folks who
        have worked in competency for some time? When we embarked on this
        adventure, I was one of those folks who said oh my gosh, we have been
        talking about competencies in the classroom for years.
    </p>

    <p>
        There are other realities. So as we talk about competency-based
        education it is a disruptor and Brooks will spend more time talking
        about this because in our world today in American higher education, time
        is everything. We literally set up our terms in very specific time
        periods. At the end of that time period that is when we assess learning.
        We assess it along the way.
    </p>

    <p>
        But at the end we draw the line to determine how much learning has
        occurred. We measure everything in traditional, but also in online
        instruction in time on task. How fast does the student get to graduation
        and time to completion? We talk about everything in timeframe. We award
        credit hours and class hours. And we refer everything in ratios of time.
    </p>

    <blockquote>
        "competency-based education is a significant departure as it begins to
        reflect the concept of time"
    </blockquote>

    <p>
        We even and most specifically refund and award our financial aid based
        on last dates of attendance and percentages of time. As a result,
        competency-based education is a significant departure as it begins to
        reflect the concept of time. I am going to pass to Brooks now who is
        going to spend a good part of time about what competency models actually
        look like in non-time based instruction.
    </p>

    <p>
        <strong>Brooks Doherty:</strong> I am going to talk about the learning
        and what the faculty model looks like and some of the assessment.
        Branching off what Tawnie was just saying about time, when I was first
        introduced to competency-based education a few years back, an analogy
        that really helped me understand what exactly we were talking about, why
        it is such a disruptor and why it had the great potential to be such an
        important model is what you see in front of you.
    </p>

    <p>
        So if you think about the traditional and really clock based traditional
        way of learning in American higher education, you have constant time,
        which means constant instruction along the way. That equals variable
        learning. So what that means is a normal semester or class might be
        something like 14 weeks or 40 contact hours, presence with the faculty
        member and each step along the way and then variable learning meaning A,
        B, C, D, F.
    </p>

    <blockquote>
        "the student should be achieving competency, proficiency and mastery
        around this specific skill and how to demonstrate it"
    </blockquote>

    <p>
        With competency-based education that model is in some ways flipped. So
        really importantly at the heart of that you have variable time, constant
        learning, which means provided that the student does not give up the
        student should be achieving competency, proficiency and mastery around
        this specific skill and how to demonstrate it and then variable targeted
        instruction.
    </p>

    <p>
        I want to be really clear on the variable targeted instruction. What
        that means is there is going to be regular and substantive faculty
        interaction along the way. The question is how long is it going to take
        the student to achieve it? Thus, how much time will that student be
        spending with a faculty member? I was having a question about CBE with a
        friend of mine a couple of days ago. This friend has about 20 years’
        experience in the accounting field but never went to college.
    </p>

    <blockquote>
        "It is about the student showing what she knows as soon as she knows
        it."
    </blockquote>

    <p>
        And so an example for my friend if she were to enter a competency-based
        education accounting program and she would enter Intro to Accounting.
        She would have to spend probably very little time learning a bit of
        targeted instruction, but way less than me someone with an English
        background. So the learning is still there. It is about the student
        showing what she knows as soon as she knows it. But the question is how
        long is that going to take? So that is the essence of the model of
        competency-based education.
    </p>

    <p>
        I also do not mean to suggest that there is any single monolithic
        definition of competency-based education. I think as you hear from us
        and talk to other people in the field, if you are exploring
        competency-based education, you may find that it looks very different
        from institution to institution. And that does not necessarily mean that
        one institution is less CBE so to speak than the other. But as Tawnie
        mentioned, the institutions, including us, are still learning.
    </p>

    <blockquote>
        "regular and substantive faculty interaction is a really important tenet
        of this"
    </blockquote>

    <p>
        I think there really are at least tenets that are central to what
        competency-based education is. And so in most of the models across the
        field you will find these three things. So you are going to see
        flexible, non-linear learning, which really is a more student controlled
        learning environment whereby the student may be able to start at Point A
        and work through to Point Z in a flexible period of time. But if the
        student wants to start with G and then bounce back to A and then C, the
        student may have that ability to work that way as well in a non-linear
        flexible learning format. Again, regular and substantive faculty
        interaction is really central to this. And that is the thing that
        separates competency-based education from other modes of learning like
        PLA, for example. So regular and substantive faculty interaction is a
        really important tenet of this and we will talk more about the faculty
        moment in a moment.
    </p>

    <p>
        Then meaning and measurable assessment as well. One of the things that
        excites me most about competency-based education is its ability to
        really have consistent, valid and reliable measurement of what students
        know and how they demonstrate it. That has the ability to do great
        things for employability, for learning in the classroom and it also has
        the potential of spilling out into other ways of learning as well and
        just making all of our institutions better at meaningful and measurable
        assessment.
    </p>

    <p>
        So if I were to tie all this together, I would imagine you walking into
        a classroom for the first day. It is introduction to that semester’s
        learning. The professor is at the left turn and says welcome to class
        everyone. Here is the syllabus. Here are the expectations for the
        course. Here are the things that we are going to be learning and doing.
        By the way, here are all of your assessments, all of your tests that you
        are going to be taking throughout the term.
    </p>

    <blockquote>
        "you are working in a flexible and non-linear learning environment that
        really gives the student more control"
    </blockquote>

    <p>
        You can have them all right now. You can look into them. You can start
        working on them. Work at your own pace. We are going to be meeting here
        in this class with your peers and with me the faculty member throughout
        the term. But again, you are working in a flexible and non-linear
        learning environment that really gives the student more control as we
        start to take away emphasis on the clock.
    </p>

    <blockquote>
        "There is no single faculty model for competency-based education."
    </blockquote>

    <p>
        There is no single faculty model for competency-based education. I will
        say that a lot of institutions right now are using a so-called
        disaggregated or unbundled faculty model for competency-based education.
        So what that looks like in a lot of institutions is you take really the
        three main – that is not to say that these are the only three things
        that faculty do. Anyone who has been a faculty member or is a faculty
        member (and that is how I started at Rasmussen College was in the
        classroom) knows that faculty are doing many, many things to support and
        teach and learn with their students.
    </p>

    <p>
        The really important things are the three that you see in front of you
        here. So the instruction of content, the delivery of content and
        interacting with the students, the assessment of student work and then
        building the courses and building the programs or the content to support
        this. So this aggregated faculty model that we are using here at
        Rasmussen College, and other colleges are using as well, pulls those
        three components apart.
    </p>

    <p>
        And the student is interacting with one instructional faculty model in a
        CBE course or a CBE learning environment. That instructional faculty
        member is only interacting with students and content. So responding to
        student questions, delivering synchronous collaborative sessions,
        whether those are in person or online, and really being there and
        forming relationships for the student.
    </p>

    <blockquote>
        "you have the assessment faculty member who is really focusing on the
        meaningful, measurable assessment of student work"
    </blockquote>

    <p>
        Then separate from that, you have the assessment faculty. That is to say
        the instructional faculty does not grade student work. Separately you
        have the assessment faculty member who is really focusing on the
        meaningful, measurable assessment of student work and making sure that
        the student is demonstrating what the competency-based education
        learning experience expects and is giving rich, substantive and regular
        feedback to how they are performing. Then separately you have faculty
        who continue to do the work of building curriculum and course material
        for the competency-based education learning environment. So that is the
        disaggregated faculty model.
    </p>

    <p>
        You may be asking yourself why we need to pull these things apart. I
        will point to a couple really good reasons. Different institutions have
        different motivations for unbundling. But I will say two really
        important ones especially at Rasmussen College; one is increased
        objectivity of the assessment. Since the assessment faculty member is
        only interacting with the work and not the student, there is not that
        relationship to taint or bias the results of the assessment.
    </p>

    <p>
        That is one good reason. It increases the objectivity and the accuracy
        of the assessment. It’s not to say that the student does not have a
        relationship with a faculty member. The student is going to have a very
        good relationship with that instructional faculty member, but that
        relationship is not necessarily going to bias the assessment. So we are
        increasing the accuracy.
    </p>

    <blockquote>
        "unbundling gives the institution and the courses more flexibility to
        work with this non-linear format"
    </blockquote>

    <p>
        The second point is the unbundling gives the institution and the courses
        more flexibility to work with this non-linear format. When you have
        multiple people working in the same course, the same learning
        environment, you are better able to support students as they move
        through that learning experience and potentially unpredictable or at
        least non-linear fashion. So those are two really good reasons.
    </p>

    <p>
        I will say that we at Rasmussen College and a lot of other institutions
        are still working with this model. We are still testing it. We are still
        learning its strengths and weaknesses. And through CBEN and other
        partnerships, of course, we will be reporting back. And anyone who wants
        to check in with us and see how things are going, absolutely, we would
        love to have those conversations.
    </p>

    <p>
        We talked a lot about disruption and turning models on their ears and
        all of the change that potentially goes along with competency-based
        education programs, courses, whatever your experience may be. But let us
        not forget about the point why this innovation exists in the first
        place. It is not change for change’s sake or innovation for innovation’s
        sake. And also no one is suggesting that CBE is going to fully replace
        everything completely and it is going to take over in its entirety the
        traditional ways of learning.
    </p>

    <blockquote>
        "This is really about alternatives for students, alternative pathways
        for students to reach graduation"
    </blockquote>

    <p>
        This is really about alternatives for students, alternative pathways for
        students to reach graduation in students young and old. The 18 year olds
        right out of high school to the 35 year old that may have some college
        credit, but no degree, the students for whom the traditional system thus
        far has not worked for them. This is about the 37 million Americans
        according to the Lumina Foundation from a 2014 study, 37 million
        Americans with some college credit, but no degree. Thirty-one million of
        those are between the ages of 25 and 55. Those students in particular
        have some work experience that they can certainly apply to the classroom
        but no degree to show for it.
    </p>

    <p>
        This is about providing the alternative pathways to students so the
        United States can return to the top global position in completion rates.
        A lot of the modern momentum behind competency-based education dates
        back to 2009 when the Lumina Foundation came out and really challenged
        United States higher education to return to that top spot in global
        completion rates 2025. A couple of months later our then new president
        Barack Obama, in his first State of the Union Address, really doubled
        down on that and said he wanted to achieve that by 2020. So colleges are
        looking for innovation and alternate pathways.
    </p>

    <blockquote>
        "CBE has the ability to improve higher education beyond just the
        competency-based learning method."
    </blockquote>

    <p>
        CBE has the ability to improve higher education beyond just the
        competency-based learning method. We have the ability in general to do
        better, more accurate assessment, to be more flexible and meet the needs
        of our adult students so we can achieve higher learning outcomes, better
        learning outcomes, more graduation and start to close; that perceived
        skills gap that employers are talking about.
    </p>

    <p>
        This movement can help us become better designers and assessors of the
        student learning experience and more focused on the skills and
        knowledge. This represents both liberal and professional learning. It’s
        about the transferrable skills that come out of the liberal learning
        tradition, but also those workforce skills that students really need to
        flourish in the world.
    </p>

    <p>
        I am going to pass it back to Tawnie. The tone that we set at the
        beginning that I just want to remind everyone of is that this is not
        about us answering all the questions for you. This is about making sure
        that you at your institution are asking the right questions that need to
        be answered.
    </p>

    <p>
        <strong>Tawnie Cortez:</strong> As we embarked on this journey several
        years ago I think the very first time that I attended a professional
        conference, or it might have been a CBEN meeting, I walked in the door
        thinking okay here they are going to give me the answers. What I found
        out was they were going to ask me the questions. Here I was going to
        have to think about how this works for us an institution.
    </p>

    <p>
        So the approach that we have really taken is what are those points to
        ponder? If as an institution you are part of the way there, out 12
        months, out 24 months, not thinking about it at all or thinking about
        it, but have not embarked on yet, what is the thing you might want to
        consider as an institution?
    </p>

    <blockquote>
        "First and foremost, institutional culture and change is important."
    </blockquote>

    <p>
        First and foremost, institutional culture and change is important. We
        happen to work in an institution where we like change, sometimes to a
        fault. We like to problem solve. At one juncture in our lifetime, and it
        strikes us still today, an accreditation team said you really like to
        solve problems do you not? We live in that sort of culture. But it does
        not mean that it is easy.
    </p>

    <p>
        Being an institution that embraces change, as we think about new models
        to educate students, we think it is an important question. And to ask
        yourself and your institution, do you like to embrace change? What do we
        think is really fundamental to our mission and to delivering our
        mission? We are all mission driven institutions. But the direct focus is
        knowing what we need to do in the world as we serve our students and we
        serve the communities in which we live and work.
    </p>

    <p>
        What is fundamental to us? This is not negotiable. This is key to who we
        are. And what is the change in process? It is just the new way so really
        thinking about that process and that ability to make institutional
        culture shift and ability to manage.
    </p>

    <blockquote>
        "important questions to ask is will the existing curriculum work for
        competency-based education?"
    </blockquote>

    <p>
        <strong>Brooks Doherty:</strong> On the academic side some important
        questions to ask is will the existing curriculum work for
        competency-based education? That goes beyond just curriculum. That could
        go down to the level of which assessments will work for CBE. Which
        course content, which of our existing media will work for CBE? Basically
        what I was suggesting is if you are getting into this space where you
        want to explore the potentials of competency-based education at your
        institution, it is not always necessary to start from zero.
    </p>

    <p>
        You do not need to. You may have to. But you do not need to say okay,
        nothing that we have been doing over the last one hundred years has been
        working. That may not be the case. You may have some really good
        curriculum in place that is already mostly meaningful, measurable,
        actionable and conducive to competency-based education. You may have
        some really good assessments.
    </p>

    <p>
        Do not recreate something that is already very good. It is a waste of
        valuable time and most certainly a waste of resources. So evaluate your
        curriculum, your courses, your assessments and your competencies or
        course objectives to see what is going to work for competency-based
        education.
    </p>

    <p>
        What will the faculty model look like? Once you determine what that
        learning environment is, maybe your program selection, which student are
        you aiming to serve to teach and learn with the competency-based
        education? Then what will the faculty model look like? We talked about
        the disaggregated or unbundled model, which is one that is being
        employed at a number of different institutions right now? Is it right
        for your institution and the way that you want to deliver content? Will
        you award grades? If so, how?
    </p>

    <blockquote>
        "we need to make sure that how we are communicating learning makes sense
        to all of your stakeholders"
    </blockquote>

    <p>
        This is a really important one because as we build understanding within
        higher education, but also outside of higher education, we need to make
        sure that how we are communicating learning makes sense to all of your
        stakeholders. For example, if you build (as we have as Rasmussen
        College) a competency-based learning environment that grades students on
        a scale of zero to four with zero being you did not submit anything to
        four being mastery, how are you going to communicate that to students
        for whom this may be a new way of learning, and to faculty who may have
        a learning curve and also super importantly to employers?
    </p>

    <p>
        It is really important to remember that a lot of our students have
        tuition reimbursement opportunities. We need to make sure that that is
        being accurately communicated. Transfer of credit, we need to make sure
        that other institutions understand how you are teaching and learning.
        Let us not forget that communicating to all of our stakeholders is super
        important. And in a lot of ways that starts with grades. A related note
        is how are you going to transcript those competencies so that when the
        student graduates from the CBE program, what will the transcript look
        like?
    </p>

    <p>
        On one hand, as I said, tuition reimbursement, employers and other
        colleges may want to see letter grades because they understand that
        language. On the other hand, we are really trying to push the envelope
        on communicating not just what a B minus in American Literature means,
        but also what does the student know in terms of critical thinking, in
        terms of information literacy and digital fluency. So specific skills
        and how the student has demonstrated those over the years. Who advises
        the students and when, when the student has questions about curriculum,
        maybe about scheduling something outside of the classroom? What do those
        conversations look like?
    </p>

    <blockquote>"do not reinvent things if you do not have to"</blockquote>

    <p>
        This is another really good opportunity to remind yourself hey; maybe we
        do not have to change our current model at all. Maybe our current
        advising structure actually fits CBE and there is nothing that ties it
        to the clock right now. So again, do not reinvent things if you do not
        have to. And then will you need a partner to help build the CBE learning
        experience? I will tell you for a lot of institutions who are early
        adopters of competency-based education, they are partnering with someone
        to build the courses.
    </p>

    <p>
        We at Rasmussen College have partnered with Collegis Education. They
        have been a fantastic partner in helping us to develop our thinking,
        technology partners and really create the optimal experience for
        students. Other institutions are a partner and other folks as well. So
        again, do not think that you need to start from zero and do everything
        yourself. Explore all your options inside and outside your organization.
    </p>

    <p>
        <strong>Tawnie Cortez:</strong> As we look really at figuring out the
        instructional pieces and then really working to systems, service and all
        of those pieces of the puzzle, it pauses us to begin to think about how
        will students be admitted to the institution? It looks different for
        competency-based education. Will we have other kinds of requirements?
        Will we have ways in which we are able to gauge students’ abilities to
        work in a non-linear progression? What is it that we are looking to find
        out? It is an important puzzle and an important question to ask your
        institution. Obviously, we begin to look for programs. Brooks alluded to
        what kinds of courses. But what kinds of programs really lend themselves
        to a competency-based education environment?
    </p>

    <p>
        I know in our own environment we think a lot about programs where
        initially you might think gosh that does not apply well whether it is in
        health sciences or one of those types of programs. We have discovered as
        we begin to think more about it that there are a lot of opportunities
        where a student is almost ready to go out into the world to do
        internship work, but could just use another three weeks. And there are
        other students who quite honestly could have been ready six weeks ago.
        And so really challenging ourselves to think about what types of
        programs will make sense for our institution and for yours.
    </p>

    <p>
        How will you prepare students to be ready? What will things like
        orientation look like? How will we expose them to their new environment
        and make sure that they are prepared and have accurate expectations?
        Then obviously training with our admissions staff and the nuances and
        all of those types of things as we embrace competency-based education or
        begin to launch new programs is critical.
    </p>

    <blockquote>
        "Systems become an integral part of the process."
    </blockquote>

    <p>
        Systems become an integral part of the process. We alluded already to
        the academic calendar. It is likely from a systems perspective the first
        question. What are we going to use? Are we going to be term based? Are
        we going to be non-term based? Are we going to be non-standard term
        based? What does that look like? What will beginning and end dates be?
        And how does that work if it is a world in which we are unfamiliar?
    </p>

    <p>
        If we are required to measure attendance even in terms of financial aid
        reimbursement or if we happen to be in the states in the country that we
        refer to as attendance thinking states. If you are required to do so,
        how will you do so?
    </p>

    <p>
        As we think about non-term based, how do things like satisfactory
        academic progress work? And will the systems that we have support a
        process that is non-clock hour or less structured? What will those
        systems be? How will IT systems, student information systems and
        relationship management systems work in a competency-based environment?
    </p>

    <p>
        We do underscore every one of the questions about directly impacting the
        way we award, disburse and refund Title IV and state based financial
        aid. So an absolutely critical path that our partners cross functionally
        are working in institutions side by side. Financial aid with admission
        and services folks with our systems people so that we are solving
        together.
    </p>

    <blockquote>
        "So in light of all this, why do it? It is about improved student
        learning outcomes."
    </blockquote>

    <p>
        <strong>Brooks Doherty:</strong> So in light of all this, why do it? It
        is about improved student learning outcomes. It is about persistence. It
        is about completion and increasing completion for all students,
        especially those adult learners, the tens of millions with some college
        credit, but no degree. But it is also about maybe the 18 – 19 year old
        first generation college student. For those of you who have or have not
        read Amy Laitinen’s great essay “Cracking the Credit Hour.” Her story
        starts out by sharing the experience of an 18 year old student who is
        looking for a new way of learning that is going to get her a conferred
        degree and out into the world and workforce with this great learning
        under her belt.
    </p>

    <p>
        So in a lot of ways this is about the adult learner. But it does not
        just have to be. It is about completion for all. It is about job
        readiness, reducing student debt, employability, competencies, easier
        for employers to understand.
    </p>

    <p>
        So again, what has the student achieved based on what she or he has
        known? How is that being demonstrated and communicated in a transcript
        that all stakeholders inside and outside the classroom can understand?
        And then super importantly so students can speak to their skills, as
        well. So when they sit down with a potential employer to say here is
        what I am good at. Here is what I can offer your organization. After a
        class is over, can the student say yep, here is what I have learned?
        That is something that today students have vocalized they want to do a
        better job of. They want clear learning outcomes. And CBE I think can
        take us to the next level.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
