---
# <!-- @formatter:off -->
title: Chatham University Transforms Operational Efficiency
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='Chatham-University-transforms-operational-efficiency'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2 form-wall-video">
            <div class="block c max-width-66--sm">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class=""
                        src="https://www.youtube.com/embed/cbs8UmupZ3I?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Chatham University Transforms Operational Efficiency"
                        loading="lazy"
                    ></iframe>
                </div>

                <p class="l mb0">
                    Original Air Date: June 29, 2017
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Watch the webinar for a behind-the-scenes look at the
                institution that won Campus Management’s 2017 Excellence Award
                in Operational Efficiency. Hear from Jenna Godfrey, Manager,
                Administrative Systems and Lindsay Reznik, Campaign
                Administrator from Chatham University and learn how you can
                transform operational efficiency at your institution.
            </p>

            <p>
                The on-demand webinar highlights best practices and tips that
                can help your institution improve business processes that
                positively impact faculty, staff and students. Including how to:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>Improve academic scheduling efficiency</li>
                <li>Reduce data entry errors in enrollment management</li>
                <li>Eliminate manual processes</li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Jenna Godfrey</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Manager, Administrative Systems</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Chatham University</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Lindsay Reznik</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Campaign Administrator</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Chatham University</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--3-testimonials]}}
{{>[box-v3/combo--best-practice-7]}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
