---
# <!-- @formatter:off -->
title: Compete and Succeed with Knowledge Driven CRM - Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript  c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="mb0 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Karl Burgher, former Chief Strategy Officer at Indiana State
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Philosophy
    </h2>

    <p>
        <strong>Karl Burgher</strong>: First, a little bit of philosophy. I want
        to mention we are doing this at ISU. We started in 2012 – about
        mid-point in 2012 to get to pay some attention to what we are doing, I
        will give you a few of the end points. Before we go through the process
        is our retention is up 5.4% over the last two years. Our enrollment is
        the highest since 1972 and we are one of the few publics in the state to
        have enrollment increase this year and getting it as demographics go
        south on us it is getting us increasingly hard to attract and keep
        students. As the economy heats up that will even keep it harder for some
        of our colleges to keep students. Many of the students we find at some
        of these regional states might just be in the work forces than at
        college.
    </p>

    <blockquote>
        "If you are not using CRM I think you know you probably are going to be
        left behind."
    </blockquote>

    <p>
        If you are not using CRM I think you know you probably are going to be
        left behind. I also want to interject a little bit here about big data.
        We have heard about this now for a couple three, four years or so and
        the trade journals and the chronicle and all kinds of different ways.
        Big data, I had big data in the big mainframe four years ago when I was
        working on my research, my dissertation research. You know big data is
        no good unless you have at least some action even some little action, so
        big data with no little action is pretty much useless. We can have all
        the big data we want in the world but unless we take that data and use
        some sort of device to communicate to people on how to be successful it
        doesn’t do us a whole lot of good.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-top-border mb0-5">
        Choices – Choices - Choices
    </h2>

    <blockquote>
        "I argue again the technology is good, yes but it is all about people."
    </blockquote>

    <p>
        <strong>Karl Burgher</strong>: So choices, choices, choices. We have to
        make some choices to compete. It is just not a culture we have to choose
        – we have to wake up every day and we have to choose to compete and we
        have to run hard. Again, I have got my PowerPoint template circled here
        to point out a few things. I argue again the technology is good, yes but
        it is all about people. It is all about the management. In slide two we
        have to choose to manage. We have to choose to act and I mean actively
        manage. Our products and our campuses and our organizations are getting
        increasingly complex and if we don’t get organized project management
        those things up, manage people they are bound to fail. It is just not
        quite as simple as it used to be. So to point that out many
        organizations are like our circle in the middle there and the four
        frogs. Maybe you heard the quick story about the four frogs. There are
        four frogs sitting on a lily pad. Two of those frogs are faculty and two
        of those frogs are administrators. One faculty and one administrator
        decided to jump off the lily pad. How many frogs are left on the lily
        pad? This is my poll question. Talk amongst yourselves.
    </p>

    <p>
        Well of course we see four frogs because all they did was decide to jump
        off the lily pad they didn’t act to get off the lily pad. Let me take it
        a step further – I believe things need to be much more immediate and I
        was an engineer too for about a decade and there were some guys that
        were – many guys that like to do a lot of fishing. So if I took you out
        in a boat and lit a stick of dynamite and handed it to you and you were
        chatting might you decide to go fishing or would you want to keep
        chatting? If that fuse runs down and as the article I just read this
        morning from a Harvard Business Prof suggested that half of us – it was
        a bit of an exaggeration or sensational but people are writing about it
        – mentioned this morning that half of the schools will be in bankruptcy
        in 15 years he predicted. One thing we know for sure this is immediate
        and we need to start changing much more rapidly.
    </p>

    <p>
        Little cartoon I found on the way to preparing for this presentation.
        Hope you can read that but basically the ones that – still coming up
        there we go. You know what are we going to do? Are we going to address
        the competition or is it going to be business as usual? In case that may
        be – those words in that cartoon are a little small for you I am not
        sure exactly what you are looking at. One fellow is giving the other
        fellow a great idea and he simply says that is a fine idea John, except
        that is not the way we always did it. So are we going to choose to
        compete or are we just going to choose to continue to cut our way into
        mediocrity? It is time to hustle.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-top-border mb0-5">
        Why CRM?
    </h2>

    <blockquote>
        "data to information is not enough – data to knowledge is not enough we
        need data to action."
    </blockquote>

    <p>
        <strong>Karl Burgher</strong>: So why CRM? Very simply – our mantra is
        what you see halfway through my list there and that is to shorten action
        lifecycles. In the manufacturing business continuously they are trying
        to shorten production lifecycles. In our business service sector we need
        to shorten action lifecycles. So what if I say data to information is
        not enough – data to knowledge is not enough we need data to action. We
        brought this project up actually with a data warehouse starting some
        four years back we learned these things along the way. And let me tell
        you a bit of a story. We collect lots of data and then we go have a big
        meeting and then we all decide to take some action. We get to about the
        fifth, sixth, seventh week of school for those first time, full time
        freshman in the fall and then by then it is over. Those kids are gone.
        They are checked out. They are in the bar. They went home. Any number of
        things. What we did here is establish our Student Success War Room where
        we ask people to have the big meetings in July and August and to decide
        when they saw A, we would do B. So we had the big meetings first,
        everybody had to make some decisions then we collected the data and then
        using the CRM we initiated the action instantaneously so that we can get
        in students short story they call it aggressive intervention or there is
        some curves that the student success people use but today – into the
        second week in school we were already being proactive and intervening.
    </p>

    <blockquote>
        "we collected the data and then using the CRM we initiated the action
        instantaneously"
    </blockquote>

    <p>
        Bit of an introduction, post philosophy. Today I’ve already been
        speaking about competing. We will talk about finding one data – again
        choosing to manage and lead – execution – finish off with the field of
        dreams and I am going to talk about the production zero point and CRM.
    </p>

    <p>
        There are many, many uses for CRM. My dentist uses CRM. Sends me a text
        asks me if I’m going to show up so they can maximize their revenues.
        Today student success is our emphasis and we compete to get students
        into the university. Many of you heard 20 cents on the dollar to keep
        the customer versus get a new customer. We compete to keep those
        students you know in class. We compete to keep people from transferring
        and we compete for their attention while they’re at school here. On the
        donor side we compete for dollars. I’ve got to believe that as the price
        of college has gone up and up and up and there is greater out of pocket
        costs and there are greater loans that our students are undertaking that
        after folks dropped $100,000 to get their favorite college degree that
        they are not going to feel all that good – well not good but maybe they
        paid enough to go to school and maybe they will take some time off
        before they donate back. That has gotten increasingly harder and
        increasingly competitive.
    </p>

    <p>
        Four years back too ISU initiated strategic plan you know that is in
        part how we address the competition. They all really look the same and I
        am going to suggest if you happen to be just starting this process you
        will see at the bottom of this slide when you get these delivered to you
        the web address IndianaState.edu/strategic plan/SEM that is strategic
        enrollment management /BI and /IR and you can see all our work plans,
        all our budgets and all our benchmarks literally a couple three hundred
        pieces of work and some 45 teams work plans - -if you are just
        developing a strategic plan start there. The other day I actually saw
        Auburn had a pretty good website too Auburn/strategic plan.
    </p>

    <blockquote>
        "one data, one data warehouse, one CRM, one reporting mechanism"
    </blockquote>

    <p>
        Inside of that strategic plan was goal one initiative nine that we
        initially called data to knowledge. Now you see data to knowledge to
        action solutions where we ultimately landed on the emphasis being one
        data, at least one connected data and we work at eliminating those turf
        issues across campus. One data warehouse I have been arguing for four
        years now. One data warehouse. One CRM with AG pack being able to
        distribute rights across campus that makes this much more feasible and
        just recently we added one reporting mechanism. So everybody is looking
        at the same place, at the same data for the same charts, which then
        leads to one version of the truth whether it is right or wrong. So one
        data, one data warehouse, one CRM, one reporting mechanism and us one
        version of the truth.
    </p>

    <p>
        Let’s talk about one data for a second. Perhaps this looks familiar you
        know the deal of the day, software and hardware run amuck with too much
        technology problem. I don’t know how many pieces of software we had to
        look at and perhaps close our eyes and grimace a little bit Mike and I
        and Julie some too as people thought another package was their infinite
        solution. This as well as what I just discussed all of this needs to be
        reeled in and at least all of these pieces of software need to be
        talking to each other so that we have one voice and we are moving
        forward in one direction because in short we can’t afford to have deal
        of the day anymore.
    </p>

    <blockquote>
        "Start the project at the top getting people to support you before you
        even bother looking at the software."
    </blockquote>

    <p>
        And yes, you know it is difficult. Execution is difficult. It can be a
        bit of a push. I am going to argue this problem is – this is not a
        mid-level manager problem. This is a CIO and note the I in CIO
        information. Not technology, information if there is some CIOs out
        there. Vice Presidents and Presidents need to take on the responsibility
        to reel these things up and put them together and give people support
        that are working on these business intelligence CRM type problems
        because if the enterprise leaders do not take enterprise responsibility
        and work together to get this done admittedly it is a tough push. We
        were lucky enough here at Indiana State that I report directly to the
        president with the implementation of the strategic plan and we have both
        engineers and believe in data and we got a lot of support. We also have
        a lot of support around the cabinet. So that is where you need to start.
        Don’t start your project at the bottom looking at software. Start the
        project at the top getting people to support you before you even bother
        looking at the software.
    </p>

    <p>
        In addition, brand your programs. Get through some of that inertia. We
        didn’t build a business intelligent unit – we built a student success
        war room. Makes a difference. This is just excuse me Julie Couple
        Business Student Intelligence Specialist just happens to live in the
        Student Success War Room but those little things can make a lot of
        difference.
    </p>

    <blockquote>
        "Small, medium, large big data unless you execute it doesn’t matter how
        big your data is."
    </blockquote>

    <p>
        Also want to take a moment again to pick on big data. I actually changed
        this from our presentation in California they get tired of hearing this
        big data, big data, big data with no knowledge and no action. How about
        we just call it our data? We just need to have a look at our data. We
        were fortunate in that we had back and we were one of the first users of
        back in 05 for prospects. In 12 we started with current students, in 13
        we added our new alumni. We had to start somewhere. Our alumni data was
        a bit of a mess. So what we did was get organized and say okay this
        class May 13 that is where we are starting. That is our first stay
        organized good day and we started sending our brand new alumni some
        messages. Small, medium, large big data unless you execute it doesn’t
        matter how big your data is.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-top-border mb0-5">
        Manage Managers - Lead Leaders
    </h2>

    <p>
        <strong>Karl Burgher</strong>: Alright, the slide again manage managers
        and lead leaders. We need to take – we all need to take some
        responsibility for this. I am going to pop through a few tool like
        slides now. I know maybe some of this is oh – sounding a bit difficult.
        It actually we had a – it was hard work and we work long hours but I got
        to tell you it was a lot of fun bringing a team together and working
        across the enterprise and talking with all kinds of different areas to
        help our students. We will have to say too that we have one fellow
        working on the math problem at our college of technology who currently a
        one man band is using it for its data and filtering. We also upgrade his
        ability to function once we roll out HE PAC fully. But he brought our
        college of technology transfer student first year retention rate from
        50% to 85% with good data, persistence and hard work. That is an
        extremely significant jump by paying attention.
    </p>

    <p>
        People want to be in school, we just need to use the technology a little
        bit to make sure we can compete with the rest of the world to give them
        a hand. So again we have technology – I see sort of three legs to this
        tool technology, management and social and communication aspects. How
        often do you ping them? Of course you don’t want to text them to death.
        You don’t want to email them hardly because they never read their email.
        Unless of course you text them to read their email that is how I get a
        hold of my daughter or you text them to tell them to call you. Again, I
        don’t believe it is a technology problem. We got all the technology we
        need we just need to implement some of this robustly.
    </p>

    <blockquote>
        "if you don’t manage your champions and get their support things just
        keep getting harder."
    </blockquote>

    <p>
        Of course there is bugs to work out as you morph products, you connect
        things, and you combine data sets. There is work to do but it is all
        doable. And I don’t believe it is a communication problem. There are all
        kinds of communication people studying how to use social media and
        everything else to talk to people. We just need to do a little homework.
        Again, we just need to manage our deliverables, we need to manage our
        outcomes and we need to manage our champions. What I mean by that is we
        need to manage not just your people but you need to manage up. And if
        you don’t manage your champions and get their support things just keep
        getting harder. When we brought this up we used SharePoint for
        calendaring and a task tool. Mike actually couple three years back built
        these interfaces.
    </p>

    <p>
        I’m a systems person. We built systems, we looked at how it is going to
        fit together, we sold it, socialized it, talked about it in various
        venues. I simplified drawings. There is a lot of work on that page
        there. You have to develop a system then eat the elephant and buy the
        time put it together piece by piece. We built a road map first time I
        saw that was when I was contracting with the department of energy,
        department of energy had more road maps than I had ever seen in my life.
        But they work if you follow them so create your road map follow your
        road map and you morph your road map as you move along. These are just
        basic project management skills. If you don’t have a project management
        office you probably ought to have one or you are going to blow out your
        CRM across the enterprise. You are going to need your project help.
    </p>

    <blockquote>
        "We have what we call a campaign retention spec sheet for every single
        campaign small and large."
    </blockquote>

    <p>
        Then we are very detailed. Extremely detailed. We have what we call a
        campaign retention spec sheet for every single campaign small and large.
        Some of these sheets are kind of small they don’t have a whole lot on
        them. Send somebody a birthday note and some of them are huge like the
        ones that manage our graduation guarantee but every single campaign has
        a spec sheet. On our first day my partner and I in modeling created a
        rules doc based on our knowledge of the academy but also a whole lot of
        math we have done in a couple of years and we have over 50 of these spec
        sheets for a variety of things some of which we are about ready to
        discuss and we just chose 12. We just started with 12 and we decided to
        implement them well. Then 12 goes to 24 and 24 goes to 36 and all of a
        sudden I asked Julie what she was doing down here when I first came down
        into the war room she says I am doing your work from four years back. It
        can grow as people see its usefulness.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-top-border mb0-5">
        Success
    </h2>

    <p>
        <strong>Karl Burgher</strong>: So here we are finally successes – what
        did we actually execute? I’m sorry it took us so long to get to this
        point but just can’t resist the need to emphasize how much organization
        and efforts you need to wrap around initializing a system like this. I
        know I say it is hard work but it is good work and it is fun work and it
        is very rewarding work. Especially for data heads. I mean if you like
        data this can be a great – if you like data and modeling this can be a
        grand time.
    </p>

    <blockquote>
        "we look at the data and we are trying to engage and reach out to those
        students before something bad happens to them"
    </blockquote>

    <p>
        So what we started with is basically four kinds of triggers. This isn’t
        magic for most at least a couple of them aren’t. Obviously we triggers
        where we see something negative that is occurring in a student’s life
        and then we intervene. Two what we call proactive triggers. For example,
        we noticed in a particular county close to us that we lost 50% of those
        students. So we initiated an engagement campaign to those students at
        the university so that maybe they wouldn’t run home so often and we
        might get another 10% of them to stick. But it is proactive. That means
        we look at the data and we are trying to engage and reach out to those
        students before something bad happens to them. The no hypothesis and
        that is not really hypothesis just the no meaning we look for zeros. We
        look for goose eggs.
    </p>

    <p>
        We look for what didn’t happen as a data person sometimes it can be a
        whole lot easier to find what did not happen than what did happen. You
        will see a good example of that in a moment here. And finally,
        observational. Meaning this was probably for the most part until we roll
        out the HE pack which is coming along here real quick I am told a month
        or so. We are just about wrapping up the install – observational is
        where somebody would write in a system – observes some sort of behavior
        and then can climb into the system and create a campaign on their own.
        It is not just about math and modeling and big meetings and data it is
        also about common sense and what we see happening on our institution.
        Those with rights in the various programs across campus can initiate
        these campaigns based on what they observe. It is sort of the
        qualitative element to complement the other three maybe more data driven
        process.
    </p>

    <p>
        Finally you say execution – campaigns, rules and data on what we have
        done. So here we will start where we started in the spring of 12. This
        is where okay slide is up now where we saw our first this is where we
        had our first 60 essentially we have a rule book. Perhaps we will post
        those rules – we have those rules up on our BI website? I know I have
        emailed them out. Are they up? Okay I think maybe we will probably post
        that little rule book up on the BI site. We don’t – the thought is the
        money is not in the though, folks. The money is in the execution. We
        will share all the thoughts we have freely.
    </p>

    <blockquote>
        "early registration went up by 10% that season spring of 12 for the fall
        of 12"
    </blockquote>

    <p>
        In the spring of 12 we used to send emails based on data and we also
        used basically as a data filter. And we used every communication method
        that we could think of postcards, telephone calls, calls, emails, texts
        to try to enhance early registration. Two things happened: early
        registration went up by 10% that season spring of 12 for the fall of 12
        and using in itself helped us with the early registration but when you
        wrap a team of 15 or 20 people around enhancing early registration just
        the process of focusing on an initiative together enhanced early
        registration so just getting the team to the field made things better.
    </p>

    <p>
        So that was our start. That was kind of forced that start but we got it
        off the grand and we got chatter the campaign chatter, CRM chatter
        across campus. Then in the fall of that same year we call that the first
        time, full time, freshman retention five week drill. We hit it hard for
        five or six weeks. The time where our freshman, 50%, 60% first
        generation or the other way around have the hardest time. We run back a
        whole lot of rules with a push for just five or six weeks to try to help
        as many of those students as we can. Remember now, we talked about the
        issues, we had the meetings, we made the decisions, then the bell went
        off meaning school – we had our first day of classes.
    </p>

    <blockquote>
        "This also got people thinking about retention and student success so
        people go out and behave differently in their day to day processes"
    </blockquote>

    <p>
        Everything was in place so when events occurred actions could follow up.
        No more excel spreadsheets, have a meeting the fourth week of school.
        Have a visit the fifth week of school. The eighth week of school decide
        maybe to do something. This also got people thinking about retention and
        student success so people go out and behave differently in their day to
        day processes or business when they know that these other things are
        happening. You see up there 5.4% it went up over the first two years.
        Granted we were doing a lot of other things as well. It wasn’t just the
        CRM, but the CRM and chatter about using a CRM and chatter about taking
        action on our data sure did help the cost.
    </p>

    <p>
        Another example coming up. Engagement. The café. This is the – that
        goose egg, that no. This is what I actually pushed real hard. Looking
        for those environmental indicators. Very easy data to collect. Difficult
        campaign to end up managing. So what we did was we mined the data.
        Figure if the student doesn’t go to eat on the second week of school
        they miss a couple, three days down in the cafeteria something is going
        on. Hate the food. They went home. They are hanging out across town.
        They are drinking too much or they are happy in their room eating
        cheerios and moms’ care packages. But what we did we wanted to find out.
        We mined the data. The resident directors got a list on Thursday morning
        about people who hadn’t been to the cafeteria all week and then they
        very gingerly would chat with RAs and all they do is go down the hall
        and say hey, how are you doing, Bob? How are you doing, Jane? And that
        was it.
    </p>

    <p>
        Ultimately the goal is to have that RA with their smartphone, radio
        buttons, email message goes out Bob, Jane, Bill and Matt need to be
        seen. Radio buttons get checked. Okay. Not okay. Not okay delivers a
        message to the student success center. Student success center on Friday
        morning follows up, tracks that kid down and says how are you doing. We
        need to stay on top of this. Note too that this was part of the five
        week drill. This is not something we tended to do for 52 weeks. That
        would take an enormous amount of energy. We want to get them through the
        first push, right? The first five, six, seven, eight weeks.
    </p>

    <blockquote>"Credit loads. This one really was a big hit."</blockquote>

    <p>
        Credit loads. This one really was a big hit. What we do is monitor
        credit loads every evening and I guess 24 hour real time and when we
        found that students dropped from 12 to 9 hours email message goes off to
        student success and then they go on the attack because what happens at
        our school anyway is a whole lot of students get to the middle of spring
        too late to add a course, find out they dropped a couple of courses or
        those dropping of those couple of courses got them in financial aid
        trouble and then they are making it all up in the summer time and other
        issues happen and perhaps they lose their financial aid. This one worked
        really, really well. Another example as I am switching slides I will
        talk about transcript request in February by the student who is in good
        standing. You know collect that data from your transcript request
        database and initiate a campaign to follow up with those students in
        good standing that are looking for transcripts their freshman year in
        February they are probably getting a little disgruntled.
    </p>

    <p>
        We also manage our entire graduation guarantee using CRM. This is a
        complex process that Julie worked very, very hard on. We had over 1,000
        students enrolled in that in the first day.
    </p>

    Grade checks. We use the deal to up the return rate from professors for NCAA
    varsity athletes for a D1 school and instead of the professors getting one
    email per student per class we sent a letter to each with athletes in their
    classes – you are not expected to read that but inside that letter is an
    embedded link. You click the link. You got to a web form, I happen to teach
    one senior seminar management senior seminar with 10 students. I had one
    tracked athlete in my class. This is what I got or what I saw when I clicked
    the link and then I checked the box to say that Maurice is getting better –
    he shows up to every class and write 500 words of comments if I want. And
    then that goes back to the varsity athletics academic administrator in one
    neat, tight little package. Response rates are 25 to 50%.
    <p></p>

    <h2 class="b ht--p--18 c-grey--800 header--has-top-border mb0-5">
        Enterprise Lessons
    </h2>

    <blockquote>
        "Enterprise projects need very strong champions and enterprise projects
        need to be project managed."
    </blockquote>

    <p>
        <strong>Karl Burgher</strong>: In summary: Enterprise lessons. I just
        can’t beef this up enough for you. Enterprise projects need very strong
        champions and enterprise projects need to be project managed. Remember
        those two things. Very strong champions. Want the cabinet level support
        and you really need to wrap a little project management around these
        things so you can stay organized and get it done.
    </p>

    <p>
        Our final slides field of dreams. You know I like that movie. You got to
        take some risk - -if you build it they will come. In the first year we
        drove it pretty hard on our own. We created our own rules. 12 that was
        2012. In 2013 we let it happen organically. As we let it happen
        organically the nursing school chimed in from recruitment through donor.
        Math engagement. Registrar’s Office, Study Fairs and other one of
        events. We first freshman in the first football game. At risk county
        engagement. Class of 2012 alumni. International student eligibility.
        That was sort of a one of complex use for the CRM. And we use the
        product for surveys. It just sort of happened.
    </p>

    <p>
        Now in 2013 we are wrapping that all up. Going to get reorganized. Mike
        Sneider here is one of the primary duties is executive director of
        strategic initiatives is going to harden what happened organically and
        bring this – bring out HE Pack and bring that across the enterprise in a
        much stronger fashion.
    </p>

    <p>
        So finally, reaching the zero point. From thought to production that is
        – I believe in the sci fi literature if you think it you can produce it
        sort of like a replicator from Star Trek. Pretty soon you have your
        bacon and eggs. What I am getting at here is if you have enough people
        on the ground out in the various areas of the university – enough
        meaning who knows maybe there is a team of a couple of dozen people in a
        variety of areas with the bandwidth and the training and the
        intelligence to fully utilize the CRM the time between knowledge and
        action or at least our goal of knowledge and action should move to zero
        or what they call the zero point.
    </p>

    <p>
        Recall that – in summary recall that prediction that – by that Harvard
        prof, Harvard business prof that half of us are going to be bankrupt in
        15 years like I said an exaggeration I think but certainly there is a
        whole lot of schools that are having a whole lot of problems. I still
        believe and I have been saying this for 10 years that everyone can
        compete, wants to compete right now. There may be a day where that is
        not possible but I still take to market this wide open if we all tighten
        up the ship.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
