---
# <!-- @formatter:off -->
title: How to Compete and Succeed with Knowledge Driven CRM
meta-description: An industry leader explains how to compete and succeed with knowledge driven CRM.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/higher-education-resources/insights/banner-indiana-university-logo.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container c-grey--1000 ">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class=" mb0 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Karl Burgher
    </p>

    <p class="ht--s--20 c-theme-tertiary">
        Former Chief Strategy Officer at Indiana State
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        How do you distinguish between student information data and student
        population data? What is the difference between the two?
    </h2>

    <p>
        <strong>CAMPUS MANAGEMENT:</strong> From the way that we look at systems
        student information data is really about the student progressing towards
        completion whether it is in a short term program or continuing education
        it is really about the academic data that is associated with the student
        enrolled in the program whether it be attendance, grades what classes
        they are taking or dropping.
    </p>

    <p>
        Population data is more about the behavioral, psychographic and
        demographic data about students and categorizing these students based on
        patterns that you see. That is really the difference between
        information, student information data is really about the student record
        and progressing. Population data is about their behavior and how you
        group those students to find the best ways to engage with them.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        How do you staff The Student Success War Room? <br />Who is on that
        team?
    </h2>

    <p>
        <strong>KARL BURGHER:</strong> Managing the strategic plan we engaged
        IT, coupled together a couple of other pieces of people from the Office
        of Information Technology and then we have an associate vice president
        of student success who also has a number of staff. Primarily, I was
        scrolling myself through the questions – we did all of this probably
        with two and a half FTE in the back end. So the war room is actually –
        half a dozen really high end computers, big huge screen on the wall,
        this is where we bring people in to talk about data manage campaigns and
        all. But it was a bit of a branding and a show piece.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        How did you fund the enterprise CRM at Indiana State? Was it centrally
        funded or did you have departments buy in to the application?
    </h2>

    <p>
        <strong>KARL BURGHER:</strong> Spending money is about choices. I raise
        a lot of money in my time managing a lot of contracts from primarily the
        federal government and when somebody told me no that meant they didn’t
        like my project because I was working with the Federal Government and
        they print money. So some people always have money. So it is about
        making the sale and the value proposition. Something always has to go
        away in this environment to have something else. What we did at Indiana
        State is when we implemented – I managed probably going on $10 million
        worth of projects now in four years we cut back and we cut back below
        the line so that we would then have money to distribute out through an
        RFP process campus wide for a variety of strategic initiatives. So short
        answer it was essentially funded.
    </p>

    <p>
        The bigger answer is that everybody has to make choices about what you
        are going to spend your money on. And let me put it in another
        perspective. Let’s say we got maybe a quarter million dollars in this
        project we have $1000 between software and computers and salary or two -
        -but we really stole the labor. Indiana State’s budget is really well
        over $100 million and if you can’t – if you can’t spend a half a million
        dollars fixing an issue or becoming competitive with a $150 million
        budget you obviously have other issues.
    </p>

    <p>
        I managed $15, $20 million school budgets before. Obviously had to
        spread that over a little bit of time but if you think about it in terms
        of a percentage if you want to invest in a strategic plan usually what
        it takes to invest in a strategic plan is a small percentage of the
        overall university budget. So that is where the decision lies. A very
        important strategic decision enterprise wise.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        Do you have an example of a campaign that was not successful, something
        you thought would matter in retention that turned out not to be
        significant?
    </h2>

    <p>
        <strong>KARL BURHGHER:</strong> No. I will tell you why - -we did
        initiate a whole bunch of campaigns and some worked better than others,
        but I can point at every one of those campaigns that didn’t work I can’t
        tell if it was a big problem because the folks that were to manage it
        did it poorly. Follow me? Because the management was poor and because
        the action did not take place as the model suggested – in fact, some of
        the campaigns we developed you know good math.
    </p>

    <p>
        We had real good math and we studied it hard, but then in its execution
        it fell down I can’t really tell you if the data was bad or not because
        we would have to go out and try it again and get it executed robustly
        before I can answer that question. So I think the math was good, but
        nine times out of ten your campaigns are going to fall down – by the
        time you decide what to do because there are so many things to do and if
        you got good heads in the room and develop some good campaigns and just
        don’t do it. Nine times out of ten it is going to fall down because it
        is a management or a turf problem not a data and technology problem.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        How do you manage both student information from a credit perspective and
        workforce related information ie. Sales funnel and so forth in the same
        CRM – can that be done?
    </h2>

    <p>
        <strong>CAMPUS MANAGEMENT:</strong> You may have heard Karl refer to a
        couple of things like the Higher Ed pack or these product slang type
        terms – but really with the CRM system and one that we designed for
        higher education you have to think of it in terms of people. People come
        in and then people may have different functional roles. And that is
        where the like – Karl mentioned the Higher Ed pack or the lead which
        allows you to take a person record and then categorize them or assign
        what would be a lead record, so we would know this person is going to be
        a student or this person is going to be a contact at an organization
        that we are going to use to hold events to recruit students or to have
        alumni get together.
    </p>

    <p>
        Or for your example, one that I think is really important is engaging in
        the community to help to build relationships for students to graduate
        and go out and get jobs which I think is really important. So the same
        CRM understanding that a contact is a person and that you can assign
        different functional roles or different contact types allow you to
        manage a whole bunch of different relationships in the same CRM and that
        is really where the power of constituent relationship management is and
        it is not just about students it is really about managing relationships
        with people and knowing how the different people need different types of
        messaging and engagement.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        When CRM software is used to trigger an intervention can it be used to
        track the interventions themselves that they occurred and what the
        results were for the referrals and so forth – How can we achieve this?
    </h2>

    <p>
        <strong>CAMPUS MANAGEMENT:</strong> Our campaign engine allows you to
        design a workflow of events that pays attention to when someone
        responds, when they don’t respond, what happens when they don’t respond
        in a certain amount of time. So as you create a list of targets that you
        send a campaign to the system is able to use tracking URLs to see who
        responds and who doesn’t and then take initial action off of that and
        then all of that has been aggregated into reports. So you get a real ROI
        on how engaged your targets were on the messages that you sent. It also
        automatically updates properties – it is pretty powerful once you really
        get deep into understanding how it really works.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
