---
# <!-- @formatter:off -->
title: Discover How Penn State is Driving Growth through Joint CRM Implementation
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
alt--pt-br: /noticias-e-eventos/webcasts/descubra-como-a-Penn-State-esta-conduzindo-o-crescimento-atraves-da-implementacao-conjunta-do-CRM/
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='discover-how-penn-state-is-driving-growth-through-joint-crm-implementation'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/piokeai-CQ4?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Discover How Penn State is Driving Growth through Joint CRM Implementation"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: October 30, 2014
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/webcasts/discover-how-penn-state-is-driving-growth-through-joint-crm-implementation-transcript/"
                    >
                        Review Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container c-grey--900">
            <p>
                In 2007, Penn State embarked on an ambitious growth initiative
                for its World Campus online program. But what started out as a
                goal to increase enrollment for the World Campus with the
                deployment of an enterprise CRM solution, now drives recruitment
                communications, campaigns, and workflows in the admissions
                office of the main campus at University Park, as well as all 20
                Penn State campuses. Today, this expansion of CRM across
                admissions departments and programs has contributed to greater
                insight into prospects’ interests and goals and more targeted
                marketing strategies to reach them.
            </p>

            <p>
                During the Webcast Kate Tornatore, CRM Project Manager for Penn
                State World Campus, and Tara Blomvall, Business Analyst for
                Undergraduate Admissions, provide an inside look at how to grow
                your institution with CRM.
            </p>

            <h2 class="b c-grey--800 mb0">
                Topics include:
            </h2>
            <ul class="list--normal">
                <li>
                    Using CRM to target quality students through highly
                    personalized campaigns and communications
                </li>
                <li>
                    Using CRM to accelerate and enhance interactions with
                    prospects, applicants, and students
                </li>
                <li>
                    Keys to empowering different campus departments to improve
                    the student experience
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Who will benefit:
            </h2>
            <p>
                Directors/VPs of Admissions, Retention, Enrollment, student
                success, strategy, information technology, CTOs and CIOs
                interested in driving growth and improving institutional
                efficiency using CRM.
            </p>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Kate Tornatore</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >CRM Project Manager</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Penn State World Campus</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Tara Blomvall</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Business Analyst for Undergraduate Admissions</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Penn State</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Jason H. Soffer</span
                    >,
                    <span class="presenter-list__presenter-title">Manager</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Product Marketing</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--3-testimonials]}}
{{>[box-v3/combo--best-practice-7]}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
