---
# <!-- @formatter:off -->
title: Discover How Penn State is Tracking Growth Through Joint CRM Implementation
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />
    <h1 class="mb0 c-grey--900">{{title}}</h1>

    <p class="ht--s--38-45 c-theme-primary-dark">
        How Two leaders Implement an Ambitious Growth Plan
    </p>

    <p>
        Today we will be hearing from two leaders at Penn State who have
        implemented an ambitious growth plan for Penn State’s World Campus
        through utilizing CRM, which has contributed to greater insight into
        prospects interests and goals and more targeted marketing strategies to
        reach them. We will be discussion keys to their implementation as well
        as some of the keys to creating a CRM strategy that helps grow the
        institution. So with that our speakers today we are very fortunate to
        have with us <strong>Kate Tornatore</strong> CRM project manager for
        Penn State World Campus. Also with us is
        <strong>Tara Blomvall</strong> she is business analysis for
        Undergraduate Admissions also at Penn State. And
        <strong>Jason Soffer</strong> is a manager for product marketing at
        Campus Management Corporation.
    </p>

    <blockquote>
        "We often refer to the convergence of these forces as the super storm
        and it impacts each and every higher educational institution today."
    </blockquote>

    <p>
        <strong>Jason Soffer:</strong> At Campus Management, we have the
        privilege and benefit of working with more than seventeen hundred
        institutions worldwide. That enables us to gain an understanding of what
        is going on in higher education not just at an individual campus level,
        but at a macro level as well. We provide solutions, which help
        institutions, address market imperative, meet, and exceed their
        objectives so that they can continue to thrive and provide exceptional
        service to the students of both today and tomorrow. Now our observations
        over the last several years have led us to conclude that we are in an
        era where higher ed institutions must transform. A number of macro level
        factors are putting unprecedented pressures on us and we have to adapt.
        We often refer to the convergence of these forces as the super storm and
        it impacts each and every higher educational institution today. And I
        would like to take a few moments to discuss them.
    </p>

    <p>
        <strong>The first storm factor is competition.</strong> We are
        witnessing significant shifts in the demographic of college students. We
        are seeing the mean age of students rising. Post-secondary enrollments
        of adults age 25 years or older is expected to grow over 25 percent by
        2019. Really, students have more choices than ever. Driven by the
        expansion of proprietary schools and career colleges and different
        course delivery models. And let us not assume that competition is a
        recruiting center theme. It touches current students too when we know
        that persistence and retention rates show that every enrolled student on
        your campus may continually be marketed to by your competition.
    </p>

    <blockquote>
        "Post-secondary enrollments of adults age 25 years or older is expected
        to grow over 25 percent by 2019."
    </blockquote>

    <p>
        <strong>Delivery models are being disrupted as well.</strong> There is a
        proliferation of evolving delivery models. Schools are no longer just
        providing brick and mortar educational delivery but offering fully
        internet based programs, options for blending of the two, and
        considerations and credit for massive open online courses. In fact, one
        third of students today have taken an online component as part of their
        curriculum. Research suggests that those who have a blended model of
        coursework have an 84 percent improved comprehension and test scores.
    </p>

    <p>
        <strong
            >The third factor that every institution is keenly aware of has to
            do with funding.</strong
        >
        There continue to be budget constraints and we do not believe any school
        is immune to today’s economic realities. College tuition costs have
        outpaced the CPI almost five fold between 1985 and 2014. This has put
        never before seen pressures on the student’s ability to afford tuition.
        Institutions must adapt their operational and financial models like
        never before.
    </p>

    <blockquote>
        "25 states have already enacted legislation to tie funding to student
        outcomes."
    </blockquote>

    <p>
        <strong>Finally, outcomes are a market imperative as well.</strong>
        It is no longer the strength of your incoming freshman class, the number
        of valedictorians, or the best ACT scores, but it is the value of the
        education and degree for those post college successes. Eighty-seven
        percent of chief academic officers are placing more attention on the
        ability of their degree programs to help students get good jobs. And it
        is good that this buy-in exists because 25 states have already enacted
        legislation to tie funding to student outcomes. Schools need to be more
        aware than ever about student success because not only does it impact
        reputation but now funding as well. Any one of these drivers would have
        significant impact on a school. But the convergence of all four combined
        results in a super storm that all institutions must recognize, navigate,
        and overcome.
    </p>

    <p>
        As you can see, a diverse cross-section of schools use our solutions as
        a critical component in the execution of their strategy, including
        Kansas State, Florida Atlantic University, Johnston Whales, Mercer
        University, the University of Alabama, and of course Penn State with
        whom we are delighted to be co-presenting today. One of the reasons we
        love higher education is because it affords us the opportunity to work
        with fine institutions like these were we are able to help provide
        technology solutions, which benefit not only the school but the
        consumers of education, the students themselves. I would like to turn
        the presentation over to Penn State and have Kate and Tara talk about
        their growth strategies and how Campus Management was an instrumental
        component to it.
    </p>

    <p>
        <strong>Tara Blomvall:</strong> Kate and I really appreciate the
        opportunity to present with you today and World Campus and Undergraduate
        Admissions success story with you. We are going to start today by
        actually introducing ourselves.
    </p>

    <p>
        My name is Tara Blomvall and I am the Talisma CRM operations specialist
        for undergraduate admissions. I have worked in higher education for the
        past eight years and joined the Penn State Undergraduate Admissions team
        in 2009. I have spent the majority of my career in the student
        recruitment role as an assistant director of admissions. Two years ago,
        I transitioned into my current role and have been working solely on the
        Talisma implementation since then.
    </p>

    <p>
        <strong>Kate Tornatore:</strong> And I am Kate Tornatore. I am the
        project manager and I have been at Penn State for about two and a half
        years now.
    </p>

    <p>
        <strong>Tara Blomvall:</strong> So we are going to kick off our
        presentation today by giving you a quick intro into Penn State and our
        21 campuses. We will then take a look at the history of our joint CRM
        adoption and look at what led to our Talisma implementation in May. We
        will also highlight our project objectives and critical success factors.
        Finally, we will talk about how we have been using Talisma for the past
        five months, where we are today, and how our joint CRM system will
        impact us in the future. So Penn State actually has 20 different
        campuses and World Campus, which are spread out across the state of
        Pennsylvania. We come in many different shapes and sizes. Our campuses
        range in size from 700 students to 45 thousand students. We offer a wide
        range of degree options. And within Undergraduate Admissions alone, we
        offer more than 150 baccalaureate degrees, the majority of which can be
        started at any one of our 21 campuses. Most Penn State students
        participate in what we call our two plus two program where they begin
        their first two years of their Penn State education at one campus and
        then they actually finish the last two years at another Penn State
        campus. Although we are a big place with many, many different options,
        we are one university with one admission and one application process
        that is just geographically dispersed across the state of Pennsylvania.
    </p>

    <blockquote>
        "World Campus was also able to automate campaigning by utilizing the
        dynamic capabilities of the Talisma CRM tool."
    </blockquote>

    <p>
        So getting to where we are today with a joint CRM system has been a long
        road for us. This journey dates back to 2006. Back in 2006, the
        universal objective for both World Campus and Undergraduate Admissions
        were the same. We both had a need to improve our processes and to cut
        our costs. The solution at that time, however, turned out to be
        different for both World Campus and undergraduate admissions. In 2007,
        World Campus pursued an engagement with Talisma CRM and Undergraduate
        Admissions built a homegrown campaigning tool that was used to meet our
        communications need at that time. So over the years, we stayed in our
        respective processes and we were both able to achieve many of the
        efficiencies that we had set out to accomplish. World Campus had made
        great strides to achieve a 360-degree view of their contacts. World
        Campus was also able to automate campaigning by utilizing the dynamic
        capabilities of the Talisma CRM tool. They were also able to improve the
        customer experience by being able to send personalized and mass
        communications and then actually see those communications on the
        student’s record. The use of Talisma also greatly improved World
        Campus’s analytics and reporting functionality. But despite these gains,
        some limitations did exist. World Campus employees only used Talisma and
        the functional growth of World Campus outpaced the unit’s ability to
        sustain the system.
    </p>

    <p>
        Over the past five years, Undergraduate Admissions use of the homegrown
        campaign tool provided us with a cost effective tool that allowed our 20
        campuses and 17 colleges to send personalized mass communications to our
        prospective students and applicants. This solution did, however, have
        limitations as well. The campaigning tool was only limited to
        undergraduate admission staff. It too was being outgrown. And we were
        not able to achieve that 360-degree view of our perspective students. We
        had 20 different campuses and 17 colleges that were building their own
        separate campaigns and did not know how each of those units were
        collectively communicating to a perspective student throughout the
        admission process.
    </p>

    <blockquote>
        "The Talisma CRM tool gave us a way to streamline those processes that
        were previously managed in a variety of different systems."
    </blockquote>

    <p>
        After five years, the conversations picked up again. And in 2012,
        leadership in World Campus and Undergraduate Admissions broached the
        subject of a joint CRM implementation. By then the timing was right and
        our objectives and solutions aligned around a joint CRM system. At this
        time, we definitely realized the need to replace the outdated systems
        that were used to manage our emails, to manage our campaigns, our travel
        management, specifically the management of high school visits and
        college fairs, and the management of our alumni volunteers. The Talisma
        CRM tool gave us a way to streamline those processes that were
        previously managed in a variety of different systems. We also had a need
        to centralized data between World Campus and Undergraduate Admissions
        teams who oftentimes worked with the same perspective students
        throughout the admissions cycle. Penn State also had a need to
        consolidate integrations between university systems.
    </p>

    <p>
        We are currently in the process of implementing a brand new student
        information system, which will replace our homegrown student information
        system that we have been using for the past 30 years. Talisma will give
        us a way to manage our perspective students before they actually begin
        the Penn State application and enter that new student information
        system. We also had a need to optimize our reporting and data analysis.
        Also by implement a joint instance of Talisma we were able to minimize
        our cost. And we were also able to increase system security by
        leveraging best practices from central IT despite being hosted by World
        Campus. Now I am going to hand things over to Kate, who will talk about
        the remainder of our Talisma implementation.
    </p>

    <blockquote>
        "A CRM system that would allow us to scale up quickly, efficiently, and
        cost effectively was a big part of our solution."
    </blockquote>

    <p>
        <strong>Kate Tornatore:</strong> One example of a significant growth
        affective at Penn State is to more than double course enrollment for the
        World Campus over the next ten years. This creates huge responsibility
        for the marketing and admissions teams to get large numbers of quality
        prospects into that funnel that will translate into the needed number of
        enrollments. So we asked ourselves how do we support the growing number
        of prospects without significantly increasing staff? And a CRM system
        that would allow us to scale up quickly, efficiently, and cost
        effectively was a big part of our solution. This is one of the very
        tangible ways we expect CRM to support the significant growth at the
        university. Undergraduate Admissions office goals are to maintain a high
        level of quality applicants that are received every year, but to also do
        so efficiently and cost effectively. Collectively our objectives are
        centered around growth, delivering a quality education to students
        worldwide, and putting data in the hands of decision makers to keep Penn
        State positioned as a leader in higher education.
    </p>

    <p>
        Now that we had decided to initiate a joint CRM implementation project,
        we began defining the objectives and expected benefits of a joint
        implementation of Talisma CRM. So here, we are sharing a few of those
        joint objectives for the project. We were automating marketing efforts,
        opening up communication across the university, and improving analytics
        and reporting. Through process automation, we wanted to achieve time and
        cost savings. We wanted to enhance our customer experience. And we
        wanted a more secure and reliable system that provides timely and
        reliable data. Our ability to achieve these benefits will be one way in
        which we measure success after implementation.
    </p>

    <p>
        Knowing our goals, we then documented critical decisions and identified
        our constraints. One made we were fully committed to these factors and
        enlisted the help of our executive sponsor team in helping us manage
        that right. Although these decisions were relatively easy for us to
        make, they were frequently tested. But we remained driven by our core
        decisions and we did not compromise. This management approach is one of
        the reasons we have been successful in our efforts to date.
    </p>

    <blockquote>"We are confident we are set up for success."</blockquote>

    <p>
        This project would end up taking two years to fully roll out and at its
        peak was supported by more than ten full time resources. This was no
        small task. We have a backlog of enhancements that we are already
        looking to make such as the integration with our new student system that
        Tara mentioned earlier. And we are confident we are set up for success.
        Even though we only went live five short months ago, we already have a
        lot of successes to share with you.
    </p>

    <p>
        Today our CRM is at the core of what we do within World Campus and
        Undergraduate Admissions. RIFs and prospect communications, speed
        Talisma data, application, and student data are also fed into the
        system. Our reporting and analytics teams use the data for statistical
        reports and research and those findings may lead to new opportunities
        for Penn State. And that cycle continues. Today Talisma is used by
        departments throughout the student life cycle with the majority of our
        users coming from the World Campus and Undergraduate Admissions teams
        that are composing our joint implementation user group. And we also at
        World Campus student basing units that still use Talisma with an
        advising pilot currently in development.
    </p>

    <p>
        Today Talisma supports 350 additional users, sends and receives 100
        times more one-on-one interactions, distributes 100 times more mass
        communications, and maintains information on over one and a quarter
        million more customers than it did when World Campus began with the
        system over five years ago. So as you can see, our growth is huge and it
        is just beginning. We set up a system that is poised to support our
        World Campus growth initiative, support Undergraduate Admissions and
        World Campus through the transition to the new student system, and
        continue to automate our business processes to keep us on our successful
        path.
    </p>

    <blockquote>
        "Through workflow and campaign automation, what once took us days,
        weeks, or even months to manage can be done now in hours."
    </blockquote>

    <p>
        We are measuring our success in part through reduced costs and increased
        efficiencies that allow us to still maintain that great level of service
        to our prospects, applicants, and students. We wanted to develop
        scalable solutions and do them faster, better, and cheaper. So through
        workflow and campaign automation, what once took us days, weeks, or even
        months to manage can be done now in hours and is almost set it and
        forget it. We are constantly working with our stakeholders to identify
        ways to simplify their processes. We had an admissions team from World
        Campus come to us with a manual process that they could no longer
        sustain. So we automated that in Talisma saving them countless hours of
        reporting, updating, and eliminating double entry. Cross campus
        collaboration was enhanced. Each campus now has an understanding of what
        communications are being sent from other campuses providing insight into
        how and when Penn State communicates with the student at any date and
        time and eliminating costs associated with redundant messaging. We
        support and are invested in fewer systems. In addition to the homegrown
        campaign other processes that were currently spread out across multiple
        systems, have now been streamlined because of Talisma. For example, the
        management of alumni volunteers, travel management, and email
        communication systems that Tara mentioned earlier, are now facilitated
        within Talisma.
    </p>

    <p>
        We wanted to enhance the prospect, applicant, and student experience.
        That 360-degree view of prospect communications across the entire
        university means that admission counselor in Erie knows what an
        admissions counselor from World Campus told that prospect two days, two
        months, or even two years ago and that prospect does not have to start
        all over every time he calls into admissions. Personalized messages
        targeted to thousands of individuals can be sent at once. I will tell
        you a funny story here. Well it is funny to us, but probably not so
        funny to Campus Management. The week we went live we deliberately
        triggered a three hundred thousand-person campaign. I think we gave our
        CMC team a heart attack, but it went perfectly. We considered this to be
        an indication that our diligence and commitment to doing this right paid
        off instantly. That was our first measure of success. So when you think
        about it we had three hundred thousand new messages accessible to every
        Talisma user that first week we went live in addition to everything else
        that already existed.
    </p>

    <p>
        Finally, we wanted to improve data quality, integrity, and system
        security. So when we rebuilt Talisma from scratch, we leveraged a lot of
        best practices and lessons learned when configuring our new database. As
        a result, our data and the systems are more reliable than ever. We now
        access Talisma via an RDP versus the desktop client. While that did
        cause us some growing pains at first, it reduced the application
        maintenance time for our IT department and allowed us to implement a
        second factor authentication process keeping us compliant with security
        requirements.
    </p>

    <blockquote>
        "Talisma and our CRM strategy is poised to support the demands of our
        many university initiatives well into the future."
    </blockquote>

    <p>
        So today, we continue to identify workflow automation opportunities to
        save departments significant time and money. And we had a backlog of
        departments eager to learn more about Talisma and start realizing these
        benefits. So as you can see we have made great progress. But we still
        have a long way to go. Talisma and our CRM strategy is poised to support
        the demands of our many university initiatives well into the future. And
        though our initial implementation may be complete, we still maintain our
        objectives and core project values to ensure that effectiveness and
        efficiencies we built into our strategy will continue to serve us well
        in the years to come.
    </p>

    <p>
        We have a couple of takeaways we would like to share for any of you
        considering such a project and strategy. First, leadership and vision
        are essential. We had an executive sponsor team with representatives
        from both World Campus and Undergraduate Admissions. They helped us
        enforce that vision and they were essential of keeping the stakeholders
        informed of that vision, the project progress, and future plans.
    </p>

    <p>
        Second, do not underestimate the commitment or the investment. And I
        mean not only financially, and not even with resources, but also with
        your relationships. A joint CRM implementation requires constant
        coordination between many teams. Many people have never even talked to
        each other before. So you need to get all those people not only to talk
        to each other, but to work together as one team. And we considered
        Campus Management a part of our teams here at World Campus and
        Undergraduate Admissions throughout this project. And also, like our
        story, you have to know when the timing is right. Finally, just some
        quotes from everybody across all stakeholder groups from Penn State
        Undergraduate Admissions and World Campus as to how Talisma has impacted
        their day-to-day activities since we went live just five months ago.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Can you describe the ten CRM positions at Penn State? Can you talk
        about the role of those ten people?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> Sure. As the Project Manager, I was
        full-time on this project. Tara as the lead for Undergraduate Admissions
        was a jack-of-all-trades doing everything from project coordination on
        her end, business analysis, and development coordination. We had several
        other business analysts. Those business analysts were also configuring
        our system. We had a technical lead that had data base experience. We
        have a testing and data quality expert. And we had significant
        contribution from our IT department, from sys admin to DPAs to an IT
        liaison that would help facilitate between the two departments.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "What are the advantages of using Talisma as a CRM platform for higher
        education as opposed to other CRMs? Are there things that come to mind
        that made you choose Talisma?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> I was not here at the time that Talisma
        was selected. [00:25:00] But one of the advantages of the Talisma CRM
        tool is that it is geared toward higher education, which makes
        configuring the system even that much easier. And Jason I do not know if
        there is anything you want to say comparing Talisma with other CRMs.
    </p>

    <p>
        <strong>Jason Soffer:</strong> Yeah, thanks Kate. I think one of the
        advantages clearly especially for this audience is that it is a higher
        education centric CRM system, which means that as we deploy it in your
        schools, there are core business processes that really are part of that
        product rather than having to build it from scratch. In a number of
        other solutions that you could find in the marketplace, there is not
        real industry specialization. They are really built for B-to-B type
        transactions and higher ed really has its own unique nuances. So a
        Talisma solution will be out of the box catered to higher education. Now
        one of the added benefits to it is that it is extensible. So whereas it
        will deploy as a product if you will, there are components of it that
        let it act like a platform. So your administrative users have the
        opportunity to extend its functionality to accommodate your specific
        needs, your specific data elements, your specific business processes,
        integration to other systems as well. So I like to describe Talisma CRM
        as really having the benefit of being both a product and a platform. And
        I think that is a fairly unique proposition.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Does Talisma have a development platform similar to other CRMs on the
        market? The development platform is an important consideration for us
        because it would allow us to extend and scale the CRM with custom
        requests."
    </h2>

    <p>
        <strong>Jason Soffer:</strong> Sure, that is a great question. So with
        reference to other theorems that are out there in order to extend the
        functionality somebody has to actually crack open the code and actually
        write program language code and source code to extend the functionality.
        And to play on what I was saying earlier, one of the benefits of Talisma
        CRM is that we provide a tool kit if you will. A visual designer that
        allows the ability to extend the functionality. So an end user would not
        have any programming but really look at it more as a configuration point
        of view. Whether or not you are configuring additional data elements.
        Whether or not you are configuring rules. Whether or not you are
        configuring filters. There really is no source code level action that
        goes on. And again, I think that is fairly unique inside of the CRM
        space.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Can they speak to CRM integration with website, both gathering leads
        through forms and sharing content for campaigns in a CMS?"
    </h2>

    <p>
        <strong>Tara Blomvall:</strong> I can speak for Undergraduate
        Admissions. We do use an ECL tool to gather data from our student
        portal. When a student expresses interest in Penn State through
        Undergraduate Admissions, they create a profile on the My Penn State
        accounts. That data is coming into Talisma on a daily basis. And then we
        also do have data from our student information system prospect and
        application data feeding into the system on a daily basis as well.
    </p>

    <p>
        <strong>Kate Tornatore:</strong>And in addition to that, we use the same
        ETL tool to bring in RFI from our website. And we do—a different
        department manages the AB testing but we are able to configure the
        system to identify the sources of those tests.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Do you track performance of conversions from distinct sites, sections,
        or pages? And if so do you use these data to make changes to the web
        etcetera?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> Yes, we use—we have a web analytics
        team that we work in coordination with to identify performance of
        certain ad campaigns, and also that comes in through our RFI feeds. So
        we are able to get at the personal level to know if somebody comes in
        through mobile device versus a desktop device and those details.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Is Penn State self-hosted? Is it hosted locally of in the cloud?"
    </h2>

    <p><strong>Kate Tornatore:</strong>Hosted locally.</p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Jason are there different implementation models? Does it depend on the
        institution? In terms of hosting, what does that look like?"
    </h2>

    <p>
        <strong>Jason Soffer:</strong>Campus Management offers a number of
        different hosting options. Penn State has chosen to deploy the solution
        on their premises. I think that works very nicely especially for an
        institution of their size and some of the complex nature of how an
        [00:31:00] enterprise application needs to interoperate with a number of
        the other systems and policies and security control that are in place.
        Other school do choose to deploy in what we call our campus net hosting
        cloud where we can actually take the burden of the administration of the
        applications away from the schools create some efficiencies for them on
        the back office, but yet allow them to achieve the benefit of the
        feature functionality. So really, we do provide a number of different
        options. Really the right answer is really not dictated by us but by
        what is best for the institution and what their needs are.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "How well does it integrate with your SIS? Maybe you can just talk about
        that and how it integrates and what you use that integration for."
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> We do not have true integration in the
        sense that it is a live feed back and forth. We use an ETL tool to
        extract data from our student information systems, map it, and import it
        into Talisma. That is a lot of the effort that took place during that
        year and a half, two years of this project. And it was constant
        coordination because of the fact that we were using common data and
        bringing it into a new system that was one of the major collaboration
        points in this project and one of the most time-intensive projects
        within the project, because it was not necessarily integrated. We were
        using a third project, an ETL tool to facilitate that.
    </p>

    <p>
        <strong>Tara Blomvall:</strong> And we are going through a transition
        phase too right now were we still do have perspective student data in
        our student information system. But as we transition into our new
        student information system, at that point, we will then—Talisma will be
        used and serve as the system of record for our perspective students. Our
        applicants will always be managed through the student information system
        and we are just feeding that data into Talisma so we can properly
        campaign to students and work with our students on a one-on-one basis
        regarding their application.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Is Talisma different from Campus View? They are both Campus Management
        products, correct?"
    </h2>

    <p>
        <strong>Jason Soffer:</strong>That is a great question. We sometimes
        hear that especially from schools that are looking for both—you know CRM
        is all student information systems. So at Campus Management, we actually
        have a number of different products inside of our product set. Our CRM
        or Constituent Relationship Management tool is call Talisma CRM. And
        [00:34:00] our student information system is called Campus View. We
        realize this can be confusing so as we continue to produce new product
        in terms of our road map and ongoing development, you will start to see
        a consolidation of branding of that and everything will be branded under
        what we are calling Campus Nexus. So we will have a Campus Nexus CRM
        that is our next generation if you will of Talisma CRM. And Campus View
        Student will become Campus Nexus Student. Then also I will just add to
        that our finance and HR solution is Campus Nexus Finance, HR, and
        Payroll. So Campus Nexus holistically really provides a true enterprise
        class technology solution for colleges and universities to allow them to
        serve the students of today and tomorrow and really adapt their
        enterprise operations so that they can continue to be successful.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "How has public awareness of college programs changed over the past few
        years and how does that influence the recruiting process?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> Where Talisma supports the receipt of
        RSI and My Penn State interest, it does go into the data that the
        analytics and reporting teams use to identify new programs, market those
        new programs. So that is the touch point with that. Maybe I do not
        understand the full question but with respect to how Talisma supports
        it, it received information and feeds information to the reporting and
        analytics teams that help to drive decisions as to how the marketing and
        recruiting teams use that data and market those new programs.
    </p>

    <p>
        <strong>Tara Blomvall:</strong> I can also speak from Undergraduate
        Admissions about how now Talisma gives us the ability to record a
        student’s interest in a specific academic program as a prospect. It is
        one limitation we had in our student information system where we were
        not able to capture that detailed information about a perspective
        student. So now, we are getting a lot of great data from the SAT and the
        PSAT about a student’s interests and how their interest in academic
        areas is changing over time. So I think it allows us to send more
        targeted messages to our perspective students based on what they are
        interested in and how that changes over time as well.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Will web services or API be leveraged between Talisma CRM and the new
        student information system?"
    </h2>

    <p>
        <strong>Tara Blomvall:</strong> We certainly hope so. Having real time
        information would definitely be a value to our end users so we are
        certainly hoping that we get to that point in the near future.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "How have changing student and prospect demographics changed Penn
        State’s recruiting strategies and efforts over the past few years?
        Thoughts on that? I think Jason talked about the changing landscape in
        higher ed at the introduction. How has that affected Penn State?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> I think Penn State is actually in a
        unique position. We do have a geographically diverse campus setup. But
        the World Campus programs are not restricted. So anybody at Penn State
        can take a World Campus course offering off that online option and that
        flexibility that students are looking for. As Tara mentioned at the
        beginning, we have the two plus two program where you can start at one
        campus and move to the University Park Campus. We are aware that high
        school numbers are changing in the demographic. They are changing
        specifically in Pennsylvania. But those details and how we manage that
        is things that we do not necessarily talk about publically.
    </p>

    <p>
        <strong>Tara Blomvall:</strong> And I think having a CRM in
        Undergraduate Admissions certainly will help us build a relationship
        with our perspective students. Like we mentioned during that
        presentation, being able to see that 360 degree view of the students,
        and their parents, and the guidance counselors, and how those
        individuals are working with us through the process will definitely
        allow our students to feel like we are able to build a better
        relationship with them and know more about them as they go through that
        process. So I think that will be a good help to Undergraduate
        Admissions.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "What where some of the biggest barriers and challenges to adopting CRM
        across your institution? Any particular challenges come to mind that you
        had to sort out?"
    </h2>

    <p>
        <strong>Tara Blomvall:</strong> Well I think definitely, for the new
        users that we brought on was a culture shift. And definitely, users are
        reluctant to learn a new system and to take on a change like that. So I
        think that was definitely the biggest barrier. They were used to using
        student information system that was in place for their entire career. So
        I think that was the biggest issue and the biggest barrier as we brought
        on a new system especially to our Undergraduate Admissions users.
    </p>

    <p>
        <strong>Kate Tornatore:</strong> From the executive level, speaking for
        them, I think it was one of strategy. We do have a diverse user
        population at Penn State. You have 21 admissions offices supporting the
        same goal. But they might have unique ways of doing it. And we needed to
        find one system that was going to accommodate those needs. So finding
        that flexibility in Talisma and our ability to configure it in a way
        that accomplishes both priorities was an answer to that challenge.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "With your CRM solution extending beyond admissions to include student
        aid and advising, how will CRM play a role in your retention
        strategies?"
    </h2>

    <p>
        <strong>Kate Tornatore:</strong> Well we are constantly finding ways to
        improve the student experience. And that has always been important to
        both Undergraduate Admissions and World Campus across all units. CRM
        specifically Talisma supports that strategy because we are able to send
        those personalized messages and like Tara said be able to make a student
        or a prospect feel unique, not like they are just a number. So that
        allows us to continue to set ourselves apart. We do have that advising
        pilot that will focus on our military students, which Penn State
        obviously takes great pride in supporting. That will open up the
        opportunity for the advising staff to possibly use Talisma’s events
        portal because the advising team holds a lot of webinars. And then
        finally the advising team has a lot of unique ideas that make their
        students fell special. So we expect that this functionality with Talisma
        will allow them to automate some things, free up some of their time, and
        allow them to dedicate some of that new time to these unique ideas that
        they have that they might have had the resources to do before.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "Jason you had a great introduction there talking about some broader
        trends here. Does that sell if colleges and universities change their
        recruiting processes in recent years? Can you talk about recruiting in
        particular?"
    </h2>

    <p>
        <strong>Jason Soffer:</strong> Sure. So I think part of that actually
        stems with how they initially do that outreach. When I went to college,
        I went to Barnes &amp; Noble or whatever the local bookstore and bought
        this big book by Barons that basically gave me all the information that
        I needed. In today’s world, it is not uncommon for a thirteen or
        fourteen-year-old person to be on social media and see what is being
        said by a college or university through Facebook or Twitter or their
        friends and family members who are parts of those institutions as well.
        So starting early is obviously a trend. Social media is certainly one of
        the big places in terms of outreach. Even text messaging as well. So I
        think that is something that is out there.
    </p>
    <p>
        One of the other things that we are starting to see, and I find this
        really interesting is that I mentioned earlier about persistence and
        retention. And recent studies has shown that the persistence rate
        studies have shown that one in nine students on average are not
        returning for their second year to a program and rather going to a
        different school. And the six year graduation rate is actually hovering
        somewhere around 60 percent as well. So when I have been speaking to
        colleges, it is interesting. I find what they are starting to do is
        continue to market and in fact market not on the periphery but somewhat
        aggressively to those people who they might have accepted or might have
        been candidates but where not accepted, or people who did not enroll for
        a year after that initial application. The thought being that if they
        continue to market positively and give out those messages, presuming a
        student is going to transfer out for whatever reason, there still will
        be a favorable picture of that school and university in that student’s
        mind. So really not giving up on the student after that high school year
        but rather continue the marketing throughout the next year or two.
    </p>

    <p>
        Then lastly is also tailoring their recruiting strategies to the older
        population. We talked about the fact that the college population who are
        over 25 years of age is going to grow by about 25 percent by 2019. So
        how you market to someone who might be in the work force today who might
        be a candidate for a returning degree is certainly different than what
        you would do for a high school student. So realizing that there are
        different ways to segment your population based upon their needs and
        what they are looking for and their values is certainly influencing that
        as well. And to use CRM as a platform allows that segmentation. It is a
        great way to tailor your communications, your campaigns, your marketing
        efforts based upon a number of attributes and traits of the people who
        are in your target population. And tailor that message, the distribution
        strategy, and the delivery methodology appropriately. So it is really a
        blending of the two really creates a really powerful strategy.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        "What have you seen in terms of demographics shifts within the student
        population? Jason from your perspective there you work with a lot of
        institutions. What have you seen there?quot;
    </h2>

    <p>
        <strong>Jason Soffer:</strong> So we certainly talked a little about the
        population growing older. It is just a byproduct of where we are today.
        The other interesting pieces that there is an expectation in terms of
        the research what we see coming is that the part time enrollments are
        going to grow more than full time enrollments. And also, enrollments
        into career colleges, and trade schools, and to the proprietary sectors
        are growing as well. A lot of that is for people coming back for second
        careers potentially as a result of the economy and economic pressures
        and certain job categories are not showing the rebound as others. So
        there are opportunities for people who have already established
        themselves inside a professional career to go back part time to night
        school, online blended programs and what have you and really go back to
        get to that second wave of their career and help them bounce back as
        part of that recovery. So those are some of the demographic shifts that
        we are seeing and how they translate into different educational models.
    </p>

    <p>
        Well thank you so much. We are rapidly approaching the top of the hour
        there. I want to be respectful of everybody’s time. On behalf of
        University Business, I would like to thank our speakers for today. Kate,
        Tara, and Jason thank you all so much for your great presentations
        today. And thank you again to our sponsor Campus Management for
        sponsoring today’s event. And to you our audience, of course. Thank you
        so much for joining for us. I hope you found today’s web seminar
        informative and useful to you.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
