---
# <!-- @formatter:off -->
title: Driving Enrollment Growth With Nontraditional Programs - Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="c-grey--900 mb0">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Learn How CMU Developed a Strategic Enrollment Management Plan
    </p>

    <p>
        <strong>Marnie:</strong> This is Marnie with CMU Online. Recruiting and
        retaining students has become increasingly complex and competitive. Once
        students have joined your school, what are ways we can optimize
        engagement with them to keep them? Lisa and I are going to share with
        you some of the ways that we utilize technology to expand and deepen our
        retention efforts with nontraditional students.
    </p>

    <blockquote>
        "Our main campus has a little over 19,000 students, traditional students
        pursuing programs there."
    </blockquote>

    <p>
        Before we get too far into this, though, I wanted to share a little bit
        about who Central Michigan University is. We were established in 1892.
        Our main campus has a little over 19,000 students, traditional students
        pursuing programs there. We established our Global Campus unit in 1971
        to take our main campus program offerings off campus and deliver them
        initially on military bases. We have 35 locations nationwide, plus our
        online component. We add almost another 9,000 students to our main
        campus population, and we offer everything from bachelor’s degrees up to
        doctoral programs. For Global Campus, our student population is still
        the traditional student. We have a lot of our main campus students
        supplementing their main campus schedule with online courses. We have
        the nontraditional students as well, and we also have a very strong
        military population.
    </p>

    <p>
        Lisa’s going to talk about how we initially adopted our CRM through our
        Global Campus.
    </p>

    <blockquote>
        "We started with our recruitment processes and we expanded the usage of
        the CRM across the full student life cycle"
    </blockquote>

    <p>
        <strong>Lisa:</strong> Thanks, Marnie. Just a brief overview of how we
        got where we are with CRM here at Global Campus and at CMU. Our Global
        Campus was the first division to implement a CRM, and we did that in
        2008. We started with our recruitment processes and we expanded the
        usage of the CRM across the full student life cycle, or what we call our
        enrollment funnel, using a series of phased implementations. Our CRM
        system is the primary means of communication with our student. Email,
        phone and face-to-face interactions are all logged in our CRM system,
        and they become part of the permanent student communication record
        that’s visible to all Global Campus staff. We bring in key data from our
        student information system, Web forms and our application database, so
        that we can support effective communication with our constituents. And,
        finally, all staff within Global Campus, including our recruiters, our
        admission staff, advisors, financial aid staff, distributed and online
        staff, and our other units, all use the CRM system at CMU for their day
        to day communications with students. All of our staff then have access
        to the full communication history for each student, which results in a
        better understanding of a specific student’s needs and more effective
        service to that student.
    </p>

    <blockquote>
        "Use of a common CRM system across CMU opened up the communication
        records to even more staff, allowing for even better student service."
    </blockquote>

    <p>
        In 2014, our main campus undergraduate admissions office implemented CRM
        here at CMU. We implemented in the same environment that we had already
        been using for Global Campus, so we were able to leverage much of what
        we were already doing. And, since many students attend both on-ground,
        face-to-face classes and online classes, use of a common CRM system
        across CMU opened up the communication records to even more staff,
        allowing for even better student service. We’re currently working to
        bring main campus advisors and student success coaches into CRM for case
        management and retention purposes. Additional departments across CMU are
        actually queuing up to use the CRM system, including our financial aid
        and scholarship departments, graduate admissions, international
        admissions, even our med school and charter schools.
    </p>

    <p>
        Before we go much further, there’s a couple of terms that we’re going to
        be using throughout our presentation. So, we thought a couple of quick
        definitions would be helpful here. So, first of all workspaces, CRM
        users are divided into teams that use team-based workspaces. These
        workspaces, which vary by team or department, limit the user’s view to
        that data most relevant to their day-to-day operations, and they provide
        task lists to assist in prioritizing work. Incoming and outgoing emails
        displayed in the workspace, along with schedule tasks like status checks
        and outgoing phone calls. These workspaces are designed with pre-built
        filters to help users quickly identify groups of students based on
        specified criteria like students in a particular course or program.
        Users can also easily access key data points for each student from the
        workspace, like their contact information, enrollment and course
        details.
    </p>

    <p>
        The second term is campaigns. Many of our departments have defined
        campaigns within the CRM that perform a number of automated functions.
        They can send automated emails to define groups of contacts. They can
        print letters at specific points in the life cycle, like admissions
        letters or scholarship offers. We can dump address data for both postal
        mailings and we can schedule phone calls or other one-on-one follow-up
        from staff. The campaigns are typically designed to provide information
        or workflow based on a timeline for a student’s position in the life
        cycle.
    </p>

    <blockquote>
        "Automated outreach and retention activities are carried out via
        campaigns, which help us to connect and share information with
        students."
    </blockquote>

    <p>
        <strong>Marnie:</strong> So, Global Campus uses their CRM system to help
        us identify indicators of either student success or potential failures
        in three key areas. Automated outreach and retention activities are
        carried out via campaigns, which help us to connect and share
        information with students. Staff workflow generates task lists for
        day-to-day operations and shares communication with individuals, and
        reporting mechanisms deliver either on-demand or scheduled reports that
        provide data analysis and sharing.
    </p>

    <p>
        Campaigns consist of emails to students, phone calls placed to students
        by staff or a combination of the two. They can be a quick one-step
        campaign that only sends out one email, or a complex combination of
        emails, phone calls, staff checks, spanning a 6-to-12-month timeframe.
        Campaigns have replaced the manual processes with automated workflow, in
        which the work simply appears in a workspace for staff to perform. Staff
        records the outcomes of their efforts in the CRM system, so success rate
        and the number of interactions generated can be calculated. Campaigns
        also allows for the identification of risk factors, ideally when they
        are still solvable. It allows for conversations to take place earlier
        with students, rather than after the fact. Ideally, it targets what the
        issue is, involves staff who can help, in order for the issue to be
        resolved. And, the graph here highlights some of the proactive
        initiatives that we’re going to talk about further today.
    </p>

    <blockquote>
        "...we provide pre-defined or one-click filters to allow staff to pull
        data instantly without having to write their own queries."
    </blockquote>

    <p>
        <strong>Lisa:</strong> So, in terms of staff workflow, within our user
        workspaces, we provide pre-defined or one-click filters to allow staff
        to pull data instantly without having to write their own queries. Using
        these filters, staff can quickly identify student populations for
        analysis or communication purposes, and access frequently used data. For
        instance, a course might be cancelled due to inclement weather, like the
        storms we’re experiencing Michigan right now, or even instructor
        illness. A staff member simply runs the course filter, selects the list
        of students enrolled in a course, and sends an email to all of them,
        informing them of the cancellation. In addition to creating these
        efficiencies, workspace filters also ensure that data is pulled
        consistently by all team members based on an agreed-upon data dictionary
        and clear terminology definitions across units. Workspaces also function
        to provide at-a-glance data we need to make decisions. As an example, a
        one-click filter by course will show the number of enrollments in an
        upcoming course versus the number of enrollments needed for the course
        to run effectively. Courses with low enrollments can be identified and
        reviewed, compared with courses from previous semesters and analyze for
        viability. And, finally, filters allow us to easily segment students by
        various criteria, such as students enrolled into a specific program or
        course, those that might need a proctor for online exams, or those that
        have recently become admitted. Staff can then target communications to
        these groups at the appropriate point in time.
    </p>

    <blockquote>
        "...our CRM system provides a robust reporting tool that can provide
        canned reports, ad hoc reports, or scheduled email reports."
    </blockquote>

    <p>
        Okay. Our third component that we touched on earlier was reporting. So,
        our CRM system provides a robust reporting tool that can provide canned
        reports, ad hoc reports, or scheduled email reports. So, canned reports
        are pre-built reports that can be run on demand by the users. They’re
        either displayed in the user workspace, or as an Excel report within our
        analytics tools in the system. Some staff members are power users who
        have a deeper understanding of the data and filters in the system, have
        the ability to create their ad hoc filters and reports. Allowing our
        staff to generate reports based on those data points of most importance
        to them is empowering, and can provide early indicators of possible
        issues. If a staff member identifies an area of concern, like low
        enrollment in a program or a specific course, he or she can run a quick
        report, analyze the findings and escalate the concern as needed by
        sharing the report. Staff can also create automated reports and schedule
        them for distribution to identified stakeholders. Sending emailed
        reports to stakeholders on a regular basis we found to be an effective
        way to draw attention to critical data so that appropriate measures can
        be taken immediately if there’s an issue. These reports provide the same
        data at the same time to all units involved, including external
        stakeholders who do not have access to the CRM system itself.
    </p>

    <blockquote>
        "This system has allowed us to create a much deeper and broader
        retention program and initiatives for student success."
    </blockquote>

    <p>
        <strong>Marnie:</strong> Now that we’ve shared kind of an overview of
        what our CRM capabilities are, we want to move to the primary focus for
        today’s session, which is the outreach and retention efforts that we use
        our CRM system for. This system has allowed us to create a much deeper
        and broader retention program and initiatives for student success.
        Through the use of our CRM system, we’ve been able to expand our reach
        to students, because the system does much of the work for us, such as
        automatically sending out an email at a targeted point in time, and
        scheduling to-do items for us. This has allowed us to add additional
        retention efforts for our teams to perform. The non-enrollee outreach,
        first-time student support and early warning systems are a few of these
        efforts that we’re going to highlight and explain how our CRM system
        allows us to carry these functions out.
    </p>

    <p>
        The non-enrollee campaign was created because we wanted to reach out to
        students who have not yet enrolled in the upcoming term, to see if we
        could register them in courses. The campaign automatically sends out an
        email to an unenrolled student so many days prior to the start of
        classes, informing them that registration is ongoing. If the student
        still doesn’t enroll, then a staff member is triggered to place a phone
        call to the student. Overall, the campaign is designed to ensure
        consistency in enrollments from one term to the next, and ideally help
        to identify a student in need of assistance in resolving an issue like a
        hold that’s preventing their registration that should be removed. Each
        month, we average over 2600 outreach contacts with this campaign. And,
        this graph that’s showing here is a monthly number of tasks associated
        with the campaign that are performed.
    </p>

    <p>
        <strong>Lisa:</strong> So, in order to optimize the success and accuracy
        of this campaign, we use an algorithm to determine a student’s overall
        retainability or enrollability, if that’s a word. This can be based on
        financial or academic holds, possible enrollment in a capstone class,
        number of credit hours completed. We even take into account those
        students taking a break from classes for personal reasons. In addition,
        we evaluate course level statuses, registered, dropped, withdrawn or
        graded, to refine the intended audience so we can then use all of these
        statuses combined to customize the communication training and method.
    </p>

    <blockquote>
        "With this campaign, we’re averaging almost 2400 outreach contacts each
        month."
    </blockquote>

    <p>
        <strong>Marnie:</strong>The first-time student support is centered on
        two groups, new students in face-to-face classes, and new students in
        online courses. Regardless of where the student is taking classes,
        whether it’s in a physical classroom or the virtual ones, they’re
        provided with who their CMU team is and how to reach them. This would
        consist of people such as their academic advisor, and people at the, the
        staff at their center. It also provides new students with a list of
        resources that are available to them, such as our Global Campus library,
        resource center or tutoring services. It also highlights some of the key
        systems they will use, such as a student portal, our LMS system and CMU
        email account. Specifically for online students, we inform them what the
        online environment is like and the skillset they will need to be
        successful online learners. Links to resources such as a sample online
        course, and e-learning expectations documents, and a computer systems
        check are some of the things we direct students to explore further in
        order to be prepared for the online learning environment. With this
        campaign, we’re averaging almost 2400 outreach contacts each month.
    </p>

    <p>
        <strong>Lisa:</strong> So, the success of this campaign really depends
        on tracking the first time a student enrolls in each delivery type,
        meaning face-to-face, hybrid or online. And, also to track the level of
        the course they’re enrolled in, graduate, undergraduate or doctoral. If
        a student’s first class is also their first online class, they have
        different needs and receive a different outreach message than a student
        whose first class is face-to-face, as an example.
    </p>

    <p>
        <strong>Marnie:</strong> Prior to the start of online courses, students
        receive next-step information from CMU regarding what they need to
        complete in order to be prepared for the first day of class. The graphic
        shown here is embedded directly into an email the CRM system sends out.
        What you can’t tell from this picture is that there are links within the
        graphic that are clickable. So, underneath item number one, which says
        “Review syllabus,” if students click on that, they are taken to a
        webpage where they can locate their course syllabus. One of the cool
        features that our CRM allows for is that we can provide such an engaging
        and interactive message to our students.
    </p>

    <blockquote>
        "Automated campaign messages and individual one-on-one email messages
        can be HTML formatted with graphics and links"
    </blockquote>

    <p>
        <strong>Lisa:</strong> That’s right. Our automated campaign messages and
        individual one-on-one email messages can be HTML formatted with graphics
        and links like the one shown here. Links are also able to be tracked, so
        you can report on click rates and open and read rates. These all assist
        with determining the effectiveness of a communication and they help us
        refine messaging and timing.
    </p>

    <p>
        <strong>Marnie:</strong> Next, we’ll move into our early warning systems
        we have in place to proactively identify at-risk students for early
        intervention. The high load campaign is an outreach specifically for
        students enrolled in online courses. This report identifies students
        enrolled in three or more online courses at the same time. What we
        typically find with this outreach is two types of students. We find a
        seasoned online student who fully understands the fast pace our online
        courses move and the high volume of work that each course will require.
        They are fully prepared to take on this volume of work, and they’re
        ready to go. A new student who is uncertain of the number of courses is
        the second group of population of students. So, they may be enrolled in
        a higher number of courses, and they simply think that that’s what they
        need to be enrolled in, or that’s what they need to take in order to
        receive federal financial aid. This outreach effort is designed to find
        the second group of students. We are able to help them understand that
        taking this many online courses at one time will more than likely be
        overwhelming, and we provide them with the assurance that doing one,
        possibly two courses at one time is the norm. And, we work with them to
        adjust their schedules so that it is manageable. The end goal here is to
        ensure that the student has set themselves up for a successful start by
        taking a course load that does allow for success. On average, 32
        students a month are identified with this initiative, and while this is
        a small number, it is still 32 students who otherwise would have not
        been contacted by CMU. These are students who could’ve easily faltered
        in their academic performance by taking on too much at once, become
        discouraged by their resulting grades, and simply gone away after
        struggling in their first semester. By reaching out to them, we ensure
        the student has an academic load that’s manageable, helps to build their
        confidence in their ability to go back to school and be successful.
    </p>

    <blockquote>
        "Insuring students get the right start to their classes and are
        successful, again, helps them build that confidence"
    </blockquote>

    <p>
        Another early warning that we do is similar to the high load outreach.
        It’s a relatively new initiative we’ve undertaken, and it’s reviewing
        the course schedules of students in their first semester with us. This
        looks not only at the number of courses a brand new student is enrolled
        in, not just online, but also including face-to-face. But, also the
        types of courses the student has placed themselves into. All schools
        have courses that are of a particular challenge. For most people, myself
        included, those courses would tend to center around maybe math or
        statistics or something of an equally complex nature. This schedule
        review looks to see if a new student is enrolled in a high number of
        courses, as well as any of those challenging courses, or any combination
        of the two. We would much prefer a new student who’s returning to
        college for their first semester to focus on acclimating themselves to
        the rigor and demands of completing college level work in addition to
        raising families and holding down jobs. That’s a big adjustment for
        anyone to make, and insuring students get the right start to their
        classes and are successful, again, helps them build that confidence and
        hone the skills needed to achieve good grades. Once students have been
        identified as being at-risk by not having the right mix of classes, they
        are passed on to their academic advisor, who discusses with the student
        their schedule and makes needed adjustments. Ideally, the end result is
        a student who has a much more manageable course schedule, which gives
        them a stronger likelihood of academic success. Prior to the start of a
        term, we’re identifying 24 students on average as being at-risk with
        this initiative. Again, it’s a small population that’s being worked, but
        the impact of providing these students with a better mix of courses to
        start their studies really does have big implications. A student who is
        not successful in their first semester could face academic probation or
        possibly even immediate dismissal. They could incur financial aid
        bill-back or eventually collections. Being able to prevent all of this
        from occurring not only allows CMU to retain a valued student, but
        prevents labor hours being spent on these tasks when they are not, when
        a student isn’t successful.
    </p>

    <p>
        <strong>Lisa:</strong> So, our early warning efforts, like the ones
        Marnie just described, depend on staff’s ability to easily identify
        students that are brand new to the university, along with quick access
        to their course schedule, their enrollment status, and their academic
        advisor. Data from our student information system and other external
        sources is made available in the CRM in order to facilitate and track
        these communications.
    </p>

    <p>
        <strong>Marnie:</strong> The LMS early warning campaign is only for
        online courses. It identifies students who have not yet logged into
        their online course, and it sends out a series of emails and schedules
        phone calls in the first few weeks of the term to get students to begin
        participating. The goal is to get the student to immediately log into
        their course and get themselves caught up on what they’ve missed. About
        110 students each month are identified by the LMS early warning campaign
        for further follow-up.
    </p>

    <p>
        <strong>Lisa:</strong> The LMS early warning campaign is really
        dependent on a data interface that we’ve, that we’ve designed within our
        learning management system and our CRM. Course login information is
        stored in our LMS. We then extract that data and load it to the CRM by
        student and course in order to flag those students who haven’t logged in
        or aren’t logging in regularly.
    </p>

    <blockquote>
        "By bringing this process into CRM, we were able to make this a much
        more robust effort"
    </blockquote>

    <p>
        <strong>Marnie:</strong> The next initiative is for all courses and is
        one that can stand throughout the entire term. Our instructors have the
        ability to submit what’s called an early alert, which is a standardized
        form they complete for students they have concerns over. Those concerns
        could be lack of participation, poor performance, or missing
        assignments. The early alert notification has recently been brought into
        our CRM system where a flag is set on student’s record, which triggers
        the campaign to send out an email to the student. The student’s academic
        advisor is then scheduled to place a phone call to the student to
        address the instructor’s concerns, identify causes for these concerns or
        why the student’s performing poorly, share resources with the students
        that are available and create an action plan for the student to turn
        things around and finish the course successfully. Upon completion of
        this phone call, the advisor summarizes the conversation in a follow-up
        email to the student and they cc in the professor so that they’re aware
        of the outcome of their submission. The early alert initiative was moved
        into our CRM system just this past May in 2015. Since then, a dramatic
        increase has been seen in the number of submissions made by faculty. In
        the past eight months alone, there have been 144 early alert
        notifications submitted. In comparison, for fiscal year 2012 there was
        only a total of 74 submissions made for the entire year. By bringing
        this process into CRM, we were able to make this a much more robust
        effort by adding in an automated email, having a phone conversation, and
        then closing the communication loop by sharing with the instructor the
        outcome achieved from their submission. By informing the instructor of
        the efforts made, it encourages them to make, continue making early
        alert submissions on other students, resulting in the increase in
        numbers that we have experienced. The graph shown here highlights the
        dramatic increase of alerts received in the months of
        September/October/November. The reason for this spike is that these
        months are at the heart of our Fall One and Fall Two terms when most
        faculty are doing those submissions.
    </p>

    <p>
        <strong>Lisa:</strong> So, our CRM system interfaces closely with our
        public and internal websites, and data from many different web forms
        like the early alert submission form is loaded to the CRM system
        throughout the day. That way early action can be taken on key student or
        faculty activities as soon as possible. By identifying students with
        potential issues before they occur, we are able to steer them in the
        right direction and provide valuable feedback to their instructors.
    </p>

    <p>
        <strong>Marnie:</strong> So, we have many benefits that we have
        experienced from having our CRM system. Overall, it’s made us a much
        more nimble and proactive university. We are able to easily identify
        various student populations to tailor communications and outreach
        efforts to. The automation of tasks and workflow has given us much
        greater efficiency and freed staff time to take on new retention
        efforts. And, it’s also allowed us to give consistent messaging to
        students. Instead of staff drafting individual messages to students, the
        CRM system allows us to create a single message, shared instantly, with
        everyone at a point in time identified.
    </p>

    <blockquote>
        "Catching potential risk factors early increases the likelihood of
        helping a student to success"
    </blockquote>

    <p>
        <strong>Lisa:</strong> Along the way, we have gathered some important
        lessons as we’ve refined our student success and enrollment initiatives.
        And, that list of lessons continues to grow. A few of them here, first,
        our early detection is key. Catching potential risk factors early
        increases the likelihood of helping a student to success before they
        fall further behind. Second, online learners aren’t necessarily
        independent learners. They still need real, non-virtual support and
        practices to succeed. In fact, they also need more and different support
        than face-to-face learners, especially if they’re experiencing an online
        class for the first time. Third, consistent data definitions and a
        single source of the truth are critical to success. It’s worth the
        investment to define and maintain a data dictionary to ensure that all
        offices understand data and terminology across the university system. In
        addition, reporting should be done from the appropriate system. Because
        the CRM’s primary purpose is communications, its reporting should
        largely cover communication effort, while the student information system
        and data warehouse should be the reporting systems for student-related
        data. Fourth, campaigns and communication plans are never done. We have
        to continually look for new ways to identify and reach out to students
        in order to address issues that arise. It’s important to establish
        owners and a planned timeline to review and refresh existing campaigns
        and update the messaging and touchpoints. You can’t just build it and
        walk away. And, finally, ongoing training and documentation are critical
        to ongoing success. CMU facilitates both train the trainer and
        one-on-one training within user departments on both technical and
        business processes in CRM. As training can have a tendency to become
        diluted over time with staff turnover, it’s important to invest the time
        and effort into developing and maintaining documentation and training
        guides. Training documents can include tips and tricks, desk manuals and
        quick-guides. It is also important to provide campaign flows, timing and
        messaging documentation to user offices so they can easily identify
        overlaps and gaps in the communication plan.
    </p>

    <p>
        <strong>Marnie:</strong> This is our contact information. If anybody
        should have questions after this webcast, we welcome you to give us a
        call or shoot us an email. We’d be more than happy to do our best to see
        what we can do to assist you.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
