---
# <!-- @formatter:off -->
title: Driving Enrollment Growth With Nontraditional Programs
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='driving-enrollment-growth-with-nontraditional-programs'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <p>
                    Nontraditional students can represent significant potential
                    for an institution to reach enrollment goals, but this
                    population also presents unique challenges. At Central
                    Michigan University (CMU), administrators have addressed
                    these challenges in innovative ways to enroll and retain a
                    wide variety of nontraditional students, from adult learners
                    to military personnel and veterans, leading U.S. News &amp;
                    World Report to rank its online division among the best
                    programs in the nation.
                </p>
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/LNo_8dA4Hr8?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Driving Enrollment Growth With Nontraditional Programs"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: February, 25 2016
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/webcasts/driving-enrollment-growth-with-nontraditional-programs-transcript/"
                    >
                        Review Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Watch this webcast to learn how CMU developed a strategic
                enrollment management plan and utilized a CRM solution designed
                for higher education, to help optimize engagement across the
                student lifecycle. Through this strategic plan and data
                platform, CMU leaders were able to gain a complete picture of
                candidates and students across departments and systems, manage
                staff assignments, identify and proactively engage at-risk
                students, improve collaboration among advisors and faculty and
                enhance communication campaigns.
            </p>

            <h2 class="b c-grey--800 mb0">
                Topics include:
            </h2>

            <ul class="list--normal">
                <li>
                    How to improve outreach and retention through proactive
                    engagement
                </li>
                <li>
                    Ways to increase data accuracy and completeness to attain
                    “one version of the truth”
                </li>
                <li>
                    How to automate data sharing across programs and business
                    units to create a holistic student profile
                </li>
                <li>
                    Strategies to assess enrollment and engagement trends and
                    employ intervention to support student success
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Marnie Roestel</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Manager of Online Programs</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Central Michigan University</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Lisa Benic</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Manager of CRM and Web Development</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Central Michigan University</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
