---
# <!-- @formatter:off -->
title: The Engagement Platform of the Future – More than a CRM
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='engagement-platform-of-the-future-more-than-a-CRM'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/phytNqIec1M?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="The Engagement Platform of the Future – More than a CRM"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: November 2, 2017
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Higher education has unique needs when it comes to student
                engagement, from the recruitment cycle through alumni relations.
                More of today’s institutions are taking new approaches, going
                beyond the typical point solution mindset and toward a ‘whole
                campus’ strategy by employing a single engagement platform.
                Today’s engagement platforms are able to integrate data from
                multiple systems and touch points, and provide insight through
                powerful analytics to improve results across the institution.
            </p>

            <p>
                Whether your goal is to increase enrollment, improve retention,
                create lifelong relationships with alumni or improve outcomes,
                watch this webinar to learn how to use technology to drive
                engagement throughout the student lifecycle.
            </p>

            <p>
                Higher ed administrators interested in enrollment, retention and
                engagement.
            </p>

            <h2 class="b c-grey--800 mb0">
                Topics include:
            </h2>

            <ul class="list--normal">
                <li>
                    The key components of a successful engagement platform
                </li>
                <li>
                    The strategic initiatives that a whole campus, enterprise
                    mindset empowers
                </li>
                <li>
                    How technology can drive engagement throughout the student
                    lifecycle
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Mark Armstrong</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Chief Strategy Officer</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Campus Management</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Jennifer Beyer-LeFever</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Vice President, Product Management</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Campus Management</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
