---
# <!-- @formatter:off -->
title: Estrategias Bem Sucedidas Para o Crescimento e o Sucesso Apresentando a Universidade Positivo
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
url-lang-prefix: /es
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form--es site='cmc' group='es'
        webcast='estrategias-bem-sucedidas-para-o-crescimento-e-o-sucesso-apresentando-a-Universidade-Positivo'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}
        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="//www.youtube.com/embed/sqjR8BmOsr8?wmode=transparent&autoplay=0"
                            frameborder="0"
                            allowfullscreen
                            title="Estrategias Bem Sucedidas Para o Crescimento e o Sucesso Apresentando a Universidade Positivo"
                            loading="lazy"
                        ></iframe>
                    </div>

                    <p class="l">
                        Data da transmissão original: 31 Ago 2017
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/documents/Presentacion.+Universidad+Positivo..pptx"
                        target="_blank"
                        >Descargar presentación</a
                    >
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
              Establecida hace más de tres décadas en el estado de Paraná y Brasil, la Universidad Positivo recibió recientemente el premio Campus Management de excelencia en visión estratégica por su capacidad de anticipar y realizar cambios a través de modelos académicos, metodologías de participación estudiantil, desarrollo de empleados y prácticas de retención.
            </p>

            <p>
              Únase al seminario web representado por la Universidad Positivo y Campus Management, un seminario web que revela cómo la institución aumentó su población estudiantil en un 25% durante el año 2015 y un 11% adicional en el año 2016.
            </p>

            <p>
              Explore las mejores prácticas que le permitan transformarse con las tendencias económicas y educativas de su país y ponga en marcha un plan para lograr el crecimiento en torno a los desafíos.
            </p>

            <p>
              Esperamos contar con su participación en los próximos eventos.
            </p>

            <h2 class="b c-grey--800 mb0">
              Presentadores
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Ronaldo Hofmeister</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >director de marketing y relaciones</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Universidad Positivo</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--3-testimonials--es]}}
{{/content}} {{/extend}}
