---
# <!-- @formatter:off -->
title: Faith-Based Institution Undergoes Tremendous Growth with Advanced Technology
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='faith-based-institution-undergoes-tremendous-growth-with-advanced-technology'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/jJYinyE5lDg?rel=0"
                            frameborder="0"
                            allowfullscreen
                            style="display: block;"
                            title="Faith-Based Institution Undergoes Tremendous Growth with Advanced Technology"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: October 28, 2014
                    </p>
                </div>
            </div>

            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/webcasts/faith-based-institution-undergoes-tremendous-growth-with-advanced-technology-transcript/"
                    >
                        Review Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                As with all higher education, faith-based institutions are
                facing a myriad of challenges, driving them to transform and go
                beyond the status quo. Delivery models are being disrupted as
                institutions must offer greater flexibility in their academic
                programs to meet the expectations of today&#39;s students.
            </p>

            <p>
                There is more competition for fewer students, as a smaller pool
                of traditional inbound prospective students and more choices
                have required institutions to reach out to new segments and
                demographics.
            </p>

            <p>
                Advanced technology can provide a competitive edge, yet funding
                is stagnant and new investments require demonstrable outcomes.
            </p>

            <p>
                Lancaster Bible College faced these challenges head-on and
                underwent strategic growth at a time when most institutions
                struggled to maintain their enrollments. What was once a
                single-campus college of under 800 students is now a thriving
                7-location institution and seminary with nearly 2,000 students.
            </p>

            <p>
                During the Webcast Lancaster Bible College will reveal how the
                institution:
            </p>
            <ul class="list--normal list--has-lead-in">
                <li>
                    Achieved significant enrollment growth in under 7 years
                </li>
                <li>Managed expansion to include locations in 6 states</li>
                <li>Enabled advanced technology across the college</li>
                <li>
                    Laid the foundation for exponential growth in the next 5
                    years
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Vince Johnson</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Vice President</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Information Systems</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Micah Story</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Sr. Systems Analyst</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Lancaster Bible College</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Jeff Hoover</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Associate VP and Registrar</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Lancaster Bible College</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Karli Grant</span
                    >,
                    <span class="presenter-list__presenter-title">Manager</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Product Marketing</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--3-testimonials]}}
{{>[box-v3/combo--best-practice-7]}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
