---
# <!-- @formatter:off -->
title: Faith-Based Institution Undergoes Tremendous Growth with Advanced Technology Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="mb0 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Lessons Learned in Developing a Strategic Partnership with Your SIS
        Provider.
    </p>

    <div class="transcript">
        <p>
            <strong>Vince Johnson:</strong> Welcome to the Webinar. We are
            looking forward to our discussion over the remainder of the hour. We
            will share how LBC has been blessed with growth in enrollment. We
            are also going to talk about our current state of implementation of
            CampusVue and then move on to our next steps with Campus Management.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thanks Vince. I would like to start us
            off by asking if you all can share with us a bit about Lancaster
            Bible College.
        </p>

        <p>
            <strong>Jeff Hoover:</strong>
            Lancaster Bible College has been around for over 80 years. We were
            founded in 1933 and as we talk about enrollment growth, the very
            first class at LBC had eight students in it. And if you look at
            where we are now, that is significant enrollment growth. But just to
            give a little bit of history of who we are, over the years we have
            experienced that growth. But throughout that growth process, we have
            not lost our mission or vision. And we still believe we exist to
            educate Christian students to think and live a Biblical worldview,
            and to proclaim Christ by serving him in the church and society.
            Over those 81 years, the different phases of who LBC is, is we
            gained our first approval through the state as a degree granting
            institution as well as through our regional and national accrediting
            bodies. We were originally accredited by the Association for
            Biblical Higher Education and later by the Middle States
            Association, now known as Middle States Commission on Higher
            Education. Over the majority of this time period, we were a
            traditional undergraduate campus consisting of traditional
            undergraduate programs. But God was calling us to more. In the ’90s,
            Lancaster, on our Lancaster campus, we started to expand our
            non-traditional offerings and we did receive approval to offer
            graduate courses and our first graduate level degree. We also
            started to offer non-traditional programs at the Bachelor’s level in
            the adult accelerated format. But what the real kicker is, in 2007,
            when non-traditional studies was expanded online, and LBC was
            approved to offer our first fully online degree. As our programs and
            our Lancaster enrollment has grown, the addition of services and new
            student service buildings on our Lancaster campus was needed. First
            was our traditional library, known as our Teague Learning Commons or
            the TLC. And that opened for use in the fall of 2012. This building
            anchors the academic mission of our institution. The library is
            wrapped in a collaborative learning space as well as academic
            support services and classroom space.
        </p>

        <blockquote>
            "But as we continue to grow, we continue to work on those strategic
            partnerships and one of those right now is Campus Management."
        </blockquote>

        <p>
            Now along with the library and this TLC, our anchor of academics, we
            also needed to expand our academic services and our dormitory space,
            as well as administrative space for our faculty departments. And so
            we have just started a new project this fall and we are going to
            have a dorm built. And we are hoping that in November, a new
            academic administration building, the Fry Center, will be started
            and hopefully in the next 18 months that will be on line as well.
            But as we continue to grow, we continue to work on those strategic
            partnerships and one of those right now is Campus Management to help
            keep us on this mission and vision that we originally had back in
            1933.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you for that historical
            overview, Jeff. That sets the stage nicely to talk about the
            challenges that Lancaster Bible College was facing that prompted the
            search for a new student information system. Can you outline some of
            those challenges?
        </p>

        <p>
            <strong>Jeff Hoover:</strong> Absolutely. Originally, LBC’s initial
            challenge was a technology hurdle. And it was concerning our Windows
            servers. We were using a paradox environment for our student
            information system and we were forced to move to an SQL environment.
            Knowing that we were going to be forced to make some of these
            changes, we had to start making a list of items we wanted to make
            sure that a new system that we would implement would accomplish to
            help us to continue in our growth process. These included items such
            as online student and faculty capabilities. We needed our
            constituents to be able to have access as we were looking to offer
            online courses and degree programs. We also needed cohesiveness
            between academic registration, billing and financing aid. Previously
            those systems did not always cooperate and there was a lot of manual
            work that had to be done between those. And we wanted something that
            was very cohesive, and automated, and efficient. Another high
            priority was reporting functions and the access of student
            information that was appropriate for all departments in need of our
            student information system, especially as we really struck on
            advising, and what does that mean in retaining a student? And so we
            needed that information available that can be housed in the campus
            system. Of course, all of this had to fall within the budgetary
            constraints set upon us for the new student information system. And
            it was at this point, after due diligence, we partnered with Campus
            Management.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you. So we heard that
            cohesion, automation and reporting were some of those very
            challenges. If we were to look back over the last seven years since
            the implementation, what would you say are the results that the
            institution has experienced?
        </p>

        <blockquote>
            "So from a centralized location, we have been using CampusVue to
            help administer all our different expanded locations, as well as our
            growing enrollment population."
        </blockquote>

        <p>
            <strong>Jeff Hoover:</strong> Well, over the last seven years, we
            have experienced great growth. It was in the fall of 2006 that we
            first implemented CampusVue Student. At that time, we had
            approximately 950 total students across all traditional and
            non-traditional programs and one campus location. As of this fall
            2014, we now service more than 1,900 students at seven locations as
            well as online. So over the last seven years, we have had to
            integrate many outside technologies and processes to continue to
            service students here at Lancaster Bible College. To kind of give a
            quick history of our growth and these multiple locations that we had
            talked about, at the same point we started using CampusVue, as I had
            mentioned earlier, we were approved to offer our first fully online
            degree. Since that time, we now offer many courses totally online
            and in a hybrid delivery format. And we found that that has really
            helped in the process of growing our enrollment, that hybrid
            delivery method. In 2002, we were very excited to partner with the
            Center for Urban Theological Studies [00:13:29] in Philadelphia,
            Pennsylvania and we are now offering adult accelerated undergraduate
            degree programs and just recently seminary programs there in
            Philadelphia. And later, in the spring of ’13, we acquired the
            programs for undergraduate, graduate and seminary studies. And that
            is very important, the seminary part of that, in Greenbelt, Maryland
            and in Springfield, Virginia, two other locations. With the addition
            of the seminary in 2013, strategic programs in Boca Raton, Florida
            and Indianapolis, Indiana were started. Most recently, we have
            partnered with the Memphis Center for Urban Theological Studies and
            now offer undergraduate and graduate programs in the Memphis,
            Tennessee area. With all these additional locations, CampusVue has
            helped us to be consistent in our administration, as well as having
            some centralized oversight and some key offices for our multiple
            locations. This includes the Registrar’s Office, the Business
            Office, and Financial Aid, as well as some student service
            assistance. So from a centralized location, we have been using
            CampusVue to help administer all our different expanded locations,
            as well as our growing enrollment population.
        </p>

        <p>
            <strong>Karli Grant:</strong> That sounds like that has been quite a
            challenge and one that you navigated very successfully. I heard you
            mention that hybrid or blended delivery of programs was important,
            adult programs was important, the expansion of your locations and
            the centralization of services, were all key to your success in the
            last few years. So Vince, that kind of begs the question from a
            technology perspective, how have Campus Management Solutions evolved
            with Lancaster Bible College?
        </p>

        <blockquote>
            "It is up to our team to provide secure, reliable, easy-to-use
            scalable enterprise platform."
        </blockquote>

        <p>
            <strong>Vince Johnson:</strong> Sure. I have had the privilege of
            joining LBC four years ago this week. Prior to that, I had spent 30
            years in corporate technology and 12 of those years as a CIO running
            SAP as an ERP for the mid-market. As I look back at the career
            opportunities I had in the corporate environment, I honestly believe
            that those experiences were all in preparation for serving our
            faculty, staff and students here at Lancaster Bible College. There
            were several lessons learned during those 12 years of running an ERP
            that are very applicable today and to our environment. The first is
            that IT should be viewed as an enabler and as an enabler, it is up
            to our team to provide secure, reliable, easy-to-use scalable
            enterprise platform. So you say how are we doing in that area?
            Although we have intentionally moved many of our course systems to
            the Cloud, CampusVue runs in our dual datacenters on campus here in
            a VM environment, and we are using a VDI Virtual Desktop to provide
            secure connection to all of our remote sites. So basically, any PC
            anywhere. The second is that there must be high integrity in the
            master data with only one version of the truth. And how are we doing
            in that area? IT has oversight regarding what input methods are used
            in CampusVue. We do reserve the right to exclude a third party input
            in order to maintain integrity of our data. The third is that IT
            needs to earn a seat at the table to be able to participate in
            process improvements. And how are we doing there? We have worked
            very hard to have a subject matter expert that understands the
            workflow in each and every department and the corresponding
            configuration of the system. The fourth point is that it is up to IT
            to make the integration with all of our other subsystems appear to
            be seamless to our end users across our college and university
            community. And when we look introspectively at how we are doing
            there, the majority of all of our college subsystems that touch any
            student information, it is sourced solely from Campus Shield.
        </p>

        <p>
            So I was thrilled on my very first day four years ago to sit with
            Micah Story and see the evidence of an ERP, specifically our Student
            Information System using Campus Management’s Campus Shield. And
            coming out of that initial session, we agreed to have an even more
            focused effort to add necessary production controls around the
            automation of those numerous interfaces. And I am going to introduce
            Micah Story. He is our subject matter expert and our Senior Business
            Systems Analyst that works all day, every day, inside of our Campus
            Management System. So here is Micah.
        </p>

        <blockquote>
            "We have strategically positioned CampusVue at the core of our data
            integration."
        </blockquote>

        <p>
            <strong>Micah Story:</strong> Thank you, Vince. As you can see, we
            have strategically positioned CampusVue at the core of our data
            integration. This is the first and final authority for the data as
            we move it in and out of our other systems. From ID cards to library
            access to meal plans for our resident students, door security,
            online learning, etcetera, we try to eliminate as much of the manual
            efforts to keep our systems in sync. You can see all of the systems
            that we integrate here in this diagram. Another part of the
            integration that is not represented on this diagram are the
            regulatory and financial aid updates that are provided directly
            within CampusVue. We do not have to worry about the financial aid
            compliance or loan processing or any of the other intricacies that
            are required when processing those loans, because that is all taken
            care of for us directly within CampusVue. I should also note that
            the integration shown here is for all of our students at all of our
            locations. Back to you, Karli Grant.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thank you both. That was quite a
            chart. I loved that it show that CampusVue really is the heart of
            your technology systems. You have both laid a good foundation to
            talk about the fact that you view IT as an enabler. That data
            integrity is of the utmost importance. One version of the truth is
            critical and that everything needs to be sourced from CampusVue. So
            it sounds like you have a very strong foundation from which to work.
            I am wondering what are some of your strategic initiatives in the
            next five years and how would you look to Campus Management as your
            partner to support you?
        </p>

        <blockquote>
            "We are looking at Campus Nexus, one of the immediate advantages
            will be in utilizing the workflow feature that is within the new
            upgrade."
        </blockquote>

        <p>
            <strong>Vince Johnson:</strong> From a technology perspective, you
            have heard about our enrollment growth in the different areas of 80
            years of traditional undergraduate with traditional bricks and
            mortar campus and that continues to expand. You have heard about the
            acquisition of our academic programs in the capital region,
            specifically Capital Bible Seminary. Jeff alluded to the
            partnerships that we have with Urban Ministries, where LBC is the
            accrediting institution and then also our online education
            initiatives. CampusVue has enabled us to scale our enrollment across
            all of those areas, across multiple locations and as we continue to
            expand our enrollment and our footprint, we are already making plans
            to upgrade to the CampusNexus product. And a couple of reasons we
            are looking at CampusNexus, one of the immediate advantages will be
            in utilizing the workflow feature that is within the new upgrade.
            Another is an immediate focus on forms builder, which will address
            the referential data integrity issue and I kind of alluded that we
            have literally said no to certain third party inputs, where we were
            very concerned how they were putting data into CampusVue. We wanted
            to maintain that integrity of that data. Forms builder will be that
            point of control that we will be able to do that. We are also
            looking to implement CRM, which will enable several much needed
            process improvements moving forward there.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you, Laurie. The first
            question that we have is from a technical perspective. What lessons
            learned could you share with the audience members? So Micah, would
            you be willing to answer that first from your perspective as a
            subject matter expert?
        </p>

        <p>
            <strong>Micah Story:</strong> Sure. One of the things that we
            identified early on was to know what the weaknesses were, like the
            hurdles that we were trying to overcome. It is important to know
            what the target is in an effort to know what solution you need.
            Another opportunity that we had for success was to document our
            processes, maybe identify some weak areas, some things that we could
            do better. And see what solutions could be available. Maybe we do
            not have the right solutions, and then that opportunity, we were
            able to discover and learn what some best practices are. How can the
            CampusVue product better help us recruit and retain students? So
            those are just a couple of the lessons that we had when making our
            initial decision and we have been successful so far with using the
            CampusVue product.
        </p>

        <p>
            <strong>Karli Grant:</strong> Jeff, from your perspective as an
            administrator, how would you answer that same question? What lessons
            learned can you share with the audience members?
        </p>

        <p>
            <strong>Jeff Hoover:</strong> I would say the main lesson that I
            learned through this process is you look for an SIS system moving
            forward and so we were. What processes can we make more efficient?
            What areas do we need to improve on? But one thing that I did not
            pay close enough attention to when we were going through this
            process is okay. All the information that is in my old SIS system,
            what is going to be the best and most efficient way to get it all
            over to the new system? And so the lesson that I learned if ever we
            have to go through this process again or if I am not at LBC anymore
            and I am at another institution and we go through this process of
            changing SIS, is really paying attention to the idea. Because of the
            data integrity, how are we going to move information from one system
            to the next? So the lesson I learned, we did it manually. And I
            still go back and forth if that was the right answer or not. But we
            went with that and we worked everything we had to do to get that
            done.
        </p>

        <blockquote>
            "One of the key lessons learned is to develop that strategic
            partnership with your SIS provider."
        </blockquote>

        <p>
            <strong>Vince Johnson:</strong> One of the key lessons learned is to
            develop that strategic partnership with your SIS provider. We are a
            small faith-based IT shop, a total of eight of us, including myself,
            including help desk, supporting dual data centers, supporting all of
            our locations, supporting several thousand active directory
            accounts, and all of our core systems. So as you form that strategic
            partnership with your provider, if you know what is in the pipeline
            as far as their development, what is in the roadmap of the SIS,
            those resources of your provider basically become our developers. So
            again, we are trying to understand the roadmap so we understand what
            best practices, what options there are there. And then to be able to
            leverage the new features that are coming out in a timely manner
            across the college community. So Campus Management has been a key
            partner since our implementation and they continue to be.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thank you, Vince. We do have quite a
            few questions coming in. Some of them are oriented around your
            enrollment growth and processes of which confluence of students and
            faculty use what tools. So I will start with our first one. You
            mentioned the enrollment growth over the last 18 months. What did
            Lancaster Bible use to achieve that growth? Jeff, would you be able
            to answer that for us?
        </p>

        <blockquote>
            "A lot of what we have done and started to understand is the role of
            retention in enrollment growth."
        </blockquote>

        <p>
            <strong>Jeff Hoover:</strong> Sure, I can chime in here. A lot of
            what we have done and started to understand is the role of retention
            in enrollment growth. Most people, if you understand enrollment
            management, the idea of the enrollment funnel has always been a
            process that you have had to follow. And the top of the funnel is
            big, you cast the net wide, and when you cast that net wide, there
            should be particulars that you pay attention to to know this is who
            is going to come out at the bottom of the funnel for your
            enrollment. And what we have learned is that part of that process
            was always focused on the incoming, but once you have them here, how
            do you retain them? And so what we have paid attention to for our
            enrollment growth at all levels because data for non-traditional
            retention is, there is just not a significant amount of data there.
            And processes that we, or best practices I should say. And so we
            have really had to work on the idea of what is retention, especially
            at our non-traditional programs and levels that has helped us to
            continue to build our enrollment. So I would really have to say from
            the academic side and the enrollment management side is we really
            made a conscious effort to work on retention. And that really laid
            into the role of working on our advising process for all those
            levels of non-traditional education.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you. We have a question
            here about whether or not the college allows students to enroll in
            multiple deliveries within the same semester. So can they enroll in
            multiple programs or multiple types of class delivery in the same
            semester? And then this is a little bit more complex, but how is
            financial aid automated and packaged for the student?
        </p>

        <blockquote>
            "We went to a multi-campus system within CampusVue to help track
            students."
        </blockquote>

        <p>
            <strong>Jeff Hoover:</strong> That is a great question, by the way,
            and something that we just recently answered because we went to a
            multi-campus system within CampusVue to help track students. But we
            were running into students who were enrolling in classes, and my
            fingers are in quotes when I say this, on multiple campuses, which
            we did allow. And what we had to do within CampusVue is use the
            process of parent terms and child terms and in using parent and
            child terms, we are able to switch on and off which areas of
            CampusVue see the terms. And so at the academic level, students
            would register in the child terms and that could be per campus. That
            could be delivery methods, as we talked about non-traditional
            online, non-traditional on campus, traditional on campus, graduate
            schools, seminary courses. But in the process, they could register.
            Those courses academically are in the child term but the system in
            the background sees the parent term and that is what the financial
            aid and business office or billing side sees in CampusVue, is the
            child term. Or I am sorry. The parent terms and so they can, the
            parent term then is assigned all these different child terms and
            then all the information is pushed up to the parent term. And so it
            looks like it is one cohesive term for financial aid purposes and
            for business office purposes. And so that the financial aid can then
            process financial aid off of the parent term, showing that they are
            full-time, showing that they have the correct amount of credits. But
            it only shows in that one parent term. And so that is how we were
            able to get past that and allowing students to register in multiple
            delivery methods were child terms, and then the financial aid and
            business office deal with the parent term in terms of the billing
            method and the billing, as well as financial aid.
        </p>

        <p>
            <strong>Karli Grant:</strong> That was a great explanation, Jeff.
            Thank you so much for that. While we are staying along the lines of
            working with constituents, could you tell us how do your faculty
            advisors or do your faculty advisors use the faculty portal or do
            they use the student system when they are contacting and working
            with students?
        </p>

        <p>
            <strong>Jeff Hoover:</strong> Again, I can answer that. Our faculty
            advisors actually use CampusVue Student, and we have set their
            permissions up so that they can view the courses they need, the
            degree audits they need, and other informational. Our admissions
            department will upload documents, whether it be other transcripts if
            they are transfer students, or other needed information that the
            academic side will need once the student has matriculated and become
            an active student. And so we have worked the process to train our
            advisors to use CampusVue Student. In the near future, we will
            actually open faculty portal for our faculty so that they can see
            their course rosters and submit grades. But as of right now, we do
            not use the faculty portal for advisors. We use actually CampusVue
            Student.
        </p>

        <p>
            <strong>Karli Grant:</strong> Okay. Thank you. Vince, I am going to
            direct this question to you. It is about kicking off the growth that
            the institution has experienced. Did LBC make a major investment in
            infrastructure and staffing in advance of the growth or were you
            able to grow slowly starting with the resources you had at the time?
        </p>

        <p>
            <strong>Vince Johnson:</strong> Sure. Great question. You may
            remember back in the presentation, you saw a picture of our Teague
            Learning Commons with the sunset behind there. That is a $12,000,000
            building of library and collaboration. One of the assessments that I
            did was business continuity, which received a failing mark on our
            campus here. So what we were able to do is as part of capital
            expenditure budget of that building, we put a brand new data center
            in the basement of that building and upgraded our infrastructure to
            include all VM hardware, all new storage, and all new Sysco systems.
            And then we actually replicated that exact same equipment in our old
            data center so we have on site failover. So we built a high
            available, redundant system and we were able to do that with capital
            expenditure dollars associated with the Teague Learning Common. So
            that put us on a real fast track as far as IT being an enabler with
            a very robust infrastructure with three nines of uptime, so
            hopefully that answered the question.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thank you, Vince. Micah, this next
            question is for you. The question is does CampusVue or does Campus
            Management have a fund raising or advancement module?
        </p>

        <blockquote>
            "One of the ports that we take out of CampusVue, we can
            automatically import that right into the Talisma fundraising
            product."
        </blockquote>

        <p>
            <strong>Micah Story:</strong> Yes, absolutely. The Campus Management
            does have another system. We do use it here. It is called Talisma
            fundraising. We have been able to use that. Our advancement team –
            it keeps track of all the gifts. It keeps track of the receipts that
            are necessary, all of the campaigns and all of the pledges come in.
            We have chosen that all of our alumni should be added to the Talisma
            fundraising system, so one of the ports that we take out of
            CampusVue, we can automatically import that right into the Talisma
            fundraising product so that when we do our mailings and we make our
            students aware of the events. It keeps the alumni aware of the
            events. We will be able to target them right off the top there. One
            of the other nice features that it can do is it has a direct export
            to our GL for putting the gifts that come in. We can keep track of
            that in our accounting software as well.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thank you for sharing that
            information. We have two questions that are similar in nature. Can
            you please describe to us what the evaluation process was that you
            went through when you were evaluating software and selected the
            Campus Management partner and products? I think – Jeff, I know you
            were on the original search committee.
        </p>

        <blockquote>
            "The major thing that we looked for is we needed a cohesive singular
            SIS system that worked together to do all that in one place."
        </blockquote>

        <p>
            <strong>Jeff Hoover:</strong> The first thing that we had to
            consider, of course, was cost. That was – well, I do not know if you
            say fortunately or unfortunately, but that was one of our major
            considerations. Not that it was the number one consideration, but we
            did have to consider cost. Number two, of course as I said earlier,
            it had to be SQL based, so we had those functionalities that we had
            to have. The third thing that I will say that was a real factor in
            the process of weighing through this was the ability to centralize a
            lot of the processes within the Campus Management system. As I had
            said previously, we were using different add ons. I guess I can call
            it add ons. They were not part of our original SIS, but I know we
            were using another module for financial aid that would pull the
            information out of our old SIS and then process financial aid that
            way. We would also, some of the billing was done outside of our old
            SIS. And so the major thing that we looked for is we needed a
            cohesive singular SIS system that worked together to do all that in
            one place. And so that was a major part of our consideration as we
            went through that process. Lastly, I will say that my interest in
            the whole process was reporting, as I did a lot of the data
            downloads. And of course, all of our accreditation reporting, state
            reporting and things of that nature, I was very interested to know
            how I could access the data that was in there. And so the reporting
            structure and being able to get to data, not necessarily in
            customized reports, but knowing okay, these are the different areas
            I can pull the information and how I can access it to put it in the
            presentation. Whatever I had to present it as, whether it be through
            reports or internally, externally. So those are – the major one was
            cohesiveness of the entire system doing it in one place. Of course,
            cost and of course, the reporting function and how we were able to
            disseminate information in a centralized place.
        </p>

        <p>
            <strong>Karli Grant:</strong> That is a great summary. Thank you so
            much, Jeff. We have another question here that is about your
            distance learning programs. So I think, Jeff, I will ask the
            question, ask you to answer it first, and then Micah or Vince, if
            you want to answer it from the technical perspective, that would be
            great, too. So the question is can you expand a little on distance
            learning programs offered at your institution and particularly about
            the challenges of developing the program and goals set in place over
            the years.
        </p>

        <blockquote>
            "What we found was that going to a hybrid approach to that delivery
            method was much more successful."
        </blockquote>

        <p>
            <strong>Jeff Hoover:</strong> For distance ed., that is really
            referring to online. We never actually had any correspondence or
            even satellite sites previous to 2012. So with online ed., our
            President is a great visionary and he knew that that was the future
            back in the mid-2000s. And so he knew we had to go that direction.
            And so that was a long process that we worked through. What does it
            mean to offer that distance learning through online education? What
            does it look like? Can we replicate what happens in the classroom in
            the online environment? Those were all of the things that we had to
            work through and I think we have done very successfully. We now have
            a dedicated department to online education that helps in the
            delivery method and in our online learning environment. And setting
            up courses, making sure we are following all the assessments to make
            sure that the learning is occurring and things of that nature. The
            goals for that process, well, number one, when we first started, the
            goal was to be able to offer fully an online degree. And we are
            doing that through a bachelor’s program. The demand for the higher
            levels in the graduate school and seminary for totally online,
            though other institutions are doing it, what we found was that going
            to a hybrid approach to that delivery method was much more
            successful. We have surveyed students. What were they looking for?
            What did they want? And they liked the convenience of online, that
            distance learning online. But they still loved the ability to have
            those face-to-face relationships. And so a lot of what we do in our
            non-traditional and graduate and seminary courses is a hybrid style
            of learning where up to 70 percent of the learning happens online
            and then approximately 30 percent is done face to face. And so one
            of the benefits of that is it used to be the case that you would
            only reach maybe 100 miles outside of your centralized campus to
            reaching students, because number one, even if it was online, who is
            Lancaster Bible College? And number two, for them to get to campus
            to take courses or even just the face-to-face services that they
            might need, the library services or anything like that, it was just
            too far. But with the hybrid approach, we have actually expanded the
            distance that people are willing to travel because it is a
            concentrated hybrid approach to hey, 70 percent is done online and
            then two to three days are done on campus in a concentrated format.
            And so that has really helped as we have moved through the process
            of developing our distance learning through online and hybrid
            approaches. The goals? We continue to want to offer all of our
            programs potentially in an online format and so we are slowly
            working towards that. In our traditional campus, we are offering
            many, many more courses online, but with our traditional brick and
            mortar campus, the majority of those students are 18 to 22 year
            olds. They want the experience of being on campus. So we do not
            really see that being an online degree process, but in our
            non-traditional programs, the adult learner, graduate, seminary. We
            see that happening and so potentially moving to an entire degree
            online is probably a goal that we have down the line for us
            academically.
        </p>

        <blockquote>
            "Up to 70 percent of the learning happens online and then
            approximately 30 percent is done face to face."
        </blockquote>

        <p>
            <strong>Vince Johnson:</strong> From a technology perspective,
            again, with our eight person IT staff, we have a strategy that we
            look to enterprise systems so we, and a matter of fact, Micah showed
            you on the chart, there was CampusVue at the middle that has all of
            our students. It has all of our courses. There is an automatic feed
            and sometimes it runs on the hour or on the day, that takes any time
            a new student is enrolled in a course, it automatically feeds our
            LMS system. Our LMS happens to be moodle based, but instead of just
            using the open source moodle, we actually looked to an organization
            that productizes that, puts all the controls around that. That is at
            a managed hosted site off of campus and those interfaces run very
            clean between CampusVue and our LMS. So IT works very closely with
            our online ed. department.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you both. Back to the
            decision factors for selecting an ERP partner. Could you tell us the
            three factors that led to a selection of Campus Management over the
            other vendors that you originally considered? And so Jeff, that
            question would go back to you. And I know that you, you did share
            before that it was ability to centralize processes, and the cost,
            and reporting. Were there any other factors that were involved in
            that?
        </p>

        <p>
            <strong>Jeff Hoover:</strong> Those were the main ones. I know it
            was really exciting for us. I was really excited, to not have to
            deal with the old paradox system and moving to a more, my goodness,
            it looked actually new, system. And not that that was hey, I would
            gone with any system as long as it met our needs. But I was excited
            in the process of updating, but like I said, cost was a factor, a
            definite factor. Being able to centralize processes and I need to
            expound upon that. I mean, that was a goal of ours, but that was a
            goal when we were only at one campus. And when I say centralized
            processes, I was just looking for a system that actually within the
            same SIS system, do billing, do financial aid, do keeping track of
            their transcript and a graduation audit. But now, with our multiple
            locations, we have been blessed to have a system that allows us to
            centralize those processes even when we have campuses in other
            states. And so I guess that kind of rolls into if we talk about what
            do you need to look for if you are a small institution. We all know
            that. I shared with how our enrollment has grown and just even on
            our brick and mortar campus, we have grown by 33 percent over the
            last seven years. But I know for a fact that my budget has not
            increased by 33 percent, nor has my staff increased by 33 percent,
            or faculty or anything like that. And so we have had to do more with
            less. And so making sure that your system allows you to be
            efficient, allows you to centralize those processes, and allows you
            to be able to manage all those things in one location and allowing
            to share that information appropriately with the correct permissions
            I think is key and crucial.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thank you. We do have a final question
            that I would like each of the three of you to answer. And it is sort
            of that parting comment or that pearl of wisdom that we would like
            you to leave with our participants today. So I am going to ask each
            of you what piece of advice would you give to another faith-based
            institution who is looking for a student information system or for
            an entire ERP. Micah, would you be willing to answer that first?
        </p>

        <p>
            <strong>Micah Story:</strong> I do not know if there is one nugget
            of truth as much as make sure you know what your needs are and what
            you want your target to be. And most likely, the answer will become
            very evident to you. And we have been very happy with the products
            by Campus Management.
        </p>

        <p>
            <strong>Jeff Hoover:</strong> I am going to echo a little bit of
            what Micah said. Initially, the idea to get a new SIS system was not
            because we wanted something new. We were forced into it. But it also
            forced us to start to pull together what do we need a new system to
            do? What were our shortcomings? Where did we have to get better? I
            guess we could go back to say what did we need to stop doing? What
            did we need to start doing? And what did we need to continue doing?
            And how could our SIS system help us do that. And so I would just
            say that is key pulling that together. I am kind of echoing what
            Micah said there. But pull together your list of this is what we
            need it to do and stick with that. Just because something might be a
            little less expensive, just because something might fit into hey,
            our old SIS system, they have a new system that we could purchase
            and expand. Just because you do not have to stay with that same
            company, and that is what we experienced. We found that the only
            company that we were with were not going to meet our needs, even
            with their new system. And so stick to your guns. When you make that
            list, stick to your guns.
        </p>

        <p>
            <strong>Karli Grant:</strong> Thanks, Jeff. And Vince, finally from
            your perspective of shepherding the IT Department, what would you
            say?
        </p>

        <blockquote>
            "As we pursue the Campus Nexus upgrade, we understand the importance
            of change management with a project of this magnitude."
        </blockquote>

        <p>
            <strong>Vince Johnson:</strong> As we pursue the Campus Nexus
            upgrade, we understand the importance of change management with a
            project of this magnitude. And change management and how you
            communicate internally, and how you get the buy in, that is actually
            the responsibility of the institution. And it is interesting to note
            that the dynamics are the same in the corporate environment as they
            are in a faith-based institution. It is the same challenges. So
            identifying those internal stakeholders, the advocates, the project
            champions, is a critical process and make sure that they are not
            always – the IT folks need to be on board and there is a lot of
            technology, but this is really about processes, so make sure that
            you have process champions. In the corporate world, I worked for a
            CEO and we took change management very serious and he would talk
            about how painful that could be for an organization to deal with
            that level change, but at the same time we would joke and talk about
            carrying the wounded and shooting the stragglers. That tag line is
            not really appropriate here at LBC in a faith-based environment. But
            it is important to know who is on board and leading this challenge
            and who are those that are struggling.
        </p>

        <p>
            <strong>Karli Grant:</strong> Great. Thank you so much, gentlemen.
            We really appreciate the information you have shared with us today.
            And participants, we hope that you have found this information to be
            very forthright and valuable for your consideration.
        </p>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
