---
# <!-- @formatter:off -->
title: Graduates Skill Sets vs Employer Expectations
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='graduates-skill-sets-vs-employer-expectations'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/_t6iSlIgoVw?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Graduates Skill Sets vs Employer Expectations"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: June 27, 2017
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/documents/Campus-Management-Graduates-Skill-Sets-vs-Employer-Expectations-Presentation.pdf"
                        target="_blank"
                        >Download Presentation
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Rob Sparks, CMO, Campus Management and Matt Sigelman, CEO,
                Burning Glass Technologies unveil how workforce analytics
                integrated with today’s student information systems can help
                drive successful student outcomes.
            </p>

            <p>Explore the value of workflow analytics and:</p>

            <ul class="list--normal list--has-lead-in">
                <li>
                    Leveraging real-time workforce analytics – what it means for
                    your institution
                </li>
                <li>
                    Aligning programs and guidance with predictive analytic
                    tools and data from CampusNexus
                </li>
                <li>
                    Gaining real-time insight into evolving workforce needs
                </li>
                <li>
                    Keeping students on the path toward successful careers
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Matthew Sigelman</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Chief Executive Officer</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Burning Glass Technologies</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Rob Sparks</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Chief Marketing Officer</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Campus Management Corp.</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
