---
# <!-- @formatter:off -->
title: Higher Education Systems in the Cloud - New Frontier or Already Here Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />
    <h1 class="mb0 c-grey--900">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        How is the Cloud Helping Higher Education Transform?
    </p>

    <p>
        During this recent webinar, Campus Management's
        <strong>Chief Strategy Officer Mark Armstrong</strong>, and
        <strong
            >Vice President of Cloud Operations and Services, Emiliano
            Diez</strong
        >, provided a timely look at the state of cloud adoption in higher
        education and took questions from institutions throughout the country.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        What are some standards and best practices that institutions should look
        for in cloud vendors?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> I would look for a cloud vendor that
        understands the timing, the lifecycle, and the pain points of higher
        education. That means having an in-depth understanding of how
        applications work at institutions.
    </p>

    <blockquote>
        "Look for a cloud vendor that understands the timing, the lifecycle, and
        the pain points of higher education."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> I agree. It’s important that they
        understand the business cycles, culture, nomenclature and expectations,
        and have a track record of supporting institutions’ core applications.
    </p>

    <p>
        There are standards that your ecosystem expects. For example,
        integrations – there are some great standards out there. Here I’m going
        to give a plug for IMS Global, which has created all kinds of
        interoperability standards across education; specifically, for higher
        education but even K-12. Things like that should go into your selection,
        if not directly into your RFP.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        What are the plusses and minuses of moving systems to the cloud, whether
        that be the student information system, the CRM, the ERP, or all three?
        What are those tradeoffs?
    </h2>

    <p>
        <strong>Mark Armstrong:</strong> I think institutions are gaining more
        than they’re giving up. But each institution, first and foremost, needs
        to create a business case for why they’re moving to the cloud like they
        would for any kind of major acquisition of a product that’s going to
        change their operational model. They shouldn’t just take bullets or
        templates from us or anyone else around that.
    </p>

    <blockquote>
        "One of the main advantages to the cloud is adopting best practices."
    </blockquote>

    <p>
        One of the main advantages to the cloud is adopting best practices. I
        think increasingly, the solutions that are available today do reflect
        the best practices of the industry because higher ed is so open and
        tends to share them. And it gives institutions the ability to really
        think about the service levels they want to provide and adopt those best
        practices, which should result in more bandwidth or potentially, budget
        savings.
    </p>

    <p>
        Ultimately, I think that should enable institutions to provide more and
        better service where it counts. Lurking behind that is the perception of
        giving up control. But control comes with a cost and you need to be very
        careful about calculating what that cost is. But that ability to control
        costs and have that transparency is an important component of adopting
        the cloud.
    </p>

    <blockquote>
        "The true gain of going to the cloud is focus, the ability of
        institutions to focus on their core educational missions"
    </blockquote>

    <p>
        <strong>Emiliano Diez:</strong> Control is one of the main concerns. But
        let me first share what you’re gaining. The true gain of going to the
        cloud is focus, the ability of institutions to focus on their core
        educational missions, “How can we improve academics? How can we teach
        more efficiently? Rather than, “How do I maintain this technology or
        ensure a virus doesn’t infect our systems again?” That is not the focus
        of an institution, but that’s where the cloud can help.
    </p>

    <p>
        What are you giving up? One of the biggest things you need to be ready
        to give up are your fears. There are a lot of myths about what ‘cloud’
        means, from terminology (what’s true SaaS) to, “Oh, I will be losing
        control,” or, “I will be less secure.”
    </p>

    <p>
        But there are many ways to implement cloud solutions, and we will cover
        how Campus Management’s cloud service can give you all the high
        standards of security, flexibility, uptime, and elasticity without your
        institution losing control, without losing access to your data.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        One of the concerns we hear is around data access and security?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> This is a vendor-specific question.
        Campus Management decided to implement cloud services in a single
        instance environment for each client. Meaning if you use our SaaS
        solutions, you will have your own database where your data is isolated,
        protected, performance tuned and not coming over with any other clients.
        Our clients have access to that database, to read those transactions,
        and to integrate external systems. We do drive all the updates through
        APIs but it’s your data.
    </p>

    <blockquote>
        "You will have your own database where your data is isolated, protected,
        performance tuned."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> There are templates you can use but be
        smart about how you define full and easy access to your data. And by all
        means, make sure that you’ve got an exit strategy. If you decide you
        want to go to a different vendor for whatever reason, or you want to
        return to your old system, make sure that you’ve got a way to do that –
        to get your data back quickly and effectively. You should define the
        terms around getting it back and for the vendor to effectively delete
        your data.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        How should an institution prepare for moving systems to the cloud? What
        can institutions learn from other institutions that have already made
        that move?
    </h2>

    <p>
        <strong>Mark Armstrong:</strong> Use your higher ed network to find out
        how other institutions have moved. The nice thing about higher ed is
        that most institutions are open about the mistakes they’ve made, where
        in the corporate sector, that’s not always the case. So look at the
        mistakes and successes. But at a very basic level, use this as an
        opportunity to rethink not just your operational model but what is most
        important to your institution.
    </p>

    <p>
        Use this as an opportunity to think about the kind of institution that
        you want to be on the other side of this implementation. Who are the
        constituents you’re going after? How does this move enable you to focus
        on those areas? For some institutions, they may have plenty of budget
        and resources to make this. It’s more of a tactical move than a
        strategic. But for a lot of institutions, it’s really the chance to
        transform.
    </p>

    <blockquote>
        "The biggest challenges around cloud migration are around human
        alignment to goals."
    </blockquote>

    <p>
        <strong>Emiliano Diez:</strong> And that’s coming from the Strategy
        Officer, right? So it’s a very strategic type of answer. I will give a
        complement to that. The biggest challenges around cloud migration are
        around human alignment to goals. If you don’t have clarity on where
        you’re going and why you’re going to that place, you won’t get there.
        And this is valid for any type of project, but it’s so important here.
    </p>

    <p>
        IT organizations are very used to users resisting adoption. You deploy
        an ERP or a SIS and you have to make sure that your user community
        embraces that change up front. And that goes from early incorporation
        into the decision-making process.
    </p>

    <p>
        With the cloud, it will involve a very similar transformation within IT.
        If the IT department is not mentally ready to make this transformation,
        it’s likely going to fail. Now, if your IT department embraces the
        cloud, and can communicate the benefits, that will help navigate the
        transformation.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        In terms of total cost of ownership, how does the cloud model work
        versus traditional perpetual licensing model for on-premises?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> It’s pretty hard to define an aggregate
        TCO but we have to do it. If you don’t have true TCO, you cannot
        calculate ROI. And if you don’t have a positive ROI, you’re not going to
        get through your finance department, board of directors or trustees.
    </p>

    <p>
        So you have to understand what you’re putting in to deliver a service.
        And that includes your license for core software, plus the maintenance,
        plus the servers, plus the security (meaning firewall networking) plus
        the people managing the infrastructure, the databases, the security, and
        the audits. It also includes the physical space. Once you start
        aggregating those things, you really have quite a bit of expense.
    </p>

    <blockquote>
        "Instead of buying things, you’re subscribing to a service. So your cash
        is much better managed on a SaaS model."
    </blockquote>

    <p>
        The more flat version is a model where you pay a fee per month or per
        year and that’s it. It includes the license, maintenance and all the
        infrastructure support services. It’s a one-price model that you pay in
        perpetuity as long as you use the application. You don’t have to put a
        huge initial amount out on the implementation of services. Instead of
        buying things, you’re subscribing to a service. So your cash is much
        better managed on a SaaS model.
    </p>

    <p>
        On the other hand, you will be increasing the operational expense side
        of the house because now you have to pay every year. So you have to be
        aware of ROI in context with your bottom lines for operational and
        capital expenses.
    </p>

    <p>
        <strong>Mark Armstrong:</strong> You also have to consider opportunity
        costs, which can be somewhat subjective. But really, what the cloud
        brings is transparency to the cost model. Everything is metered, so
        you’ll be able to know the cost of things, whether it’s adding
        integrations or doing customizations. Not only are costs going to be
        more predictable but that transparency may highlight some things that
        you can use to your advantage, or may throw up a red flag somewhere.
    </p>

    <p>
        Calculating return on investment has always been very tricky in higher
        education. Not just getting to the dollar amount but in effect, the
        visibility and the politics around what an ROI truly is when you’re
        talking about student-facing transactions and things like this. But
        moving to the cloud gives you the ability to calculate a true ROI.
    </p>

    <blockquote>
        "So don’t just look at this as a straight dollar-to-dollar comparison."
    </blockquote>

    <p>
        So don’t just look at this as a straight dollar-to-dollar comparison.
        Again, look at the opportunity this provides you and frankly, some of
        the risks. So go into it with your eyes open and manage the complete
        aspect of costing it out as part of your move. And be ready for some
        surprises, potentially.
    </p>

    <p>
        <strong>Emiliano Diez:</strong> If there’s one thing you get out of a
        cloud conversion, it’s the ability to focus on what’s going to be more
        significant and transformational to your institution, and forgetting
        about the transactionality and commodity of maintaining an application.
    </p>

    <p>
        <strong>Mark Armstrong:</strong> I think that’s a good point of context.
        In terms of higher ed adoption, there’s a realization that by and large,
        some of these back-end systems, like payroll, financials, HR, are
        commodities. That’s the right way to look at it. It’s very, difficult to
        make a sustainable business model around customizing and doing things in
        a very specific way to your institution for these areas beyond higher
        education standards.
    </p>

    <p>
        There might be some different considerations around CRM and students
        where the uniqueness of an institution may have to come in to play. But
        again, make sure you do the cost comparison and the budgeting, in the
        right context and present it as such. That can make all the difference
        in the world in making your case.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        Will moving to the cloud add time to my ERP migration plan?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> If you’re planning this from the very
        beginning, you will shorten your implementation time by going to the
        cloud. Because the RFP and provisioning process for equipment, data and
        configuring the networking and acquiring software licenses and deploying
        operating systems is hard and time consuming. With cloud solutions, we
        spin off clients and environments every day so we can repeat and scale
        the process to get deployments faster.
    </p>

    <blockquote>
        "If you’re planning this from the very beginning, you will shorten your
        implementation time by going to the cloud."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> In aggregate, it shouldn’t. You have to
        use it as an opportunity to understand what the new product looks like
        and accept best practices. If you’re going to move to a new platform,
        it’s very difficult to say, “Well, I’m going to move, let’s say, my HR
        system to the cloud, but I want to retain my financials and student
        information system on premises for the foreseeable future.” You can do
        that. There are plenty of integration services you can use. But you are
        adding complexity to the deployment that most institutions are trying to
        reduce by going to the cloud.
    </p>

    <p>
        The question is, “what are you trying to achieve from a business
        standpoint in putting in a new system and specifically, moving to the
        cloud?” What added agility are you going to get from new products and
        services as a result, and in many cases, a completely new and enabled
        architecture. Even if the timelines start to look very similar to some
        of the implementations you’ve done in the past, you have a lot of
        control over how quickly that implementation goes based on how many
        customizations you put in. And that’s where the rethinking needs to
        happen.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        What if we buy cloud services from Azure and deploy the application
        there? Is it cheaper? And what about security?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> If you want to deploy our software into
        Azure, you’re more than welcome to. In fact, our cloud is built on top
        of Microsoft Azure. If you deploy it, what you’re doing is taking
        responsibility for running your applications, so you’re not securing a
        SaaS provider. What a true SaaS provider offers is a turnkey solution
        where you don’t have to worry about the configuration, the upgrades, the
        security, the monitoring, the certifications, etc.
    </p>

    <blockquote>
        "Whether institutions implement on premises, in AWS or in Azure, that’s
        really a customer decision."
    </blockquote>

    <p>
        But Campus Management supports both on-premises and SaaS models. Whether
        institutions implement on premises, in AWS or in Azure, that’s really a
        customer decision. But if you choose a SaaS solution, you won’t have to
        worry about all the headaches.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        With data being in the cloud and our school having a large number of
        reporting platforms and options for our users, would we expect to see a
        cost increase for massive data transfers? Or is this something that is
        covered within cloud services?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> In general, we do not see that case. We
        have 140 higher education clients today running on our cloud and haven’t
        encountered that issue. Every school has reporting needs. Many of them
        are standards. In fact, our systems have hundreds of reports. And
        clients use different technologies. Most of the reporting engines are
        able to submit a request, process it on the cloud and then download
        whatever the result of that report is.
    </p>

    <p>
        What is tricky is combining those different tools to be efficient. But
        that’s not a cloud issue; that’s really an application issue. If you end
        up with five or six different reporting technologies and maintaining all
        those customizations, that’s an internal IT issue we often see.
    </p>

    <p>
        <strong>Mark Armstrong:</strong> And I don’t think the ultimate answer
        to that question is simply based on storage capacity and executing
        disparate reporting solutions in this environment. If you’re talking to
        us about systems, we’re a Microsoft partner and we’re optimized around
        Azure, so we’ve also incorporated reporting tools into our applications
        that are consistent across our business applications. For example, we
        not only have a reporting warehouse within the products we ship but you
        can use the Power BI tool to report from disparate systems, not just our
        own.
    </p>

    <blockquote>
        "Storage is absolutely the one thing where the cost drops significantly
        year over year, and we expect that trend to continue."
    </blockquote>

    <p>
        The other question is if you move massive amounts of data for storage in
        Azure, will there be a cost? Of course. But storage is absolutely the
        one thing where the cost drops significantly year over year, and we
        expect that trend to continue. So don’t just think about what it cost
        you last year. I know if you look across all the vendors what they were
        charging two years ago. The cost for storage now is less than half of
        that. Frankly, Amazon is driving a good deal of that and everybody else
        has to follow.
    </p>

    <p>
        There may be an end to that price cutting but it doesn’t seem like it’s
        right around the corner. So it’s one of the few areas where you can
        forecast the cost of your storage being cut in half every twelve to
        eighteen months for at least – I don’t know – the next three to four
        years.
    </p>

    <p>
        <strong>Emiliano Diez:</strong>And I wouldn’t use the term “unlimited”
        but you can store decades of data without any issue, and report across
        that. Document imaging and multimedia have quotas. But other than that,
        for data itself, reporting and processing, I don’t see an issue. To the
        contrary, we usually see higher performance because you have a lot of
        capacity to process on the cloud.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        Is there a strategy behind where the storage centers are located? Is
        that something that should matter to the institutions, where their data
        is physically stored?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> For some institutions in certain
        countries, that’s absolutely critical. There are different laws in the
        States and Canada and European Union and even within that, in specific
        countries. So if you have restrictions by law, definitely.
    </p>

    <p>
        In the States, to serve US institutions, we keep the data within the
        States. And if you secure the disaster recovery services, we do also
        disaster recovery within two locations within the States. We try to get
        the data as close to the customer as possible.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        If you had a crystal ball how would you predict cloud service level
        agreements might change in the next five years?” Will there be
        significant shifts? Incremental changes?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> Well, it’s hard to keep going up but
        that’s a reality. It’s just adding more nines to that number.
    </p>

    <blockquote>
        "if you are an enterprise client on our Campus Management cloud in July,
        you’ll be getting 99.9 SLA."
    </blockquote>

    <p>
        Exactly. And I want to recognize that SLAs are absolutely critical, and
        we live and die by SLAs. But if you are an enterprise client on our
        Campus Management cloud in July, you’ll be getting 99.9 SLA. That’s
        really minutes of downtime, if at all. For an institution, there are
        certain moments where that is absolutely critical. Like the morning of
        registration or the date that grades come in, or the closing of the
        month in the financial system. So those moments are absolutely critical.
        And for that reason, even though the rest of the cycle is not absolutely
        as critical, you get 99.9.
    </p>

    <p>
        Going higher than that? Definitely. The industry will continue to push
        us higher. Not too long ago, 99.5 was acceptable. And maybe you’re
        getting close with 99.5. The peer pressure in the industry is driving
        that higher and higher.
    </p>

    <blockquote>
        "You’ll have different tiers, different SLAs, with very incremental
        differences in some cases, available to you for different costs."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> I think that’s true. I think like as
        things mature and customers become more familiar with structures and
        their own needs, there’s a level of sophistication that grows out of it.
        So for example, you’ll have different tiers, different SLAs, with very
        incremental differences in some cases, available to you for different
        costs. And as customers live in the cloud, so to speak, they’ll
        understand what applications are critical and need all of that uptime
        and what are other applications that are just fine for a slightly lower
        SLA, given that the cost could be significantly lower for that SLA. So
        that’ll just become a normal part of how you evaluate your cloud
        services, like when you go to a car lot and you look at the options on
        the car. I’d like everything but I’m not sure I can afford everything.
        So what is good enough given my needs?
    </p>

    <p>
        <strong>Emiliano Diez:</strong> Mark talked a lot about rapid adoption
        and innovation. And I talked about focus. Let me try to combine those
        two elements in a very tangible example.
    </p>

    <p>
        Once you’re in the cloud, you will have the capacity to augment and
        change services at a speed that you’re really not used to. For example,
        let’s say that you need to have an ancillary system to provide
        functionality we don’t do. We can provide the platform in literally
        days, if not hours, for you to experiment with that either in production
        environments or non-production environments.
    </p>

    <blockquote>
        "Once you’re in the cloud, you will have the capacity to augment and
        change services at a speed that you’re really not used to."
    </blockquote>

    <p>
        Not only that, Azure is coming out with new features all the time. You
        gain the foundation for the latest innovations such as machine learning
        and artificial intelligence, and, some day soon possibly,
        voice-registration for students. That sounds super futuristic. Well,
        it’s not. We already talk to devices at home, whether it’s through
        Alexa, Cortana, Siri or Google Assistant. We’re not that far from that
        reality in our systems.
    </p>

    <p>
        So being on the cloud gets you ready to both experiment and adopt new
        technologies and new features that will keep your institution ahead of
        the curve and not behind.
    </p>

    <blockquote>
        "The fact that institutions will be building around standard business
        practices will mean that the innovation that they do around the edges
        will be more transportable."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> There was a question earlier about,
        “What do I give up? Do I give up control?” And what I find interesting
        about cloud deployment is that you can move to standard integration
        points, perhaps adopting standard platform services of which there are
        many hundreds if not thousands of services available on the Azure cloud,
        to do things like build integrations and mobile applications.
    </p>

    <p>
        What institutions will have to do is adopt those standards to build out
        those features and functions. And because they’re willing to share, I
        think there’s going to be this tremendous innovation cycle. Right now,
        maybe institutions share things but they tend to code things up in
        specific ways for their institution. And it may be a little
        counterintuitive, but the fact that institutions will be building around
        standard business practices will mean that the innovation that they do
        around the edges will be more transportable and can be built upon by
        other institutions.
    </p>

    <p>
        So rather than think about this as limiting, it could be hugely
        enabling; in particular, for smaller institutions that perhaps don’t
        have the IT budget or the personnel on staff to build all the kinds of
        things they wish they could. And now, they can start adopting them from
        the wider ecosystem.
    </p>

    <p>
        And we are absolutely going to take advantage of Microsoft AppSource to
        take some of the things that our professional services teams do, or what
        our customers want to build out, and make it available to all of our
        customers that are running in Azure.
    </p>

    <p>
        So I think there’s a tremendous wave of innovation that’s going to be
        out there on the other side of this adoption curve.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        What do you recommend as the steps or strategic path for institutions to
        take in general terms? What would the next steps be?
    </h2>

    <p>
        <strong>Mark Armstrong:</strong> Well, I’m going to go back to the
        basics and ask what are the business objectives driving your decision to
        move to the cloud. What kind of institution do you want to be at the end
        of that couple of years? What does the budget profile look like? What
        are the types of constituents you’re going after? Is it going to change?
        Are you going to re-tailor some of the programs you offer? Or is this
        simply a need to get off of either homegrown unsustainable products or
        you have concerns about your current vendor?
    </p>

    <blockquote>
        "Go back to the basics and ask what are the business objectives driving
        your decision to move to the cloud."
    </blockquote>

    <p>
        So it’s really making the business case and then stepping back and
        looking at that business case first. Because everything’s going to flow
        out of that, including the product that you’ll ultimately select and the
        sequence in which you implement them.
    </p>

    <p>
        So I always absolutely believe that that business case is essential. And
        if you start to make that business case and get lost along the way,
        there are companies out there – there are consulting groups and other
        resources out there – that can come in. I think justifiable cost to help
        you really understand what you need to do to change operations in a way
        that meets your strategic imperatives. Planning is absolutely essential
        before you execute on a project like this.
    </p>

    <p>
        <strong>Emiliano Diez:</strong> You will also have to determine your
        cloud adoption policy. And different institutions might say, “Well,
        we’re going to select a single vendor and we’re going to put everything
        there.” But there is a very important distinction between cloud services
        as a platform, an infrastructure, and cloud as a service. You will have
        to decide. Do I go into the cloud myself? Meaning all I’m doing is
        moving my servers from my location to another location and I manage the
        applications? Or do I transform with a SaaS solution?
    </p>

    <blockquote>
        "There is a very important distinction between cloud services as a
        platform, an infrastructure, and cloud as a service."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> I mentioned planning, but part of a
        good plan actually involves experimenting. And maybe you’re already
        running some cloud applications at the moment. But if you’re not, look
        at some opportunities to take some high priority objectives to the cloud
        now. That’s the beauty of it. You can try it, if it doesn’t work, you
        can shut it off and move forward.
    </p>

    <p>
        Most vendors will enable you to migrate over where there’s discrete
        components, recruiting or talent acquisition for example. You can try it
        out without having to move your entire HRMS and payroll footprint over
        and see how it works and learn from it as you go through your planning.
        Many of these cloud services are very low cost. So budget that in, give
        it a shot, and gather as much information as you can as you move forward
        with your plan.
    </p>

    <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
        Final advice or thoughts for institutions considering a move to the
        cloud?
    </h2>

    <p>
        <strong>Emiliano Diez:</strong> I want to really emphasize that this is
        not about saving two hours or getting little elements here. This is
        about focusing on your business while adopting new and capable
        technology. There are cultural and implementation challenges but many
        institutions have gone through that and you can learn from those
        processes.
    </p>

    <blockquote>
        "This is a great opportunity for higher education institutions to
        realize there’s not as much to fear."
    </blockquote>

    <p>
        <strong>Mark Armstrong:</strong> This is a great opportunity for higher
        education institutions to realize there’s not as much to fear. If you go
        into this project thinking, “I’m going to absolutely minimize risk and
        try and hang on to certain things,” you’re going to have more of a
        struggle and potentially, more of a cost. So understand that this is an
        opportunity to embrace new ways of thinking. Think about that rapid
        innovation cycle again.
    </p>

    <p>
        Try some things. The beauty of the cloud is you can try some things and
        if it doesn’t work out, you can quickly recover or try it again. I don’t
        mean to oversimplify the cost and impact to implementing a new system
        and moving to a new platform. But there’s a lot of exciting things to be
        had here and I think going into it with that perspective – learning new
        things, embracing new modalities, using this as an opportunity to really
        transform aspects of your operations or even your institution, will make
        it exciting, maybe even fun in spots. Hard to believe with an ERP
        implementation.
    </p>

    <p>
        But nonetheless, really significant things are coming out of higher ed
        cloud deployments right now. And if you have questions or concerns, we’d
        love to hear about them. We’d love to point you to institutions that
        really are doing fantastic things out there, many of which aren’t even
        our customers. But we’re part of that higher ed community and they’re
        always willing to share.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--cloud-4]}} {{/content}}
{{/extend}}
