---
# <!-- @formatter:off -->
title: Higher Education Systems in the Cloud — The New Frontier or Already Here?
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
    - src: /scripts/page--youtube-question-list-player.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/video-questions.css
      inline: true
    - href: /styles/pages/has-youtube-player.css
      inline: false
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='higher-education-systems-in-the-cloud-new-frontier-or-already-here-webinar'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}
        <div class="container container--2 pb1">
            <div class="form-wall-video">
                <p>
                    During this recent webinar, Campus Management's Chief
                    Strategy Officer Mark Armstrong, and Vice President of Cloud
                    Operations and Services, Emiliano Diez, provided a timely
                    look at the state of cloud adoption in higher education and
                    took questions from institutions throughout the country.
                </p>

                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/Hm6zM7tM6gw?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="What industry standards and best practices should I look for in a cloud vendor?"
                            id="dynamic-youtube-player"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: May 31, 2017
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered pill-list--multiple">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/higher-ed-systems-in-the-cloud-meeting-request"
                        target="_blank"
                        rel="noopener"
                        >Request a Meeting
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/webcasts/higher-education-systems-in-the-cloud-new-frontier-or-already-here-transcript/"
                        target="_blank"
                        >View Transcript
                    </a>
                </li>
            </ul>
        </div>
        <div class="container form-wall-video">
            <p class="ht--s--20 c-theme-tertiary mb0 c">
                Select a Question Below to Play:
            </p>
        </div>
    </div>

    <div class="form-wall-video youtube-player__question-button-list">
        <div class="bgg-grey-200-to-grey-300 reverse">
            <div
                class="container box-v4 box-v4--flex-1-2-4 container--color-boxes box-v4--greys"
            >
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        What Industry Standards and Best Practices
                        <span>Should I Look for in a Cloud Vendor?</span>
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/Hm6zM7tM6gw?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            What industry standards and best practices should I
                            look for in a cloud vendor?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        What are Institutions Gaining and Giving Up
                        <span
                            >by Moving SIS, CRM and ERP Systems to the
                            Cloud?</span
                        >
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/nzMxOwtYEgU?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title"
                            >What are institutions gaining and giving up by
                            moving SIS, CRM and ERP systems to the cloud?</span
                        >
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        <span>Do I Have Full and Easy</span> Access to Our
                        Secure Data?
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/jkvTAwvxGqs?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            Do I have full and easy access to our secure data?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        How Should Your Institution Prepare
                        <span>for Moving Systems to the Cloud?</span>
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/dcafnhOP1HI?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            How should your institution prepare for moving
                            systems to the cloud?
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="bgg-grey-200-to-grey-300">
            <div
                class="container box-v4 box-v4--flex-1-2-4 container--color-boxes box-v4--greys reverse"
            >
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        How Does the Cloud Model Compare
                        <span
                            >to the Traditional On-premises Model, in Terms of
                            Cost?</span
                        >
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/F_mUXCnWXGA?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            How Does the Cloud Model Compare to the Traditional
                            On-premises Model, in Terms of Cost?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        Will Moving to the Cloud Add Time
                        <span>to My ERP Migration Plan?</span>
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/7w-wZNtJ4to?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            Will Moving to the Cloud Add Time to My ERP
                            Migration Plan?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        What if We Buy Cloud Services From Azure
                        <span>and Deploy the Application There?</span>
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/pVGY9p2n36A?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            What if We Buy Cloud Services From Azure and Deploy
                            the Application There?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        Would We Expect to See a Cost Increase
                        <span
                            >for Massive Data Transfers with the Cloud
                            Model?</span
                        >
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/lAM6QtVj4Mw?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            Would We Expect to See a Cost Increase for Massive
                            Data Transfers with the Cloud Model?
                        </span>
                    </button>
                </div>
            </div>
        </div>

        <div class="bgg-grey-200-to-grey-300 reverse">
            <div
                class="container box-v4 box-v4--flex-1-2-4 container--color-boxes box-v4--greys"
            >
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        <span>Is There a Strategy Behind</span> Where Storage
                        Centers are Located?
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/eJC_7jv4wI0?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            Is There a Strategy Behind Where Storage Centers are
                            Located?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        <span
                            >How Would You Predict Cloud Service Level
                            Agreements Might</span
                        >
                        Change in the Next Five Years?
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/JfBD6RKrZrc?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            How Would You Predict Cloud Service Level Agreements
                            Might Change in the Next Five Years?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        What Do You Recommend as the Strategic Path
                        <span>for Institutions to Take in General Terms?</span>
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/gOce8jF6J2s?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            What Do You Recommend as the Strategic Path for
                            Institutions to Take in General Terms?
                        </span>
                    </button>
                </div>
                <div class="c flexcol">
                    <h2 class="ht--s--20">
                        Any Final Advice or Thoughts
                        <span
                            >for Institutions Considering a Move to the
                            Cloud?</span
                        >
                    </h2>
                    <button
                        class="pill-button c block bottom youtube-player__question-button"
                    >
                        Play
                        <span class="youtube-player__video-url">
                            //www.youtube.com/embed/N8rlKLu7Mew?rel=0&autoplay=1
                        </span>
                        <span class="youtube-player__video-title">
                            Any Final Advice or Thoughts for Institutions
                            Considering a Move to the Cloud?
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
