---
# <!-- @formatter:off -->
title: How Small Colleges Drive and Manage Rapid Growth Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />
    <h1 class="mb0 c-grey--900">{{title}}</h1>

    <p class="ht--s--38-45 c-theme-primary-dark">
        Matt Jenkins, Corporate Director of Operations, Valley College
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        MAJOR CHALLENGES TO GROWTH, COMPLIANCE AND EFFICIENCY
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - Let me just start out by saying I am
        happy to be here today to tell the story of Valley College and a little
        bit about how far we’ve come in just two and a half years.
    </p>
    <blockquote>
        "My main goal today is to really talk a little bit about life at Valley
        College before and after CampusNexus Student"
    </blockquote>
    <p>
        My main goal today is to really talk a little bit about life at Valley
        College before and after CampusNexus Student implementation. Some of the
        things I want to focus on are growth online, obviously is one of those
        things but just enrollment growth in general without the growing pains,
        transparency namely for management and directors, seamless integration
        with our new learning platform which is our online learning platform and
        also interdepartmental triggers which obviously as everyone knows, are
        very important for aspects of this business such as retention, essay
        packaging and those areas.
    </p>
    <p>
        To start out with a little history of Valley College…Valley College was
        acquired in August 2011. We had 106 students across four campuses…that
        is, three ground campuses and one online campus. As of right now today,
        as of right before this call I looked and we were at about 287 students
        so from 106 to 287 in a little over two and a half years. When we
        acquired the school when Valley College started, it was a culture that
        was heavily rooted in paper and spreadsheets and basically had no real
        time access for management or for the directors.
    </p>
    <blockquote>
        "the majority of the staff members spending 90% of their time handling
        administrative tasks"
    </blockquote>
    <p>
        We had no visibility. Every process in every department was
        intense…manually intense, which in my belief resulted in the majority of
        the staff members spending 90% of their time handling administrative
        tasks and not focusing on student services, which is what ultimately
        grows and maintains the growth of an institution. And then…obviously
        redundant data entry requirements. We had sheets of paper laying around
        that had to be put onto spreadsheets and then those spreadsheets had to
        be reported to directors so it was just an intense manual process and
        data entry requirement.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        ADMISSIONS
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - I am going to start off with the
        Admissions Department. This is where the majority of my background comes
        from. When I started here with Valley College, the Admissions
        Department…all of the lead forms were paper so if an admissions rep
        received an inquiry from a prospect, if it didn’t work out they could
        simply toss the lead form in the trash and move on. There was no way to
        manage marketing, which is also something that I’m responsible for. We
        didn’t have any visibility as to what marketing was working and what was
        not working without asking the admissions reps.
    </p>
    <blockquote>
        "all paper, kept in files, kept in file cabinets around the campus so
        there was always the risk of losing an important document"
    </blockquote>
    <p>
        Lead sources, lead conversion…once again, same thing. Obviously,
        admissions reps could change their conversion rates by simply not
        telling us about the leads or the inquiries that did not convert. It was
        something basically to where we had an Admissions Department that we had
        to take at face value and could only see what was reported to us. Not to
        mention, our files when a student enrolled. Obviously, you are talking
        on average a student has 20 to 25 forms in each file when they are
        filling out enrollment paperwork. Those were all paper, kept in files,
        kept in file cabinets around the campus so there was always the risk of
        losing an important document or an important entire file.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        FINANCIAL AID
    </h2>
    <blockquote>
        "they utilized three spreadsheets to track every FA action. There were
        three opportunities for error in that."
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Moving onto Financial Aid…we all know
        the regulations that come with financial aid and rightfully so. Our
        Financial Aid Department here at Valley College before CampusNexus
        Student…they utilized three spreadsheets to track every FA action. There
        were three opportunities for error in that. Basically, every time a
        student made a payment they would have to pull open the spreadsheet,
        track that payment, then pull up another spread sheet, deduct that from
        the overall tuition charge and that is the way they managed their
        business monthly. Directors had no remote access to the files and the
        transactions. If we wanted to see something, we emailed the financial
        aid representative and said…Hey, can you please send me that spreadsheet
        or can you send me this report so that we can see what is happening with
        your department? Paper master promissory notes obviously delayed our
        packaging time.
    </p>
    <p>
        As someone who works in admissions knows, packaging time and getting
        students through the enrollment process in a timely fashion is of utmost
        importance to them actually starting the program so we had delayed times
        for our MPN’s. Our FA staff averaged about 30 students per campus at
        each campus and they struggled. They felt like they were overworked and
        they couldn’t manage the student load at 30 students. I personally
        believe this was because they spent so much time managing these
        spreadsheets and managing these paper files that the other time they had
        to sit in front of students, which is what they should be doing on a
        regular basis anyway.
    </p>
    <blockquote>
        "Finally, twice monthly draws were like a surprise."
    </blockquote>
    <p>
        Finally, twice monthly draws were like a surprise. We drew financial
        aid. We drew Title IV funding one time at the end of the month.
        Basically, they would maintain these spreadsheets throughout the month,
        at the end of the month they would send that over to the Finance
        Department and that is the only time we could draw because of the
        processes and the limited ability that we had with spreadsheets and
        everything being on paper.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        FINANCE
    </h2>
    <blockquote>
        "They had to manage it off of not knowing any predictions of what cash
        flow was going to look like"
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Moving on to the Financial Department,
        obviously they would receive these draws and as we all know, the
        department is managing cash flow. They had to manage it off of not
        knowing any predictions of what cash flow was going to look like, what
        UCF was going to look like for the end of the month and then all of a
        sudden they would receive it and have to make adjustments and have to
        fix errors. We received them once a month and then the first two weeks
        of the next month would be spent correcting errors that happened from
        all of these manual transactions.
    </p>
    <p>
        As you can see from some of the bullet points there, monthly
        reconciliations always included error corrections. Obviously, as I go
        forward you will see how that cuts down. Paper requests for draw,
        stipends and refunds. Once again, every time we went to request a
        stipend or a refund everything was done on paper.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        ACADEMICS
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - All attendance logs were on paper so our
        instructors would keep attendance for a day, they would then take a
        sheet, give it to an Administrative Assistant, he or she would then take
        that sheet, enter those numbers onto a spreadsheet and that is how they
        kept attendance. Obviously, very, very labor intensive. It cuts down,
        once again, on student service. The hard copy progress charts were also
        maintained at each campus so every time a counseling form was filled
        out, every time a progress chart was needed it was just kept on paper
        and put in the file.
    </p>
    <blockquote>
        "Directors and management could not see any of this information unless
        we went to a campus and asked for it"
    </blockquote>
    <p>
        Directors and management could not see any of this information unless we
        went to a campus and asked for it or emailed and requested it and then
        they would have to scan it in and send it to us so that we could see it.
        Some files for students…someone who may be required more counseling
        forms than others…some of those files would have hundreds of sheets of
        paper in it from one student laying around or in a file cabinet. We had
        no remote visibility of the student academic performance. We couldn’t
        see what students we doing well in, what they weren’t doing well in, we
        couldn’t identify faculty issues until our student survey at the end of
        the end of a course. We had no record of what was going on unless we
        physically went in and asked for spreadsheets and sheets of paper so
        obviously you see the theme there.
    </p>
    <p>
        Last bullet point…no real time access to faculty performance. We were
        always on a month or two delay at finding out if we had an issue with a
        faculty member and, as everybody knows, by the time you find out it is
        too late and you could have lost multiple students and if you factor in
        the money on that for whatever your tuition is you would realize how
        important that is.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        PLACEMENT
    </h2>
    <blockquote>
        "we had no background on what their goals were unless we went to the
        Placement Director’s office"
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Placement once again, goal sheets,
        student personas…everything was kept in paper files in the Placement
        Director’s office in a file cabinet so we couldn’t see anything on a
        student. If a faculty member had an issue with a student and we were
        trying to retain that student and save that student, we had no
        background on what their goals were unless we went to the Placement
        Director’s office and asked for a goal sheet out of the filing cabinet.
        If for some reason the Placement Advisor was out on a visit to a local
        business then we just had to wait for them to come back.
    </p>
    <p>
        From a director’s standpoint, we had no reporting unless it was reported
        to us by the Placement Director. They would send us their placements.
        They would send us their placement rates, once again, on a spreadsheet
        that broke down how many students were placed, how many weren’t placed.
        We couldn’t track this on our own and run the reports on our own. We had
        to essentially wait for this information to come from them. Once again,
        no visibility and no transparency.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        COMPLIANCE
    </h2>
    <blockquote>
        "it took days and sometimes weeks of preparation to pull spreadsheets"
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Compliance…obviously, this is giant.
        Everyone on this call knows how big compliance is in this industry.
        Every compliance report that we had to run would manually pull from all
        of these spreadsheets together so any time we had an audit, review or a
        visit coming up, it took days and sometimes weeks of preparation to pull
        spreadsheets, get files, look through all the files to pull all of this
        information together. That is probably one of the biggest things that we
        have been able to cut down on is our manpower hours when it came to
        compliance reporting because obviously, if you look at a compliance
        calendar, every month there is some type of visit or some type of audit
        happening. We were spending a lot of time during the month preparing for
        one, get through it and we’d have to start all over for the next one in
        the upcoming month.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        ENTERPRISE
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - Actually, I will explain a little bit
        about how much that has changed here at Valley College since we
        implemented CampusNexus Student formerly CampusVue in 2012. I’ll go
        ahead and segue-way into that. Obviously, like I said before giving the
        history of Valley College, we started in 2011 with no systems in place
        and then in February 2012, we decided to go ahead and begin implementing
        CampusNexus Student. As you may have heard in the bio from me, I came in
        with some experience in CampusNexus Student. I would say 95% of the
        faculty and staff here at that time did not have any CampusNexus Student
        experience so what this allowed for us after the implementation process
        was, number one…no more surprises.
    </p>
    <blockquote>
        "Now it is all housed in one system where anyone can access it from
        anywhere remotely."
    </blockquote>
    <p>
        All of those things I said in the beginning about no transparency, no
        visibility…now we have all of that. No interdepartmental triggers to
        help optimize the flow of the student going through the process.
        Basically, no surprises, automation of workflow, students flow
        seamlessly through the admissions process, through the financial aid
        process, during academics, through the placement process, all the way
        through the student lifecycle and with obviously, a single version of
        the truth. Before, we had a lot of data entry errors. Now it is all
        housed in one system where anyone can access it from anywhere remotely.
        If there is an issue, everyone can get the single version of the truth.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        ADMISSIONS RESULTS
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - Admissions in CampusNexus Student…as I
        said before, paper reforms, the admissions reps would choose which ones
        they wanted to keep and which ones they didn’t. Now, their names are
        entered into the system actually before they even make it to an
        admissions rep so now we can track marketing with the lead source. We
        document the lead source and it has helped tremendously. We use organic
        marketing here to where we are going out and we’re going with
        billboards, TV ads and those type of things so we’re constantly changing
        it and we want to see what is working and what is not working and we
        want to know fast.
    </p>
    <blockquote>
        "Being able to document a lead source is very important."
    </blockquote>
    <p>
        Being able to document a lead source is very important. Obviously,
        enrollment KPI’s are tracked. I can look at a conversion rate. I can
        look at a start rate for any particular rep, for any particular campus
        and I can also look at retention by rep, which is very important. As
        everyone knows, anyone can enroll but enrolling quality students and
        keeping them in school? I can hold the admissions reps accountable for
        students that are not staying in school and I can actually track that in
        real time.
    </p>
    <blockquote>
        "once again, it is transparency, it is visibility. Everybody can see
        those goal sheets."
    </blockquote>
    <p>
        Document Center…I was talking earlier about file cabinets, paper files
        laying around the office around the campus and now with CampusNeuxs
        Student we have a document center. Now what we can do is a student
        enrolls, we fill out all the paperwork, we can scan all of that
        information into the document center (all of those forms) and they can
        be accessed by the corporate office, they can be accessed by another
        campus if need be with permission and basically, once again, it is
        transparency, it is visibility. Everybody can see those goal sheets.
        Everybody can see everything for that student. Also, batched notices or
        emails and letters. There is no more finding a spreadsheet, pulling
        email addresses off of a spreadsheet to put together a group email to
        send out to students.
    </p>
    <p>
        Now, we can do a student group in CampusNexus Student and send out a
        mass email. This is very, very important obviously. We’ve launched new
        programs recently. This came into play for us then when we were able to
        look at all alumni, all students who are prospective students who had
        inquired and not converted and send that out. It helped with real time
        and getting it out there fast.
    </p>
    <blockquote>
        "Before CampusNeuxs Student, I don’t know if we could even track any
        type of conversion rate."
    </blockquote>
    <p>
        Preparing a useful tool. From an admissions standpoint, obviously when a
        student fills out a FAFSA and puts in our school code it comes in
        directly and then they actually are assigned to me as lead…as an lead. I
        can then distribute those accordingly to the admissions reps that I
        would like. Right now, our conversion rate is 12%. Before CampusNeuxs
        Student, I don’t know if we could even track any type of conversion
        rate.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        FINANCIAL AID RESULTS
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - Moving on to Financial Aid…obviously
        this has been the department that has been the most impacted positively
        by CampusNexus Student implementation. All FA processing…Pell, direct
        loan, SEOG…we do it all in house. We have direct connect to SAIG, CPS,
        NSLDS. Now we have a financial aid team which, for me, is very
        important. They are working with over 100 students per FA block and they
        have time to do that. They have time to sit with the students and work
        them through and give good student service because they are not
        maintaining spreadsheets for six hours out of the day or keeping up with
        paper files.
    </p>
    <blockquote>
        "Now, financial aid reps have more time to sit with those students, talk
        with them and work out solutions"
    </blockquote>
    <p>
        One thing I would like to add that a lot of people don’t see is, one
        thing that has also increased since we implemented CampusNexus Student
        is our cash collections from students. Now, financial aid reps have more
        time to sit with those students, talk with them and work out solutions
        to where they can then help them as far as setting up payment plans to
        pay cash towards their program, which is very important for us.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        REPORTING
    </h2>
    <blockquote>
        "they can predict the cash flow that will be coming over the course of
        the month"
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Looking at reporting, which is important
        for me as the Director of Operations, I can look at…or, not me as much
        as the Corporate Director of Finance can look at expected cash flows,
        can manage the business as well as the President and Owner of the
        College. They can manage cash flow, they can predict the cash flow that
        will be coming over the course of the month, we can do multiple draws in
        a month which is very important for us an then, obviously, this office
        facilitates compliance reporting. It all goes back to compliance. It
        makes it a lot easier for everyone involved in that process. We have
        cash processing for the Finance Department. What we do is when the
        Finance Department is doing registration billing or tuition billing,
        they send that report to me, I then run a report in CampusNexus Student
        to start the report, I match mine with theirs and they are good to go
        and can go ahead and do the batch processing from the Finance
        Department.
    </p>
    <p>
        We are rolling out some things. We are still working on future things
        that we are looking to implement. One thing that we want to do with the
        student portal coming up very soon is make award letters as well as loan
        notifications to students through the portal where the student can just
        access it from anywhere…from their home…and they don’t need to come in.
        They can if they would like, but they don’t need to necessarily come in
        to the financial aid representative for everything if they can just
        access it remotely.
    </p>
    <blockquote>
        "we have automated posting of mandatory fees upon attendance."
    </blockquote>
    <p>
        I talked a little bit about batch registration billing already. Also, we
        have automated posting of mandatory fees upon attendance. That is very
        important. A lot of our programs are medical programs so we have things
        like lab fees, scrub fees, kit fees and these can all be automatically
        posted. When a student enrolls and they attend that first day, their
        status flips from enrolled to current and those fees are automatically
        charged to the student so we don’t have issues where we missed fees on
        certain students or overcharged fees on other students. It is very
        important for the posting and it also obviously cuts down on labor from
        staff. Once again, it gives them time to focus on student service.
    </p>
    <blockquote>
        "most importantly we can do a summary general ledger that goes into our
        accounting system"
    </blockquote>
    <p>
        Revenue recognition tools…we talked about batch processing. It
        automatically calculates earned and unearned remaining. Before, we had
        those spreadsheets. If someone made a tuition payment they had to
        subtract it from the spreadsheet, add it to the spreadsheet and now
        CampusNexus Student does all that. We can get the unearned and earned
        revenue for the course of a month or whatever timeframe we’re looking
        at. We can track federal funds drawn by fund source. We can look at
        ledger cards with tracking and most importantly we can do a summary
        general ledger that goes into our accounting system which is Peachtree.
        We can run a report and see how many transactions happened over a given
        timeframe whether that be two days or whether that be a week or a month.
        We can look at that and we can run the reports necessary to see the flow
        of that.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        ACADEMICS RESULTS
    </h2>
    <blockquote>
        "We have online real time attendance reporting. It is facilitated by
        CampusNexus Student portal."
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Academics…very important here. Now we
        have master schedules to where the students…when they enroll, their
        schedules are already set up in CampusNexus Student so their progression
        through their courses is already set up. We have online real time
        attendance reporting. It is facilitated by CampusNexus Student portal.
        We have real time visibility of the student performance. We can run a
        GPA report. We can look at which faculty are doing well, which faculty
        are not doing so well and we can access all of this remotely and the
        directors can access it. We don’t need to wait on a student survey to
        tell us.
    </p>
    <blockquote>
        "We can identify trends and we can make necessary accommodations or
        changes."
    </blockquote>
    <p>
        We can look at where they are at in the program, how many credits they
        earned, how many credits they have left, who their instructor is. We can
        run a failed course report to look at see…Mrs. Smith has a high number
        of students failing her course. What is going on here? Or…Mr. Smith has
        a high number of students getting A’s and B’s. What is he doing well? We
        can identify trends and we can make necessary accommodations or changes.
        Obviously, I talked a little bit about reports that are leveraged for
        satisfactory academic progress. We also have group messaging for absent
        students.
    </p>
    <blockquote>
        "That definitely increased our retention rates…being able to stay on top
        of these things and identify trends."
    </blockquote>
    <p>
        Now we know attendance real time so if a student doesn’t attend, by the
        time it goes through all of those channels and get to someone without
        CampusNexus Student they make the call, it is two or three days later or
        it takes a lot of manual labor to get the call on the same day. Now at
        the press of a button we look at the last date of attendance. If it has
        been a day we know to give them a call that day to see what is going on
        with their attendance. That definitely increased our retention
        rates…being able to stay on top of these things and identify trends.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        PLACEMENT RESULTS
    </h2>
    <blockquote>
        "Talking about placement, with CampusNexus Student now we have triggers
        for pending grads."
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Talking about placement, with
        CampusNexus Student now we have triggers for pending grads. This is very
        important because our Placement Department now gets a trigger set up to
        where six weeks before the student is to graduate, they switch into a
        pending grad status. When they are switched into that pending grad
        status it does multiple things. It sends a trigger to the Career
        Services Department that says…Heads up. This student is getting ready to
        graduate. Make sure you are working with them. If they are not already
        placed, make sure you are doing what you can to get them
        placed…basically, that in a nutshell. It also sends a trigger to other
        departments as well which I’ll go into in a second.
    </p>
    <blockquote>
        "I can get a full snapshot of the student placement."
    </blockquote>
    <p>
        Now we have one place for our records. Before CampusNexus Student, like
        I said earlier, we had to go the Placement Director and say…Hey, what is
        going on with this person? Are they placed? Then we would have to wait
        for them to pull up their file and look through it or if they were
        placed we had to go to them to find out where they were placed at, was
        it in field, was it out of field? Now that is all in CampusNexus
        Student. I can pull up a student and I can see where they were placed
        and I can look at any type of certification test that they may have
        taken and those can be added in there so I can get a full snapshot of
        the student placement. And then, obviously, reports. I can run a report
        and I don’t need someone to report the placement rate to me now. I can
        run the report and calculate it myself and go from there taking action
        or whatever is needed.
    </p>
    <blockquote>"it has also replaced thousands of emails"</blockquote>
    <p>
        Contact manager workflow…not only does this help us out from a
        standpoint of improving student service and improving the
        interdepartmental work flow, it has also replaced thousands of emails. I
        can remember a time here when a student would enroll and there would be
        20, 25, maybe even 30 emails on that one student about a thread that is
        two pages long. Oh, you have to do this, then you have to do that, then
        you have to do this. Now, we have a contact manager workflow. When a
        student enrolls, it triggers our receptionist to scan the file in so
        that way it is in the document section. It triggers financial aid to
        make sure a financial aid packaging appointment is set. If need be, it
        triggers the Campus Director to let the Campus Director know that
        student was enrolled for certain statuses.
    </p>
    <blockquote>
        "it has also helped us with is a trigger that we created called the
        distressed student activity"
    </blockquote>
    <p>
        One thing it has also helped us with is a trigger that we created called
        the distressed student activity. What this is, we wrote this out to if
        any stuff member is speaking with a student and that student mentions a
        challenge or mentions something happening whether it be in school or out
        of school that could affect them and lead to them dropping from our
        program, they are then to go in and create a student distress activity.
        When they hit the save button on that, what that does is end out an
        email to key staff members…key management members. Basically, it is a
        student distress email. In the subject line it has the student’s name,
        we all converge on it and come up with a solution, or try to come up
        with a solution to help that student out. It is just another thing to
        help with retention and keep students engaged and in school.
    </p>
    <blockquote>
        "One change of the status in CampusNexus Student triggers all of those
        things."
    </blockquote>
    <p>
        I talked a little bit about enrollment status change actions. One thing
        it does is, we have a career planning session…I didn’t mention that on
        the enrollment trigger. When someone is switched to an enrolled status
        we want them to meet with the Placement or Career Services Department to
        go over a goal sheet and talk to them a little bit about that. It
        triggers that so they know. It doesn’t have to be an email saying…John
        Doe just enrolled, please set up your career planning session and then
        another one to Financial Aid, please set up a packing meeting and then
        another one to the receptionist…just enrolled, please scan the file. One
        change of the status in CampusNexus Student triggers all of those
        things. It definitely helps with workflow and it cuts down on emails
        that are sent amongst the staff members.
    </p>
    <p>
        :The pending grad status change…I talked about that a little earlier.
        Not only does that go to Placement to let them know about working with
        the student and getting placed, it also goes to the Financial Aid
        Department, the financial aid rep at that campus to make sure everything
        is done as far as an exit interview, making sure their balance is
        correct and everything is fine on that end. It also goes to the Campus
        Director to set up an exit interview and talk to that student about…How
        was your time here? Did you enjoy your time at Valley College? What
        could we have done better? It is a nice little activity that makes sure
        that student is taken care of before they leave the school.
    </p>
    <blockquote>
        "Triggers are set up to Financial Aid so when a student switches to a
        withdrawal status an activity is triggered"
    </blockquote>
    <p>
        Withdrawal status triggers…we have several of those as well. Obviously,
        these are a little more important for regulations and compliance.
        Triggers are set up to Financial Aid so when a student switches to a
        withdrawal status an activity is triggered to the Financial Aid
        Department to make sure that an R2T4 is completed. A trigger is sent to
        the Finance Department to make sure a tuition adjustment is completed so
        this way we don’t have the student who drops and we miss a deadline
        because they didn’t know that they were supposed to do these things or
        they didn’t even maybe know the student dropped. As soon as that status
        is switched to withdrawal, those activities get triggered to those
        departments, they pull it up in their contact manager and they can take
        the action from there.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        OPERATIONS RESULTS
    </h2>
    <p>
        <strong>Matt Jenkins</strong> - Finally, comprehensive reporting. This
        is probably one of the main things for me now in my role. Reports on
        student population…I can finish this call up, get into CampusNexus
        Student, run a master student listing summary and look at how many
        students are on each campus, how many students we’ve added today, how
        many students we’ve dropped today, how many students have graduated
        today and I can see all that in real time. I can look at the student
        population, I can look at a student’s financial aid package with
        permission…I can look at all of these things. Obviously, for reporting
        and compliance it is cut down by the bullet point here so that staff
        reports ¼ the effort compared to the prior model which was spreadsheets
        and paper files.
    </p>
    <blockquote>
        "I have managed that for the last two years and I can tell you that this
        has helped dramatically"
    </blockquote>
    <p>
        One of my pet projects is 90/10. I have managed that for the last two
        years and I can tell you that this has helped dramatically with 90/10. I
        can run a report and actually have it set up to run a report monthly
        through the first six or seven months of the year and typically weekly
        after that to manage 90/10 and what I can do is go in and run a report
        for funds that have come in based on fund source, I can look at cash
        collected and…for me it is pretty easy now but, easily create the
        spreadsheet and pivot table to show what our 90/10 is. There is a 90/10
        tool and our goal is to deploy that by the end of 2014, which will cut
        down the spreadsheets. Like I said, there are a lot of thing that we are
        still looking to add in as we move forward as well.
    </p>
    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        COMPLIANCE RESULTS
    </h2>
    <blockquote>
        "We call students the day they miss a class and get on it early.
        Obviously, the CampusNexus Student reporting helps with that."
    </blockquote>
    <p>
        <strong>Matt Jenkins</strong> - Another thing with compliance is…I’ll
        just talk a little bit about it while we’re waiting on the slide to come
        up but reports on LDA. They help us monitor attendance, intervene with
        students who are starting to miss class so basically this is a major
        retention tool. Like I said earlier, we do not have a delay. If a
        student misses two days then we can get right on that and bring those
        students back into school or at least get them on the phone to figure
        out what is going on. We call students the day they miss a class and get
        on it early. Obviously, the CampusNexus Student reporting helps with
        that. I can run an LDA report and I can also look at the student’s
        academic progress.
    </p>
    <p>
        As I said earlier, I can see basically their unofficial transcript in
        CampusNexus Student. I can see how they are progressing through the
        program. I can look at their final grades and see if a student has
        multiple F’s on their unofficial transcript or is a straight A student.
        Whatever I’m looking for, I can see how they are doing in their program
        and how they are progressing through based on their start date and their
        expected completion date.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
