---
# <!-- @formatter:off -->
title: How to Transform the Student Journey
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='how-to-transform-the-student-journey'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}

        <div class="container container--2">
            <div class="form-wall-video">
                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=""
                            src="https://www.youtube.com/embed/WEXFvkdMozU?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="How to Transform the Student Journey"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">&nbsp;</p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://info.campusmanagement.com/how-to-transform-student-journey"
                        target="_blank"
                        rel="noopener"
                        >Get Guide
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                The University of Texas Rio Grande Valley and Lancaster Bible
                College are two institutions that have achieved their goals for
                recruitment and student outcomes despite the many challenges
                faced by higher education institutions today.
            </p>

            <p>
                Now you can hear from the executives behind the transformation
                of these institutions and learn how you can align your people,
                processes and technology around the student journey.
            </p>

            <p>
                Watch the presentation to gain insight on how to they:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>Target and attract the right students</li>
                <li>
                    Differentiate from the competition and continue to attract
                    best-fit students
                </li>
                <li>
                    Get everyone on the same page with a new student success
                    strategy
                </li>
                <li>
                    Gather and consolidate all the additional data on students
                    to gain a more holistic picture
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Panelists
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Dr. Magdalena Hinojosa</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Vice President, Strategic Enrollment Management</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >The University of Texas Rio Grande Valley
                    </span>
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Joshua Beers</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Senior Vice President, Student Experience</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Lancaster Bible College</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[box-v3/combo--best-practice-7]}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
