---
# <!-- @formatter:off -->
title: On-Demand Webinars
menu-priority: 0.7
meta-description: Latest webcasts of innovations and best practices for transforming higher ed academic delivery, student success and operational efficiency.
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
in-nav--en-us: true
in-nav--en-in: true
in-nav--en-uk: true
in-nav--es: false
alt--pt-br: /noticias-e-eventos/webcasts/
additional-scripts:
    - src: /scripts/page--webinar-list--on-demand.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container container--2 container--header pb1">
    <header class="c c-white">
        <h1 class="ht--s--38-45">{{title}}</h1>
        <p class="ht--p--16-22 mb0">
            Welcome to Campus Management’s on-demand webinars. Here you can
            watch recordings of recent webcasts featuring industry thought
            leaders, peer institutions, and Campus Management subject matter
            experts as they explore the latest innovations and best practices
            for transforming academic delivery, student success and operational
            efficiency.
        </p>
    </header>
</div>

<div
    id="WebinarSeries--upcoming"
    class="app s3-doc-list-app--v2"
    data-doctype="webcast-series"
    data-site="cmc"
    data-items-per-page="9"
    data-group="en-us"
    data-type="on-demand"
    data-menu-text="Select Topic"
>
    <div class="loading--placeholder">Loading...</div>
</div>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{/content}} {{/extend}}
