---
# <!-- @formatter:off -->
title: Strategic Role of Finance, HR & Payroll in Promoting Institutional Success
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts-bkg.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--webcast-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/contact-us.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white">
        {{> form-wall-form site='cmc' group='en-us'
        webcast='strategic-role-of-finance-hr-payroll-in-promoting-institutional-success'
        hsFormId='1c04d49f-c803-4c10-9778-37e639b63bcc' }}
        <div class="container container--2">
            <div class="form-wall-video">
                <p>
                    In 2014, less than 25% of business officers surveyed had
                    confidence in their institution’s financial model over the
                    next five to ten years. Recent examples of financial
                    collapse are causing institutions to feel the urgency to
                    better leverage their budgets, but outdated finance and HR
                    technology systems threaten to derail progress.
                </p>

                <div class="block c max-width-66--sm">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class=",z"
                            src="https://www.youtube.com/embed/q1lxxWhf7ZA?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Discover the Strategic Role of Finance, HR &amp; Payroll in Promoting Institutional Success"
                            loading="lazy"
                        ></iframe>
                    </div>
                    <p class="l">
                        Original Air Date: March, 31 2015
                    </p>
                </div>
            </div>
            <ul class="pill-list pill-list--centered pill-list--multiple">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/insights/promoting-institutional-success-with-finance-hr-payroll-insights/"
                        >Review Insights
                    </a>
                </li>
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/higher-education-resources/webcasts/strategic-role-of-finance-hr-payroll-in-promoting-institutional-success-transcript/"
                        >Review Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container">
            <p>
                Hear from Cameron Evans, National and Chief Technology Officer,
                U.S. Education at Microsoft Corporation, and Raymond Todd
                Blackwood, Vice President of Product Management at Campus
                Management Corp., to gain a modern perspective on leveraging the
                right tools to assure positive outcomes:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>
                    The impact of equipping your staff with the critical tools,
                    skills and best practices needed to overcome the financial
                    management challenges in today’s higher education market.
                </li>
                <li>
                    The increased efficiencies in managing faculty credentials
                    and preparing for accreditation reviews.
                </li>
                <li>
                    The cost-savings associated with payroll options, such as
                    “insourcing,” and improved self-service opportunities for
                    faculty, staff and student workers.
                </li>
                <li>
                    The combined strength and expertise of industry leaders
                    Microsoft and Campus Management -- helping institutions more
                    effectively manage the business of higher education.
                </li>
            </ul>

            <h2 class="b c-grey--800 mb0">
                Presenters
            </h2>
            <ul class="presenter-list">
                <li>
                    <span class="presenter-list__presenter-name"
                        >Cameron Evans</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >National and Chief Technology Officer</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >U.S. Education</span
                    >
                </li>
                <li>
                    <span class="presenter-list__presenter-name"
                        >Raymond Todd Blackwood</span
                    >,
                    <span class="presenter-list__presenter-title"
                        >Vice President of Product Management</span
                    >,
                    <span class="presenter-list__presenter-company"
                        >Campus Management Corp.</span
                    >
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
