---
# <!-- @formatter:off -->
title: Strategic Role of Finance, HR & Payroll in Promoting Institutional Success Transcript
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
banner-image: /images/pages/news-and-events/Banner_webcastTranscript.png
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container transcript c-grey--1000">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />
    <h1 class="mb0 c-grey--900">{{title}}</h1>

    <p class="ht--s--38-45 c-theme-primary-dark">
        Leverage Software to Increase Productivity and Improve Campus Outcomes
    </p>

    <p>
        Welcome everyone and thank you for joining us for this important and
        informative webinar. This afternoon we will learn about the strategic
        role of finance, human resources and payroll in supporting institutional
        success. Today’s discussion is brought to you by Campus Management with
        discussion lead by
        <strong>Cameron Evans</strong>, Chief Technology Officer, Microsoft
        Education and <strong>Raymond Blackwood</strong>, VP of Product
        Management at Campus Management Corporation.
    </p>

    <p>
        <strong
            >Cameron Evans serves as National and Chief Technology Officer at
            Microsoft Education.</strong
        >
        He is responsible for shaping and leading Microsoft’s empowered learning
        agenda in U.S. education. A 20-year veteran of education, Cameron has
        been a pioneer and a leader of education transformation in public
        schools and universities across the nation. Cameron focuses on
        sustainable education initiatives that improve individual learner
        outcomes and the productivity of people with technology. Cameron is a
        highly sought after speaker and frequent lecturer on issues pertaining
        to impact learning, the academic enterprise and school innovation. As a
        U.S. spokesperson for Microsoft in Education, Cameron frequently speaks
        at industry conferences and writes on literacy, STEM, entrepreneurship,
        gaining leadership and innovation on a monthly basis. Cameron is also a
        U.S. Air Force veteran and holds a Bachelor’s Degree in Management
        Computer Information Systems from Park University and a Master’s in
        Business Administration specializing in Global Leadership from the
        University of Texas at Dallas. In his free time, he loves being
        creative, eating dessert first is always a must, and traveling with his
        family.
    </p>

    <p>
        <strong
            >Raymond Blackwell is the Vice President of Product Management at
            Campus Management Corporation</strong
        >
        and is a futurist who is passionate about technology in business
        intelligence and leadership. Ray is also a 20-year leader of higher
        education and has experience on an assortment of roles, including
        coauthoring technology texts and publishing articles on network security
        in wireless technology. Prior to joining Campus Management, he was a
        Director of Technology for a small private college. Ray lives in Boca
        Raton with his wife and family.
    </p>

    <blockquote>
        "We are seeing a bunch of challenges that are facing higher education.
        So it is basically transform your institution or perish."
    </blockquote>

    <p>
        <strong>Raymond Blackwood:</strong> You know, as we look on the higher
        education landscape today, we are seeing a bunch of challenges that are
        facing higher education. So it is basically transform your institution
        or perish. We see challenges with delivery models and how institutions
        are reshaping their programs from being hybrid and online or on campus
        program delivery. There is competition not only with students and
        enrolling in your institution but also retaining these students while
        they are at your institutions. There is so much out there today that
        distracts your student. We really need to have engagement models that
        are in place to insure that we have great orchestrated interactions
        between our students, whether they are prospects, attending students or
        graduates or members of our community. Funding is a huge challenge and
        we are going to spend some time today talking about some of the funding
        challenges that are out there. But with budgets being tightened up, with
        outcomes for our students, progress outside of graduation and while they
        are in school affecting how much money our institutions are getting,
        funding is becoming a real challenge for institutions today. And I
        mentioned outcomes before. Outcomes not just from state regulatory
        bodies but the federal government putting mandates and constraints on
        the amount of money that we can get for our students and what we can do
        to build and sustain our institutions. And we see all these challenges
        culminating as a super storm that is brewing in higher education. So
        when we look at the strategic role of finance, HR and payroll, I think I
        am going to put after Cameron. Cameron, how do you equip your staff to
        overcome the financial management challenges and today’s higher
        education market?
    </p>

    <blockquote>
        "25 percent of our campus leaders are looking at the fact that their
        business models are not sustainable."
    </blockquote>

    <p>
        <strong>Cameron Evans:</strong> Ray, that is a really great question to
        start off with but in order for us to get some background and detail on
        it, I want to share a couple of perspectives here. First about 25
        percent of our campus leaders – these are presidents and business
        officers – are looking at the fact that their business models are not
        sustainable. And when we look at the next five years, they are not as
        optimistic as people would expect them to be. And then we look at even
        ten years and optimism drops precipitously as people are starting to
        look at the notions of competition, delivery models and funding
        challenges that you laid out plus with outcome, how can you pay for all
        of this? How can you sustain the infrastructure that you have, the human
        capital that you have, as well as insure that people actually returning
        so that you have alumni that can give. None of those things is working
        the way they traditionally have and university leaders, college leaders
        are really concerned about that going forward. And as we think about
        that, these challenges, one of the notions here is this problem with
        just tuition fees itself. Tuition has outstripped any consumer index
        when it comes to inflationary growth. It is higher than what we had in
        healthcare. It is higher than our consumer credit index. It is higher
        than anything that people are tracking from an economic standpoint. And
        this has become a problem because we have a variety of different funding
        formulas that mix in to how we afford tuition for students. And so
        schools are looking at different ways in order to keep revenues high.
        That can be taking more out of state students in for tuition, taking the
        best students that have the highest grades. The top ten percent that we
        know will be successful in college and actually complete on time, as
        well as taking students that are foreign born coming into the United
        States so not only are they paying out of state tuition, they are also
        paying tuition from outside of the nation.
    </p>

    <blockquote>
        "Programs are being funded by allocation and not by new monies."
    </blockquote>

    <p>
        But chief academic officers when they look at this particular mix, they
        are looking at their programs are being funded by allocation and not by
        new monies. And so it is based on can you get students actually in those
        courses and are those courses mainly successful so that you are
        accreditation continues year after year each time that comes up. This is
        a challenge for this financial crisis as we look across the whole higher
        education market. And it really brings us down to start looking at how
        do we make this work better knowing that the day to day challenges that
        we are seeing in our schools are getting to the point where a one size
        fits all or one size fits most approach no longer works. It does not
        work in technology nor does it work in the alignment that we are seeing.
        And so when we look at this question, it really calls for organizations
        to think about how do we reengineer, how do we bring innovation so that
        we can remain relevant and competitive. Because what is at risk is
        formal learning all of and it is not just a higher education issue. It
        is actually a K-20 issue. That formal learning is at risk across the
        board. And so for most, this will require examining of business
        processes to map both the local challenges and state policies for
        performance. Few institutions have a budget to increase talent to make
        these types of transformations so they are going to have to rely on
        executing this change with the people that they already have.
    </p>

    <blockquote>
        "A real opportunity to leverage software to increase productivity and
        improve campus outcomes."
    </blockquote>

    <p>
        But the thing that can be done is to change some of the things that they
        are doing with technology. And that is a real opportunity to leverage
        software to increase productivity and improve campus outcomes. To do
        just that you need to have software that can be adaptive and align to
        new business realities. It cannot be a situation where you have these
        rigid silos. I have toured across the nation and seen universities
        cannot innovate because they are using a database that was built in 1980
        and they have updated it for the last time at Y2K. And it is 2015 and
        they cannot bring the innovation that they need for most of their
        business into the schools. And so colleges and universities when we look
        at them, they need to work like a network. And the hierarchies of the
        past, well, that has been the modus operandi of the day in academia.
        Those rigid structures can actually hamper innovation and cause leaders
        to miss out on opportunities that they need to see in a mobile first,
        Cloud first world. So we are clearly at a place where the network world
        and where institutions can harness technology to empower people and
        accelerate their business innovations. But in order to do that, they are
        going to need to serve more students for positive outcomes if they want
        to continue to win. We see this as a leaders’ challenge but we also see
        it as the leaders’ greatest opportunity.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Managing faculty credentials, career path, intellectual property, seems
        to be a difficult and often task. How can institutions address this?
    </h2>

    <p>
        <strong>Raymond Blackwood:</strong> Yeah, I will take that one. So as
        people, we oftentimes only stop and reflect when things start to go bad,
        right. You stop and say how in the world did I get myself into this
        mess? And when things are going fine, we kind of just go with the flow.
        And I have experienced this first hand when it comes time for an
        accreditation visit or for collecting a lot of data for an organization
        to report for some kind of meeting or oversight. It can be really,
        really overwhelming. And a lot of times, institutions ask how in the
        world do we let this happen? How do I make sure that we do better? We
        never have to go through something like this again. And there are a lot
        of point solutions that are out there that help institutions address
        things, like insuring faculty have the right credentials to teach the
        right courses. And they audit these courses and they keep on top of all
        of the new bodies of work that faculty members are creating while they
        are out the institution term over term, year after year. But what we do
        not have or what we have not had in the past is a single platform that
        really goes across the organization and provides insight. Not just into
        faculty credentials and faculty works, but also ties directly into their
        benefits, and their compensation, and their performance as a faculty
        member. The influence that they have had at the institution over the
        years, the number of students that they have taught, the average grade
        that the students produce. These types of things.
    </p>

    <blockquote>
        "And ultimately have ways where you can go to the data and understand
        what your return on investment is."
    </blockquote>

    <p>
        And so we wanted to create a solution that really brought all of this
        data together. That allowed faculty members to upload their books and
        their research and patents and new courses that they created, conference
        papers that they have presented at. Even to the point where we are
        cataloging fine art, and films, and sculptures that are being produced
        by our faculty members. And like I said, we really want to take all of
        that and in addition to that, see what their influence is on the student
        body. And help them in performance reviews and be better faculty
        members, but also understand the impact and the influence that they have
        over the organization. And this is where the strategic role of HR starts
        to play out when the academic provost’s office and the business office.
        You should be able to analyze the alignment of faculty members through
        course instruction, the syllabi, looking at the student outcomes for the
        course and the programs that they are in. And ultimately have ways where
        you can go to the data and understand what your return on investment is.
        Right? Understand how much your programs are costing. How much is this
        course costing? How much does this course cost if I have it in this
        building on this day with these resources versus having it another
        place. And so when you have all of the data connected and you have a
        really powerful engine for analytics, you can start asking the data
        these questions and you can really start having an impact on how you can
        save money, how you can improve performance. And we see this as a trend
        that is growing. How do I get everything into my data warehouse? How do
        I bring all these systems together? And that is really how we think you
        are going to find institutional success in HR is by looking across all
        of these systems together.
    </p>

    <p>
        So this slide actually speaks to what I was talking about. It is having
        a talent management system that is really designed for faculty. So we
        have got great HR systems, great payroll systems, but can we provide
        that extra flair that really reinforces the need to manage faculty as
        employees by the collection of all this information.
    </p>

    <p>
        <strong>Moderator:</strong> Well thanks Ray. Certainly, colleges and
        universities are in a dire need of talent management systems that focus
        on unique needs of higher ed. This continues the ability to, of course,
        track specific types of knowledge creation. There is a few listed there,
        plus determine how influential the faculty have been on the student
        body. And this is where the strategic role of HR starts. It certainly
        plays out with the academic provost’s office and the business office and
        it should be able to analyze the alignment of the faculty members to the
        course instructions and syllabi and to the student. So there is an
        additional administrative function that is key to institutions and the
        biggest challenge in managing payroll can be payroll by strategic
        partner at institutions. And sometimes it is syphoned off or managed
        separately from HR, even outsourced.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        So the question becomes can payroll become a strategic partner with an
        institution? Cameron, what would you think about that statement?
    </h2>

    <p>
        <strong>Cameron Evans:</strong> Payroll is one of those areas that is
        precious to everyone on this call because whether you are paying a
        mortgage or the rent, you do not want anybody screwing around with
        payroll. This is a sensitive, sensitive subject. But when organizations
        look at payroll all up, they have to really think about how do you want
        to rethink that process. We have over 100,000 people at Microsoft and
        yet we only have three people managing payroll for over 100,000
        employees. And we use technology and software to orchestrate everybody
        getting paid twice a month and plus their bonuses as appropriate
        throughout the year. And this is a massive, massive undertaking. And
        oftentimes when we look at educational institutions that type of
        undertaking at that level of sophistication is just simply not there
        yet. And there are a few reasons why that is not happening. If you look
        at the time spent on payroll, there is a whole lot of time spent just
        collecting and approving things. And then as you move down into the
        processes, you are looking at checks, direct deposit, processing
        reports. Oh my goodness, paper. Paper. Why is there so much paper in
        higher education, especially in universities that actually have tech in
        their name. I see a lot of paper at those colleges and universities. And
        so the manual nature of payroll processing as well as the fact that in
        some cases it has been outsourced to different parties, contractors or
        service providers in order to do that function. It creates constraints
        on whether a university can actually use payroll as a strategic lever in
        order to gain efficiencies and more productivity across the entire
        organization.
    </p>

    <blockquote>
        "Why is there so much paper in higher education, especially in
        universities that actually have tech in their name."
    </blockquote>

    <p>
        Now in the late ‘90s and in the early 2000s, outsourcing was a major,
        major activity for every corporation, every government institution and
        every university to consider because at that time economies and scale
        favored outsourcing. But today technology actually allows that type of
        capability to come back in house and people to pick that up as a
        strategic advantage and be able to move forward. And so when you think
        about that, now we have the ability to reduce the cost of employee drops
        significantly over the next two years and beyond when you are able to
        bring that technology in house to do payroll processing. And then the
        institution also losses the constraint, the rigidness of having dates
        and timelines being set by an external third party because that external
        third party has to not only work with their institution but several
        other institutions. And so those timelines and rigidity go away as you
        bring that back in house. And there are other benefits that work from
        being able to make payroll a much more effective part of the overall
        orchestration for transformation. And this is one of those strategic
        areas that as you look at finance, as you look at talent and capital
        talent management, and human capital development, as well as the payroll
        function inside of an organization, these things can now be done in a
        much more sophisticated way.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        So what endeavors have Campus Management and Microsoft pursued to help
        institutions more effectively manage the business of higher education?
    </h2>

    <blockquote>
        "At Campus Management, we have built our entire product line on the
        Microsoft stack."
    </blockquote>

    <p>
        <strong>Raymond Blackwood:</strong> At Campus Management, we have built
        our entire product line on the Microsoft stack. Microsoft provides the
        technology, tools, the platform for us to deliver products that meet
        today’s higher education institution’s needs. Specifically, as we start
        to move towards more of a web based experienced and access to
        information is stored in the Cloud, Campus Management does not want to
        have to solve these problems. Microsoft solves those problems and that
        allows us to concentrate on solving the problems that higher ed faces.
        Problems around security, information sharing, self-service for
        students, for faculty, for staff, having configural business process
        orchestration and bring what used to be a bunch of siloed applications
        together with a clean platform on a clean technology stack that easily
        brings in solutions together that have the cohesive look and feel. And
        then underneath it all has really powerful analytics. So if you want to
        go to the next slide, so we have created a solution that is specific for
        higher education, business officers and human resource administrators.
        And we did this on top of the really powerful Microsoft Dynamics AX
        platform. It provides rich core financial management and HR
        functionality. It has been proven around the world. It has a fantastic
        customer base and it is a really powerful piece of technology.
    </p>

    <blockquote>
        "It streamlines inter-departmental processes and it realizes cost
        savings that will dramatically improve operational efficiency."
    </blockquote>

    <p>
        CampusNexus Finance, HR and payroll will empower institutions to manage
        student accounts, federal work study and payroll, faculty workload,
        credentialing details, manage fund sources like scholarships and grants
        and position control and budgeting. It streamlines inter-departmental
        processes and it realizes cost savings that will dramatically improve
        operational efficiency. You can govern a single or multi-campus
        institution with specific department workflows, approvals and document
        tracking. And, of course, it integrates with our student information
        system but it is also very powerful as a standalone system. And it also
        can be integrated with any other student information system that your
        institution might have, really giving you the power of this Microsoft
        platform no matter where you are starting from at your institution.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Given the state of funding, how are most business officers responding,
        whether it is raising tuition or other factors that they are grappling
        with?
    </h2>

    <p>
        <strong>Cameron Evans:</strong> Well, when you look at it across the
        board, every university, every college, every leader is taking things
        that are really tailored to their particular situations, where they are
        in the country, what their particular strengths are. Not everybody is
        trying that one size fits all approach to how they deal with funding. As
        I talked about before, changing the mix of students at an institution is
        super important. But one thing that universities are doing is trying to
        make sure that the students that come in, that they recruit, that their
        first year at the college, that they are successful within that first
        year. A lot is done to make sure that first year persistence and that
        students move on and make progress towards completion is happening at a
        greater scale. Because when you think about it just mathematically, let
        us say we have three kids that come in the freshman year and two of them
        leave in their sophomore year. The cost of teaching did not go down
        because the two kids left. It just means that the costs now have to be
        lumped onto the kid that remains. And so if you can help more students
        to actually sustain themselves throughout their academic career, then we
        can see tuition costs actually become a little bit more flat or at least
        stop increasing dramatically as we insure that more students can make
        progress to completion. And so having systems that enable you to track
        relationships far more effectively is also a great way to bring costs
        down and improve outcomes at the same time. We see a lot of colleges and
        universities actually focusing on their core mission of helping students
        succeed and finding that that core mission is also a way to keep costs
        from escalating in their institution as well, Gerry.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Well that may be a good segue into the question about public funding.
        And certainly that is tied to student outcome. To what extent are you
        seeing that sort of impacting the current landscape in higher education?
    </h2>

    <p>
        <strong>Cameron Evans:</strong> Well, it always depends on the
        institution. If it is a private institution, public funding is not the
        biggest thing on their radar. But for a public institution with a
        funding mix both from the federal and the state government has changed
        dramatically. A lot of states are trying to figure out a different way
        to fund public education and insure that students getting – there are
        some states that have rules whether you can have a student enrolled. And
        they are enrolled in all of the schools throughout the system
        simultaneously. And more courses are being offered online. And the
        courses are being offered online, they are not because of some of the
        reasons people think. There are actually much simpler reason. When the
        price of gas goes up, kids do not want to drive to campus. It is just
        that simple. And so having a course online allows them to be able to
        have a blended learning experience and continue to make progress even
        when other inflationary indexes are causing it to be a challenge in
        order to remain in school. And this is one of the things that we have to
        have universities look both at macro and micro economic indicators
        because some of the things that we think are obvious are not so obvious.
        They are simple things that students are making decisions. They live
        within two miles, five miles from campus but gas is expensive and they
        would rather spend that gas going to a party, not going to a parking
        lot. And so if you can make the course available online, they will
        continue their degree. And it is actually more cost effective to move
        courses into the Cloud so that those students can do that as well. And
        so it is finding when we get down into the nitty gritty details of why
        things are the way they are on campus versus the way we think they are.
        And sometimes data does not pull that out.
    </p>

    <blockquote>
        "It is really putting a lot of pressures on institutions to absolutely
        work on student success and student engagement."
    </blockquote>

    <p>
        <strong>Raymond Blackwood:</strong> Yeah. I was just going to say in my
        home state of Florida a new model was adopted I think just in January of
        2014 that has a new formula for how states get funding. Each institution
        is basically assigned a value between one and five based off of
        performance over ten different metrics. And if a school does not score
        25 points, then they do not get the funding next year. If they score
        less, they can get one percent less funding a year by not hitting those
        metrics. And then there is competition in place that if you exceed the
        25, 26, they look at the highest institutions and they have like a bonus
        pool where more money goes to the more successful institutions. So some
        of these things that they are looking for outcomes is the percentage of
        Bachelor graduates that are employed or going back to graduate school
        after a year. They are looking at the median average salary of full time
        wages for undergrads a year after graduation. They are looking at the
        cost of undergraduate tuition or I mean the cost that the undergrad has
        on the institution. So the more it costs to teach the student, it
        affects the institution in a negative way. So they are really encouraged
        to find ways to save money. They are looking at a six year graduation
        rate and then to piggyback on what Cameron said earlier about retention
        for those first year students, in Florida they are actually looking how
        many of your second year students are still there. And how many of those
        have a 2.0 or higher. So we are seeing these outcomes manifest
        themselves. I think 30 states have different programs similar to this
        right now. And it is really putting a lot of pressures on institutions
        to absolutely work on student success and student engagement. But there
        is pressure at the administration to also cut costs and find out where
        they are actually spending the most money and where they can find
        efficiencies.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Well certainly an aspect of this is the healthcare reforms and HR
        looking at the staffing and faculty. What’s the impact on HR departments
        are you seeing at various colleges?
    </h2>

    <p>
        <strong>Raymond Blackwood:</strong> Well, definitely the Affordable Care
        Act has really put a strain on a lot of the HR departments, and
        especially those that manage a high number of adjunct faculty, because
        they really stride that line of benefit eligibility. Because you have to
        remember, teachers do not teach all year long necessarily. You may have
        some online programs or things like that that go all year long but in a
        lot of cases at these traditional schools, it may just be 15 weeks or 30
        weeks. And what happens is if your adjunct faculty member goes over that
        30 hour limit, they are eligible for benefits. So we are seeing more and
        more how they are having to cut back on the number of credits per term
        they allow for adjunct faculty. And so they are responding by going and
        teaching at more institutions. So while they are having to pick up the
        cost of managing their own healthcare, they are also having to figure
        out how to balance teaching at multiple institutions. That is a direct
        example that I have come across very recently.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Certainly HR departments are responding to increased concerns about
        information privacy, whether it is HIPAA or FERPA and that is another, I
        guess, aspect beyond just the financial aspect is the privacy. Is there
        certain things that have arisen there?
    </h2>

    <blockquote>
        "Privacy continues to be a challenge across all industries."
    </blockquote>

    <p>
        <strong>Cameron Evans:</strong> Privacy continues to be a challenge
        across all industries because fundamentally underlying all of this is
        that there is way too much data being collected by too many different
        parties. And the first party, whether that be an employee or a student,
        they are not always aware who has access to their data for what reason.
        If there are collateral uses or commercial uses of that data being done.
        And the transparency, disclosure, as well as any type of third party
        auditing of practices for an institution, this has become the new
        Achilles heel in all of education and as we look at privacy. This has
        only escalated by recent disclosures of government breaches of privacy
        in citizens. This has only been escalated by retailers throughout the
        nation, especially during the holiday season that just passed, having
        security breaches where privacy and data was stolen. And then Sony
        Pictures recently had a hack of email that has just caused a lot of
        different people to have a lot of deeper understanding both for lay
        people as well as policy experts and leaders to start thinking about
        what is actually going on with my data. And when you are telling me that
        I can put more stuff in the Cloud and more things can be done mobile so
        that we can be productive, how exactly when I gain all of this
        efficiency, productivity and cost savings do you keep me safe? Do you
        keep me secure? How can I trust it? And this is the conversation for
        Microsoft that we have routinely all the time. One because we have had a
        long track record of having to deal with this back into the early part
        of this century with so many different malware and threats attacking
        Microsoft assets and technologies around the world. That we have
        actually made privacy of more than a decade ago, privacy, security, our
        business transparency, the pillars in the way we operate from a
        trustworthy computing prospective. And so for FERPA and HIPAA, the laws
        themselves have not necessarily matured with the speed of technology and
        so it is important and incumbent upon companies that provide
        technologies in the higher education to one, be ahead of policy in terms
        of how they are approaching keeping data secure, making sure that there
        are no collateral uses.
    </p>

    <p>
        In fact, insuring that the institution themselves remain custodial
        control of all of their data and that they have access to withdraw their
        data at any time. And insuring that it is not outside of the United
        States so no other sovereign nation can lay claim to their particular
        data assets and say they are seizing all of the information of their
        employees or seizing all the information of their students. All of these
        things have to be thought out well in advance and oftentimes to raise
        point, people do not think about them until they are under threat or
        there has been a breach on a campus where people are starting to flip
        out. But as you start integrating more systems and as you start getting
        into this world where we talk about the internet of things, of
        connecting different machines and different points of data entry into a
        massive source of content for big data. Now we need to have a very
        fervent conversation about privacy because the integration and the
        linkages of that data are now able to tell a different story that humans
        can tell but now machines can. And this is super important that if you
        are moving to the Cloud, find a provider that you can trust and make
        sure that they have their business practices publicly documented and
        available for you to walk through. And have a third party audit so that
        you can have the confidence to go back to your stakeholders, employees
        and students and let them know that the business decisions you made are
        not jeopardizing their privacy today nor in the future.
    </p>

    <p>
        <strong>Raymond Blackwood:</strong> Everything that Cameron said is
        right on, from trying to develop solutions and helping institutions
        manage these things. I know that we are spending a lot of time and
        investing a lot in making sure that the self-service capabilities that
        we provide for the data collection provide a level of safety for the
        submitter, because we do have to gather a lot of information, especially
        in medical programs and things like that, that can become very private.
        Especially we do not want people around the institution to get a handle
        on these things. So having multiple layers of authentication for some
        forms to be able to have these documents that we can set different
        permissions on where people cannot necessarily have access to what is in
        the document because if the document has been submitted and on file. And
        then just being very, very diligent about the roles that we enable our
        people to have at the institution. A lot of schools do not have the
        manpower to really break out a lot of these roles and responsibilities
        that we see in the corporate world, where you have these very strict
        rules for who can have access to what systems. It becomes very familiar.
        Learning is about open sharing so security is kind of like against what
        we think about when we go to college, about free speech and free
        thinking and openness. And so there is a real balance that has to be
        there. And we need to provide solutions for institutions that can
        navigate the tricky world that we are living in for sure.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        One question that came up was about the Campus Management Solutions to
        adapt to future institutional and legislative as well as the strategic
        change that is happening in higher education and sort of looking at that
        and how that is being adapted.
    </h2>

    <blockquote>
        "Institutions are looking for are solutions that are flexible, rule
        based, configurable."
    </blockquote>

    <p>
        <strong>Raymond Blackwood:</strong> Well you know I just read the recent
        Market Guide for Higher Education from Gartner. And what they are saying
        is that what institutions are looking for are solutions that are
        flexible, rule based, configurable solutions that provide a lot of
        self-service capabilities without necessarily the need to customize.
        They are looking for solutions that support flexible term structures
        like non-term borrower based for online or competency based programs and
        strengthening these ground programs that they have. They are looking for
        systems that can be deployed modularly so that they can pace the rate of
        change that the institution is going to feel while they see tangible
        benefits pretty quickly. So having access to the capability but choosing
        how you roll it out and the time of how you roll it out is really
        important to institutions, especially under funding pressures. And that
        is really why we partner with Microsoft. Their platform capabilities or
        their bench driven architecture, the workflow capabilities, along with
        their Cloud strategy and their BI tools are really poised well to meet
        the needs of what institutions are looking for today. And that is why I
        am really excited about everything that is going on with Campus
        Management and Microsoft.
    </p>

    <p>
        <strong>Cameron Evans:</strong> All I will say is that we continue to
        spend a $9,500,000,000 a year on R&amp;D so that Campus Management does
        not have to.
    </p>

    <p>
        That knowledge gets passed on to higher education to make sure that as
        the things – the world is going to continue to change. This is a super
        important question. You looked at both strategic issues, legislative
        issues as well as just the market itself. As formal learning has to take
        its next evolutionary step, what we know today as higher education will
        not be the same education that I got nor will it be the education that
        my daughter is expected to get in 2021. And so technology has to be a
        lot more flexible and a lot more adaptable to both the people and the
        processes versus the people and processes always adapting to the
        technology. And I think with Campus Management and what they are doing
        with Dynamics AX so the CampusNexus is going to take higher education
        into an entirely new stratosphere so that they have the agility to move
        forward and do it quickly because we actually do not have a whole lot of
        time to make this transformation happen. We need to accelerate it.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        You had referred to sort of a global landscape and certainly a lot of
        institutions are looking at international students and online learning
        as grown areas. And certainly that may factor into your consultation on
        privacy and some other issues as part of your solution. Have those two
        factors been prevalent conversation topics with institutions?
    </h2>

    <blockquote>
        "Microsoft does business around the world so that we can help higher
        education continue to grow."
    </blockquote>

    <p>
        <strong>Cameron Evans:</strong> It comes up more than people realize,
        Gerry. As more universities partner with other governments, other
        ministries of education outside of the United States, the privacy dance
        becomes even more of a delicate ballet. As we look at other industries,
        especially in greater China, where you have people moving from rural
        parts of China into these cities. And now their economic systems and the
        economic base is actually growing, you have to have new jobs created for
        new places for tourism and new places for hospitality. And yet, they do
        not necessarily have a university’s tool to provide those type of skill
        sets for their own native citizens. So they are partnering with American
        universities and colleges in order to make that happen. And so as you do
        that, you are now providing both data services and systems for
        employees, faculty and students that are foreign born and also operating
        in a foreign nation. And so you have to think differently about how does
        the data and the rules in that country, the policy and legislation in
        those countries, work conversely with what we would have here in the
        United States. And does that global company provide me with the
        flexibility to make sure that I can have some type of wall between the
        data that I need to stay sovereign in the United States. Because I may
        have some federal requirements to make sure that that data stays in the
        United States versus data that stays in another country like China
        because I have the Ministry of Education in China that says I do not
        want any of my students’ data in America. And so all of those things
        come up far more frequently than people realize. And fortunately,
        Microsoft does business around the world so that we can help higher
        education continue to grow around the world.
    </p>

    <h2 class="b ht--p--18 c-grey--800 mb0-5">
        Ray, I do not know. Have you talked about solutions that on the online
        learning or international side that would add to Cameron’s perspective?
    </h2>

    <p>
        <strong>Raymond Blackwood:</strong> No, just to reinforce it, I mean, we
        are a global higher education company and have implementations going on
        currently in Africa and in Malaysia implementing Dynamics there. And we
        definitely run across these issues, not only just the data but even in
        terms of implementation on who is implementing it and the different
        types of data that can be exchanged from country to country is
        definitely something that we face on a daily basis as we implement our
        solutions around the world.
    </p>

    <p>
        <strong>Moderator:</strong> There was a news story recently just this
        week about a small college in Philadelphia that is now offering
        curriculum both in classroom and online as part of the entire package
        that you can choose and sort of flow from one to the other. And that
        seems to be to Cameron’s point about the next generation of students
        that are going to really be grappling with or embracing a completely
        different format of learning. So I think what you covered today has
        certainly touched on a lot of those essential sustainable needs for
        higher education. So certainly we would love to have you provide any
        final thoughts before we sort of wrap up today’s presentation.
    </p>

    <p>
        <strong>Cameron Evans:</strong> Well, I will just comment on that last
        remark you made, Gerry. We still have a lot of non-traditional students
        that are Gen-Xers and Boomers continuing to go to higher education to
        find new skills, find new degree programs and just things of that nature
        so that they can continue to participate in society. But the Millennials
        that will be coming into higher education from this point forward, they
        really expect technology to be super personalized and adaptive to them.
        They have never had to wait for a modem to make a negotiated connection
        to the internet. They really never had to wait on a microwave to mis-pop
        popcorn. You just press the button and it is done. And so their
        upbringing and affect and views on choice and their view on waiting for
        things are fundamentally different from Gen-Xers, Boomers and the silent
        generation. And we have to make sure that as we look at that, that we
        are considering how we are really helping technology move people through
        in such a way that there is no waste of their time. There is no waste of
        employees’ time and everybody’s productivity from faculty to
        administrator is actually skyrocketing as we move further and further
        into this digital decade, especially as we get into the next digital
        decade. And as a personal plea for all of our educators on the line, my
        daughter graduates in 2021. I need you to have this all figured out by
        then so if she shows up at your institution, she is ready to go.
    </p>

    <blockquote>
        "Need to find a strategic way to responsibly look at the technology
        challenges that are out there."
    </blockquote>

    <p>
        <strong>Raymond Blackwood:</strong> Yeah, just to piggyback on that,
        absolutely right about the different generations of students and how
        they are learning, and the different learning styles and the
        expectations. We expect the change to continue. One of the things that
        we have been looking at as a higher education company is if you look at
        our industry compared to other industries like retail and mapping, there
        has been major transformation in the business. So where we had Yellow
        Pages to go look up information and now we have search engines online
        that basically give us the answer to everything of the world’s
        collective knowledge at our fingertips. We have Amazon. When they
        basically republished the catalog online, it changed the way that we
        shop forever. It is actually a measure of our economic success at the
        end of the year with Cyber Monday. We have not seen that type of
        transformational change come to higher education. And a lot of it is
        just because of tradition. I mean no one is willing to give up March
        Madness. No one is willing to give up our old alma mater and the
        memories that we have of college, even for the non-traditional students
        who I consider myself one because I went to grad school in my late 20's
        and early 30's. And even the bonding that you have and the projects that
        you do and the experience that you have. That is something that you take
        away with you. It is not like playing a game or achieving something
        online. So we know that there is change. And we know that with these new
        technologies that are emerging, that we need to find a strategic way to
        responsibly look at the technology challenges that are out there. Find
        the right balance between capital investment and operational expenses,
        getting more and more departments to collaborate across the aisle
        together to manage these implementations. And as that becomes more
        complex at the institutions, and it is not just a function of IT to
        solve a technology problem, but as departments come together and solve
        problems for the institution, we have to find ways of tracking that and
        allocating that and really calculating the return on investment. And so
        I would say not just as their change in the student population and the
        way that we deliver education, but we just need to be on the lookout for
        the changes that are there and how we are going to manage that change
        over time.
    </p>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
