.archive-list {
    /* autoprefixer: off */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
    margin: 0;
    padding: 0;

    &:not(:last-child) {
        margin-bottom: rhythm(1);
    }
}

.archive-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; // auto for ie
    min-height: rhythm(10);
    padding: rhythm(0.5);
    text-align: center;
    background-color: map-get($greys, 200);
    border-color: $white;
    border-style: solid;
    border-width: 2.5px;
}

.archive-list-item__title {
    margin-bottom: rhythm(0.5);
    color: $theme-primary-dark;
}

.archive-list-item__text {
    @include adjust-font-size-to(12px, 0.75);

    margin-bottom: rhythm(0.5);
    color: map-get($greys, 1000);
}

.archive-list-item__link {
    align-self: center;
    margin-top: auto;
}

.archive-list-item__img {
    flex-grow: 0;
    align-self: center;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-bottom: rhythm(1);
}
