@import 'bootstrap-sass/assets/stylesheets/bootstrap/modals';
$service-desk-img-url: '/images/ui/client-support--service-desk.png' !default;
$mci-img-url: '/images/ui/client-support--mycampusinsight.png' !default;
$product-support-img-url: '/images/ui/client-support--product-support.png' !default;

.modal-dialog {
    @media (min-width: $screen-sm-min) {
        margin: rhythm(4) auto;
    }
}

.modal-title {
    margin-top: rhythm(1);
    margin-bottom: rhythm(1);
    color: $theme-primary-dark;
    text-align: center;
}

.modal-header .close {
    @include adjust-font-size-to(20px);

    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    padding: 0 4.5px;
    color: map-get($greys, 800);
    font-weight: 300;
    font-family: $font-family-primary;
    line-height: 20px;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 0;
    cursor: pointer;
}

.modal-header {
    padding: 0;
    border: 0;
}

.modal-content {
    background-color: map-get($greys, 200);
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 rhythm(2) rhythm(1);
    text-align: center;

    @media (min-width: $screen-sm-min) {
        flex-wrap: nowrap;
    }
}

.choose-country-modal__choose-country-button {
    position: relative;
    flex: 1 0 143px;
    margin-bottom: rhythm(1);
    padding-top: rhythm(2.5);
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 117px;
        height: 63px;
        transform: translateX(-50%);
        content: '';
    }
}

.choose-country-modal__choose-country-button--service-desk {
    padding-top: 0;

    &:before {
        position: relative;
        display: block;
        width: auto;
        height: rhythm(4.5);
        background: url($service-desk-img-url) no-repeat 50% 50%;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.choose-country-modal__choose-country-button--myCampusInsight {
    padding-top: 0;

    &:before {
        position: relative;
        display: block;
        width: auto;
        height: rhythm(4.5);
        background: url($mci-img-url) no-repeat 50% 50%;
    }
}

.choose-country-modal__choose-country-button--product-support {
    padding-top: 0;

    &:before {
        position: relative;
        display: block;
        width: auto;
        height: rhythm(4.5);
        background: url($product-support-img-url) no-repeat 50% 50%;
    }
}

.search-modal .modal-dialog {
    max-width: 500px;
}

.search-modal .modal-body {
    padding: 0 rhythm(2) rhythm(2);
}
