@import '../common-imports';

.box-v4 {
    @media (min-width: $screen-sm-min) {
        display: grid;
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 2fr 1fr;
    }

    .box-v4 {
        margin-bottom: rhythm(1);
    }

    .left {
        grid-area: left;
    }

    .right {
        grid-area: right;
    }

    .left,
    .right {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 0 auto rhythm(1);
        overflow: hidden;

        &:last-child:not([class*='mb']),
        > *:last-child:not([class*='mb']) {
            margin-bottom: 0;
        }

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }

        &.max-410 {
            max-width: 410px;
        }

        &.box-item__img--smaller {
            max-width: rhythm(6);
            max-height: rhythm(6);
        }

        &.img-cover {
            height: 100%;
        }
    }

    /* stylelint-disable selector-no-qualifying-type */

    img.left,
    img.right,
    .left img,
    .right img {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    /* stylelint-eneable selector-no-qualifying-type */

    .box-item__link.c {
        margin-right: auto;
        margin-left: auto;
    }

    .left.right {
        grid-area: left/span 2;
        /* stylelint-disable property-no-vendor-prefix */
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

.box-v4--3-2 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 3fr 2fr;
    }
}

.box-v4--1-1 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 1fr 1fr;
    }
}

.box-v4--1-2 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 1fr 2fr;
    }
}

.box-v4--1-3 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 1fr 3fr;
    }
}

.box-v4--3-1 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 3fr 1fr;
    }
}

.box-v4--2-3 {
    @media (min-width: $screen-sm-min) {
        // repeat all properties for autoprefixer/ie
        grid-column-gap: $grid-gutter-width;
        grid-template-areas: 'left right';
        grid-template-rows: auto;
        /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
        grid-template-columns: 2fr 3fr;
    }
}

.box-v4--auto {
    display: block;

    @supports (grid-gap: 0) {
        /* autoprefixer: off */
        display: grid;
        grid-gap: rhythm(1);
        grid-template-areas: none;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

.box-v4--flex,
.box-v4--flex-1-2,
.box-v4--flex-1-2-4,
.box-v4--flex-1-2-3,
.box-v4--flex-1-3 {
    /* stylelint-disable no-descending-specificity */

    > * {
        padding: 0 0 rhythm(1);
    }

    > *:last-child {
        padding-bottom: 0;
    }

    @media (min-width: $screen-xs-land-min) {
        /* autoprefixer: off */
        display: flex;
        flex-wrap: wrap;
        grid-column-gap: 0;
        grid-template-areas: none;

        > * {
            padding: rhythm(1) rhythm(0.5);
        }

        > *:last-child {
            padding-bottom: rhythm(1);
        }
    }
    /* stylelint-enable no-descending-specificity */
}

.box-v4--flex {
    @media (min-width: $screen-xs-land-min) {
        > * {
            flex: 1 0 0;
        }
    }
}

.box-v4--flex-1-2,
.box-v4--flex-1-2-3,
.box-v4--flex-1-2-4 {
    @media (min-width: $screen-xs-land-min) {
        > * {
            flex: 1 0 50%;
        }
    }
}

.box-v4--flex-1-3 {
    @media (min-width: $screen-xs-land-min) {
        > * {
            flex: 1 0 100%;
        }
    }

    @media (min-width: $screen-sm-min) {
        > * {
            flex-basis: 33%;
        }
    }
}

.box-v4--flex-1-2-3 {
    @media (min-width: $screen-sm-min) {
        > * {
            flex-basis: 33%;
        }
    }
}

.box-v4--flex-1-2-4 {
    @media (min-width: $screen-md-min) {
        > * {
            flex-basis: 25%;
        }
    }
}

.box-v4--greys {
    /* stylelint-disable no-descending-specificity */
    > * {
        &:nth-child(even) {
            background-color: map-get($greys, 300);
        }

        &:nth-child(odd) {
            background-color: map-get($greys, 200);
        }
    }

    &.alt-row {
        @media (min-width: $screen-xs-land-min) {
            > * {
                &:nth-child(even) {
                    background-color: map-get($greys, 200);
                }

                &:nth-child(odd) {
                    background-color: map-get($greys, 300);
                }
            }
        }

        &.box-v4--flex-1-2-3 > *,
        &.box-v4--flex-1-3 > * {
            &:nth-child(even) {
                background-color: map-get($greys, 200);
            }

            &:nth-child(odd) {
                background-color: map-get($greys, 300);
            }
        }

        &.box-v4--1-1 > * {
            @media (min-width: $screen-xs-land-min) {
                &:nth-child(even) {
                    background-color: map-get($greys, 300);
                }

                &:nth-child(odd) {
                    background-color: map-get($greys, 200);
                }
            }

            @media (min-width: $screen-sm-min) {
                &:nth-child(even) {
                    background-color: map-get($greys, 200);
                }

                &:nth-child(odd) {
                    background-color: map-get($greys, 300);
                }
            }
        }
    }

    &.box-v4--flex-1-2-4 > *,
    &.alt-row.box-v4--flex-1-2-4 > * {
        @media (min-width: $screen-xs-land-min) and (max-width: $screen-md-min) {
            &:nth-child(4n + 1),
            &:nth-child(4n + 4) {
                background-color: map-get($greys, 300);
            }

            &:nth-child(4n + 2),
            &:nth-child(4n + 3) {
                background-color: map-get($greys, 200);
            }
        }
    }
    /* stylelint-enable no-descending-specificity */
}

.container--color-boxes {
    /* stylelint-disable no-descending-specificity */
    padding: 0;

    &.container {
        &.box-v4 > *,
        > .box-v4 > * {
            padding: rhythm(1) rhythm(0.5);
            // padding-top: rhythm(1);
            // padding-bottom: rhythm(1);
        }
    }

    &.container--2 {
        &.box-v4 > *,
        > .box-v4 > * {
            @media (min-width: $screen-sm-min) {
                padding-top: rhythm(2);
                padding-bottom: rhythm(2);
            }
        }
    }

    &.container--2-5 {
        &.box-v4 > *,
        > .box-v4 > * {
            @media (min-width: $screen-sm-min) {
                padding-top: rhythm(2.5);
                padding-bottom: rhythm(2.5);
            }
        }
    }

    &.box-v4,
    > .box-v4 {
        .left,
        .right {
            margin: 0;
            padding-right: rhythm(0.5);
            padding-left: rhythm(0.5);

            &.img-cover {
                padding: 0;
            }
        }

        @media (min-width: $screen-sm-min) {
            grid-column-gap: 0;
        }

        .box-v4 {
            grid-column-gap: rhythm(0.5);

            .left,
            .right {
                padding: 0;
            }
        }
    }
    /* stylelint-enable no-descending-specificity */
}
