.box-row {
    @extend %content-wrapper;

    @include safari-flex-box-clear-fix-fix();

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    &.l {
        justify-content: flex-start;
    }
}

.box-row--not-flex {
    @include clearfix;

    display: block;
}

.box-row--narrow {
    max-width: rhythm(33);
}

.box-item__title {
    margin-bottom: rhythm(1);

    .box-item--info-box-v2 & {
        margin-bottom: rhythm(0.5);

        @media (min-width: $screen-sm-min) {
            margin-bottom: rhythm(1);
        }
    }
}

.box-item__title--reverse-spans {
    display: flex;
    flex-flow: row wrap;

    span {
        width: 100%;

        &:first-child {
            order: 1;
        }
    }
}

// scss-lint:disable SelectorFormat
.box-item__title--0_5 {
    margin-bottom: rhythm(0.5);
}

// scss-lint:enable SelectorFormat

.box-item__title.mb0 {
    margin-bottom: 0;
}

.box-item__category {
    color: map-get($greys, 800);

    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(0.125);
    }
}

.box-item {
    display: flex;
    flex: 1 1 auto; // ie ruins everything
    flex-flow: column wrap;
    min-height: rhythm(7);
    padding-top: rhythm(1);
    padding-bottom: rhythm(1);

    > .vc {
        margin: auto;
    }

    &.box-item--dont-grow.col-sm-6 {
        @media (min-width: $screen-sm-min) {
            max-width: 50%;
        }
    }

    &.box-item--dont-grow.col-md-4 {
        @media (min-width: $screen-md-min) {
            max-width: 33.3333%;
        }
    }
}

.box-item--empty {
    display: none;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.box-item--row {
    flex-flow: row nowrap;
}

.box-item--row__content {
    display: flex;
    flex-flow: column wrap;
}

.box-item.box-item--no-padding {
    padding: 0;
}

.box-item.pb0 {
    padding-bottom: 0;
}

.box-item.pt0 {
    padding-top: 0;
}

.box-item.mb1 {
    margin-bottom: rhythm(1);
}

.box-item.mb0--xs-only {
    @media (max-width: $screen-xs-max) {
        margin-bottom: 0;
    }
}

.box-item--not-flex {
    display: block;
}

.box-item--no-min-height {
    min-height: 0;
}

.box-item--intro-img-left {
    img {
        position: absolute;
    }

    :not(img) {
        margin-left: rhythm(2.5);
    }
}

.box-item__link {
    position: relative;
    z-index: 2;
    align-self: center;
    margin-top: auto;

    &.c {
        align-self: center;
    }

    &.r {
        align-self: flex-end;
    }
}

.box-item--brazil,
.box-item--india,
.box-item--us,
.box-item--uk {
    @include adjust-font-size-to(14px);

    display: flex;
    flex-direction: column;

    .box-item__title {
        margin-bottom: rhythm(1);
    }

    p {
        margin-bottom: rhythm(1);
    }

    .box-item__link {
        margin-top: auto;
    }
}

.box-item__content--big-text {
    @include adjust-leading-to(1);

    display: flex;
    max-width: 400px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-style: italic;

    /* stylelint-disable-next-line no-descending-specificity */
    span {
        display: inline-block;
        align-self: center;
        margin-right: rhythm(0.5);
        margin-bottom: 0;

        &:nth-child(2) {
            flex-grow: 1;
        }
    }

    @media (min-width: $screen-xs-land-min) {
        span {
            margin-right: rhythm(1);
        }
    }

    @media (min-width: $screen-md-min) {
        max-width: 600px;
    }
}

.box-item--insight {
    @include adjust-font-size-to(14px, 0.75);
    /* stylelint-disable selector-no-qualifying-type */
    p[class=''],
    p:not([class]) {
        margin-bottom: rhythm(1);
    }
    /* stylelint-enable selector-no-qualifying-type */

    .box-item__title {
        color: $white;
    }
}

.box-item--sm--row {
    @media (min-width: $screen-sm-min) {
        flex-flow: row nowrap;
    }
}

.box-item__img {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-start;
    max-width: 100%;
    height: auto;
    margin: 0 rhythm(0.5) rhythm(0.5);

    @media (max-width: $screen-xs-max) {
        flex: none;
        width: auto;
        height: auto;
    }

    &.c {
        align-self: center;
        margin: 0 auto rhythm(1);
    }

    &.vc {
        margin-top: auto;
    }

    &.r {
        align-self: flex-end;
    }

    &.r--sm {
        @media (min-width: $screen-sm-min) {
            align-self: flex-end;
        }
    }

    &.fr {
        float: right;
        margin: 0 0 rhythm(0.5) rhythm(0.5);
    }

    &.mb0 {
        margin-bottom: 0;
    }

    .box-item--not-flex & {
        &.l {
            float: left;
        }

        &.c {
            margin: 0 auto rhythm(0.5);
        }

        &.fr--sm {
            @media (min-width: $screen-xs-land-min) {
                float: right;
                margin: 0 0 rhythm(0.5) rhythm(0.5);
            }
        }

        &.fl--sm {
            @media (min-width: $screen-xs-land-min) {
                float: left;
                margin: 0 rhythm(0.5) rhythm(0.5) 0;
            }
        }

        &.fl--md {
            @media (min-width: $screen-md-min) {
                float: left;
                margin: 0 rhythm(0.5) rhythm(0.5) 0;
            }
        }
    }

    &.fe--sm {
        @media (min-width: $screen-sm-min) {
            align-self: flex-end;
            margin-bottom: 0;
        }
    }

    &.l--sm {
        margin-right: rhythm(1);
    }
}

.box-item__img--intro-icon {
    height: rhythm(3);
}

.box-item__img--smaller,
.box-item__img.box-item__img--smaller {
    max-width: rhythm(6);
    max-height: rhythm(6);
    object-fit: scale-down;
}

.box-item__img--max40--xs-only {
    max-width: 40%;

    @media (min-width: $screen-sm-min) {
        max-width: 100%;
    }
}

.box-item__img--limit-height--xs-only {
    @media (max-width: $screen-xs-max) {
        max-height: rhythm(15);
    }
}

.box-item__img--contain-bottom {
    width: calc(100% - #{rhythm(1)});
    max-width: 290px;
    margin: auto auto 0;
}

.box-item__p--info-box {
    margin-bottom: rhythm(0.75);
    // color: $white;
}

.box-item__p--info-box-v2 {
    margin-bottom: rhythm(1);
    color: map-get($greys, 800);

    &:last-of-type {
        @media (min-width: $screen-sm-min) {
            margin-bottom: rhythm(2);
        }
    }
}

.menu-lang--en-in .box-item--india .box-item__link {
    display: none;
}

.menu-lang--en-uk .box-item--brazil .box-item__link {
    display: none;
}

.menu-lang--en-us .box-item--us .box-item__link {
    display: none;
}

.box-row--two-country {
    .box-item {
        flex-grow: 0;
    }
}

.box-item--has-auto-height {
    flex-wrap: nowrap;
}

.box-item--with-gutter {
    margin: 0 rhythm(0.5) rhythm(1);
}

.box-item--narrow {
    padding-right: rhythm(1.5);
    padding-left: rhythm(1.5);
}

.box-item__text {
    margin-bottom: rhythm(1);

    &.ht--p--14-075 {
        margin-bottom: rhythm(0.75);
    }
}

.box-row--sm--reversed {
    @media (min-width: $screen-sm-min) {
        .box-item:nth-child(2) {
            order: -1;
        }
    }
}

.box-row--sm--reversed--centered-title {
    @media (min-width: $screen-sm-min) {
        .box-item:nth-child(2) {
            order: 2;
        }

        .box-item:nth-child(3) {
            order: 1;
        }

        .box-item:nth-child(4) {
            order: 3;
        }
    }
}

.box-item:not([class*='bgc-']) + .box-item:not([class*='bgc-']) {
    //padding-top: 0;
}

.box-item--pattern-box {
    justify-content: space-between;

    @media (min-width: $screen-sm-min) {
        flex-direction: row;
    }

    .box-item__title {
        align-self: center;
        max-width: 100%;
        letter-spacing: -1px;
    }

    a {
        display: block;
        align-self: center;
    }
}

.box-item--pattern-box--center {
    justify-content: center;
}

.box--full-bg {
    order: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    // new way with img inside
    img {
        width: 100%;
        height: rhythm(7);
        object-fit: cover;
        object-position: 50% 0%;

        @media (min-width: $screen-sm-min) {
            height: 100%;
        }
    }
}

.box--full-bg-vert-center {
    background-position: 50% 50%;
    // new way with img inside
    img {
        object-position: 50% 50%;
    }
}

.box--full-bg--right {
    @media (min-width: $screen-sm-min) {
        order: 2;

        &:nth-child(2) {
            order: 1;
        }
    }
}

.radius-nav-v2 {
    margin: rhythm(2) 0 rhythm(1);

    .radius-nav-item {
        display: table;
        margin-bottom: 0;
        padding: 0 $grid-gutter-width / 2 rhythm(1);
        text-align: center;
    }

    /* stylelint-disable selector-no-qualifying-type */
    .radius-nav-item a,
    .radius-nav-item a[class=''],
    .radius-nav-item a:not([class]) {
        display: table-cell;
        width: 100%;
        height: rhythm(3.25);
        padding: 0 rhythm(1.5);
        text-decoration: none;
        vertical-align: middle;
        background-color: $theme-tertiary;

        @media (min-width: $screen-sm-min) {
            padding: 0 rhythm(2.5);
        }
    }
    /* stylelint-enable selector-no-qualifying-type */
}
