.circle-bg {
    $size: 7;

    position: relative;
    display: flex;
    justify-content: center;
    min-height: rhythm($size);
    margin: rhythm(1) 0;
    padding: 0;

    &:last-child {
        padding: 0;
    }

    &.box-item {
        min-height: rhythm($size);
        padding: 0;
    }

    .box-v4 & {
        margin: 0 0 rhythm(1);
    }

    .box-v4--flex & {
        flex-basis: rhythm($size + 4);
        margin-bottom: rhythm(1);
    }

    > * {
        z-index: 1;
        max-width: 270px;
        margin: auto;
    }

    span {
        display: block;
    }

    @media (max-width: $screen-sm-min) {
        margin-top: 0;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        display: block;
        width: rhythm($size);
        height: rhythm($size);
        background-color: map-get($greys, 100);
        border-radius: 100%;
        transform: translateX(-50%) translateY(-50%);
        content: '';
    }
}

.bgc-grey--lightest .circle-bg:before,
.bgc-grey--100 .circle-bg:before {
    background-color: $white;
}

.bgc-white .circle-bg:before {
    background-color: map-get($greys, 100);
}
