.cmc-form {
    @include container;
}

.cmc-form fieldset {
    width: 100%;
    margin: auto;

    @media (min-width: $screen-sm-min) {
        width: 66%;
        max-width: 575px;
    }
}

.container .cmc-form fieldset {
    @media (min-width: $screen-sm-min) {
        width: 100%;
    }
}

.cmc-form label {
    font-weight: 300;
}

.cmc-form > ul > li > label,
.cmc-form > fieldset > ul > li > label {
    flex: 0 0 100%;

    @media (min-width: $screen-sm-min) {
        flex-basis: 200px;
    }
}

.cmc-form [type='radio'] + label,
.cmc-form [type='checkbox'] + label {
    width: auto;
}

.cmc-form.cmc-form--to-the-right {
    max-width: 500px;
    margin: auto;

    > fieldset > ul > li > label {
        @media (min-width: $screen-sm-min) {
            flex-basis: 140px;
        }
    }
}

.cmc-form > ul > li:not([hidden]),
.cmc-form > fieldset > ul > li:not([hidden]) {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-sm-min) {
        flex-wrap: nowrap;
    }
}

/* stylelint-disable selector-no-qualifying-type */
.cmc-form > ul > li.has-long-label:not([hidden]),
.cmc-form > fieldset > ul > li.has-long-label:not([hidden]) {
    flex-wrap: wrap;
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-form .input-wrapper {
    flex: 1 1 100%;

    @media (min-width: $screen-sm-min) {
        flex-basis: auto;
    }
}

/* stylelint-disable selector-no-qualifying-type */
.cmc-form > ul > li > label.long-label,
.cmc-form > fieldset > ul > li > label.long-label {
    @media (min-width: $screen-sm-min) {
        flex-basis: 100%;
        margin-top: rhythm(0.5);
    }

    + .input-wrapper {
        @media (min-width: $screen-sm-min) {
            margin-bottom: rhythm(0.5);
            margin-left: 200px;
        }
    }
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-form input,
.cmc-form select,
.cmc-form textarea {
    @extend %input;

    width: 100%;
    font-weight: 300;
    font-family: $font-family-primary;
}

.cmc-form select {
    @include adjust-font-size-to(15px, 1);
}

.cmc-form textarea {
    @extend %textarea;
}

.cmc-form [type='radio'],
.cmc-form [type='checkbox'] {
    @extend %radio-or-checkbox;
}

.cmc-form [type='button'],
.cmc-form__submit-button {
    margin-top: rhythm(0.5);
}

.cmc-form__submit-row {
    justify-content: flex-end;
    text-align: right;
}

.cmc-form .required:after {
    color: $font-color-error;
    font-size: 10px;
    line-height: 1;
    vertical-align: super;
    content: '*';
}

/* stylelint-disable selector-no-qualifying-type */
.cmc-form input[type='text'],
.cmc-form input[type='email'] {
    appearance: none;
}

.cmc-form span[dir='none'] br {
    display: none;
}

input[title='loginName'],
input[title^='Form ID'] {
    display: none;
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-form .cmc-form {
    margin-top: 0;
}
