.cmc-article {
    @extend %content-wrapper;

    @include adjust-font-size-to(14px);

    margin-bottom: rhythm(1);
}

.cmc-article--with-min-height {
    @media (min-width: $screen-sm-min) {
        min-height: rhythm(10);
    }

    @media (min-width: $screen-md-min) {
        min-height: rhythm(15);
    }
}

.cmc-article--with-min-height-medium {
    @media (min-width: $screen-sm-min) {
        min-height: rhythm(14);
    }

    @media (min-width: $screen-md-min) {
        min-height: rhythm(19);
    }
}

.cmc-article--with-min-height-large {
    @media (min-width: $screen-sm-min) {
        min-height: rhythm(18);
    }

    @media (min-width: $screen-md-min) {
        min-height: rhythm(23);
    }
}

.cmc-article__title__company-name {
    @media (min-width: $screen-xs-land-min) {
        display: block;
    }
}

.cmc-article__subtitle {
    margin-bottom: rhythm(1);

    sup {
        @include adjust-font-size-to(14px);

        top: #{- rhythm(1)};
        font-weight: 300;
    }
}

.cmc-article__article-image {
    display: block;
    margin: 0 auto rhythm(1);

    @media (min-width: $screen-sm-min) {
        float: right;
        margin: rhythm(1);
    }

    @media (max-width: $screen-xs-max) {
        max-width: 50%;
        height: auto;
    }
}

.cmc-article__article-image--app {
    @media (min-width: $screen-sm-min) {
        float: none;
        margin: 0 auto rhythm(1);
    }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.cmc-article p[class=''],
.cmc-article p:not([class]) {
    margin-bottom: rhythm(1);
}

.cmc-article__section {
    @include rhythm-borders(1px, 0.5);

    clear: both;
    margin-bottom: rhythm(1);
    background: $header-bg-gradient;

    @media (min-width: $screen-md-min) {
        @include rhythm-borders(1px, 1);
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        outline: 0;
    }

    .cmc-article__body-subtitle:nth-child(2) {
        margin-bottom: rhythm(0.5);
    }
}

.cmc-article__section__bg-image {
    display: block;
    float: none;
    margin: auto;

    @media (min-width: $screen-xs-min) {
        float: right;
    }
}

.cmc-article__section__bg-image--full-width {
    width: 100%;
    margin: auto;
}

.cmc-article__link--back-to-top {
    @include adjust-font-size-to(14px);

    display: block;
    clear: both;
    color: $font-color-link;
    text-align: right;
}

.cmc-article > div:nth-child(2) > *:last-child {
    margin-bottom: 0;
}

.cmc-article__mid-content-aside-wrapper {
    margin-bottom: 30px;
}

.cmc-article__bio-photo--right {
    float: right;
    margin-left: 10px;
}

.cmc-article__section blockquote {
    @include adjust-font-size-to($base-font-size, 1);

    color: map-get($greys, 1000);
    background-color: map-get($greys, 200);
}

.cmc-article--webcast__intro-p {
    margin-bottom: rhythm(1);
    text-align: center;
}

.cmc-article__link {
    margin-right: rhythm(2);
    margin-bottom: rhythm(1);
}

.cmc-article-header--insights {
    @extend %content-wrapper;

    margin-top: rhythm(3);
    margin-bottom: rhythm(3);
}

.cmc-article__link-list--centered {
    clear: both;
    margin: auto;
    text-align: center;

    @media (min-width: $screen-xs-land-min) {
        margin: auto;
        text-align: center;

        .cmc-article__link-list-item {
            display: inline-block;
        }

        .cmc-article__link {
            margin-right: rhythm(1);
            margin-left: rhythm(1);
        }
    }

    @media (max-width: $screen-xs-land-min) {
        /* stylelint-disable selector-no-qualifying-type */
        a.cmc-article__link {
            margin-right: 0;
        }
        /* stylelint-enable selector-no-qualifying-type */
    }
}

.cmc-article__link-list--left {
    clear: both;

    .cmc-article__link-list-item {
        display: inline-block;
        margin-right: rhythm(1);
    }
}
