.layout__bg--footer {
    background-color: map-get($greys, 400);
}

.cmc-footer {
    @include adjust-font-size-to(12px, 1);

    color: map-get($greys, 900);

    @media (min-width: $screen-sm-min) {
        @supports (grid-gap: 0) {
            /* autoprefixer grid: no-autoplace */
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media (min-width: $screen-md-min) {
        /* autoprefixer grid: no-autoplace */
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.street-address {
    @include adjust-leading-to(0.75);
}

.cmc-footer__vcard__org--pt-br {
    .locality {
        display: block;
    }
}

.cmc-footer__copyright {
    @include adjust-font-size-to(10px, 1);

    display: block;
    grid-column: span 2;
    text-align: center;

    /* stylelint-disable-next-line selector-no-qualifying-type */
    a {
        @include adjust-font-size-to(10px, 1);
    }

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.social-media-links a {
    @include charm-button;

    margin: 0 rhythm(0.25) rhythm(0.5);
    background-color: map-get($greys, 700);

    @media (min-width: $screen-sm-min) {
        margin: rhythm(0.5) rhythm(0.5) rhythm(0.5) 0;
    }
}

/* stylelint-disable selector-no-qualifying-type */
.cmc-footer a[class=''],
.cmc-footer a:not([class]) {
    display: inline-block;
    margin: 0 0 rhythm(0.375);

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: map-get($greys, 900);
    }

    &:link,
    &:visited,
    &:active {
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
    }

    @media (min-width: $screen-sm-min) {
        margin: 0;
    }
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-footer__phone-number--link {
    @include adjust-font-size-to(20px, 1);

    display: block;
    margin: rhythm(1) 0 0;
    color: map-get($greys, 900);
    text-align: center;
    text-decoration: none;

    span {
        @include adjust-font-size-to(12px);

        display: block;
        color: map-get($greys, 900);
    }

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

/* stylelint-disable selector-no-qualifying-type */
a.cmc-footer__phone-number--link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-footer__phone-number {
    @include adjust-font-size-to(32px, 1);

    display: none;
    color: map-get($greys, 900);
    font-weight: 400;
    text-align: right;

    @media (min-width: $screen-sm-min) {
        display: block;
    }
}

.cmc-footer__phone-number-wrapper {
    @media (min-width: $screen-md-min) {
        grid-column: span 2;
    }
}

.cmc-footer__vcard__org,
.cmc-footer__contact-container,
.cmc-footer__about-us-links,
.cmc-footer__solucoes-links,
.cmc-footer__news-and-events-links {
    width: 100%;
    margin-bottom: rhythm(1);
}

.cmc-footer__vcard {
    @media (min-width: $screen-sm-min) {
        @supports (grid-gap: 0) {
            /* autoprefixer grid: no-autoplace */
            display: grid;
            grid-column: span 2;
            grid-template-columns: 1fr 1fr;
        }
    }
}

.cmc-footer__news-about-container {
    width: 100%;

    @media (min-width: $screen-md-min) {
        @supports (grid-gap: 0) {
            /* autoprefixer grid: no-autoplace */
            display: grid;
            grid-column: span 2;
            grid-template-columns: 1fr 1fr;
        }
    }
}

.cmc-footer__vcard__contact-numbers {
    margin-bottom: rhythm(1);

    .type {
        display: inline-block;
        margin-right: 0.5em;
    }
}

.cmc-footer__section-title {
    @include adjust-font-size-to(16px, 1.375);

    color: map-get($greys, 900);
    font-weight: 400;
    font-family: $font-family-primary;

    &:not(:first-child) {
        margin-top: rhythm(0.75);
    }

    @media (min-width: $screen-sm-min) {
        @include adjust-leading-to(1);
    }
}

.footer__logo-container {
    img {
        display: block;
        max-width: 320px;
        margin: 0 auto rhythm(1);

        @media (min-width: $screen-sm-min) {
            margin: 0 0 rhythm(1);
        }
    }

    @media (min-width: $screen-md-min) {
        grid-column: span 2;
    }
}

.cmc-footer__copyright-row {
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.social-media-links {
    text-align: center;
    list-style-type: none;

    @media (min-width: $screen-sm-min) {
        grid-column: span 3;
        text-align: right;
    }

    @media (min-width: $screen-md-min) {
        grid-column: span 2;
    }
}

.social-media-links li {
    display: inline-block;

    .cmc-footer--pt-br & {
        margin-top: 0;
    }
}

.social-media-links .social-media-links--facebook {
    // scss-lint:disable NameFormat
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/social-media-links--facebook.svg'
            );
    }
}

.social-media-links .social-media-links--twitter {
    // scss-lint:disable NameFormat
    &:after {
        width: 35px;
        height: 35px;
        background-image: svg-load('images/ui/social-media-links--twitter.svg');
    }
}

.social-media-links .social-media-links--youtube {
    // scss-lint:disable NameFormat
    &:after {
        width: 35px;
        height: 35px;
        background-image: svg-load('images/ui/social-media-links--youtube.svg');
    }
}

.social-media-links .social-media-links--linkedin {
    &:after {
        width: 35px;
        height: 35px;
        background-image:
            svg-load(
                'images/ui/social-media-links--linkedin.svg'
            );
    }
}

.social-media-links .social-media-links--insta {
    &:after {
        width: 29px;
        height: 29px;
        background-image: svg-load('images/ui/social-media-links--insta.svg');
    }
}
