.cmc-image--align-right {
    display: block;
    max-width: 80%;
    margin: 0 auto;

    @media (min-width: $screen-xs-min) {
        float: right;
        max-width: 20%;
        margin: 0 0 0 rhythm(0.5);
    }

    @media (min-width: $screen-sm-min) {
        max-width: 15%;
    }
}
