.cmc-form {
    @include container;
}

.cmc-form fieldset {
    width: 100%;
    margin: auto;

    @media (min-width: $screen-sm-min) {
        width: 66%;
    }
}

.cmc-form > ul > li:not([hidden]),
.cmc-form > fieldset > ul > li:not([hidden]) {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-sm-min) {
        flex-wrap: nowrap;
    }
}

.cmc-form > ul > li > label,
.cmc-form > fieldset > ul > li > label {
    flex: 0 0 100%;

    @media (min-width: $screen-sm-min) {
        flex-basis: 200px;
    }
}
