.layout__bg--contact-us-details {
    width: 100%;

    &:nth-child(odd) {
        background-color: map-get($greys, 200);
    }
}

.contact-details-list {
    @include adjust-font-size-to(14px);
}

.contact-details-list li {
    @include trailing-border(1px, 0.5);

    margin-bottom: rhythm(0.5);

    &:last-child {
        border-bottom: 0;
    }
}

.contact-details-list__item__title {
    margin-bottom: rhythm(1);
    color: $theme-primary-dark;
}

.contact-us-details__item-address,
.contact-us-details__map {
    flex: 1 1 100%;

    @media (min-width: $screen-sm-min) {
        flex-basis: 50%;
    }
}

.contact-us-details__item-address {
    @include adjust-font-size-to(14px);

    p {
        margin-bottom: rhythm(1);
    }
}

.contact-us-details__item {
    @include container;

    display: flex;
    flex-wrap: wrap;
    padding-top: rhythm(1);
    text-align: center;
}

.contact-details-list__link {
    margin-bottom: rhythm(1);
}

.contact-us-details__map {
    display: block;
    height: rhythm(11);
    padding: 0;
    border: 1px solid $border-color;
}

.contact-details {
    display: flex;
    flex-flow: row wrap;
}

.menu-lang--en-us {
    .contact-us-details-wrapper--en-us {
        order: -1;
        background-color: map-get($greys, 200);
    }

    .contact-us-details-wrapper--en-in {
        background-color: $white;
    }

    .contact-details-list__link--en-us {
        display: none;
    }
}

.menu-lang--en-in {
    .contact-details-list__link--en-in {
        display: none;
    }
}
