$link-color: #3212ff;
$demo-center-blue: #006db0;

.demo-center-home {
    clear: both;
}

.demo-center-home__demos-list {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.demo-center-home__section-header-img {
    display: block;
    margin: 0 auto rhythm(1);
    text-align: center;
}

.demo-center-home__demos-list li {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    margin: 5px 4px 4px 5px;
    text-align: left;
    background-color: map-get($greys, 200);

    &:nth-child(4n) {
        margin-right: 0;
    }

    &:nth-child(4n-3) {
        margin-left: 0;
    }

    &:nth-last-child(-n + 2):first-child,
    &:nth-last-child(-n + 2):first-child ~ li {
        margin-right: 63px;
        margin-left: 63px;
    }

    /* stylelint-disable no-descending-specificity */
    &:nth-last-child(-n + 3):first-child,
    &:nth-last-child(-n + 3):first-child ~ li {
        margin-right: 33px;
        margin-left: 33px;
    }
}

.demo-center-home__demo-link {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-weight: 400;
    font-family: $font-family-primary;

    img {
        display: block;
        max-width: 210px;
        max-height: 170px;
        margin: auto;
    }

    span {
        @include adjust-font-size-to(20px, 1);

        position: absolute;
        right: 0;
        bottom: 12px;
        left: 0;
        display: block;
        margin: 0;
        color: $demo-center-blue;
        text-align: center;
    }
}

.demo-center-home__demo-link--performance-management span {
    bottom: 5px;
}

.demo-center-home__view-demo-note {
    @include adjust-font-size-to(13px);

    color: map-get($greys, 1000);
    font-weight: 400;
    font-family: $font-family-primary;
    text-align: center;
}

.demo-center__breadcrumb {
    @extend %content-wrapper;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-weight: 300;
    font-family: $font-family-primary;
    list-style-type: none;

    li {
        display: inline-block;

        &:after {
            text-decoration: none;
            content: ' > ';
        }

        &:last-child:after {
            content: none;
        }
    }

    span {
        color: $link-color;
        text-decoration: underline;
    }

    a {
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $link-color;
            text-decoration: underline;
        }
    }
}

.demo-center-home__view-demo-note-bottom-line {
    @include adjust-font-size-to(13px);
    @include trailing-border(1px);

    margin-top: rhythm(0.5);
    margin-bottom: rhythm(1);
    color: map-get($greys, 1000);
    font-weight: 400;
    text-align: center;
}
