.document-links-list {
    a {
        @include adjust-font-size-to(16px, 0.75);

        display: block;
        font-weight: 400;
    }

    p {
        color: map-get($greys, 800);
    }
    /* stylelint-disable selector-no-qualifying-type */
    p[class=''],
    p:not([class]) {
        margin: 0;
    }
    /* stylelint-enable selector-no-qualifying-type */
    li {
        @include adjust-leading-to(0.75);

        margin-left: rhythm(0.5);
        padding-bottom: rhythm(1);

        @media (min-width: $screen-sm-min) {
            margin-left: rhythm(1);
        }
    }
}

.document-links-list--normal {
    margin-left: rhythm(1);
    list-style-type: disc;

    @media (min-width: $screen-sm-min) {
        margin-left: 0;
    }
}

.document-links-list--graphic {
    margin-left: rhythm(1.5);
    list-style-type: none;

    @media (min-width: $screen-sm-min) {
        margin-left: rhythm(2);
    }

    li {
        position: relative;

        &:before {
            position: absolute;
            top: 3px;
            left: #{- rhythm(1.5)};
            content: url('/images/ui/productSheetIconSm.png');

            @media (min-width: $screen-sm-min) {
                left: -50px;
            }
        }
    }
}

.s3-doc-list-app--v2 {
    background-color: transparent;

    &.app[data-doctype='product-sheets'],
    &.app[data-doctype='case-studies'] {
        margin: 0;
    }
}

.s3-doc-list--v2 {
    .box-item {
        overflow: hidden;
    }

    > div:nth-child(even) {
        .box-item:nth-child(even) {
            background-color: map-get($greys, 200);
        }

        .box-item:nth-child(odd) {
            background-color: map-get($greys, 300);
        }
    }

    > div:nth-child(odd) {
        .box-item:nth-child(even) {
            background-color: map-get($greys, 200);

            @media (min-width: $screen-sm-min) {
                background-color: map-get($greys, 300);
            }
        }

        .box-item:nth-child(odd) {
            background-color: map-get($greys, 300);

            @media (min-width: $screen-sm-min) {
                background-color: map-get($greys, 200);
            }
        }
    }

    .box-item__img {
        flex: 0 0 auto;
        margin: 0 auto rhythm(0.5);

        @media (min-width: $screen-xs-land-min) {
            &.vc {
                margin: auto $grid-gutter-width / 2;
            }
        }
    }

    .box-item--row__content {
        flex: 1 1 auto;
        overflow: hidden;
    }

    .box-item--row {
        flex-direction: column;

        @media (min-width: $screen-xs-land-min) {
            flex-direction: row;
        }
    }
}

.upcoming-webinar--row__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: rhythm(1);
    overflow: hidden;
    background-color: $white;
}

.upcoming-webinar__title {
    margin: rhythm(0.5) 0;
    padding: 0 rhythm(0.5);
}

.upcoming-webinar__text {
    padding: 0 rhythm(0.5);
}

.upcoming-webinar--educause {
    .box-item--row__content {
        flex-grow: 1;
        background-color: map-get($greys, 200);

        &.bgc-white {
            background-color: $white;
        }
    }

    &.box-item {
        padding-top: 0;
    }
}

.upcoming-webinar__date {
    @include adjust-font-size-to(20px, 1.5);

    margin: 0;
    color: $white;
    font-family: $font-family-secondary;
    text-align: center;
    background-color: $theme-tertiary;
}

.upcoming-webinar__img {
    width: 100%;
    height: rhythm(4);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    @media (min-width: $screen-xs-land-min) {
        height: rhythm(6);
    }

    @media (min-width: $screen-sm-min) {
        height: rhythm(4);
    }
}

.box-v4--flex-1-3.upcoming-webinar-row {
    @media (min-width: $screen-sm-min) {
        > * {
            width: 33%;
        }
    }
}

.whitepaper {
    display: flex;
    flex-wrap: nowrap;

    .whitepaper__img {
        display: block;
        flex: 0 0 0;
        align-self: flex-start;
    }

    .whitepaper__content {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        margin-left: rhythm(0.5);
    }
}
