$special-event-bg-color: #f8e8d1;

.event-schedule-table__table-title {
    margin: 0 0 rhythm(0.5);
}

.event-schedule-table--collapsible tr {
    display: block;
    border-top: 10px solid $theme-primary-light;

    @media (min-width: $screen-xs-land-min) {
        display: table-row;
        border-top: 0;
    }
}

.event-schedule-table {
    width: 100%;
    margin-bottom: rhythm(1);
    table-layout: fixed;

    tr:nth-child(even) {
        background-color: map-get($greys, 200);
    }

    tr:nth-child(odd) {
        background-color: $white;
    }

    thead {
        color: $white;
        background-color: $theme-primary-light;

        tr:nth-child(odd) {
            background-color: transparent;
        }
    }

    th,
    td {
        @include adjust-leading-to(0.75);

        padding: 5px;
        font-weight: 300;
        vertical-align: top;
    }
}

.event-schedule-table__time-cell {
    width: 80px;

    @media (min-width: $screen-sm-min) {
        width: 160px;
    }
}

.event-schedule-table__special-event td {
    background-color: $special-event-bg-color;
}

.event-schedule-table .presenter-list {
    @include adjust-font-size-to(12px, 0.5);
}

.event-schedule-table--collapsible thead {
    display: none;

    @media (min-width: $screen-xs-land-min) {
        display: table-header-group;
    }
}

.event-schedule-table--collapsible td {
    position: relative;
    display: block;
    width: auto;
    padding-left: rhythm(4, $base-font-size, -10px);
    border-bottom: 1px solid $border-color;

    @media (min-width: $screen-xs-land-min) {
        position: static;
        display: table-cell;
        padding: 5px;
        border: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.event-schedule-table--collapsible td:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: rhythm(4);
    padding: 5px;
    font-weight: 400;
    background-color: map-get($greys, 200);
    border-right: 1px solid $border-color;

    @media (min-width: $screen-xs-land-min) {
        border: 0;
    }
}

.event-schedule-table.event-schedule-table--collapsible td:before {
    /* note the extra class for specificity */
    @media (min-width: $screen-xs-land-min) {
        display: none;
        content: '';
    }
}

.event-schedule-table--collapsible th {
    font-weight: 400;
}

/* talisma event table ================================= */
.event-schedule-table--tfr-events {
    th:nth-child(1) {
        @media (min-width: $screen-xs-land-min) {
            width: 180px;
        }
    }

    th:nth-child(2) {
        @media (min-width: $screen-xs-land-min) {
            width: 60%;
        }
    }

    th:nth-child(3) {
        @media (min-width: $screen-xs-land-min) {
            width: auto;
        }
    }

    td:nth-child(1) {
        &:before {
            content: 'Date';
        }
    }

    td:nth-child(2) {
        &:before {
            content: 'Title';
        }
    }

    td:nth-child(3) {
        &:before {
            content: 'Register';
        }
    }
}

/* talisma training table ================================= */
.event-schedule-table--tfr-training {
    th:nth-child(1) {
        @media (min-width: $screen-xs-land-min) {
            width: 200px;
        }
    }

    th:nth-child(2) {
        @media (min-width: $screen-xs-land-min) {
            width: 50%;
        }
    }

    td:nth-child(1) {
        &:before {
            content: 'Date';
        }
    }

    td:nth-child(2) {
        &:before {
            content: 'Class';
        }
    }
}

/* talisma regional table ================================= */
.event-schedule-table--tfr-regional {
    th:nth-child(1) {
        @media (min-width: $screen-xs-land-min) {
            width: 130px;
        }
    }

    th:nth-child(2) {
        @media (min-width: $screen-xs-land-min) {
            width: 70%;
        }
    }

    td:nth-child(1) {
        &:before {
            content: 'Class';
        }
    }

    td:nth-child(2) {
        &:before {
            content: 'Cost';
        }
    }
}

.event-schedule-table--apscu {
    th:nth-child(1) {
        @media (min-width: $screen-xs-land-min) {
            width: 140px;
        }
    }

    th:nth-child(2) {
        @media (min-width: $screen-xs-land-min) {
            width: 40%;
        }
    }

    th:nth-child(3) {
        @media (min-width: $screen-xs-land-min) {
            width: auto;
        }
    }

    td:nth-child(1) {
        &:before {
            content: 'Time';
        }
    }

    td:nth-child(2) {
        &:before {
            content: 'Title';
        }
    }

    td:nth-child(3) {
        &:before {
            content: 'Presenter(s)';
        }
    }
}
