.events-list li {
    &:not(:last-child) {
        @include trailing-border(1px);
    }

    &:not(:first-child) {
        margin-top: rhythm(1);
    }
}

.events-list p {
    margin: 0;
}

.events-list__time {
    display: block;
}
