.faq-question {
    @include adjust-font-size-to(16px, 1);

    position: relative;
    margin: 0;
    padding: rhythm(0.5) rhythm(2) rhythm(0.5) rhythm(0.5); // needs to be padding for animation
    color: $font-color-link;
    font-weight: 400;
    font-family: $font-family-secondary;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(18px, 1);
    }

    &:focus {
        outline: none;
    }

    /*
    &:nth-child(4n + 1) {
        background-color: map-get($greys, 100);
    }
    */

    &:after {
        position: absolute;
        top: 50%;
        right: rhythm(0.5);
        display: block;
        width: 1em;
        height: 1em;
        margin-left: rhythm(1);
        color: $white;
        font-weight: 300;
        font-size: 25px;
        font-family: sans-serif;
        line-height: 0.9em;
        text-align: center;
        background-color: $theme-tertiary;
        border-radius: 50%;
        transform: translateY(-50%);
        content: '+';
    }

    &.ui-state-active:after {
        font-weight: 400;
        content: '\2013';
    }
}

.faq-answer {
    display: none;
    padding: 0 rhythm(0.5) rhythm(0.5); // needs to be padding for animation

    /*
    &:nth-child(4n + 2) {
        background-color: map-get($greys, 100);
    }
    */

    p:last-child {
        margin-bottom: 0;
    }
}
