.form-wall-video {
    display: none;
}

//.cmc-article > div:nth-child(2) > *:last-child
.cmc-article .form-wall-form-wrapper .form-wall-form.form-wall-form {
    margin-bottom: rhythm(2);
}

.dl-case-study-form {
    display: block;
    visibility: hidden;
}
