.header--has-q-graphic {
    @include adjust-leading-to(0.75);

    display: flex;
    align-items: center;
    margin: rhythm(1.5) 0 rhythm(0.25);

    &:before {
        display: block;
        margin-right: rhythm(0.5);
        content: url('/images/pages/q-and-a/Q.png');
    }
}
