$air-date-text-color: #8d99a7;

.header-with-video {
    position: relative;
    clear: both;
    margin-bottom: rhythm(1);
}

.header-with-video__description {
    @include make-xs-column(12);

    margin-bottom: rhythm(1);
}

.header-with-video__aside {
    @include make-xs-column(12);
    @include make-sm-column(4);
}

.header-with-video__video {
    @include make-xs-column(12);
    @include make-sm-column(8);
    @include make-md-column(6);

    float: none;

    @media (min-width: $screen-xs-min) {
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: $screen-sm-min) {
        float: none;
    }

    @media (min-width: $screen-md-min) {
        float: right;
        margin-right: 0;
        margin-left: 0;
    }

    + .header-with-video__aside {
        margin-top: rhythm(1);

        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
    }

    + .header-with-video-buttons-container {
        margin-top: rhythm(1);
    }
}

.header-with-video--centered .header-with-video__video {
    @include make-sm-column-offset(2);
    @include make-md-column-offset(3);

    float: none;

    @media (min-width: $screen-md-min) {
        float: none;
    }

    .info-box & {
        margin-left: 0;
    }
}

.header-with-video__aside .link-box-list li {
    @media (min-width: $screen-sm-min) {
        width: 100%;
    }

    &:last-child a {
        margin-bottom: 0;
    }
}

.header-with-video__air-date {
    @include adjust-font-size-to(14px);

    clear: both;
    color: $air-date-text-color;

    .info-box & {
        text-align: left;
    }
}

.header-with-video-v2 {
    margin-top: #{- rhythm(2)};
    padding: rhythm(2) $grid-gutter-width / 2 rhythm(1);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
