.home-page-carousel {
    padding-top: 0;

    @media (min-width: $screen-sm-min) {
        padding-bottom: rhythm(1);
    }

    .carousel-inner > .item {
        @media screen and (prefers-reduced-motion: reduce), (update: slow) {
            /* stylelint-disable-next-line declaration-no-important */
            transition-duration: 0.1ms !important;
        }
    }
}

.home-page-carousel > h1 {
    display: none;
}

.home-page-carousel__title {
    margin-bottom: rhythm(0.125);

    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(0.5);
    }
}

.home-page-carousel__item {
    display: flex;
    align-items: flex-end;
    min-height: rhythm(15); // make bigger than tallest item

    @media (min-width: $screen-sm-min) {
        min-height: rhythm(16);
        padding-right: rhythm(1);
        padding-left: rhythm(1);
    }
}

.carousel-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
    min-width: 100%;
    min-height: 100%;
    background-color: $theme-primary-dark;
}

.carousel-bg__item {
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        transition: transform 0.6s ease-in-out;

        @media screen and (prefers-reduced-motion: reduce), (update: slow) {
            /* stylelint-disable-next-line declaration-no-important */
            transition-duration: 0.1ms !important;
        }
    }

    &.next img,
    &.active.right img {
        left: 0;
        display: block;
        transform: translate3d(-100%, 0, 0);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.active img,
    &.next.left img,
    &.prev.right img {
        left: 0;
        display: block;
        transform: translate3d(0, 0, 0);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.prev img,
    &.active.left img {
        left: 0;
        display: block;
        transform: translate3d(100%, 0, 0);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    &.preloaded img {
        left: 100%;
        display: block;
    }
}

.home-page-carousel .carousel-indicators {
    position: static;
    width: auto;
    margin: 0 auto;
    line-height: 0;
}

.home-page-carousel .carousel-indicators li {
    width: auto;
    height: auto;
    margin: 0;
    overflow: hidden;
    background: none;
    border: 0;
    border-radius: 0;
}

.home-page-carousel .carousel-indicators li .carousel-indicators__graphic {
    display: block;
    width: 1em;
    height: 1em;
    margin: 1em 0.75em;
    background: $theme-primary-dark;
    border: 1px solid $white;
    border-radius: 50%;

    @media (min-width: $screen-md-min) {
        margin: 1em 0.375em;
    }
}

.home-page-carousel .carousel-indicators .active .carousel-indicators__graphic {
    background: $theme-tertiary;
}

.home-page-carousel .carousel-control.right,
.home-page-carousel .carousel-control.left {
    display: none;
}
