$loading-bg-color: #666;
$loading-text-color: #fff;
$loading-background-color: rgba(0, 0, 0, 0.5);
$loading-img-url: '/images/ui/sprite_loading_v2.gif' !default;

.loading,
.loading--placeholder {
    @include adjust-font-size-to(16px, 3);
    @include rhythm-borders(1px, 1);

    position: absolute;
    top: 0;
    left: 0;
    z-index: #{$left-nav-menu-z-index - 1};
    display: block;
    width: auto;
    min-width: rhythm(5.5);
    height: rhythm(3.5);
    color: $loading-text-color;
    text-align: center;
    background:
        $loading-background-color url($loading-img-url) no-repeat 50%
        rhythm(0.5);
    border-color: $loading-bg-color;
    border-radius: 0.5em;
}

.loading--placeholder {
    top: 50%;
    left: 50%;
    margin-top: #{- rhythm(3.5 / 2)};
    margin-left: #{- rhythm(5.5 / 2)};
}
