.location-notification {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: rhythm(1);
    color: $white;
    background-color: $theme-tertiary;
}

.location-notification__content {
    @include container;

    position: relative;
    padding-top: 0;
    padding-right: rhythm(2);
    padding-bottom: 0;
}

.location-notification__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $white;
    }
}

.location-notification a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $white;
        font-weight: 400;
    }
}

.location-notification-close-btn {
    position: absolute;
    top: 0;
    right: $grid-gutter-width / 2;
    width: rhythm(1);
    height: rhythm(1);
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: 26px;
    background: transparent;
    border: 0;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        background-image: svg-load('images/ui/close.svg', fill=$theme-tertiary);
        background-size: cover;
        content: '';
    }
}
