$mgmt-team-link-thumb-width: 50px;
$mgmt-team-link-thumb-height: 50px;

.management-team-list {
    li {
        padding-bottom: rhythm(2);
    }

    @supports (grid-gap: 0) {
        /* autoprefixer: off */
        display: grid;
        grid-gap: 0 rhythm(0.25);
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        li {
            padding-bottom: 0;
        }
    }
}

/* stylelint-disable selector-no-qualifying-type */
a.management-team-list__link {
    position: relative;
    display: block;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $black;
        text-decoration: none;
    }

    &:before {
        display: block;
        float: left;
        width: $mgmt-team-link-thumb-width;
        height: $mgmt-team-link-thumb-height;
        margin-right: 8px;
        margin-bottom: rhythm(1);
        background:
            transparent
            url('/images/pages/about-us/management-team/mccright-245x175-g.jpg')
            no-repeat 50% top;
        background-size: cover;
        content: '';
    }
}

a.management-team-list__link--jim-milton:before {
    background-image: url('/images/pages/about-us/management-team/milton-245x175-g.jpg');
}

a.management-team-list__link--kevin-knight:before {
    background-image: url('/images/pages/about-us/management-team/knight-245x175-g.jpg');
}

a.management-team-list__link--rob-sparks:before {
    background-image: url('/images/pages/about-us/management-team/sparks-245x175-g.jpg');
}

a.management-team-list__link--cynthia-haynie:before {
    background-image: url('/images/pages/about-us/management-team/haynie-245x175-g.jpg');
}

a.management-team-list__link--anders-nessen:before {
    background-image: url('/images/pages/about-us/management-team/nessen-245x175-g.jpg');
}

a.management-team-list__link--vicki-hucke-mccright:before {
    background-image: url('/images/pages/about-us/management-team/mccright-245x175-g.jpg');
}

a.management-team-list__link--jim-brigadier:before {
    background-image: url('/images/pages/about-us/management-team/brigadier-245x175-g.jpg');
}

a.management-team-list__link--raj-mruthyunjayappa:before {
    background-image: url('/images/pages/about-us/management-team/raj-245x175-g.jpg');
}

a.management-team-list__link--kathy-murphy:before {
    background-image: url('/images/pages/about-us/management-team/murphy-245x175-g.jpg');
}

a.management-team-list__link--emiliano-diez:before {
    background-image: url('/images/pages/about-us/management-team/diez-245x175-g.jpg');
}

// scss-lint:enable QualifyingElement

.management-team-list__link__person-name {
    @include adjust-font-size-to(14px, 0.75);

    display: block;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.management-team-list__link__person-title {
    @include adjust-font-size-to(12px, 0.5);

    display: block;
    font-weight: 300;
}

.management-team-bio-list-item-wrapper {
    background-color: map-get($greys, 100);

    &:nth-child(even) {
        background-color: $white;
    }
}

.management-team-bio-list-item {
    @include container;

    @media (min-width: $screen-xs-land-min) {
        @supports (grid-gap: 0) {
            display: grid;
            grid-column-gap: rhythm(1);
            grid-template-rows: auto;
            grid-template-columns: 1fr 2fr;
        }
    }

    @media (min-width: $screen-sm-min) {
        @supports (grid-gap: 0) {
            display: grid;
            grid-column-gap: rhythm(1);
            grid-template-rows: auto;
            grid-template-columns: 1fr 3fr;
        }
    }
}

.management-team-bio-list-item__person {
    margin-bottom: rhythm(1);
    text-align: center;
}

.management-team-bio-list-item__bio {
    @include adjust-font-size-to(14px);

    color: map-get($greys, 900);
}

.management-team-bio-list-item__name {
    @include adjust-font-size-to(18px, 1);

    color: $black;
    font-weight: 400;
}

.management-team-bio-list-item__title {
    @include adjust-font-size-to(14px, 1);

    color: map-get($greys, 800);
}

.management-team-bio-list-item__img {
    width: 100%;
}

.management-team-bio-list-item__btt-link {
    @include adjust-font-size-to(12px, 1);

    display: block;
    float: right;
}

// scss-lint:disable QualifyingElement

a.management-team-bio-list-item__btt-link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $theme-primary;
    }
}

// scss-lint:enable QualifyingElement
