.news-banner {
    padding: rhythm(0.5);
    overflow: hidden;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        display: flex;
        justify-content: center;
    }
}

.news-banner__text {
    margin-bottom: rhythm(0.5);

    @media (min-width: $screen-sm-min) {
        align-self: center;
        margin-bottom: 0;
    }
}

.news-banner__link {
    flex-shrink: 0;

    p {
        margin-bottom: -10px;
    }

    img {
        display: block;
        margin: auto;
    }

    @media (min-width: $screen-sm-min) {
        display: flex;
        margin-left: rhythm(1);
        padding-left: rhythm(1);
        white-space: nowrap;
        border-left: 1px solid $border-color;

        p {
            align-self: center;
            margin-right: rhythm(0.5);
            margin-bottom: 0;
        }

        img {
            flex-shrink: 0;
            align-self: center;
            margin-bottom: 11px;
        }
    }
}

// stylelint-disable selector-no-qualifying-type
a.news-banner__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $black;
        text-decoration: none;
    }

    &:hover,
    &:active {
        p {
            text-decoration: underline;
        }
    }
}
// stylelint-enable selector-no-qualifying-type
