/* stylelint-disable no-descending-specificity */
.s3-doc-list__pagination {
    @include adjust-leading-to(1.5);

    li {
        display: inline-block;

        &:first-child button,
        &:last-child button {
            width: rhythm(2);
        }

        &:not(:last-child) button {
            margin-right: 2px;
        }
    }

    button {
        @include adjust-font-size-to(14px, 1);

        display: block;
        width: rhythm(1);
        height: $base-line-height + 1px;
        margin: 0;
        padding: 0;
        color: map-get($greys, 800);
        font-family: $font-family-secondary;
        background: map-get($greys, 300);
        border: 0;
        cursor: pointer;

        &:disabled {
            cursor: default;
            opacity: 0.5;
        }

        /* stylelint-disable selector-no-qualifying-type */
        &.active,
        &:not(:disabled):hover {
            background-color: map-get($greys, 600);
        }

        &.active {
            cursor: default;
        }
        /* stylelint-enable selector-no-qualifying-type */
    }
}
