.page-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 50% 0%;
    background-color: $theme-primary-dark;
}

.page-bg-image--short {
    // ! next is MAX-width
    @media (max-width: $screen-sm-min) {
        height: auto;
        min-height: 364px;
    }
}

.sticky-bg {
    position: sticky;
    top: 0;
}

.news-banner-wrapper {
    &.has-xs-img {
        margin-bottom: rhythm(3);

        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }
    }
}
