$password-protected-download-bg-color: #fff;

.password-protected-download__view-container {
    margin-bottom: rhythm(1);
}

.password-protected-download__form {
    @include rhythm-borders(1px, 1);

    display: inline-block;
    width: 100%;
    background-color: map-get($greys, 200);

    @media (min-width: $screen-xs-land-min) {
        width: rhythm(12);
    }
}

.password-protected-download__ids {
    display: none;
}

.password-protected-download__label {
    display: block;

    &:after {
        content: ':';
    }
}

.password-protected-download__form__username,
.password-protected-download__form__password {
    @extend %input;

    appearance: none;
}

.password-protected-download__form__password {
    margin-bottom: rhythm(1);
}

.password-protected-download__refresh-button,
.password-protected-download__reauth-button {
    float: none;
}

.password-protected-download__form__submit,
.password-protected-download__reauth-button,
.password-protected-download__refresh-button {
    @extend %input-button;

    @include rhythm-borders(1px, 0);

    line-height: 1.75;
    background: $password-protected-download-bg-color;

    &:disabled {
        color: $border-color;
        cursor: default;
    }
}

.password-protected-download__form__error {
    color: $font-color-error;

    &:empty {
        display: none;
    }

    &.js-is-visible {
        display: block;
        margin-top: #{- rhythm(1)};
    }
}

.password-protected-download__list-item {
    clear: both;
    margin: 0 0 rhythm(1);
}

.password-protected-download__list-item__image {
    display: block;
    float: left;
    margin: 0 rhythm(1) rhythm(1) 0;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a.password-protected-download__list-item__link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a .password-protected-download__list-item__dl-text {
    color: $font-color-link;

    &:hover {
        text-decoration: underline;
    }
}

.password-protected-download__show-when-loaded {
    display: none;
    clear: both;
}

.password-protected-download__list-item.expired {
    opacity: 0.5;
}
