.pattern-box__title {
    margin: 0 0 rhythm(1) 0;
    letter-spacing: -1px;

    @media (min-width: $screen-xs-land-min) {
        margin: auto rhythm(1) auto 0;
    }
}

.pattern-box {
    text-align: left;

    a {
        display: block;
        margin: auto;

        img {
            display: block;
            margin: auto;
        }
    }

    @media (min-width: $screen-xs-land-min) {
        display: inline-flex;
    }

    @supports (grid-gap: 0) {
        @media (min-width: $screen-xs-land-min) {
            /* autoprefixer grid: no-autoplace */
            // display: grid;
            // grid-template-columns: auto 1fr;
        }
    }
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a.pattern-box-circle-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: rhythm(4);
    height: rhythm(4);
    color: $white;
    text-align: center;
    text-decoration: none;

    > * {
        z-index: 1;
        flex: 0;
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        display: block;
        width: rhythm(4);
        height: rhythm(4);
        background-color: $theme-primary-dark;
        border-radius: 50%;
        transform: translateX(-50%) translateY(-50%);
        content: '';
    }
}
