.pill-button {
    @include adjust-font-size-to(16px, 1);

    position: relative;
    display: inline-block;
    padding: rhythm(0.25) rhythm(1.25) rhythm(0.25) rhythm(0.75);
    color: $white;
    font-weight: 400;
    text-decoration: none;
    background-color: $theme-tertiary;
    border: 0;
    border-radius: rhythm(1);
    cursor: pointer;

    &:after {
        position: absolute;
        top: 50%;
        right: rhythm(0.5);
        display: block;
        // scss-lint:enable SpaceAroundOperator
        width: 7.561px;
        height: 14.291px;
        // scss-lint:disable SpaceAroundOperator
        background-image:
            svg-load(
                'images/ui/chevron-right--menu.svg',
                stroke=$white
            );
        background-repeat: no-repeat;
        transform: translateY(-50%);
        content: ' ';
    }
}

.pill-button--reverse,
.pill-button.pill-button--reverse {
    color: $theme-tertiary;
    background-color: $white;

    &:after {
        // scss-lint:enable SpaceAroundOperator
        width: 7.561px;
        height: 14.291px;
        // scss-lint:disable SpaceAroundOperator
        background-image:
            svg-load(
                'images/ui/chevron-right--menu.svg',
                stroke=$theme-tertiary
            );
    }
}

.pill-button--outline {
    border: 2px solid $white;
}

.pill-list {
    display: flex;
    flex-wrap: wrap;
}

.pill-list--hs-cta {
    .pill-button {
        margin: 0;
    }
}

.pill-list--centered {
    justify-content: center;
}

.pill-list--multiple {
    margin-bottom: #{- rhythm(1)};

    .pill-button {
        margin-right: rhythm(0.5);
        margin-bottom: rhythm(1);
        margin-left: rhythm(0.5);
    }
}

.pill-list--wrap {
    display: block;
}
