.press-release__date-location {
    color: $black;
    font-weight: 400;
}

.press-release__contact {
    @include adjust-font-size-to(14px, 0.8);

    margin-bottom: rhythm(1);
}

.press-release__contact__title {
    @include adjust-font-size-to(16px);

    margin-bottom: 0;
    color: map-get($greys, 800);
    font-weight: 400;
}

.press-release__figure {
    display: block;
    max-width: 100%;
    margin: 0 auto rhythm(1);
    padding: 0;

    @media (min-width: $screen-xs-land-min) {
        float: right;
        margin: 0 0 rhythm(1) rhythm(1);
    }
}

.press-release__figure img {
    width: 100%;
}

.press-release__figcaption {
    @include adjust-font-size-to(12px, 0.8);
}
