.product-center-login {
    display: none;
}

.product-center-login__register-box {
    @include rhythm-borders(1px, 0.5);
    @include adjust-font-size-to(14px, 0.75);

    margin-bottom: rhythm(1);
    text-align: center;
    background-color: map-get($greys, 200);

    p {
        margin-bottom: rhythm(0.25);
    }
}

.product-center-login__register-link,
.product-center-login__enter-link {
    display: inline-block;
}

.product-center-login-button-wrapper {
    margin-bottom: rhythm(1);
    text-align: center;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}
