.proportional-iframe-scale__outer-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.proportional-iframe-scale__inner-wrapper {
    position: relative;
}

.proportional-iframe-scale__sizer-img {
    display: block;
    width: 100%;
    height: auto;
    /* stylelint-disable-next-line unit-whitelist */
    max-height: calc(100vh - 140px);
}

.proportional-iframe-scale__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
