$quick-launch-hover-color: #000;
$quick-launch-active-bg-color: map-get($greys, 200);

.ms-quicklaunch-navmgr {
    @include adjust-font-size-to($base-font-size, 0.75);

    max-width: 360px;
    margin-bottom: rhythm(1);
}

.hide-quick-launch .ms-quicklaunch-navmgr {
    display: none;
}

.ms-quicklaunch-navmgr ul ul {
    margin: 0 0 0 0.75em;
}

.ms-quicklaunch-navmgr > ul > li > .menu-item--index {
    // main item
    @include adjust-font-size-to(16px, 1.5);

    margin: 0;
    padding-left: 0;
    color: $font-color-link;
    font-weight: 400;
    font-family: $font-family-secondary;
    text-decoration: none;
    background: transparent;
    border: 0;
}

.ms-quicklaunch-navmgr a {
    display: block;
    margin: 0;
    padding: rhythm(0.125) 0 rhythm(0.125) 0.5em;
    border: 0;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: map-get($greys, 1000);
        font-weight: 300;
        font-size: 0.75em;
        text-decoration: none;
    }

    &:hover {
        color: $quick-launch-hover-color;
        background: map-get($greys, 300);
    }
}

.ms-quicklaunch-navmgr .menu-item--active-file:not(.menu-item--index) {
    color: $quick-launch-hover-color;
    // active sub menu item
    background: $quick-launch-active-bg-color;
    border: 0;
}
