.recent-news-list {
    margin-top: rhythm(1);
}

.recent-news-list-item {
    margin-bottom: rhythm(1);
}

/* stylelint-disable-next-line selector-no-qualifying-type */
a.recent-news-list-item__link {
    @include adjust-font-size-to(16px, 0.75);

    display: block;
    color: $font-color-link;
    font-weight: 400;
}
