.register-show-download {
    @include make-xs-column(12, 0);
    @include make-sm-column(6, 0);
    @include clearfix;

    position: relative;
    margin-bottom: rhythm(1);
    overflow: hidden;
}

.register-show-download a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

.register-show-download__download {
    margin-top: rhythm(1);
}

.register-show-download__download-image {
    float: left;
    margin: 0 rhythm(1) 0 0;
}

.register-show-download__address {
    clear: both;
}
