.search-results-by {
    line-height: 1.5rem;
    text-align: right;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: map-get($greys, 1000);
        text-decoration: none;
    }
}

.search-results-by__img {
    display: inline-block;
    max-height: 1.5rem;
    margin: 0;
    vertical-align: middle;
}

.search-results-list {
    clear: both;
}

.search-result-item {
    clear: both;
    margin-bottom: rhythm(1);
}

.search-result-item__title {
    @include adjust-font-size-to(16px, 0.75);

    display: block;
    color: $font-color-link;
    font-weight: 400;

    em {
        color: $theme-primary-light;
    }
}

.search-result-item__body {
    @include adjust-font-size-to(14px, 0.75);

    display: block;
    margin: 0;
    color: map-get($greys, 1000);
    font-weight: 300;

    em {
        font-weight: 400;
    }
}

.search-result-item__full-url-link {
    @include adjust-font-size-to(12px, 0.75);

    display: block;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $theme-tertiary;
        text-decoration: none;
    }
}

.search-result-item__pdf {
    @include adjust-font-size-to(12px, 0.75);

    display: inline-block;
    padding: 0;
}

.search-result-item__products {
    @include adjust-font-size-to(12px, 0.75);

    display: inline-block;
    padding: 0;
}

.search-result-item__pdf:not(:empty) + .search-result-item__products:not(:empty):before {
    content: '\2014\00a0';
}

.search-result-item__img-wrap {
    float: left;
    width: rhythm(2.5);
    margin-top: rhythm(0.25);
}

.search-result-item__img {
    display: block;
    max-width: 100%;
    max-height: rhythm(2.75);
    margin: auto;
}

.search-result-item--has-img {
    .search-result-item__content {
        margin-left: rhythm(3);
    }
}
