$menu-search-text-color: #676767;

.search-form {
    width: 100%;
}

.search-form__search-btn {
    @include charm-button;

    display: inline-block;
    width: 35px;
    min-width: 0;
    height: 35px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-image: svg-load('images/ui/search.svg', fill=$border-color);
    background-repeat: no-repeat;
    border: 0;
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.search-form input[type='text'] {
    @include adjust-font-size-to(16px, 1);

    width: calc(100% - #{rhythm(3)});
    height: auto;
    margin: 0 rhythm(1) 0 0;
    padding: 3px;
    color: $menu-search-text-color;
    font-weight: 300;
    font-family: $font-family-primary;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid $border-color;
}

.search-form label {
    display: none;
}
