.sitemap {
    margin-left: rhythm(1);

    a {
        text-decoration: none;
    }
}

.sitemap-item-details {
    @include adjust-font-size-to(10px);

    font-weight: normal;
    font-family: sans-serif;
    vertical-align: middle;
}
