.layout-bg--social-media-share {
    position: relative;
    z-index: 100;
}

.social-media-share-plugins-list {
    @include container;

    display: block;
    width: 100%;
    margin-top: rhythm(0.5);
    margin-bottom: rhythm(0.5);
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0;
    text-align: center;

    @media (min-width: $screen-sm-min) {
        text-align: right;
    }

    @media (min-width: $screen-md-min) {
        width: 100%;
    }
}

.social-media-share-item {
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    margin-right: rhythm(0.5);
    padding: 0;
    vertical-align: top;

    &:last-child {
        margin-right: 0;
    }
}

.social-media-share__button {
    @include adjust-font-size-to(10px, 1);

    position: relative;
    display: block;
    margin: 0;
    padding: 0 1em;
    color: map-get($greys, 900);
    font-weight: 400;
    background: map-get($greys, 100);
    border: 0;
    border-radius: 0;
    cursor: pointer;

    @media (min-width: $screen-md-min) {
        padding: 0 0.75em;
    }

    &:before {
        // scss-lint:disable NameFormat
        @include svg-sprite-icon;

        margin-top: 0.5em;
        margin-right: 0.5em;
        vertical-align: top;
        content: '';
    }

    &:hover {
        text-decoration: none;
    }
}

.social-media-share__button--facebook {
    &:before {
        width: 16px;
        height: 16px;
        background-image:
            svg-load(
                'images/ui/social-media-share__button--facebook-bg.svg'
            );
    }
}

.social-media-share__button--twitter {
    &:before {
        width: 16.001px;
        height: 16px;
        margin-right: 0.4em;
        background-image:
            svg-load(
                'images/ui/social-media-share__button--twitter-bg.svg'
            );
    }
}

.social-media-share__button--linkedin {
    &:before {
        width: 16px;
        height: 16.102px;
        background-image:
            svg-load(
                'images/ui/social-media-share__button--linkedin-bg.svg'
            );
    }
}
