$callout-width: 25px;
$callout-height: 20px;

$testimonial-bg-color: #f7f7f7;

.testimonial {
    @include rhythm-borders(1px, 0.5);

    position: relative;
    min-height: rhythm(5.5);
    margin-top: rhythm(1);
    margin-right: 0;
    padding-bottom: rhythm(0.5);
    color: transparent;
    background-color: $testimonial-bg-color;
    border-color: $border-color;
    border-radius: 0.5em;

    &:after {
        position: absolute;
        top: -$callout-height;
        right: 70px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $testimonial-bg-color;
        border-style: solid;
        border-width: $callout-height 0 0 $callout-width;
        content: ' ';
    }

    &:before {
        position: absolute;
        top: -($callout-height + 2);
        right: 69px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent $border-color;
        border-style: solid;
        border-width: ($callout-height + 1) 0 0 ($callout-width + 2);
        content: ' ';
    }

    &.smaller {
        flex: 1 0 auto;
        min-height: inherit;
        margin-top: 0;
        margin-bottom: rhythm(1);
        background-color: $white;
        border-width: 0;

        &:before {
            content: none;
        }

        &:after {
            top: 100%;
            bottom: $callout-height + 2;
            border-color:
                transparent transparent transparent
                $white;
            border-width: 0 0 $callout-height $callout-width;
        }
    }
}

.testimonial__quote {
    @include adjust-font-size-to(16px, 1);

    margin-top: #{- rhythm(0.5)};
    margin-bottom: rhythm(1);
    color: map-get($greys, 1000);
    text-align: left;
    quotes: '“' '”' '‘' '’';

    &:before {
        position: relative;
        top: 70px;
        display: inline-block;
        color: $theme-tertiary-light;
        font-size: 120px;
        font-family: $font-family-secondary;
        line-height: 0;
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

.testimonial__quote--smaller {
    margin-top: #{- rhythm(0.5)};
    quotes: '“' '”' '‘' '’';

    &:before {
        position: relative;
        top: 47px;
        display: inline-block;
        color: $theme-tertiary-light;
        font-size: 80px;
        font-family: $font-family-secondary;
        line-height: 0;
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }
}

.testimonial__question {
    @include adjust-font-size-to(22px, 1);

    margin: 0.5rem 0 1rem;
    color: map-get($greys, 1000);
    font-weight: 400;
    font-family: $font-family-secondary;
    text-align: left;
}

.testimonial__author {
    color: map-get($greys, 1000);
    text-align: right;
}

.testimonial__author__name {
    @include adjust-font-size-to(18px, 1);

    font-weight: 400;
}

.testimonial__author__title,
.testimonial__author__company {
    @include adjust-font-size-to(14px, 0.75);
}

.testimonial__author--v2 {
    display: block;
    text-align: right;
}

.testimonial__author__name--v2,
.testimonial__author__title--v2 {
    display: inline-block;
}

// scss-lint:disable QualifyingElement
/* stylelint-disable-next-line selector-no-qualifying-type */
a.testimonial__view-more-link {
    &:link,
    &:visited,
    &:hover,
    &:active {
        @include adjust-font-size-to(10px, 0.25);

        color: $font-color-link;
        text-decoration: underline;
    }
}

// scss-lint:enable QualifyingElement

.testimonial__back-to-top-link {
    @include adjust-font-size-to(16px, 1);

    margin-top: rhythm(1);
    text-align: center;

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $white;
    }
}

.quote-highlight {
    display: block;
}
