.transcript {
    margin-bottom: rhythm(1);

    blockquote {
        @include adjust-font-size-to(20px, 1);

        display: block;
        width: 100%;
        margin: 0 auto rhythm(1);
        padding: rhythm(0.5);
        color: map-get($greys, 900);
        font-weight: 400;
        background-color: map-get($greys, 200);
        quotes: '“' '”' '‘' '’';

        p:first-child:before {
            content: open-quote;
        }

        p:last-of-type:after {
            content: close-quote;
        }

        p:only-child,
        p:last-child {
            margin-bottom: 0;
        }

        @media (min-width: $screen-sm-min) {
            float: right;
            width: 50%;
            margin: 0 0 rhythm(1) rhythm(1);
        }
    }
}
