/* stylelint-disable selector-max-id */

.video-wrapper--youtube + p {
    margin-top: 0;
}

.video-wrapper--4x3 {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;

    object,
    iframe,
    embed,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-wrapper--16x9 {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;

    object,
    iframe,
    embed,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-wrapper {
    .info-box & {
        margin-bottom: rhythm(1);

        @media (min-width: $screen-sm-min) {
            margin-bottom: rhythm(0);
        }
    }
}
