.youtube-player__controller {
    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(1);
    }
}

.youtube-player__button-list {
    display: flex;
    flex-wrap: wrap;

    li {
        display: block;
        flex: 1 1 50%;
        margin-bottom: rhythm(0.5);
    }

    img {
        display: block;
        margin: auto;
    }

    @media (min-width: $screen-sm-min) {
        li {
            display: block;
            flex: 1 1 20%;
            margin-bottom: rhythm(1);
        }
    }
}

.youtube-player__button {
    display: block;
    width: rhythm(3);
    height: rhythm(3);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-indent: 100%;
    background: transparent 50% 50% no-repeat;
    background-size: contain;
    border: 0;
    cursor: pointer;

    @media (min-width: $screen-sm-min) {
        width: rhythm(4);
        height: rhythm(4);
    }
}

.youtube-player__author,
.youtube-player__quote {
    color: map-get($greys, 800);
}

.youtube-player__video-url,
.youtube-player__video-title,
.youtube-player__quote-src,
.youtube-player__author-src {
    display: none;
}

.youtube-player__button--asu {
    background-image: url('/images/pages/higher-education-resources/school-logos/asu-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/asu-logo-color.png');
    }
}

.youtube-player__button--penn {
    background-image: url('/images/pages/higher-education-resources/school-logos/penn-state-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/penn-state-logo-color.png');
    }
}

.youtube-player__button--chatham {
    background-image: url('/images/pages/higher-education-resources/school-logos/chatham-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/chatham-logo-color.png');
    }
}

.youtube-player__button--newport {
    background-image: url('/images/pages/higher-education-resources/school-logos/newport-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/newport-logo-color.png');
    }
}

.youtube-player__button--banff {
    background-image: url('/images/pages/higher-education-resources/school-logos/banff-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/banff-logo-color.png');
    }
}

.youtube-player__button--hope {
    background-image: url('/images/pages/higher-education-resources/school-logos/hope-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/hope-logo-color.png');
    }
}

.youtube-player__button--divers {
    background-image: url('/images/pages/higher-education-resources/school-logos/divers-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/divers-logo-color.png');
    }
}

.youtube-player__button--cac {
    background-image: url('/images/pages/higher-education-resources/school-logos/cac-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/cac-logo-color.png');
    }
}

.youtube-player__button--marty {
    background-image: url('/images/pages/higher-education-resources/school-logos/mount-marty-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/mount-marty-logo-color.png');
    }
}

.youtube-player__button--clarks {
    background-image: url('/images/pages/higher-education-resources/school-logos/clarks-logo-grey.png');

    &:hover,
    &:focus,
    &.active {
        background-image: url('/images/pages/higher-education-resources/school-logos/clarks-logo-color.png');
    }
}
