---
# <!-- @formatter:off -->
title: Northern Lakes Consortium
menu-priority: 0.9
page-bg-image: /images/pages/demos/NLC-bkg-v2.jpg
page-bg-image--xs: /images/pages/demos/NLC-410x730-bkg-blue.jpg
additional-scripts:
  - src: /scripts/page--faq.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/faq.css
    inline: true
  - href: /styles/pages/has-testimonial.css
    inline: false
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<style>
    .main-nav__root-list-item:nth-child(3),
    .main-nav__root-list-item:nth-child(4),
    .main-nav__root-list-item:nth-child(5),
    .main-nav__root-list-item:nth-child(6) {
        display: none;
    }

    #livechat-compact-container {
        display: none;
    }

    .social-media-share-plugins-list {
        display: none;
    }

    header {
        margin-top: 1.625rem;
    }

</style>

<article>
    <div class="cmc-article">
        <header class="c c-white">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/demos/banner-NLC-logos-circle.png"
                alt=""
                inline-img-dims
            />
            <h1 class="ht--s--38-45 article__title">The Power of Partnership</h1>
            <p class="ht--p--16-22">
                Campus Management's mission is to deliver the higher education platform and services that allow you to
                transform your academic delivery, student success and operational efficiency on your terms.
            </p>
        </header>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 video-box">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/l-AvmH8qIt0?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Bill Pearce"
                    ></iframe>
                </div>
            </div>
            <div class="box-item box-item--no-min-height col-xs-12 col-sm-6">
                <div class="testimonial smaller">
                    <p class="c-black ht--p--18 testimonial__quote--smaller">
                        What we found with Campus Management, and what we were really looking for, was a partner.
                    </p>

                </div>
                <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                    <div class="testimonial__author__name--v2 b">Bill Pearce,</div>
                    <div class="testimonial__author__title--v2">
                        <em>CIO</em>
                    </div>
                    <div class="testimonial__author__company--v2">BANFF Centre</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/Banner-contact-us.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Submit a Question
                </h2>
                <p class="ht--p--16">Select the button below to submit a question to our team.</p>
                <a
                class="pill-button box-item__link"
                href="/demos/NLC/question/"
            >Submit
            </a>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="box-row">
            <div class="box-item box-item--no-min-height col-xs-12 pb0">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark">
                    Demonstration Guide
                </h2>
                <p>This section is specifically intended to walk-through actual scenarios in a Student Lifecycle.</p>
            </div>
        </div>
        <div class="box-row">
            <div class="box-item">
                <div class="faqs faq-list">
                    <h2 class="faq-question">5.1 Student Application Process</h2>
                    <div class="faq-answer">
                    	<p class="ht--p--400 ht--p--16 pb1">(a) Walk us through how a student applies for admission on the web and on their mobile device:</p>

                        <p class="ht--p--400 ht--p--16">How do Apply Alberta (APAS) and MyTradeSecrets applications take place? </p>
                        <p class="pb1">The integration between APAS and MyTradeSecrets will be a seamless process to learners. The application will begin on the APAS and/or MyTradeSecrets site as usual. The integration will capture the applicant’s information as specified in our configuration. If the learner information matches data in CampusNexus, the updated information will be appended to the record and if it does not, a new learner record/application will be created.</p>

                        <p class="ht--p--400 ht--p--16">How are MyPass and Alberta Council on Admissions and Transfer requirements (ACAT) met?</p>
                        <p class="pb1">A combination of CampusNexus and API functionality will be used. Specific details will be gathered during the requirements process.</p>

                        <p class="ht--p--400 ht--p--16">How does the system integrate with third-party interfaces (such as MOOCs)?</p>
                        <p class="pb1">Campus Management offers packaged LMS integrations that synchronize accounts, registrations, grades and attendance (defined differently for ground and online courses).</p>

                        <p class="ht--p--400 ht--p--16">How do students get support if they have a question or run into trouble while applying?</p>
                        <p class="pb1">Learners typically receive support from the institutions with reach back to Campus Management. Depending on the Consortium relationship, a second tier of internal support may exist at the Consortium level.</p>

                        <p class="ht--p--400 ht--p--16">What usability and assisted application features does the system support?</p>
                        <p class="pb1">CampusNexus is device agnostic and web responsive on any device. Navigation adapts to any size.</p>

                        <p class="ht--p--400 ht--p--16">How are transcripts and other pre-requisites for admission collected?</p>
                        <p class="pb1">CampusNexus allows for electronic submission of pre-requisites, Admissions and other data.</p>

                        <p class="ht--p--400 ht--p--16">What happens if there is important information missing in the application?</p>
                        <p class="pb1">CampusNexus uses features, reporting and e-mail to help manage missing application information.</p>

                        <p class="ht--p--400 ht--p--16">How are payments required during application collected from the student?</p>
                        <p class="pb1">A configurable option, CampusNexus can require a application or admissions payment during the application process or it can be posted to the learners ledger card for payment at a later date.</p>

                        <p class="ht--p--400 ht--p--16">From a student’s perspective, what happens after a student applies for a course?</p>
                        <p class="pb1">Once a learner applies for a course, configured communications and workflow trigger next steps as desired by the institution.</p>

                        <p class="ht--p--400 ht--p--16">How does a third-party (such as a company or other entity) enroll a student? (e.g. for a Continuing Education or Corporate course) </p>
                        <p class="pb1">CampusNexus allows for third-party enrollments with minimal to no intervention from the institution.</p>

                        <p class="ht--p--400 ht--p--16">What other advantages does the system bring to the application process?</p>
                        <p class="pb1">CampusNexus allow institutions to completely configure their application process and have different application processes for different programs and/or learner populations. Communication strategies can also be different depending on information submitted as part of the application.</p>



                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) Walk us through what needs to be setup before applications for an offering can occur:</p>

                        <p class="ht--p--400 ht--p--16">How are courses and program offerings defined in the system?</p>
                        <p class="pb1">Courses and Programs are configured in CampusNexus. Courses are applied to Programs, as the Programs are being created and configured. Start dates, pre- and co-requisites and all other program attributes are configured as part of the Program setup.</p>

                        <p class="ht--p--400 ht--p--16">How is Full Load Equivalent (FLE) defined?</p>
                        <p class="pb1">FLE is defined by Program during the Program configuration.</p>

                        <p class="ht--p--400 ht--p--16">How are degree vs. non-degree programs (Continuing Education) defined?</p>
                        <p class="pb1">Degree vs. Non-Degree is defined by Program during the Program configuration.</p>

                        <p class="ht--p--400 ht--p--16">How are academic upgrading and dual credit offerings defined?</p>
                        <p class="pb1">CampusNexus accommodates these options through multiple enrollments, which is a standard feature.</p>

                        <p class="ht--p--400 ht--p--16">How are academic partnerships defined?</p>
                        <p class="pb1">Academic Partnerships are handled easily through course and cost sharing options, as-needed, in CampusNexus.</p>

                        <p class="ht--p--400 ht--p--16">How does conference registration for students occur?</p>
                        <p class="pb1">Conference registration will follow the same process as course registration.</p>

                        <p class="ht--p--400 ht--p--16">How are characteristics such as fees, course schedules, terms etc. defined and associated with the programs and course offerings? </p>
                        <p class="pb1">These items are all configuration options within the Program setup.</p>

                        <p class="ht--p--400 ht--p--16">How are offerings retired? </p>
                        <p class="pb1">CampusNexus allows offerings to be retired by deactivating it. Deactivating removes it from the available offerings but keep all current enrollment and historical data associated.</p>

                        <p class="ht--p--400 ht--p--16">In the event of fee changes, how are existing agreements honored / grandfathered for existing students? </p>
                        <p class="pb1">CampusNexus use billing methods and fee schedules with effective dates to account for fee changes.</p>
                    </div>


                    <h2 class="faq-question">5.2 Student Acceptance and Wait-Listing</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">(a) Walk us through the experience of students who are accepted, waitlisted or rejected:</p>

                        <p class="ht--p--400 ht--p--16">How can a student “Register today, start tomorrow?”</p>
                        <p class="pb1">CampusNexus allows learners to register at any time to start at any day, as configured by the institution.</p>

                        <p class="ht--p--400 ht--p--16">How does a student know their status after submitting application?</p>
                        <p class="pb1">CampusNexus allows each institution to define their communication strategy with learners and staff. Learners can be notified by email, SMS, web alerts or self-service at each step of the application process.</p>

                        <p class="ht--p--400 ht--p--16">What are the next steps an applicant must take once they are accepted?</p>
                        <p class="pb1">CampusNexus allows each institution to define their processes and workflows. The institution will define what are the next steps after acceptance. CampusNexus can trigger any communication to learners and staff members to trigger the next action.</p>

                        <p class="ht--p--400 ht--p--16">How are alternative options presented if seats are not available for a course?</p>
                        <p class="pb1">CampusNexus has an auto-registration feature which allows one-click registration to open courses required for the learned. Waitlisting is another available option when courses are full.</p>

                        <p class="ht--p--400 ht--p--16">How are additional qualification / assessment requirements communicated?</p>
                        <p class="pb1">CampusNexus allow configuration of additional assessments and qualifications as part of the application or admission process. The requirements can be communicated to the learner by email, SMS or presented during the registration process.</p>

                        <p class="ht--p--400 ht--p--16">If an external test is required, how are test scores from systems like AccuPlacer imported?</p>
                        <p class="pb1">CampusNexus allows test scores to be imported via CSV or flat files. Manual entry is also available.</p>



                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) Walk us through what needs to be setup before acceptance can occur, for example:</p>

                        <p class="ht--p--400 ht--p--16">How are pre-requisite criteria for acceptance pre-defined in the system?</p>
                        <p class="pb1">Pre-requisite and co-requisite criteria is defined during Program configuration.</p>

                        <p class="ht--p--400 ht--p--16">How does prioritization of student applications occur?</p>
                        <p class="pb1">Workflow will be used to prioritize applications based on the institutions need.</p>

                        <p class="ht--p--400 ht--p--16">How can non-academic admission rules be set? (e.g. In the case of Corporate Training, how can be acceptance be validated against the requestors financial standing with the College?)</p>
                        <p class="pb1">Workflow and triggered communications will be used to manage non-academic admissions rules, as defined by the institutions requirements.</p>
                    </div>


                    <h2 class="faq-question">5.3 Student Enrollment and Registration</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">(a) Walk us through how a student is enrolled once they are accepted:</p>

                        <p class="ht--p--400 ht--p--16">How is student information used to process enrollments, and what other information does the student need to provide after being accepted?</p>
                        <p class="pb1">The enrollment process and requirements for acceptance are defined and configured via System Configuration in combination with Program configuration.</p>

                        <p class="ht--p--400 ht--p--16">How does a student select program specific details, courses, term, course schedule etc.?</p>
                        <p class="pb1">Learners can self-register via the portal, which provides all the data around program, course and term details.</p>

                        <p class="ht--p--400 ht--p--16">How does a student register for full time and/or part time classes?</p>
                        <p class="pb1">CampusNexus allows learners to view details, select and register for courses based on the offerings published by the institution. There is no variance in the registration process for fulltime or part time classes.</p>

                        <p class="ht--p--400 ht--p--16">How are enrollment related fees and payments collected?</p>
                        <p class="pb1">CampusNexus allow learners to self-pay online. Payments can also be recorded by staff directly on the ledger card.</p>

                        <p class="ht--p--400 ht--p--16">How does a student pay potential additional charges such as testing fees, textbooks, subscription fees, etc.?</p>
                        <p class="pb1">These fees would be configured during Program configuration. Learners would follow the same payment process online or at the institution.</p>

                        <p class="ht--p--400 ht--p--16">How does a student make changes to their enrollment details, course schedule preferences, etc. at later stages?</p>
                        <p class="pb1">Dependent on the institutional rules and configuration, CampusNexus will allow the learners to request program and preference changes.</p>

                        <p class="ht--p--400 ht--p--16">How does a student cancel or withdraw their application?</p>
                        <p class="pb1">Dependent on the institutional rules and configuration, CampusNexus will allow the learners to request cancellation or withdraws online or at the institution.</p>

                        <p class="ht--p--400 ht--p--16">What other assistance is provided to students during enrollment and registration?</p>
                        <p class="pb1">CampusNexus includes a Registration Assistant which provides a guided pathway and recommendations to course work required for graduation.</p>


                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) What needs to occur before enrollment can take place?</p>

                        <p class="ht--p--400 ht--p--16">How are rolling course schedules and continuous enrollment defined and managed?</p>
                        <p class="pb1">These are defined and managed in the same fashion as standard program offerings. Depending on requirements, options like open terms may be used to enhance optics for transcripts and institutional reporting.</p>

                        <p class="ht--p--400 ht--p--16">How is availability and allocation of seats, wait-listing and fill targets managed across multiple campuses?</p>
                        <p class="pb1">Seat allocation and wait-listing is defined by course section. Rules are configured to determine when waitlisting begins, how many learners can be waitlisted and when a new section can be manually or automatically created.</p>

                        <p class="ht--p--400 ht--p--16">How are students notified if a course or program is cancelled?</p>
                        <p class="pb1">Learners can be notified by SMS, email or web alert. This notification to be automatic or triggered by user action.</p>

                        <p class="ht--p--400 ht--p--16">Does the system support any classroom or resource scheduling; if so how are classes scheduled?</p>
                        <p class="pb1">Resource assignment occurs when course sections are created. CampusNexus will validate the instructor, classroom or other resources assigned for conflict upon sections creation.</p>
                    </div>


                    <h2 class="faq-question">5.4 Learner Support</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">(a) How are student learning choices at various stages supported?</p>

                        <p class="ht--p--400 ht--p--16">How does the system recommend alternative learning pathways or related courses as the student progresses through their learning experience?</p>
                        <p class="pb1">Learners have access to Hypothetical program changes (or learning pathways) that will allow them to assess benefits or other considerations in changing pathways.</p>

                        <p class="ht--p--400 ht--p--16">How does the student add new courses to their learning plan?</p>
                        <p class="pb1">Based on institutional policy and configuration, learners may have the option to self-service and add courses to their learning plan. Alternatively, this process can be configured to be adjusted by registrars or academic advisors.</p>

                        <p class="ht--p--400 ht--p--16">Does the system support any calendar integration (Outlook, Google etc.)?</p>
                        <p class="pb1">CampusNexus support integration with Microsoft Outlook for faculty and staff. Learners can export any calendar activities to the calendar of choice.</p>

                        <p class="ht--p--400 ht--p--16">How does the system guide students and assist students with their interest in new programs and courses?</p>
                        <p class="pb1">Learners have access to Hypothetical program changes (or learning pathways) that will allow them to research new programs or areas of interest.</p>

                        <p class="ht--p--400 ht--p--16">How do advisors and staff support students with changes to their programs?</p>
                        <p class="pb1">Based on institutional policy and configuration, this option can be configured to allow registrars or academic advisors to adjust learners program options within CampusNexus.</p>

                        <p class="ht--p--400 ht--p--16">How does the system advise on any potential impacts from such changes?</p>
                        <p class="pb1">The Degree Progress Audit has highly-visual and program/course specific information on screen to advise on impacts of any changes.</p>

                        <p class="ht--p--400 ht--p--16">How does the system identify and advise on improvements for struggling Students?</p>
                        <p class="pb1">CampusNexus leverage data views, machine learning and PowerBI to identify patterns and notify advisors and other staff members proactively to start working with those learners. Automated communications, meeting with advisors, follow up phone calls and additional courses can be added to the learners program automatically or manually as part of the early intervention process.</p>

                        <p class="ht--p--400 ht--p--16">What other features does the system provide to allow Student Services to be more effective?</p>
                        <p class="pb1">Through Occupation Insight, learners have access to near real-time job market data.</p>

                        <p class="ht--p--400 ht--p--16">How does the system report on the effectiveness of actions taken and suggest improvements?</p>
                        <p class="pb1">Leveraging data views, reporting and PowerBI, patterns in data will depict the effectiveness of changes made towards improvement.</p>

                        <p class="ht--p--400 ht--p--16">How does the system track and report on relevant co-curricular and extra-curricular activities beyond the classroom?</p>
                        <p class="pb1">CampusNexus can track co-curricular or extra-curricular activities with various methods. As an output to the business requirement sessions, CMC will recommend the best method to meet intuitional requirements.</p>

                        <p class="ht--p--400 ht--p--16">How are schedules and fees reconciled as such changes are made?</p>
                        <p class="pb1">CampusNexus automatically calculates changes in fees as registration updates are made based on configured options. If-desired, reports or manual review of ledger transactions can be used to validate automated processes are valid.</p>


                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) How do faculty members provide personalized services that address individual Student needs?</p>

                        <p class="ht--p--400 ht--p--16">How do authorized faculty and staff proactively monitor student outcomes?</p>
                        <p class="pb1">Faculty members have access to a variety of real-time dashboards specifically created to meet their informational needs.</p>

                        <p class="ht--p--400 ht--p--16">How is progress against personalized learning plans and objectives tracked?</p>
                        <p class="pb1">Staff and Faculty can record and track tasks, course work and other related activities as part of the learning plan objectives.  Guided pathways can also be configured for each learner, providing a path to completion of their program of study.</p>

                        <p class="ht--p--400 ht--p--16">How can Student success be evaluated through various stages of progression (pre-requisites, upgrading, academic performance, internship / practicum / apprenticeship etc.)?</p>
                        <p class="pb1">Embedded reporting capabilities can be leveraged to create real-time data views. Data Views can be shared with different users as needed.</p>

                        <p class="ht--p--400 ht--p--16">How is student performance used to recommend additional learning or development opportunities to the student?</p>
                        <p class="pb1">Through real-time reporting, PowerBI and Occupation Insight, advisement based on performance, learners and advisors can work together to adjust their educational goals to recommend additional learning opportunities.</p>

                        <p class="ht--p--400 ht--p--16">How can student performance be used to identify clusters of students who may be eligible for specific opportunities / offerings?</p>
                        <p class="pb1">&quot;Student Groups&quot; will allow institutions to organize learners with specific qualities into a cohort. Later, those groups can be used to trigger actions, reporting, registration, awarding and other needs as identified by the institution. Groups can be dynamically updated so that they remain automatically current.</p>

                        <p class="ht--p--400 ht--p--16">How can students be proactively kept informed of such opportunities?</p>
                        <p class="pb1">Groups can be used to trigger actions like email, letters or web alerts to make leaners aware of such opportunities.</p>

                        <p class="ht--p--400 ht--p--16">How are special education requirements handled?</p>
                        <p class="pb1">Special Education requirements are tracked within CampusNexus. Any requirements is documented securely in the learners record.</p>

                        <p class="ht--p--400 ht--p--16">What other Student support facilities does the system provide?</p>
                        <p class="pb1">Learner support facilities is a completely configurable option in CampusNexus. The institution will identify needs during business requirements which will later be setup in the system.</p>
                    </div>

                    <h2 class="faq-question">5.5 Service and Program Improvement</h2>
                    <div class="faq-answer">

                        <p class="ht--p--400 ht--p--16">How can management and administration assess and improve program and course offerings?</p>
                        <p class="pb1">Management and administration will create dashboards to monitor program performance. Some examples could be registration by course, percentage of max capacity courses, expected future course requirements and other metrics.</p>

                        <p class="ht--p--400 ht--p--16">How is performance of programs and course offerings be tracked?</p>
                        <p class="pb1">CampusNexus includes reporting around course performance. Additional options can be monitored through data views or PowerBI.</p>

                        <p class="ht--p--400 ht--p--16">What metrics (take-up, cost, capacity, load, retention, withdrawals, completion rates etc.) can be used to assess performance?</p>
                        <p class="pb1">CampusNexus includes reporting around course said metrics. Additional options can be monitored through data views or PowerBI.</p>

                        <p class="ht--p--400 ht--p--16">How can the outcomes and relative performance of various elements such as teaching modes (in-person, on-line, self-paced), course scheduling, Student grades, prerequisites of courses be compared?</p>
                        <p class="pb1">CampusNexus includes many out-of-box reports to accommodate said metrics. Additionally, PowerBI CampusNexus allow any variable and field in the system to be used in many ways to correlate data that provide meaningful information to make better informed decisions.</p>

                        <p class="ht--p--400 ht--p--16">How can aggregate student performance used to recommend additional learning options, new programs and other improvements?</p>
                        <p class="pb1">PowerBI and Machine Learning through Azure Cloud Applications can provide predictive analytics based on aggregate learner data. This data can be used to recommend additional learning options based on specific patterns as well as different teaching methodologies based on the result of current courses.</p>

                        <p class="ht--p--400 ht--p--16">What other features and insights does the system offer to help improve programs and services?</p>
                        <p class="pb1">Occupation Insight provides industry and career specific data which can be leveraged to improve institutional services. Given PowerBI’s ability to pull data from multiple resources, the opportunities on leveraging outcome data is endless.</p>
                    </div>


                    <h2 class="faq-question">5.6 Student Recruitment</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">Walk us through the Customer Relationship Management (CRM) features of the system:</p>

                        <p class="ht--p--400 ht--p--16">How is a recruitment campaign planned, deployed and tracked?</p>
                        <p class="pb1">CampusNexus allows institutions to configure and deploy multi-channel communications including email, text messaging, print letters and phone calls. Users can set up a campaign workflow with multiple steps, targeted to specific learners or with actionable outcomes.</p>

                        <p class="ht--p--400 ht--p--16">How does the management of prospects and related correspondence occur?</p>
                        <p class="pb1">Prospects can be assigned to different admissions representatives, either through batch or individually. Additionally, communication strategies can be configured to notify various staff members or learners. All correspondence related to learners is tracked on the learner record, regardless of their stage of matriculation.</p>

                        <p class="ht--p--400 ht--p--16">How do recruiters send messages (emails and texts) and direct mail to potential students?</p>
                        <p class="pb1">Recruiters can send email and SMS messages directly from CampusNexus to any learner or prospect. Each interaction is recorded in the system on the learner record.</p>

                        <p class="ht--p--400 ht--p--16">How is correspondence tracked until an objective is met (e.g. applicant is an enrolled student)?</p>
                        <p class="pb1">CampusNexus keeps track of every interaction associated with the learner. Specific communication strategies can be created to interact in various manners with prospects.</p>

                        <p class="ht--p--400 ht--p--16">How are campaigns created and deployed?</p>
                        <p class="pb1">Campaigns are created in a graphic, drag/drop environment. Once the campaign is active it's considered deployed.</p>

                        <p class="ht--p--400 ht--p--16">How is the effectiveness of a campaigns assessed?</p>
                        <p class="pb1">Each institution determines what are the measurements of success for campaigns. CampusNexus provides several views and reports which can be compared against the expected results.</p>

                        <p class="ht--p--400 ht--p--16">How are prospects and related correspondence managed?</p>
                        <p class="pb1">On each learner record there is a history of all communication sent.</p>

                        <p class="ht--p--400 ht--p--16">What insights or campaign recommendations does the system provide from existing student data? (e.g. – continuing credit courses for past graduates that are relevant to programs / pathways already completed).</p>
                        <p class="pb1">With PowerBI or other out of box reports, data can be analyzed to decipher insights and opportunities for existing learners.</p>

                        <p class="ht--p--400 ht--p--16">How does campaign management integrate with other systems (social media, external systems)?</p>
                        <p class="pb1">The system can integrate with external systems through batch import and export processes, and optional integrations. Specific to social media, optional integrates do exist.</p>

                        <p class="ht--p--400 ht--p--16">What other recruitment features are supported?</p>
                        <p class="pb1">Batch imports of data for prospects, employer accounts and data and high schools are a few examples.</p>

                        <p class="ht--p--400 ht--p--16">How are alumni records tracked and managed?</p>
                        <p class="pb1">As mentioned above, all features of CRM can be leveraged at all stages of the learner’s lifecycle.</p>

                        <p class="ht--p--400 ht--p--16">What other recruitment features are supported?</p>
                        <p class="pb1">Chat, SMS, Contact history and bi-directional data with SIS are a few other options.</p>
                    </div>

                    <h2 class="faq-question">5.7 Student Records</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">Walk through the capabilities related to the intake and management of official student records:</p>

                        <p class="ht--p--400 ht--p--16">How does the system handle the intake and management of transcripts, letters of recommendation and Prior Learning Assessment and Recognition (PLAR) requests?</p>
                        <p class="pb1">Transcript requests can be accommodated manually or through integration with various national systems. Letters of Recommendation and PLAR requests will be handled through CampusNexus’s Document Tracking feature.</p>

                        <p class="ht--p--400 ht--p--16">How are transfers of credit handled?</p>
                        <p class="pb1">CampusNexus includes a Transfer Credits feature which records the source institution information. Based on configuration, transferring course work can satisfying requirements.</p>

                        <p class="ht--p--400 ht--p--16">How does the system handle the graduation process and generation of parchments?</p>
                        <p class="pb1">CampusNexus allow the institution to define the graduation process using configurable options. Parchments and other graduation related documents can be printed out of the system by creating templates, as needed. 3rd party integrations are also available.</p>

                        <p class="ht--p--400 ht--p--16">How does the system handle address changes and the retention of historical addresses?</p>
                        <p class="pb1">CampusNexus stores all learner addresses. Updates to addresses can be completed via self-service or administrative staff, as configured. Alternative address types may also be stored (billing, mailing, reference, parents, employer, agency, etc...).</p>

                        <p class="ht--p--400 ht--p--16">How does the system handle name changes (e.g. maiden name was used during course)?</p>
                        <p class="pb1">CampusNexus allow name changes and save the original name as previous name. It also records field level changes in audit tables viewable by users with previous value, current value, user who made the change and a time stamp.</p>

                        <p class="ht--p--400 ht--p--16">How does the system handle gender and potential gender change over the lifecycle of the relationship with the student?</p>
                        <p class="pb1">CampusNexus allow gender changes throughout the learner lifecycle. It records field level changes in audit tables viewable by users with previous value, current value, user who made the change and a time stamp.</p>

                        <p class="ht--p--400 ht--p--16">How does the system exchange data with archival and document management systems such as Xerox Docushare?</p>
                        <p class="pb1">CampusNexus has integrated capabilities for document management. Additional integrations can be explored to connect to any other system.</p>
                    </div>

                    <h2 class="faq-question">5.8 Student Billing, Payments &amp; Collection</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">(a) Walk us through the student’s billing and payment experience in the system:</p>

                        <p class="ht--p--400 ht--p--16">How does a student calculate course fees?</p>
                        <p class="pb1">CampusNexus is highly configurable and automatically calculate configured course fees upon registration.</p>

                        <p class="ht--p--400 ht--p--16">How does a student pay their dues?</p>
                        <p class="pb1">Learners can make online payments.</p>

                        <p class="ht--p--400 ht--p--16">How are payments from third-parties such as sponsoring companies, bands, etc. handled? (e.g. how are the made?)</p>
                        <p class="pb1">CampusNexus can provide both individual and aggregate invoices to third parties.</p>

                        <p class="ht--p--400 ht--p--16">How are payments for any ancillary or opt-in services (textbooks, college merchandise, special events, library fees, alumni fees etc.) handled?</p>
                        <p class="pb1">Learners can make payments online. These are handled no differently than other transactions.</p>

                        <p class="ht--p--400 ht--p--16">How are payments for resources such as textbooks, computer equipment, etc. Handled?</p>
                        <p class="pb1">Learners can make payments online. These are handled no differently than other transactions.</p>

                        <p class="ht--p--400 ht--p--16">How can a user obtain a current statement, or be subscribed to periodic statements?</p>
                        <p class="pb1">Statements can be viewed online at any time or can be sent via automated communications.</p>


                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) Walk us through the payment administration / receivables handling features in the system:</p>

                        <p class="ht--p--400 ht--p--16">How can a student be supported by staff at any stage in the payment or billing process?</p>
                        <p class="pb1">CampusNexus provides a communication engine to support learners at every stage of the learner lifecycle. The system can automatically generate email, SMS and web alerts automatically based on rules configured related to the billing process.</p>

                        <p class="ht--p--400 ht--p--16">How can rules related to thresholds on outstanding payments be set and enforced?</p>
                        <p class="pb1">CampusNexus includes payment plan functionality which can enforce certain threshold like payment amounts and payment dates. Institutions can leverage workflow tools enforce any rules which payment plans do not cover.</p>

                        <p class="ht--p--400 ht--p--16">How are adjustments and any financial credits handled and communicated?</p>
                        <p class="pb1">Adjustments and financial credits are automatically available for display on the learner’s ledger card. Learners can access this at any time online. Institutions can also create automated notifications to alert learners of these changes.</p>

                        <p class="ht--p--400 ht--p--16">Are there any other receivable reports, such as aging reports available in the system?</p>
                        <p class="pb1">Yes, CampusNexus provides several out of the box reports, such as Aging, Balance by Fund Source, Expected funding and more. Additionally, institutions have the tools to create queries and/or reports to display any data element in the system.</p>

                        <p class="ht--p--400 ht--p--16">How are students / other stakeholders notified and reminded of pending / new charges?</p>
                        <p class="pb1">Learners can view their current ledger card, including pending charges, at any time online. Institutions can also create automated learner and/or staff notifications based upon their specific timetable.</p>

                        <p class="ht--p--400 ht--p--16">How does the system provide proforma quotations / proforma invoices (e.g. Continuing Education, block purchase of corporate courses, etc.)?</p>
                        <p class="pb1">CampusNexus can provide both individual and aggregate invoices. Payments from third parties can be automatically updated to learner’s ledger cards by batch through integrations or posted individually by a staff member if so desired.</p>

                        <p class="ht--p--400 ht--p--16">What payment related analytics can be generated or exported by the system?</p>
                        <p class="pb1">CampusNexus provides several out of the box reports which relate to incoming payments and expected payments. All reports are exportable to Excel, PDF or similar.</p>

                        <p class="ht--p--400 ht--p--16">What other features does the system provide to help students and staff manage the financial aspects of the relationship?</p>
                        <p class="pb1">CampusNexus provides learners complete visibility into their financial situation, real time, at any time. They are also able to accept or decline financial aid awards and loans. Learners can also view expected payments from payment plans to help them budget for those in the future.</p>


                        <p class="ht--p--400 ht--p--16 pb1 pt1">(c) Describe the various payment mediums supported by the system:</p>

                        <p class="ht--p--400 ht--p--16">What payment mediums are supported (cash, credit card, direct debit, purchase order, etc.)?</p>
                        <p class="pb1">CampusNexus support all payment methods listed here.</p>

                        <p class="ht--p--400 ht--p--16">How does the system support scenarios where courses are “gifted”, or gift cards are used?</p>
                        <p class="pb1">CampusNexus can define Non-Cash transaction codes to accommodate gift cards and other non-cash transactions. Additionally, Tuition Discounts functionality can be leverages as-needed.</p>

                        <p class="ht--p--400 ht--p--16">How are recurring or term linked payments (Pay as you go etc., per course, etc.) handled?</p>
                        <p class="pb1">Charges are automatically assessed upon learners registration in CampusNexus. Institutions can require payment in full or can create payment plans with configurable due dates/ amounts. Institutions can also create automated notifications to learner and staff for upcoming and/or past due payments.</p>

                        <p class="ht--p--400 ht--p--16">How does the system interact with payment card providers like Moneris and Square?</p>
                        <p class="pb1">CampusNexus payment API integrates with Moneris and other payment gateways like PayPal, ACI and others. Credit card information is not stored in the system at any time.</p>
                    </div>

                    <h2 class="faq-question">5.9 Financial Aid</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16 pb1">(a) What financial support capabilities can be offered to the student?</p>

                        <p class="ht--p--400 ht--p--16">How does a student assess eligibility for scholarship awards?</p>
                        <p class="pb1">CampusNexus can be leveraged to provide online applications for scholarship awards as well as financial aid estimates/ award letters to display how learners tuition and fees will be covered.</p>

                        <p class="ht--p--400 ht--p--16">Are recommendations provided during the application / enrollment process?</p>
                        <p class="pb1">Institutions leverage the CampusNexus to provide financial aid guidance to learners during the application / enrollment process.</p>

                        <p class="ht--p--400 ht--p--16">How does a student apply for these scholarships?</p>
                        <p class="pb1">Online scholarship applications can be created and provided to learners. Upon completion, the applications can then be automatically routed to the appropriate staff member(s) for review and approval.</p>

                        <p class="ht--p--400 ht--p--16">How does a student find scholarships that are applicable to them?</p>
                        <p class="pb1">Institutions leverage the CampusNexus to provide reference information for learners to find scholarships.</p>

                        <p class="ht--p--400 ht--p--16">How does a student monitor the status of their application?</p>
                        <p class="pb1">Learners can monitor the status of their application at any time when logging into the CampusNexus Institutions can also create and send automated status update communications via text or email.</p>

                        <p class="ht--p--400 ht--p--16">How are students evaluated for suitability / eligibility?</p>
                        <p class="pb1">CampusNexus provides a highly configurable fund source specific evaluation for both awarding and disbursing.</p>


                        <p class="ht--p--400 ht--p--16 pb1 pt1">(b) What tools are available to help administrators post and process scholarships and bursaries?</p>
                        <p class="pb1">CampusNexus provides a configurable and automated scholarship evaluation process to confirm learners eligibility, as well as, to post the funds to the learners ledger card, if so desired. Exceptions are automatically routed to the appropriate staff member for action and resolution.</p>

                        <p class="ht--p--400 ht--p--16">What features are available to notify administrators of available funds and control disbursements from specific funds?</p>
                        <p class="pb1">CampusNexus provides configurable, fund source specific, authorizations that automatically track available, awarded and disbursed funds. The solution automatically prevents over-awarding.</p>

                        <p class="ht--p--400 ht--p--16">How are workflow and communications related to fund management maintained?</p>
                        <p class="pb1">CampusNexus offers workflow driven communications which are maintained based upon individual and/or staff group security.</p>

                        <p class="ht--p--400 ht--p--16">How does fund management integrate with student accounts, institutional general ledger accounts, bank details etc.? </p>
                        <p class="pb1">CampusNexus is a fully integrated solution with fund management, student accounts, institutional general ledger accounts and bank details.</p>
                    </div>

                    <h2 class="faq-question">5.10 Reporting and Analytics</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">What options are available for the generation of reports and data extracts for the Government of Alberta, Federal Agencies, and other parties?</p>
                        <p class="pb1">As part of our commitment and partnership with Canadian institutions, Campus Management will provide the following reports:</p>

                        <ul class="list--normal c-grey--800">
                        	<li>LERS Report (Enrollment reporting)
                            	<ul class="list--normal c-grey--800">
                                    <li>Preliminary component</li>
                                    <li>Projection enrollment component</li>
                                    <li>Fall application enrollments component</li>
                              	</ul>
                            </li>
                        	<li>FIRS Report ( Financial Report)
                            	<ul class="list--normal c-grey--800">
                                    <li>Fund source total reporting and re-conciliation</li>
                                    <li>PFD Cost/FLE Reconciliation (KIPRS)</li>
                              	</ul>
                            </li>
                        	<li>TUITUION Compliance</li>
                        	<li>CIP report  (Comprehensive Institutional Plan report)</li>
                        	<li>Enrollment  Preliminary Survey</li>
                        </ul>

                        <p class="ht--p--400 ht--p--16">What internal reporting capabilities are included in the system? Walk us through an example.</p>
                        <p class="pb1">CampusNexus provides various ways to access your data. There are more than 800 out of box reports included and maintained by Campus Management. Additional reports can be created using SSRS. Reports are run on demand. Data views allow user to create data visualizations and access to real time information. Views can be created by users and can be unique per users, departments and other groups based on need. Dashboards are created leveraging PowerBI to present information near real time to users. Data can be combined with other data sources and presented to users inside CampusNexus.</p>

                        <p class="ht--p--400 ht--p--16">What data export facilities are available in the system?</p>
                        <p class="pb1">CampusNexus allows every report and data view to be exported to Microsoft Excel and PDF.</p>

                        <p class="ht--p--400 ht--p--16">How does the system interface with PowerBI, Tableau, Qlikview, or similar systems?</p>
                        <p class="pb1">CampusNexus provide out of the box integration with PowerBI. Dashboards and other reports created with PowerBI are displayed in the users workspace. </p>
					</div>


                    <h2 class="faq-question">6.1 Describe the technical architecture and availability of the proposed system</h2>
                    <div class="faq-answer">
                    	<p class="ht--p--400 ht--p--16">What is the high-level architecture of the system?</p>
                        <p class="pb1">Please refer to the <a href="/docs/case-studies/cmc/{{language}}/NLC-Architecture-Campus-Management.pdf" target="_blank">architecture presentation</a></p>

                        <p class="ht--p--400 ht--p--16">What is the offered system availability?</p>
                        <p class="pb1">CampusNexus Cloud provides an Application Uptime Service Level Agreement (SLA) of 99.7% uptime for the proposed Premium Tier.</p>

                        <p class="ht--p--400 ht--p--16">Where is the cloud infrastructure located and by whom is it managed?</p>
                        <p class="pb1">CampusNexus Cloud is built on the Microsoft Azure platform and would be deployed to both Canada regions. Campus Management handles all management duties of the application delivery and infrastructure.</p>

                        <p class="ht--p--400 ht--p--16">What operating system do you use?</p>
                        <p class="pb1">CampusNexus Cloud leverages the Windows Server OS and other Platform as a Service (PaaS) products from Microsoft Azure.</p>

                        <p class="ht--p--400 ht--p--16">What technology stack do you utilize in your system?</p>
                        <p class="pb1">Please refer to the <a href="/docs/case-studies/cmc/{{language}}/NLC-Architecture-Campus-Management.pdf" target="_blank">architecture presentation</a></p>

                        <p class="ht--p--400 ht--p--16">How is redundancy configured between system elements?</p>
                        <p class="pb1">CampusNexus Cloud uses Platform as a Service (PaaS) products from Microsoft Azure, this provides elasticity and scalability in the components using load balancing.</p>

                        <p class="ht--p--400 ht--p--16">How is capacity added to the system?</p>
                        <p class="pb1">CampusNexus Cloud is licensed by the number of students in the system. As your license changes, the platform will be managed accordingly. Customers do not need to purchase additional elements.</p>

                        <p class="ht--p--400 ht--p--16">How does your solution scale at peak times?</p>
                        <p class="pb1">CampusNexus Cloud uses Platform as a Service (PaaS) products from Microsoft Azure, this provides elasticity and scalability in the components using load balancing. When worker nodes meet specified metrics, additional workers are added or removed from the pool of resources that deliver the applications.</p>

                        <p class="ht--p--400 ht--p--16">What kind of disaster recovery / business continuity measures do you have in place?</p>
                        <p class="pb1">CampusNexus Cloud maintains a complete Business Continuity Plan which includes Disaster Recovery and management of data backups. These procedures are tested annually and audited to ISO 270001.</p>

                        <p class="ht--p--400 ht--p--16">What is your data archiving / backup process?</p>
                        <p class="pb1">All data is stored storage using data at rest encryption. Data backups are conducted and archived to an alternate data center on the frequency of Hourly for a Week, Daily for a Month, Monthly for a Year. The data backups are stored at a site that can be used to recover services from a disaster. There is a formal business continuity plan that is reviewed and updated.</p>
                    </div>



                    <h2 class="faq-question">6.2 How is confidentiality and integrity of the system maintained?</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">Where is the data stored?</p>
                        <p class="pb1">CampusNexus Cloud stores data in Microsoft Azure, with the primary operating site being Canada Central (Toronto) and the data backup location in Canada East (Quebec City).</p>

                        <p class="ht--p--400 ht--p--16">How are your databases administered?</p>
                        <p class="pb1">CampusNexus Cloud includes all the management of the application delivery, which includes database administration, consistency checks, tuning, backup management.</p>

                        <p class="ht--p--400 ht--p--16">How do you detect potential data corruption / data integrity issues?</p>
                        <p class="pb1">CampusNexus Cloud database administrators have consistency check running and reporting on issues with the data. Any issues are immediately alerted to the team and addressed.</p>

                        <p class="ht--p--400 ht--p--16">Describe the multi-tenancy approach; how do you separate customer instances?</p>
                        <p class="pb1">CampusNexus Cloud uses a single tenant approach, customers are deployed into their own unique database which is not shared by other customers. Each customer is deployed in a unique Azure Subscription boundary.</p>

                        <p class="ht--p--400 ht--p--16">How do you maintain confidentiality of user and student data?</p>
                        <p class="pb1">CampusNexus Cloud uses a single instance architecture. That means each customer is deployed into unique customer subscriptions with complete isolation from other customers. These subscriptions are individual per customer and do not share any virtual servers, storage accounts, databases, identity stores, application servers, or application network. </p>
                        <p class="pb1">Further, data backup archives are also isolated into individual subscription containers per institution. This is also true for the disaster recovery location. This method provides a significant increase in customer data isolation and security. By avoiding data co-mingling, CampusNexus Cloud also reduces the client footprint and desirability of potential cyber attacks, deterring intent. We also apply the appropriate security controls around access and audit through a third party.</p>

                        <p class="ht--p--400 ht--p--16">What happens if there is a privacy breach?</p>
                        <p class="pb1">Campus Management agrees that, in the event of unlawful access to unencrypted Customer Data containing personal information of Customer’s student, prospective student, employee or alumnus resulting in loss, disclosure or alteration of such Customer Data (“Customer Data Breach”), Campus Management shall upon discovery, promptly notify Customer of Customer Data Breach and assist Customer with the notification action required under applicable law; provided, that, to the extent Customer Data Breach was caused by Campus Management, Campus Management shall pay for the costs of notifying the affected individuals pursuant to applicable law, and to the extent Customer Data Breach was caused by Customer, Customer shall pay Campus Management for time and expenses incurred to assist Customer with the analyses and notification of affected individuals. Customer must notify Campus Management promptly about any possible misuse or security incident related to the Campus Management SaaS.</p>
                        <p class="pb1">Note too that Campus Management has proactive security tools that automatically alert in the case of a detected security breach, including signature-based detection and behavior-based detection. In addition, Campus Management regularly scans system vulnerabilities that proactively detect breaches or openings for potential breaches. While no security tool and procedure is 100% fail proof, we are proud of our excellent security track record, validated by our external ISO 27001 certification.</p>
                    </div>



                    <h2 class="faq-question">6.3 Describe the system’s configurability</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">Which public facing web elements appearance can be customized and how?</p>
                        <p class="pb1">Branding, look and feel are defined by the Institution and configured accordingly. Additional web parts and tiles can be added as needed.</p>

                        <p class="ht--p--400 ht--p--16">Which staff / internal facing web elements appearance can be customized and how?</p>
                        <p class="pb1">Customization elements include branding elements such as logos, fonts, CSS. These are done by replacing files and or modifying configuration options in the product.</p>

                        <p class="ht--p--400 ht--p--16">Can external web content be integrated in the experience, if so how?</p>
                        <p class="pb1">Yes, the solution can link to or include custom template files (i.e. supplemental disclosure forms). This can be done in many ways throughout the product and through our Workflow and FormsBuilder application.</p>

                        <p class="ht--p--400 ht--p--16">Can a user personalize their web preferences? How?</p>
                        <p class="pb1">Yes, elements such as language can be set. Additional elements can be set through the use of extensions of the product.</p>

                        <p class="ht--p--400 ht--p--16">How is responsive design used?</p>
                        <p class="pb1">Responsive design is used throughout the web interface for web client and web portals. These interfaces leverage HTML5 and CSS3 which provide flexible content for mobile, tablet, or desktop devices. Elements such as images or media are scaled or sized automatically. Performance on all devices is part of foundation to the design application.</p>

                        <p class="ht--p--400 ht--p--16">How do you configure workflows and business rules?</p>
                        <p class="pb1">Workflow and business rules are considered when configuring the system. Additional rules and workflows can be configured using the Microsoft Workflow engine.</p>

                        <p class="ht--p--400 ht--p--16">How do you create reports and charts?</p>
                        <p class="pb1">Views can be created by users selecting the data points they need. Additional reports can be created using SSRS. Charts and graphs can be authored using PowerBI and presented to users as tiles within their workspace.</p>

                        <p class="ht--p--400 ht--p--16">Can a custom/special feature be requested. If so, what is the process?</p>
                        <p class="pb1">Yes, there are many ways to initiate the request. Our Customer Enablement Management team is your partner ensuring your success, they work closely to understand your needs and enable efficiencies. Customers also interact with other customers in our community portal, where they can collaborate or vote on new features. Lastly, there are customer advisory groups that also provide recommendations to product features.</p>

                        <p class="ht--p--400 ht--p--16">What desktop technologies can the system operate with?</p>
                        <p class="pb1">A desktop or laptop system with modern web browser is all that is required (Windows, Mac, Linux). Additional functionality may be extended using Microsoft Excel and Microsoft Word.</p>

                        <p class="ht--p--400 ht--p--16">What mobile technologies can the system operate with?</p>
                        <p class="pb1">Mobile technologies with an Apple Safari or Google Chrome browser are all that are required. No additional Application downloads are necessary.</p>
                    </div>

                    <h2 class="faq-question">6.4 Describe the system’s upgrade/update process</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">How often do you update/upgrade the SaaS application?</p>
                        <p class="pb1">One major release per year and one minor release per year is expected, with patches available, as-needed. Customers request their application be updated at a time of their choosing by initiating a ServiceDesk request.</p>

                        <p class="ht--p--400 ht--p--16">What kinds of changes require downtime?</p>
                        <p class="pb1">Upgrades and infrastructure maintenance both require downtime, which is planned and announced at least 10 days in advance.</p>

                        <p class="ht--p--400 ht--p--16">How are customizations to the Web interface or other components preserved across updates?</p>
                        <p class="pb1">All configured items, including configured logic specific to each institution are preserved after upgrades. Configuration is stored in the database and those fields are not overwritten by upgrades.</p>

                        <p class="ht--p--400 ht--p--16">How are third-party integrations preserved across updates?</p>
                        <p class="pb1">CampusNexus makes its API library available to customers for use with 3rd party integrations. Upgrades do not overwrite the integrations. In instances where the APIs themselves were updated, integrations should be reverified in a non-production environment before upgrading production.</p>

                        <p class="ht--p--400 ht--p--16">How are clients notified and updates tested before promoting to production?</p>
                        <p class="pb1">Customers initiate the request, so they are aware of when the updates are made.</p>

                        <p class="ht--p--400 ht--p--16">How does rollback occur if updates are not successful?</p>
                        <p class="pb1">In the rare case this would happen, it would be handled by the Cloud Services team, restoring the application to a running state. This may include rolling back application files and restoring the databases to a pre-upgrade state from backup.</p>
                    </div>

                    <h2 class="faq-question">6.5 Maintenance and Support</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">Walk us through your maintenance and support plan, if provided.</p>
                        <p class="pb1">Campus Management offers multiple maintenance and support options that include incremental services at each tier. Our Enterprise package gives you unlimited access to support personnel during business hours, unlimited use of our ServiceDesk and Knowledge Base systems, off-hours and weekend upgrades, and after-hours emergency availability for critical, business impacting issues. Enterprise customers will also have access to non-production environments, a robust backup routine, uptime SLAs, and disaster recovery. Maintenance includes error correction, availability, installation, and upgrades of all Campus Management solutions.</p>

                        <p class="ht--p--400 ht--p--16">How is Tier 1, Tier 2 and Tier 3 support provided?</p>
                        <p class="pb1">All incidents and service requests start with a phone call or submission through ServiceDesk, our online incident tracking system. Customers are assigned a designated Account Owner that will triage incidents, provide updates and status on incidents in other departments including Development, and provide resolutions to submitted incidents via the Campus Management ServiceDesk system. The Account Owner will be able to escalate incidents through the appropriate tiers in Client Services as well as all other channels within Campus Management, including Development, Professional Services, and Cloud Services.</p>
                        <p class="pb1">Our global Client Services team is comprised of 95 team members that vary in range of experience and have been employed with Campus Management from 1 year to 15+ years. Many of our Account Owners (Client Services Analysts) come to us with a higher education background and continue their growth through our onboarding and ongoing training initiatives. The specific roles in the Client Services department include Analysts (Account Owners), Senior Analysts, Operations and Technical Leads, Solution Architects, Project Readiness Management, and Management. Most of our technical and application resources have received Bachelor’s Degrees in Information Systems or a related field of study, HDI Certified Support Center Analyst certifications, and/or certifications on Microsoft technologies.</p>

                        <p class="ht--p--400 ht--p--16">What is the proposed Mean Time to Respond (MTTR)?</p>
                        <p class="pb1">Client Services does not provide a response SLA on submitted incidents. We do have severity classification guidelines (Severity 1-4) and give each customer the ability to set the urgency for a submitted incident via our ServiceDesk system. We also assign a designated Account Owner to your organization who will immediately triage and troubleshoot reported issues and will be your liaison during the entire process of getting your incident resolved. Your Account Owner will escalate/troubleshoot each incident based on severity/urgency and will provide updates frequently until a resolution is provided. Severity 1 (system down, financial business impact) incidents are handled with the highest priority across the organization and our teams provide immediate assistance as well as escalation for prompt resolution.</p>

                        <p class="ht--p--400 ht--p--16">How are site certificates kept up to date?</p>
                        <p class="pb1">CampusNexus Cloud monitors all site certificates for expiration and works with customers in advance for their replacement prior to expectation.</p>

                        <p class="ht--p--400 ht--p--16">How are user accounts and access privileges provisioned and managed?</p>
                        <p class="pb1">Customers directly manage their accounts and privileges using their local Active Directory and the application. Changes made to security are updated immediately.</p>

                        <p class="ht--p--400 ht--p--16">How are user accounts managed (and expired, etc.) for sessional staff?</p>
                        <p class="pb1">Customers directly manage their accounts and privileges using their Active Directory and the application. AD account expiration can be configured for seasonal staff.</p>
                    </div>

                    <h2 class="faq-question">6.6 Third Party Integration</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">What application programming interfaces are supported?</p>
                        <p class="pb1">Web Service/Application Programming Interface (API) are  SOAP-based Web services and Windows Communication Foundation (WCF) services. The Web services are grouped in categories corresponding to the functional areas of CampusNexus in which a customer would typically want to build integrations or update data through Web services.</p>
                        <p class="pb1">Additionally, REST APIs (Odata Protocol) exist for Query and Command model which are used in CampusNexus application and are exposed for 3rd party integrations as well.</p>

                        <p class="ht--p--400 ht--p--16">What level of vendor assistance is required integrate with third party systems?</p>
                        <p class="pb1">CampusNexus has an open architecture. Third party integrations leverage the built-in APS, in conjunction with an integration layer to push/pull data between CampusNexus and the 3rd party solution. Campus Management can build the integrations, or support the customer in building them. The difference typically lies in the customer’s technical resource knowledge and capacity.</p>

                        <p class="ht--p--400 ht--p--16">How does the system interact with Moodle, D2L/Brightspace etc.?</p>
                        <p class="pb1">Campus Management offers packaged LMS integrations that synchronize accounts, registrations, grades and attendance (defined differently for ground and online courses)</p>

                        <p class="ht--p--400 ht--p--16">How does the system interact with other third- party systems?</p>
                        <p class="pb1">CampusNexus leverages Microsoft’s event-driven services architecture to facilitate integrations. </p>

                        <p class="ht--p--400 ht--p--16">Which web collaboration suites do you integrate with? (Office 365, Google G Suite etc.)</p>
                        <p class="pb1">Office 365 is our preferred collaboration suite. Campus Management’s partnership with Microsoft allows us to leverage capabilities with Office 365, Azure, etc., with minimal development overhead.</p>
                    </div>

                    <h2 class="faq-question">6.7 Describe Security Architecture for the System</h2>
                    <div class="faq-answer">
                        <p class="ht--p--400 ht--p--16">Does the system support single-sign-on (SSO) and multi-factor authentication?</p>
                        <p class="pb1">CampusNexus Cloud supports SSO with Active Directory, with optional extension using Azure Active Directory. Customers may purchase multi-factor authentication capabilities with Azure Active Directory separately.</p>

                        <p class="ht--p--400 ht--p--16">What security standards does your proposed solution meet?</p>
                        <p class="pb1">CampusNexus Cloud is certified to ISO27001 standards and has SSAE16 SOC Type II audits annually by a third party. In addition, all application delivery occurs from the Microsoft Azure cloud which has many additional certifications listed in the Microsoft Trust Center.</p>

                        <p class="ht--p--400 ht--p--16">How is your system and network security managed and monitored?</p>
                        <p class="pb1">CampusNexus Cloud is managed by an experienced worldwide team. We leverage unified alerting and event collection on the Microsoft OMS platform. This platform uses AI to correlate events and alerts which can proactively address possible issues.</p>

                        <p class="ht--p--400 ht--p--16">How are security violations tracked, escalated and handled?</p>
                        <p class="pb1">All security incidents are tracked internally through a ticketing system by our corporate security team. This team includes security personnel and CISO.</p>

                        <p class="ht--p--400 ht--p--16">What audit trail functionality is provided and to what extent are user actions logged?</p>
                        <p class="pb1">As access and authentication occurs from the customer’s Active Directory, the customer has direct access to authentication events. In addition, specific audit data is available within the application and SQL data.</p>

                        <p class="ht--p--400 ht--p--16">Are your facilities PCI/DSS compliant?</p>
                        <p class="pb1">CampusNexus Cloud is built on the Microsoft Azure platform. CampusNexus Cloud does not store or process PCI data, therefore is not eligible for compliance. However, the Microsoft Azure platform is PCI/DSS compliant and compliance information is available in the Microsoft Trust Center.</p>

                        <p class="ht--p--400 ht--p--16">What encryption does the system use for data in transit and at rest?</p>
                        <p class="pb1">CampusNexus Cloud utilizes AES-256 TLS (SSL certificates) for all data in transit. All data and backup data is stored using AES-256 storage encryption.</p>

                        <p class="ht--p--400 ht--p--16">What authentication technologies does the system use?</p>
                        <p class="pb1">CampusNexus Cloud uses Windows Active Directory, with supplemental support for Azure Active Directory.</p>

                        <p class="ht--p--400 ht--p--16">How does the system integrate with Azure AD (or other multi-tenant, cloud based directory, and identity management services)?</p>
                        <p class="pb1">CampusNexus Cloud supports Azure Active Directory for all web delivered components such as Student Portal, Student Web Client, FormsBuilder, and APIs.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
         	<div class="box-item box-item--not-flex col-xs-12 col-sm-6 video-box pt2-5--sm">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/x_G1y8xBfU8?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Demo"
                    ></iframe>
                </div>
            </div>
            <div class="box-item  col-xs-12 col-sm-6 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Demonstration Follow Up Items
                </h2>
                <a
                    href="/docs/case-studies/cmc/{{language}}/CampusNexus-Application-Insights.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Student Application Insights</a>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/solution-sheets.png"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Solution Sheets
                </h2>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexusCRM-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus CRM</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Student</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Cloud-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Cloud</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Architecture-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Architecture</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Full-Suite-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Full Suite</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Occupation Insight</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/Why-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Why Campus Management</a>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/case-study.png"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Case Studies
                </h2>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Arkansas-State-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Arkansas State University - Beebe</a>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Central-Arizona-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Central Arizona College</a>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Valley-College-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Valley College</a>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Penn-State-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Penn State University</a>
            </div>
        </div>
    </div>



</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
