---
# <!-- @formatter:off -->
title: The Wisconsin Association of Independent Colleges and Universities
page-bg-image: /images/pages/demos/MNSCU/MNSCU-page-bkg-blue.jpg
page-bg-image--xs: /images/pages/demos/WAICU/WAICU-410x730-bkg-blue.jpg
pageCssClass: has-page-bg-image
additional-stylesheets:
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--2 container--header container--header-with-img"
    >
        <header class="c c-white">
            <img
                class="block c mb1"
                src="/images/pages/demos/WAICU/WAICU-logo-circle.png"
                alt=""
                loading="eager"
                inline-img-dims
            />
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                The Power of Partnership
            </h2>

            <p>
                Welcome to The Wisconsin Association of Independent Colleges and
                Universities/Campus Management Partner site. We are proud to
                partner with the institutions of Wisconsin state. Campus
                Management offers powerful solutions that provide comprehensive
                views across campus of constituent engagement. From prospects,
                applicants, students and alumni, Campus Management helps drive
                behavior to successful outcomes.
            </p>

            <p class="mb0">
                This site contains the basic information you may need regarding
                all products and services covered. Please reach out to us for
                further information.
            </p>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
            Product Overview &amp; Information
        </h2>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2-5">
            <h3 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                CampusNexus Engage
            </h3>
            <div class="box-v4 box-v4--1-1">
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/N76SA3TtG9U?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusNexus Engage"
                        ></iframe>
                    </div>
                </div>
                <div class="left">
                    <p class="ht--s--22 c-theme-primary-dark">
                        Imagine an Intelligent Engagement Platform built on the
                        Microsoft Platform
                    </p>
                    <p class="ht--p--400 c-grey--800">
                        CampusNexus Engage is the Future of CRM Solutions.
                    </p>
                    <p>
                        Learn about CampusNexus Engage and a higher education
                        digital assistant for CampusNexus solutions, built with
                        Microsoft artificial intelligence and machine learning
                        services.
                    </p>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li class="cmc-article__link-list-item">
                            <a
                                class="pill-button"
                                href="/products/crm-for-higher-education/"
                                target="_blank"
                                rel="noopener"
                                >Learn More</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h3 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                CampusNexus Occupation Insight
            </h3>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Occupation Insight"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <p class="ht--s--22 c-theme-primary-dark">
                        Imagine Helping Your Students to Look Beyond Graduation
                    </p>
                    <p class="ht--p--400 c-grey--800">
                        CampusNexus Occupation Insight Delivers that Today.
                    </p>
                    <p>
                        Learn how CampusNexus Occupation Insight leverages
                        machine learning to predict needs, prescribe actions and
                        influence outcomes, while assisting your students to
                        plan their futures beyond the classroom.
                    </p>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li class="cmc-article__link-list-item">
                            <a
                                class="pill-button"
                                href="/products/student-success-through-workforce-analytics/"
                                target="_blank"
                                rel="noopener"
                                >Learn More</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000 reverse">
        <div class="container container--color-boxes box-v4 box-v4--flex-1-3">
            <div class="c flexcol bgc-grey--200">
                <p class="c ht--s--28 c-theme-primary-dark">
                    Solution Sheets
                </p>
                <p>
                    Explore how Campus Management's solutions can transform your
                    institution to proactively engage students.
                </p>
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/higher-education-resources/product-sheets/"
                    >More
                </a>
            </div>
            <div class="c flexcol bgc-grey--300">
                <p class="c ht--s--28 c-theme-primary-dark">
                    Case Studies
                </p>
                <p>
                    Explore how institutions are transforming student
                    engagement, retention, and outcomes utilizing Campus
                    Management solutions.
                </p>
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/higher-education-resources/case-studies/"
                    >More
                </a>
            </div>
            <div class="c flexcol bgc-grey--200">
                <p class="c ht--s--28 c-theme-primary-dark">
                    On-Demand Webinars
                </p>
                <p>
                    Webcasts featuring industry thought leaders, peer
                    institutions, and Campus Management subject matter experts.
                </p>
                <a
                    class="pill-button box-item__link c"
                    href="{{url-lang-prefix}}/higher-education-resources/webcasts/"
                    >More
                </a>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
            Testimonials
        </h2>
    </div>

    <div class="bgg-grey-200-to-grey-300 reverse">
        <div class="container container--color-boxes box-v4 box-v4--1-1">
            <div class="left bgc-grey--300">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                >
                    <iframe
                        data-src="https://www.youtube.com/embed/xbPvjcTXaQg?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Marymount California University"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
            <div class="right bgc-grey--200">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                >
                    <iframe
                        data-src="https://www.youtube.com/embed/JV92YG7Dh10?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Marymount California University"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div class="container container--color-boxes box-v4 box-v4--1-1">
            <div class="left bgc-grey--300 bgc--sm--grey--200">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                >
                    <iframe
                        data-src="https://www.youtube.com/embed/VrMp71nckg8?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Chatham University"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
            <div class="right bgc-grey--200 bgc--sm--grey--300">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                >
                    <iframe
                        data-src="https://www.youtube.com/embed/dCMombH-ltk?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Central Arizona College"
                        class="lazyload"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
            Partnerships
        </h2>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-410"
                        src="/images/pages/demos/MNSCU/microsoft-award.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h3 class="ht--s--28 c-theme-primary-dark">
                        Microsoft
                    </h3>
                    <p>
                        Campus Management has been named the 2018 Microsoft
                        Global Partner of the Year Award Winner for Education.
                        The company was honored among a global field of top
                        Microsoft partners for demonstrating excellence in
                        innovation and implementation of customer solutions
                        based on Microsoft technology.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container container--2">
        <h2 class="section-label ht--s--30-46">
            Meet the Team
        </h2>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-410"
                        src="/images/pages/demos/WAICU/b-bleiman-headshot-140x140.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h3 class="ht--s--28 c-theme-primary-dark">
                        Bruce Bleiman
                    </h3>
                    <p class="ht--p--400">Vice President Sales - East</p>
                    <p>
                        Bruce Bleiman serves as Vice President of Sales, leading
                        the customer-facing professionals in the Eastern Region
                        of North America. Bruce has served over 25 years in
                        higher education with ABT, SCT, SunGard Higher
                        Education/Ellucian, Evisions and Campus Management in a
                        variety of sales leadership positions. He has a BS in
                        Business Administration from the Drexel University.
                    </p>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li class="cmc-article__link-list-item">
                            <a
                                class="pill-button cmc-article__link mb0"
                                href="mailto:bbleiman@campusmgmt.com"
                                >Contact Bruce</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2-5">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-410"
                        src="/images/pages/demos/WAICU/g-stipe-headshot-140x140.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h3 class="ht--s--28 c-theme-primary-dark">
                        Gayle Stipe
                    </h3>
                    <p class="ht--p--400 c-grey--800">Regional Sales Manager</p>
                    <p>
                        Gayle Stipe is a Regional Sales Manager, responsible for
                        working with new clients in the MidWest. Gayle has spent
                        her professional career working in technology sales,
                        with 15 years serving higher education selling
                        ERP, Advancement Solutions, CRM, analytics and others
                        technology solutions to help institutions solve
                        operational and improve the student education
                        experience.
                    </p>
                    <ul
                        class="cmc-article__link-list cmc-article__link-list--centered"
                    >
                        <li class="cmc-article__link-list-item">
                            <a
                                class="pill-button cmc-article__link mb0"
                                href="mailto:gstipe@campusmgmt.com"
                                >Contact Gayle</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
