---
# <!-- @formatter:off -->
title: Renewal Request Form
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
    - href: /styles/pages/pre-box-v4.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="header-sm-constrain-width c">
        <h1 class="ht--s--38 c-theme-primary-dark">{{title}}</h1>
        <p class="mb0">
            Please complete the from below to submit a question.
        </p>
    </div>
</div>
<form
    id="requestDemoForm"
    class="cmc-form cmc-form--centered js--simple-form"
    action="waicu-request/?site=cmc&group=en-us"
    data-success-redirect-url="/demos/WAICU/"
>
    <fieldset>
        <ul>
            <li>
                <label class="required" for="firstName">First Name</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        required
                        autocomplete="given-name"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="lastName">Last Name</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="lastName"
                        id="lastName"
                        required
                        autocomplete="family-name"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="institution">Institution</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="institution"
                        id="institution"
                        required
                        autocomplete="org"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="email">Email</label>
                <div class="input-wrapper">
                    <input
                        type="email"
                        name="email"
                        id="email"
                        required
                        autocomplete="email"
                    />
                </div>
            </li>
            <li>
                <label class="required" for="phone">Phone</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="phone"
                        id="phone"
                        required
                        autocomplete="tel-national"
                    />
                </div>
            </li>

            <li>
                <label class="required tallInputLabel" for="message"
                    >What solution(s) would you like more information on?</label
                >
                <div class="input-wrapper">
                    <textarea name="message" id="message" required></textarea>
                </div>
            </li>
            <li class="cmc-form__submit-row">
                <button
                    type="submit"
                    class="pill-button cmc-form__submit-button"
                    name="btnSave"
                >
                    Submit
                </button>
            </li>
        </ul>
        <p class="pt1">
            Any personal information you provide to us using this form will be
            processed in accordance with our
            <a href="{{url-lang-prefix}}/about-us/privacy/">privacy policy</a>.
        </p>
    </fieldset>
</form>

{{/content}} {{/extend}}
