<div class="horizontal-menu__wrapper">
    <ul class="s3-doc-list__menu sf-menu horizontal-menu"></ul>
</div>
<div class="bgc-grey--100">
    <div class="horizontal-menu__pagination-wrapper">
        <div class="box-v4 box-v4--1-1">
            <span
                class="horizontal-menu__selected-filter-text"
            ></span>
            <nav
                aria-label="document pagination"
                class="s3-doc-list__pagination"
            ></nav>
        </div>
    </div>
</div>

<div
    class="s3-doc-list s3-doc-list--v2 current-openings__list bgc-white"
></div>
