<div class='current-openings__item__content'>
    <div class='current-openings__item__header'>
        <div class='current-openings__item__title-wrapper'>
            <h3
                class='ht--s--22 c-theme-primary-dark current-openings__item__title'
            >
                {{jobtitle}}
            </h3>
            <div class='ht--p--16-20 current-openings__item__location'>
                {{joblocname}}
            </div>
        </div>

        <div class='current-openings__item__category-wrapper'>
            <div class='ht--p--16 current-openings__item__category'>
                {{jobcatname}} | {{jobtypename}}
            </div>
            <button class='pill-button current-openings__item__details-btn'>
                Details
            </button>
        </div>
    </div>
    <div class='current-openings__item__expand'>
        <h4 class='ht--s--20 c-theme-tertiary'>
            Job Description
        </h4>
        <div class='ht--p--16 current-openings__item__description'>
            {{{description}}}
        </div>
        <h4 class='ht--s--20 c-theme-tertiary'>
            Skills &amp; Requirements
        </h4>
        <div class='ht--p--16 current-openings__item__skills'>
            {{{skills}}}
        </div>
        <ul class='pill-list pill-list--centered'>
            <li class='pill-list__item'>
                <a
                    class='pill-button'
                    href="{{applyurl}}"
                    rel='noopener'
                    target='_blank'
                >
                    Apply
                </a>
            </li>
        </ul>
    </div>
</div>
