---
# <!-- @formatter:off -->
title: CRM Not Just for Admissions
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000 ">
        <div class="container container--2">
            <p class="c ht--s--28 c-theme-primary-dark mb2--sm">
                How Four Institutions Are Extending CRM Across the Enterprise
            </p>

            <p>
                Tracking and managing student engagement across the student
                lifecycle has become a priority on many campuses. In a recent
                webinar, The University of Ottawa, Hunter College of the City
                University of New York, Monte Ahuja College of Business,
                Cleveland State University and Hiram College described how they
                are using
                <a href="/products/crm-for-higher-education/">CRM</a> to not
                only admit the right students but to support them throughout the
                admissions and enrollment lifecycle, to keep them on the path to
                success.
            </p>

            <p>
                Speakers:<br />
                <strong>Louis-Philippe (“LP”) Basque</strong>,
                <em>CRM System Administrator and Analyst – SEM</em>, The
                University of Ottawa<br />

                <strong>Jason Williams</strong>,
                <em>Associate Director, Office of Student Communications</em>,
                Hunter College – the City University of New York (CUNY)<br />

                <strong>Heather Schlosser</strong>,
                <em>Manager, Marketing Communications,</em>, Cleveland State
                University<br />

                <strong>Jana Willan</strong>,
                <em>Associate Director of Admissions</em>, Hiram College
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Heather, what are some of the ways communications are changing
                at Cleveland State?
            </h2>

            <p>
                <strong>Heather (Cleveland State):</strong> I collaborate with a
                lot of folks across campus. Our study abroad team, alumni
                affairs team, university marketing team, advancement team. I
                know when their communications are going out. This way I’m not
                bombarding the business students with emails and text messages.
                I feel like the most important thing is to view our students as
                consumers and identify what content they want and when, and to
                not overwhelm them.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                LP, what have you found to be the primary benefits of
                centralizing and tracking enrolled student engagement within the
                CRM at uOttawa?
            </h2>

            <p>
                <strong>Louis-Philippe (uOttawa):</strong> We saw that we had to
                centralize everything. We sat down with teams across the
                institution and evaluated how to input the data into our system.
                Once we did the evaluation, we could clearly show them their
                weak points and where they need to be in in terms of the data.
                Then we do big data analysis on that data and pull reports with
                Microsoft Power BI.
            </p>

            <p>
                By doing that for the past five years, we’ve been able to focus
                more on retention. We have really good data in the system that
                we can take advantage of to focus on bigger projects such as
                retention.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Jason, we know that sharing, centralizing and analyzing data is
                a core focus of your unit at Hunter College as well.
            </h2>

            <p>
                <strong>Jason (Hunter College):</strong> One of the benefits
                that we have found is that we’re all on the same page now and
                using the same voice as a team. We try to keep our emails short
                and sweet and limit to one call of action, which is very
                helpful.
            </p>

            <p>
                As a centralized team, we have a great working relationship, and
                it helps us to get things done in a seamless way. We also are
                able to balance and coordinate email deliveries. Since we send
                email for the whole division of student affairs, we’re able to
                see where other emails are in the
                <a href="/products/crm-for-higher-education/">CRM</a> queue.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Heather, can you share with us a bit about some of the factors
                that you found are crucial to the success of supporting
                multi-departmental use of CRM?
            </h2>

            <p>
                <strong>Heather (Cleveland State University):</strong> It
                started with getting everybody together within my college to
                shift from a “my and me” kind of mentality to a “we and our.”
                When we communicate with MBA and graduate prospects, we now have
                more view through, more metrics, and more insight into their
                behavior. Other units across campus started to see us as more
                collaborative, more transparent. We have a lot of current
                students that attend events from other majors across campus.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Let’s talk a little bit about governance. L.P., how many users
                do you have across campus and how do you handle system
                governance at the University of Ottawa?
            </h2>

            <p>
                <strong>Louis-Philippe (uOttawa):</strong> We currently have
                around 700 users and 102 teams logging in to our system, but
                those numbers change all the time. We added another team
                yesterday, a completely new team from a sector. If you're not
                showing the users how to input data correctly or how to send
                communications properly, the data could be messed up. Or the
                school’s vision, image and brand will be completely different
                across each sector.
            </p>

            <p>
                We put the emphasis on having power users in different teams,
                and making sure they are always in communication with us. My
                team analyzes their data daily to see how they’re inputting the
                information. You don't want to wait for a cycle or for a month
                to go by before you notice that a new employee is inputting data
                wrong.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Jason, can you tell us about how many users you have across
                campus and a little bit about how your team handles system
                governance?
            </h2>

            <p>
                <strong>Jason (Hunter College):</strong> At Hunter, we have
                about 400 users across campus. Some of those users are logging
                in daily. Most of them are logging in on a month-to-month basis.
                In terms of system governance, we do access on a jujitsu black
                belt level. We’re trusted users and everyone else is either
                considered a white, a blue, a purple, or a brown belt. That lets
                us say in a quick way to our team what access users should get.
            </p>

            <p>
                Someone with a white belt may only be able to see event
                registrations. Someone with a higher belt may be able to create
                an event or ask us to add something to an event. That’s how
                we’ve broken up the system governance.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Jana, do you have any advice on how best to get started on
                gaining buy-in from other departments?
            </h2>

            <p>
                <strong>Jana (Hiram College):</strong> It all comes back to
                communication and creative problem solving. As we've been
                overhauling all of our processes and focusing on streamlining
                operations, we’ve been transparent about how much transition the
                admission office is going through and how it may affect other
                departments. So we asked how data is flowing into their
                department and how it’s being used as a recruitment tool. We
                also do test runs and continually check in for adjustments and
                fixes.
            </p>

            <p>
                Also framing the inclusion as a benefit and ensuring they’re
                getting benefits from using the system is important. As long as
                it's mutually beneficial, it significantly cuts down on passing
                paper and emails back and forth and puts everything into an
                easily trackable system where we can see data completion and
                offices can be held accountable.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Heather, I know transitioning and gaining buy-in from other
                departments is not always easy.
            </h2>

            <p>
                <strong>Heather (Cleveland State University):</strong> It’s not.
                But it’s very much worth it. For us, the main thing is not
                making assumptions about what other people need or what other
                people are doing. And not making assumptions about what already
                exists in the system. I’ll give you one example. Having a
                contact attribute for a LinkedIn profile link. It seems like
                it's an obvious thing, but it wasn't.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                As you’re communicating with your enrolled students, do you ask
                them for their preferred method of communication and if so, what
                do you find to be the most effective or preferred method?
            </h2>

            <p>
                <strong>Louis-Philippe (uOttawa):</strong> We don’t actually ask
                for their preferred method. All of our main communications
                coming from the registrar, from the university on deadlines, on
                anything that's academic is sent via email. So we have proof
                that it's delivered into their inbox. Either they viewed it, or
                it bounced and we try it again.
            </p>

            <p>
                All other means of communication are a different story. That's
                where we explain to the teams that are pushing out messages to
                our enrolled population to try different types of forms of
                communicating, either by social media, student portal, or by
                email. The email itself is just one type of communication tool
                that’s out there. We try to slow down the use of it. We want our
                students to know that when they receive an email from the
                university that it's something they should look at.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="c flexcol">
                <h3 class="ht--s--22-28 c-theme-primary-dark mb2--sm">
                    View the On-Demand Webinar "CRM: Not Just for Admissions"
                </h3>
                <a
                    class="pill-button c block bottom"
                    href="https://info.campusmanagement.com/crm-not-just-for-admissions"
                    target="_blank"
                    rel="noopener"
                    >View Webinar</a
                >
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
