---
# <!-- @formatter:off -->
title: How Small Colleges Can Drive and Manage Rapid Growth
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <p class="ht--s--28 c-theme-primary-dark">
                Matt Jenkins
            </p>

            <p class="ht--s--20 c-theme-tertiary">
                Corporate Director of Operations, Valley College
            </p>

            <p>
                In a recent webcast, Matt Jenkins explained how Valley College
                (West Virginia) managed to grow efficiently and cost-effectively
                while increasing enrollment 100% in just 12 months. Gain insight
                into how you can achieve this at your small college by reading
                this thought-provoking Q&amp;A session.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Is there opportunity for growth online?
            </h2>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> What we love about our
                customers, our organization and technology is watching
                institutions grow from the time that we engage them initially
                and how they just expand over time. It is really important when
                we engage with our customers, we engage with any of our industry
                peers, that we embrace growth.
            </p>

            <p>
                When you embrace growth it is recognizing that there is an ebb
                and flow of growth. You don’t just implement a new technology
                and push a button and all of a sudden you’re growing your
                population. It moves through your organization. Typically, it
                starts with investment in technology tools, marketing dollars,
                positioning your institution and your area with your programs.
            </p>

            <p>
                You then start to see an increase in prospects coming in.
                Increase in applications and so typically you start to scale
                your organization starting at the front end and then moving
                through the back end. You want to do it appropriately at the
                right time so your students are feeling engaged and feel
                important while you are able to manage those administrative
                tasks. You don’t want to overengineer administrative tasks so
                that you lose the ability to connect with these students now
                that you’ve got them in the door.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How do you plan for growth?
            </h2>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> The first part of embracing
                growth is really understanding what your plan for growth is. How
                you’re going to handle the increased volume whether it is just
                time to first contact, to approve applicants, getting those
                transcripts and transfer credits in so you can be properly
                packaged and properly scheduled and having more students means
                having a different way of scheduling faculty and recruiting.
            </p>

            <p>
                You may have operated very, very successfully at your size for a
                long period of time running a set of schedules but as you start
                to have more students come in you have to front load your first
                classes or prerequisite classes in the beginning. So you need to
                make sure that as you set milestones for growth you have an
                opportunity to reevaluate different ways in which you roll your
                curriculum out, different ways in which you think about
                scheduling or faculty recruiting or faculty loading or course
                offering.
            </p>

            <p>
                You don’t want to create a situation where your students can’t
                get the classes that they need to move forward or an environment
                that is too rigid for them to be able to stick with it and have
                the options that they need to stay engaged and be successful.
                When you are designing processes or putting in a new system, you
                want to be open to change.
            </p>

            <p>
                We are all about adapting and transformation. Looking at the way
                that you used to do things, looking at the new technology and
                tools that are available and rethinking the way that you do
                things to take full advantage of all the technology and the
                capabilities and modern business practices that are out there.
                You may have to do things a little bit differently in order to
                get those efficiencies that you want and that can be very
                difficult for people to grasp or accept over time.
            </p>

            <p>
                An important thing that we always talk to with our clients
                is…Okay, what are the milestones we want to reassess? Are we at
                a point where we are struggling to have 30 students managed by
                financial aid processors? Do we now have it under control? Are
                they now handling 100 at a time. So let’s focus our energies now
                on having a better student facing experience by using other
                features that we weren’t able to implement or go live because we
                weren’t ready for it.
            </p>

            <p>
                The same for the 90/10 report. We got to a certain place, we see
                the money coming in, we see the things getting posted to the
                ledger card and now we can report on it. Okay, now I can start
                taking advantage of the out of the box features where I wasn’t
                mature enough to use them in the beginning.
            </p>

            <p>
                It is really important to remember that even though all of our
                institutions are unique and we all do things differently, we all
                do a lot of things alike and there is someone out there that
                already solved the problem that you are trying to solve so get
                to know your industry peers. Your peers will challenge your
                assumptions and give you new ideas or tell you stories about how
                they went through different growing pains so really be engaged
                and be opened to your peers in the industry.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How do we continue to grow?
            </h2>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> You’re going to realize that
                the processes that you created were probably not as efficient as
                you thought but based off the information you had at the time
                was the best that you thought you could do so be open to looking
                for red flags, for performance starting to stagger, things
                starting to take longer or time delays in your processes and be
                open to challenge yourself…Are we using the systems the way that
                they should be used or are we making it more difficult for
                ourselves?
            </p>

            <p>
                It is really important for all of us to be able to be open and
                adaptive to change for the students' benefit. You want to have
                most of your people’s time spent engaging with students so you
                are not looking for them after they leave. You should be engaged
                with them and know before they start to leave that this person
                is in trouble or they have fears that need to be managed and
                things like that. On top of that, all the software companies are
                constantly developing new features, constantly adapting to
                changes in the market and so your institution should be open to
                looking at those changes and changing the way they do business
                also.
            </p>

            <p>
                <strong>Information Gathering:</strong> It is really important
                for key stakeholders who take ownership of the features and
                applications to understand how their business processes impacts
                other departments. It is also impoetant to build this
                collaborative environment of people who are experts in the
                system, who are experts in your business, who can work with the
                technology teams, who can listen to your executive or your
                Provost and be able to take the goals that the university has
                and execute them in a cohesive and collaborative way. Once an
                institution starts to do this, they will see huge gains in
                efficiency and automation and just overall satisfaction in the
                organization altogether.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What is the master schedule and how does it help with retention?
            </h2>

            <p>
                <strong>MATT JENKINS:</strong> When a student enrolls their
                schedules are already set up in CampusNexus Student so we can
                track their progression. Campus directors run the master student
                listing summary to tell them how many students they have, when
                the last time they were in the building was and it gives them a
                real time snapshot. That is one of the major things that I can
                think of off of that report that really helped us with
                retention. Our retention rate for each campus ranged from 83% at
                our higher campus to 74% at our lower campus. Online retention
                was our lowest at 74% but that is pretty typical.
            </p>

            <p>
                For anybody who has worked in the online industry and worked for
                an online school knows, typically online retention is going to
                be lower than an on campus retention rate as it is.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                When the student registers, do they register for courses per
                semester or for complete degree completion?
            </h2>

            <p>
                <strong>MATT JENKINS:</strong> Our programs are typically
                short-term certificate programs and we do offer some associate
                degrees. When our students enroll and register, they are
                registered for the entire program and so their course schedule
                is set up in the master student schedule. Basically, we can
                track how many courses they are in at the time, how many they
                have left, how many they have completed. That is the way our
                system is set up.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Does CampusNexus support clock hour programs and if so how does
                it integrate with systems?
            </h2>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> CampusNexus Student supports
                all six financial and academic calendars and clock hour
                specifically. We’ve done a lot of innovations over the last two
                years including automated payment period based off of all three
                of the reporting rules whether it is at the time the student
                hits the mid-point of attended hours or scheduled hours or
                successfully completes both the hours and the weeks.
            </p>

            <p>
                We also have a thing called the student pace evaluator which
                basically monitors a student’s academic progression so as a
                student attends at the right rate…and this is for non-term or
                clock hour…the system automatically updates the payment period
                and loan payment period dates and sends that information back to
                CRD so you have a lot of clock hour and non-term functionality
                built within our system.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How do I manage the changes that are needed once I grow?
            </h2>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> Before you start adding more
                people to do the same thing you did before the growth occurred
                look at where you can leverage automation or data-driven
                decisions.
            </p>
            <p>Understand the volatility of growth:</p>

            <ul class="list--normal list--has-lead-in">
                <li>New interest leads to higher contact volume</li>
                <li>
                    More applications to be reviewed lead to more enrollments
                </li>
                <li>More enrollments lead to more financial packaging</li>
                <li>
                    More students attending leads to more course offerings and
                    the need to facilitate courses
                </li>
                <li>
                    It happens in cycles and could be dependent on your ability
                    to appropriately resource
                </li>
            </ul>

            <p>
                <strong>MATT JENKINS:</strong> After you’ve implemented
                CampusNexus Student, you will start to see the things that
                you’re doing well with and then you’ll start to see…Okay, we can
                improve this if we make this change. That is something that from
                my experience comes from just having the software and using it.
                I don’t know if you can necessarily forecast any of that.
            </p>

            <p>
                <strong>CAMPUS MANAGEMENT:</strong> I think one of the most
                important things is to have someone at your organization who
                reports to the business and is looking across all different
                departments and processes and is saying…How long does it take
                you guys to do this today and how can we look to measure and
                incrementally improve every department, every business year over
                year, start over start, academic year, semester or however you
                want to measure your timeframes and really take a look at the
                different processes that you have and seek ways to leverage
                technology and to cut that time down and measure it over time.
                It really needs to be centralized across the entire organization
                and not be just the initiative of IT or just the initiative of
                an Operations Division.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/webcasts/how-small-colleges-drive-manage-rapid-growth-transcript"
                        >Review Webinar Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
