---
# <!-- @formatter:off -->
title: How to Transform Recruitment to Exceed Goals with CRM
meta-description: CRM technology has become a critical tool to achieving recruitment goals and outcomes.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <p class="ht--s--28 c-theme-primary-dark">
                Andy Jett and Kevin Kropf
            </p>

            <p class="ht--s--20 c-theme-tertiary">
                Andy Jett,CIO and Senior Director of Admissions and Kevin Kropf,
                Baker University
            </p>

            <p>
                CRM technology has become a critical tool to achieving
                recruitment goals and outcomes. Just ask Baker University in
                Kansas which saw its enrollment increase 17% in one year while
                budgets were reduced by 25%.
            </p>

            <p>
                In a recent webcast Baker University experts shared how to
                transform your institution from manually-driven recruitment and
                admissions processes to CRM-driven strategies that help you meet
                and exceed your institution’s goals. Below are the highlights
                from the informative webcast Q&amp;A.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What did you consider to be the most important features in
                deciding on CampusNexus CRM?
            </h2>

            <p>
                <strong>Andy Jett:</strong> Because it was SQL based, we knew we
                could do a lot of work ourselves in moving data around and
                making sure data was appropriate. We saw it as a tool that had
                enough flexibility that we could add things as we went along.
            </p>

            <p>
                Knowing Kevin Kropf, Senior Director of Admissions and the way
                he does things, one of the questions on the application is what
                was your favorite candy bar? Or what was your favorite cereal?
                Asking a proprietary software company to give you that sometimes
                is difficult because they have their set fields and set ways of
                doing things.
            </p>

            <p>
                We really felt what we saw in CampusNexus CRM was the ability to
                have significant customization not only just in the fields but
                in the processes and the work flows that we wanted to do. Again,
                it was the ability to integrate with CRM and the SQL piece, it
                was the customization of it and the customization of the work
                flow.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How are schools changing how they recruit if they want to stay
                more competitive in today’s market?
            </h2>

            <p>
                <strong>Kevin Kropf:</strong> Part of this is understanding your
                market. We look at the Wi-Chi data like a lot of other places do
                and look at the demographic changes that are coming in our
                primary markets and looking to explore for secondary markets
                that may pick up some of the shortfalls that come with that. I
                think that use of technology is a huge part of that. We’re using
                more and more text messaging to connect with students. We know
                that’s how we can reach students now.
            </p>

            <p>
                When I started in Admissions in ’95, the phone was our friend
                and now I think students are a little bit more leery of picking
                up the phone. It’s harder to connect with them in that way. We
                know to connect with them we have to use technology in a
                different way. That means we rely a little bit less on print and
                we were forced into that with budget reductions but I think we
                still find a way to make it work for us. We’ve gone to fewer,
                better publications in part because we know it&#39;s the parents
                who are looking for the publications.
            </p>

            <p>
                I think the last thing I would say about how doing recruitment
                is different, and I’m not sure this is different but we’re
                really putting an emphasis on doing things well so that we can
                get word of mouth. We want students to have a dynamic experience
                on campus to the point where they want to tell somebody about
                it. We want parents to walk away willing to talk to somebody
                about that. If we can leverage that word of mouth that’s huge
                for us.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Are the learnings or process improvements from recruiting able
                to be leveraged to other student lifecycle phases?
            </h2>

            <p>
                <strong>Andy Jett:</strong> We were looking at the easiest
                transition to Student Services, which is around retention of
                current students. We’re looking at being able to move that
                student data in there and look at grading patterns, and
                attendance patterns, and then being able to track anything about
                that student when they have trouble with a student’s particular
                classes and be able to track that type of interaction with any
                staff member and the student and create a way to locate those
                students that may be struggling before they hit the point of no
                return, so there’s that. Then there are just some of the
                operational elements like I shared about physical plant and
                other areas where we feel like we can utilize it to gain some
                efficiencies in workflow.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How long did it take to implement the CRM? What was the learning
                curve for the users and what kind of training did you provide to
                help them make the transition?
            </h2>

            <p>
                <strong>Kevin Kropf:</strong> When you say how long did it take
                to implement, we had conversations about a year out? Maybe a
                year in terms of the planning process and then in terms of the
                actual implementation from the go time it was a couple of
                months.
            </p>

            <p>
                One of the challenges we faced as we implemented probably a
                month later than I think would have been ideal because we
                started running in the fall travel period. That’s one of the
                reasons why in the first year we probably didn’t get as much
                done as we could have in terms of having this off campus because
                we weren’t trained well enough in it yet. I think that’s one of
                the reasons why it took another year to see the success that we
                really were looking for.
            </p>

            <p>
                A year of planning. 1,000 hours of planning work and after about
                two months we had things going pretty well. A few bumps and a
                few stragglers on the training process but from a training
                standpoint we did some things with Campus Management on our
                campus and then we did some things with the IT staff on our
                campus, to really prepare for the launch of that and to get
                everybody up to speed for what we were trying to accomplish.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How large is Baker University’s recruitment staff? How many
                recruit? How many stay in the office? How big is the IT staff
                that works on admissions?
            </h2>

            <p>
                <strong>Kevin Kropf:</strong> I have seven recruitment staff. I
                have a Director of the Campus Visit Experience who pretty much
                stays on campus and I have four operations staff, one of whom is
                the shared position with IT. We’re pretty nimble on the whole.
                There are just the 13 of us but seven recruiters, a campus visit
                person and four on the operations staff.
            </p>

            <p>
                <strong>Andy Jett:</strong> On IT, we basically have a ¾ time
                role. It is really two people. One is ¼ time Assistant Admin
                that supports the shared position with Kevin in Kevin’s office
                and then another ¼ time staff time in the database management
                that’s simply the importing and purchase lists and data clean up
                issues.
            </p>

            <p>
                <strong>Kevin Kropf:</strong> I’ll just add what I mention
                there, those staff members are just for the undergraduate side.
                That’s just undergraduate recruitment. We have additional teams
                as we’ve guilt out our Graduate School of Education has a team
                of three and our Wichita office has a team of two and the call
                center will be an additional one.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Was embracing change a challenge for you and if so how did you
                approach it?
            </h2>

            <p>
                <strong>Andy Jett:</strong> I don’t think embracing change for
                Kevin and I was a challenge. We were ready for the change to
                occur. I do think like any system change, there were individuals
                on both of our teams that needed some encouraging to see the
                value of the new processes and the new applications.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                You talked about it was a collaboration between the two
                departments. How does one actually go about fostering
                collaboration?
            </h2>

            <p>
                <strong>Andy Jett:</strong> Part of it is a bit of a culture at
                Baker. Who we are as an institution, we tend to be very
                collaborative in working with each other. We’re a small
                institution so we see each other on a regular basis. We also
                were driven by a Board of Trustees who began early on in the
                process demanding significant data driven decisions and bringing
                Kevin on and him already having that mindset.
            </p>

            <p>
                Some changes we made and things we did within IT to help develop
                KPIs across the campus kind of built a culture of
                accountability. We didn’t necessarily have some of the systems
                in place to make that really happen in a physical way and what
                CampuNexus CRM has helped us do in the short run in recruitment
                was provide that type of physical accountability for it.
            </p>

            <p>
                Those who struggled with the change have seen the value and
                that’s where we worked very hard, in showing people value of the
                change that was going to occur. Some people just don’t want to
                change their processes because they see it is going to be a lot
                of work, and it was a lot of work there’s no doubt on anybody’s
                mind that it was an easy thing. It was a difficult process but I
                think after the fact people are seeing there has been a lot of
                value in the process and we continue to see that value.
            </p>

            <p>
                As Kevin pointed out earlier, we continue to learn what
                CampusNexus CRM can do for us, we’re trying new things and I
                think having gone through that significant culture change from a
                very antiquated system to a much more dynamic system people are
                now a little bit more eager to say…Hey, let’s try something
                different. Let’s do something and see if it works.
            </p>

            <p>
                <strong>Campus Management:</strong> One of the biggest areas
                where CRM implementations can be stresses is getting that
                adoption and the change management. We have often seen that the
                schools, and even outside of higher ed, other organizations who
                have succeeded at it have had the top down messaging about the
                importance of the CRM solution and really making people
                accountable to using the systems in the prescribed manner.
            </p>

            <p>
                Celebrating the data that you’re getting out of the systems and
                holding people accountable to that and rewarding the behaviors
                accordingly, and using that as a mechanism to help drive those
                changes.
            </p>

            <p>
                A lot of times if you don’t have that top down support either
                through a Governance Committee or the Board of Trustees like we
                have at Baker, you can have some challenges as you navigate that
                change curve.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="{{url-lang-prefix}}/higher-education-resources/webcasts/baker-university-transforms-recruitment-to-exceed-goals-with-CRM-transcript"
                        >Review Webinar Transcript
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
