---
# <!-- @formatter:off -->
title: Best Practices for Implementing CBE Programs
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2 ">
            <p class="ht--s--28 c-theme-primary-dark">
                Tawnie Cortez and Brooks Doherty
            </p>

            <p class="ht--s--20 c-theme-tertiary">
                Tawnie Cortez, Senior Vice President and Brooks Doherty,
                Department Dean, Rasmussen College
            </p>

            <p>
                Rasmussen College in Minnesota is an early adopter of flexible
                competency-based programs and part of a network of colleges
                working with regional accreditors and the US Department of
                Education to address shared challenges to designing, developing,
                and scaling competency-based programs. In a recent webcast
                Q&amp;A, two leaders from Rasmussen, Tawnie Cortez, Senior Vice
                President, and Brooks Doherty, Department Dean, shared the
                college’s CBE journey and best practices for implementing CBE
                programs.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What is CBE?
            </h2>

            <p>
                <strong>Campus Management:</strong> Competency-based education
                (CBE) provides students with more flexible and cost effective
                ways to complete their degrees, gives institutions more
                effective ways to assess learning, and helps to address concerns
                from many employers about the skill levels and readiness of
                recent college graduates.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Was it easier for Rasmussen College to offer CBE programs being
                a proprietary school?
            </h2>

            <p>
                <strong>Tawnie Cortez:</strong> No. It really was not any
                different as there is a regulatory process and path to offering
                competency-based programs. We are regionally accredited by the
                Higher Learning Commission in the North Central Region. Our path
                to regulatory approval is the same: we go through regional
                accreditation then the Department of Education.
            </p>

            <p>
                We were accepted as an experimental site. That was an important
                path long before we began to build programs, so we have traveled
                the same regulatory path as would any institution.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Traditional faculty are having trouble translating student
                experiences and identifying the actual skills or competencies
                that they need to achieve. Do you have any strategies with
                faculty or any advice for helping faculty through this?
            </h2>

            <p>
                <strong>Brooks Doherty:</strong> It’s really a question of what
                environment you are creating for faculty. What we found really
                helpful at Rasmussen College is formalizing and creating a space
                for faculty to have regular conversations about how CBE works
                for them. And being able to talk openly about what some of the
                challenges are and how they can meet this learning curve.
            </p>

            <p>
                We’ve had meetings with faculty leadership every Monday for one
                hour for 18 months. These meeting are really about asking the
                big questions, paying attention to some of the shifts that are
                happening in the field, and giving faculty a formal and regular
                space to have these discussions.
            </p>

            <p>
                I also suggest that institutions considering CBE not assume that
                faculty are going to absorb it by osmosis. Do not rely on just
                one or two training sessions. Have an ongoing conversation with
                your faculty and let them lead the discussion to really make
                sure they are meeting the curve. And it is a big one.
            </p>

            <p>
                Whether it’s a committee or something less formal, institutions
                should foster conversations about what curriculum and specific
                competencies are going to work, which ones can be utilized in
                their entirety, and which ones you may have to tweak and run
                through curriculum committee. This can be led by faculty in that
                performance structure.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                We are working on CBE for general education courses and would
                like to assess competencies through courses as well as
                co-curricular and extracurricular activities. How do you count
                those experiences equally?
            </h2>

            <p>
                <strong>Brooks Doherty:</strong> This is not for us right now.
                But I have heard other institutions doing things like this or
                exploring the idea. I think CBE is a great model for general
                education. We just need to go back to what the assessment model
                can look like. Remember, CBE is about students demonstrating
                what they know as soon as they know it.
            </p>

            <p>
                So if they are exhibiting knowledge or skills within a general
                education course or classroom, allow them to demonstrate it. If
                they are learning outside the classroom in some type of a
                service learning environment or maybe in their workplaces, they
                can still demonstrate in a valid and reliable way which
                competencies they met and how they met them.
            </p>

            <p>
                So again, it speaks to really having a strong and firm
                assessment model. Once you have that assessment down, it frees
                up the way that students can learn and the spaces in which they
                can learn.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Did you implement any additional compensation for faculty who
                developed or went through the CBE process?
            </h2>

            <p>
                <strong>Brooks Doherty:</strong> We assign work units to
                faculty, which is essentially how their compensation breaks
                down. Faculty receive work units for building and supporting CBE
                courses.
            </p>

            <p>
                I mentioned those meetings with faculty leadership at Rasmussen
                that took place over 18 months. At the beginning, we were really
                focused on building that system for faculty, so faculty got a
                work unit for doing that.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What does your CBE curriculum look like? Is it course-based,
                modularized, project based or other? Does it fit one of those
                topics or general headings? Or how would you describe your CBE
                curriculum?
            </h2>

            <p>
                <strong>Brooks Doherty:</strong> Going back to the earlier point
                that different institutions are doing different things.
                Rasmussen College is building a course-based program structure.
                It is definitely project based. So we are still working within
                courses. Within those courses, students have a flexible and
                non-linear learning path that is measured through authentic
                projects.
            </p>

            <p>
                Most of our courses are six competencies. So, for example, in a
                Principles of Financial Accounting course, the student would
                have access to the assessments and work through smaller
                authentic assessments associated with each one of the
                competencies.
            </p>

            <p>
                We do not want our CBE graduates to just accumulate knowledge
                without synthesizing it. We do not want fragmented learning by
                our graduates, so our courses are designed so that students work
                through each one of those six competencies. There is also a
                seventh assessment, a synoptic assessment that makes the student
                connect the dots between courses. It is a good measure of
                high-order thinking that is really valued in the world and
                rightfully so. So it’s not just a collection of independent
                competencies, but how the student connects them as well.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Substantive interaction seems to be one of the requirements that
                has been difficult for institutions to define and track. Can you
                share any lessons learned in meeting this requirement?
            </h2>

            <p>
                <strong>Brooks Doherty:</strong> Regular and substantive faculty
                interaction is essential to any CBE model. This means giving
                students frequent opportunities to interact with faculty
                members. What you don’t want to do is have a model where faculty
                are only available when students raise their hands.
            </p>

            <p>
                You do not want this to be a student-driven faculty model. The
                institution and faculty are obligated to offer regular
                opportunities to learn, interact, and collaborate. The
                substantive side is about making sure that there are rich
                learning and feedback opportunities.
            </p>

            <p>
                You also don’t want to build a program that is only technology
                driven, robot graded, and multiple choice. There is certainly
                space for that in assessments. But you want that rich authentic
                assessment, which gives the student the opportunity to talk
                about the learning and learn more in an iterative way. If you
                are doing those things on a regular basis, you are starting down
                the right path with your faculty model.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
