---
# <!-- @formatter:off -->
title: Improving Email Delivery
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <p class="ht--s--22 c-theme-primary-dark">
                The following article is based on content from Campus
                Management’s webinar "How to Improve Email Delivery" with
                systems engineer and email delivery expert Trung Nguyen.
            </p>

            <p>
                Today, around 20 percent of commercial emails never make it to
                the inbox. That's one out of five emails that never reach the
                intended recipient. Why is that? It’s because each ISP (e.g.,
                Gmail, Hotmail, Yahoo) all have different types of filtering,
                and they never reveal how they filter, so people can’t game the
                system. The three main areas we can look at to improve results
                regardless of what filtering systems our emails encounter are
                data hygiene and segmentation, content/creative execution, and
                authentication.
            </p>

            <h2 class="ht--s--18 c-grey--800 mb0-5">
                Data Hygiene and Segmentation
            </h2>

            <p>
                What is data hygiene as it relates to email? To ISPs, good
                hygiene means that there is a history of sender and recipient
                engagement. "Is this conversation happening?" And if it's not
                happening, the ISP does one of two things: they either mark it
                as spam or block it totally.
            </p>

            <h2 class="ht--s--18 c-grey--800 mb0-5">
                Break Down Your List
            </h2>

            <p>
                You should break down your email list to clickers and openers
                (these are good engagements), as well as people you’ve never
                emailed, and those who don’t respond. Then segment this list
                based on 30/60/90 days and prioritize. For example, anyone who
                has engaged with you in the last 30 days should receive more
                emails from you because they've shown interest. As you move to
                60 days since the last engagement, then 90, the less you should
                email those on the lists. This way you aren’t seen by ISPs as
                sending a lot of unwanted emails.
            </p>

            <h2 class="ht--s--18 c-grey--800 mb0-5">
                Content/Creative Execution
            </h2>

            <p>
                When you’re engaging with a prospect, it’s safe to assume that
                they are engaging with many other colleges that the same time.
                But if you can do it in a way that resonates with them, that
                talks to them about their unique needs and interests, they're
                more likely to click, open, and take action. Poor design, style
                and user experience can also be an issue, especially when you
                consider that everyone has a smartphone. Imagine prospects
                opening an email on their phone and seeing the picture
                misaligned and encountering misspelled words, poor
                functionality, and broken links.
            </p>

            <p>
                There are tools that creative teams can use that help bypass
                certain ISP filters (anti-spam checkers). For example, certain
                tools can ensure that your HTML code is correct, suggest words
                that should be combined, and identify any broken links.
            </p>

            <p>
                Apache SpamAssassin is one example. It will give your content a
                score and indicate what you need to fix inside your template.
                There is also Spark Post Signals, a paid service that can look
                at your content, crunch the data, and offer advice like: "You
                may want to change X, Y, Z to help better your chances to reach
                inboxes."
            </p>

            <p>
                Then there's making sure that all the HTML coding is correct. If
                the code is off, ISPs normally will categorize it as spam.
                Litmus and Email on Acid are companies that check the quality of
                your HTML code.
            </p>

            <h2 class="ht--s--18 c-grey--800 mb0-5">
                Authentication
            </h2>

            <p>
                The ISP doesn’t know you. Authentication to validate that you
                are who you say you are is very important to them. Let’s start
                with Sender Policy Framework (SPF) authentication. What can you
                do to prevent people from spoofing, impersonating someone else’s
                or another domain’s identity? SPF authentication prevents
                spammers from sending messages on behalf of your domain.
            </p>

            <p>
                DKIM (Domain Keys Identified Mail) is a way of giving the email
                a digital signature. In essence, this means there is a public
                key and a private key, and they must match. That’s harder for
                someone to impersonate.
            </p>

            <p>
                DMARC (Domain-based Messaging Authentication, Reporting &
                Conformance) takes one extra step. DMARC not only makes sure you
                pass SPF and DKIM, it will tell you who has been sending off of
                your domain and who's been trying to spoof your domain by DKIM.
                It gives you a report every day. You can look at it and say,
                "okay, this is mine," or "this is isn't mine," and then try to
                figure out who's trying to impersonate you. And that happens
                more often than we would like.
            </p>

            <h2 class="ht--s--18 c-grey--800 mb0-5">
                Know Your Audience
            </h2>

            <p>
                In the end, there is no one silver bullet that will enable your
                email program to go from spam to the inbox. It's a multitude of
                things working together to help improve your inbox
                deliverability percentage and rate. Again, listen to your
                audience. Gauge how they are responding or not responding and
                manage your email lists and campaigns accordingly. If you can
                target your audience more accurately, you will keep the ISPs
                from blocking your communications and boost the success of your
                engagement strategy.
            </p>
        </div>
    </div>
    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="c flexcol">
                <h3 class="ht--s--22-28 c-theme-primary-dark mb2--sm">
                    View the On-Demand Webinar "How to Improve Email Delivery"
                </h3>
                <a
                    class="pill-button c block bottom"
                    href="https://info.campusmanagement.com/how-to-improve-email-delivery"
                    target="_blank"
                    rel="noopener"
                    >View Webinar</a
                >
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
