---
# <!-- @formatter:off -->
title: Support Your Enrollment Strategy with CRM
meta-description: In implementing a CRM strategy, it is important that you think big, but start small.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2 c-grey--800er">
            <p class="ht--s--28 c-theme-primary-dark">
                Denise Groves
            </p>

            <p class="ht--s--20 c-theme-tertiary">
                Strategic Consultant, Campus Management
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What should you consider when implementing a CRM Strategy?
            </h2>

            <p>
                In implementing a CRM strategy, it is important that you think
                big, but start small. Strategic Enrollment Planning (SEP) is a
                necessary prerequisite to CRM deployment. So is doing your due
                diligence, as well as researching and identifying the unique
                ways schools are utilizing CRM to meet their recruitment and
                retention objectives.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Why is Strategic Enrollment Planning (SEP) so important?
            </h2>

            <p>
                It is important to institutions because today’s higher education
                marketplace is characterized by unprecedented choice for
                students—and new levels of competition for institutions.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Why is Strategic Enrollment Planning a “MUST”?
            </h2>

            <ul class="list--normal">
                <li>It fosters long-term enrollment and fiscal health</li>
                <li>
                    It provides realistic, quantifiable goals for student
                    recruitment, student success, and the market position of
                    your campus.
                </li>
                <li>
                    delivers clearly defined, cost-effective results by using a
                    return-on-investment and action-item approach.
                </li>
                <li>
                    It aligns your institution&#39;s mission and its current
                    state with the changing market environment
                </li>
            </ul>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Should an institution develop and implement a strategic
                enrollment management plan?
            </h2>

            <p>
                Yes, develop a plan that aligns with and supports the
                university’s strategic plan, mission, and vision to provide
                sound recommendations on an optimal enrollment profile and
                matters influencing achievement of enrollment goals.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How can an institution prepare for Strategic Enrollment Planning
                and achieve a 360 degree view of student relationships?
            </h2>

            <p>
                <strong>Recruiting and Admissions Goal:</strong> Develop and
                implement a strategic communications flow
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>
                    <strong>Objective:</strong> Implement CRM on campus to
                    improve communication throughout the student lifecycle
                    through implementation of Constituent Relationship
                    Management (CRM) strategies
                </li>
            </ul>

            <p>
                <strong>Student Success Goal:</strong> Develop and implement
                strategies to identify and mitigate student attrition thru
                strategic communications flow
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>
                    <strong>Objectives:</strong> Identify factors that cause
                    students to drop-out or stop-out and improve year-over-year
                    persistence rates
                </li>
            </ul>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Are there any guiding principles for a Strategic Communication
                Flow?
            </h2>

            <ul class="list--normal">
                <li>
                    Focus your institution’s communications on real students’
                    needs
                </li>
                <li>
                    Contextualize communications to reflect a student’s place in
                    the student lifecycle
                </li>
                <li>Guide students proactively, not reactively</li>
            </ul>

            <p>
                <strong>Key Takeaway:</strong> When you put students first and
                support them through communications, they make it possible for
                both students and your institution as a whole to grow.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Is there a recipe for the development of a Student-Centric
                Strategic Communications Flow?
            </h2>

            <ul class="list--normal">
                <li>
                    Think through the communications at various enrollment
                    stages—inquiry, applicant, admit, deposit, enrollment,
                    graduation.
                </li>
                <li>
                    Progress students to the next enrollment stage regardless of
                    where they enter the flow
                </li>
                <li>
                    Tailor communications to each student’s position in the
                    student lifecycle
                </li>
                <li>
                    Focus your electronic communications wisely. It is best to
                    invite communication in addition to delivering information.
                    Create communication strategies that put students’ needs
                    first.
                </li>
            </ul>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What should be considered when implementing a Strategic
                Communication Flow?
            </h2>

            <ul class="list--normal">
                <li>
                    Create communication plans that reach target groups of
                    students with relevant and timely messaging, depending on
                    specific needs and challenges.
                </li>
                <li>
                    Get parents involved in the flow. According to Ruffalo Noel
                    Levitz E-Expectations research, 60 percent of prospective
                    students’ parents are involved with the college research
                    process.
                </li>
                <li>
                    Communicate strategically to promote student success, and
                    ultimately to improve retention and enrollment.
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
