---
# <!-- @formatter:off -->
title: Survive or Thrive – Overcoming the Student Engagement Challenge
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <p>
                Authentic engagement with the institution is often the key
                differentiator between students that thrive, and those that just
                survive, their college experience. But the needs and
                expectations of students are changing, and institutions need to
                evolve their approaches to better foster student engagement
                today and in the future.
            </p>

            <p>
                In a recent webinar, Paul Muller, Director of Admissions at
                Bemidji State University, and Chris Bunio, Senior Director of
                Higher Education at Microsoft, joined Campus Management to
                discuss strategies for engaging with the new generation of
                students at today’s institutions. The panelists outlined how to
                elevate communication and engagement with students, as well as
                strategies to ensure authenticity in your student engagement
                efforts.
            </p>

            <p>
                The following edited excerpts are key takeaways from the event.
            </p>

            <p>
                Panelists:<br />
                <strong>Paul Muller</strong>, <em>Director of Admissions</em>,
                Bemidji State University<br />
                <strong>Mark Armstrong</strong>,
                <em>Former Chief Strategy Officer</em>, Campus Management<br />
                <strong>Dr. Jennifer Beyer</strong>,
                <em>Vice President of Product Management for CRM</em>, Campus
                Management<br />
                <strong>Chris Bunio</strong>,
                <em>Senior Director, Higher Education</em>, Microsoft
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How do we foster a campus culture that is focused on thriving,
                elevating both the institution and the students who participate?
            </h2>

            <p>
                <strong>DR. JENNIFER BEYER:</strong> This has certainly become a
                challenge as we see the profile of the student body shifting.
                We're seeing an increase in nontraditional students enrolling.
            </p>

            <p>
                What we also find is a disconnect between the curriculum that is
                being offered and the job requirements for students
                post-graduation. At the same time, we are seeing continuing
                challenges with declining enrollment, increasing competitive
                pressure, and changes in funding sources. At state-funded
                institutions, the percentage of the funding is decreased.
            </p>

            <p>
                Ultimately, fostering a campus culture that creates a positive
                sense of community with a level of well-being will contribute to
                a persistence towards graduation – increased relationships that
                then result in donations and giving back in the future.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Who does it mean to survive or thrive for institutions?
            </h2>

            <p>
                <strong>MARK ARMSTRONG:</strong> ‘Survive’ means maintaining
                basic operations and little innovation. In many respects, it is
                an ongoing and chronic risk that, over time, can really sap
                innovation and create a reactive culture. Versus thriving, which
                I associate with growth and innovation. Even if institutions
                view that in a negative way, at some point, you just have to
                lean in. Thriving means getting to the next thing.
            </p>

            <p>
                <strong>PAUL MULLER:</strong> I agree. If you just keep doing
                what you're doing, you're certainly not going to thrive. At
                Bemidji State, we've taken the approach that we really want to
                focus on some strategic marketing that's rooted in data. I you
                listen to what students are telling you, they're giving you lots
                of answers even before you ask.
            </p>

            <p>
                If you think of the Amazon model, it's very evident that
                consumers prefer to be targeted with appropriate information
                that adds value to their lives. Students are no different when
                it comes to inbound marketing or digital marketing.
            </p>

            <p>
                So you need a digital marketing expert on your team. These
                people are pretty insatiable about staying on top of trends.
                That in itself adds a healthy discussion to not just what you're
                doing, but how you're listening to students and using your CRM.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How can institutions begin to deliver the experience that is
                being demanded by their new student population?
            </h2>

            <p>
                <strong>PAUL MULLER:</strong> At Bemidji State, we first made
                sure we have a very diverse staff to go along with support
                services, and a very diverse faculty. We created an Office of
                Diversity, Equity, and Inclusion, ultimately giving students
                that authentic connection to other students, faculty, staff.
                When it comes to inclusive technology and making sure that we're
                supporting diverse student needs on campus, we want to make sure
                there is thoughtful adoption of technology that helps to bring
                those students into the classroom and helps set them up for
                success.
            </p>

            <p>
                <strong>DR. JENNIFER BEYER:</strong> Chris, I know Microsoft has
                invested heavily in education, not just the technology, but
                really fostering this kind of time of transformation.
            </p>

            <p>
                <strong>CHRIS BUNIO:</strong> One of the biggest indicators that
                Microsoft looks at, particularly when it comes to higher
                education institutions, is the graduation rate of students
                coming out. Are they ready for the workforce?
            </p>

            <p>
                Microsoft is a fairly large employer. We look at it from the
                point of view of, "Are we getting the skills that we need in the
                marketplace?" But then, looking more broadly at our students
                coming through programs and asking if they are ready to go
                directly into employment.
            </p>

            <p>
                With the transformation that's happening in the industry in
                general; and the impact of things like artificial intelligence
                and transforming jobs, we know that these skills are more
                required than ever. There is much more demand for that base
                level of technical knowledge, or even just understanding data
                and data science.
            </p>

            <p>
                We’ve also got some trailing indicators, graduation rates, and
                enrollment levels, that are telling us what's happening in the
                system. It is interesting to see this evolution at the macro
                level.
            </p>

            <p>
                We’re getting a lot of data that tells us we may need to be
                thinking more carefully about how we actually drive the level of
                innovation on campus that's needed to keep students engaged; and
                make sure they're coming out with those skills that they need,
                particularly as we see all of this technology transformation
                happening around us.
            </p>

            <p>
                Having thoughtful plans for adopting new technology is a key
                success factor for institutions. We hear about things like
                machine learning. We hear about cognitive services. Those are
                amazing tools to use in the right context. They are helping to
                support student engagement and making sure that they can get
                access to information through things like bots that get
                integrated into a system. Campus Management has certainly been
                leading the way and thinking about that kind of engagement
                level.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How do we use innovation to drive improvements?
            </h2>

            <p>
                <strong>CHRIS BUNIO:</strong> We're getting more institutions
                starting on this path. They are looking at data within their
                institution to determine what they can start acting on. They are
                capturing and analyzing SIS data, financial planning, and
                student engagement systems to better visualize what that data
                set is telling them.
            </p>

            <p>
                If you can see that you've got an enrollment trend happening
                with certain students coming from particular K-12 schools, you
                may want to take action on that. It's being able to visualize
                those kinds of trends.
            </p>

            <p>
                Then you can apply innovations like machine learning; and
                generate new insights or generating new processes that come
                through. Those are just some of the things that, as we look
                broadly at the ecosystem, we're seeing that kind of
                visualization technology.
            </p>

            <p>
                <strong>PAUL MULLER:</strong> I would add, at Bemidji State,
                we're not unlike a lot of institutions where we have multiple
                CRMs across campus. Because Athletics wants their own and so
                does Alumni, Resident Life, and other departments. I think we
                have at least six different CRMs, and they don’t talk to each
                other.
            </p>

            <p>
                We're now making much greater strides in bringing efficiency to
                the process and the data living in the CRM systems. It's not
                only better for serving the student, but it's obviously more
                efficient and cost effective.
            </p>

            <p>
                <strong>CHRIS BUNIO:</strong> One of the interesting things that
                we've seen is around the cloud and cloud capability. We're
                seeing less of the traditional sort of rip-and-replace approach.
                More institutions are thinking about data strategy as spanning
                all of the different data sets they have; and looking more at a
                strategy where they can map out and consolidate to something
                like a data lake. You don't necessarily have to get rid of all
                those CRM systems to be able to get value from the data they
                hold, as long as the data strategy can look at those different
                components, and adequately bring that together.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How can artificial intelligence help impact campus success?
            </h2>

            <p>
                <strong>MARK ARMSTRONG:</strong> AI is for real and rapidly
                becoming part of the deployment infrastructure. The questions
                and the help that an incoming freshman needs navigating through
                some of the business processes are much different than they will
                be when they're a sophomore. You can look at their profile data
                and ascertain what is most likely to be important to them. At
                Campus Management, we're harnessing the Microsoft platform of
                services and building a digital assistant, starting with some
                very basic things to answer questions. But in the process of
                answering questions, we can use the cognitive services to get a
                sense of the constituents' mindset. Are they agitated? Are they
                happy? Based on that sentiment analysis, we can automatically
                create cases in our engagement platform. Their counselor at
                least has the choice of reaching out to them.
            </p>

            <p>
                <strong>CHRIS BUNIO:</strong> Microsoft has been deeply invested
                in artificial intelligence. Our CEO, Satya Nadella, sees
                artificial intelligence as a tool for pursuing good outcomes for
                a particular user group. The onus is on AI users to make sure
                that it is being used for the right things and not in ways that
                can harm a population. We want it to be a tool that helps to
                accelerate and augment the capabilities of humans.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                What does the student system need to look like from a practical
                perspective?
            </h2>

            <p>
                <strong>PAUL MULLER:</strong> For our institutions, we would
                ultimately look forward to one single system, if we can get to
                that point. I'm not talking about just the multiple CRMs. We
                spent so much time and energy talking back and forth between
                student information systems and CRM.
            </p>

            <p>
                We tend to, like many institutions, to watch the wheels spin
                when we're looking at our student information system. It
                interferes with our ability to do our work. We haven't been able
                to get all units across campus living in one system. But that
                would bring an incredible amount of efficiency.
            </p>

            <p>
                <strong>MARK ARMSTRONG:</strong> It’s important to define what
                the student system of the future will look like. When people say
                student system, they think, "It's the SIS." Then we just keep
                grafting more stuff on. How do you get the benefits of some
                level of loose coupling and flexibility without creating a kind
                of a Frankenstein that ultimately locks you in? Or becomes very
                expensive?
            </p>

            <p>
                I think the shift to the cloud creates a lot of clarity and
                understanding about how and where you can do that. One of the
                tradeoffs for gaining a modern architecture can be the level of
                integration, depending on how it's done.
            </p>

            <p>
                It can result in some sub-optimization around performance and
                other things. When we look at the student system of the future,
                we look at a lot of what happens in a SIS today. The transaction
                engines are much more like supply chain management, a
                manufacturing system versus customer support and constituent
                engagement.
            </p>

            <p>
                We view that loose coupling as a first step towards having an
                engagement platform that can not only surface the work that 90
                to 95 percent of your users and customers need to do, but gives
                customers the flexibility to plug in other value-added products,
                partners, services, and innovation. Increasingly, those engines
                in the traditional SIS are not accessed directly by customers
                anymore. They're in the back end. It can be optimized around
                performance, regulatory compliance, and become more
                plug-and-play. You can't really make those complex engines more
                plug-and-play until you extract them away from the day-to-day
                users. That's just a reality of systems architecture. Then you
                think about bringing the LMS, and general teaching and learning
                applications. That's what we're shooting for. Not only to
                advance the architecture for what we know; but the things we see
                on the horizon.
            </p>

            <p>
                It’s more important than ever to have an architecture that keeps
                advancing, but one that is flexible enough, and has sufficient
                R&D to enable our customers to start incorporating those things
                as we go. Embracing flexibility is something that we think we
                know how to do with the architecture. We're starting to talk to
                our customers in the community about embracing that as a
                philosophy.
            </p>

            <p>
                <strong>CHRIS BUNIO:</strong> We're seeing a lot of the
                technology that's out there today creating new opportunities to
                think about student success and student systems in new ways.
                We're not going to move away in the short-term from a SIS
                platform. But we can start getting more value out of these
                systems. We're starting to integrate that data in new ways. For
                example, being able to merge data from the SIS with engagement
                systems; and then connecting that to mobile applications that
                students use as they move around campus.
            </p>

            <p>
                That starts to build a much stronger and more complete view of
                what a real student experiences as they're going around campus
                and actually engaging in the classrooms and social activities.
                You start to get more of a holistic view.
            </p>

            <p>
                Using cloud capabilities helps us accelerate some of that
                change. We gain new data tools that can move data between
                systems or create new ways to visualize that data.
            </p>

            <p>
                Those are all really powerful concepts that augment what we
                might be doing today from a technology and architecture
                standpoint. Again, as we bring in things like machine learning,
                and having thoughtful application of that to the different
                scenarios that we want to engage on are really critical.
            </p>

            <p>
                There's a lot of depth across Microsoft’s technology platform
                and Campus Management’s solutions. They can really solve some of
                those key problems. It's a really interesting space.
            </p>

            <p>
                <strong>MARK ARMSTRONG:</strong> From our perspective, education
                is more critical than ever. It literally drives the future of
                the world. And everyone in this organization is mission driven.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
