---
# <!-- @formatter:off -->
title: Tips to Implementing a CRM
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/insights-bkg1.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <header
        class="container container--3 container--header max-width-66--sm c c-white"
    >
        <h1 class="ht--s--38-45">{{title}}</h1>
    </header>

    <div class="bgc-white c-grey--1000">
        <div class="container container--2">
            <p class="ht--s--28 c-theme-primary-dark">
                Lyndsey Clark
            </p>

            <p class="ht--s--20 c-theme-tertiary">
                Director of Admissions Operations and Graduate Admissions,
                Franklin University
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Is there a first step when looking to invest in a CRM?
            </h2>

            <p>
                Before investing in a CRM, Campus Management recommends that a
                college identify what it wants to achieve with the solution.
                That way, a college can determine if it wants the CRM to work
                for only one or two departments, or multiple departments across
                campus, and find a solution accordingly.
            </p>

            <p>
                Understand the vision for how you want to penetrate that student
                lifecycle and what you want to do with it. Do that homework
                first…As an example, if you only want a recruiting and
                admissions solution, there are a number of solutions that are on
                the market that meet that specific need, but you would not want
                to necessarily consider them if the strategic vision that you
                have is to reverse the entire student lifecycle.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How should colleges select a CRM?
            </h2>

            <p>
                Lyndsey Clark, Associate Director of Admissions Operations and
                Graduate Admissions at Franklin University suggests that
                colleges keep an open mind when selecting a CRM. Doing so
                enables college decision makers to absorb more information about
                certain products, and have greater success in finding a solution
                that fits their needs. That’s what Franklin University found in
                CampusNexus CRM.
            </p>

            <p>
                &quot;One thing I learned with CampusNexus CRM is 99 percent of
                the time, if you can think of it, you can do it. It’s very
                customizable. It’s interesting to see how you can pretty much
                shape what you need into CampusNexus CRM and utilize it to
                provide yourself and leadership the data you need,&quot; Clark
                says.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Communication with other departments, what should be considered?
            </h2>

            <p>
                Colleges should investigate which other CRM solutions are being
                used across campus before buying a new solution. Sometimes, not
                understanding what else exists can create some political
                conflict on the business side of those applications.
            </p>
            <p>
                It can be a politically charged landscape along the way because
                people become protective of their systems, the budgets around
                their systems, the people around their systems, and of course
                there’s a mindset that this is working for us, why are we going
                to change? Understand what that landscape is and how to work
                with the business owners of those applications is an extremely
                important thing to do.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                How should expansion be managed?
            </h2>

            <p>
                Small milestones – Most schools want to expand across the
                institution, but you can’t do it all at once. Start with one
                specific department who is ready to use, be a change-champion,
                willing to go through some degree of organizational change. Then
                use that team’s experiences as a guide to the next group.
                Smaller milestones and timelines are typically conducive to a
                better managed CRM implementation.
            </p>

            <h2 class="b ht--p--18 c-grey--800 header--has-q-graphic">
                Who is accountable for the CRM system?
            </h2>

            <p>
                Create a culture where CRM metrics are identified, shared, and
                accountability is established. Use the system to get metrics,
                measure from them, and hold people accountable. Note if other
                CRM solutions are being used across campus, it may be difficult
                to use common metrics since the data points, calculations, etc.
                may not be the same.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--best-practice-7]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
