<div class="horizontal-menu__wrapper">
    <ul class="press-release-list__menu sf-menu horizontal-menu"></ul>
    <span class="horizontal-menu__selected-filter-text"></span>
</div>
<ul class="press-release-list document-links-list"></ul>
