---
# <!-- @formatter:off -->
title: box-v4
page-bg-image: /images/pages/products/crm/crm-bkg-v2.jpg
page-bg-image--xs: /images/pages/products/crm/crm-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--2 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                CampusNexus: The Full Solution Suite for All the Ways You Serve
                Students
            </h1>
            <p class="ht--p--16-22">
                Visit our Virtual Booth at the NERCOMP Annual Conference Online
                June 23 &amp; 25, 2020
            </p>
        </header>
    </div>

    <div class="bgg-grey-200-to-grey-300 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2 box-v4--greys">
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Success Profiles from 5 Award-Winning Institutions
                        </span>
                        <span class="block ht--p--16-20">
                            Success Stories Download
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/case-studies/cmc/"
                        target="_blank"
                        >Download
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Success Profiles from 5 Award-Winning Institutions
                        </span>
                        <span class="block ht--p--16-20">
                            Success Stories Download
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/case-studies/cmc/"
                        target="_blank"
                        >Download
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bgg-grey-200-to-grey-300 c-grey--1000 reverse">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2 box-v4--greys alt-row">
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Success Profiles from 5 Award-Winning Institutions
                        </span>
                        <span class="block ht--p--16-20">
                            Success Stories Download
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/case-studies/cmc/"
                        target="_blank"
                        >Download
                    </a>
                </div>
                <div class="flexcol">
                    <h3 class="reverse-spans">
                        <span class="ht--s--22-28 c-theme-primary-dark">
                            Success Profiles from 5 Award-Winning Institutions
                        </span>
                        <span class="block ht--p--16-20">
                            Success Stories Download
                        </span>
                    </h3>
                    <a
                        class="pill-button block c bottom"
                        href="/docs/case-studies/cmc/"
                        target="_blank"
                        >Download
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />

    <div class="bgg-grey-200-to-grey-300 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2-4 box-v4--greys">
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bgg-grey-200-to-grey-300 c-grey--1000 reverse">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2-4 box-v4--greys alt-row">
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
                <div class="flexcol">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-grey--300 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-3 box-v4--greys alt-row">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2-3 box-v4--greys">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-grey--300 c-grey--1000">
        <div class="container container--color-boxes">
            <div class="box-v4 box-v4--flex-1-2-3 box-v4--greys alt-row">
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
                <div class="c flexcol min-height-7">
                    <h3 class="ht--s--22-28 c-theme-primary-dark">
                        Management Team
                    </h3>
                    <a
                        class="pill-button c block bottom"
                        href="/about-us/management-team/"
                        >View</a
                    >
                </div>
            </div>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Achieving Results Across the Valley College Campus
            </h2>
            <div class="box-v4 box-v4--flex">
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800">4x</span>
                        <span class="ht--p--22-i b c-black"
                            >Enrollment Increase Across Campuses</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >25%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Retention & Placement Rates</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c">
                        <span class="ht--s--20 b c-theme-primary-dark"
                            >Transmit</span
                        >
                        <span class="c-theme-tertiary ht--s--70 i mb0-5"
                            >121,919</span
                        >
                        <span class="ht--p--14-075 b c-grey--800"
                            >Student Records Without<br />Any Failure</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed--centered-title">
            <div
                class="box-item box-item--no-min-height col-xs-12 pb0--xs-only pt2--sm"
            >
                <h2 class="c box-item__title ht--s--38 c-theme-primary-dark">
                    Transform Student and Operational Success
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-4 pt0 pb0">
                <img
                    class="box-item__img c"
                    src="/images/pages/news-and-events/events/engagement-crm-system-of-intelligence.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0">
                <p class="ht--p--16-20 box-item__text">
                    Campus Management shares your passion for helping transform
                    the lives of a wide diversity of students. Built on the
                    Microsoft Azure Cloud, the CampusNexus<sup>®</sup> Solution
                    Suite enables you to deliver flexible and innovative
                    programs and services, deepen engagement across the student
                    lifecycle, optimize talent and resources, and align programs
                    and student skills for career success. Now see the
                    technology in action at NERCOMP!
                </p>
            </div>
        </div>
    </div>
    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2-5">
            <h1 class="title ht--s--38 c-theme-primary-dark c">
                Transform Student and Operational Success
            </h1>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/news-and-events/events/engagement-crm-system-of-intelligence.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />

                <div class="left ht--p--16-20">
                    <p>
                        Campus Management shares your passion for helping
                        transform the lives of a wide diversity of students.
                        Built on the Microsoft Azure Cloud, the CampusNexus<sup
                            >®</sup
                        >
                        Solution Suite enables you to deliver flexible and
                        innovative programs and services, deepen engagement
                        across the student lifecycle, optimize talent and
                        resources, and align programs and student skills for
                        career success. Now see the technology in action at
                        NERCOMP!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-white">
        <div class="container">
            <h1 class="title ht--s--38 c-theme-primary-dark">
                Transform Student and Operational Success
            </h1>
            <div class="box-v4 box-v4--3-2">
                <img
                    class="right"
                    src="/images/pages/news-and-events/events/engagement-crm-system-of-intelligence.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />

                <div class="left ht--p--16-20">
                    <p>
                        Campus Management shares your passion for helping
                        transform the lives of a wide diversity of students.
                        Built on the Microsoft Azure Cloud, the CampusNexus<sup
                            >®</sup
                        >
                        Solution Suite enables you to deliver flexible and
                        innovative programs and services, deepen engagement
                        across the student lifecycle, optimize talent and
                        resources, and align programs and student skills for
                        career success. Now see the technology in action at
                        NERCOMP!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div class="container container--2-5">
            <h1 class="title ht--s--38 c-theme-primary-dark c mb2--sm">
                Transform Student and Operational Success
            </h1>
            <div class="box-v4 box-v4--1-1">
                <img
                    class="right"
                    src="/images/pages/news-and-events/events/engagement-crm-system-of-intelligence.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />

                <div class="left ht--p--16-20">
                    <p>
                        Campus Management shares your passion for helping
                        transform the lives of a wide diversity of students.
                        Built on the Microsoft Azure Cloud, the CampusNexus<sup
                            >®</sup
                        >
                        Solution Suite enables you to deliver flexible and
                        innovative programs and services, deepen engagement
                        across the student lifecycle, optimize talent and
                        resources, and align programs and student skills for
                        career success. Now see the technology in action at
                        NERCOMP!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container box-v4 box-v4--1-2">
            <img
                class="left max-7"
                src="/images/pages/products/education-partners/verification-icon.png"
                alt=""
                loading="eager"
                inline-img-dims
            />

            <div class="right">
                <h1 class="ht--s--28 c-theme-primary-dark">
                    Student Verification
                </h1>
                <p>
                    The financial aid verification process is often a difficult
                    and emotional experience for students. Automate and simplify
                    the process for students and staff with this cloud-based
                    solution.
                </p>

                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="/products/self-service-student-enrollment-and-financial-aid-processing/"
                            >Learn More</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container box-v4 box-v4--1-3">
            <img
                class="left max-7"
                src="/images/pages/products/education-partners/finance-aid-icon.png"
                alt=""
                loading="eager"
                inline-img-dims
            />

            <div class="right">
                <h1 class="ht--s--28 c-theme-primary-dark">
                    Financial Aid Automation with CampusNexus Student
                </h1>
                <p>
                    CampusNexus® Student, Campus Management’s flagship student
                    information system, enables you to execute financial aid
                    processes automatically, process revenues faster, remain
                    compliant, and free staff to focus on student-success
                    initiatives.
                </p>

                <ul class="pill-list pill-list--centered">
                    <li class="pill-list__item">
                        <a
                            class="pill-button"
                            href="/products/self-service-student-enrollment-and-financial-aid-processing/"
                            >Learn More</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container">
            <h1 class="title ht--s--28 c-theme-primary-dark">
                Financial Aid Automation for Today’s Students
            </h1>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/products/education-partners/financial-management-system.jpg"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />

                <div class="left">
                    <p>
                        Today’s students seek greater flexibility in achieving
                        their academic and career goals, which places greater
                        demands on institutions to adapt, automate, and
                        accelerate financial aid processing and workflows.
                    </p>
                    <p>
                        With Campus Management’s Financial Aid Solutions, you
                        can automate financial aid processing and ensure
                        compliance across a wide range of academic delivery
                        models, from classroom to online instruction, semesters
                        to flexible terms, and even clock-hour and
                        competency-based programs.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/self-service-student-enrollment-and-financial-aid-processing/"
                                >Learn More</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container box-v4 box-v4--1-1">
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/kUtBumeDpfw?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Bill Pearce"
                    ></iframe>
                </div>
            </div>

            <div class="right">
                <h2 class="b mb0-5">
                    Client Success Story
                </h2>
                <p class="ht--s--22-28 c-theme-primary-dark">
                    Making a Difference in the Life of Every Student
                </p>
                <p>
                    Watch this video to hear how Lancaster Bible College uses
                    CampusNexus Occupation Insight to make a difference in the
                    life of every student.
                </p>
                <p>
                    Utilize CampusNexus to prepare students for the workforce
                    while collaborating with employers and the community.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container">
            <h2 class="ht--s--28 c-theme-primary-dark c">
                CampusNexus Cloud for Higher Education
            </h2>
            <p class="c">
                CampusNexus Cloud built on Microsoft Azure offers a
                cost-effective, highly secure, and truly global platform that
                adapts and grows with your institution.
            </p>
            <div class="box-v4 box-v4--1-3 mb1">
                <img
                    class="left max-7"
                    src="/images/pages/services/architecture/IaaS-icon.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Turn to a Solutions Provider Focused Exclusively on
                        Higher Ed Challenges
                    </h3>
                    <p>
                        We have a saying at Campus Management: “Every line of
                        code we write should solve a Higher Ed challenge.” With
                        CampusNexus Cloud, you leverage Microsoft Azure as a
                        scalable and secure technology foundation for your
                        institution. This allows us to focus on developing
                        higher-ed specific features and innovations that align
                        with your goals and rapidly delivering them as a
                        comprehensive, fully integrated SaaS solution.
                    </p>
                </div>
            </div>

            <div class="box-v4 box-v4--1-3 mb1">
                <img
                    class="left max-7"
                    src="/images/pages/services/architecture/Uptime-icon.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Ensure Uptime, Security and Reliability with CampusNexus
                        Cloud built on Microsoft Azure
                    </h3>
                    <p>
                        With CampusNexus Cloud, you leverage Azure’s Platform as
                        a Service (PaaS) and Integration Platform as a Service
                        (iPaaS) as a scalable and secure technology foundation
                        for your institution.
                    </p>
                </div>
            </div>
            <div class="box-v4 box-v4--1-3">
                <img
                    class="left max-7"
                    src="/images/pages/services/architecture/Everywhere-icon.png"
                    alt=""
                    loading="eager"
                    inline-img-dims
                />
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Empower Students, Faculty, and Staff Where They Are
                    </h3>
                    <p>
                        With your institution’s platform in the CampusNexus
                        Cloud, you can easily add new campuses and programs, and
                        empower students, recruiters, faculty, and staff around
                        the world online and through their mobile devices.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{>[pattern-box/higher-ed-resources]}} {{>[pattern-box/careers]}}
    {{>[pattern-box/consultation-request]}}
    {{>[pattern-box/consultation-request--oi]}}
    {{>[pattern-box/consultation-request-v2]}}
    {{>[pattern-box/consultation-request--oi-es]}}
</article>
{{/content}}{{/extend}}
