---
# <!-- @formatter:off -->
title: Dev
banner-title: Dev
banner-image: /images/pages/products/sis/Banner_nexusStudent.png
menu-priority: 0
show-in-quick-launch: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="container container--3">
    <img
        class="block c fr--sm mb1"
        src="{{banner-image}}"
        alt=""
    />
    <h1 class="mb0">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">Content currently under development</p>

    {{>quick-launch}}
</article>
{{/content}}
{{/extend}}
