@import '../../styles/common-imports';

.blog-entry-categories {
    display: inline-block;
    margin: 0 0 rhythm(1);
    padding: 0;

    li {
        display: inline-block;

        &:not(:last-child) a:after {
            //content: ", "
        }
    }
}

.blog-entries,
.cmc-article--blog {
    clear: both;
    margin-bottom: rhythm(1);

    > li:not(:last-child) {
        @include trailing-border(1px, 1);

        margin-bottom: rhythm(1);
    }

    header {
        h2 {
            @include adjust-font-size-to(18px, 0.75);

            margin-bottom: rhythm(0.5);
            color: $theme-primary;
            font-weight: 400;
        }

        p,
        p:not([class]) {
            margin: 0;
        }
        // scss-lint:disable NestingDepth
        a {
            &:link,
            &:visited {
                color: $theme-primary;
                text-decoration: none;
            }

            &:hover,
            &:active {
                color: $theme-primary;
                text-decoration: underline;
            }
        }
        // scss-lint:enable NestingDepth
    }
}

.blog-home-link {
    @include adjust-font-size-to($base-font-size);

    display: block;
    margin-bottom: rhythm(1);
    font-weight: 400;

    &:link,
    &:visited {
        color: $theme-primary-light;
        text-decoration: none;
    }

    &:hover,
    &:active {
        color: $theme-primary-dark;
        text-decoration: underline;
    }
}
