@import '../../styles/common-imports';

.brightline-link {
    display: block;
    text-align: center;

    img {
        display: block;
        align-self: center;
        margin: 0 auto rhythm(0.25);
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
        color: $link-color;
    }
}
