@import '../../styles/common-imports';

$color-transparent-green: rgba(0, 255, 0, 0.5);
$color-transparent-red: rgba(255, 0, 0, 0.05);
$color-transparent-blue: rgba(0, 0, 255, 0.05);
$stripes: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.01),
    rgba(0, 0, 0, 0.01) 10px,
    rgba(0, 0, 0, 0.02) 10px,
    rgba(0, 0, 0, 0.02) 20px
);

.output {
    @include adjust-font-size-to(10px, 0.5);

    font-family: 'Courier New', Courier, monospace;
}

.output-container--header {
    background-color: $theme-primary-dark;
    background-image: url('/images/pages/demos/NMICC/NMICC-bkg-blue-2.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

select,
input,
textarea {
    @include adjust-font-size-to(16px, 1);

    color: map-get($greys, 1000);
    line-height: normal;
    border: 1px solid $border-color;
}

// stylelint-disable selector-no-qualifying-type
input[type='radio'],
input[type='checkbox'] {
    margin-top: auto;
    margin-right: rhythm(0.5);
    margin-bottom: auto;
}
// stylelint-enable selector-no-qualifying-type

select,
input {
    flex: 0 0 auto;
    width: auto;
    margin-right: rhythm(1);
}

fieldset {
    margin: rhythm(1);
    padding: rhythm(0.5);
    border: 1px solid $border-color;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: flex;
        margin: 0 0 rhythm(0.5);
    }

    ul ul li {
        margin-bottom: 0;
    }

    label:first-child {
        flex: 0 0 200px;
    }
}

.left:not([class*='bgc']) {
    background: $stripes;
    background-color: $color-transparent-red;
}

.right:not([class*='bgc']) {
    background: $stripes;
    background-color: $color-transparent-blue;
}

.output-container__social-share {
    position: relative;
    margin: 0;
    padding: rhythm(0.5) rhythm(0.5);
    text-align: right;

    &:after,
    &:before {
        display: inline-block;
        width: 65px;
        height: rhythm(1);
        margin-right: rhythm(0.5);
        vertical-align: top;
        background-color: $color-transparent-green;
        content: ' ';
    }
}

.preview {
    border: 1px dashed $border-color;
}

.video-wrapper {
    position: relative;
    text-align: center;
    background-color: map-get($greys, 200);
    border: 1px solid $border-color;

    &:after {
        @include adjust-font-size-to(72px, 1);

        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        font-weight: bold;
        font-family: monospace;
        content: 'Video';
    }
}
