@import '../../styles/common-imports';

.current-openings__list {
    padding-bottom: rhythm(1);
    list-style-type: none;
}

.current-openings__item {
    @include container;

    padding-top: rhythm(0.5);
    padding-bottom: rhythm(0.5);
    color: map-get($greys, 800);

    &:nth-child(even) {
        color: map-get($greys, 1000);
        background-color: map-get($greys, 100);
    }
}

.current-openings__item__expand {
    display: none;
    padding-top: rhythm(1);
}

.current-openings__item__details-btn {
    @include adjust-font-size-to(14px);

    margin: rhythm(0.5) 0;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
        margin: 0;
    }
}

.current-openings__item__title-wrapper,
.current-openings__item__category-wrapper {
    flex: 1 1 50%;
}

.current-openings__item__category,
.current-openings__item__title {
    @include adjust-leading-to(1.5);
}

.current-openings__item__category-wrapper {
    text-align: right;
}

.current-openings__item__header {
    display: flex;
}

.current-openings__item__description,
.current-openings__item__skills {
    p {
        margin-bottom: rhythm(1);
    }

    ul {
        margin: 0 0 rhythm(1) rhythm(2);
        list-style-type: disc;
    }

    // Essential Job Responsibilities
    p > span,
    p > strong > span {
        /* stylelint-disable-next-line declaration-no-important */
        text-decoration: none !important;
    }

    p > strong > span,
    p > span > strong {
        @include adjust-font-size-to(20px, 1);

        display: inline-block;
        color: $theme-tertiary;
        font-family: $font-family-secondary;
    }

    p + ul {
        margin-top: #{- rhythm(1)};
    }

    p:empty {
        display: none;
    }
}

.horizontal-menu > li > ul {
    right: 0;
    left: 0;
}

.horizontal-menu > li {
    margin-bottom: rhythm(1);
}
