@import '../common-imports';

.cmc-article {
    margin-bottom: 200px;
}

.cmc-form {
    @include adjust-font-size-to(24px);

    @media (min-width: $screen-sm-min) {
        width: 75%;
    }
}

.cmc-form input {
    @include adjust-font-size-to(24px);

    padding: 0 10px;
    border-radius: 0;
}

.cmc-form .required:after {
    vertical-align: super;
}

.cmc-form select {
    @include adjust-font-size-to(24px);

    height: 50px;
}

.cmc-form > fieldset > ul > li {
    margin-bottom: rhythm(1);
}

.parsley-required {
    color: $font-color-error;
}

/* stylelint-disable selector-no-qualifying-type */
.cmc-form [type='button'],
.cmc-form__submit-button,
a.cmc-article__link {
    @include adjust-font-size-to(24px);
}
/* stylelint-enable selector-no-qualifying-type */

.cmc-article__link-list {
    margin-top: rhythm(5);
}
