@import '../../styles/common-imports';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/carousel';

.carousel--jjc__quote-mark {
    position: relative;
    display: inline-block;
    width: 40px;

    &:after {
        position: absolute;
        top: -10px;
        display: block;
        color: $theme-tertiary-light;
        font-size: 90px;
        font-family: $font-family-secondary;
        content: '“';
    }
}

.carousel--jjc__quote-mark--close:after {
    top: -4px;
    content: '”';
}

.carousel--jjc {
    .carousel-inner {
        margin-bottom: rhythm(1);
    }

    .item__content {
        display: flex;
        flex-direction: column;
        color: map-get($greys, 900);

        @media (min-width: $screen-sm-min) {
            display: grid;
            grid-template-rows: auto rhythm(4);
            grid-template-columns: auto 300px;
        }
    }

    .item__title {
        grid-row-start: 2;
        align-self: flex-end;
        order: 2;
        padding: 0 0 rhythm(1);
        text-align: right;

        @media (min-width: $screen-sm-min) {
            align-self: start;
            justify-self: end;
            padding: 0 rhythm(2) 0 0;
        }
    }

    .item__text-wrapper {
        order: 1;
        padding: rhythm(1) 0;

        @supports (display: grid) {
            @media (min-width: $screen-sm-min) {
                order: 0;
                padding: rhythm(2) rhythm(1) rhythm(1) 0;
            }
        }
    }

    .item__img {
        grid-row-end: span 2;
        grid-column-start: 2;
        order: 0;
        width: auto;
        max-width: 250px;
        height: auto;
        margin: auto;

        @supports (display: grid) {
            @media (min-width: $screen-sm-min) {
                order: 2;
                width: 100%;
                max-width: unset;
                margin: 0;
            }
        }
    }

    .carousel-indicators {
        position: static;
        right: 0;
        left: 0;
        width: auto;
        margin: 0 auto;
        line-height: 0;

        @media (min-width: $screen-md-min) {
            position: static;
        }

        li {
            width: auto;
            height: auto;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background: none;
            border: 0;
            border-radius: 0;
        }
    }

    .carousel-indicators__graphic {
        display: block;
        width: 1em;
        height: 1em;
        margin: 1em 0.75em;
        background: $border-color;
        border: 1px solid $border-color;
        border-radius: 50%;

        @media (min-width: $screen-md-min) {
            //width: 0.875em;
            //height: 0.875em;
            // margin: 0.375em;
        }
    }

    /* stylelint-disable-next-line selector-no-qualifying-type */
    .carousel-indicators li.active .carousel-indicators__graphic {
        background: $theme-primary-light;
        border-color: $theme-primary-light;
    }
}
