@import '../../styles/common-imports';

.reseller-list-item {
    display: none;
    margin-bottom: rhythm(1);
}

.js-is-visible {
    display: block;
}

.find-reseller-select {
    @include adjust-font-size-to(16px, 1);

    max-width: 100%;
    color: map-get($greys, 800);
}

.find-reseller-label {
    display: block;
    margin-bottom: rhythm(1);
}

.reseller-list-item__company {
    margin-bottom: 0;
}

.reseller-list-item__address {
    margin-bottom: rhythm(0.5);
}

.reseller-list-item__product {
    margin-bottom: rhythm(1);
    color: $theme-tertiary;
}
