/* stylelint-disable selector-no-qualifying-type */
.left-nav-menu__toggle-button,
.layout-bg--social-media-share,
.layout__bg--product-tool-tips,
a.products-and-solutions-item__details-link,
.top-nav-menu .top-nav-menu__charm-button--search,
.top-nav-menu .top-nav-menu__charm-button--global,
.top-nav-menu .top-nav-menu__charm-button--contact,
.top-nav-menu .top-nav-menu__charm-button--support,
a.social-media-links--facebook,
a.social-media-links--twitter,
a.social-media-links--youtube,
a.social-media-links--linkedin,
.cmc-footer__news-about-container,
.cmc-footer__news-and-events-links,
.cmc-footer__about-us-links,
.cmc-footer__contact-links {
    display: none;
}

a.left-nav-menu__home-link {
    cursor: default;
}

/* stylelint-enable selector-no-qualifying-type */

.cmc-article__title {
    margin-top: 2.5rem;
}

.cmc-article__article-image {
    margin: 2.5rem 1.625rem 1.625rem;
}

.products-and-solutions-item p {
    margin-bottom: 0;
}
