@import '../../styles/common-imports';

.carousel--iums {
    .item > div > p {
        @media (min-width: $screen-md-min) {
            min-height: rhythm(2);
        }
    }
}

.encircle {
    display: inline-block;
    width: rhythm(1);
    height: rhythm(1);
    color: $white;
    text-align: center;
    background-color: $theme-primary-dark;
    border-radius: 50%;
}
