@import '../../styles/common-imports';
@import '../../styles/pre-boxv4/mixins';

.max-recruit-oi__section {
    @extend %content-wrapper;

    margin-bottom: rhythm(3);
    overflow: hidden;
}

.max-recruit-oi__header {
    color: $white;
}

.max-recruit-oi__heading {
    display: block;
    margin: 0 0 rhythm(1);

    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(2);
    }
}

.max-recruit-oi__section--intro {
    margin-bottom: rhythm(1);

    .max-recruit-oi__header {
        margin: 0;
        padding: rhythm(0.5);
        text-align: center;
        background-image: url('/images/pages/dev/animated/students.jpg');
        background-position: 50% 50%;
        background-size: cover;

        @media (min-width: $screen-sm-min) {
            min-height: rhythm(19);
            padding: rhythm(1);
        }
    }

    .max-recruit-oi__pq {
        @include clearfix();

        padding: rhythm(1) rhythm(1) rhythm(4);
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            padding: rhythm(1);
        }
    }

    .max-recruit-oi__pq-author {
        float: right;
        color: $black;

        span {
            color: map-get($greys, 800);
        }
    }

    .max-recruit-oi__img {
        display: block;
        margin: #{- rhythm(3)} auto 0;

        @media (min-width: $screen-sm-min) {
            margin: #{- rhythm(3)} auto 0;
        }
    }
}

.max-recruit-oi__section--graduation-rates,
.max-recruit-oi__section--outcomes {
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-wrap: wrap;
    }

    .max-recruit-oi__header {
        .max-recruit-oi__pq-author {
            display: none;
            margin-top: auto;

            @media (min-width: $screen-sm-min) {
                display: block;
                margin-bottom: rhythm(1);
            }
        }

        @media (min-width: $screen-sm-min) {
            display: flex;
            flex: 1 1 1px;
            flex-direction: column;
            padding: rhythm(1);
        }
    }

    .max-recruit-oi__video-wrapper {
        @media (min-width: $screen-sm-min) {
            flex: 0 0 380px;
            order: -1;
        }
    }

    .max-recruit-oi__pq {
        padding: rhythm(0.5) rhythm(0.5);
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            flex: 1 1 50%;
            margin: #{- rhythm(2)} #{- rhythm(0.5)} 0 0;
            padding: rhythm(1) rhythm(1.5);
        }

        @media (min-width: $screen-md-min) {
            margin: #{- rhythm(1.5)} #{- rhythm(0.5)} 0 0;
            padding: rhythm(2) rhythm(1.5);
        }

        .max-recruit-oi__pq-author {
            padding-bottom: rhythm(0.5);

            @media (min-width: $screen-sm-min) {
                display: none;
            }
        }
    }

    .max-recruit-oi__pq-text {
        margin-bottom: rhythm(0.5);
    }

    .max-recruit-oi__img-wrapper {
        position: relative;
        display: none;

        @media (min-width: $screen-sm-min) {
            display: block;
            flex: 1 1 50%;
        }
    }

    .max-recruit-oi__img {
        position: absolute;
        top: 0;
        left: #{- rhythm(1)};
        transform: scale(0.9, 0.9) rotate(-15deg);

        @media (min-width: $screen-md-min) {
            top: #{- rhythm(1)};
        }
    }
}

.max-recruit-oi__section--career-services {
    .max-recruit-oi__row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: rhythm(1);
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            flex-wrap: nowrap;
        }
    }

    .max-recruit-oi__pq-text {
        flex: 1 1 auto;
        order: 1;
        padding: rhythm(0.5) rhythm(0.5) 0;

        @media (min-width: $screen-sm-min) {
            order: 0;
            padding: rhythm(1);
        }
    }

    .max-recruit-oi__video-wrapper {
        flex: 1 1 100%;

        @media (min-width: $screen-sm-min) {
            flex: 0 0 380px;
        }
    }

    .max-recruit-oi__video {
        margin-bottom: rhythm(0.25);

        @media (min-width: $screen-sm-min) {
            margin-top: #{- rhythm(1.5)};
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__pq-author {
        margin-left: rhythm(0.5);
        text-align: left;

        @media (min-width: $screen-sm-min) {
            margin-left: rhythm(1);
        }
    }

    .max-recruit-oi__row:nth-of-type(2) {
        // padding-bottom: 0;

        .max-recruit-oi__pq-author {
            @media (min-width: $screen-sm-min) {
                margin-bottom: rhythm(1);
            }
        }

        .max-recruit-oi__pq-text {
            padding-bottom: rhythm(1);

            @media (min-width: $screen-sm-min) {
                padding-top: 0;
            }
        }

        .max-recruit-oi__video-wrapper {
            order: 0;

            @media (min-width: $screen-sm-min) {
                order: 0;
            }
        }
    }
}

.max-recruit-oi__section--student-advise {
    display: flex;
    flex-wrap: wrap;

    .max-recruit-oi__header {
        flex: 1 1 100%;
    }

    .max-recruit-oi__heading {
        @media (min-width: $screen-sm-min) {
            margin-bottom: rhythm(1);
        }
    }

    .max-recruit-oi__pq {
        flex: 1 1 100%;
        order: 2;
        padding: rhythm(0.5) rhythm(0.5);
        background-color: $white;

        @media (min-width: $screen-sm-min) {
            flex: 1 1 1px;
            order: 0;
            padding: rhythm(1) rhythm(3) rhythm(1) rhythm(1);
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__pq-text {
        margin-bottom: rhythm(1);
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__video-wrapper {
        flex: 1 1 100%;
        order: 1;

        @media (min-width: $screen-sm-min) {
            flex: 0 0 380px;
            order: 0;
            margin: rhythm(1.5) 0 0 #{- rhythm(1.5)};
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__pq-author {
        margin-bottom: 0;
        padding-top: rhythm(0.5);
        padding-left: rhythm(0.5);
        color: map-get($greys, 1000);
        background: $white;

        @media (min-width: $screen-sm-min) {
            margin-top: rhythm(0.5);
            margin-left: rhythm(2.5);
            padding: 0;
            color: $white;
            background: transparent;
        }
    }
}

.max-recruit-oi__section--outcomes {
    .max-recruit-oi__header {
        @media (min-width: $screen-sm-min) {
            padding: 0 0 0 rhythm(1);
        }

        @media (min-width: $screen-md-min) {
            padding: rhythm(1);
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__heading {
        @media (min-width: $screen-sm-min) {
            margin-bottom: 0;
        }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .max-recruit-oi__video-wrapper {
        z-index: 1;
    }

    .max-recruit-oi__img {
        position: static;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: none;
    }

    .max-recruit-oi__pq {
        margin: #{- rhythm(0.5)} 0 0 0;
        padding-top: rhythm(1);

        /* stylelint-disable-next-line no-descending-specificity */
        .max-recruit-oi__pq-author {
            display: block;
        }
    }

    .max-recruit-oi__img-wrapper {
        margin-top: #{- rhythm(0.5)};
    }
}

.max-recruit-oi__section--about {
    .max-recruit-oi__img {
        display: block;
        width: 100%;
    }
}

.max-recruit-oi__section--about-content {
    padding: rhythm(1);
    background-color: $white;
}
