@import '../../styles/common-imports';
@import '../components/proportional-iframe';

/* stylelint-disable selector-max-id */
#DemoVideo,
#DemoCareer,
#DemoProgram {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;

    @media screen and (prefers-reduced-motion: reduce), (update: slow) {
        /* stylelint-disable-next-line declaration-no-important */
        transition-duration: 0.1ms !important;
    }
}
/* stylelint-enable selector-max-id */

.header-logo {
    display: block;
    max-width: 100%;
    height: rhythm(2);
    margin: auto;
    padding: rhythm(0.125);

    @media (min-width: $screen-sm-min) {
        float: right;
        margin: 0;
    }
}

.occupation-insight-demo__header-text {
    margin-bottom: rhythm(1);
    padding: 0;

    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}

.occupation-insight-demo__header-wrap {
    margin-bottom: 0;

    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(1);
    }
}

.occupation-insight-demo__header-logo-wrap {
    padding: 0;
}

.occupation-insight-demo__demo-video-heading {
    display: inline-block;
}

.occupation-insight-demo__close-demo-video-btn {
    @include adjust-font-size-to(12px, 1);

    position: relative;
    float: right;
    margin: 0 rhythm(0.5) rhythm(1) 0;
    padding: 0 rhythm(1.25) 0 0;
    background: none;
    border: 0;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: rhythm(1);
        height: rhythm(1);
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load('images/ui/close.svg' fill=$theme-tertiary);
        background-size: cover;
        // scss-lint:enable SpaceAroundOperator
        content: '';
    }
}
