@import '../common-imports';
@import '../pre-boxv4/mixins';
@import '../components/product-center';
@import '../components/demo-center';
@import '../components/proportional-iframe';

.cmc-article {
    min-height: 0;
}

.proportional-iframe-scale__outer-wrapper {
    margin-bottom: rhythm(1);
}

.proportional-iframe-scale__sizer-img {
    max-height: calc(100vh - 185px);
}
