@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../base/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/utilities';
//@import '.tmp/iconizr/sass/svg-sprite-svg-sprite';

@import '../helpers/mixins';
@import '../helpers/compass-altered/typograpy/vertical_rhythm';
@import '../base/reset';
@import '../base/typography';
@import '../base/forms';

$sg-text-color: #333;
$sg-text-color-heading: #205081;
$sg-link-color: #672823;
$sg-link-color-hover: #000;
$sg-nav-active-text-color: #676767;
$sg-nav-active-bg-color: #ebebeb;
$sg-swatch-text-color: #fff;

section {
    @include trailing-border(1px, 1);
    @include clearfix();

    margin-bottom: rhythm(1);
}

section section {
    margin-bottom: rhythm(1);
    padding: 0;
    border: 0;
}

section .row {
    margin-bottom: rhythm(1);
}

.h1-sg-heading {
    @include adjust-font-size-to(28px, 1);

    margin-bottom: rhythm(1);
    color: $sg-text-color-heading;
    font-weight: 400;
}

.h2-sg-heading {
    @include adjust-font-size-to(20px, 1);

    margin-bottom: rhythm(1);
    color: $sg-text-color-heading;
    font-weight: 400;
}

.h3-sg-heading {
    @include adjust-font-size-to(16px, 1);

    font-weight: 400;
}

.sg-nav-affix {
    // 44px for ribbon
    top: rhythm(1, $base-font-size, -44);

    a {
        display: block;
        padding-left: 1em;

        &:link,
        &:visited,
        &:active {
            color: $sg-link-color;
            text-decoration: none;
        }

        &:hover {
            color: $sg-link-color-hover;
            text-decoration: underline;
        }
    }
}

.sg-nav .nav .nav a {
    padding-left: 3em;
}

.active {
    color: $sg-nav-active-text-color;
    background: $sg-nav-active-bg-color;
    border-radius: 0.5em;
}

.nav {
    @include adjust-font-size-to(12px, 1);

    width: 200px;
    margin-bottom: rhythm(1);
    font-weight: 400;
}

.sg-color-font {
    color: map-get($greys, 1000);

    &:after {
        content: ' (' + map-get($greys, 1000) + ')';
    }
}

.sg-color-font-dark {
    color: map-get($greys, 800);

    &:after {
        content: ' (' + map-get($greys, 800) + ')';
    }
}

.sg-color-h1 {
    color: $theme-secondary;

    &:after {
        content: ' (' + $theme-secondary + ')';
    }
}

.sg-color-link {
    color: $font-color-link;

    &:after {
        content: ' (' + $font-color-link + ')';
    }
}

.sg-border-example {
    &:after {
        @include rhythm-borders(1px, 1);

        display: block;
        width: 90%;
        color: $border-color;
        white-space: pre;
        text-align: center;
        border-radius: 0.5em;
        content: '$border-color: (' + $border-color + ')';
    }
}

.sg-border-example--filled {
    &:after {
        @include rhythm-borders(1px, 1);

        display: block;
        width: 90%;
        white-space: pre;
        text-align: center;
        background: $border-color;
        border-radius: 0.5em;
        content: '$border-color: (' + $border-color + ')';
    }
}

.sg-font-size {
    &:after {
        display: block;
        content: '$base-font-size: ' + $base-font-size + '';
    }
}

.sg-line-height {
    &:after {
        display: block;
        content: '$base-line-height: ' + $base-line-height + '';
    }
}

.sg-var-xs-land {
    &:after {
        display: block;
        content: '$screen-xs-land-min: ' + $screen-xs-land-min + '';
    }
}

.sg-var-xs-min {
    &:after {
        display: block;
        content: '$screen-xs-min: ' + $screen-xs-min + '';
    }
}

.sg-var-sm-min {
    &:after {
        display: block;
        content: '$screen-sm-min: ' + $screen-sm-min + '';
    }
}

.sg-var-md-min {
    &:after {
        display: block;
        content: '$screen-md-min: ' + $screen-md-min + '';
    }
}

.sg-var-lg-min {
    &:after {
        display: block;
        content: '$screen-lg-min: ' + $screen-lg-min + '';
    }
}

.sg-var-gutter {
    &:after {
        display: block;
        content: '$grid-gutter-width: ' + $grid-gutter-width + '';
    }
}

.sg-link {
    &:after {
        display: inline;
    }
}

.swatch {
    width: 40%;
    padding: rhythm(1) 0;
    text-align: center;
    border-radius: 0.5em;
}

.swatch--bg {
    width: 95%;
    margin: auto;
    padding: rhythm(1) 0;
    text-align: center;
    border-radius: 0;
}

code {
    padding: 0 2px;
    font-weight: 400;
    font-size: 13px;
    font-family: Menlo, Consolas, monospace;
    background: map-get($greys, 200);
    border: 1px solid $border-color;
    border-radius: 2px;
}

.container-for-loading {
    position: relative;
    display: block;
    height: 150px;
}

.sg-pad-marg-box {
    background-color: map-get($greys, 200);
}

.sg-pad-marg-box-wrapper {
    border: 1px solid $border-color;
}
