---
# <!-- @formatter:off -->
title: Rise of the New Age Customer
author: Lenny Schloss
publish: 2015-8-10
category:
    - Customer Service
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article class="container">
    <header>
        <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />
        <p class="c-grey--900 mb0">
            By {{author}} on {{blogFormatDate publishFormatted}}
        </p>
        <h1 class="ht--s--38-45 c-theme-primary-dark ">
            {{title}}
        </h1>
        {{>blog-category-list}}
    </header>

    <p>
        The rules of customer engagement changed half-a-decade ago with the
        arrival of social media. Social channels have broken down communication
        barriers between customers and brands and have amplified the cost of
        customer dissatisfaction at an individual and collective level. The
        rules of the game have changed. Businesses are coming around to treating
        customer service as a differentiator in addition to an imperative.
    </p>

    <p>
        There are no shortcuts to service excellence which is often an outcome
        of use of best practices within the organization and outside. An
        unwavering focus on customer convenience often pays dividends for the
        brand and top line and can be considered as a first step towards service
        excellence.
    </p>

    <p>
        Here are some practices you can follow to move up the service excellence
        charts:
    </p>
    <ul class="list--normal">
        <li>Define your service excellence drivers</li>
        <li>
            Educate, encourage and use incentives to ensure employees align to
            your service goals
        </li>
        <li>Measure the strength of your relationships</li>
        <li>Capture and document customer concerns</li>
        <li>
            Fine tune your processes while proactively solving problems and
            preventing their recurrence
        </li>
        <li>
            Promote customer service champions within the organization and
            service advocates outside the organization
        </li>
        <li>
            Deploy the right technology backbone to support your service
            standards and processes
        </li>
    </ul>
    <p>
        You can read the full whitepaper here:
        <a
            href="v2-talisma---/products/Product%20Sheet/Rise-of-the-New-Age-Customer-Whitepaper.pdf"
            >Rise of the New Age Customer Whitepaper</a
        >
    </p>
</article>
{{/content}} {{#content "after-body"}}
<a href="/blog/" class="blog-home-link">Blog Home</a>
{{>quick-launch--blog-archive}} {{>quick-launch--blog-categories}} {{/content}}
{{/extend}}
