<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>addEventListener('error', window.__e=function f(e){f.q=f.q||[];f.q.push(e)});</script>
</head>
<body>
{{{contents}}}
{{>additional-scripts}}
</body>
</html>
