<section class='bg-ptn--blue-bar-bkg-careers'>
    <div class='container c'>
        <div class='pattern-box'>
            <p class='ht--s--38 c-white pattern-box__title'>
                <span class='ht--s--24 c-black'>
                    Ready to
                </span>
                Transform Higher Education
                <span class='ht--s--24 c-black'>
                    with Campus Management?
                </span>
            </p>
            <a
                class='pattern-box-circle-link ht--s--24'
                href="{{
                    safeValue
                    href
                    '/about-us/careers-at-Campus-Management/current-openings/'
                }}"
            >
                <span style='position: relative; top: -5px;'>
                    Career Openings
                </span>
            </a>
        </div>
    </div>
</section>
