<section class='bg-ptn--blue-bar-bkg-email'>
    <div class='container c'>
        <div class='pattern-box'>
            <h3 class='ht--s--38 c-white pattern-box__title'>
                <span class='ht--s--24 c-black'>
                    Contact Us with Your
                </span>
                Consultation Request
            </h3>
            <a
                class='pattern-box-circle-link ht--s--28'
                href="{{safeValue href '/contact-us/consultation-request/'}}"
            >
                <span>
                    Contact Us
                </span>
            </a>
        </div>
    </div>
</section>
