<section class='bg-ptn--blue-bar-bkg-nexus'>
    <div class='container c'>
        <div class='pattern-box'>
            <h3 class='ht--s--38 c-white pattern-box__title'>
                <span class='ht--s--24 c-black'>
                    ¿Listo Para
                </span>
                Transformar su Institución?
                <span class='ht--s--24 c-black'>
                    Hablemos de Desafíos y Metas.
                </span>
            </h3>
            <a
                class='pattern-box-circle-link ht--s--28'
                href="{{safeValue href '/contact-us/consultation-request/'}}"
            >
                <span>
                    Iniciar Aquí
                </span>
            </a>
        </div>
    </div>
</section>
