<section class='bg-ptn--blue-bar-bkg-nexus'>
    <div class='container c'>
        <div class='pattern-box'>
            <h3 class='ht--s--38 c-white pattern-box__title'>
                <span class='ht--s--24 c-black'>
                    Ready to
                </span>
                Transform Your Institution?
                <span class='ht--s--24 c-black'>
                    Let's Discuss Your Challenges and Goals.
                </span>
            </h3>
            <a
                class='pattern-box-circle-link ht--s--28'
                href="{{safeValue href '/contact-us/consultation-request/'}}"
            >
                <span>
                    Start Here
                </span>
            </a>
        </div>
    </div>
</section>
