<section class='bg-ptn--blue-bar-bkg-resources'>
    <div class='container c'>
        <div class='pattern-box'>
            <h3 class='ht--s--38-45 c-white pattern-box__title'>
                Higher Ed Resources:
                <span class='ht--s--24 c-theme-primary-light'>
                    Find the Latest Insight and Thought Leadership
                </span>
            </h3>
            <a href="{{safeValue href '/higher-education-resources/'}}">
                <img
                    src='/images/ui/resources-enter-btn-drk-blue.png'
                    alt='Start'
                    loading='lazy'
                    inline-img-dims
                />
            </a>
        </div>
    </div>
</section>
