$scroll-bar-thumb-border-color: rgba(0, 0, 0, 0);
$scroll-bar-thumb-bg-color: rgba(0, 0, 0, 0.15);
$scroll-bar-thumb-box-shadow-color: rgba(0, 0, 0, 0.05);

@mixin container {
    position: relative;
    max-width: 998px;
    margin-right: auto;
    margin-left: auto;
    padding: rhythm(1) rhythm(0.5);
}

@mixin svg-sprite-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin svg-sprite-icon-in-pseudo {
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
}

// Generate the small columns
@mixin make-xs-land-column($columns, $gutter: $grid-gutter-width) {
    position: relative;
    min-height: 1px;
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);

    @media (min-width: $screen-xs-min) {
        float: left;
        width: percentage(($columns / $grid-columns));
    }
}

@mixin make-xs-land-column-offset($columns) {
    @media (min-width: $screen-xs-min) {
        margin-left: percentage(($columns / $grid-columns));
    }
}

@mixin make-small-scroll() {
    &::-webkit-scrollbar {
        width: 10px;
        background-color: map-get($greys, 100);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-bar-thumb-bg-color;
        background-clip: padding-box;
        border-color: $scroll-bar-thumb-border-color;
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        box-shadow:
            inset -1px -1px 0 $scroll-bar-thumb-box-shadow-color,
            inset 1px 1px 0 $scroll-bar-thumb-box-shadow-color;
    }
}

@mixin cmc-button($button-bg-color, $button-gradient-stop2) {
    @include adjust-font-size-to(14px, 1);

    display: inline-block;
    margin: 0 auto;
    padding: 0 1em;
    color: map-get($greys, 1000);
    font-weight: 400;
    line-height: rhythm(1, $base-font-size, 2px);
    text-align: center;
    background:
        linear-gradient(
            to bottom,
            $button-bg-color 30%,
            $button-gradient-stop2 70%
        );
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5em;
    cursor: pointer;

    &:link,
    &:visited,
    &:active {
        color: map-get($greys, 1000);
        text-decoration: none;
    }

    &:hover {
        color: map-get($greys, 1000);
        text-decoration: underline;
    }
}

@mixin safari-flex-box-clear-fix-fix() {
    // safari treats before and after as actual elements, set their size to 0
    // https://stackoverflow.com/questions/34250282/flexbox-safari-bug-flex-wrap
    &:before,
    &:after {
        flex-basis: 0;
        content: normal;
    }
}

@mixin charm-button($bg-color: map-get($greys, 600)) {
    @include adjust-font-size-to(35px);

    position: relative;
    display: block;
    width: 1em;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
    text-indent: 3em;
    background: $bg-color;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &:after {
        @include svg-sprite-icon-in-pseudo;

        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

@mixin pill-button($bg-color: $theme-tertiary) {
    @include adjust-font-size-to(16px, 1);

    position: relative;
    display: inline-block;
    padding: rhythm(0.25) rhythm(1.25) rhythm(0.25) rhythm(0.75);
    color: $white;
    font-weight: 400;
    text-decoration: none;
    background-color: $bg-color;
    border: 0;
    border-radius: rhythm(1);
    cursor: pointer;

    &:after {
        position: absolute;
        top: 50%;
        right: rhythm(0.5);
        display: block;
        // scss-lint:enable SpaceAroundOperator
        width: 6.4px;
        height: 9.7px;
        // scss-lint:disable SpaceAroundOperator
        background-image: svg-load('images/ui/chevron-right.svg', fill=$white);
        background-repeat: no-repeat;
        transform: translateY(-50%);
        content: ' ';
    }
}
