---
# <!-- @formatter:off -->
title: Annual Report 2019-20
private: true
language: en-in
url-lang-prefix: /en-in
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div class="bgc-white">
        <div class="container">
            <h1 class="ht--s--38 c-theme-primary-dark mb1">
              Annual Report 2019-20
            </h1>
          <div class="report-container">
            <h3 class="ht--s--22-28 c-grey--800">Request Annual Report</h3>
            <iframe frameBorder="0" style="width: 100%; height: 625px;" id=706840a2-4288-48d1-9526-ed3b64dc0d94></iframe><script>var sandboxSrc = "https://0905c06d3a304efbb90df2e032fb38ad.svc.dynamics.com/t/formsandbox/CHT0hRs1nmWRx8FiTUttN8H_4EM1OfqnnTv9mbgVMhM/0c3ca541-26a0-ec11-b400-000d3a5425a7?ad=" + encodeURIComponent(document.location.toString()); document.getElementById('706840a2-4288-48d1-9526-ed3b64dc0d94').setAttribute('src', sandboxSrc); </script>
          </div>
          <div class="download-container" style="display: none;">
            <h3 class="ht--s--22-28 c-grey--800">Download Annual Report</h3>
            <p><a href="https://shelves.s3.amazonaws.com/reports-policies/Annual_Return_2019-20_Campus.pdf" class="pill-button" target="_blank" rel="noopener">Annual Report 2019-20 (PDF)</a></p>
          </div>
        </div>
    </div>
</article>

<script>
  function getQueryVariable(query, variable) {
    if(query.indexOf('?') !== -1) {
      query = query.substring(query.indexOf('?') + 1, query.length);
    }
    if(query.indexOf('#') !== -1) {
      query = query.substring(0, query.indexOf('#'));
    }
    var vars = query.split("&");
    for(var i=0;i<vars.length;i++) {
      var pair = vars[i].split("=");
      if (pair[0] === variable) {
        return pair[1];
      }
    }
    return false;
  }

  var gate = getQueryVariable(window.location.href, 'req');
  if(gate) {
    document.querySelector('.report-container').style.display = 'none';
    document.querySelector('.download-container').style.display = 'block';
  }
</script>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
