---
# <!-- @formatter:off -->
title: Campus Management Corp®
meta-description: Campus Management provides cloud-based SIS, CRM and ERP solutions and services to more than 1,100 higher ed institutions in over 30 countries.
pageCssClass: page--home v2
og-type: website
private: true
language: es
url-lang-prefix: /es
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
in-nav--es: false
alt--en: /
alt--pt-br: /
alt--en-in: /en-in/
show-carousel-bg: true
social-image: /images/pages/home/campus-management.jpg
additional-scripts:
    - src: /scripts/page--home.js
      inline: true
    - src: /scripts/page--youtube-list-player.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/home.css
      inline: true
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-youtube-player.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}} {{> home-page-carousel-es }}

<div class="bgc-white">
    <div class="container container--2-5 box-v4 box-v4--3-1">
        <div class="right mb0">
            <img
                src="/images/pages/home/engage-icon-homepage.png"
                alt="CampusNexus Engage"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="left">
            <h2 class="category">CampusNexus<sup>®</sup> Engage</h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Impulse el éxito de los estudiantes con una solución de
                educación superior que va mas allá del CRM, proporcionando
                valiosas herramientas de conocimiento y participación.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/crm-para-la-educacion-superior/"
                        >Mas información</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-grey--100">
    <div class="container container--2-5 box-v4 box-v4--1-3">
        <div class="left mb0">
            <img
                src="/images/pages/home/student-icon-homepage.png"
                alt="CampusNexus Student"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="right">
            <h2 class="category">
                CampusNexus Student
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Cree nuevas estrategias y modelos a medida en que las
                necesidades de los estudiantes vayan evolucionando con un
                sistema SIS dinámico que crece y se transforma con su
                Institución.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/sistemas-de-informacion-del-estudiante/"
                        >Mas información</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-theme-tertiary">
    <div class="container box-v4 box-v4--1-1">
        <div class="left">
            <div class="testimonial smaller">
                <p class="c-black ht--p--18 testimonial__quote--smaller">
                  Con CampusNexus, fuimos capaces de redireccionar analistas de ERP que eran programadores y administradores de bases de datos, a analistas de negocios líderes, enfocados en iniciativas exclusivamente para estudiantes.
                </p>
            </div>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Chris Wodka,</div>
                <div class="testimonial__author__title--v2">
                    Chief Financial Officer
                </div>
                <div class="testimonial__author__company--v2">
                    Central Arizona College
                </div>
            </div>
        </div>
        <div class="right">
            <div class="testimonial smaller">
                <p class="c-black ht--p--18 testimonial__quote--smaller">
                  Queríamos expandirnos, pero también mantener nuestra reputación de servicios altamente personalizados hacia nuestros estudiantes.
                </p>
            </div>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Joshua Beers,</div>
                <div class="testimonial__author__title--v2">
                    Senior Vice President for Student Experience
                </div>
                <div class="testimonial__author__company--v2">
                    Lancaster Bible College
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bgc-white">
    <div class="container container--2-5 box-v4 box-v4--3-1">
        <div class="right mb0">
            <img
                src="/images/pages/home/fhrp-icon-homepage.png"
                alt="CampusNexus Finance, HR and Payroll"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="left">
            <h2 class="category">
                CampusNexus Finance, HR y Payroll
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Transforme su estrategia de negocio basada en la inteligencia de
                datos, para así poder tomar decisiones fiscales y mantener
                alineada su institución según el plan estratégico.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/sistema-de-gestion-financiera/"
                        >Mas información</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-grey--100">
    <div class="container container--2-5 box-v4 box-v4--1-3">
        <div class="left mb0">
            <img
                src="/images/pages/home/occupation-insight-icon-homepage.png"
                alt="CampusNexus Occupation Insight"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="right">
            <h2 class="category">
                CampusNexus Occupation Insight
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Impulse programas académicos con las habilidades de los
                estudiantes combinado con las necesidades del mercado laboral en
                una sola herramienta potente de análisis en la nube.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/garantice-el-exito-estudiantil-a-traves-de-workface-analytics/"
                        >Mas información</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-theme-tertiary">
    <div class="container container--2 box-v4 box-v4--1-1">
        <div class="left">
            <p class="c-black ht--p--22-i c i">
                <span class="b">Asbury University</span>
                redujo sus tiempos de ingreso y prueba de nuevos estudiantes de
                <span class="c-white ht--s--50 quote-highlight"
                    >306 horas a 18 horas</span
                >
            </p>
        </div>
        <div class="right">
            <p class="c-black ht--p--22-i c i">
                <span class="b">Ultimate Medical Academy</span>
                disminuyó sus tiempos de programación para estudiantes nuevos de
                <span class="c-white ht--s--50 quote-highlight"
                    >10 minutos a 6 segundos</span
                >
            </p>
        </div>
    </div>
</div>
{{/content}} {{#content "after-body"}}
{{>[box-v3/youtube-challenges-in-higher-ed-es] show-header=false}}
{{>[pattern-box/consultation-request-es]}} {{/content}} {{/extend}}
