---
# <!-- @formatter:off -->
title: Higher Ed Solutions and Services | Campus Management is now Anthology
meta-description: Now part of Anthology, Campus Management provides cloud-based SIS, CRM and ERP solutions and services to institutions in more than 30 countries.
pageCssClass: page--home v2
og-type: website
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
alt--en-in: /en-in/
alt--pt-br: /
show-carousel-bg: true
social-image: /images/pages/home/campus-management.jpg
additional-scripts:
    - src: /scripts/page--home.js
      inline: true
    - src: /scripts/page--youtube-list-player.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/home.css
      inline: true
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-youtube-player.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}} {{> home-page-carousel }}

<div class="bgc-white">
    <div class="container container--2-5 box-v4 box-v4--3-1">
        <div class="right mb0">
            <img
                src="/images/pages/home/engage-icon-homepage.png"
                alt="CampusNexus Engage"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="left">
            <h2 class="category">CampusNexus<sup>®</sup> Engage</h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Drive student success with a higher education solution that goes
                beyond CRM to provide valuable insight and engagement tools.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/crm-for-higher-education/"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-grey--100">
    <div class="container container--2-5 box-v4 box-v4--1-3">
        <div class="left mb0">
            <img
                src="/images/pages/home/student-icon-homepage.png"
                alt="CampusNexus Student"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="right">
            <h2 class="category">
                CampusNexus Student
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Create new strategies and models as student needs evolve with a
                dynamic SIS that grows and transforms with your institution.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/student-information-system/"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-theme-tertiary">
    <div class="container box-v4 box-v4--1-1">
        <div class="left">
            <div class="testimonial smaller">
                <p class="c-black ht--p--18 testimonial__quote--smaller">
                    With CampusNexus, we were able to move ERP analysts who used
                    to be database programmers into frontline business offices
                    to focus on more student-centric initiatives.
                </p>
            </div>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Chris Wodka,</div>
                <div class="testimonial__author__title--v2">
                    Chief Financial Officer
                </div>
                <div class="testimonial__author__company--v2">
                    Central Arizona College
                </div>
            </div>
        </div>
        <div class="right">
            <div class="testimonial smaller">
                <p class="c-black ht--p--18 testimonial__quote--smaller">
                    We wanted to expand, but also maintain our reputation for
                    highly personalized student service.
                </p>
            </div>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Joshua Beers,</div>
                <div class="testimonial__author__title--v2">
                    Senior Vice President for Student Experience
                </div>
                <div class="testimonial__author__company--v2">
                    Lancaster Bible College
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bgc-white">
    <div class="container container--2-5 box-v4 box-v4--3-1">
        <div class="right mb0">
            <img
                src="/images/pages/home/fhrp-icon-homepage.png"
                alt="CampusNexus Finance, HR and Payroll"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="left">
            <h2 class="category">
                CampusNexus Finance, HR &amp; Payroll
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Turn data into actionable intelligence so your team can make
                fiscal decisions that keep your institution on track with your
                strategic plan.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/financial-management-system/"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-grey--100">
    <div class="container container--2-5 box-v4 box-v4--1-3">
        <div class="left mb0">
            <img
                src="/images/pages/home/occupation-insight-icon-homepage.png"
                alt="CampusNexus Occupation Insight"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="right">
            <h2 class="category">
                CampusNexus Occupation Insight
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Align academic programs and student skills with the needs of the
                marketplace with a cloud-based workforce analytics tool.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/student-success-through-workforce-analytics/"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-white">
    <div class="container container--2-5 box-v4 box-v4--3-1">
        <div class="right mb0">
            <img
                src="/images/pages/home/radius-icon-homepage.png"
                alt="RADIUS by Campus Management"
                loading="lazy"
                inline-img-dims
            />
        </div>

        <div class="left">
            <h2 class="category">
                RADIUS by Campus Management
            </h2>
            <p class="ht--s--24 c-theme-primary-dark mb2--sm">
                Make deeper connections with students with a best-in-class
                admissions and enrollment management solution.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="/products/radius-by-campus-management/"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="bgc-theme-tertiary">
    <div class="container container--2 box-v4 box-v4--1-1">
        <div class="left">
            <p class="c-black ht--p--22-i c i">
                <span class="b">Asbury University</span>
                reduced the time to enter and test new student data from
                <span class="c-white ht--s--50 quote-highlight"
                    >306 hrs to 18</span
                >
            </p>
        </div>
        <div class="right">
            <p class="c-black ht--p--22-i c i">
                <span class="b">Ultimate Medical Academy</span>
                decreased new student scheduling time from
                <span class="c-white ht--s--50 quote-highlight"
                    >10 min to 6 sec</span
                >
            </p>
        </div>
    </div>
</div>
{{/content}} {{#content "after-body"}}
{{>[box-v3/youtube-challenges-in-higher-ed] show-header=false}}
{{>[pattern-box/higher-ed-resources]}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
