---
# <!-- @formatter:off -->
title: Reports / Policies
private: true
language: en-in
url-lang-prefix: /en-in
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div class="bgc-white">
        <div class="container">
            <h1 class="ht--s--38 c-theme-primary-dark mb1">
              Reports / Policies
            </h1>

            <h3 class="ht--s--22-28 c-grey--800">Annual Report</h3>
            <p><a href="/annual-report-19-20">Annual Report 2019-20</a></p>
            <p><a href="/annual-report-20-21">Annual Report 2020-21</a></p>
               
            <h3 class="ht--s--22-28 c-grey--800">Policies</h3>
            <p><a href="https://shelves.s3.amazonaws.com/reports-policies/POSH_Policy_Campus.pdf" target="_blank" rel="noopener">POSH Policy</a></p>
            <p><a href="https://shelves.s3.amazonaws.com/reports-policies/CSR_Policy_Campus.pdf" target="_blank" rel="noopener">CSR Policy</a></p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
