---
# <!-- @formatter:off -->
title: Search Campus Management Corp®
banner-image: /images/pages/home/Banner_productSheets.gif
private: true
alt--pt-br: /search/
additional-scripts:
    - src: /scripts/page--search.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/search-results.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <img class="block c fr--sm mb1" src="{{banner-image}}" alt="" />

    <h1 class="c-grey--900 mb0">{{title}}</h1>
    <p class="ht--s--38-45 c-theme-primary-dark">
        Search Results
    </p>

    <div id="SearchResultContainer" class="app" data-index="cmc--en-us">
        <div class="loading--placeholder">Loading...</div>
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank" rel="noopener">
            Search By
            <img
                src="/images/pages/search/Algolia_logo_bg-white.jpg"
                class="search-results-by__img"
                alt="Algolia"
            />
        </a>
    </p>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
