---
# <!-- @formatter:off -->
title: Pasco-Hernando State College
menu-priority: 0.9
page-bg-image: /images/pages/demos/PHSC/PHSC-page-bkg-blue.jpg
page-bg-image--xs: /images/pages/demos/PHSC/PHSC-410x730-bkg-blue.jpg
additional-scripts:
  - src: /scripts/page--faq.js
    inline: false
additional-stylesheets:
  - href: /styles/pages/faq.css
    inline: true
  - href: /styles/pages/has-testimonial.css
    inline: false
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<style>
    .main-nav__root-list-item:nth-child(3),
    .main-nav__root-list-item:nth-child(4),
    .main-nav__root-list-item:nth-child(5),
    .main-nav__root-list-item:nth-child(6) {
        display: none;
    }

    #livechat-compact-container {
        display: none;
    }

    .social-media-share-plugins-list {
        display: none;
    }

    header {
        margin-top: 1.625rem;
    }

</style>

<article>
    <div class="cmc-article">
        <header class="c c-white">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/demos/PHSC/banner-PHSC-logo-circle.png"
                alt=""
                inline-img-dims
            />
            <h1 class="ht--s--38-45 article__title">Enrollment ·  Retention · Graduation</h1>
        </header>
    </div>

	<div class="bgc-white">
        <div class="box-row">
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pb2--sm pt2--sm">
                <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                    The Power of Partnership
                </h2>
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    Jim Milton, CEO, Campus Management
                </h2>
                <p class="ht--p--16 box-item__text">
                    As a partner focused on the success of your institution and students, Campus Management provides the flexible solutions and data-driven insight you need to achieve your goals.
                </p>
            </div>
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pb2--sm pt2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/ivMNT7PXavQ?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="CampusNexus Engage"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

	<div class="bgc-grey--200">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pb2--sm pt2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="Occupation Insight"
                    ></iframe>
                </div>
            </div>
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pb2--sm pt2--sm">
                <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                    Imagine Helping Your Students to Look Beyond Graduation
                </h2>
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    CampusNexus Occupation Insight Delivers that Today.
                </h2>
                <p class="ht--p--16 box-item__text">
                    Learn how CampusNexus Occupation Insight leverages machine learning to predict needs, prescribe
                    actions and influence outcomes, while assisting your students to plan their futures beyond the
                    classroom.
                </p>
                <div class="c">
                    <a
                        class="pill-button box-item__link c"
                        href="/products/student-success-through-workforce-analytics/"
                        target="_blank"
                        rel="noopener"
                    >Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row">
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pb2--sm pt2--sm">
                <h2 class="box-item__title ht--s--22 c-theme-primary-dark">
                    Imagine an Intelligent Engagement Platform built on the Microsoft Platform
                </h2>
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    CampusNexus Engage is the Future of CRM Solutions.
                </h2>
                <p class="ht--p--16 box-item__text">
                    Learn about CampusNexus Engage and a higher education digital assistant for CampusNexus solutions,
                    built with Microsoft artificial intelligence and machine learning services.
                </p>
                <div class="c">
                    <a
                        class="pill-button box-item__link c"
                        href="/products/crm-for-higher-education/"
                        target="_blank"
                        rel="noopener"
                    >Learn More
                    </a>
                </div>
            </div>
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pb2--sm pt2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/N76SA3TtG9U?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="CampusNexus Engage"
                    ></iframe>
                </div>
            </div>

        </div>
    </div>

    <div class="bgc-theme-tertiary">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 video-box">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/uLMRHei35-k?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Adam Adair"
                    ></iframe>
                </div>
            </div>
            <div class="box-item box-item--no-min-height col-xs-12 col-sm-6">
                <div class="testimonial smaller">
                    <p class="c-black ht--p--18 testimonial__quote--smaller">
                        We wanted software that was highly configurable and we felt Campus Management was by far the best in that area.
                    </p>

                </div>
                <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                    <div class="testimonial__author__name--v2 b">Adam Adair,</div>
                    <div class="testimonial__author__title--v2">
                        <em>Vice-Chancellor for Finance & Administration,</em>
                    </div>
                    <div class="testimonial__author__company--v2">Arkansas State University-Newport</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/Banner-contact-us.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Submit a Question
                </h2>
                <p class="ht--p--16">Select the button below to submit a question to our team.</p>
                <a
                class="pill-button box-item__link"
                href="/demos/PHSC/question/"
            >Submit
            </a>
            </div>
        </div>
    </div>


    <div class="bgc-grey--100">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/solution-sheets.png"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Solution Sheets
                </h2>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Engage-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Engage</a>
				<a
                    href="/docs/product-sheets/cmc/{{language}}/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Occupation Insight</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Student</a>
				<a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexusFinanceHR-Payroll-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Finance HR &amp; Payroll</a>
				<a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Full-Suite-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Full Suite</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Cloud-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Cloud</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/CampusNexus-Architecture-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Architecture</a>
                <a
                    href="/docs/product-sheets/cmc/{{language}}/Why-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Why Campus Management</a>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/case-study.png"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Case Studies
                </h2>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Arkansas-State-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Arkansas State University - Beebe</a>
                <a
                    href="/docs/case-studies/cmc/{{language}}/Central-Arizona-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >Central Arizona College</a>
            </div>
        </div>
    </div>



</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
