---
# <!-- @formatter:off -->
title: Policy Documents
private: true
additional-stylesheets:
    - href: /styles/pages/password-protected-download.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <h1 class="ht--s--38-45 c-theme-primary-dark">
        {{title}}
    </h1>
    <p class="ht--s--20 c-theme-tertiary">
        Chat Services Policy
    </p>

    <div class="password-protected-download__view-container">
        <ul id="password-protected-download__list">
            <li class="password-protected-download__list-item">
                <a
                    class="password-protected-download__list-item__link"
                    href="/documents/policy-docs/CafeX+Customer+Terms+of+Service+(for+url).pdf"
                >
                    <img
                        class="password-protected-download__list-item__image"
                        src="/images/ui/productSheetIconSm.png"
                        alt=""
                    />
                    <p class="c-grey--900 mb0">
                        Chat Services Policy
                    </p>
                    <span
                        class="password-protected-download__list-item__dl-text"
                        >Download</span
                    >
                </a>
            </li>
        </ul>
    </div>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
