---
# <!-- @formatter:off -->
title: Policy Documents - CampusNet Policies
private: true
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
additional-stylesheets:
    - href: /styles/pages/password-protected-download.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <h1 class="ht--s--38-45 c-theme-primary-dark">
        {{title}}
    </h1>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
