---
# <!-- @formatter:off -->
title: Policy Documents - CampusNet Policies
private: true
additional-stylesheets:
    - href: /styles/pages/password-protected-download.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <h1 class="ht--s--38-45 c-theme-primary-dark">
        {{title}}
    </h1>
    <p class="ht--s--20 c-theme-tertiary">
        Severity Classification
    </p>

    <ul id="password-protected-download__list">
        <li class="password-protected-download__list-item">
            <a
                class="password-protected-download__list-item__link"
                href="/documents/policy-docs/Campus+Management+-+Incident+Severity+and+Urgency+Levels+Classification.pdf"
            >
                <img
                    class="password-protected-download__list-item__image"
                    src="/images/ui/productSheetIconSm.png"
                    alt=""
                />
                <p class="c-grey--900 mb0">
                    Campus Management - Incident Severity and Urgency Levels
                    Classification
                </p>
                <span class="password-protected-download__list-item__dl-text"
                    >Download</span
                >
            </a>
        </li>
        <li class="password-protected-download__list-item">
            <a
                class="password-protected-download__list-item__link"
                href="/documents/policy-docs/CCare+Severity+Levels+(Nivel+de+Severidade+de+Incidentes)+with+acknowledgement+times+111215.pdf"
            >
                <img
                    class="password-protected-download__list-item__image"
                    src="/images/ui/productSheetIconSm.png"
                    alt=""
                />
                <p class="c-grey--900 mb0">
                    CCare Severity Levels (Nivel de Severidade de Incidentes)
                    with acknowledgement times 111215
                </p>
                <span class="password-protected-download__list-item__dl-text"
                    >Download</span
                >
            </a>
        </li>
    </ul>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
