---
# <!-- @formatter:off -->
title: Policy Documents - CampusNet Policies
private: true
additional-scripts:
    - src: /scripts/page--password-protected-download.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/password-protected-download.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <h1 class="ht--s--38-45 c-theme-primary-dark">
        {{title}}
    </h1>
    <p class="ht--s--20 c-theme-tertiary">
        Single Sign-On Document
    </p>

    <div
        class="password-protected-download"
        data-site="cmc"
        data-group="en-us"
        data-doctype="password-protected-doc"
    >
        <div class="password-protected-download__ids" style="display: none;">
            5f0e13c183839d0d50926e28
        </div>
        <div class="password-protected-download__view-container">
            Loading...
        </div>
        <p class="password-protected-download__show-when-loaded"></p>
    </div>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
