<ul class="search-results-list">
    {{#each data}}
        <li class="search-result-item  {{#if bannerImage}}search-result-item--has-img{{/if}}">
            {{#if bannerImage}}
                <div class="search-result-item__img-wrap">
                    <img class="search-result-item__img" src="{{bannerImage}}" alt="" />
                </div>
            {{/if}}
            <div class="search-result-item__content">
                <a href="{{url}}" class="search-result-item__title">{{{title}}}</a>
                {{#if publish}}
                    <span class="search-result-item__publish">
                        {{publish}}
                    </span>
                {{/if}}
                {{#ifEq type 'application/pdf'}}
                    <span class="search-result-item__pdf">File Format: PDF/Adobe Acrobat</span>
                {{/ifEq}}
                {{#if products}}
                    <span class="search-result-item__products">{{products}}</span>
                {{/if}}
                <p class="search-result-item__body">
                    {{{body}}}
                </p>
                <a href="{{url}}" class="search-result-item__full-url-link" title="{{url}}">{{url}}</a>
            </div>
        </li>
    {{/each}}
</ul>
