---
# <!-- @formatter:off -->
label: CECU
page-bg-image: /images/pages/home/gartner-3-page-bkg-blue.jpg
page-bg-image--xs: /images/pages/home/cecu-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
social-image: /images/pages/news-and-events/social-cecu-conference.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">Click. Connect. Collaborate.</h1>
            <p class="ht--p--16-22 mb0">
                Visit our Virtual Booth #11 at the CECU Virtual Convention June
                17-18, 2020
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Learn How Your Career College Can Stay Responsive in this
                Evolving Economy
            </h2>

            <p class="ht--p--16-22 mb2--sm">
                How can consumer-oriented technology help you improve student
                outcomes – now and in the future? Join us to explore
                CampusNexus<sup>®</sup> Occupation Insight and meet RENEE,
                higher education’s digital assistant during our Virtual
                Presentation at the convention.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdemWGrN9s-d4KgoahAQebbgkdeyAFSnbjjZCNhVF2gkJMwEg/viewform"
                        target="_blank"
                        rel="noopener"
                        >Register
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark">
                Learn How Your Career College Can Stay Responsive in this
                Evolving Economy
            </h2>
            <p class="c">
                Presented by Raymond Blackwood, Vice President, Product
                Management, Campus Management
            </p>
            <div class="max-width-66--sm block c">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        frameborder="0"
                        allowfullscreen
                        title="CECU Virtual"
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/WFO3YG8RVkY?rel=0"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    “In addition to using Occupation Insight to align programs
                    with job market, I see it as a valuable tool to assist with
                    student retention. Students gain a clear understanding of
                    their career path.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Dr. Sadie Gregory,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Dean of the College of Business,
                    </div>
                    <div class="testimonial__author__company--v2">
                        Coppin State University
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/products/oi/OI-career-explorer-full-scrn.png"
                        class="max-width-100 border"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Align Academic Programs and Career Skills with Workforce
                        Needs
                    </h2>
                    <p>
                        Learn how we are integrating the latest national and
                        regional labor statistics with a solution that provides
                        academic program managers, advisors and students
                        valuable insight into how programs, courses and skills
                        align with the needs of the market.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/student-success-through-workforce-analytics/"
                                target="_blank"
                                >Learn More</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Imagine Helping Your Students to Look Beyond Graduation
                    </h2>
                    <p class="b">
                        CampusNexus Occupation Insight Delivers that Today.
                    </p>
                    <p>
                        Learn how CampusNexus Occupation Insight leverages
                        machine learning to predict needs, prescribe actions and
                        influence outcomes, while assisting your students to
                        plan their futures beyond the classroom.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/student-success-through-workforce-analytics/"
                                target="_blank"
                                >Learn More</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
