---
# <!-- @formatter:off -->
title: Product Accessibility Statement - Campus Management Corp.
meta-description: Campus Management Corp. is committed to ensuring digital accessibility for people with disabilities.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div class="bgc-white">
        <div class="container">
            <h1 class="ht--s--38 c-theme-primary-dark mb1">
                {{title}}
            </h1>

            <p>
                Campus Management Corp. is committed to ensuring digital
                accessibility for people with disabilities. We are continually
                improving the user experience of our products for everyone, and
                applying the relevant accessibility standards.
            </p>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Efforts to support accessibility
            </h2>

            <p>
                Campus Management Corp. takes the following measures to ensure
                accessibility:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>
                    Continual accessibility training is provided for employees.
                </li>
                <li>
                    Clear accessibility targets and responsibilities exist
                    within the organization.
                </li>
                <li>
                    Formal accessibility quality assurance methods exist within
                    the organization.
                </li>
            </ul>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Conformance status
            </h2>

            <h3 class="ht--p--400 ht--p--16">
                Current accessibility standard of the site:
            </h3>

            <p>
                The major releases of our products have been tested against WCAG
                2.0 AA.
            </p>

            <p>
                The next major release of each product will be tested against
                WCAG 2.1 AA.
            </p>

            <h3 class="ht--p--400 ht--p--18">
                Current content conformance status:
            </h3>

            <p>
                Partially conformant: some parts of our products do not fully
                conform to the accessibility standard.
            </p>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Known accessibility issues
            </h2>

            <p>
                Known issues are documented in each product Accessibility
                Conformance Report. Please contact us if you observe an
                accessibility issue.
            </p>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Compatibility
            </h2>

            <p>
                Our products are designed to be compatible with the following
                assistive technologies:
            </p>

            <ul class="list--normal">
                <li>
                    Screen readers - we test with a 3rd party that includes
                    accessibility testing with screen readers.
                </li>
            </ul>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Technologies
            </h2>

            <p>
                Accessibility of our products rely on the following technologies
                to work:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>HTML</li>
                <li>WAI-ARIA</li>
                <li>CSS</li>
                <li>Javascript</li>
            </ul>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Assessment methods
            </h2>

            <p>
                Campus Management Corp. assessed the accessibility of our
                products by using the following method(s):
            </p>

            <ul class="list--normal">
                <li>
                    Self-evaluation: the site was evaluated internally by the
                    company or organization.
                </li>
                <li>
                    External evaluation: the site was evaluated by an external
                    entity not involved in the design and development process.
                </li>
                <li>
                    We conduct both internal and external accessibility testing.
                </li>
            </ul>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Evaluation report
            </h2>

            <p>
                Current Accessibility Conformance Reports are available upon
                request from the
                <a href="mailto:accessibility@campusmgmt.com"
                    >Accessibility Team.</a
                >
            </p>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Feedback process
            </h2>

            <p>
                We welcome your feedback on the accessibility of our products.
                Please contact us via one of the following methods:
            </p>

            <ul class="list--normal list--has-lead-in">
                <li>Phone: 1-866-397-2537</li>
                <li>
                    E-mail:
                    <a href="mailto:accessibility@campusmgmt.com"
                        >Accessibility Team.</a
                    >
                </li>
                <li>Address: 5201 Congress Avenue, Boca Raton FL 33487</li>
                <li>
                    Customers can call 1-800-483-9106, email
                    <a href="mailto:support@campusmgmt.com">Support Team</a>
                    or enter a support ticket.
                </li>
            </ul>

            <h2 class="ht--p--400 ht--p--18 mb0-5">
                Formal approval of this accessibility statement
            </h2>

            <p>
                This accessibility statement is approved by the Campus
                Management Accessibility Team.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
