---
# <!-- @formatter:off -->
title: Board of Directors
meta-description: The Board of Directors of Campus Management.
page-bg-image: /images/pages/about-us/about-us-blue.jpg
page-bg-classes: page-bg-image--centered
publish: draft
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
menu-priority: 0.8
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--2 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45 mb1">{{title}}</h1>
        </header>
    </div>
    <div class="bgc-white">
        <div class="container">
            <h2 class="ht--p--400 ht--p--16 mb0-5">Robert A. Bernstein</h2>
            <p>
                Rob Bernstein is Senior Managing Director and Co-Founder of
                Leeds Equity. Mr. Bernstein has over 20 years of experience
                investing in private equity transactions in the knowledge
                industries. Prior to co-founding Leeds Equity, Mr. Bernstein
                spent six years with Lazard Frères &amp; Co., holding various
                positions within the mergers and acquisitions department in both
                New York and Chicago.
            </p>
            <p>
                Mr. Bernstein serves as a Director of Campus Management,
                Covenant Review, iModules and Nobel Learning Communities. Mr.
                Bernstein has previously served as a board member of Miller
                Heiman, Ex Libris and Datamark.
            </p>
            <p>
                Mr. Bernstein graduated
                <i>summa cum laude</i>
                from the University of Pennsylvania’s Wharton School with a B.S.
                in Economics with a concentration in Finance.
            </p>

            <h2 class="ht--p--400 ht--p--16 mb0-5 header--has-top-border">
                Rod Everhart
            </h2>
            <p>
                From January 1998 until his retirement in May 2001, Rod Everhart
                served as President of SCT Global Education Solutions. Mr.
                Everhart and the executive team established the vision and the
                growth strategies for SCTs largest division. This was his second
                affiliation with SCT; from 1985 to 1989, he was Vice President,
                Finance &amp; Administration, Treasurer and Chief Financial
                Officer for SCT. From 1989 to 1995, Mr. Everhart served at
                LexisNexis (then Mead Data Central, Inc.), first as Vice
                President, Financial Resources &amp; Administration and then as
                President beginning in 1992.
            </p>
            <p>
                Following LexisNexis divestiture to Reed-Elsevier plc, he joined
                Bellcore (Bell Communications Research, Inc., now Telcordia
                Technologies) as Senior Vice President and Chief Financial
                Officer. He also directed the companys corporate communications
                and human resources. Prior to 1985, Mr. Everhart had a 19-year
                career in financial management with General Electric Company. He
                holds a BS in Management from the University of Illinois,
                Champaign-Urbana and is a graduate of General Electrics
                Financial Management Program and other advanced courses.
            </p>

            <h2 class="ht--p--400 ht--p--16 mb0-5 header--has-top-border">
                Thomas J. (Tim) Fitzpatrick
            </h2>
            <p>
                Tim Fitzpatrick is currently the Chairman and CEO of Tuition
                Options LLC, a private education loan servicer and lender based
                in Mt Laurel, New Jersey. Tim is the former CEO of SLM
                Corporation, commonly known as Sallie Mae, the nation’s leading
                provider of saving and paying for college programs. He held the
                position of President and COO of Sallie Mae from 2000 to May
                2005.
            </p>
            <p>
                Previously, Mr. Fitzpatrick served as President and CEO of
                Equity One, Inc. from 1989 to 1998, Vice Chairman of Consumer
                Credit Co. from 1988 to 1989, President and COO of Manufacturers
                Hanover Consumer Services (MHCS) from 1983 to 1988 and CFO of
                MHCS from 1978 to 1983. He holds a Bachelor of Science degree in
                business and a Master of Business Administration degree from
                LaSalle University and attended the Harvard Business
                School&#39;s Advanced Management Program.
            </p>

            <h2 class="ht--p--400 ht--p--16 mb0-5 header--has-top-border">
                Jacques V. Galante
            </h2>
            <p>
                Jacques Galante joined Leeds Equity in 2009. Galante has over 13
                years of private equity and investment banking experience across
                a variety of sectors including media, communications,
                information services and business services.
            </p>
            <p>
                Prior to joining Leeds Equity, Mr. Galante spent over nine years
                with The Carlyle Group where he worked as a Principal in the
                firm’s U.S. Buyout team. During his tenure at Carlyle, Mr.
                Galante was an integral member of the team which founded the
                firm’s Global Communications and Media Group. Prior to joining
                Carlyle, Mr. Galante was an investment banker in the mergers and
                acquisition group at Salomon Smith Barney.
            </p>
            <p>
                At Leeds Equity, Mr. Galante’s responsibilities include sourcing
                new investment opportunities, executing transactions and working
                closely alongside our portfolio company management teams. Mr.
                Galante currently serves as a board member of BARBRI, Campus
                Management, Evanta Ventures, iModules and Knowledge Factor. Mr.
                Galante was a director of Ex Libris Group prior to its sale.
            </p>
            <p>
                Mr. Galante graduated
                <i>summa cum laude</i>
                from the University of Illinois at Champaign-Urbana with a B.S.
                in Finance with a concentration in Accounting.
            </p>

            <h2 class="ht--p--400 ht--p--16 mb0-5 header--has-top-border">
                Jim Milton
            </h2>
            <p>
                Jim Milton, Chief Executive Officer, is responsible for leading
                the team at Campus Management towards delivering superior
                Student Information Systems, ERP and CRM solutions to higher
                education institutions globally. He brings more than 30 years of
                experience at a range of innovative technology companies, where
                he has successfully led product expansions, mergers,
                acquisitions and sales strategies.
            </p>

            <p>
                Most recently, Mr. Milton served as CEO, President and Director
                of SoundBite Communications, a SaaS/Cloud-provider of
                multi-channel communication solutions. During his tenure he
                transformed and expanded the company’s product offerings,
                orchestrated and integrated two acquisitions, and directed its
                ultimate sale to Genesys in 2013.
            </p>

            <p>
                Mr. Milton has also held senior executive roles at organizations
                that include: Intervoice (now part of Convergys), UGS (now part
                of Siemens), Digital Equipment Corporation, Compaq Computer
                Corporation, and Hewlett-Packard Company.
            </p>

            <p>
                He has a bachelor’s degree in Mathematics (Joint Honors in
                Computer Science and Economics) from the University of Waterloo
                in Waterloo, Canada.
            </p>

            <h2 class="ht--p--400 ht--p--16 mb0-5 header--has-top-border">
                David Neverson
            </h2>
            <p>
                David Neverson joined Leeds Equity in 2011 and serves as
                Director of Campus Management and Fusion Education Group. He
                also served as Director of Evanta, Ex Libris, and Fulcrum
                Financial Data.
            </p>

            <p>
                Prior to joining Leeds Equity, Mr. Neverson worked at ICV
                Partners as an Associate and was a GOTV Organizer with the Ohio
                Campaign for Change. He began his career at Lehman Brothers,
                where he was an investment banker in the Global Consumer/Retail
                Group.
            </p>

            <p>
                Mr. Neverson holds a Master of Business Administration from The
                Wharton School, University of Pennsylvania, and graduated magna
                cum laude and Phi Beta Kappa from Morehouse College with a
                Bachelor of Arts in Business Administration.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
