---
# <!-- @formatter:off -->
title: About Us
alt--pt-br: /sobre-nos/
meta-description: Campus Management is a leading provider of cloud-based SIS, CRM and ERP solutions and services that transform higher education institutions.
page-bg-image: /images/pages/about-us/about-us-blue.jpg
page-bg-image--xs: /images/pages/about-us/careers-410x730-bkg-blue.jpg
menu-priority: 0.2
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div class="container container--2 container--header container--header--top-heavy">
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                {{title}}
            </h1>
            <p class="ht--p--16-22 mb0">
                As your institution’s technology partner, Campus Management’s
                mission is to provide the cloud-based platform, products and
                services that enable you to transform academic delivery, student
                success, and operational efficiency – on your terms.
            </p>
        </header>
    </div>
    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Focused on the Success of Your Institution and Students
            </h2>

            <p class="ht--p--16-20 mb0">
                We have a saying at Campus Management: “Every line of code we
                write should solve a higher ed challenge.” As a partner to your
                institution, we share your passion for transforming communities,
                nations, and lives. Our CampusNexus solutions built on Microsoft
                enable you to serve a wide diversity of students and empower
                them with the knowledge and skills they need to succeed. With
                our singular focus on delivering higher education innovation and
                services in the cloud, you can optimize resources around your
                mission and transform challenges into opportunities for your
                institution and students.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="left">
                <div
                    class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                >
                    <iframe
                        data-src="https://www.youtube.com/embed/oGzqcHClsik?rel=0"
                        class="lazyload"
                        frameborder="0"
                        allowfullscreen
                        title="Central Arizona College"
                    ></iframe>
                </div>
            </div>
            <div class="right">
                <h2 class="ht--s--22 c-theme-primary-dark">
                    Hear from Central Arizona College
                </h2>
                <p class="ht--p--16">
                    Chris Wodka, Chief Financial Officer at Central Arizona
                    College, discusses how the institution turned to a
                    technology partner in Campus Management that can keep pace
                    with the institution's needs over the long term.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys reverse"
        >
            <div class="c flexcol min-height-7">
                <div class="ht--s--22-28 c-theme-primary-dark">
                    Management Team
                </div>
                <a
                    class="pill-button block bottom c"
                    href="https://www.anthologyinc.com/leadership"
                    >View
                </a>
            </div>
            <div class="c flexcol min-height-7">
                <div class="ht--s--22-28 c-theme-primary-dark">
                    Mission, Vision, & Values
                </div>
                <a
                    class="pill-button block bottom c"
                    href="/about-us/careers-at-Campus-Management/mission-and-vision/"
                    >View
                </a>
            </div>
            <div class="c flexcol min-height-7">
                <div class="ht--s--22-28 c-theme-primary-dark">
                    Careers
                </div>
                <a
                    class="pill-button block bottom c"
                    href="/about-us/careers-at-Campus-Management/"
                    >View
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
