---
# <!-- @formatter:off -->
title: Privacy Policy
meta-description: This privacy policy sets out how we collect, use and protect the personal data that you provide to us.
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div class="bgc-white">
        <div class="container">
            <h1 class="ht--s--38 c-theme-primary-dark mb1">
                {{title}}
            </h1>

            <p>Last updated: June 23, 2020</p>

            <h2 class="ht--p--400 mb0-5">
                ON THE MOVE: THIS IS WHAT YOU NEED TO KNOW
            </h2>

            <p>
                We always recommend that our customers read this privacy policy
                in full. It explains who we are, how and why we collect personal
                data from you, how and why it will be processed by us and our
                commitment to protecting your data.
            </p>

            <p>
                But just in case you’re on the move, or do not have time to read
                it in full, we have summarized the key points for you in our
                'speed read' section below.
            </p>

            <ul class="list--normal">
                <li>
                    We are Campus Management Corp. (<strong
                        >CMC, we, our or us</strong
                    >) and affiliates. We have entities in the US, UK, India and
                    Brazil as detailed further below. We have appointed a Data
                    Protection Officer who will be responsible for our approach
                    to data protection and protecting your privacy. You can
                    contact them at dpo@campusmgmt.com.
                </li>
                <li>
                    We process () your Personal Data (both, as defined below) to
                    provide our services to you. This privacy policy explains
                    CMC’s approach to information it receives with regards to
                    customer contacts, prospective customers and anyone who
                    provides Personal Data to CMC. Under certain data protection
                    laws, we are only permitted to process your Personal Data
                    where we have a legal basis for doing so. We will only ever
                    process your Personal Data in compliance with applicable
                    law.
                </li>
                <li>
                    We may share your Personal Data with our affiliates and
                    third-party suppliers, to enable the efficient and secure
                    provision of services to you. Except as explained in this
                    privacy policy, we will not share your data with third
                    parties without your consent unless required to do so by
                    law.
                </li>
                <li>
                    We will keep your data for as long as we provide services to
                    you. We will then keep data for a limited period when we no
                    longer provide services to you to deal with any queries or
                    complaints.
                </li>
                <li>
                    Residents located within the European Economic Area (EEA)
                    should note that, we may transfer your Personal Data to a
                    recipient located outside of the EEA. If we do this, we will
                    ensure that the transfer mechanism provides an adequate
                    level of protection, which has been recognized by the
                    European Commission. In addition, if you are a resident
                    within the EEA you have additional rights in relation to
                    your Personal Data;
                    <a href="#Section-12">click here</a> for more information.
                </li>
                <li>
                    Our UK entity is registered as a data controller with the
                    Information Commissioner's Office and our registration
                    number is ZA294962.
                </li>
            </ul>

            <h2 class="ht--p--400 mb0-5">
                CONTENTS
            </h2>
            <!-- 1 ABOUT CMC ============================================================================= -->

            <h2 class="ht--p--400 mb0-5">
                1 DEFINITIONS
            </h2>
            <ul class="list--normal">
                <li>
                    <strong>“Process”</strong> or
                    <strong>“processing”</strong> means any operation(s)
                    performed on Personal Data, by automated means or not, such
                    as collecting, protecting, using, sharing, organizing,
                    storing, altering, or erasing.
                </li>
                <li>
                    <strong>“Personal Data”</strong> means any information
                    relating to an identified or identifiable natural person; an
                    identifiable natural person is one who can be identified,
                    directly or indirectly, in particular by reference to an
                    identification number or to one or more factors specific to
                    the physical, physiological, mental, economic, cultural or
                    social identity of that natural person.
                </li>
            </ul>

            <h2 class="ht--p--400 mb0-5">
                2 ABOUT CMC
            </h2>

            <p>
                This privacy policy sets out how we process the Personal Data
                that you provide to us. We also set out details about how to
                contact us if you have any questions or comments.
            </p>

            <p>
                Campus Management Corp. (<strong>CMC, we, our or us</strong>)
                includes the following entities:
            </p>

            <ul class="list--normal">
                <li>
                    Campus Management Corp., a Florida corporation, whose
                    principal place of business is at 5201 Congress Avenue, Boca
                    Raton, FL, 33487, USA;
                </li>
                <li>
                    Campus Management Corp UK Limited, (specifically, CMC UK) a
                    company registered in England and Wales under company number
                    06848622 whose registered office is at 3rd Floor, 5 Lloyds
                    Avenue, London, EC3N 3AE, England;
                </li>
                <li>
                    Talisma Corporation Private Limited, a company registered in
                    India whose registered office is at 3rd Floor, Olympia /
                    Building No: 1, Bagmane Tech Park, C V Raman Nagar,
                    Byrasandra, Bangalore - 560093, Karnataka, India;
                </li>
                <li>
                    Campus Management Brasil Comércio de Softwares Educativos
                    LTDA, a company registered in Brazil under company number
                    13.473.107/0001-07 whose registered office is at Avenida
                    Paulista, 2300, Andar Pilotis, Cerqueira César, São Paulo,
                    São Paulo, 01310-300, Brasil;
                </li>
                <li>
                    Campus Management International Private Limited, a company
                    registered in India whose registered office is at 3rd Floor,
                    Olympia / Building No: 1, Bagmane Tech Park, C V Raman
                    Nagar, Byrasandra, Bangaloreh - 560093, Karnataka, India;
                    and
                </li>
                <li>
                    Admissions US, LLC, a Delaware limited liability company
                    whose principal place of business is at 5201 Congress
                    Avenue, Boca Raton, FL, 33487, USA.
                </li>
            </ul>

            <!-- 3 ABOUT THIS PRIVACY POLICY ============================================================= -->

            <h2 class="ht--p--400 mb0-5">
                3 ABOUT THIS PRIVACY POLICY
            </h2>

            <p>
                This privacy policy applies to the Personal Data we collect
                about you through our websites (<a
                    href="https://www.campusmanagement.com/"
                    >www.campusmanagement.com</a
                >,
                <a href="https://www.campusmanagement.com.br/"
                    >www.campusmanagement.com.br</a
                >,
                <a href="https://www.campusmanagement.com/en-in/"
                    >www.campusmanagement.com/en-in</a
                >, <a href="https://www.talisma.com/">www.talisma.com</a>,
                <a href="https://www.campusinsight.com">www.campusinsight.com</a
                >,
                <a href="https://www.mycampusinsight.com"
                    >www.mycampusinsight.com</a
                >,
                <a href="https://support.campusmgmt.com/"
                    >support.campusmgmt.com</a
                >
                and
                <a href="https://community.campusmanagement.com/"
                    >community.campusmanagement.com</a
                >) (<strong>Website</strong>), by post, by telephone, and when
                you otherwise communicate with us.
            </p>

            <p>
                This privacy policy may change from time to time and, if it
                does, the up-to-date version will always be available on our
                Website. We will also tell you about any important changes to
                our privacy policy.
            </p>

            <!-- 4 WHAT PERSONAL DATA DO WE COLLECT ABOUT YOU? ========================================== -->

            <h2 class="ht--p--400 mb0-5">
                4 WHAT PERSONAL DATA DO WE COLLECT ABOUT YOU?
            </h2>

            <p>
                This section informs you of what information we collect about
                you and why.
            </p>

            <p>
                We collect Personal Data about you if you fill in forms on the
                Website or correspond with us by phone, email or otherwise. This
                includes information you provide when you submit an inquiry
                through our Website, request further information, register for
                events, buy our services, enter a competition, promotion or
                survey, give us your business card and when you report a problem
                with our Website. Please do not submit any Personal Data to us
                if you are less than 18 years of age.
            </p>

            <p>
                <strong>Personal data we process:</strong>
            </p>

            <ul class="list--normal">
                <li>name(s)</li>
                <li>job title</li>
                <li>place of employment</li>
                <li>home or business address and telephone number</li>
                <li>personal or business email address</li>
                <li>IP address</li>
            </ul>

            <p>
                <strong>If you use our Website:</strong>
            </p>

            <p>
                If you use our Website, we automatically collect the following
                information:
            </p>

            <ul class="list--normal">
                <li>
                    web usage information (e.g. IP address), your login
                    information, browser type and version, time zone setting,
                    operating system and platform; and
                </li>
                <li>
                    information about your visit, including the full Uniform
                    Resource Locators (URLs) clickstream to, through and from
                    our Website (including date and time); time on page, page
                    response times, download errors, length of visits to certain
                    pages, page interaction information (such as searches,
                    scrolling, clicks and mouse-overs).
                </li>
            </ul>

            <p>
                Where we collect information about you in the ways described
                above, we do so on the basis that it is in our legitimate
                interests to collect and process this data. In most situations
                this will be anonymized but we collect and process this data to
                ensure that our site is functioning properly and that our
                customer experience is to the standard that you and we expect.
            </p>

            <p>
                The Website may, from time to time, contain links to and from
                the websites of non-CMC parties. If you follow a link to any of
                these websites, please note that these websites have their own
                privacy policies and that we do not accept any responsibility or
                liability for these policies. Please check these policies before
                you submit any Personal Data to these websites. We also use
                cookies on our Website. Please see this
                <a href="#Section-13">section</a> for more information.
            </p>

            <p>
                <strong>Information we receive from other sources:</strong>
            </p>

            <p>
                We may receive information about you if you use any other
                website we operate or the other services we provide. We are also
                working closely with third parties, (including, for example,
                business partners and sub-contractors in technical services),
                and may receive information about you from them.
            </p>

            <p>
                When we receive information from other sources, we rely on them
                having the appropriate provisions in place telling you how they
                collect data and who they may share it with. We carefully check
                our sources to ensure that we only receive your information when
                it is lawful for us to do so.
            </p>

            <!-- 5 HOW WILL WE USE YOUR PERSONAL DATA ========================================== -->

            <h2 class="ht--p--400 mb0-5">
                5 HOW WILL WE USE YOUR PERSONAL DATA
            </h2>

            <p>
                This section explains how we will collect, store and use
                Personal Data you provide to us in order to carry out the
                activities relevant to the provision of our services to you.
            </p>

            <p>
                We use the information held about you in the following ways:
            </p>

            <ul class="list--normal">
                <li>
                    <strong>Information you give to us</strong>. We will use
                    this information to:
                    <ul class="list--normal">
                        <li>
                            carry out our obligations arising from any contracts
                            entered into between you and us and to provide you
                            with the information, products and services that you
                            request from us;
                        </li>
                        <li>
                            respond to your inquiries or to process your
                            requests in relation to your information;
                        </li>
                        <li>
                            let you know about important changes or developments
                            to the site or our services;
                        </li>
                        <li>
                            provide and personalize our services generally;
                        </li>
                        <li>administer records of our services;</li>
                        <li>carry out market research campaigns;</li>
                        <li>
                            provide you with information about other goods and
                            services we offer that are similar to those that you
                            have already purchased or enquired about;
                        </li>
                        <li>
                            provide you, or permit selected third parties that
                            you have consented to provide you, with information
                            about goods, services or educational programs we
                            feel may interest you;
                        </li>
                        <li>
                            contact you to let you know about other products and
                            services that we offer and feel may be of interest,
                            as set out in the section on
                            <a href="#Section-6">Marketing Communications</a>;
                        </li>
                        <li>
                            ensure that content from our site is presented in
                            the most effective manner for you and for your
                            computer, making the site easier for you to use and
                            providing you with access to all parts of the site.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Information we collect about you</strong>. We will
                    use this information to:
                    <ul class="list--normal">
                        <li>
                            administer our site and for internal operations,
                            including troubleshooting, data analysis, testing,
                            research, statistical and survey purposes;
                        </li>
                        <li>
                            improve our site to ensure that content is presented
                            in the most effective manner for you and for your
                            computer;
                        </li>
                        <li>
                            allow you to participate in interactive features of
                            our service, when you choose to do so;
                        </li>
                        <li>
                            be used as part of our efforts to keep our site safe
                            and secure;
                        </li>
                        <li>
                            measure or understand the effectiveness of
                            advertising we serve to you and others, and to
                            deliver relevant advertising to you; and
                        </li>
                        <li>
                            make suggestions and recommendations to you and
                            other users of our site about goods or services that
                            may interest you or them.
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Information we receive from other sources</strong>.
                    We may combine this information with information you give to
                    us and information we collect about you. We may use this
                    information and the combined information for the purposes
                    set out above (depending on the types of information we
                    receive).
                </li>
            </ul>

            <p>
                We must have a legal basis for processing your Personal Data. We
                consider that we have a legal basis where:
            </p>

            <ul class="list--normal">
                <li>
                    you have given us consent to do so for the specific purposes
                    which we have told you about – for example, to send you
                    certain marketing communications;
                </li>
                <li>
                    it is necessary for us to do so to enable us to provide you
                    with the services that you have requested from us - for
                    example contacting you about the services;
                </li>
                <li>
                    it is necessary in order to fulfil our legitimate interests
                    (or those of a third party) and your interests and
                    fundamental rights do not override those interests; or
                </li>
                <li>the law otherwise permits or requires it.</li>
            </ul>

            <p>
                Where we process your Personal Data on the basis of our
                legitimate interests, these are our (or our third party’s)
                interests in providing our services to you in an efficient and
                secure manner.
            </p>

            <!-- 6 MARKETING COMMUNICATIONS ======================================================= -->
            <a name="Section-6"></a>
            <h2 class="ht--p--400 mb0-5">
                6 MARKETING COMMUNICATIONS
            </h2>

            <p>
                This section is to explain how we will ensure that you are
                informed and aware of the products, services, promotions and
                events that we offer. By consenting to receive additional
                marketing communications (by mail, telephone, SMS,
                text/picture/video message, fax or email) from us, you agree to
                adhere to the rules and regulations contained herein and we will
                process your Personal Data in accordance with this privacy
                policy.
            </p>

            <p>
                To the extent that we send you any third party content, we take
                no responsibility for privacy rules of any third parties and
                encourage you to consider the privacy terms of those third
                parties separately.
            </p>

            <p>
                If you prefer not to receive any marketing communications from
                us, you can change your preferences and unsubscribe at any time
                by
                <a
                    href="https://info.campusmanagement.com/hs/manage-preferences/unsubscribe "
                    >clicking on this link</a
                >
                or contacting us at
                <a href="mailto:webmaster@campusmgmt.com?subject=unsubscribe"
                    >webmaster@campusmgmt.com</a
                >
                with a subject line that reads “unsubscribe”. If you choose not
                to receive this information we will be unable to keep you
                informed of new products, services, events, user conferences,
                educational programs, newsletters, announcements and promotions
                that may interest you.
            </p>

            <!-- 7 WHO WILL HAVE ACCESS TO YOUR PERSONAL DATA ========================================= -->

            <h2 class="ht--p--400 mb0-5">
                7 WHO WILL HAVE ACCESS TO YOUR PERSONAL DATA
            </h2>

            <p>
                This section is to explain who, within CMC, will have access to
                your data. Your Personal Data will only be seen or used by our
                employees or contractors who have a legitimate business need to
                access your Personal Data for the purposes set out in this
                privacy policy.
            </p>
            <p>
                We take your privacy seriously and have implemented appropriate
                physical, technical and organizational security measures
                designed to secure your Personal Data against accidental loss,
                destruction or damage and unauthorized access, use, alteration
                or disclosure.
            </p>

            <!-- 8 WHO ELSE MIGHT WE SHARE YOUR PERSONAL DATA WITH ========================================= -->

            <h2 class="ht--p--400 mb0-5">
                8 WHO ELSE MIGHT WE SHARE YOUR PERSONAL DATA WITH
            </h2>

            <p>
                This section will inform you of who we share your Personal Data
                with and why. Except as explained in this privacy policy, we
                will not share your Personal Data without your consent unless
                required to do so by law.
            </p>

            <p>
                We may share your Personal Data with any member of our group
                which means our subsidiaries and our ultimate holding company.
                This is to ensure efficiency and so we can provide the best
                service we can to you.
            </p>

            <p>
                We may share your Personal Data with the following third-party
                service providers who assist us with administering the provision
                of our services to you:
            </p>

            <ul class="list--normal">
                <li>
                    business partners, suppliers, and sub-contractors for the
                    performance of any contract we enter into with them or you;
                </li>
                <li>
                    analytics and search engine providers that assist us in the
                    improvement and optimization of our site; and
                </li>
                <li>
                    agents we engage to perform functions on our behalf
                    including sending customer communications, providing
                    technical support services, analyzing data and providing
                    marketing assistance. They have access to Personal Data
                    needed to perform their functions, but may not use it for
                    other purposes.
                </li>
            </ul>

            <p>
                We may also pass aggregate information on the usage of our site
                (e.g., we might disclose the median ages of visitors to our
                site, or the numbers of visitors to our site that come from
                different geographic areas) to third parties, but this will not
                include information that can be used to identify you personally.
            </p>

            <p>
                If a business transfer or change of business ownership takes
                place or is envisaged, we may transfer your Personal Data to the
                new owner (or a prospective new owner). If this happens, you
                will be informed of this transfer following the completion of
                such transfer or change of business ownership.
            </p>

            <!-- 9 HOW DO WE PROTECT YOUR PERSONAL DATA? ========================================= -->

            <h2 class="ht--p--400 mb0-5">
                9 HOW DO WE PROTECT YOUR PERSONAL DATA?
            </h2>

            <p>
                This section explains how we keep your Personal Data safe and
                where it will be held.
            </p>

            <p>
                We take your privacy seriously and are committed to maintaining
                the privacy and security of the Personal Data you provide to us,
                and the choices you have regarding our collection and use of
                your Personal Data.
            </p>

            <p>
                We follow strict security procedures as to how your Personal
                Data is stored and used, and who sees it, to help stop any
                unauthorized person getting hold of it. Once we have received
                your Personal Data, we will use strict procedures and security
                features to try to prevent unauthorized access.
            </p>

            <p>
                Unfortunately, the transmission of your Personal Data via the
                internet is not completely secure and although we do our best to
                protect your Personal Data, we cannot guarantee the security of
                your data transmitted to us over the internet and you
                acknowledge that any transmission is at your own risk.
            </p>

            <!-- 10 HOW LONG DO WE KEEP YOUR PERSONAL DATA? ========================================= -->

            <h2 class="ht--p--400 mb0-5">
                10 HOW LONG DO WE KEEP YOUR PERSONAL DATA?
            </h2>

            <p>
                This section explains the length of time that we will retain
                your Personal Data.
            </p>

            <p>
                We will keep your Personal Data for no longer than necessary,
                for the purposes we have set out above. We will retain your
                information for as long as needed in order to provide the
                relevant goods or services to you or perform any contract we
                have with you and for a limited period afterwards in order to
                deal with any queries or complaints.
            </p>

            <p>
                Any third parties that we engage will keep your data stored on
                their systems for as long as is necessary to provide the
                relevant services to you or us. If we end our relationship with
                any third party providers, we will make sure that they securely
                delete or return your Personal Data to us.
            </p>

            <p>
                We may retain Personal Data about you for statistical purposes
                (for example, to help us better advertise our services). Where
                data is retained for statistical purposes it will always be
                anonymized, meaning that you will not be identifiable from that
                data.
            </p>

            <!-- 11 CALIFORNIA RESIDENTS: YOUR RIGHTS ====================================================== -->
            <h2 class="ht--p--400 mb0-5">
                11 CALIFORNIA RESIDENTS: YOUR RIGHTS
            </h2>
            <p>
                This section only applies to you if you are a California
                resident and we process your Personal Data. If that is the case,
                you have certain additional rights in relation to your Personal
                Data under the California Consumer Privacy Act
                (<strong>CCPA</strong>), Cal. Civ. Code § 1798.100
                <span class="i">et seq</span>.
            </p>

            <p>
                If the CCPA applies to you, you have the right to request that
                we:
            </p>

            <ul class="list--normal">
                <li>
                    disclose or provide copies to you, no more than twice in a
                    12-month period, the Personal Data about you that we have
                    collected, used, or disclosed during the preceding 12
                    months; or
                </li>
                <li>
                    delete the Personal Data we hold about you, but please note:
                    <ul class="list--normal">
                        <li>
                            if we are providing services to you and you ask us
                            to delete Personal Data we hold about you then we
                            may be unable to continue providing those services
                            to you;
                        </li>
                        <li>
                            we may not be required to delete your Personal Data
                            if it is necessary to:
                            <ul class="list--normal">
                                <li>
                                    complete any transaction for which it was
                                    provided;
                                </li>
                                <li>
                                    detect security incidents, protect against
                                    malicious, deceptive, fraudulent, or illegal
                                    activity; or prosecute those responsible for
                                    that activity;
                                </li>
                                <li>
                                    exercise any right provided to us by law;
                                </li>
                                <li>comply with a legal obligation; or</li>
                                <li>
                                    otherwise use your Personal Data internally
                                    in a lawful manner compatible with the
                                    context in which you provided it.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <p>
                To exercise your rights under the CCPA, if applicable, please
                contact us at the address, email address or phone number listed
                in Section 13 of this Policy. If you make a request pursuant to
                your rights under the CCPA, we will attempt to verify your
                identity by asking you to confirm information we already have on
                file for you, such as an email address, phone number, account
                identifier, or password. If you choose to exercise your rights
                under the CCPA, you have the right not to be treated differently
                from any other individual whose Personal Data we process.
            </p>
            <p>
                As discussed above, we do not sell your Personal Data, so we do
                not offer an opt-out to the sale of Personal Data.
            </p>

            <!-- 12 EEA RESIDENTS: YOUR RIGHTS ====================================================== -->
            <a name="Section-12"></a>
            <h2 class="ht--p--400 mb0-5">
                12 EEA RESIDENTS: YOUR RIGHTS
            </h2>

            <p>
                This section only applies to you if we process your data while
                you are in the EEA. It explains that you have a number of rights
                in relation to your Personal Data under the EU General Data
                Protection Regulation 2016/679 (“GDPR”). However, the additional
                rights only apply when we process your Personal Data while you
                reside within the EEA.
            </p>

            <p>
                CMC UK is registered as a data controller with the Information
                Commissioner's Office and our registration number is ZA294962.
            </p>

            <p>
                There are circumstances in which your rights may not apply. For
                example, if we process your Personal Data while you are present
                in the United States, we may not have to comply with EU
                regulations and so your rights may not apply. Essentially, the
                additional rights will only be active once you return to reside
                within the EEA and we continue to process your Personal Data.
            </p>

            <p>
                If the additional rights do apply, you have the right to request
                that we:
            </p>

            <ul class="list--normal">
                <li>
                    provide you with a copy of the information we hold about
                    you;
                </li>
                <li>
                    update any of your Personal Data if it is inaccurate or out
                    of date;
                </li>
                <li>
                    delete the Personal Data we hold about you - if we are
                    providing services to you and you ask us to delete Personal
                    Data we hold about you then we may be unable to continue
                    providing those services to you;
                </li>
                <li>
                    restrict the way in which we process your Personal Data;
                </li>
                <li>
                    stop processing your data if you have valid objections to
                    such processing; and
                </li>
                <li>transfer your Personal Data to a third party.</li>
            </ul>

            <p>
                For more information on your rights and how to use them, or if
                you would like to make any of the requests set out above, please
                contact us using the details provided in this
                <a href="#Section-14">section</a>. We will respond to all such
                requests within the time period required by law.
            </p>

            <p>
                As explained in the section on Marketing Communications above,
                even if you consented to the processing of your Personal Data
                for marketing purposes (by checking the relevant box or by
                requesting information about services), you have the right to
                ask us to stop processing your Personal Data for such purposes.
                You can exercise this right at any time by contacting us at
                dpo@campusmgmt.com.
            </p>

            <p>
                In providing services to you, you understand that we may
                transfer your information to different locations around the
                world. For example, information that is collected within the
                European Economic Area (<strong>EEA</strong>) may be transferred
                to destinations outside of the EEA for the purposes described in
                this policy.
            </p>

            <p>
                For users resident in the EEA, where your Personal Data is
                transferred from the EEA to a recipient outside the EEA in a
                country not recognized by the European Commission as providing
                an adequate level of protection for Personal Data, such transfer
                shall be covered by a framework recognized by the relevant
                authorities or courts as providing an adequate level of
                protection for Personal Data, including, but not limited to,
                Standard Contractual Clauses (the agreement in the form annexed
                to the European Commission's decision of February 5, 2010 on
                Standard Contractual Clauses for the transfer of Personal Data
                to processors established in third countries which can be found
                <a
                    href="http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2010:039:0005:0018:EN:PDF"
                    >here</a
                >).
            </p>

            <p>
                If you are unsatisfied with our response to any data protection
                issues you raise with us or our DPO, you have the right to make
                a complaint to the
                <a href="https://ico.org.uk/concerns/"
                    >Information Commissioner’s Office (ICO)</a
                >. The ICO is the authority in the UK which is tasked with the
                protection of Personal Data and privacy.
            </p>

            <!-- 13	COOKIES ================================================================ -->
            <a name="Section-13"></a>
            <h2 class="ht--p--400 mb0-5">
                13 COOKIES
            </h2>

            <p>
                This section explains how the Website uses cookies. Cookies are
                text files containing small amounts of information which are
                downloaded to your personal computer, mobile phone, or other
                device when you visit a website.
            </p>

            <p>
                Cookies are then sent back to the originating website on each
                subsequent visit, or to another website that recognizes that
                cookie. Cookies are useful because they allow a website to
                recognize a user's device.
            </p>

            <p>
                Cookies in themselves do not identify you, just the computer or
                device you are using. Cookies do lots of different jobs, like
                making it easier for you to log on to and use our site during
                future visits, letting you navigate between pages efficiently,
                remembering your preferences, and generally improving the user
                experience. They also allow us to monitor traffic on our site
                and can also help to ensure that advertisements you see online
                are more relevant to you and your interests.
            </p>

            <p>
                Cookies themselves only record which areas of our site have been
                visited by your computer or device and for how long. Allowing us
                to create a cookie does not give us access to the rest of your
                computer.
            </p>

            <p>We use the following cookies:</p>

            <ul class="list--normal">
                <li>
                    <strong>Strictly necessary cookies</strong>. These are
                    cookies that are required for the operation of the Website.
                    They include, for example, cookies that enable you to log
                    into secure areas of our website.
                </li>
                <li>
                    <strong>Analytical/performance cookies</strong>. They allow
                    us to recognize and count the number of visitors and to see
                    how visitors move around the Website when they are using it.
                    This helps us to improve the way the Website works, for
                    example, by ensuring that users are finding what they are
                    looking for easily.
                </li>
                <li>
                    <strong>Functionality cookies</strong>. These are used to
                    recognize you when you return to the Website. This enables
                    us to personalize our content for you, greet you by name and
                    remember your preferences (for example, your choice of
                    language or region).
                </li>
                <li>
                    <strong>Targeting cookies</strong>. These cookies record
                    your visit to the Website, the pages you have visited and
                    the links you have followed. We will use this information to
                    make the Website more relevant to your interests. We may
                    also share this information with third parties for this
                    purpose.
                </li>
            </ul>

            <p>
                You can find more information about the individual cookies we
                use and the purposes for which we use them below:
            </p>

            <ul class="list--normal">
                <li>
                    <strong>[DoubleClickID]</strong>: This is an anonymous,
                    unique identifier used to track how successful our
                    advertising is. It collects advertising information via
                    pixels, or transparent GIF files, which are provided by our
                    ad management partner, DoubleClick. These files allow
                    DoubleClick to recognize a unique cookie on your web
                    browser, which in turn, lets us know which advertisements to
                    show you. The cookie allows the devices IP address to be
                    sent to a website, but it doesn’t store the IP address or
                    any other Personal Data. This is a third-party cookie.
                </li>
                <li>
                    <strong>[Google Analytics]</strong>: The Website uses Google
                    Analytics, a web analytics service provided by Google, Inc.
                    <strong>(Google)</strong>. Google Analytics uses cookies to
                    help the website operators analyze how users use our
                    Website. The information generated by the cookie about your
                    use of the Website (including your IP address) will be
                    transmitted to and stored by Google on servers in the United
                    States. Google will use this information for the purpose of
                    evaluating your use of the Website, compiling reports on
                    website activity for internet operators and providing other
                    services relating to website activity and internet use.
                    Google may also transfer this information to third parties
                    where required to do so by law, or where such third parties
                    process the information on Google’s behalf. Google will not
                    associate your IP address with any other data held by
                    Google. By using our Website, you consent to the processing
                    of data about you by Google in the manner and for the
                    purposes set out above.
                </li>
                <li>
                    <strong>[LeadLander]</strong>: We use this cookie to collect
                    information about how visitors use our Website and email
                    communications. The cookie collects information relating to
                    where visitors have come to the site from, the number of
                    visitors, which email communications they clicked on and the
                    pages they visited. If you consent, we may use the
                    information collected by this cookie, in combination with
                    your Personal Data, to contact you and tailor our
                    communications to you based on the pages you have visited.
                </li>
            </ul>

            <p>
                With most Internet browsers, you can erase or block cookies or
                ask to receive a warning before a cookie is stored. The “Help”
                function within your browser should tell you how. You will also
                find details on how to delete cookies from your computer as well
                as more general information about cookies.
            </p>

            <p>
                Please be aware that restricting cookies may have a negative
                impact on the functionality of the Website.
            </p>

            <!-- 14 WHO CAN YOU ASK FOR MORE INFORMATION? ======================================================= -->
            <a name="Section-14"></a>
            <h2 class="ht--p--400 mb0-5">
                14 WHO CAN YOU ASK FOR MORE INFORMATION?
            </h2>

            <p>
                If you have any questions or concerns about how we handle your
                Personal Data or about this Privacy Policy, you can contact us
                using any one (or more) of the following:
            </p>

            <p>
                Post: Corporate Communications Manager
                <br />
                RE: Privacy Policy
                <br />
                5201 Congress Ave.
                <br />
                Boca Raton, FL 33487 USA
            </p>

            <p>
                Email:
                <a href="mailto:webmaster@campusmgmt.com?subject=privacy policy"
                    >webmaster@campusmgmt.com</a
                >
            </p>

            <p>Telephone number: 561.923.2500</p>

            <p>
                Alternatively, you can contact us through the
                <a href="https://www.campusmanagement.com/contact-us/"
                    >Contact Us</a
                >
                section of the Website.
            </p>

            <p>
                We have appointed a Data Protection Officer who is responsible
                for our approach to data protection and protecting your privacy.
                You can contact them at dpo@campusmgmt.com.
            </p>

            <p>
                This Privacy Policy was last updated in
                <u>June 2020</u>
                and shall be updated at least annually.
            </p>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
