---
# <!-- @formatter:off -->
title: Become a Partner
meta-description: Submit your information to inquire about partnership opportunities with Campus Management.
page-bg-image: /images/pages/partners/partners-bkg-v4.jpg
page-bg-image--xs: /images/pages/partners/partners-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-scripts:
    - src: /scripts/page--simple-form.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container container--2 container--header">
    <header class="c c-white">
        <h1 class="ht--s--38-45 mb1">{{title}}</h1>
    </header>
</div>
<div class="bgc-white">
    <form
        id="becomeAPartnerForm"
        class="cmc-form cmc-form--centered js--simple-form"
        action="become-a-partner/?site=cmc"
        data-lead-source="become a partner form"
    >
        <fieldset>
            <input type="hidden" name="group" value="en-us" />
            <p class="ht--p--16 c-grey--800">
                Please complete and submit the form below to inquire about
                partnership opportunities.
            </p>
            <ul class="mb1">
                <li>
                    <label class="required" for="company">Company</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="company"
                            id="company"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-name"
                        >Contact Name</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="contact-name"
                            id="contact-name"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-title"
                        >Contact Title</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="contact-title"
                            id="contact-title"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-email"
                        >Contact Email</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="contact-email"
                            id="contact-email"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-phone"
                        >Contact Phone</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="contact-phone"
                            id="contact-phone"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="company-website"
                        >Company Website</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="company-website"
                            id="company-website"
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class="required" for="address">Address</label>
                    <div class="input-wrapper">
                        <textarea
                            id="address"
                            name="address"
                            required
                        ></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="city">City</label>
                    <div class="input-wrapper">
                        <input type="text" name="city" id="city" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="state">State</label>
                    <div class="input-wrapper">
                        <input type="text" name="state" id="state" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="zip">Zip/Postal Code</label>
                    <div class="input-wrapper">
                        <input type="text" name="zip" id="zip" required />
                    </div>
                </li>
                <li>
                    <label class="required" for="country">Country</label>
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="country"
                            id="country"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label
                        class="required long-label"
                        for="description-of-services"
                        >Description of Product/Services offered</label
                    >
                    <div class="input-wrapper">
                        <textarea
                            name="description-of-services"
                            id="description-of-services"
                            required
                        ></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="year-established"
                        >Year Established</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="year-established"
                            id="year-established"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label class="required long-label" for="number-employees"
                        >Total Number of Employees</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="number-employees"
                            id="number-employees"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label class="required long-label" for="ownership"
                        >Ownership / Parent Company</label
                    >
                    <div class="input-wrapper">
                        <select name="ownership" id="ownership" required>
                            <option value=""></option>
                            <option value="Public">Public</option>
                            <option value="Private">Private</option>
                        </select>
                    </div>
                </li>
                <li class="has-long-label">
                    <label class="required long-label" for="number-customers"
                        >Total Number of Customers</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="number-customers"
                            id="number-customers"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label class="required long-label" for="number-he-customers"
                        >Number of Higher Education Customers</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="number-he-customers"
                            id="number-he-customers"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label
                        class="required long-label"
                        for="number-cmc-customers"
                        >Total Number of existing Campus Management
                        customers</label
                    >
                    <div class="input-wrapper">
                        <input
                            type="text"
                            name="number-cmc-customers"
                            id="number-cmc-customers"
                            required
                        />
                    </div>
                </li>
                <li class="has-long-label">
                    <label
                        class="required long-label"
                        for="proposed-partnership"
                        >Proposed Partnership</label
                    >
                    <div class="input-wrapper">
                        <select
                            name="proposed-partnership"
                            id="proposed-partnership"
                            required
                        >
                            <option value=""></option>
                            <option value="Strategic Product"
                                >Strategic Product</option
                            >
                            <option value="Strategic Integration"
                                >Strategic Integration</option
                            >
                            <option value="Industry Integration"
                                >Industry Integration</option
                            >
                            <option value="Industry Alliance"
                                >Industry Alliance</option
                            >
                        </select>
                    </div>
                </li>
                <li>
                    <label class="" for="comments">Comments</label>
                    <div class="input-wrapper">
                        <textarea name="comments" id="comments"></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button
                        type="submit"
                        class="pill-button cmc-form__submit-button"
                        name="btnSave"
                    >
                        Submit
                    </button>
                </li>
            </ul>
            <p>
                Any personal information you provide to us using this form will
                be processed in accordance with our
                <a href="{{url-lang-prefix}}/about-us/privacy/"
                    >privacy policy</a
                >.
            </p>
        </fieldset>
    </form>
</div>
{{/content}} {{#content "after-body"}}
<div class="bgc-grey--100 c-grey--1000">
    <div class="container">
        <h3 class="c ht--s--28 c-theme-primary-dark">
            Partner Network
        </h3>
        <p>
            Campus Management works with the most recognized and proven names in
            the industry to round out your solution.
        </p>
        <ul class="pill-list pill-list--centered">
            <li class="pill-list__item">
                <a class="pill-button" href="/partners/">
                    More
                </a>
            </li>
        </ul>
    </div>
</div>
{{/content}} {{/extend}}
