---
# <!-- @formatter:off -->
title: Partners
meta-description: Catalog list of Campus Management partners.
menu-priority: 0.4
page-bg-image: /images/pages/partners/partners-bkg-v4.jpg
page-bg-image--xs: /images/pages/partners/partners-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--3 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45">Partner Network</h1>
            <p class="ht--p--16-22 mb0">
                Specialists in Helping You Succeed
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Partners. Value. Client Success.
            </h2>
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/partners/partners-business-woman.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Changing demographics and increased competition are
                        driving colleges and universities to look for new and
                        better ways to serve students. That’s why Campus
                        Management has partnered with the most innovative
                        solutions providers across the higher education
                        landscape.
                    </p>
                    <p>
                        Whether it’s online education, housing management,
                        business intelligence, financial aid processing,
                        bookstore and merchant services, compliance, or other
                        processes across the enterprise, Campus Management works
                        with the most recognized and proven names in the
                        industry to round out your solution.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Inquire About Partnership Opportunities
            </h2>
            <p>
                Campus Management’s Partner Program continues to seek out the
                top solutions vendors in higher education to complement its
                offerings.
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a class="pill-button" href="/partners/become-a-partner/">
                        Inquire
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
