---
# <!-- @formatter:off -->
title: Contact Campus Management
label: Contact Us
meta-description: Submit your request today. Or you can call us at 561.923.2500. Check our office locations and contact information inside.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
additional-scripts:
    - src: /scripts/page--reseller-contact.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/contact-us.css
      inline: true
    - href: /styles/pages/has-cmc-form.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="block max-width-66--sm c">
        <h1 class="ht--s--38 c-theme-primary-dark">Find a Partner</h1>
        <p class="mb0">
            Please complete and submit the form below.
        </p>
    </div>
</div>

<form
    id="requestDemoForm"
    class="cmc-form cmc-form--centered"
    action="reseller-contact/?site=cmc"
    data-success-redirect-url="/contact-us/contact-complete/"
>
    <fieldset>
        <input type="hidden" name="group" value="en-in" />
        <ul class="mb1">
            <li>
                <label></label>
                <div class="input-wrapper">
                    <span class="ht--s--18 reseller-company-txt"></span>
                </div>
            </li>
            <li>
                <label class="required" for="firstName">First Name</label>
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="firstName"
                        id="firstName"
                        required
                    />
                </div>
            </li>
            <li>
                <label class="required" for="lastName">Last Name</label>
                <div class="input-wrapper">
                    <input type="text" name="lastName" id="lastName" />
                </div>
            </li>
            <li>
                <label class="required" for="email">Email</label>
                <div class="input-wrapper">
                    <input type="email" name="email" id="email" required />
                </div>
            </li>
            <li>
                <label class="required" for="phone">Phone</label>
                <div class="input-wrapper">
                    <input type="text" name="phone" id="phone" required />
                </div>
            </li>
            <li>
                <label class="required" for="institution"
                    >Institution/Organization</label
                >
                <div class="input-wrapper">
                    <input
                        type="text"
                        name="institution"
                        id="institution"
                        required
                    />
                </div>
            </li>
            <li>
                <label class="required tallInputLabel" for="message"
                    >Message</label
                >
                <div class="input-wrapper">
                    <textarea name="message" id="message"></textarea>
                </div>
            </li>
            <li class="cmc-form__submit-row">
                <input type="hidden" name="reseller-company" />
                <button
                    type="submit"
                    class="pill-button cmc-form__submit-button"
                    name="btnSave"
                >
                    Submit
                </button>
            </li>
        </ul>
        <p>
            Any personal information you provide to us using this form will be
            processed in accordance with our
            <a href="/about-us/privacy/">privacy policy</a>.
        </p>
    </fieldset>
</form>

{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
