---
# <!-- @formatter:off -->
title: Find A Partner
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
meta-description: Find a Campus Manegement reseller partner
page-bg-image: /images/pages/higher-education-resources/resources-bkg-2.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
additional-scripts:
    - src: /scripts/page--find-reseller-partner.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/find-reseller-partner.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--3 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Select from the dropdown below to find a reseller partner
            </p>
        </header>
    </div>
    <div class="bgc-white c-grey--1000">
        <div class="container container--2 ">
            <label class="find-reseller-label"
                >Select a Region:
                <select class="find-reseller-select" id="find-reseller-select">
                    <option value="">Select...</option>
                    <option value="Indonesia">Indonesia</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Thailand">Thailand</option>
                    <option value="Australia">Australia</option>
                    <option value="Africa"
                        >Kenya, Ghana, South Africa, Sierra Leone, Malawi,
                        Uganda</option
                    >
                </select>
            </label>
            <ul class="box-v4 box-v4--flex-1-3">
                <li class="reseller-list-item" data-region="Indonesia">
                    <p class="ht--s--20 reseller-list-item__company">
                        Business Intelligence Techology
                    </p>
                    <p class="reseller-list-item__address">
                        Tamara Center Kavling 24, Jl. Jend. <br />
                        Sudirman, RT.10/RW.1, Karet, Kota Jakarta <br />
                        Selatan, Daerah Khusus Ibukota Jakarta <br />
                        12920, Indonesia
                    </p>
                    <p class="ht--s--18 reseller-list-item__product">
                        Campus Nexus Suite
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=Business Intelligence Techology"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
                <li class="reseller-list-item" data-region="Malaysia">
                    <p class="ht--s--20 reseller-list-item__company">
                        Kngiht Systems
                    </p>
                    <p class="reseller-list-item__address">
                        Suite 50-6-12, Level 6,<br />
                        Wisma UOA Damansara,<br />
                        50, Jalan Dungun, Damansara Heights,<br />
                        50490 Kuala Lumpur<br />
                    </p>
                    <p
                        class="ht--s--20 c-theme-tertiary reseller-list-item__product"
                    >
                        Campus Nexus Suite
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=Kngiht Systems"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
                <li class="reseller-list-item" data-region="Malaysia">
                    <p class="ht--s--20 reseller-list-item__company">
                        Felda Prodata Systems
                    </p>
                    <p class="reseller-list-item__address">
                        Level 27, Menara Felda, Platinum Park<br />
                        No. 11, Persiaran KLCC<br />
                        50088 Kuala Lumpur<br />
                        Malaysia
                    </p>
                    <p
                        class="ht--s--20 c-theme-tertiary reseller-list-item__product"
                    >
                        Campus Nexus Suite
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=Felda Prodata Systems"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
                <li class="reseller-list-item" data-region="Thailand">
                    <p class="ht--s--20 reseller-list-item__company">
                        CSI Education
                    </p>
                    <p class="reseller-list-item__address">
                        76 Moo ban park gallery Soi 1 Thanon<br />
                        Rattanathibet Tambon Bang Kraso <br />
                        Amphoe Mueang Nonthaburi, <br />
                        Nonthaburi 11000, Thailand
                    </p>
                    <p
                        class="ht--s--20 c-theme-tertiary reseller-list-item__product"
                    >
                        Campus Nexus Suite
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=Felda Prodata Systems"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
                <li class="reseller-list-item" data-region="Australia">
                    <p class="ht--s--20 reseller-list-item__company">
                        IS Group
                    </p>
                    <p class="reseller-list-item__address">
                        F1301, 16 Mars Road, Land Cove West, NSE 2066
                    </p>
                    <p
                        class="ht--s--20 c-theme-tertiary reseller-list-item__product"
                    >
                        Campus Nexus Suite
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=IS Group"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
                <li class="reseller-list-item" data-region="Africa">
                    <p class="ht--s--20 reseller-list-item__company">
                        Techno Brain
                    </p>
                    <p class="reseller-list-item__address">
                        PO Box 57666-00200, Heritan House<br />
                        Woodlands Road, Off. <br />
                        Argwings Kodhek Road, Nairobi Kenya
                    </p>
                    <p
                        class="ht--s--20 c-theme-tertiary reseller-list-item__product"
                    >
                        Campus Nexus Suite, <br />Smart Campus
                    </p>
                    <a
                        href="/partners/reseller-contact/?c=IS Group"
                        class="pill-button c"
                        >Get More Info
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
