---
# <!-- @formatter:off -->
title: Joliet Junior College
menu-priority: 0.9
page-bg-image: /images/pages/demos/JJC/JJC-page-bkg.jpg
page-bg-image--xs: /images/pages/demos/JJC/JJC-410x730-bkg-blue.jpg
additional-scripts:
  - src: /scripts/page--has-carousel.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/demos--jjc.css
    inline: true
  - href: /styles/pages/has-testimonial.css
    inline: false
  - href: /styles/pages/pre-box-v4.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<style>
    .main-nav__root-list-item:nth-child(3),
    .main-nav__root-list-item:nth-child(4),
    .main-nav__root-list-item:nth-child(5),
    .main-nav__root-list-item:nth-child(6) {
        display: none;
    }

    #livechat-compact-container {
        display: none;
    }

    .social-media-share-plugins-list {
        display: none;
    }

    header {
        margin-top: 1.625rem;
    }

</style>

<article>
    <div class="cmc-article">
        <header class="c c-white">
            <img
                class="cmc-article__article-image cmc-article__article-image--app"
                src="/images/pages/demos/JJC/JJC-logo-circle.png"
                alt=""
                inline-img-dims
            />
            <h1 class="ht--s--38-45 article__title">The Power of Partnership</h1>
            <p class="ht--p--16-22 pb1">
                Leveraging CampusNexus to Enable Joliet Junior College to be the First Choice
            </p>
        </header>
    </div>

	<div class="bgc-theme-tertiary">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 video-box pb0--xs-only">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/kUtBumeDpfw?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Bill Pearce"
                    ></iframe>
                </div>
            </div>
            <div class="box-item box-item--no-min-height col-xs-12 col-sm-6">
                <p class="c-white ht--s--22-28 pt0--xs-only pb1">
                    "With Campus Management putting processes in the cloud, I can use my IT staff for strategic
                    projects."
                </p>
                <div class="testimonial__author--v2 c-white ht--p--14-075 i">
                    <div class="testimonial__author__name--v2 b">Chris Wodka,</div>
                    <div class="testimonial__author__title--v2">
                        <em>Chief Financial Officer</em>
                    </div>
                    <div class="testimonial__author__company--v2">Central Arizona College</div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed--centered-title">
            <div class="box-item box-item--no-min-height col-xs-12 pb0">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm">
                    Quotable Quotes
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0">
                <div
                    id="JCC-Carousel"
                    data-interval="10000"
                    class="carousel slide carousel--jjc"
                >

                    <!-- Wrapper for slides -->
                    <div
                        class="carousel-inner"
                        role="listbox"
                    >
                        <div class="item active">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">Timothy L. Beard, Ph.D., President<br /></span>
                                    PASCO-HERNANDO STATE COLLEGE
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--28">
                                        <span class="carousel--jjc__quote-mark"></span>The enterprise-wide, efficient platform – CampusNexus – will transform how
                                        Pasco-Hernando State College engages its students in ways that build meaningful
                                        relationships that support their success.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/PHSC-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>
						<div class="item">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">Jackie Elliott, President and CEO</span>
                                    <br />
                                    CENTRAL ARIZONA COLLEGE
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--20">
                                        <span class="carousel--jjc__quote-mark"></span>Since we initiated our partnership with Campus Management, we’ve experienced transformation across the institution. From relieving our financial aid staff with financial aid automation to reaching students with personalized communications through our new CRM, we are excited to keep reaping the benefits of our new solution set. We are constantly looking at the horizon for new ways to innovate on behalf of students. Currently, we are implementing CampusNexus Occupation Insight to help students choose their program of study and to learn more about their future careers.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/CAC-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">Anthony Salcito, VP of Worldwide Education</span>
                                    <br />
                                    MICROSOFT CORP.
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--28">
                                        <span class="carousel--jjc__quote-mark"></span>It is a pleasure to see the shared vision and collaboration between Microsoft
                                        and Campus Management building and delivering transformative technologies that
                                        positively affect higher education.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/Microsoft-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>
						<div class="item">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">August Alfonso, Vice President of Facilities Operations and CIO</span>
                                    <br />
                                    DEL MAR COLLEGE
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--20">
                                        <span class="carousel--jjc__quote-mark"></span>Del Mar College is pleased to be the first community college in Texas to implement the CampusNexus platform. This campus-wide initiative involves the implementation of a cutting-edge Enterprise Resource Planning (ERP) system selected to transform our business processes, achieve operational excellence and improve productivity. Using CampusNexus Student, learners will be able to interact with a modern user interface in an unprecedented way. In addition, CampusNexus Engage, the first Constituent Relationship Management (CRM) system for our institution, will provide valuable insights about our students, allowing Del Mar College to foster stronger and more personal relationships with prospective and current students, as well as with alumni.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/Del-Mar-College-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>
						<div class="item">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">Dr. Melissa Harts, Vice President, Technology and Distance Education<br /></span>
                                    PASCO-HERNANDO STATE COLLEGE
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--28">
                                        <span class="carousel--jjc__quote-mark"></span>One of the reasons we selected Campus Management is that they were more interested in Pasco-Hernando State College than selling their solutions. Our Provosts were also impressed with their teamwork, and we have continued to experience their positive team dynamic as we move forward into implementation.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/PHSC-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__content">
                                <h3 class="ht--s--28 item__title c-theme-primary-dark">
                                    <span class="ht--s--22 i">Chris Wodka, Chief Financial Officer</span>
                                    <br />
                                    CENTRAL ARIZONA COLLEGE
                                </h3>
                                <div class="item__text-wrapper">
                                    <p class="ht--p--28">
                                        <span class="carousel--jjc__quote-mark"></span>CampusNexus enables us to manage different calendars, registration cycles, and
                                        concurrent enrollment from the same platform. That’s a game changer.<span class="carousel--jjc__quote-mark carousel--jjc__quote-mark--close"></span>
                                    </p>
                                </div>

                                <img
                                    src="/images/pages/demos/JJC/quotes/CAC-quote-image.jpg"
                                    alt=""
                                    class="item__img"
                                >
                            </div>
                        </div>

                    </div>
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li
                            data-target="#JCC-Carousel"
                            data-slide-to="0"
                            class="active"
                        >
                            <span class="carousel-indicators__graphic">1</span>
                        </li>
                        <li
                            data-target="#JCC-Carousel"
                            data-slide-to="1"
                        >
                            <span class="carousel-indicators__graphic">2</span>
                        </li>
                        <li
                            data-target="#JCC-Carousel"
                            data-slide-to="2"
                        >
                            <span class="carousel-indicators__graphic">3</span>
                        </li>
						<li
                            data-target="#JCC-Carousel"
                            data-slide-to="3"
                        >
                            <span class="carousel-indicators__graphic">4</span>
                        </li>
						<li
                            data-target="#JCC-Carousel"
                            data-slide-to="4"
                        >
                            <span class="carousel-indicators__graphic">5</span>
                        </li>
						<li
                            data-target="#JCC-Carousel"
                            data-slide-to="5"
                        >
                            <span class="carousel-indicators__graphic">6</span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="box-row">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 pb2--sm pt2--sm">
                <div class="video-wrapper video-wrapper--16x9 video-wrapper--youtube">
                    <iframe
                        src="https://www.youtube.com/embed/690kFpT34wo?rel=0"
                        frameborder="0"
                        allowfullscreen
                        style="display:block"
                        title="Occupation Insight"
                    ></iframe>
                </div>
            </div>
            <div class="box-item col-xs-12 col-sm-6 box-item--no-min-height pb2--sm pt2--sm">
                <h2 class="ht--p--400 ht--p--16 c-grey--800 article__subtitle">
                    Client Success Story
                </h2>
                <h2 class="box-item__title ht--s--22-28 c-theme-primary-dark">
                    Making a Difference in the Life of Every Student
                </h2>
                <p class="ht--p--16 box-item__text">
                    Watch this video to hear how Lancaster Bible College uses CampusNexus Occupation Insight to make a
                    difference in the life of every student.
                </p>
				<p class="ht--p--16 box-item__text">
                    Utilize CampusNexus to prepare students for the workforce while collaborating with employers and the community.
                </p>
            </div>
        </div>
    </div>

	<div class="bgc-theme-tertiary">
		<div class="box-row">
			<div class="box-item box-item--no-min-height col-xs-12 col-sm-12 pt2-5--md pb2-5--md">
            <div>
				<p class="c-white ht--p--400 ht--p--18 quote-highlight pb1">
                    Published in June 2019, The Tambellini Group’s “Student Systems U.S. Higher Education Market Share, Trends, and Leaders Report” identifies Campus Management as the leading student systems vendor in 2018.
                </p>
                <p class="c-white ht--s--24 quote-highlight pb1">
                    “As modern student systems gain traction in the market, Tambellini research shows that Campus Management is the leading student system vendor overall for new placements for 2018. While continuing to be the leading student system provider in the U.S. private, for-profit sector, Campus Management was also the leading student system vendor in the private, not-for-profit sector and was selected by more traditional institutions than any other student solution in 2018.”
                </p>

            </div>
            <div class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">Vicki Tambellini,</div>
                <div class="testimonial__author__title--v2">President and CEO,</div>
                <div class="testimonial__author__company--v2">The Tambellini Group</div>
            </div>
        </div>
		</div>
	</div>

	<div class="bgc-white">
        <div class="box-row box-row--sm--reversed--centered-title">
            <div class="box-item box-item--no-min-height col-xs-12 pb0">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark pt1--sm">
                    Press Releases
                </h2>
            </div>
            <div class="box-item col-xs-12 col-sm-4 pt0 pb0--xs-only">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/JJC/PR-sheet-image.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0">
                <a
                    class="ht--s--20 pb1 c-theme-primary-dark"
                    style="text-decoration: none;"
                    href="/news-and-events/press-releases/Campus-Management-marks-transformational-year-with-highest-ever-annual-bookings-and-revenue-totals/"
                    target="_blank"
                    rel="noopener"
                >Campus Management Marks Transformational Year with Highest-Ever Annual Bookings and Revenue Totals</a>
				<a
                    class="ht--s--20 pb1 c-theme-primary-dark"
                    style="text-decoration: none;"
                    href="/news-and-events/press-releases/more-community-colleges-thrive-with-Campus-Management-by-empowering-transformation-and-improved-student-career-preparation/"
                    target="_blank"
                    rel="noopener"
                >More Community Colleges Thrive with Campus Management by Empowering Transformation and Improved Student Career Preparation</a>
                <a
                    class="ht--s--20 pb1 c-theme-primary-dark"
                    style="text-decoration: none;"
                    href="/news-and-events/press-releases/Pasco-Hernando-State-College-and-Campus-Management-solidify-partnership-to-elevate-focus-on-students-with-CampusNexus-platform/"
                    target="_blank"
                    rel="noopener"
                >Pasco-Hernando State College and Campus Management Solidify Partnership to Elevate Focus on Students
                    with CampusNexus Platform</a>
                <a
                    class="ht--s--20 pb1 c-theme-primary-dark"
                    style="text-decoration: none;"
                    href="/news-and-events/press-releases/Del-Mar-College-harnesses-the-power-of-technology-to-deliver-dreams-with-Campus-Management/"
                    target="_blank"
                    rel="noopener"
                >Del Mar College Harnesses the Power of Technology to Deliver Dreams with Campus Management</a>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item box-item--not-flex col-xs-12 col-sm-6 video-box pt2-5--sm">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/Muc4ngwnlt8?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Demo"
                    ></iframe>
                </div>
            </div>
            <div class="box-item  col-xs-12 col-sm-6 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--22-28 c-theme-primary-dark">
                    Microsoft and Campus Management Partnership for Higher Education
                </h2>
                <p class="ht--p--16 box-item__text">
                    Raymond Blackwood,
                    <em>VP, Product Management</em>
                    , talks about the Microsoft partnership, and what institutions should look for in a higher education
                    technology partner.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm pb2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/Banner-contact-us.png"
                    alt=""
                >
            </div>
            <div class="box-item col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm pb2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Submit a Question
                </h2>
                <p class="ht--p--16">Select the button below to submit a question to our team.</p>
                <a
                    class="pill-button box-item__link"
                    href="/demos/JJC/question/"
                >Submit
                </a>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/higher-education-resources/coffee-break-webinar-product-promo.jpg"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Webinar Series
                </h2>
                <a
                    href="/higher-education-resources/upcoming-webinars/"
                    target="_blank"
                    rel="noopener"
                >Upcoming Webinars</a>
                <a
                    href="https://info.campusmanagement.com/webinar-student-success-for-life-how-colleges-prepare-graduates-for-careers"
                    target="_blank"
                    rel="noopener"
                >Student Success for Life: How Colleges Prepare Graduates for Careers</a>
                <a
                    href="https://info.campusmanagement.com/ty-effective-change-management-for-todays-institutions"
                    target="_blank"
                    rel="noopener"
                >Effective Change Management for Today's Institutions</a>
				<a
                    href="https://info.campusmanagement.com/ty-survive-or-thrive-overcoming-the-student-engagement-challenge"
                    target="_blank"
                    rel="noopener"
                >Survive or Thrive: Overcoming the Student Engagement Challenge</a>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="box-row box-row--sm--reversed">
            <div class="box-item col-xs-12 col-sm-3 pb0--xs-only pt2-5--sm">
                <img
                    class="box-item__img c "
                    src="/images/pages/demos/solution-sheets.png"
                    alt=""
                >
            </div>
            <div class="box-item  col-xs-12 col-sm-8 pt0--xs-only pt2-5--sm">
                <h2 class="box-item__title ht--s--28 c-theme-primary-dark">
                    Solution Sheets
                </h2>
                <a
                    href="/docs/product-sheets/cmc/en-us/CampusNexus-Engage-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Engage</a>
                <a
                    href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Student</a>
                <a
                    href="/docs/product-sheets/cmc/en-us/CampusNexus-Cloud-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Cloud</a>
                <a
                    href="/docs/product-sheets/cmc/en-us/CampusNexusFinanceHR-Payroll-Product-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Finance, HR & Payroll</a>
                <a
                    href="/docs/product-sheets/cmc/en-us/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    rel="noopener"
                >CampusNexus Occupation Insight</a>
            </div>
        </div>
    </div>

	<div class="bgc-grey--100">
        <div class="box-row">
            <div class="box-item box-item--no-min-height col-xs-12 pt2-5--sm">
                <h2 class="c box-item__title ht--s--28 c-theme-primary-dark mb0">
                    Contact Information
                </h2>
            </div>
            <div class="box-item  box-item--no-min-height col-xs-12 col-sm-6 c-grey--800 pb2-5--sm">
                <p class="c ht--s--22 c-grey--800 box-item__text mb0">
                    Dan Frazier, Vice President of Sales
                </p>
				<p class="c ht--p--18 c-grey--800 box-item__text mb0">
					<a href="mailto:dfrazier@campusmgmt.com">dfrazier@campusmgmt.com</a><br />
					(858) 245-9190
				</p>
            </div>
            <div class="box-item  box-item--no-min-height col-xs-12 col-sm-6 c-grey--800 pb2-5--sm">
                <p class="c ht--s--22 c-grey--800 box-item__text mb0">
                    Chris Bobbitt, Regional Sales Manager
                </p>
				<p class="c ht--p--18 c-grey--800 box-item__text mb0">
					<a href="mailto:cbobbitt@campusmgmt.com">cbobbitt@campusmgmt.com</a><br />
					(214) 504-5944
				</p>
            </div>
        </div>
    </div>

</article>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
