.c-font-color-lightest {
    color: $font-color-lightest;
}

.c-font-color-text-dark {
    color: $font-color-text-dark;
}

.c-font-color-text-darker {
    color: $font-color-text-darker;
}

.c-font-color-text-darkest {
    color: $font-color-text-darkest;
}

@each $suffix, $color in $greys {
    .c-grey-#{$suffix} {
        color: $color;
    }
    .bgc-grey-#{$suffix} {
        background-color: $color;
    }
}

@mixin make-bgc-v1() {
    $bg-colors: (
        box-bg-alt: $box-bg-alt,
        grey-300: map-get($greys, 300),
        box-bg-grey: $box-bg-grey,
        grey-200: map-get($greys, 200),
        nav-bg: $left-nav-bg,
        grey-100: map-get($greys, 100),
        lightest: $white,
        white: $white,
        theme-primary: $theme-primary,
        theme-primary-light: $theme-primary-light,
        theme-tertiary: $theme-tertiary,
    );
    $sizes: 'xs', 'sm', 'md'; // , 'lg';
    $screen-sizes: (
        xs: $screen-xs-min,
        sm: $screen-sm-min,
        md: $screen-md-min,
        lg: $screen-lg-min,
    );

    @each $color-name, $color in $bg-colors {
        .bgc--#{nth($sizes, 1)}--#{$color-name} {
            background-color: $color;
        }
    }

    @for $i from 2 through length($sizes) {
        $size: nth($sizes, $i);

        @media (min-width: map_get($screen-sizes, $size)) {
            @each $color-name, $color in $bg-colors {
                .bgc--#{$size}--#{$color-name} {
                    background-color: $color;
                }
            }
        }
    }
}

@include make-bgc-v1();
