$font-color-text: #333; // 1000
$font-color-text-dark: #666; // 800
$font-color-text-darker: #4b5363; // 900
$font-color-text-darkest: #000;
$font-color-lightest: #fff;
$font-color-error: #ff3f00;
$font-color-icon: #fff;
$font-color-selected: #fff;

$box-bg-grey: map-get($greys, 200); // #e7eaed;
$box-bg-alt: map-get($greys, 300); // #d3d9de;

$left-nav-bg: map-get($greys, 100); // #f0f2f4;
$left-nav-bg-hover: map-get($greys, 600); // #8e99a8;

$footer-bg: map-get($greys, 400); // #bfc8d0;
$footer-charm-btn-bg: map-get($greys, 700); // #6a7688;
