%header-sm-constrain-width,
.header-sm-constrain-width {
    @media (min-width: $screen-sm-min) {
        display: block;
        width: 65%;
        margin-right: auto;
        margin-left: auto;
    }
}

.header--insights {
    @extend %header-sm-constrain-width;
    @extend %content-wrapper;

    margin-top: rhythm(3);
    margin-bottom: rhythm(3);
    text-align: center;
}

.header__title,
.header__subtitle {
    margin-bottom: rhythm(1);
}

.header__title {
    color: $theme-primary-dark;
}

.header__title + .header__subtitle {
    margin-top: #{- rhythm(0.5)};
}

.article__subtitle {
    margin-bottom: rhythm(0.5);
}

/* ------- */

.m1--sm {
    @media (min-width: $screen-sm-min) {
        margin: rhythm(1);
    }
}

.mb0--xs-only,
.box-item__title.mb0--xs-only,
.box-item__img.mb0--xs-only,
.left.mb0--xs-only,
.right.mb0--xs-only,
.box-item__img.c.mb0--xs-only {
    @media (max-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}

.mt1 {
    margin-top: rhythm(1);
}

.mt1--sm,
.box-item.mt1--sm,
.box-item__link.mt1--sm {
    @media (min-width: $screen-sm-min) {
        margin-top: rhythm(1);
    }
}

/* ------- */

.mb-1 {
    margin-bottom: #{- rhythm(1)};
}

.mb-1--sm {
    @media (min-width: $screen-sm-min) {
        margin-bottom: #{- rhythm(1)};
    }
}

.mb0--sm,
.mb0--sm.box-item__title {
    @media (min-width: $screen-sm-min) {
        margin-bottom: 0;
    }
}

.mb0--md,
.mb0--md.box-item__title {
    @media (min-width: $screen-md-min) {
        margin-bottom: 0;
    }
}

.mb1--sm,
.box-item.mb1--sm {
    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(1);
    }
}

.mb2 {
    margin-bottom: rhythm(2);
}

.mb2--xs-only,
.right.mb2--xs-only,
.left.mb2--xs-only {
    @media (max-width: $screen-sm-min) {
        margin-bottom: rhythm(2);
    }
}

.mb2-5--md,
.box-item.mb2-5--md,
.box-item__title.mb2-5--md {
    @media (min-width: $screen-md-min) {
        margin-bottom: rhythm(2.5);
    }
}

/* ------- */

.pb0--xs-only,
.box-item.pb0--xs-only {
    @media (max-width: $screen-sm-min) {
        padding-bottom: 0;
    }
}

.box-row.pb1 {
    padding-bottom: rhythm(1);
}

.pb1--xs-only,
.box-item.pb1--xs-only {
    @media (max-width: $screen-sm-min) {
        padding-bottom: rhythm(1);
    }
}

.pb1--sm,
.box-item.pb1--sm {
    @media (min-width: $screen-sm-min) {
        padding-bottom: rhythm(1);
    }
}

.pb2--sm,
.box-item.pb2--sm {
    @media (min-width: $screen-sm-min) {
        padding-bottom: rhythm(2);
    }
}

.pb2-5--sm,
.box-item.pb2-5--sm,
.box-row.pb2-5--sm {
    @media (min-width: $screen-sm-min) {
        padding-bottom: rhythm(2.5);
    }
}

.pb2-5--md,
.box-item.pb2-5--md {
    @media (min-width: $screen-md-min) {
        padding-bottom: rhythm(2.5);
    }
}

/* ------- */

.pt0 {
    padding-top: 0;
}

.pt0--xs-only,
.box-item.pt0--xs-only {
    @media (max-width: $screen-sm-min) {
        padding-top: 0;
    }
}

.pt1 {
    padding-top: rhythm(1);
}

.pt1--sm,
.box-item.pt1--sm {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(1);
    }
}

.pt2--sm,
.box-item.pt2--sm,
.box-row.pt2--sm {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2);
    }
}

.pt2-5--md,
.box-item.pt2-5--md {
    @media (min-width: $screen-md-min) {
        padding-top: rhythm(2.5);
    }
}

.pt4--md,
.box-item.pt4--md {
    @media (min-width: $screen-md-min) {
        padding-top: rhythm(4);
    }
}
