---
# <!-- @formatter:off -->
title: Contact Campus Management
private: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="block max-width-66--sm c">
        <h1 class="ht--s--38 c-theme-primary-dark">
            Thank You for Contacting Campus Management
        </h1>
        <p>
            A representative will contact you shortly to answer any questions
            you may have about Campus Management’s products and services.
        </p>
    </div>
</div>

{{>[box-v3/combo--us-india-brazil-uk]}} {{/content}} {{/extend}}
