---
# <!-- @formatter:off -->
title: Unsubscribe
private: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <div class="block max-width-66--sm c">
        <h1 class="ht--s--38 c-theme-primary-dark">{{title}}</h1>

        <p>
            You are now Unsubscribed from Campus Management email
            communications.
        </p>
        <p>
            Please
            <a href="{{url-lang-prefix}}/">click here</a>
            to return to the Campus Management website homepage.
        </p>
    </div>
</div>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--us-india-brazil-uk]}}
{{/content}} {{/extend}}
