---
# <!-- @formatter:off -->
label: NERCOMP
meta-description: Visit our Virtual Booth at the NERCOMP Annual Conference Online June 23 & 25, 2020.
page-bg-image: /images/pages/products/crm/crm-bkg-v2.jpg
page-bg-image--xs: /images/pages/products/crm/crm-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
social-image: /images/pages/news-and-events/social-nercomp-conference.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                CampusNexus: The Full Solution Suite for All the Ways You Serve
                Students
            </h1>
            <p class="ht--p--16-22 mb0">
                Visit our Virtual Booth at the NERCOMP Annual Conference Online
                June 23 &amp; 25, 2020
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2--sm">
                Transform Student and Operational Success
            </h2>

            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100"
                        src="/images/pages/news-and-events/events/engagement-crm-system-of-intelligence.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p class="ht--p--16-20">
                        Campus Management shares your passion for helping
                        transform the lives of a wide diversity of students.
                        Built on the Microsoft Azure Cloud, the CampusNexus<sup
                            >®</sup
                        >
                        Solution Suite enables you to deliver flexible and
                        innovative programs and services, deepen engagement
                        across the student lifecycle, optimize talent and
                        resources, and align programs and student skills for
                        career success. Visit our Virtual Booth during NERCOMP
                        to learn more.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--38 c-theme-primary-dark mb2--sm">
                Explore CampusNexus Solutions at NERCOMP Online
            </h2>
            <h3 class="b ht--p--16-20 fl c-grey--800 mb0">CampusNexus Engage</h3>
            <p class="ht--p--16-20">
                &nbsp;&ndash; Go beyond CRM to improve engagement and insight
                across the student lifecycle with a solution that combines
                predictive analytics, AI, and machine learning.
                <a href="/products/crm-for-higher-education/" target="_blank"
                    >Learn More</a
                >
            </p>
            <h3 class="b ht--p--16-20 fl c-grey--800 mb0">
                CampusNexus Student
            </h3>
            <p class="ht--p--16-20">
                &nbsp;&ndash; Manage flexible academic terms, programs and
                financial aid packaging, unite campuses, departments and
                workflows, and gain data-driven insight across the student
                lifecycle.
                <a href="/products/student-information-system/" target="_blank"
                    >Learn More</a
                >
            </p>
            <h3 class="b ht--p--16-20 fl c-grey--800 mb0">
                CampusNexus Occupation Insight
            </h3>
            <p class="ht--p--16-20">
                &nbsp;&ndash; Empower students and advisors with insight into
                the labor market to align academic programs and student skills
                with employer needs.
                <a
                    href="/products/student-success-through-workforce-analytics/"
                    target="_blank"
                    >Learn More</a
                >
            </p>
            <h3 class="b ht--p--16-20 fl c-grey--800 mb0">
                CampusNexus Finance, HR &amp; Payroll
            </h3>
            <p class="ht--p--16-20">
                &nbsp;&ndash; Gain real-time insight into operational
                effectiveness, optimize resources, and recruit, empower, and
                retain top faculty and staff.
                <a href="/products/financial-management-system/" target="_blank"
                    >Learn More</a
                >
            </p>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2-5">
            <p class="ht--s--36 mb2--sm">
                Published in June 2019, The Tambellini Group’s “Student Systems
                U.S. Higher Education Market Share, Trends, and Leaders Report”
                identifies Campus Management as the leading student systems
                vendor in 2018.
            </p>
            <cite
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Greg Theisen,
                </div>
                <div class="testimonial__author__title--v2">
                    Chief Information & Technology Officer,
                </div>
                <div class="testimonial__author__company--v2">
                    Post University
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/NDFQvHwMoXA?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusNexus Engage"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Deepen Student Engagement Across the Institution
                    </h2>
                    <p>
                        How can your institution improve student engagement and
                        gain insight across the enterprise, to keep students on
                        the path to academic and career success? See how
                        CampusNexus Engage, a system of intelligent engagement
                        powered by Microsoft Power BI and Dynamics 365, can help
                        your institution improve recruitment, retention, and
                        outcomes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Imagine Helping Your Students to Look Beyond Graduation
                    </h2>
                    <p class="b">
                        CampusNexus Occupation Insight Delivers that Today.
                    </p>

                    <p>
                        Learn how CampusNexus Occupation Insight leverages
                        machine learning to predict needs, prescribe actions and
                        influence outcomes, while assisting your students to
                        plan their futures beyond the classroom.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/N76SA3TtG9U?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Imagine an Intelligent Engagement Platform built on the
                        Microsoft Technologies
                    </h2>
                    <p class="b">
                        CampusNexus Engage is the Future of CRM Solutions.
                    </p>

                    <p>
                        Learn about CampusNexus Engage and a higher education
                        digital assistant for CampusNexus solutions, built with
                        Microsoft artificial intelligence and machine learning
                        services.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/dCMombH-ltk?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <p class="ht--s--36 mb2--sm">
                        “One of the main reasons we went with Campus Management
                        was their commitment to get us to where we needed to
                        be.”
                    </p>
                    <div
                        class="testimonial__author--v2 c-black ht--p--14-075 i"
                    >
                        <div class="testimonial__author__name--v2 b">
                            Cameron Sanders,
                        </div>
                        <div class="testimonial__author__title--v2">
                            Director of Enterprise Application Services,
                        </div>
                        <div class="testimonial__author__company--v2">
                            Central Arizona College
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Campus Management Proud to Sponsor General Session – Join Us!
            </h2>
            <p class="ht--s--20 c c-grey--800">
                Village 2040: Building Healthy Communities in the "New Jim Code"
                Era
            </p>
            <p class="ht--p--16 c">
                Tuesday, June 23 | 9:00a.m. - 10:00a.m. ET
            </p>
            <ul class="pill-list pill-list--centered">
                <li class="pill-list__item">
                    <a
                        class="pill-button"
                        href="https://events.educause.edu/special-topic-events/nercomp-annual-conference/2020/agenda/village-2040-building-healthy-communities-in-the-new-jim-code-era"
                        target="_blank"
                        rel="noopener"
                        >Learn More</a
                    >
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                2019 Microsoft Power BI Finalist
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/news-and-events/press-releases/Microsoft-PowerBI-finalist.png"
                        alt="2019 Microsoft PowerBI Finalist"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Campus Management was named a finalist in this category
                        for its use of Power BI in its solution portfolio to
                        enable more aligned and informed decisions with
                        predictive analytics for clients. See how Power BI works
                        provides insight.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>

{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
