---
# <!-- @formatter:off -->
title: Cloud-Based Platform for Higher Education Success
label: Cloud-Based Platform
menu-priority: 0.7
page-bg-image: /images/pages/services/architecture/architecture-page-bkg3.jpg
page-bg-classes: page-bg-image--centered
additional-scripts:
    - src: /scripts/page--open-source-platform-for-higher-education.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                With CampusNexus, institutions can respond dynamically to change
                on a flexible and extensible platform, grow enrollments and add
                campuses, gain greater insight from data across the institution,
                and optimize technology around student and operational success.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Respond Dynamically to Student and Business Needs
            </h2>
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/services/architecture/open-source-platform.png"
                        class="max-width-100 mb1"
                    />
                    <p class="ht--s--16 c mb0">
                        Flexible Cloud-Based Platform
                    </p>
                </div>
                <div class="left">
                    <p>
                        As a higher education institution, you need an open
                        technology foundation that helps you deliver on your
                        mission. You don’t get that from a closed-box
                        proprietary system. You get that from
                        CampusNexus<sup>®</sup>.
                    </p>
                    <p>
                        Your institution benefits from a standards-based cloud
                        architecture built on the Microsoft Power Platform, a
                        rich ecosystem of integrated enterprise applications and
                        flexible foundation for responding dynamically to
                        student and operational needs.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/en-us/CampusNexus-Architecture-SolutionSheet-Campus-Management.pdf"
                                target="_blank"
                                rel="noopener"
                            >
                                Solution Sheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Deploy on a Standards-Based Cloud Platform Designed for Higher
                Education Success
            </h2>
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <a
                        href="https://azure.microsoft.com/en-us/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            alt=""
                            loading="lazy"
                            inline-img-dims
                            src="/images/pages/services/architecture/Microsoft-Azure-logo.png"
                            class="max-width-100 mb1"
                        />
                    </a>
                    <p class="ht--s--16 c-grey--800 c mb0">
                        Built on Microsoft Azure
                    </p>
                </div>
                <div class="right">
                    <p>
                        With a higher education platform built on Microsoft
                        Azure, you have the freedom to build, manage, and deploy
                        applications on a massive, secure, and global network
                        using your preferred tools and frameworks.
                    </p>
                    <p>
                        You leverage Campus Management’s CampusNexus Solutions
                        Suite for Higher Education, plus Microsoft’s enterprise
                        ready tools, including Power BI, PowerApps, Flow, and
                        Dynamics 365, to improve student engagement, business
                        processes, and workflows.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <a
                        href="https://docs.microsoft.com/en-us/powerapps/maker/common-data-service/data-platform-intro"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            alt=""
                            loading="lazy"
                            inline-img-dims
                            src="/images/pages/services/architecture/Common-Data-Service.png"
                            class="max-width-100 mb1"
                        />
                    </a>
                    <p class="ht--s--16 c mb0">
                        Common Data Service (CDS)
                        <br />
                        Microsoft Power Platform
                    </p>
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Unite Higher Education Systems and Applications with
                        Common Data Service (CDS)
                    </h2>
                    <p>
                        In the past, sharing data between software systems was
                        difficult without extensive customizations. Each
                        application became its own silo of data.
                    </p>
                    <p>
                        With Microsoft’s Common Data Service, you can share
                        information between all your apps and sync across all
                        areas of your operation. You improve visibility,
                        collaboration, and insight across departments, systems,
                        and data sources.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container box-v4 box-v4--1-1">
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/xbPvjcTXaQg?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Youtube Video - Bill Pearce"
                    ></iframe>
                </div>
            </div>
            <div class="right">
                <div class="testimonial smaller">
                    <p
                        class="c-black ht--p--18 testimonial__quote--smaller"
                    >
                        We’re a university not a data center. Leveraging the
                        Azure Cloud platform makes us a better, more efficient
                        IT shop.
                    </p>
                </div>
                <div
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Craig Handjian,
                    </div>
                    <div class="testimonial__author__title--v2">
                        <em>Interim CIO</em>
                    </div>
                    <div class="testimonial__author__company--v2">
                        Marymount California University
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <a
                        href="https://appsource.microsoft.com/en-us/product/dynamics-365/mshied.highereducationcommondatamodel?tab=Overview"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            alt=""
                            loading="lazy"
                            inline-img-dims
                            src="/images/pages/services/architecture/Microsoft-Higher-Ed-Accelerator.png"
                            class="max-width-100 mb1"
                        />
                    </a>
                    <p class="ht--s--16 c-grey--800 c mb0">
                        Microsoft Higher Ed Accelerator
                    </p>
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Easily Deploy Your Student Information System, CRM, and
                        ERP Using Prebuilt Higher Education Entities and Forms
                    </h2>
                    <p>
                        Built in collaboration with Microsoft on Dynamics 365,
                        the Higher Ed Accelerator provides an entity model that
                        enables your institution to easily develop solutions
                        that align with your business and academic framework.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Prebuilt Entities and Forms&nbsp;
                    </h3>
                    <p>
                        &ndash; With over 20 extracted higher education
                        entities, the Higher Ed Accelerator provides a standard
                        model to simplify integration.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Available on GitHub&nbsp;
                    </h3>
                    <p>
                        &ndash; The solution, data sample, Power BI examples,
                        SDK extensions, and more are provided as part of this
                        open source and standards-based development platform.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Turn Insight into Action Across Your Institution to Drive
                Student Success
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        What are the key factors influencing a student’s
                        decision to attend your institution? What’s the best way
                        to keep students on the path to graduation and
                        successful outcomes? Now you can gain timely insights
                        for developing and executing strategies based on all
                        your data through predictive and prescriptive analytics,
                        and embedded Power BI dashboards with dynamic visuals.
                        Deliver insights throughout the institution using
                        CampusNexus and external data sources.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Quick Insights</h3>
                    <p>
                        &nbsp;&ndash; Generate visualizations based on data
                        trends using Quick Insights.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Predictive and Prescriptive Analytics
                    </h3>
                    <p>
                        &nbsp;&ndash; Go from insight to action with Power BI
                        dashboards embedded in CampusNexus.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">Cortana</h3>
                    <p>
                        &nbsp;&ndash; Ask vocal natural language questions in
                        Cortana and find answers from data stored in Power BI.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Artificial Intelligence and Machine Learning
                    </h3>
                    <p>
                        &nbsp;&ndash; Generate key driver analysis and machine
                        learning models based on data collected in Power BI from
                        across departments and applications.
                    </p>
                </div>
                <div class="right">
                    <a
                        href="/products/student-success-through-workforce-analytics/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            alt=""
                            loading="lazy"
                            inline-img-dims
                            src="/images/pages/services/architecture/Occupation-Insight.png"
                            class="max-width-100 mb1"
                        />
                    </a>
                    <h3 class="txt--legal c b mb0">
                        Improving career success for students.
                    </h3>
                    <p class="txt--legal c">
                        With CampusNexus Occupation Insight, students and
                        advisors leverage advanced workforce analytics to align
                        programs and courses with the needs of the job market.
                    </p>
                    <img
                        class="max-width-100 c"
                        src="/images/pages/services/architecture/Microsoft-Power-BI-Award.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Manage Higher Education Business Processes, Approvals, and More
                with Automated Workflows
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <a
                        href="https://flow.microsoft.com/en-us/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="max-width-100 mb1"
                            src="/images/pages/services/architecture/Microsoft-Flow.png"
                            alt=""
                            loading="lazy"
                            inline-img-dims
                        />
                    </a>
                    <p class="ht--s--16 c-grey--800 c mb0">
                        Microsoft Flow
                    </p>
                </div>
                <div class="right">
                    <p>
                        Now you can create and automate business processes,
                        approvals, and workflows visually. For example, if
                        someone tweets about your institution, you can set up a
                        flow that follows them, adds them to a spreadsheet that
                        gets emailed to you for approval, and then enters them
                        as a contact in CampusNexus Engage.
                    </p>
                    <p>
                        A feature of the CampusNexus Event-Driven Architecture,
                        Microsoft Flow enables you to compose business logic
                        visually using activities and apply human workflow
                        capability to business processes.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Easily Build Higher Ed Apps and Extend or Customize the Apps You
                Already Use
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="right">
                    <a
                        href="https://powerapps.microsoft.com/en-us/build-powerapps/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="max-width-100 mb1"
                            src="/images/pages/services/architecture/Power-Apps.png"
                            alt=""
                            loading="lazy"
                            inline-img-dims
                        />
                    </a>
                    <p class="ht--s--16 c-grey--800 c mb0">
                        PowerApps
                    </p>
                </div>
                <div class="left">
                    <p>
                        Now you can easily create web and mobile applications
                        without writing code, connect campus systems, view or
                        create data across systems and integrate them with your
                        CampusNexus solutions.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">No need to write code</h3>
                    <p>
                        &nbsp;&ndash; Provide a citizen-developer experience to
                        authoring web and mobile applications.
                    </p>
                    <h3 class="b fl c-grey--800 mb0">
                        Integrate new apps with your CampusNexus Solutions
                    </h3>
                    <p>
                        &nbsp;&ndash; Easily integrate new apps with CampusNexus
                        Engage, Student, Finance, HR & Payroll, and Microsoft
                        Flow and Azure functions.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Integrate Microsoft’s Prebuilt Business Tools into Your Higher
                Education Workflows
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <a
                        href="https://flow.microsoft.com/en-us/templates/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="max-width-100 mb1"
                            src="/images/pages/services/architecture/templates.jpg"
                            alt=""
                            loading="lazy"
                            inline-img-dims
                        />
                    </a>
                    <p class="ht--s--16 c-grey--800 c mb0">
                        Ready-to-Go Templates
                    </p>
                </div>
                <div class="right">
                    <p>
                        PowerApps and Flow offer over 250 prebuilt Templates and
                        Connectors for external systems, all curated by
                        Microsoft on AppSource.
                    </p>
                    <p>
                        You can further optimize and automate your workflows
                        with Microsoft’s expansive and constantly-growing
                        ecosystem of proven and popular business tools.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                CampusNexus Cloud for Higher Education
            </h2>
            <p>
                CampusNexus Cloud built on Microsoft Azure offers a
                cost-effective, highly secure, and truly global platform that
                adapts and grows with your institution.
            </p>

            <div class="box-v4 box-v4--1-3 mb1">
                <div class="left mb0-5">
                    <img
                        src="/images/pages/services/architecture/IaaS-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Turn to a Solutions Provider Focused Exclusively on
                        Higher Ed Challenges
                    </h3>
                    <p>
                        We have a saying at Campus Management: “Every line of
                        code we write should solve a Higher Ed challenge.” With
                        CampusNexus Cloud, you leverage Microsoft Azure as a
                        scalable and secure technology foundation for your
                        institution. This allows us to focus on developing
                        higher-ed specific features and innovations that align
                        with your goals and rapidly delivering them as a
                        comprehensive, fully integrated SaaS solution.
                    </p>
                </div>
            </div>

            <div class="box-v4 box-v4--1-3 mb1">
                <div class="left mb0-5">
                    <img
                        src="/images/pages/services/architecture/Uptime-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Ensure Uptime, Security and Reliability with CampusNexus
                        Cloud built on Microsoft Azure
                    </h3>
                    <p>
                        With CampusNexus Cloud, you leverage Azure’s Platform as
                        a Service (PaaS) and Integration Platform as a Service
                        (iPaaS) as a scalable and secure technology foundation
                        for your institution.
                    </p>
                </div>
            </div>
            <div class="box-v4 box-v4--1-3 mb1">
                <div class="left mb0-5">
                    <img
                        src="/images/pages/services/architecture/Everywhere-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Empower Students, Faculty, and Staff Where They Are
                    </h3>
                    <p>
                        With your institution’s platform in the CampusNexus
                        Cloud, you can easily add new campuses and programs, and
                        empower students, recruiters, faculty, and staff around
                        the world online and through their mobile devices.
                    </p>
                </div>
            </div>

            <div class="box-v4 box-v4--1-3">
                <div class="left mb0-5">
                    <img
                        src="/images/pages/services/architecture/Scale-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h3 class="ht--s--22 mb0">
                        Scale Up or Down Based on Your Institution’s Needs
                    </h3>
                    <p>
                        The CampusNexus architecture allows you to scale up
                        during peak times and scale down when necessary based on
                        your institution’s unique business and academic cycles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
