---
# <!-- @formatter:off -->
title: Services
meta-description: Experienced consultants and technical experts bring the knowledge and skills to ensure rapid, efficient and thoughtful deployment of higher ed solutions.
banner-image: /images/pages/services/implementation/banner-implementation.png
menu-priority: 0.7
page-bg-image: /images/pages/services/services-2-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Campus Management has implemented hundreds of diverse colleges,
                universities, foundations, and fundraising organizations.
                Experienced consultants and technical experts arrive with the
                knowledge and skills to ensure rapid, efficient and thoughtful
                deployment of higher education solutions.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Turn to Experts Committed to Your Success
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-width-100"
                        src="/images/pages/services/services-it-woman.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <p>
                        Campus Management offers your institution unparalleled
                        service and support through industry-recognized IT
                        professionals with decades of service to higher
                        education. These trusted advisors are focused on
                        optimizing Campus Management solutions and services
                        based on your institution’s unique challenges and goals.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-7"
                        src="/images/pages/services/strategic-consultants-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Strategic Consultants
                    </h2>
                    <p>
                        Strategic consultants align CampusNexus solutions with
                        your institution’s objectives and help to optimize the
                        value you gain from your investment. Recommendations go
                        beyond technology to include guidance on best practices,
                        configurations, and workflows.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        class="max-7"
                        src="/images/pages/services/implementation-team-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Implementation Team
                    </h2>
                    <p>
                        With best practices honed over decades of successful
                        implementations, Campus Management’s Professional
                        Services team ensures that solutions are delivered on
                        time and within budget, and that your users embrace the
                        new system.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-7"
                        src="/images/pages/services/managed-services-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Managed Services
                    </h2>
                    <p>
                        Campus Management clients turn to Managed Services to
                        maximize platform support and performance as well as
                        application utilization to help your institution
                        optimize solutions, ensure uptime and performance, and
                        adapt easily to new strategies.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/docs/product-sheets/cmc/en-us/Managed-Services-Campus-Management.pdf"
                                target="_blank"
                                rel="noopener"
                            >
                                Solution Sheet
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        class="max-7"
                        src="/images/pages/services/customer-enablement-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Customer Engagement Managers
                    </h2>
                    <p>
                        Each Campus Management client institution gains a
                        dedicated Customer Engagement Manager who ensures a
                        highly coordinated and collaborative team approach to
                        meeting your institution’s needs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        class="max-7"
                        src="/images/pages/services/campusCare-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        CampusCare
                    </h2>
                    <p>
                        Our CampusCare team members are true partners in your
                        success and provide a variety of value-added benefits,
                        including 24/7 tech support, off-hours system upgrades,
                        regulatory updates, training keys for online and
                        classroom-style instruction, an online knowledge base
                        and more.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        class="max-7"
                        src="/images/pages/services/learning-center-icon.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        The Campus Management Learning Center
                    </h2>
                    <p>
                        Campus Management training services offer curriculums
                        designed around the working world of each department
                        within your institution. Taught by real-world experts in
                        their field, these courses are offered in a variety of
                        learning formats, including online, on-site, or at one
                        of Campus Management’s facilities and span our solutions
                        suite.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
