---
# <!-- @formatter:off -->
title: Online Admissions Module
meta-description: Campus Management International (CMI), a global leader in over 18 countries in education technology, can help you get compliant In 3 easy steps.
banner-image: /images/pages/services/Training/banner-training.png
menu-priority: 0.1
in-nav--en-us: false
in-nav--en-in: true
in-nav--en-uk: false
page-bg-image: /images/pages/services/services-2-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <p class="ht--p--20">
                In light of a communication (directive) from the UGC urging
                campuses to automate admissions, it becomes a matter of priority
                for your college to take this up at the earliest to comply with
                this directive.
            </p>
            <p>
                In addition to complying, institutions can now derive additional
                benefits of transparency and efficiency while offering students
                and parents the option of making more informed choices.
            </p>
            <p>
                Campus Management International (CMI) a global leader in over 18
                countries in education technology can help you get compliant In
                3 easy steps.
            </p>
            <img
                class="max-width-100"
                src="/images/pages/services/online-admissions-module/UGC-Campaign-3-easy-steps.jpg"
                alt=""
            />
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
