---
# <!-- @formatter:off -->
title: CampusNexus Product Update Webinars
private: true
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
page-bg-image: /images/pages/higher-education-resources/webcasts/page-bkg-blue-client-webinars-2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/webcasts/client-webinars-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
pageCssClass: has-page-bg-image
additional-scripts:
    - src: /scripts/page--webinar-list--client.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<section>
    <script>
        var s3DocListPreloadData = [];
    </script>
    <style>
        .s3-doc-list-app--v2 .horizontal-menu__wrapper {
            display: none !important;
        }
        .horizontal-menu__selected-filter-text:before {
            content: '' !important;
        }
    </style>

    <div class="container container--2 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>
    <div
        id="WebinarSeries--upcoming"
        class="app s3-doc-list-app--v2"
        data-doctype="webcast-series"
        data-site="cmc"
        data-items-per-page="9"
        data-group="en-us"
        data-type="client"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
