---
# <!-- @formatter:off -->
title: Podcasts
meta-description: Explore PodSpective on Higher Education Trends, provided by Campus Management.
in-nav--en-us: false
in-nav--en-in: false
in-nav--en-uk: false
menu-priority: 0.3
page-bg-image: /images/pages/higher-education-resources/resources-bkg-2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/higher-education-resources-410x730-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image hide-products-and-solutions
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header--top-heavy container--header"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                PodSpective on Higher Education Trends
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--22-28 c-theme-primary-dark">
                How AI Helps Grow the Employability of Students
            </h2>
            <p class="ht--p--16-20">
                Explore the big changes in the education space, where the focus
                is now shifting from graduation to employability as the ultimate
                outcome. This podcast discusses how technology can play a
                meaningful role to help students stay on the optimal path to
                achieve their aspirations in a world where teachers are a scarce
                resource. An interview with Ray Blackwood, Vice President of
                Product Management at Campus Management.
            </p>
            <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/529945389&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"
                loading="lazy"
            ></iframe>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/higher-ed-resources]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
