---
# <!-- @formatter:off -->
title: Solution Sheets
meta-description: Explore how Campus Management's solutions can transform your institution to proactively engage students in a manner designed for their success and yours.
menu-priority: 0.5
alt--pt-br: /solucoes/Folha-do-Produto/
alt--es: /higher-education-resources/hojas-de-solucion/
page-bg-image: /images/pages/higher-education-resources/product-sheets-bkg.jpg
page-bg-image--xs: /images/pages/higher-education-resources/product-sheets-410x730-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
additional-scripts:
    - src: /scripts/page--s3-doc-list.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<script>
    var s3DocListPreloadData = [];
</script>
<section>
    <div class="container container--2 container--header pb1">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Explore how Campus Management's solutions can transform your
                institution to proactively engage students in a manner designed
                for their success and yours.
            </p>
        </header>
    </div>
    <div
        id="s3docListApp"
        class="app s3-doc-list-app--v2"
        data-doctype="product-sheets"
        data-site="cmc"
        data-items-per-page="6"
        data-group="en-us"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--webcasts]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
