---
# <!-- @formatter:off -->
title: White Papers
meta-description: Explore how leading higher education institutions are transforming student engagement, retention, and outcomes utilizing Campus Management solutions.
menu-priority: 0.4
# alt--pt-br: /solucoes/Estudos-de-Caso/
page-bg-image: /images/pages/higher-education-resources/case-studies-bkg.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies-410x730-bkg-blue.jpg
page-bg-classes: page-bg-image--centered
pageCssClass: has-page-bg-image
additional-scripts:
    - src: /scripts/page--s3-doc-list.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<script>
    var s3DocListPreloadData = [];
</script>
<section>
    <div class="container container--2 container--header pb1">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Explore how leading higher education institutions are
                transforming student engagement, retention, and outcomes
                utilizing Campus Management solutions.
            </p>
        </header>
    </div>
    <div
        id="s3docListApp"
        class="app s3-doc-list-app--v2"
        data-items-per-page="6"
        data-doctype="white-papers"
        data-site="cmc"
        data-group="en-us"
    >
        <div class="loading--placeholder">Loading...</div>
    </div>
</section>
{{/content}} {{#content "after-body"}} {{>[box-v3/combo--webcasts]}}
{{>[pattern-box/consultation-request]}} {{/content}} {{/extend}}
