---
# <!-- @formatter:off -->
title: Admin Xls
private: true
additional-scripts:
    - src: /scripts/page--admin-xls.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/password-protected-download.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="container">
    <h1 class="ht--s--38-45 c-theme-primary-dark">
        {{title}}
    </h1>
    <p class="ht--s--20 c-theme-tertiary">Admin Xls</p>

    <div class="password-protected-download">
        <div class="password-protected-download__links" style="display: none;">
            <a
                href="{{@root.config.domains.api}}/signed/excel/cmc/en-us/regional-workshop/"
            >
                Round Table - Test
            </a>
        </div>
        <div class="password-protected-download__view-container">
            Loading...
        </div>
        <p class="password-protected-download__show-when-loaded">
            a link
        </p>
    </div>
</div>
{{/content}} {{#content "after-body"}} {{/content}} {{/extend}}
