---
# <!-- @formatter:off -->
title: Build
pageCssClass: no-charms no-social
additional-scripts:
    - src: /scripts/page--component-build.dev.js
      inline: false
additional-stylesheets:
    - href: /styles/pages/has-cmc-form.css
      inline: false
    - href: /styles/pages/component-build.css
      inline: false
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<div class="app">
    <form class="container" id="BuildForm">
        <fieldset>
            <legend>Box Type</legend>
            <ul>
                <li>
                    <label for="BoxType">Type</label>
                    <select id="BoxType" name="BoxType">
                        <option value="header" selected>header</option>
                        <option value="section-title">Section Title</option>
                        <option value="full-width">Full Width</option>
                        <option value="box-v4">box-v4</option>
                    </select>
                </li>
            </ul>
        </fieldset>

        <fieldset class="fieldset--section-title">
            <legend>section title</legend>
        </fieldset>

        <fieldset class="fieldset--full-width">
            <legend>Full Width</legend>
            <ul>
                <li>
                    <label for="FullWidthContainerBgColor"
                        >Background Color</label
                    >
                    <select
                        id="FullWidthContainerBgColor"
                        name="FullWidthContainerBgColor"
                        class="bg-color-select"
                    >
                        <option value="bgc-white">bgc-white</option>
                        <option value="bgc-grey--100"
                            >bgc-grey--100</option
                        >
                        <option value="bgc-grey--200"
                            >bgc-grey--200</option
                        >
                        <option value="bgc-grey--300"
                            >bgc-grey--300</option
                        >
                        <option value="bgc-theme-tertiary"
                            >bgc-theme-tertiary</option
                        >
                    </select>
                </li>
                <li>
                    <label for="FullWidthContainerHeight"
                        >Container Padding</label
                    >
                    <select
                        id="FullWidthContainerHeight"
                        name="FullWidthContainerHeight"
                        class="container-height"
                    >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="2-5">2.5</option>
                    </select>
                </li>
                <li>
                    <label for="FullWidthAddIntroTitle"
                        >Add full width intro title</label
                    >
                    <input
                        type="checkbox"
                        name="FullWidthAddIntroTitle"
                        id="FullWidthAddIntroTitle"
                        checked
                    />
                </li>
                <li>
                    <label for="FullWidthContent">Example Content</label>
                    <select name="FullWidthContent" id="FullWidthContent">
                        <option value="text1">Text</option>
                        <option value="text1620">Text 16-22</option>
                        <option value="quote">Quote</option>
                        <option value="video">Video</option>
                        <option value="textImgLeft">Text Image Left</option>
                        <option value="testimonial">Testimonial</option>
                    </select>
                </li>
            </ul>
        </fieldset>

        <fieldset class="fieldset--header">
            <legend>header</legend>
            <ul>
                <li>
                    <label for="HeaderAddSocial">Add Social Placeholder</label>
                    <input
                        type="checkbox"
                        id="HeaderAddSocial"
                        name="HeaderAddSocial"
                    />
                </li>
                <li>
                    <label for="HeaderAddImg">Add Img</label>
                    <input
                        type="checkbox"
                        id="HeaderAddImg"
                        name="HeaderAddImg"
                    />
                </li>
                <li>
                    <label for="HeaderContainerHeight">Container Padding</label>
                    <select
                        id="HeaderContainerHeight"
                        name="HeaderContainerHeight"
                        class="container-height"
                    >
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="2-5">2.5</option>
                        <option value="3">3</option>
                    </select>
                </li>
                <li>
                    <label for="HeaderAddTopHeavy">Top Heavy</label>
                    <input
                        type="checkbox"
                        id="HeaderAddTopHeavy"
                        name="HeaderAddTopHeavy"
                        class="checkbox--top-heavy"
                    />
                </li>
            </ul>
        </fieldset>

        <fieldset class="fieldset--box-v4">
            <legend>box-v4</legend>
            <ul>
                <li>
                    <label for="BoxV4ContainerPreset">Jump to Preset</label>
                    <select
                        name="BoxV4ContainerPreset"
                        id="BoxV4ContainerPreset"
                        class=""
                        data-storage="false"
                    >
                        <option value="">Select...</option>
                        <option value="imgR">Img Right</option>
                        <option value="imgL">Img Left</option>
                        <option value="2greyBoxesAuto">2 grey boxes auto</option>
                        <option value="2greyBoxesManual">2 grey boxes manual</option>
                        <option value="3greyBoxes">3 grey boxes</option>
                        <option value="youtube">Youtube Video</option>
                        <option value="6greenBoxes">6 boxes on green</option>
                        <option value="3circles">3 circles</option>
                        <option value="smallImgLeft">small img left - auto</option>
                    </select>
                </li>

                <li>
                    <label for="BoxV4ContainerBgColor">Background Color</label>
                    <select
                        name="BoxV4ContainerBgColor"
                        id="BoxV4ContainerBgColor"
                        class="bg-color-select"
                    >
                        <option value="bgc-white">bgc-white</option>
                        <option value="bgc-grey--100"
                            >bgc-grey--100</option
                        >
                        <option value="bgc-grey--200"
                            >bgc-grey--200</option
                        >
                        <option value="bgc-grey--300"
                            >bgc-grey--300</option
                        >
                        <option value="bgc-theme-tertiary"
                            >bgc-theme-tertiary</option
                        >
                        <option value="bgg-grey-200-to-grey-300"
                            >bgg-grey-200-to-grey-300</option
                        >
                        <option value="bgg-theme-primary-to-theme-primary-light"
                            >bgg-theme-primary-to-theme-primary-light</option
                        >
                    </select>
                    <label for="BoxV4ContainerBgReverse">Reverse</label>
                    <input type="checkbox" id="BoxV4ContainerBgReverse" />
                </li>
                <li>
                    <label for="BoxV4ContainerHeight">Container Padding</label>
                    <select
                        name="BoxV4ContainerHeight"
                        id="BoxV4ContainerHeight"
                        class="container-height"
                    >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="2-5">2.5</option>
                    </select>
                </li>
                <li>
                    <label for="BoxV4Type">Ratio</label>
                    <select name="BoxV4Type" id="BoxV4Type">
                        <option value="3-1">3/1</option>
                        <option value="2-1">2/1</option>
                        <option value="3-2">3/2</option>
                        <option value="1-1" selected>1/1</option>
                        <option value="1-2">1/2</option>
                        <option value="1-3">1/3</option>
                        <option value="auto">auto</option>
                        <option value="flex">flex</option>
                        <option value="flex-1-2">flex-1-2</option>
                        <option value="flex-1-2-4">flex-1-2-4</option>
                        <option value="flex-1-2-3">flex-1-2-3</option>
                        <option value="flex-1-3">flex-1-3</option>
                    </select>
                </li>
                <li>
                    <label for="AddIntroTitle"
                        >Add full width intro title</label
                    >
                    <input
                        type="checkbox"
                        name="AddIntroTitle"
                        id="AddIntroTitle"
                    />
                </li>
                <li>
                    <label for="ColorBoxes">Color Boxes</label>
                    <select name="ColorBoxes" id="ColorBoxes">
                        <option value="no">no</option>
                        <option value="auto">auto</option>
                        <option value="manual">manual</option>
                    </select>
                </li>
                <li class="auto-color-option">
                    <label for="AutoColorBoxes">Auto Color</label>
                    <select name="AutoColorBoxes" id="AutoColorBoxes">
                        <option value="grey">Grey</option>
                        <option value="blue">Blue</option>
                    </select>
                </li>
                <li class="l-r-option">
                    <label for="LeftContent">Left Example Content</label>
                    <select name="LeftContent" id="LeftContent">
                        <option value="img-sm">Small Img</option>
                        <option value="img-md">Medium Img</option>
                        <option value="imgFill">Fill with Img</option>
                        <option value="text1">Text Ex.1</option>
                        <option value="text2">Text Ex.2</option>
                        <option value="text-short">Text Short</option>
                        <option value="quote--smaller" selected
                            >Quote Smaller</option
                        >
                        <option value="video">Video</option>
                    </select>
                    <select
                        id="BoxV4ContainerLeftItemColor"
                        name="BoxV4ContainerLeftItemColor"
                        class="item-color-select"
                    >
                        <option value="none">none</option>
                        <option value="bgc-white">bgc-white</option>
                        <option value="bgc-grey--100"
                            >bgc-grey--100</option
                        >
                        <option value="bgc-grey--200"
                            >bgc-grey--200</option
                        >
                        <option value="bgc-grey--300"
                            >bgc-grey--300</option
                        >
                        <option value="bgc-theme-tertiary"
                            >bgc-theme-tertiary</option
                        >
                    </select>
                </li>
                <li class="l-r-option pills-options">
                    <label for="PillButtons">Add Pill Buttons Left</label>
                    <ul>
                        <li>
                            <input
                                type="radio"
                                name="pillButtons"
                                id="pillButton0"
                                value="0"
                                checked
                                data-storage="false"
                            /><label for="pillButton0">0</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="pillButtons"
                                id="pillButton1"
                                value="1"
                                data-storage="false"
                            /><label for="pillButton1">1</label>
                        </li>
                        <li>
                            <input
                                type="radio"
                                name="pillButtons"
                                id="pillButton2"
                                value="2"
                                data-storage="false"
                            /><label for="pillButton2">2</label>
                        </li>
                        <li>
                            <input
                                type="checkbox"
                                id="pillButtonCenter"
                                name="pillButtonCenter"
                            /><label for="pillButtonCenter">center</label>
                        </li>
                    </ul>
                </li>
                <li class="l-r-option">
                    <label for="RightContent">Right Example Content</label>
                    <select name="RightContent" id="RightContent">
                        <option value="img-sm" selected>Small Img</option>
                        <option value="img-md">Medium Img</option>
                        <option value="imgFill">Fill with Img</option>
                        <option value="text1">Text Ex.1</option>
                        <option value="text2">Text Ex.2</option>
                        <option value="text-short">Text Short</option>
                        <option value="quote--smaller" selected
                            >Quote Smaller</option
                        >
                        <option value="video">Video</option>
                    </select>
                    <select
                        id="BoxV4ContainerRightItemColor"
                        name="BoxV4ContainerRightItemColor"
                        class="item-color-select"
                    >
                        <option value="none">none</option>
                        <option value="bgc-white">bgc-white</option>
                        <option value="bgc-grey--100"
                            >bgc-grey--100</option
                        >
                        <option value="bgc-grey--200"
                            >bgc-grey--200</option
                        >
                        <option value="bgc-grey--300"
                            >bgc-grey--300</option
                        >
                        <option value="bgc-theme-tertiary"
                            >bgc-theme-tertiary</option
                        >
                    </select>
                </li>
                <li class="l-r-option">
                    <label for="SwapLR">Swap L/R for mobile first</label>
                    <input type="checkbox" name="SwapLR" id="SwapLR" checked />
                </li>
                <li class="auto-content-option">
                    <label for="AutoContentCount">Number of Items</label>
                    <input
                        type="number"
                        min="1"
                        max="12"
                        id="AutoContentCount"
                        name="AutoContentCount"
                        value="3"
                    />
                </li>
                <li class="auto-content-option">
                    <label for="AutoContent">Auto Example Content</label>
                    <select name="AutoContent" id="AutoContent">
                        <option value="img">img</option>
                        <option value="greyBox">grey box</option>
                        <option value="greyBoxLonger">grey box longer</option>
                        <option value="circle">circle</option>
                        <option value="smallImgLeft">small img left - auto</option>
                    </select>
                </li>
            </ul>
        </fieldset>
    </form>
    <div id="Preview" class="preview"></div>
    <pre id="Output" class="container output"></pre>
</div>

{{/content}} {{/extend}}
