---
# <!-- @formatter:off -->
title: Snippets & Example pages
publish: private
menu-priority: 0
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="container">
    <h1 class="">{{title}}</h1>
    {{>quick-launch}}
</div>
{{/content}}

{{/extend}}
