---
# <!-- @formatter:off -->
title: Metadata
banner-title: Dev
banner-image: /images/pages/products/sis/Banner_nexusStudent.png
menu-priority: 0
meta-description: Leading student information system that integrates your people, processes, and DoD systems into secure, flexible, and collaborative platform.
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<div class="cmc-article">
    <pre>
"title","url","publish","meta-description"
{{sortCollectionData collection.[0] 'pages' 99 'collection-data-loop/metadata'~}}
    </pre>
</div>
{{/content}} {{/extend}}
