---
# <!-- @formatter:off -->
label: Edge.Con
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-image--xs: /images/pages/news-and-events/events/events-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-stylesheets:
    - href: /styles/pages/has-document-links-list.css
      inline: false
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">
                Student Success. Innovation. Culture of Service.
            </h1>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Begin Your Digital Transformation at Edge.Con
            </h2>
            <div class="box-v4">
                <div class="left">
                    <p class="ht--s--22 c-theme-primary-dark">
                        See CampusNexus in Action – Booth 38
                    </p>
                    <p>
                        Campus Management is dedicated to helping your students
                        succeed. Our flexible, cost-effective platform enables
                        you to meet your students’ evolving needs with ongoing
                        innovation and responsiveness. We support your Digital
                        Transformation with proven solutions to automate
                        processes, deliver actionable analytics, and provide an
                        unparalleled user experience.
                    </p>
                    <p>
                        Visit booth #16 to see why Edge selected Campus
                        Management as a top SIS vendor and why so many
                        institutions have chosen CampusNexus at their
                        cloud-platform.
                    </p>
                </div>
                <div class="right">
                    <a
                        href="https://njedge.net/"
                        target="_blank"
                        rel="noopener"
                    >
                        <img
                            class="max-width-100"
                            src="/images/pages/news-and-events/Edge-logo.jpg"
                            alt="Edge"
                            loading="lazy"
                            inline-img-dims
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    “Campus Management has more bundled into their product than
                    any other vendor, while providing valuable analytics tools
                    for every institution.”
                </p>
                <cite class="testimonial__author--v2 c-black ht--p--14-075 i">
                    <div class="testimonial__author__name--v2 b">
                        Dr. Edward Chapel,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Senior Vice President and Chief Operating Officer,
                    </div>
                    <div class="testimonial__author__company--v2">Edge</div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                EDGE Recognizes Campus Management as a Top SIS Vendor for New
                Jersey Higher Ed
            </h2>
            <p class="ht--p--16-22">
                Edge recently conducted a comprehensive analysis of available
                SaaS (Software as a Service) ERP systems to take a closer look
                at the student information system (SIS) and constituent
                relationship management (CRM) functionality and examine whether
                the technology was serving the educational and administrative
                needs of students in New Jersey. Campus Management was a winning
                solution!
            </p>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/eHmA9ONCupE?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Imagine Helping Your Students to Look Beyond Graduation
                    </h2>
                    <p class="b c-grey--800">
                        CampusNexus Occupation Insight Delivers that Today.
                    </p>
                    <p>
                        Learn how CampusNexus Occupation Insight leverages
                        machine learning to predict needs, prescribe actions and
                        influence outcomes, while assisting your students to
                        plan their futures beyond the classroom.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/student-success-through-workforce-analytics/"
                                target="_blank"
                                >Learn More
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/N76SA3TtG9U?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Video"
                        ></iframe>
                    </div>
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Imagine an Intelligent Engagement Platform built on the
                        Microsoft Technologies
                    </h2>
                    <p class="b c-grey--800">
                        CampusNexus Engage is the Future of CRM Solutions.
                    </p>
                    <p>
                        Learn about CampusNexus Engage and a higher education
                        digital assistant for CampusNexus solutions, built with
                        Microsoft artificial intelligence and machine learning
                        services.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="/products/crm-for-higher-education/"
                                target="_blank"
                                >Learn More
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                View these On-Demand Webinars
            </h2>
            <p>
                Join industry thought leaders, peer institutions, and Campus
                Management subject matter experts as they explore the latest
                innovations and best practices for transforming academic
                delivery, student success and operational efficiency.
            </p>
            <div class="box-v4 box-v4--1-1 upcoming-webinar-row">
                <div class="upcoming-webinar--row__content left mb1">
                    <p class="upcoming-webinar__date">On-Demand Webinar</p>
                    <div
                        class="upcoming-webinar__img"
                        style="
                            background-image: url(/images/pages/higher-education-resources/webcasts/upcoming-webinars-engagement-742x273.jpg);
                        "
                    ></div>
                    <h3
                        class="ht--s--22 c upcoming-webinar__title c-theme-primary-dark"
                    >
                        Go Beyond CRM with CampusNexus Engage
                    </h3>
                    <p class="ht--p--14-075 upcoming-webinar__text">
                        Join Campus Management’s VP of Product Management Dr.
                        Jennifer Beyer as she introduces a next-generation CRM
                        system of intelligence designed to help drive successful
                        engagement, retention and student outcomes.
                    </p>
                    <a
                        class="pill-button c block bottom mb1"
                        href="https://info.campusmanagement.com/going-beyond-crm-to-improve-student-engagement"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="upcoming-webinar--row__content right mb1">
                    <p class="upcoming-webinar__date">On-Demand Webinar</p>
                    <div
                        class="upcoming-webinar__img"
                        style="
                            background-image: url(/images/pages/higher-education-resources/webcasts/upcoming-webinars-occupation-insight-742x273.jpg);
                        "
                    ></div>
                    <h3
                        class="ht--s--22 c upcoming-webinar__title c-theme-primary-dark"
                    >
                        Transforming Student Success with Occupation Insight
                    </h3>
                    <p class="ht--p--14-075 upcoming-webinar__text">
                        Discover the benefits of CampusNexus Occupation Insight,
                        a powerful new tool for aligning student skills with the
                        needs of the workforce.
                    </p>
                    <a
                        class="pill-button c block bottom mb1"
                        href="https://info.campusmanagement.com/transforming-student-outcomes-with-occupation-insight"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
            </div>
            <div class="box-v4 box-v4--1-1 upcoming-webinar-row">
                <div class="upcoming-webinar--row__content">
                    <p class="upcoming-webinar__date">On-Demand Webinar</p>
                    <div
                        class="upcoming-webinar__img"
                        style="
                            background-image: url(/images/pages/higher-education-resources/webcasts/upcoming-webinars-machine-learning-742x273.jpg);
                        "
                    ></div>
                    <h3
                        class="ht--s--22 c upcoming-webinar__title c-theme-primary-dark"
                    >
                        Higher Ed + Machine Learning: Shaping the Future
                    </h3>
                    <p class="ht--p--14-075 upcoming-webinar__text">
                        Discover how machine learning can help your institution
                        adapt to changes in student performance to provide the
                        right guidance and advice at the right time.
                    </p>
                    <a
                        class="pill-button c block bottom mb1"
                        href="https://info.campusmanagement.com/machine-learning-in-higher-education"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
                <div class="upcoming-webinar--row__content">
                    <p class="upcoming-webinar__date">On-Demand Webinar</p>
                    <div
                        class="upcoming-webinar__img"
                        style="
                            background-image: url(/images/pages/higher-education-resources/webcasts/upcoming-webinars-transforming-BI-742x273.jpg);
                        "
                    ></div>
                    <h3
                        class="ht--s--22 c upcoming-webinar__title c-theme-primary-dark"
                    >
                        Transforming Business Intelligence with Microsoft Power
                        BI
                    </h3>
                    <p class="ht--p--14-075 upcoming-webinar__text">
                        Discover how to gain greater insight into student and
                        operational performance with Microsoft Power BI and
                        CampusNexus Student.
                    </p>
                    <a
                        class="pill-button c block bottom mb1"
                        href="https://info.campusmanagement.com/transforming-business-intelligence-with-microsoft-power-bi"
                        target="_blank"
                        rel="noopener"
                        >View
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--2-1">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/demos/solution-sheets.png"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Resources
                    </h2>
                    <ul class="">
                        <li>
                            <a
                                href="/docs/product-sheets/cmc/en-us/Why-Campus-Management.pdf"
                                target="_blank"
                                >Why Campus Management</a
                            >
                        </li>
                        <li>
                            <a
                                href="/docs/product-sheets/cmc/en-us/CampusNexus-Full-Suite-Solution-Sheet-Campus-Management.pdf"
                                target="_blank"
                                >CampusNexus Full Suite</a
                            >
                        </li>
                        <li>
                            <a
                                href="/docs/product-sheets/cmc/en-us/Occupation-Insight-Solution-Sheet-Campus-Management.pdf"
                                target="_blank"
                                >CampusNexus Occupation Insight</a
                            >
                        </li>
                        <li>
                            <a
                                href="/docs/product-sheets/cmc/en-us/CampusNexus-Engage-Solution-Sheet-Campus-Management.pdf"
                                target="_blank"
                                >CampusNexus Engage</a
                            >
                        </li>
                        <li>
                            <a
                                href="/higher-education-resources/case-studies/"
                                target="_blank"
                                >Case Studies</a
                            >
                        </li>
                        <li>
                            <a
                                href="/news-and-events/press-releases/Consortium-of-5-Oregon-community-colleges-selects-Campus-Management-suite-of-solutions-to-transform-student-experience/"
                                target="_blank"
                                >Oregon Community College consortium selects
                                Campus Management</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</article>

{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
