---
# <!-- @formatter:off -->
title: RMCAD Goes 100% Online with Cloud-Based Student Information System
label: Rocky Mountain College of Art + Design
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/RMCAD-page-bkg-blue-2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/RMCAD-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Rocky Mountain College of Art + Design keeps students, faculty
                and staff connected as on-campus operations come to a halt amid
                COVID-19 pandemic.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    College of Art &#43; Design
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campus
                </dt>
                <dd>
                    Denver, Colorado
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    1,500+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus Student
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <p class="ht--s--36">
                “By the time the pandemic hit, the platform was already live and
                we could move everyone online very quickly as on-campus
                operations came to a halt."
            </p>
            <div
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Matthew Weitzel,
                </div>
                <div class="testimonial__author__title--v2">
                    IT Project Manager,
                </div>
                <div class="testimonial__author__company--v2">
                    Rocky Mountain College of Art + Design
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Cloud-Based SIS Enables RMCAD to Respond Rapidly
            </h2>
            <div class="box-v4 box-v4--auto">
                <div>
                    <h3 class="ht--s--22">
                        Challenges and Goals
                    </h3>
                    <ul class="list--normal">
                        <li>
                            Maintain academics, operations and student
                            engagement amid COVID-19 pandemic
                        </li>
                        <li>
                            Extend full campus experience to constituents’
                            smartphones/mobile devices
                        </li>
                        <li>
                            Ensure data integrity during migration to cloud
                            platform
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="ht--s--22">
                        Solutions
                    </h3>
                    <ul class="list--normal">
                        <li>
                            CampusNexus Student built on Microsoft Azure Cloud
                        </li>
                        <li>
                            CampusNexus Mobile Portal powered by Ready Education
                        </li>
                        <li>
                            Managed Services from Campus Management
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="ht--s--22">
                        Results
                    </h3>
                    <ul class="list--normal">
                        <li>
                            Was able to pivot to fully online operations when
                            the pandemic hit
                        </li>
                        <li>
                            Students and staff enjoy the full campus experience
                            through their mobile devices
                        </li>
                        <li>
                            Maintained data integrity across departments and
                            systems
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                RMCAD Pivots to Online Operations in Response to Pandemic
            </h2>

            <p class="ht--p--16-22 mb2--sm">
                Since 1963, the college’s mission has been to make RMCAD a
                ‘community of creatives’ that instills in all students a passion
                for creativity, innovation, and a desire for lifelong
                learning—both in the fine arts and applied arts. Offering
                on-campus, online, and hybrid programs, the college was
                nonetheless ready to pivot to fully online operations when the
                pandemic hit.
            </p>
            <img
                class="intro-img"
                src="/images/pages/higher-education-resources/case-studies/RMCAD-cloud-sis-icon-50x50.png"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <h3 class="b ht--p--18 has-intro-img mb0">
                From On Campus to Cloud-Based Student Information System
            </h3>
            <p class="has-intro-img">
                There was a time when RMCAD’s staff and faculty workstations
                were configured to a thick-client platform. But issues started
                to arise when the IT team provisioned new personal laptops for
                them. Moving their systems and people to the cloud became a top
                priority. The system that enabled RMCAD to move to the cloud was
                CampusNexus Student built on Microsoft Azure.
            </p>

            <img
                class="intro-img"
                src="/images/pages/higher-education-resources/case-studies/RMCAD-lms-icon-50x50.png"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <h3 class="b ht--p--18 has-intro-img mb0">
                Delivering All Programs Online Amid the Crisis
            </h3>
            <p class="has-intro-img">
                By the time the pandemic hit, RMCAD’s cloud-based SIS platform,
                CampusNexus Student, was already integrated with the college’s
                LMS. “With integrations already setup, all we had to do was
                build a few more class sections in CampusNexus, fire them off,
                and the LMS picked them up,” said Matthew Weitzel, IT Project
                Manager at RMCAD.
            </p>
            <img
                class="intro-img"
                src="/images/pages/higher-education-resources/case-studies/RMCAD-managed-services-icon-50x50.png"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <h3 class="b ht--p--18 has-intro-img mb0">
                Benefiting from Guidance and Support from Managed Services
            </h3>
            <p class="has-intro-img">
                “I can’t stress enough how critical the Managed Services team is
                to our college. Campus Management’s SIS Service Delivery Manager
                is fully integrated into our environment, ensuring relational
                data integrity across all of our departments,” added Weitzel.
            </p>
            <img
                class="intro-img"
                src="/images/pages/higher-education-resources/case-studies/RMCAD-online-programs-icon-50x50.png"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <h3 class="b ht--p--18 has-intro-img mb0">
                Extending the Full Campus Experience to Constituents’ Mobile
                Devices
            </h3>
            <p class="has-intro-img">
                With a Ready Education Mobile app integrated with the system,
                RMCAD students and staff not only have access to all their apps
                and contacts, they get all the college’s COVID-19 info and
                advisories pushed to their smartphones and other mobile devices.
            </p>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2-5">
            <p class="ht--s--36">
                “Students and staff still have the full campus experience at
                their fingertips.”
            </p>
            <div
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Matthew Weitzel,
                </div>
                <div class="testimonial__author__title--v2">
                    IT Project Manager,
                </div>
                <div class="testimonial__author__company--v2">
                    Rocky Mountain College of Art + Design
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Staying Positive – and Creative
            </h2>
            <p class="ht--p--16-22">
                One of RMCAD’s students tweeted this: “It is so important to
                create right now to keep your mind off of everything that is
                going on in the world and help bring a smile to someone else’s
                face during these trying times.” With the institution and the
                campus experience still at their fingertips, these current and
                future artists can continue to flourish in the best of times,
                2020…and beyond.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/RNCAD-sign.jpg"
                alt="RMCAD"
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Rocky Mountain College of Art + Design
                </h2>
                <p>
                    Rocky Mountain College of Art + Design in Denver, Colorado,
                    is an innovative, rigorous and community-oriented global
                    learning environment that inspires passion for critical
                    thinking, preparing learners to be forces of change in their
                    industries, communities and the world.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student
                    </span>
                    <span class="block c-box category"
                        >Solution Information</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/products/student-information-system/"
                    >View
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Rocky Mountain College of Art + Design
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/Rocky-Mountain-College-of-Art-Design-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
