---
# <!-- @formatter:off -->
title: Positivo Provides Greater Access to Education in Brazil’s Evolving Economy
label: Positivo University
meta-description: Positivo aligned strategies for sustainable growth in student enrollment, reduced operational costs, and transformed engagement with candidates and students.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/Positivo-page-bkg-2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Positivo-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Winner of the 2017 Campus Management Excellence Award for
                Strategic Vision.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Private
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campus
                </dt>
                <dd>
                    Campo Camprido, Brazil
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    25,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                University Anticipates Growing Demand and Enrollment
            </h2>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/higher-education-resources/case-studies/Positivo-student.jpg"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
                <div class="left">
                    <p>
                        Established more than three decades ago in the State of
                        Paraná, Brazil, Universidade Positivo (Positivo
                        University) has been recognized for its ability to
                        anticipate and address change through evolving academic
                        models, student engagement methodologies, employee
                        development, and retention practices.
                    </p>
                    <p>
                        Recognizing that a country-wide downturn in the economy
                        was coming, and that funding for students was being
                        severely cut, the institution aligned strategies for
                        sustainable growth in student enrollment, reduced
                        operational costs, and transformed engagement with
                        candidates and students.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Leveraging a Modern CRM Platform to Improve Student Engagement
            </h2>
            <div class="box-v4 box-v4--flex">
                <div class="circle-bg">
                    <p class="c-black ht--p--22-i c i">
                        <span class="c-grey--800 ht--s--50"
                            >25%</span
                        >
                        <span class="b"
                            >Growth in First Year after Implementing CRM</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c-black ht--p--22-i c i">
                        <span class="c-grey--800 ht--s--50"
                            >6.7%</span
                        >
                        <span class="b"
                            >Increase in Enrollment</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c-black ht--p--22-i c i">
                        <span class="c-grey--800 ht--s--50"
                            >3.7%</span
                        >
                        <span class="b"
                            >Increase in Post-Graduate Enrollment</span
                        >
                    </p>
                </div>
            </div>
            <p class="mb0">
                To execute on this strategy, the university implemented
                CampusNexus CRM. As a result, the institution was able to
                restructure and automate email communications to reach 26,000
                students and increase enrollment by 6.7 percent as part of its
                marketing campaign for undergraduate programs. The marketing
                campaign for post-graduate programs resulted in 25,000 leads
                contacted and a 7 percent increase in subscriptions, as well as
                a 3.7 percent increase in enrollment. The institution grew by 25
                percent in the first year after implementing CRM.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/Positivo-excellence-award-winner.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Positivo University Receives 2017 Excellence Award in
                    Strategic Vision
                </h2>
                <p>
                    For the institution’s ability to foresee the economic and
                    education trends, and put a plan in place to achieve growth
                    and engagement around those challenges, Positivo University
                    was awarded the 2017 Excellence Award for Strategic Vision.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4 box-v4--1-3">
            <img
                class="left max-410"
                src="/images/pages/higher-education-resources/case-studies/Positivo-campus.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Positivo University
                </h2>
                <p>
                    Established in 1988, Positivo University (Universidade
                    Positivo) is a private higher education institution located
                    in the state of Paraná, Brazil. With more than 25,000
                    students today, the university offers undergraduate, post
                    graduate, master and PhD programs, as well as MBAs and
                    life-long learning programs.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                    <span class="block c-box category">
                        Success Stories Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Positivo University Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Positivio-University-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
