---
# <!-- @formatter:off -->
title: Automating Higher Education Processes with Workflows
label: Chatham University
meta-description: Learn how Chatham University improved academic scheduling efficiency, reduced data entry errors, and eliminated manual processes.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/Chatham-bkg-blue.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Chatham-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Chatham University wins Campus Management’s 2017 Excellence
                Award in Operational Efficiency for improving business processes
                that positively impact faculty, staff and students.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    4-Year Private
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Shadyside<br />
                    Chatham Eastside
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    2,200+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solutions
                </dt>
                <dd>
                    CampusNexus Student<br />
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Improving Academic Scheduling and Enrollment Management
            </h2>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/higher-education-resources/case-studies/Chatham-student.jpg"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
                <div class="left">
                    <p>
                        Chatham University in Pittsburgh, Pa., had a goal to
                        improve academic scheduling efficiency, reduce data
                        entry errors in enrollment management, and eliminate
                        manual processes.
                    </p>
                    <p>
                        Classes were being assigned to rooms that were too
                        small, with last minute changes to class schedules very
                        difficult to manage and creating a lot of confusion for
                        faculty, student, and administrators.
                    </p>
                    <p>
                        What’s more, administrators would record student calls
                        from the night before in spreadsheets so counselors
                        could back log them into contact manager, creating a
                        manually intensive communication process.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Utilizing the Workflow Component in CampusNexus Student
            </h2>
            <p class="mb2--sm">
                Finding inspiration at the CampusInsight Annual Users
                Conference, the institution sought to utilize the workflow
                component in CampusNexus Student to achieve new efficiencies. As
                a result, Chatham University created and implemented three new
                workflows in CampusNexus.
            </p>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/classroom-size-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Classroom-Size Workflow
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        A classroom-size workflow now helps in the course
                        scheduling process by reducing errors and ensuring that
                        faculty and students are assigned an appropriately sized
                        classroom for their courses.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/enrollment-mgmt-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Enrollment Management Wizard Workflow
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        With an enrollment management wizard workflow,
                        mismatched and inaccurate data entry errors have been
                        eliminated by nearly 100 percent.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/late-payment-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Late Payment Fee Workflow
                    </h3>
                    <p class="mb0 has-intro-img">
                        In the first six months, data cleanup tickets went from
                        109 records to zero new requests. By implementing a late
                        payment fee workflow, the university has cut out two
                        days’ worth of manual processing per month in its
                        Student Accounts office, for an annual time savings of
                        192 hours per year, and a cost savings of over $13,000
                        per year.
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Communicating Effectively with Students
            </h2>
            <p class="ht--p--16-22 mb0">
                With CampusNexus, Chatham University now sets a property with
                campaign targets to pending in student workers’ workspaces, so
                they can make notes about the phone call. If the counselor needs
                to reach out to the caller the worker can write a note to the
                counselor saying the caller has a question.
            </p>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/qx7ro1CdXD4?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="Chatham University"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <blockquote>
                        <div class="testimonial smaller">
                            <p
                                class="c-black ht--p--18 testimonial__quote--smaller"
                            >
                                It's been a really great product for us. It has
                                all the features we need. It really does
                                everything it says it's supposed to do.
                            </p>
                        </div>
                        <footer>
                            <cite
                                class="testimonial__author--v2 c-black ht--p--14-075 i"
                                ><div class="testimonial__author__name--v2 b">
                                    Jenna Godfrey,
                                </div>
                                <div class="testimonial__author__title--v2">
                                    Manager of Administrative Systems,
                                </div>
                                <div class="testimonial__author__company--v2">
                                    Chatham University
                                </div></cite
                            >
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/chatham-webinar.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Chatham University Transforms Operational Efficiency
                    </h2>

                    <p>
                        Watch the on-demand webinar and learn more about the
                        worfklows that Chatham University created in CampusNexus
                        to improve enrollment management.
                    </p>
                    <ul class="pill-list pill-list--centered">
                        <li class="pill-list__item">
                            <a
                                class="pill-button"
                                href="https://www.youtube.com/watch?v=1ewJUpov4Rk&feature=youtu.be"
                                target="_blank"
                                rel="noopener"
                                >Watch Webinar
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4 box-v4--1-2">
            <img
                class="left max-410"
                src="/images/pages/higher-education-resources/case-studies/Chatham-excellence-award.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Chatham University Receives 2017 Excellence Award in
                    Operational Efficiency
                </h2>
                <p>
                    For improving business processes that positively impact
                    faculty, staff, and students, Campus Management
                    congratulates Chatham University on winning the 2017
                    Excellence Award in Operational Efficiency.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/Chatham-building.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Chatham University
                </h2>
                <p>
                    Founded in 1869, Chatham University in Pittsburgh, Pa., is a
                    fully co-educational institution with an enrollment of over
                    2,200 students and more than 60 undergraduate and graduate
                    programs.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                    <span class="block c-box category">
                        Success Stories Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Chatham University Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Chatham-University-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
