---
# <!-- @formatter:off -->
title: Career & Technical College Automates Financial Aid for 10,000 Students Across 22 Campuses
label: ECPI University
meta-description: Learn how ECPI University transitioned from 100% manual processing of financial aid to 100% automated processes with CampusNexus Student.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/ECPI-University-bkg-blue.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/ECPI-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Winner of the 2019 Campus Management Excellence Award for Vision
                & Innovation.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Career & Technical College
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    <span class="b">Main:</span> Virginia Beach, Va.<br />
                    <span class="b">Additional:</span> Florida, North Carolina,
                    South Carolina, Texas
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    10,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus Student
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Finding a Modern, Flexible Higher Ed Platform
            </h2>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/higher-education-resources/case-studies/ECPI-University-students.jpg"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
                <div class="left">
                    <p>
                        ECPI University, a leading career and technical college
                        based in Virginia Beach, Virginia, has distinguished
                        itself by providing programs that serve a wide diversity
                        of students, from traditional students to adult learners
                        and military veterans.
                    </p>
                    <p>
                        Offering flexible terms, rolling starts and online
                        programs, the institution needed a next-generation
                        financial aid system that could automate and accelerate
                        financial aid packaging for traditional and
                        nontraditional terms in an increasingly complex and
                        growing regulatory environment.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Automating Financial Aid for Students and Staff
            </h2>
            <p class="ht--p--16-22 mb0">
                ECPI University wanted to modernize its financial aid processes.
                Administrators were manually reviewing financial aid
                applications line by line for accuracy, which delayed processing
                and resolution of issues for students. From an accounting
                standpoint, with more than 200 batch processes to post every
                week, the institution needed to improve workload efficiency and
                reconciliation process.
            </p>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2">
            <p class="ht--s--36 mb2--sm">
                “Financial aid automation is a way to be more timely without
                compromising accuracy."
            </p>
            <cite
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Kim Black,
                </div>
                <div class="testimonial__author__title--v2">
                    Quality Control Specialist,
                </div>
                <div class="testimonial__author__company--v2">
                    ECPI University
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Eliminating Manual Processes and Focusing More on Students
            </h2>
            <div class="box-v4 box-v4--1-1 mb1">
                <div class="left">
                    <p class="ht--p--16-1_125">
                        ECPI University implemented financial aid automation
                        processes with CampusNexus Student for its 22 campuses,
                        including the main campus in Virginia Beach, Va., and
                        locations in Florida, North Carolina, South Carolina,
                        and Texas.
                    </p>
                </div>
                <div class="right">
                    <p>
                        Since that time, ECPI University has transitioned from
                        100 percent manual processing of financial aid to 100
                        percent automated processes, enabling administrators to
                        focus more on direct student engagement and exceptions
                        resolution. In the seven months following
                        implementation, the institution was able to:
                    </p>
                </div>
            </div>
            <div class="box-v4 box-v4--flex">
                <div class="circle-bg">
                    <p class="c">
                        <span class="ht--s--20 b c-theme-primary-dark"
                            >Transmit</span
                        >
                        <span
                            class="c-theme-tertiary ht--s--70 i quote-highlight mb0-5"
                            >121,919</span
                        >
                        <span class="ht--p--14-075 b c-grey--800"
                            >Student Records Without<br />Any Failure</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c">
                        <span class="ht--s--20 b c-theme-primary-dark"
                            >Resolve</span
                        >
                        <span
                            class="c-theme-tertiary ht--s--70 i quote-highlight mb0-5"
                            >59,000</span
                        >
                        <span class="ht--p--14-075 b c-grey--800"
                            >Exceptions Automatically<br />Over 7 Months</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c">
                        <span class="ht--s--20 b c-theme-primary-dark"
                            >Achieve</span
                        >
                        <span
                            class="c-theme-tertiary ht--s--70 i quote-highlight mb0-5"
                            >50%</span
                        >
                        <span class="ht--p--14-075 b c-grey--800"
                            >Reduction in<br />File transfer Times</span
                        >
                    </p>
                </div>
            </div>
            <h2 class="c ht--s--22 c-grey--1000 mb0">
                For ECPI University and its students, this will result in an
                average of nearly 3,000 files per year and 200,000 student
                records being processed automatically.
            </h2>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/ECPI-University-excellence-award.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    ECPI University Receives 2019 Excellence Award for Vision &
                    Innovation
                </h2>
                <p>
                    In recognition of ECPI University’s successful
                    transformation of financial aid processes in support of its
                    mission to serve a wide diversity of students, Campus
                    Management awarded the university with 2019 Excellence Award
                    in Vision & Innovation.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/ECPI-University-building.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About ECPI University
                </h2>
                <p>
                    ECPI University was founded in Norfolk, Virginia in 1966.
                    Initially formed as an institution offering accelerated
                    education in computer science and programming, ECPI
                    University later expanded its offerings to include
                    Electronics Engineering Technology, Health Sciences,
                    Nursing, and Culinary Arts. ECPI University’s students take
                    two courses per session through its year-round curriculum
                    with a 30-month Bachelor's Degree and 15-month Associate's
                    Degree.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                    <span class="block c-box category">
                        Success Stories Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        ECPI University Case Study Download
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/ECPI-University-2019-Excellence-Award-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
