---
# <!-- @formatter:off -->
title: University Empowers Students and Enrollment Counselors with CRM to Drive Admissions Success
label: Mobile University
meta-description: Learn how the University of Mobile automated and improved outbound communications with CRM as enrollment surged.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/mobile-bkg-blue.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/mobile-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    4-Year Private
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campus
                </dt>
                <dd>
                    Mobile, Alabama
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    1,600+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    Radius by Campus Management
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Improving Student Engagement as Institution Began to Grow
            </h2>
            <p class="ht--p--16-22 mb0">
                As enrollment surged at University of Mobile, following up with
                prospective student and applicants and building relationships
                with them through manual, paper-intensive processes became more
                difficult for enrollment counselors. The goal was to automate
                and improve outbound communications.
            </p>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Evaluating Higher Ed CRM Solutions to Drive Student Engagement
            </h2>
            <div class="box-v4">
                <img
                    class="right max-410"
                    src="/images/pages/higher-education-resources/case-studies/mobile-drive-engagement.jpg"
                    alt="Drive Student Engagement"
                    loading="lazy"
                    inline-img-dims
                />
                <div class="left">
                    <p>
                        After researching CRM platforms, University of Mobile
                        chose Radius by Campus Management because of its
                        user-friendly interface, ease of access, and the ability
                        to transform from paper-based to digital admissions
                        processes and student engagement.
                    </p>

                    <ul class="list--normal">
                        <li>Moved from a paper office to a digital office</li>
                        <li>Empowered staff to make decisions</li>
                        <li>Able to access to documents on the road</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Empowering Staff and Gaining Visibility into Student Needs
            </h2>
            <div class="box-v4 box-v4--1-2">
                <img
                    class="left max-410"
                    src="/images/pages/higher-education-resources/case-studies/mobile-empower-staff.jpg"
                    alt="Empowering Staff"
                    loading="lazy"
                    inline-img-dims
                />
                <div class="right">
                    <p>
                        By moving from paper to digital, instead of spending a
                        day importing and processing applications, staff members
                        can now develop skills in other areas. Moving to a new
                        solution created transparency for management and within
                        the application process. Before using Radius by Campus
                        Management, the Assistant Director or Director had to
                        physically review and make decisions on all the files.
                    </p>
                    <p>
                        The application committee uses the decision module to
                        create unique views on their dashboards within the
                        system and to sign off on a decision. Enrollment
                        counselors can access documents at any time, providing
                        the mobility they need. An admissions decision can now
                        be made on the road. Other departments also see the
                        changes in efficiency, resulting in increased
                        campus-wide buy-in.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2-5">
            <p class="ht--s--36 mb2--sm">
                “We ran like a steam engine before, but it was constantly uphill
                and we were hoping for the right direction. This is like a major
                locomotive on a fast train with accurate GPS.”
            </p>
            <cite
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Marie Batson,
                </div>
                <div class="testimonial__author__title--v2">
                    Associate Vice President of Enrollment Services,
                </div>
                <div class="testimonial__author__company--v2">
                    University of Mobile
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/mobile-sign.jpg"
                alt="University of Mobile"
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About University of Mobile
                </h2>
                <p>
                    The University of Mobile in Alabama is a private Christian
                    institution serving 1,600 students and offering more than 40
                    areas of study, with 89 percent of the undergraduate cohort
                    enrolled full time. The institution provides liberal arts
                    and professional programs to renew minds through
                    intellectual and spiritual development for the fulfilling of
                    one’s professional calling.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Radius by Campus Management
                    </span>
                    <span class="block c-box category">
                        Solution Sheet Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/product-sheets/cmc/en-us/Radius-Data-Sheet-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        University of Mobile Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/University-of-Mobile-Case-Study-Radius-by-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
