---
# <!-- @formatter:off -->
title: Gain Greater Visibility and Improved Student Engagement
label: The University of Texas Rio Grande Valley
meta-description: Discover how this leading research institution gained greater visibility and improved engagement across the entire student lifecycle.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/UTRGV-case-study-bkg2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/UTRGV-410x730-bkg-blue.jpg
# alt--en-in: /en-in/higher-education-resources/case-studies/gain-greater-visibility-and-improved-student-engagement/
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Discover how this leading research institution gained greater
                visibility and improved engagement across the entire student
                lifecycle.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    4-Year Public
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Boca Chica Beach, Brownsville, Edinburg, Harlingen, Mcallen,
                    Port Isabel, Rio Grande City, South Padre Island
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    27,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2-5">
            <p class="ht--s--36 mb2--sm">
                “A good CRM solution will enable you to better identify and
                target students in the community who are likely to succeed.”
            </p>
            <cite class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">
                    Dr. Maggie Hinojosa,
                </div>
                <div class="testimonial__author__title--v2">
                    Vice President of Strategic Enrollment Management,
                </div>
                <div class="testimonial__author__company--v2">
                    The University of Texas Rio Grande Valley
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Recruiting and Enrolling Students More Strategically
            </h2>
            <div class="box-v4 box-v4--1-1">
                <img
                    class="left max-410"
                    src="/images/pages/higher-education-resources/case-studies/UTRGV-sign.jpg"
                    alt=""
                    loading="lazy"
                    inline-img-dims
                />
                <div class="right">
                    <p>
                        Located in one of the fastest growing areas of the
                        country, UTRGV has seen an increase in competition from
                        not only regional and state flagship institutions, but
                        out-of-state institutions, including Ivy League schools.
                    </p>
                </div>
            </div>
            <div class="testimonial">
                <p class="testimonial__quote">
                    We always want to keep top talent in the Rio Grande Valley,
                    because where students end up going to college is more often
                    where they end up staying the rest of their lives.
                    Enrollment may be down nationally, but our region is
                    growing, so we face a lot of competition from out-of-state
                    institutions trying to sustain or increase their levels of
                    high-caliber students by recruiting here.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">
                        Dr. Maggie Hinojosa,
                    </div>
                    <div class="testimonial__author__title">
                        Vice President of Strategic Enrollment Management,
                    </div>
                    <div class="testimonial__author__company">
                        The University of Texas Rio Grande Valley
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Extending CRM to Recruit More Strategically
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        Wanting to strategically recruit and engage with
                        students, Hinojosa and her colleagues saw the launch of
                        UTRGV as an opportunity to take another look at their
                        CRM platform and best practices.
                    </p>
                </div>
                <div class="right">
                    <p>
                        What UTRGV and Hinojosa envisioned was an enterprise CRM
                        solution that could provide visibility through the
                        entire student lifecycle, one that could extend beyond
                        the recruitment team to include the registrar’s office,
                        financial aid office, and faculty.
                    </p>
                </div>
            </div>
            <div class="testimonial">
                <p class="testimonial__quote">
                    We were sending the same recruitment piece to every prospect
                    when we needed to segment that population and be more
                    strategic with that population. The CRM we were using at the
                    time couldn’t provide this level of visibility or
                    engagement.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">
                        Dr. Maggie Hinojosa,
                    </div>
                    <div class="testimonial__author__title">
                        Vice President of Strategic Enrollment Management,
                    </div>
                    <div class="testimonial__author__company">
                        The University of Texas Rio Grande Valley
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Selecting a CRM for Higher Education
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        In its search for a CRM solutions provider, UTRGV sought
                        a vendor that could become a partner in its mission.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            We weren’t looking for a vendor to tell us what to
                            do. I wanted a vendor that could support the
                            direction we were heading as an institution based on
                            our strategic plan, with some flexibility built into
                            the implementation.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Dr. Maggie Hinojosa,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Strategic Enrollment
                                Management,
                            </div>
                            <div class="testimonial__author__company">
                                The University of Texas Rio Grande Valley
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <p>
                        After assessing several vendor offerings, UTRGV
                        purchased Campus Management’s CampusNexus CRM to
                        facilitate this broader engagement and collaboration
                        around student success.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            Our partnership with Campus Management includes a
                            multi-year managed services component in support of
                            our strategic plan.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Dr. Maggie Hinojosa,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Strategic Enrollment
                                Management,
                            </div>
                            <div class="testimonial__author__company">
                                The University of Texas Rio Grande Valley
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2-5">
            <p class="ht--s--36 mb2--sm">
                "CampusNexus CRM enables us to capture metrics like this that
                are unique to our institution and community and build campaigns
                around them.”
            </p>
            <cite class="testimonial__author--v2 c-black ht--p--14-075 i">
                <div class="testimonial__author__name--v2 b">
                    Dr. Maggie Hinojosa,
                </div>
                <div class="testimonial__author__title--v2">
                    Vice President of Strategic Enrollment Management,
                </div>
                <div class="testimonial__author__company--v2">
                    The University of Texas Rio Grande Valley
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Driving Enrollment Management and Student Success
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        Using CampusNexus CRM, UTRGV now has greater insight
                        from data that is unique to the institution versus
                        national statistics and trends alone. For example, while
                        national data indicate that students from lower
                        socioeconomic backgrounds often underperform compared to
                        students from higher socioeconomic backgrounds across
                        the country, the same is not true for UTRGV.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            We have a first-year retention rate of almost 80%,
                            which is 5 to 6 percent higher than both the
                            national and state rate.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Dr. Maggie Hinojosa,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Strategic Enrollment
                                Management,
                            </div>
                            <div class="testimonial__author__company">
                                The University of Texas Rio Grande Valley
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <p>
                        Hinojosa also sees CampusNexus CRM as a way for UTRGV to
                        improve engagement with alumni, and to keep them
                        involved and supporting the institution, its students
                        and community.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            Our inclusive and diverse population of students
                            will change the economy in the Rio Grande Valley and
                            around the world. Continuing to be a part of that
                            change and engaging with alumni is extremely
                            important to our institution.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Dr. Maggie Hinojosa,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Strategic Enrollment
                                Management,
                            </div>
                            <div class="testimonial__author__company">
                                The University of Texas Rio Grande Valley
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/UTRGV-building.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About The University of Texas Rio Grande Valley
                </h2>
                <p>
                    The University of Texas Rio Grande Valley (UTRGV) was
                    created by the Texas Legislature in 2013 as the first major
                    public university of the 21st century in Texas. This
                    transformative initiative provided the opportunity to expand
                    educational opportunities in the Rio Grande Valley,
                    including a new School of Medicine.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Engage
                    </span>
                    <span class="block c-box category">
                        Solution Sheet Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/product-sheets/cmc/en-us/CampusNexus-Engage-Solution-Sheet-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        The University of Texas Rio Grande Valley Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Texas-Rio-Grande-Valley-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
