---
# <!-- @formatter:off -->
title: University Improves Student Recruitment and Retention with New Student Information System
label: Cleveland University-Kansas City
meta-description: Cleveland University-Kansas City implemented CampusNexus Student, a modern SIS that includes financial aid automation, student self-service, and workflows.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/cleveland-page-bkg2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Cleveland-410x730-bkg-blue.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Winner of the 2017 Campus Management Excellence Award for
                Student Success.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Chiropractic and Health Sciences
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campus
                </dt>
                <dd>
                    Overland Park, Kansas
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Enrollment
                </dt>
                <dd>
                    500+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus Student
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Improving Student Engagement and Services
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/cleveland-university-student-engagement.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        Cleveland University-Kansas City offers a wider range of
                        health care degrees, and is one of the oldest and most
                        respected nonprofit chiropractic colleges in the nation.
                    </p>
                    <p>
                        In an increasingly competitive higher educational
                        landscape, the institution’s goal was to speed and
                        enhance engagement with prospects and students, without
                        having to add more staff. This would require a new
                        student information system that could scale and automate
                        processes, as well as empower students through more
                        self-service functionality.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Automating Financial Aid Packaging and Admissions Campaigns
            </h2>
            <p class="mb2--sm">
                To meet this goal, the institution implemented
                <a href="/products/student-information-system/"
                    >CampusNexus Student</a
                >, a modern student information system that includes financial
                aid automation, student self-service, and workflow and forms
                builder. Since that time, Cleveland University has raised the
                bar on student services, resulting in positive and measurable
                benefits.
            </p>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/targeted-email-campaign-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />

                    <p class="mb2--sm has-intro-img">
                        Created highly targeted admissions campaigns, improving
                        their email campaign response rate by 1,000 percent
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/workflows-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <p class="mb2--sm has-intro-img">
                        Improved financial aid processing accuracy by 35 percent
                        and automated more than 25 percent of student accounts
                        processing
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/student-self-service-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <p class="mb2--sm has-intro-img">
                        Provides 75 percent more student self-service options
                        for fulfillment of student requirements, which empowers
                        students to complete tasks at their convenience
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/fa-processing-accuracy-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <p class="mb0 has-intro-img">
                        Improved financial aid processing accuracy by 35 percent
                        and automated more than 25 percent of student accounts
                        processing
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="left">
                <h2 class="c ht--s--28">
                    Empowering Students Through Self-Service Capabilities
                </h2>
                <p>
                    Students are able to complete their orientations,
                    registrations, and matriculation agreements online, reducing
                    the time delays associated with paper processes.
                    Notifications for students to complete forms and other
                    processes are now automatically triggered based on missing
                    information, making it easier for students to stay on track.
                </p>
            </div>
            <div class="right">
                <h2 class="c ht--s--28">
                    Improving Student Retention Through the Use of Workflows
                </h2>
                <p>
                    Cleveland University has improved student retention through
                    the use of workflows that notify students of absence levels
                    throughout the term, reducing the number of automatic
                    failures based on attendance.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/cleveland-university-2017-excellence-award-winner.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        University receives 2017 Excellence Award for Student
                        Success
                    </h2>
                    <p>
                        Based on its innovative use of technology and the
                        results achieved, Cleveland University-Kansas City was
                        awarded Campus Management’s 2017 Excellence Award for
                        Student Success.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/cleveland-university-sign.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        About Cleveland University-Kansas City
                    </h2>

                    <p>
                        Cleveland University-Kansas City began as a chiropractic
                        college in 1922, its roots planted by pioneers in the
                        profession. The institution is proud to be recognized as
                        one of the oldest nonprofit chiropractic colleges in the
                        nation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Student
                    </span>
                    <span class="block c-box category"
                        >Solution Sheet</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/product-sheets/cmc/en-us/CampusNexusStudent-Product-Sheet-Campus-Management.pdf"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Cleveland University-Kansas City Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Cleveland-University-Kansas-City-Award-Profile.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
