---
# <!-- @formatter:off -->
title: As University Grows, New Automated Billing System Improves Student Accounts Visibility and Management
label: Mercer University
meta-description: Mercer’s IT group implemented web-based programs that provide staff & students the financial information they need in real time.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/Mercer-case-study-bkg-blue.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Mercer-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Winner of the 2019 Campus Management Excellence Award in
                Operational Efficiency.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Private Research
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Atlanta, Macon, Savannah
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    8,600+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus Solutions Suite
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark mb2--sm">
                Growing Higher Ed Institution Needed to Improve Billing
                Processes and Visibility
            </h2>
            <p>
                The Bursar’s Office is the lifeblood of every institution of
                higher learning, but limited staff levels and days of manual
                processes at Mercer University, the oldest private university in
                Georgia, were jeopardizing its ability to bill and receive
                payments on time.
            </p>
            <p>
                Mercer’s goal was to create an automated billing system that
                would improve visibility and timely payment processing in
                student accounts as the institution continued to grow.
            </p>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/qgC-mYs6bHQ?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusInsight 2019"
                        ></iframe>
                    </div>
                </div>

                <div class="right">
                    <p class="ht--s--28">
                        Mercer University Discusses the Challenges Managing
                        Student Billing Manually
                    </p>
                    <p>
                        With their previous billing system, Mercer used to
                        create batches to send bills out to students. With over
                        9,000 students, this had become a very time-intensive
                        process, taking a week or more to accomplish.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="ht--s--28 c c-theme-primary-dark">
                Mercer Leveraged CampusNexus Student to Automate Financial
                Aspects of Student Life
            </h2>
            <p>
                To address this challenge, Mercer’s IT group implemented
                innovative web-based programs designed to provide staff and
                students the financial information they need in real time.
                Through its student information system, CampusNexus Student,
                they were able to automate several functions that are critical
                to managing the financial aspects of student life. They can now
                bill by campus and select on students that need to be billed. As
                importantly, they no longer experience timing-out issues. The
                before-and-after results across billing functions:
            </p>
            <div class="box-v4 box-v4--flex">
                <div>
                    <p class="ht--s--18 c">
                        Managing Student Accounts in Arrears
                    </p>
                    <img
                        class="block c"
                        src="/images/pages/higher-education-resources/case-studies/mercer-student-accounts.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div>
                    <p class="ht--s--18 c">
                        Student Ledger Adjustments
                    </p>
                    <img
                        class="block c"
                        src="/images/pages/higher-education-resources/case-studies/mercer-student-leger.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
                <div>
                    <p class="ht--s--18 c">
                        Ledger Extraction
                    </p>
                    <img
                        class="block c"
                        src="/images/pages/higher-education-resources/case-studies/mercer-leger-extraction.png"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <blockquote class="container container--2">
            <p class="ht--s--36 mb2--sm">
                “With our new billing system, we are able to process over 9,000
                students in 30 minutes.”
            </p>
            <cite
                class="testimonial__author--v2 c-black ht--p--14-075 i"
            >
                <div class="testimonial__author__name--v2 b">
                    Kandy Cook,
                </div>
                <div class="testimonial__author__title--v2">
                    Associate Bursar for Operations,
                </div>
                <div class="testimonial__author__company--v2">
                    Mercer University
                </div>
            </cite>
        </blockquote>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/mercer-ci2019-award.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Mercer University Receives 2019 Excellence Award in
                    Operational Efficiency
                </h2>
                <p>
                    In recognition of Mercer University’s success in providing
                    greater visibility and responsiveness in in its billing
                    processes for over 9,000 students, Campus Management awarded
                    the institution with the 2019 Excellence Award in
                    Operational Efficiency.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/mercer-sign.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Mercer University
                </h2>
                <p>
                    With over 9,000 students enrolled in 12 schools and colleges
                    on campuses in Macon, Atlanta and Savannah; three medical
                    school sites in Macon, Savannah and Columbus; and at three
                    Regional Academic Centers around the state, Mercer is ranked
                    among the top tier of national research universities by U.S.
                    News & World Report. More than 80,000 alumni are making
                    important contributions to their professions and communities
                    throughout Georgia, the Southeast and the world.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                    <span class="block c-box category">
                        Success Stories Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Mercer University Award Profile
                    </span>
                    <span class="block category">
                        Award Profile Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Mercer-University-2019-Excellence-Award-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
