---
# <!-- @formatter:off -->
title: High-Touch, Interactive Experience Sets Institution Apart for Student Engagement
label: Kansas State University
meta-description: Kansas State University, develops a one-of-a-kind family welcome center, complete with interactive technology platform, using CampusNexus CRM.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/KSU-bkg.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/KSU-410x730-bkg-blue.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Kansas State University - Winner of the 2017 Campus Management
                Excellence Award for Innovation.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Public Research University
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campus
                </dt>
                <dd>
                    Manhattan, Kansas
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Enrollment
                </dt>
                <dd>
                    20,000+ Students
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                University Enhances Campus Visits with Interactive Wall Powered
                by CampusNexus CRM
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        For Kansas State University, developing a one-of-a-kind
                        family welcome center, complete with interactive
                        technology platform, would surprise and delight visitors
                        while remaining authentic to the university’s story.
                    </p>
                    <p>
                        After renovating an historic building and implementing
                        CampusNexus, K-State was able to create an interactive
                        technology platform in the newly dedicated Berney Family
                        Welcome Center.
                    </p>
                </div>
                <div class="right">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/sqdZlrnqn7k?rel=0"
                            frameborder="0"
                            allowfullscreen
                            title="CampusInsight 2019"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                CRM Enhances and Personalizes Campus Visits for Student and
                Parents
            </h2>
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/KSU-interactive-wall.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="right">
                    <p>
                        The result was this bright new space, with its massive,
                        intelligent wall that integrates campus visit details
                        (maintained in CampusNexus CRM) and presents this
                        information back to students. Students interacting with
                        the wall’s touchscreen can forge a digital path that
                        reflects their unique interests and questions.
                    </p>
                    <p>
                        The video wall engagement is then extended to their
                        mobile devices, which they can refer to for a schedule,
                        map, or details about academic interests.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/KSU-2017-Excellence-Award-winners.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        Kansas State University Receives 2017 Excellence Award
                        for Innovation
                    </h2>
                    <p>
                        For transforming the visitor experience through its
                        creative use of technology, K-State won Campus
                        Management’s 2017 Excellence Award for Innovation.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/KSU-sign.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        About Kansas State University
                    </h2>
                    <p>
                        Established in 1863, Kansas State University is a public
                        research university located in Manhattan, Kansas that
                        has evolved into a modern institution committed to
                        quality programs, and responsive to a rapidly changing
                        world and the aspirations of an increasingly diverse
                        society.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        2017 Excellence Award Winners
                    </span>
                    <span class="block c-box category">
                        Award Profile
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Kansas State University
                    </span>
                    <span class="block category"
                        >Case Study</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Kansas-State-University-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        CRM for Higher Education
                    </span>
                    <span class="block category">
                        CampusNexus Engage
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/products/crm-for-higher-education/"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
