---
# <!-- @formatter:off -->
title: Faith-Based Institution Maximizes Enrollment and Student Services
label: Lancaster Bible College
meta-description: Explore how this faith-based institution managed 100 % growth in 3 year timeframe and leverages workforce analytics to drive career success for students.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/LBC-case-study-bkg.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/LBC-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
    - href: /styles/pages/has-youtube-player.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Explore how this faith-based institution in Lancaster,
                Pennsylvania managed 100 percent growth in a three-year
                timeframe and leverages workforce analytics to drive career
                success for students.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Faith-Based
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Lancaster, Pa.<br />
                    Memphis, Tenn.<br />
                    Philadelphia, Pa.<br />
                    Washington, DC
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    2,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solutions
                </dt>
                <dd>
                    CampusNexus Student<br />
                    CampusNexus CRM<br />
                    CampusNexus Occupation Insight
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                From Growing Pains to Maximizing Enrollment and Student Services
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/LBC-student-study-photo.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        How does a small, faith-based institution in Lancaster,
                        Pennsylvania manage 100 percent growth in a three-year
                        timeframe? Leading up to this accelerated growth phase,
                        Lancaster Bible College (LBC) hit its capacity for how
                        many students it could engage effectively using its
                        existing infrastructure, processes, and staffing levels.
                    </p>
                    <p>
                        As LBC looked to expand to additional locations
                        including Memphis, Philadelphia, and Washington D.C., as
                        well as rapidly grow its online programs, it became
                        clear that it would need a new technology foundation.
                        With a scalable, next-generation student information
                        system and CRM solution, LBC would be able to continue
                        deploying its platform as new locations and students
                        were added and increase engagement capacity and
                        effectiveness at the same time, all without having to
                        increase staff.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    “With the increased demand and labor intensity, we were
                    potentially missing important opportunities to be the
                    relational hero to our prospects and students.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Joshua Beers,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Senior Vice President for Student Experience,
                    </div>
                    <div class="testimonial__author__company--v2">
                        Lancaster Bible College
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2 box-v4 box-v4--1-1">
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    LBC Transforms with a Cloud-Based Student Information System
                    and CRM
                </h2>
                <p>
                    The two key criteria that drove LBC’s selection process were
                    scalability and sustainability. After a review of competing
                    vendor solutions, LBC selected CampusNexus® Student and
                    CampusNexus CRM for its new platform.
                </p>
                <p>
                    After implementing CampusNexus Student and CRM, LBC was able
                    to achieve its vertical integration goal in six months,
                    launch a universal common application for perspective
                    students, implement a paperless application, and use CRM for
                    email admissions. Those processes have resulted in increased
                    consistency, as well as reduced workload, and have enabled
                    staff to become more focused on successful
                    relationship-building.
                </p>
            </div>
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Results Measured by Growth and Student Success
                </h2>
                <ul class="list--normal">
                    <li>
                        Improved student engagement and operational efficiency
                        by integrating processes across departments and programs
                    </li>
                    <li>
                        Doubled enrollment over five years from 1,000 to 2,000
                    </li>
                    <li>
                        Expanded classrooms and online programs to four states
                    </li>
                    <li>
                        Named #3 school in the nation for career preparation by
                        Wall Street Journal
                    </li>
                    <li>
                        #2 in the nation for students recognizing their alma
                        mater as the right choice
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Aligning Academic Programs and Student Skills with Workforce
                Needs
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p class="ht--p--16-1_125">
                        As an innovative institution, LBC was also among the
                        early adopters of CampusNexus Occupation Insight, a tool
                        that integrates current local and national labor force
                        data and workforce analytics into an institution’s
                        platform to align academic programs and student skills
                        with the needs of the workforce.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            I’ve never seen anything as powerful as the
                            potential for Occupation Insight a few clicks in.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Vincent Johnson,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Information Systems,
                            </div>
                            <div class="testimonial__author__company">
                                Lancaster Bible College
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <a href="/products/oi-demo/" target="_blank">
                        <img
                            class="c block max-width-100 mb1"
                            src="/images/pages/higher-education-resources/case-studies/OI-career-explorer.png"
                            alt=""
                            loading="lazy"
                            inline-img-dims
                        />
                    </a>
                    <p class="ht--s--16 c">
                        Select Above to Explore a Live Demo
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Making a Difference in the Life of Every Student
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div
                        class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                    >
                        <iframe
                            data-src="https://www.youtube.com/embed/690kFpT34wo?rel=0"
                            class="lazyload"
                            frameborder="0"
                            allowfullscreen
                            title="Occupation Insight"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            This tool, Occupation Insight, will definitely
                            increase graduation rates.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Dr. Peter Teague EdD,
                            </div>
                            <div class="testimonial__author__title">
                                President,
                            </div>
                            <div class="testimonial__author__company">
                                Lancaster Bible College
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    "The results mean we’re fulfilling our mission in preparing
                    faith-based students for the future, and by extension, also
                    making the right decisions from an IT perspective to meet
                    their needs.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Joshua Beers,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Senior Vice President for Student Experience,
                    </div>
                    <div class="testimonial__author__company--v2">
                        Lancaster Bible College
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Lancaster Bible College Key Challenges
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div
                        class="video-wrapper video-wrapper--16x9 video-wrapper--youtube"
                    >
                        <iframe
                            data-src="https://www.youtube.com/embed/Z5mPctSvnh0?rel=0"
                            class="lazyload"
                            frameborder="0"
                            allowfullscreen
                            title="Key Challenges"
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            With our rapid growth there are two key challenges
                            that drove our strategic selection process. Number
                            one scalability and number two sustainability.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Vince Johnson,
                            </div>
                            <div class="testimonial__author__title">
                                Vice President of Information Systems,
                            </div>
                            <div class="testimonial__author__company">
                                Lancaster Bible College
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/LBC-building.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        About Lancaster Bible College
                    </h2>
                    <p>
                        Lancaster Bible College is a private, coeducational
                        Bible college and seminary and graduate school in
                        Lancaster, Pennsylvania that “exists to educate
                        Christian students to think and live a biblical
                        worldview and to proclaim Christ by serving him in the
                        Church and society.” In addition to its Lancaster
                        location, LBC has six satellite locations that offer
                        accelerated undergraduate, graduate and doctoral degree
                        programs.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Driving Transformational Change in Higher Education
                    </span>
                    <span class="block c-box category"
                        >White Paper</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="https://info.campusmanagement.com/driving-transformational-change-in-higher-ed"
                    target="_blank"
                    rel="noopener"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        How to Transform the Student Journey: Perspectives from
                        2 Leading Institutions
                    </span>
                    <span class="block category"
                        >Client Insight</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="https://info.campusmanagement.com/how-to-transform-student-journey"
                    target="_blank"
                    rel="noopener"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Lancaster Bible College
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/en-us/Lancaster-Bible-College-Case-Study-Campus-Management.pdf"
                    target="_blank"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
