---
# <!-- @formatter:off -->
title: Replacing Legacy Recruitment System to Increase Admissions Success
label: The Pennsylvania State University
meta-description: CampusNexus CRM becomes core strategic tool for World Campus and Undergraduate Admissions at The Pennsylvania State University.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/Penn-State-bkg-blue-2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Penn-State-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                CampusNexus CRM becomes core strategic tool for World Campus and
                Undergraduate Admissions.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    International Research University
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    24 campuses throughout Pa.
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    100,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Uniting Recruitment and Admissions Across Divisions
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/Penn-State-building.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        The goals for Penn State’s Undergraduate Admissions at
                        University Park and other Commonwealth campuses were
                        similar, but each one had a unique way of executing to
                        achieve that goal. Several campuses and colleges were
                        developing their own campaigns.
                    </p>
                    <p>
                        As a result, the department could not definitively track
                        how those units were collectively communicating to a
                        prospective student throughout the admissions process.
                        Eventually, both Undergraduate Admissions and World
                        Campus realized they were facing similar scalability
                        issues.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Implementing a Multi-Department CRM
            </h2>
            <p class="mb2--sm">
                Undergraduate Admissions and World Campus decided on a joint CRM
                implementation, in effect extending CampusNexus CRM across the
                university system for prospects and undergraduate applicants.
            </p>
            <div class="testimonial">
                <p class="testimonial__quote">
                    A joint CRM implementation requires constant coordination
                    between many teams. We needed to get everyone to work
                    together as one team, so we established an executive sponsor
                    team with representatives from both World Campus and
                    Undergraduate Admissions to help reinforce the vision and
                    keep stakeholders informed of the progress of the project.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name b">
                        Kate Tornatore,
                    </div>
                    <div class="testimonial__author__title">
                        CRM Project Manager,
                    </div>
                    <div class="testimonial__author__company">
                        The Pennsylvania State University
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Increasing Collaboration and Productivity
            </h2>
            <p class="ht--p--16-22 mb0">
                Collaboration across the system has improved dramatically. Each
                campus now has an understanding of the communications sent by
                the others, providing insight into how and when Penn State
                communicates with students, and eliminating redundant messaging.
                Recruiters can send highly personalized messages targeting
                thousands of constituents at once.
            </p>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Transforming Recruitment Processes and Results
            </h2>
            <div class="box-v4 box-v4--flex">
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >360°</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >View of Prospect Communications</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="c-grey--800 ht--s--50"
                            >100x</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >More One-on-One Student Interactions</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="c-grey--800 ht--s--50"
                            >1.25m</span
                        >
                        <span class="c-black ht--p--22-i b"
                            >More Constituents with Service</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    "Campus Management helped us evolve to an institution-wide
                    system that we’re confident will continue to support our
                    prospects, students, and growth initiatives.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Kate Tornatore,
                    </div>
                    <div class="testimonial__author__title--v2">
                        CRM Project Manager,
                    </div>
                    <div class="testimonial__author__company--v2">
                        The Pennsylvania State University
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <div class="box-v4">
                <div class="right">
                    <img
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/Penn-State-lion.jpg"
                        alt="Nittany lion"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        About The Pennsylvania State University
                    </h2>

                    <p>
                        With 24 campuses across Pennsylvania, a World Campus for
                        online programs, and more than 100,000 students
                        throughout the world, Penn State is an international
                        research university that educates and improves the
                        well-being of people and communities through integrated
                        programs of teaching, research, and service. As the
                        institution’s enrollment continues to grow, leveraging
                        flexible and scalable technology is critical to timely,
                        personalized, and strategic communications with
                        prospects and students.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        The Pennsylvania State University
                    </span>
                    <span class="block c-box category"
                        >Case Study</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/Penn-State-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        CampusNexus Engage
                    </span>
                    <span class="block category"
                        >Solution Sheet</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="{{url-lang-prefix}}/products/crm-for-higher-education/"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
