---
# <!-- @formatter:off -->
title: Replacing Legacy SIS with Cloud-Based Platform
label: Valley College
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/Valley-College-bkg-blue.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/Valley-College-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Valley College increases enrollment 100% in just 12 months with
                Campus Management’s cloud-based student information system.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Career & Technical College
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Beckley, Martinsburg, Princeton, Online
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    1,100+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus Student
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Valley College Prepares for Enrollment Growth
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/Valley-College-sign.jpg"
                        class="max-width-100 mb1"
                    />
                    <p>
                        Only a few years ago, if students wanted to take an
                        online class at Valley College in West Virginia, they
                        had to apply on campus. That’s right; even though the
                        medium for instruction was the Web, online students had
                        to enroll at the ground school.
                    </p>
                </div>
                <div class="right">
                    <p>
                        For a school with visions of growth, expanding into new
                        territories, and the borderless potential of online
                        education, requiring that students drive to campus just
                        to sign up for an online course wasn’t good for business
                        or students.
                    </p>
                    <p>
                        Matt Jenkins, Vice President at Valley College, recalls
                        this time as an example of why even a small school with
                        100 students needs to consider the scalability and
                        flexibility of its technology from the very beginning.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    “There was no way we could consider expanding without
                    reconsidering our processes and technology.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Matt Jenkins,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Vice President,
                    </div>
                    <div class="testimonial__author__company--v2">
                        Valley College
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Replacing Legacy Student Information System with Cloud-Based
                Platform
            </h2>
            <p class="ht--p--16-22 mb0">
                Six months after purchasing the school system, the new owners
                had a next-generation student information system in place,
                Campus Management’s CampusNexus Student. This provided the
                necessary framework for growth and increased efficiency, and was
                in marked contrast to the way the institution used to operate
                across departments and its three campuses: Beckley, Martinsburg,
                and Princeton.
            </p>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2-5">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Achieving Results Across the Valley College Campus
            </h2>
            <div class="box-v4 box-v4--flex mb1">
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800">4x</span>
                        <span class="ht--p--22-i b c-black"
                            >Enrollment Increase Across Campuses</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >25%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Retention & Placement Rates</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800">3x</span>
                        <span class="ht--p--22-i b c-black"
                            >Growth in Student Financial Aid Packaging with Less
                            Staff</span
                        >
                    </p>
                </div>
            </div>
            <ul>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/improved-recruitment-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Transforming Recruitment and Admissions
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Prior to deploying CampusNexus Student, if an executive
                        wanted to see the results of recruiting efforts across
                        the three campuses, that information would have to be
                        requested from each campus and sent to directors by
                        email with an attached spreadsheet. Today, executives,
                        faculty, and staff have single sign-on access to the
                        student information from any location.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/fa-processes-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Streamlining Financial Aid Processes and Empowering
                        Administrators
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Before implementing CampusNexus Student, financial aid
                        directors had no remote access to financial aid
                        processes. They used local computers to link up with
                        EdConnect and EdExpress to process financial aid. As a
                        result, the school was struggling to package 30 students
                        per campus. Today, Valley College processes over 100
                        students per campus, and spends less time with
                        administrative processes and more time helping students.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/on-demand-academics-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Gaining Visibility into Student Progress and Issues
                        Earlier
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Prior to the new system, Valley College maintained
                        hard-copy progress charts and attendance logs for
                        students. Executives had very little visibility into
                        academic progress. If students or faculty members were
                        having issues, there could be a month or two delay
                        before directors would know about it,” says Jenkins.
                        “Today, the college has real-time visibility into
                        student performance. Administrators and advisors can
                        open the portal and run GPA reports and access them
                        remotely.“
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/flexible-terms-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Enabling Flexible Academic Terms
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        In the past, students would take two or three courses at
                        a time over a six-week period at Valley College. Today,
                        they take one class over a three-week period. For the
                        college, this means that students can start programs and
                        enter the system at almost any time and focus on one
                        course at a time. “The old way of doing things wouldn’t
                        have allowed for this flexibility and accelerated pace,”
                        says Jenkins.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/increased-retention-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Increasing Student Retention and Success
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        The college has also created a unique retention tool in
                        the system. Any staff member can create what’s called a
                        Distressed Student Activity that triggers a message to
                        the executive director and additional campus staff
                        members if a student is having an issue inside or
                        outside of school. “This will prompt an
                        all-hands-on-deck effort to help the student, including
                        the campus director and the lead instructor for that
                        program,” says Jenkins.
                    </p>
                </li>
                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/report-compliance-icon.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Improving Reporting and Compliance
                    </h3>
                    <p class="mb2--sm has-intro-img">
                        Valley College has an intensive regulatory reporting
                        schedule. “If we had an audit coming up, it took us days
                        and weeks to gather all the information. We now have all
                        this information in several clicks: reports on student
                        population, financial aid, finance for IPEDS and FISAP,
                        which we then compile into formats and tools that
                        facilitate that reporting,” says Jenkins.
                    </p>
                </li>

                <li>
                    <img
                        loading="lazy"
                        class="intro-img"
                        src="/images/pages/higher-education-resources/case-studies/classroom-size-icon-50x50.png"
                        alt=""
                        inline-img-dims
                    />
                    <h3 class="ht--p--400 ht--p--18 has-intro-img mb0">
                        Driving Enrollment Growth
                    </h3>
                    <p class="mb0 has-intro-img">
                        In three years, Valley College has nearly quadrupled
                        enrollment across its three campuses and online
                        programs, and while the college has added instructors,
                        it only had to add minimal support staff. “This is a
                        student service business,” says Jenkins. “What makes us
                        successful is having staff spend time with students,
                        admissions, and faculty, instead of researching files,
                        and that’s what CampusNexus Student allows us to do.”
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/Valley-College-building.jpg"
                alt="Valley College"
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Valley College
                </h2>
                <p>
                    Valley College of Technology is a West Virginia Corporation
                    first established in 1979 by Control Data Corporation. The
                    Martinsburg and Beckley campuses were founded in 1983, and
                    the Princeton campus in 1986. Valley College objectives are
                    to provide quality training, utilize the latest technology,
                    provide career-oriented programs, meet the educational needs
                    of the community, meet the professional needs of the
                    community, to help students succeed.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-3 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Valley College
                    </span>
                    <span class="block c-box category"
                        >Case Study</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/Valley-College-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        2017 Excellence Award Winners
                    </span>
                    <span class="block category"
                        >Award Profile</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>

            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Student Information System
                    </span>
                    <span class="block category">
                        CampusNexus Student
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="{{url-lang-prefix}}/products/student-information-system/"
                >
                    Learn More
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
