---
# <!-- @formatter:off -->
title: Public Community College Replaces Legacy System with Cloud-Based Platform to Transform Operational Efficiency
label: Central Arizona College
meta-description: Explore how this public community college replaces legacy system with cloud-based platform to transform operational efficiency.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/CAC-bkg-blue-v2.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/CAC-410x730-bkg-blue.jpg
additional-stylesheets:
    - href: /styles/pages/has-testimonial.css
      inline: false
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Public Community College
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Aravaipa, Maricopa, San Tan, Signal Peak, Superstition
                    Mountain, Casa Grande, Florence
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Students
                </dt>
                <dd>
                    7,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solutions
                </dt>
                <dd>
                    CampusNexus Student<br />
                    CampusNexus CRM<br />
                    CampusNexus Finance, HR & Payroll
                </dd>
            </div>
        </dl>
    </div>
    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <blockquote>
                <p class="ht--s--36 mb2--sm">
                    “Campus management has been committed to our transformation
                    and success throughout the selection and implementation.
                    They’ve made it clear they’re not going to allow us to
                    fail.”
                </p>
                <cite
                    class="testimonial__author--v2 c-black ht--p--14-075 i"
                >
                    <div class="testimonial__author__name--v2 b">
                        Chris Wodka,
                    </div>
                    <div class="testimonial__author__title--v2">
                        Chief Financial Officer,
                    </div>
                    <div class="testimonial__author__company--v2">
                        Central Arizona College
                    </div>
                </cite>
            </blockquote>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Transforming Student Engagement to Meet Enrollment Goals
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <h3 class="ht--s--20">
                        For decades, Central Arizona College had struggled with
                        a legacy student information system that was unable to
                        keep pace with its evolving constituencies and needs.
                    </h3>
                    <p>
                        Chris Wodka, the college’s Chief Financial Officer,
                        traced the issue back to the original implementation.
                        “The system was robust, but the original setup,
                        configurations, support services, and training weren’t
                        aligned with our needs. So over time as we added
                        campuses and looked to the future, it became clear that
                        the current system wasn’t going to work.”
                    </p>
                    <div
                        class="video-wrapper video-wrapper--16x9 video-wrapper--youtube pb1"
                    >
                        <iframe
                            data-src="https://www.youtube.com/embed/dCMombH-ltk?rel=0"
                            frameborder="0"
                            allowfullscreen
                            class="lazyload"
                        ></iframe>
                    </div>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            With our old ERP vendor, we were a small fish in a
                            big pond...
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Cameron Sanders,
                            </div>
                            <div class="testimonial__author__title">
                                Director of Enterprise Application Services,
                            </div>
                            <div class="testimonial__author__company">
                                Central Arizona College
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <h3 class="ht--s--20">
                        Improving student engagement and outcomes
                    </h3>
                    <p>
                        “Our main goal was to be more efficient for our
                        students, faculty, and staff,” says Veronica Duran, Dean
                        of Student Enrollment at CAC. “But with the setup of our
                        legacy system, we were often turning to our IT
                        department to create the workarounds and reports we
                        needed to gain greater transparency and efficiencies.”
                    </p>
                    <h3 class="ht--s--20">
                        Enabling new academic delivery models like
                        competency-based education
                    </h3>
                    <p>
                        Central Arizona College has been experimenting with
                        competency-based education and needed a modern system
                        that could also support nontraditional programs.
                    </p>
                    <h3 class="ht--s--20">
                        Utilizing modern CRM tools and degree-audit capabilities
                    </h3>
                    <p>
                        “Our legacy system didn’t have the modern CRM tools that
                        our recruitment department needs to improve engagement,”
                        says Cameron Sanders, Director of Enterprise Application
                        Services at Central Arizona College. “We also didn’t
                        have degree audit capabilities that would allow students
                        to track their progress in our programs.”
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Gaining a True Partner in a Higher Education Cloud Provider
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <p>
                        CAC created an ERP Selection Committee that included
                        representatives from all the key areas across the
                        institution, including enrollment, student services,
                        financial aid, finance, HR, faculty, and module users.
                        This would not only ensure that the technical and
                        business requirements were met, but would promote
                        cultural adoption across the institution.
                    </p>
                </div>
                <div class="right">
                    <p>
                        After a competitive selection process, they chose to
                        replace its legacy system with the full CampusNexus
                        solutions suite, which includes CampusNexus Student,
                        CampusNexus CRM, and Campus Nexus Finance, HR & Payroll.
                        The entire solution is built on the Microsoft technology
                        stack and Azure Cloud.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Focusing on the Community College Mission: Student Success
            </h2>
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <img
                        class="max-width-100 mb1"
                        src="/images/pages/higher-education-resources/case-studies/CAC-building-2.jpg"
                        alt=""
                        loading="lazy"
                        inline-img-dims
                    />
                    <p>
                        "Moving to the cloud was a no-brainer for us because it
                        addressed a lot of those issues we struggled with
                        previously,” says Cameron Sanders, Director of
                        Enterprise Application Services at Central Arizona
                        College.
                    </p>
                    <p>
                        “We were able to go from six servers to two, with four
                        virtual servers now managed by Campus Management. As
                        importantly, four ERP functional analysts who used to be
                        database programmers are now physically located in
                        frontline business offices. They assist directly as
                        needed to get a feel for what’s needed,” Sanders added.
                    </p>
                </div>
                <div class="right">
                    <h3 class="ht--s--20">
                        Looking ahead as higher education and student needs
                        evolve
                    </h3>
                    <p>
                        With an open and flexible platform in place, CAC plans
                        to leverage other modern tools of engagement, such as
                        Occupation Insight. The workforce analytics solution
                        will enable CAC to align academic programs and student
                        skills with the needs of the workforce.
                    </p>
                    <p>
                        The solution will also empower students to choose
                        courses that will make them more competitive in the
                        marketplace when they graduate. CAC also plans to move
                        more of their existing systems and processes to the
                        CampusNexus Cloud, including their learning management
                        system, Blackboard.
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            We’re going to grow it into more areas. I can see us
                            using it on more and more fronts.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Cameron Sanders,
                            </div>
                            <div class="testimonial__author__title">
                                Director of Enterprise Application Services,
                            </div>
                            <div class="testimonial__author__company">
                                Central Arizona College
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-theme-tertiary c-white">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-1">
                <div class="left">
                    <div class="video-wrapper video-wrapper--16x9">
                        <iframe
                            class="lazyload"
                            data-src="https://www.youtube.com/embed/kUtBumeDpfw?rel=0"
                            frameborder="0"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
                <div class="right">
                    <p class="ht--s--28">
                        Importance of Finding the Right Higher Ed Technology
                        Partner
                    </p>
                    <div class="testimonial">
                        <p class="testimonial__quote">
                            The right partner anticipates your needs and gets to
                            know where you are and where you want to be. With
                            Campus Management, we get to think strategically.
                        </p>
                        <div class="testimonial__author">
                            <div class="testimonial__author__name">
                                Chris Wodka,
                            </div>
                            <div class="testimonial__author__title">
                                Chief Financial Officer,
                            </div>
                            <div class="testimonial__author__company">
                                Central Arizona College
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/CAC-building.jpg"
                alt="Valley College"
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About Central Arizona College
                </h2>
                <p>
                    Central Arizona College opened its doors in 1969 to bring
                    higher education to Pinal County. CAC serves and educates
                    the diverse communities of Pinal County. From students of
                    Hispanic and Native American descent to participants in the
                    lifelong learners program, the institution’s diverse college
                    community values the power of innovation, continuous quality
                    improvement, and the contribution of the individual.
                </p>
                <p>
                    With five campuses and three centers located strategically
                    throughout the county, CAC provides accessible, educational,
                    economic, cultural, and personal growth opportunities for
                    those of all ages.
                </p>
                <p>
                    The College’s talented and innovative faculty and staff is
                    dedicated to fostering a spirit of learning.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Effective Change Management for Today's Institutions
                    </span>
                    <span class="block c-box category"
                        >On-Demand Webinar</span
                    >
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="https://info.campusmanagement.com/change-management-cac"
                    target="_blank"
                    rel="noopener"
                    >Watch
                </a>
            </div>

            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Central Arizona College
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/Central-Arizona-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
