---
# <!-- @formatter:off -->
title: Public University Transforms Student Engagement and Services for Over 60,000 Students
label: Ohio State University
meta-description: Ohio State University transforms student engagement and personalized services for over 60,000 students with CampusNexus CRM.
menu-priority: 0.8
page-bg-image: /images/pages/higher-education-resources/case-studies/OSU-page-bkg.jpg
page-bg-image--xs: /images/pages/higher-education-resources/case-studies/OSU-410x730-bkg-blue.jpg
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}

<article>
    <div
        class="container container--3 container--header container--header--top-heavy"
    >
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Winner of the 2017 Campus Management Excellence Award for
                Constituent Service.
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <dl class="container box-v4 box-v4--flex-1-2-4">
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Institution
                </dt>
                <dd>
                    Public University
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Campuses
                </dt>
                <dd>
                    Columbus, Lima, Marion, Mansfield, Newark, ATI Wooster
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Enrollment
                </dt>
                <dd>
                    68,000+
                </dd>
            </div>
            <div>
                <dt class="ht--s--28 c-theme-primary-dark">
                    Solution
                </dt>
                <dd>
                    CampusNexus CRM
                </dd>
            </div>
        </dl>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark mb2--sm">
                Improving Quality of Engagement and Collaboration in Recruitment
                and Enrollment
            </h2>
            <div class="box-v4">
                <div class="right">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/OSU-constituent-service.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="left">
                    <p>
                        The Ohio State University has earned a reputation for
                        offering quality academic programs and highly
                        personalized constituent service. One of the main
                        challenges of any large university is to keep raising
                        the bar on personalized student services and
                        collaboration among faculty and staff as the institution
                        continues to grow.
                    </p>
                    <p>
                        The institution’s goal was to increase and improve the
                        utilization, timeliness, and personalization of content
                        for constituents, and to increase collaboration across
                        university departments.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Leveraging CRM Technology to Improve Campaigns and Constituent
                Service
            </h2>
            <p>
                The Ohio State University turned to CampusNexus CRM as its
                platform for transforming student engagement. Over the course of
                24 months, the institution conceived, planned, assessed,
                launched, measured, and refined their efforts, with some
                outstanding results, both internally and externally.
            </p>

            <h3 class="ht--s--20">
                Staff and Employee Results:
            </h3>
            <div class="box-v4 box-v4--flex">
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >87%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Active CRM Users</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >200%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Average Number of<br />Concurrent Users
                        </span>
                    </p>
                </div>
            </div>
            <h3 class="ht--s--20">
                Recruitment Effort Results:
            </h3>
            <div class="box-v4 box-v4--flex-1-2-4">
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >124%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Interactions Per Yr</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >15%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Strategic Campaign Messages</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >50%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Increase in Long-Term Campaigns</span
                        >
                    </p>
                </div>
                <div class="circle-bg">
                    <p class="c i">
                        <span class="ht--s--50 c-grey--800"
                            >50%</span
                        >
                        <span class="ht--p--22-i b c-black"
                            >Campaigns Run<br />with A/B Testing</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-grey--100">
        <div class="container container--2">
            <div class="box-v4 box-v4--1-2">
                <div class="left">
                    <img
                        alt=""
                        loading="lazy"
                        inline-img-dims
                        src="/images/pages/higher-education-resources/case-studies/OSU-excellence-award-winners.jpg"
                        class="max-width-100"
                    />
                </div>
                <div class="right">
                    <h2 class="ht--s--28 c-theme-primary-dark">
                        The Ohio State University Receives 2017 Excellence Award
                        in Constituent Service
                    </h2>
                    <p>
                        For enacting a plan that drove results for internal
                        staff and prospective students, The Ohio State
                        University received the 2017 Excellence Award for
                        Constituent Service from Campus Management.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container container--2-5 box-v4">
            <img
                class="right max-410"
                src="/images/pages/higher-education-resources/case-studies/OSU-sign.jpg"
                alt=""
                loading="lazy"
                inline-img-dims
            />
            <div class="left">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    About The Ohio State University
                </h2>
                <p>
                    Founded in 1870, The Ohio State University’s campus in
                    Columbus has been the stage for academic achievement and a
                    laboratory for innovation. As Ohio’s best and one of the
                    nation’s top-20 public universities, the institution is
                    further recognized for its top-rated academic medical center
                    and premier cancer hospital and research center.
                </p>
            </div>
        </div>
    </div>

    <div class="bgg-grey-200-to-grey-300">
        <div
            class="container container--color-boxes box-v4 box-v4--flex-1-2 box-v4--greys"
        >
            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Success Profiles from 5 Award-Winning Institutions
                    </span>
                    <span class="block c-box category">
                        Success Stories Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/2017-Excellence-Awards-Case-Study-Mini-Book.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>

            <div class="flexcol">
                <h3 class="reverse-spans">
                    <span class="ht--s--22-28 c-theme-primary-dark">
                        Ohio State University Case Study
                    </span>
                    <span class="block category">
                        Case Study Download
                    </span>
                </h3>
                <a
                    class="pill-button block c bottom"
                    href="/docs/case-studies/cmc/{{language}}/Ohio-State-University-Case-Study-Campus-Management.pdf"
                    target="_blank"
                    >Download
                </a>
            </div>
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
