---
# <!-- @formatter:off -->
title: Campus Management in the News
label: News & Events
alt--pt-br: /noticias-e-eventos/
banner-image: /images/pages/news-and-events/Banner_pr.gif
menu-priority: 0.6
page-bg-image: /images/pages/news-and-events/events/events-bkg-v2.jpg
page-bg-image--xs: /images/pages/news-and-events/events/events-410x364-bkg-blue.jpg
page-bg-classes: page-bg-image--short
additional-scripts:
    - src: /scripts/page--recent-news.js
      inline: true
additional-stylesheets:
    - href: /styles/pages/news-and-events__news.css
      inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}} {{#content "body"}}
<article>
    <div class="container container--2 container--header">
        <header class="c c-white">
            <h1 class="ht--s--38-45">{{title}}</h1>
            <p class="ht--p--16-22 mb0">
                Campus Management in the News
            </p>
        </header>
    </div>

    <div class="bgc-white">
        <div class="container box-v4 box-v4--1-1">
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/JFK4RjZShdc?rel=0"
                        frameborder="0"
                        allowfullscreen
                        title="Talisma Fundraising Overview"
                    ></iframe>
                </div>
                <p class="l">
                    Video: 6 Minutes, 35 Seconds
                </p>
            </div>
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Jim Milton, CEO on Cheddar TV
                </h2>
                <p>
                    Campus Management CEO Jim Milton discusses how institutions
                    are using technology to be more efficient and improve
                    student outcomes, even in a climate of reduced federal and
                    state budgets. Gain insight into the future of higher
                    education and how to use mobile devices, artificial
                    intelligence, big data and cloud technology to fuel student
                    success.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-grey--200 c-grey--1000">
        <div class="container box-v4 box-v4--1-1">
            <div class="left">
                <div class="video-wrapper video-wrapper--16x9">
                    <iframe
                        class="lazyload"
                        data-src="https://www.youtube.com/embed/N0rOfxj47o0?rel=0&enablejsapi=1"
                        frameborder="0"
                        allowfullscreen
                        title="Major Gifts Demo"
                    ></iframe>
                </div>
                <p class="l">
                    Video: 7 Minutes, 8 Seconds
                </p>
            </div>
            <div class="right">
                <h2 class="ht--s--28 c-theme-primary-dark">
                    Rob Sparks, CMO on Cheddar TV
                </h2>
                <p>
                    In this interview with Cheddar TV (cheddar.com), Campus
                    Management Chief Marketing Officer Rob Sparks discusses the
                    report, Good Jobs that Pay without a BA from Georgetown
                    University Center on Education and the Workforce. Sparks
                    shares insight into challenges facing today’s high school
                    graduates and adult learners as they prepare to enter and
                    re-enter the workforce. He covers topics like reskilling the
                    current workforce, the location of learning and the role
                    higher education plays in today’s and tomorrow’s market.
                </p>
            </div>
        </div>
    </div>

    <div class="bgc-white">
        <div class="container">
            <h2 class="c ht--s--28 c-theme-primary-dark">
                Recent Press Releases
            </h2>
            {{>recent-press-release-list}}
        </div>
    </div>
</article>
{{/content}} {{#content "after-body"}} {{>[pattern-box/consultation-request]}}
{{/content}} {{/extend}}
