$dark-blue-bar-bg: #0f4e7b;

.c-theme-primary {
    color: $theme-primary-light;
}

.c-theme-primary-light {
    color: $theme-primary-light;
}

.c-theme-primary-dark {
    color: $theme-primary-dark;
}

.c-theme-secondary {
    color: $theme-secondary;
}

.c-theme-tertiary {
    color: $theme-tertiary;
}

.c-theme-tertiary-light {
    color: $theme-tertiary-light;
}

.c-white {
    color: $white;
}

.c-black {
    color: $black;
}

@each $suffix, $color in $greys {
    .c-grey--#{$suffix} {
        color: $color;
    }
    .bgc-grey--#{$suffix} {
        background-color: $color;
    }
}

@mixin make-bgc() {
    $sizes: 'xs', 'sm'; //, 'md', 'lg';
    $screen-sizes: (
        xs: $screen-xs-min,
        sm: $screen-sm-min,
        md: $screen-md-min,
        lg: $screen-lg-min,
    );

    $xs-colors: (
        white: $white,
        theme-primary: $theme-primary,
        theme-primary-light: $theme-primary-light,
        theme-tertiary: $theme-tertiary,
    );

    $sm-colors: (
        grey--200: map-get($greys, 200),
        grey--light: map-get($greys, 200),
        grey--300: map-get($greys, 300),
        grey--normal: map-get($greys, 300),
        theme-primary: $theme-primary,
        theme-primary-light: $theme-primary-light,
    );

    @each $color-name, $color in $xs-colors {
        .bgc-#{$color-name} {
            background-color: $color;
        }
    }

    @media (min-width: $screen-sm-min) {
        @each $color-name, $color in $sm-colors {
            .bgc--sm--#{$color-name} {
                background-color: $color;
            }
        }
    }
}

@include make-bgc();

.bgg-theme-primary-to-theme-primary-light {
    background:
        linear-gradient(
            to right,
            $theme-primary 50%,
            $theme-primary-light 50%
        );

    &.reverse {
        background:
            linear-gradient(
                to right,
                $theme-primary-light 50%,
                $theme-primary 50%
            );
    }
}

.bgg-grey-200-to-grey-300 {
    background:
        linear-gradient(
            to right,
            map-get($greys, 200) 50%,
            map-get($greys, 300) 50%
        );

    &.reverse {
        background:
            linear-gradient(
                to right,
                map-get($greys, 300) 50%,
                map-get($greys, 200) 50%
            );
    }
}

.bg-ptn--blue-bar-bkg-nexus {
    background-color: $theme-primary-light;
    background-image: url('/images/ui/blue-bar-bkg-nexus.png');
    background-repeat: repeat;
}

.bg-ptn--blue-bar-bkg-careers {
    background-color: $theme-primary-light;
    background-image: url('/images/ui/blue-bar-bkg-career-search.png');
    background-repeat: repeat;
}

.bg-ptn--blue-bar-bkg-resources {
    background-color: $dark-blue-bar-bg;
    background-image: url('/images/ui/drk-blue-bar-bkg-resources.png');
    background-repeat: repeat;
}

.bg-ptn--blue-bar-bkg-email {
    background-color: $theme-primary-light;
    background-image: url('/images/ui/blue-bar-bkg-email.png');
    background-repeat: repeat;
}
