.ht--p--400 {
    font-weight: 400;
    font-family: $font-family-primary;
}

.ht--p--14 {
    @include adjust-font-size-to(14px);
}

.ht--p--14-075 {
    @include adjust-font-size-to(14px, 0.75);
}

.ht--p--16 {
    @include adjust-font-size-to(16px);
}

// scss-lint:disable SelectorFormat
.ht--p--16-1_125 {
    @include adjust-font-size-to(16px, 1.125);
}

// scss-lint:enableSelectorFormat

.ht--p--16-20 {
    @include adjust-font-size-to(16px, 1);

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(20px, 1);
    }
}

.ht--p--16-22 {
    @include adjust-font-size-to(16px, 1);

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(22px, 1.25);
    }
}

.ht--p--18 {
    @include adjust-font-size-to(18px);
}

.ht--p--18-24 {
    @include adjust-font-size-to(18px, 1.5);

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(24px, 1.5);
    }
}

.ht--p--20 {
    @include adjust-font-size-to(20px);
}

.ht--p--22 {
    @include adjust-font-size-to(20px);
}

.ht--p--22-i {
    @include adjust-font-size-to(22px);

    font-style: italic;
}

.ht--p--22-1_5 {
    @include adjust-font-size-to(22px, 1.25);
}

.ht--p--28 {
    @include adjust-font-size-to(28px, 1.25);
}

.ht--p--30 {
    @include adjust-font-size-to(30px, 1.5);
}

.ht--p--30-48 {
    @include adjust-font-size-to(30px, 1.25);

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(48px, 2);
    }
}

.ht--s--16 {
    @include adjust-font-size-to(16px, 1);

    font-family: $font-family-secondary;
}

.ht--s--18 {
    @include adjust-font-size-to(18px, 1);

    font-family: $font-family-secondary;
}

.ht--s--20 {
    @include adjust-font-size-to(20px, 1);

    font-family: $font-family-secondary;
}

.ht--s--22 {
    @include adjust-font-size-to(22px, 1);

    font-family: $font-family-secondary;
}

.ht--s--22-28 {
    @include adjust-font-size-to(22px, 1);

    font-family: $font-family-secondary;

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(28px, 1.125);
    }
}

.ht--s--24 {
    @include adjust-font-size-to(24px, 1);

    font-family: $font-family-secondary;
}

.ht--s--28 {
    @include adjust-font-size-to(28px, 1.25);

    font-family: $font-family-secondary;
}

.ht--s--30-46 {
    @include adjust-font-size-to(30px, 1.5);

    font-family: $font-family-secondary;

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(46px, 1.5);
    }
}

.ht--s--32 {
    @include adjust-font-size-to(32px, 1.5);

    font-family: $font-family-secondary;
}

.ht--s--36 {
    @include adjust-font-size-to(36px, 1.75);

    font-family: $font-family-secondary;
}

.ht--s--38 {
    @include adjust-font-size-to(38px, 1.5);

    font-family: $font-family-secondary;
}

.ht--s--38-45 {
    @include adjust-font-size-to(38px, 1.5);

    font-family: $font-family-secondary;

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(45.5px, 2);
    }
}

.ht--s--44 {
    @include adjust-font-size-to(44px, 1.75);

    font-family: $font-family-secondary;
}

.ht--s--50 {
    @include adjust-font-size-to(50px, 2.5);

    font-family: $font-family-secondary;
}

.ht--s--70 {
    @include adjust-font-size-to(70px, 2.5);

    font-family: $font-family-secondary;
}

.ht--s--55-70 {
    @include adjust-font-size-to(55px, 2.5);

    font-family: $font-family-secondary;

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(60px, 2.5);
    }

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(70px, 2.5);
    }
}

.ht--s--30-50 {
    @include adjust-font-size-to(30px, 1.5);

    font-family: $font-family-secondary;

    @media (min-width: $screen-xs-land-min) {
        @include adjust-font-size-to(40px, 2);
    }

    @media (min-width: $screen-sm-min) {
        @include adjust-font-size-to(50px, 2.5);
    }
}

.ht--s--40-80 {
    @include adjust-font-size-to(40px, 3);

    font-family: $font-family-secondary;

    @media (min-width: $screen-xs-land-min) {
        @include adjust-font-size-to(60px, 3);
    }

    @media (min-width: $screen-md-min) {
        @include adjust-font-size-to(80px, 3);
    }
}

.txt--legal {
    @include adjust-font-size-to(10px, 0.5);
}

.txt--legal-i {
    @include adjust-font-size-to(12px, 0.625);

    font-style: italic;
}

.i {
    font-style: italic;
}

.b {
    font-weight: 400;
}

.uc {
    text-transform: uppercase;
}
