.c {
    text-align: center;
}

.l {
    text-align: left;
}

.r {
    text-align: right;
}

.l--sm {
    @media (min-width: $screen-sm-min) {
        text-align: left;
    }
}

.bottom {
    margin-top: auto;
}

.fs {
    align-self: flex-start;
}

.block {
    display: block;
}

.block.c {
    margin-right: auto;
    margin-left: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.block.c.fr--sm,
.c.fr--sm,
.fr--sm {
    @media (min-width: $screen-xs-land-min) {
        float: right;
        margin: 0 0 rhythm(0.5) rhythm(0.5);
    }
}

.border {
    border: 1px solid map-get($greys, 500);
}

.flexcol {
    display: flex;
    flex-direction: column;
}

.clear {
    clear: both;
}

.reverse-spans {
    display: flex;
    flex-flow: row wrap;

    span {
        width: 100%;

        &:first-child {
            order: 1;
        }
    }
}

.has-intro-img {
    margin-left: rhythm(2.5);
}

.intro-img {
    position: absolute;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/* ---------------- */

.min-height-7 {
    min-height: rhythm(7);
}

.max-height-7--xs-only {
    @media (max-width: $screen-sm-max) {
        max-height: rhythm(7);
    }
}

.max-7 {
    max-width: rhythm(7);
    max-height: rhythm(7);
    object-fit: scale-down;
}

.max-width-100 {
    max-width: 100%;
    height: auto;
}

.max-width-66--sm {
    @media (min-width: $screen-sm-min) {
        max-width: 66%;
    }
}

/* ---------------- */

.has-to-bottom-edge-img,
.container--color-boxes.container--2-5.box-v4 .has-to-bottom-edge-img {
    align-self: end;
    padding-top: 0;
    padding-bottom: 0;

    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2.5);
    }
}

.to-bottom-edge {
    position: relative;
    bottom: 0;

    &.border {
        border-bottom: 0;
    }
}

.to-bottom-edge--screenshot {
    width: 100%;
    min-width: 248px;
    max-width: 350px;
    height: auto;

    @media (min-width: $screen-sm-min) {
        max-width: 100%;
    }
}

/* ---------------- */

.cols {
    column-count: 1;
    column-gap: rhythm(1);

    @media (min-width: $screen-xs-land-min) {
        column-count: 2;
    }

    @media (min-width: $screen-sm-min) {
        column-count: 3;
    }

    li {
        break-inside: avoid;
    }

    figure {
        break-inside: avoid;
    }
}

.big-text-wrapper {
    @include adjust-leading-to(1);

    display: flex;
    max-width: 400px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-style: italic;

    /* stylelint-disable-next-line no-descending-specificity */
    span {
        display: inline-block;
        align-self: center;
        margin-right: rhythm(0.5);
        margin-bottom: 0;

        &:nth-child(2) {
            flex-grow: 1;
        }
    }

    @media (min-width: $screen-xs-land-min) {
        span {
            margin-right: rhythm(1);
        }
    }

    @media (min-width: $screen-md-min) {
        max-width: 600px;
    }
}

/* ---------------- */

/* stylelint-disable selector-no-qualifying-type */
.mb0,
.left.mb0,
.right.mb0,
.cmc-article__link.mb0,
.presenter-list.mb0,
.list--normal li.mb0 {
    margin-bottom: 0;
}
/* stylelint-enable selector-no-qualifying-type */

.mb0-5,
.left.mb0-5,
.right.mb0-5 {
    margin-bottom: rhythm(0.5);
}

.mb1,
.box-v4 .left.mb1,
.box-v4 .right.mb1 {
    margin-bottom: rhythm(1);
}

/* stylelint-disable selector-no-qualifying-type */
.mb2--sm,
.right p.mb2--sm,
.left p.mb2--sm {
    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(2);
    }
}
/* stylelint-enable selector-no-qualifying-type */

.mb2-5--sm {
    @media (min-width: $screen-sm-min) {
        margin-bottom: rhythm(2.5);
    }
}

/* ------- */

.pb0 {
    padding-bottom: 0;
}

.pb1 {
    padding-bottom: rhythm(1);
}

/* ------- */

.pt1--sm {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(1);
    }
}

.pt2 {
    padding-top: rhythm(2);
}

.pt2--sm {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2);
    }
}

.pt2-5--sm {
    @media (min-width: $screen-sm-min) {
        padding-top: rhythm(2.5);
    }
}
