<!-- htmlmin:ignore -->
{{#each additional-stylesheets}}
    <link href="{{href}}" rel="stylesheet" {{#if inline}}inline{{else}}media="print" onload="this.media='all'"{{/if}}/>
    {{#unless inline}}
        <noscript>
            <link rel="stylesheet" href="{{href}}">
        </noscript>
    {{/unless}}
{{/each}}
<!-- htmlmin:ignore -->
