
{{#hasOtherAltLang alt--en alt--en-in alt--pt-br alt--es}}
<link rel="alternate" href="{{@root.config.domains.self}}/{{trailingSlash path}}" hreflang="{{fixEnUs language}}"/>
    {{#eq language 'pt-br'}}
        <link rel="alternate" href="{{@root.config.domains.ptbr}}/{{ removePtBr (trailingSlash path)}}" hreflang="pt"/>
    {{/eq}}
{{/hasOtherAltLang}}
{{#if alt--en}}
<link rel="alternate" href="{{@root.config.domains.cmc}}{{alt--en}}" hreflang="en"/>
{{/if}}
{{#if alt--en-in}}
<link rel="alternate" href="{{@root.config.domains.cmc}}{{alt--en-in}}" hreflang="en-in"/>
{{/if}}
{{#if alt--pt-br}}
<link rel="alternate" href="{{@root.config.domains.ptbr}}{{alt--pt-br}}" hreflang="pt-br"/>
<link rel="alternate" href="{{@root.config.domains.ptbr}}{{alt--pt-br}}" hreflang="pt"/>
{{/if}}
{{#if alt--es}}
<link rel="alternate" href="{{@root.config.domains.ptbr}}{{alt--es}}" hreflang="es"/>
{{/if}}
