<div class="news-banner-wrapper bgc-white {{#if page-bg-image--xs}}has-xs-img{{/if}}">
    <div class="news-banner c-black ht--p--14-075">
        <p class="news-banner__text ">
            <span class="ht--s--16 ">Campus Management is now Anthology.</span>
            We’ve joined forces with Campus Labs and iModules to revolutionize higher education.
        </p>
        <a href="http://www.anthologyinc.com/press-release" class="ht--s--16 news-banner__link" target="_blank" rel="noopener">
            <p>Read the news!</p>
            <img height="39px" width="163px" src="/images/ui/anthology-logo.svg" alt="Anthology"/>
        </a>
    </div>
</div>
