Category:
<ul class="blog-entry-categories">
    {{#each category}}
        <li>
            <a href="/{{getBlogCategoryFirstPage this}}">{{this}}</a>{{#unless @last}}, {{/unless}}
        </li>
    {{/each}}
</ul>
