<div class='contact-details'>
    <div
        class='layout__bg--contact-us-details contact-us-details-wrapper--en-in'
    >
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    India
                </p>
                <p>
                    3rd Floor, Olympia/Building-01
                    <br />
                    Bagmane Tech Park, CV Raman Nagar,
                    <br />
                    Byrasandra, Bangalore-560 093, India
                    <br />
                    <br />
                    +91 80 40394400
                </p>
                <a
                    class='pill-button contact-details-list__link contact-details-list__link--en-in'
                    href='/en-in/'
                >
                    Website
                </a>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--india'
            ></div>
        </div>
    </div>

    <div
        class='layout__bg--contact-us-details contact-us-details-wrapper--en-us'
    >
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    Corporate
                </p>
                <p>
                    5201 Congress Ave.
                    <br />
                    Boca Raton FL 33487
                    <br />
                    <br />
                    Phone: 561.923.2500
                    <br />
                    Fax: 561.999.0096
                    <br />
                    Sales: 866.397.2537
                    <br />
                    Support: 800.483.9106
                </p>
                <a
                    class='pill-button contact-details-list__link contact-details-list__link--en-us'
                    href='/'
                >
                    Website
                </a>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--us'
            ></div>
        </div>
    </div>

    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    Brazil
                </p>
                <p>
                    Av. Brig. Faria Lima, 1485, sala 202
                    <br />
                    Jardim Paulistano
                    <br />
                    São Paulo – SP, CEP: 01452-002
                    <br />
                    <br />
                    +55 (11) 3797-6747
                </p>
                <a
                    class='pill-button contact-details-list__link contact-details-list__link--pt-br'
                    href='https://www.campusmanagement.com.br'
                >
                    Website
                </a>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--brazil'
            ></div>
        </div>
    </div>

    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    United Kingdom
                </p>
                <p>
                    38 Rosebery Ave. 1st Floor
                    <br />
                    London EC1R4RN
                    <br />
                    <br />
                    +44 7824 623019
                    <br />
                    +44 208 037 0537
                </p>
                <!--
        <a
            class="pill-button contact-details-list__link contact-details-list__link--en-in"
            href="/en-in/"
        >Website</a>
        -->
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--uk'
            ></div>
        </div>
    </div>
    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    McLean, Virginia
                </p>
                <p>
                    8251 Greensboro Dr.
                    <br />
                    Suite 210
                    <br />
                    McLean, VA 22102
                    <br />
                    <br />
                    813.310.8763
                </p>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--mclean'
            ></div>
        </div>
    </div>
    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    Cincinnati, Ohio
                </p>
                <p>
                    Cincinnati, Ohio
                    <br />
                    10300 Alliance Dr.
                    <br />
                    Suite 300
                    <br />
                    Blue Ash, OH 45242
                    <br />
                    <br />
                    513.706.6350
                </p>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--cincinnati'
            ></div>
        </div>
    </div>

    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    Houston, Texas
                </p>
                <p>
                    11200 Westheimer Rd., Suite 365
                    <br />
                    Houston, Texas 77042
                    <br />
                    <br />
                    713.408.1442
                </p>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--houston'
            ></div>
        </div>
    </div>

    <div class='layout__bg--contact-us-details'>
        <div class='contact-us-details__item'>
            <div class='contact-us-details__item-address'>
                <p class='ht--s--20 contact-details-list__item__title'>
                    Charlotte, North Carolina
                </p>
                <p>
                    525 North Tryon Street
                    <br />
                    16th Floor, Suite 1648
                    <br />
                    Charlotte, NC 28202
                    <br />
                    <br />
                    561.923.2500
                </p>
            </div>
            <div
                class='contact-us-details__map contact-us-details__map--charlotte'
            ></div>
        </div>
    </div>
</div>
