<div class='cmc-footer__news-about-container'>
    <div class='cmc-footer__about-us-links'>
        <div class='cmc-footer__section-title'>
            About Us
        </div>
        <ul>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/about-us/careers-at-Campus-Management/mission-and-vision/"
                >
                    Mission, Values &amp; Vision
                </a>
            </li>
            <li>
                <a
                    href="https://www.anthologyinc.com/leadership"
                >
                    Management Team
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/about-us/careers-at-Campus-Management/"
                >
                    Careers
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/partners/"
                >
                    Partners
                </a>
            </li>
        </ul>
    </div>
    <div class='cmc-footer__news-and-events-links'>
        <div class='cmc-footer__section-title'>
            News and Events
        </div>
        <ul>
            <li>
                <a href='https://blog.campusmanagement.com'>
                    Blog
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/higher-education-resources/webcasts/"
                >
                    On-Demand Webinars
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/news-and-events/events/"
                >
                    Industry Events
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/news-and-events/events/CampusInsight/"
                >
                    Annual Users Conference
                </a>
            </li>
            <li>
                <a
                    href="{{@root.config.domains.self}}{{
                        url-lang-prefix
                    }}/news-and-events/press-releases/"
                >
                    Press
                Releases
                </a>
            </li>
        </ul>
    </div>
</div>

<div class='footer__logo-container'>
    <!--
        <img
            src="/images/pages/home/Microsoft-partner-logo.png"
            alt="Microsoft Partner of the Year Education Award"
        />
        -->
    <!-- <img
            src="/images/ui/ms-partner-logo.svg"
            alt="Microsoft Partner of the Year Education Award"
        /> -->
</div>
<ul class='social-media-links'>
    <li>
        <a
            class='social-media-links--facebook'
            href='https://www.facebook.com/TheAnthologyInc'
            title='Friend us on facebook'
            target='_blank'
            rel='noopener'
        >
            Facebook
        </a>
    </li>
    <li>
        <a
            class='social-media-links--insta'
            href='https://www.instagram.com/anthology_inc'
            title='Follow us on Instagram'
            target='_blank'
            rel='noopener'
        >
            Instagram
        </a>
    </li>
    <li>
        <a
            class='social-media-links--twitter'
            href='https://twitter.com/AnthologyInc'
            title='Follow us @AnthologyInc on Twitter'
            target='_blank'
            rel='noopener'
        >
            Twitter
        </a>
    </li>
    
    <li>
        <a
            class='social-media-links--linkedin'
            href='https://www.linkedin.com/company/anthologyinc'
            title='Connect with us on LinkedIn'
            target='_blank'
            rel='noopener'
        >
            LinkedIn
        </a>
    </li>
</ul>
