<footer class="cmc-footer container">
    <div class="vcard cmc-footer__vcard">
        <div class="cmc-footer__vcard__org menu-lang--en-us">
            <div class="fn org cmc-footer__section-title">Campus Management Corp.</div>
            <div class="adr">
                <div class="street-address">5201 Congress Ave.</div>
                <span class="locality">Boca Raton</span> <span class="region">FL</span>
                <span class="postal-code">33487</span>
            </div>
        </div>

        <div class="cmc-footer__vcard__org menu-lang--en-in">
            <div class="fn org cmc-footer__section-title">Campus Management Corp.</div>
            <div class="adr">
                <div class="street-address">3rd Floor, Olympia/Building-01</div>
                <span class="locality">Bagmane Tech Park, C V Raman Nagar</span>, <span class="region">Byrasandra, Bangalore</span>
                - <span class="postal-code">560 093</span>, <span class="country">India</span>
            </div>
        </div>

        <div class="cmc-footer__vcard__org menu-lang--es">
            <div class="fn org cmc-footer__section-title">Campus Management Brasil</div>
            <div class="adr">
                <div class="street-address">Av. Brig. Faria Lima, 1485, sala 20</div>
                <span class="locality">Jardim Paulistano</span> <span class="region">São Paulo</span>
                                        – SP, CEP:
                <span class="postal-code">01452-002</span>
            </div>
        </div>


        <div class="cmc-footer__contact-container">
            <div class="cmc-footer__vcard__contact-numbers menu-lang--en-us">
                <div class="cmc-footer__section-title">Contact Numbers</div>

                <div class="tel">
                    <span class="type">Corporate: </span><span class="value">561.923.2500</span>
                </div>
                <div class="tel">
                    <span class="type">Sales: </span><span class="value">866.397.2537</span>
                </div>
                <div class="tel">
                    <span class="type">Support: </span><span class="value">800.483.9106</span>
                </div>
                <div class="tel">
                    <span class="type">Fax: </span><span class="value">561.999.0096</span>
                </div>
            </div>
            <div class="cmc-footer__vcard__contact-numbers menu-lang--en-in">
                <div class="cmc-footer__section-title">Contact Numbers</div>

                <div class="tel">
                    <span class="type">Corporate: </span><span class="value">561.923.2500</span>
                </div>
                <div class="tel">
                    <span class="type">Sales: </span><span class="value">866.397.2537</span>
                </div>
                <div class="tel">
                    <span class="type">Support: </span><span class="value">800.483.9106</span>
                </div>
                <div class="tel">
                    <span class="type">Fax: </span><span class="value">561.999.0096</span>
                </div>
            </div>
            <div class="cmc-footer__vcard__contact-numbers menu-lang--es">
                <div class="cmc-footer__section-title">Contato</div>

                <div class="tel">
                    <span class="type">Telefone: </span><span class="value">+55 (11) 3797-6747</span>
                </div>
                <div class="tel">
                    <span class="type">Suporte: </span><span class="value">+1 800.483.9106</span>
                </div>
            </div>
            <div class="cmc-footer__contact-links">
                <div class="cmc-footer__section-title">Contact Links</div>
                <ul>
                    <li>
                        <a href="/contact-us/?reason=Sales">Sales</a>
                    </li>
                    <li>
                        <a href="/contact-us/?reason=Support">Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{>footer-same}}

        <small class="cmc-footer__copyright">©{{thisYear}} Campus Management Corp. All Rights Reserved |
            <a
                href="/about-us/privacy/"
            >Privacy Policy
            </a> |
			<a
                href="/about-us/accessibility/"
            >Accessibility
            </a>
        </small>
        <div class="menu-lang--en-us cmc-footer__phone-number-wrapper">
            <div class="cmc-footer__phone-number">1-866-397-2537</div>
        </div>
        <div class="menu-lang--en-in  cmc-footer__phone-number-wrapper">
            <div class="cmc-footer__phone-number">+91-80-4339-8410</div>
        </div>
        <div class="menu-lang--es  cmc-footer__phone-number-wrapper">
            <div class="cmc-footer__phone-number">+91-80-4339-8410</div>
        </div>


    <div class="menu-lang--en-us">
        <a
            class="cmc-footer__phone-number--link"
            href="tel:+18663972537"
        >1-866-397-2537<span>Touch to Call</span></a>
    </div>
    <div class="menu-lang--en-in">
        <a
            class="cmc-footer__phone-number--link"
            href="tel:+91-80-4339-8410"
        >+91-80-4339-8410<span>Touch to Call</span></a>
    </div>
    <div class="menu-lang--es">
        <a
            class="cmc-footer__phone-number--link"
            href="tel:+18663972537"
        >1-866-397-2537<span>Touch to Call</span></a>
    </div>

</footer>
