<div class='form-wall-form-wrapper'>
    <div class='container container--2 pb0 pb1--sm'>
        <p class='c mb0'>
            Complete el siguiente formulario para ver el video del seminario web.
        </p>
    </div>
    <form
        id='FormWallForm'
        class='cmc-form cmc-form--centered form-wall-form'
        action="webcast-form/?site={{safeValue site 'cmc'}}"
        data-lead-source='Webcast Form Wall Form'
    >
        <fieldset>
            <input type='hidden' name='group' value='es' />
            <ul>
                <li>
                    <label class='required' for='firstName'>
                        Nombre
                    </label>
                    <div class='input-wrapper'>
                        <input
                            type='text'
                            name='firstName'
                            id='firstName'
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class='required' for='lastName'>
                        Apellido
                    </label>
                    <div class='input-wrapper'>
                        <input
                            type='text'
                            name='lastName'
                            id='lastName'
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class='required' for='email'>
                        Correo electrónico
                    </label>
                    <div class='input-wrapper'>
                        <input type='email' name='email' id='email' required />
                    </div>
                </li>
                <li>
                    <label class='required' for='title'>
                        Cargo
                    </label>
                    <div class='input-wrapper'>
                        <input type='text' name='title' id='title' required />
                    </div>
                </li>
                <li>
                    <label class='required' for='institution'>
                        Institución
                    </label>
                    <div class='input-wrapper'>
                        <input
                            type='text'
                            name='institution'
                            id='institution'
                            required
                        />
                    </div>
                </li>
                <li>
                    <label class='' for='phone'>
                        Numero de Contacto
                    </label>
                    <div class='input-wrapper'>
                        <input type='text' name='phone' id='phone' />
                    </div>
                </li>
                <li class='cmc-form__submit-row'>
                    <button
                        type='submit'
                        class='pill-button cmc-form__submit-button'
                        name='btnSave'
                    >
                        Ver video
                    </button>
                    <input
                        type='hidden'
                        name='webcast'
                        value="{{safeValue webcast 'not-set'}}"
                    />
                    {{#if hsFormId}}
                        <input
                            type='hidden'
                            name='hsFormId'
                            value="{{hsFormId}}"
                        />
                        <input
                            type='hidden'
                            name='hsPortalId'
                            value="{{@root.config.hubspot.id}}"
                        />
                        <input type='hidden' name='pageUrl' value='' />
                        <input type='hidden' name='pageTitle' value='' />
                        <input type='hidden' name='hutk' value='' />
                    {{/if}}
                </li>
            </ul>
        </fieldset>
    </form>
</div>
