<section
    id='home-page-carousel'
    data-interval='10000'
    class='home-page-carousel carousel slide container'
>
    <h1>
        Campus News
    </h1>
    <div class='carousel-inner' role='listbox'>
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! data-desktop-bg & data-mobile-bg }}
		
		{{!-- <div
            class='item'
            data-desktop-bg='/images/pages/home/Gartner-6-bkg-blue.jpg'
            data-mobile-bg='/images/pages/home/Gartner-6-410x730-bkg-blue.jpg'
        >
            <div class='home-page-carousel__item'>
                <div class='box-v4 c-white'>
                    <div class='left'>
                        <h2 class='ht--p--18-24 home-page-carousel__title'>
                            GARTNER REPORT - Published March 2, 2020
                        </h2>
                        <p class='ht--s--38-45 mb1'>
                            Top 10 Strategic Technologies Impacting Higher Education in 2020
                        </p>
                        <p class='ht--p--16-20  mb1'>
                            Explore new and emerging higher ed technologies.
                        </p>
                        <ul
                            class='pill-list pill-list--multiple pill-list--centered'
                        >
                            <li class='pill-list__item'>
                                <a
                                    href='http://info.campusmanagement.com/top-10-strategic-technologies-impacting-higher-education-in-2020'
                                    class='pill-button mb1'
                                    target='_blank'
                                    rel='noopener'
                                >
                                    Download Report
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> --}}

        <div
            class='item active'
            data-desktop-bg='/images/pages/dev/animated/LBC-OI-video-bkg.jpg'
            data-mobile-bg='/images/pages/higher-education-resources/case-studies/LBC-410x730-bkg-blue.jpg'
        >
            <div class='home-page-carousel__item'>
                <div class='box-v4 c-white'>
                    <div class='left'>
                        <h2 class='ht--p--18-24 home-page-carousel__title'>
                            Client Success Story
                        </h2>
                        <p class='ht--s--38-45 mb1'>
                            Making a Difference in the Life of Every Student
                        </p>
                        <p class='ht--p--16-20  mb1'>
                            Watch this video to hear how Lancaster Bible College uses CampusNexus Occupation Insight to make a difference in the life of every student.
                        </p>
                        <ul
                            class='pill-list pill-list--multiple pill-list--centered'
                        >
                            <li class='pill-list__item'>
                                <a
                                    href='https://info.campusmanagement.com/lancaster-bible-college-using-campusnexus-occupation-insight'
                                    class='pill-button mb1'
                                    target='_blank'
                                    rel='noopener'
                                >
                                    Watch Video
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div
            class='item'
            data-desktop-bg='/images/pages/higher-education-resources/resources-bkg-2.jpg'
            data-mobile-bg='/images/pages/higher-education-resources/higher-education-resources-410x730-bkg-blue.jpg'
        >
            <div class='home-page-carousel__item'>
                <div class='box-v4 c-white'>
                    <div class='left'>
                        <h2 class='ht--p--18-24 home-page-carousel__title'>
                            Insight & Thought Leadership
                        </h2>
                        <p class='ht--s--38-45 mb1'>
                            Higher Education Resources
                        </p>
                        <p class='ht--p--16-20  mb1'>
                            Benefit from the latest insight and thought leadership from higher education institutions and industry experts on transforming academic delivery, operational efficiency, and student success.
                        </p>
                        <ul
                            class='pill-list pill-list--multiple pill-list--centered'
                        >
                            <li class='pill-list__item'>
                                <a
                                    href='/higher-education-resources/'
                                    class='pill-button mb1'
                                >
                                    View Resources
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ol class='carousel-indicators'>
        <li data-target='#home-page-carousel' class='active' data-slide-to='0'>
            <span class='carousel-indicators__graphic'>
                0
            </span>
        </li>
        <li data-target='#home-page-carousel' class='' data-slide-to='1'>
            <span class='carousel-indicators__graphic'>
                1
            </span>
        </li>
		{{!-- <li data-target='#home-page-carousel' class='' data-slide-to='2'>
            <span class='carousel-indicators__graphic'>
                2
            </span>
        </li> --}}
    </ol>

    <a
        class='left carousel-control'
        href='#home-page-carousel'
        role='button'
        data-slide='prev'
    >
        <span class='sr-only'>
            Previous
        </span>
    </a>
    <a
        class='right carousel-control'
        href='#home-page-carousel'
        role='button'
        data-slide='next'
    >
        <span class='sr-only'>
            Next
        </span>
    </a>
</section>
