<section
    id='home-page-carousel'
    data-interval='10000'
    class='home-page-carousel carousel slide container'
>
    <h1>
        Campus News
    </h1>
    <div class='carousel-inner' role='listbox'>
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! edit first image in home-page-carousel-bg-stub }}
        {{! data-desktop-bg & data-mobile-bg }}

        <div
            class='item active'
            data-desktop-bg='/images/pages/demos/NLC-bkg-v2.jpg'
        >
            <div class='home-page-carousel__item'>
                <div class='box-v4 c-white'>
                    <div class='left'>
                        <h2 class='ht--p--18-24 home-page-carousel__title'>
                            Webcast
                        </h2>
                        <p class='ht--s--38-45 mb1'>
                            Universidad Positivo Webcast
                        </p>
                        <p class='ht--p--16-20  mb1'>
                            La Universidad positivo comparte su visión estratégica para responder a Instituciones educativas en el estado de Paraná, Brasil.
                        </p>
                        <ul
                            class='pill-list pill-list--multiple pill-list--centered'
                        >
                            <li class='pill-list__item'>
                                <a
                                    href='/higher-education-resources/webcasts/estrategias-bem-sucedidas-para-o-crescimento-e-o-sucesso-apresentando-a-Universidade-Positivo/'
                                    class='pill-button mb1'
                                >
                                    Ver webscat
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ol class='carousel-indicators'>
        <li data-target='#home-page-carousel' class='active' data-slide-to='0'>
            <span class='carousel-indicators__graphic'>
                0
            </span>
        </li>
    </ol>

    <a
        class='left carousel-control'
        href='#home-page-carousel'
        role='button'
        data-slide='prev'
    >
        <span class='sr-only'>
            Previous
        </span>
    </a>
    <a
        class='right carousel-control'
        href='#home-page-carousel'
        role='button'
        data-slide='next'
    >
        <span class='sr-only'>
            Next
        </span>
    </a>
</section>
