<div class='carousel-bg'>
    <picture class='carousel-bg__item'>
        {{! if you have multiple images, use next two srcs + img, if not just use img}}
        {{! if NOT, set next line to false, ignore two source items }}
        {{#if true}}
            <source
                srcset='/images/pages/home/Gartner-6-bkg-blue.jpg'
                media='(min-width: 600px)'
                {{! desktop img here }}
            />
            <source
                srcset='/images/pages/home/Gartner-6-410x730-bkg-blue.jpg'
                {{! mobile img here }}
            />
        {{/if}}
        <img
            src='/images/pages/home/Gartner-6-bkg-blue.jpg'
            alt=''
            {{! desktop img here - always needed }}
        />
    </picture>
</div>
