<nav
    class="main-nav"
    aria-label="site"
    id="nav-menu"
>
    <ul class="main-nav__root-list container">
        <li class="main-nav__root-list-item">
            <a
                href="{{homeLinkHref}}"
                class="main-nav__home-link"
                aria-label="home"
            >Campus Management Corp
            </a>
        </li>
        <li class="main-nav__root-list-item">
            <button
                type="button"
                aria-expanded="false"
                class="main-nav__open-menu-button left-nav-menu__toggle-button"
            >Open Menu
            </button>
            <div
                class="main-nav__toggle-contents"
            >
                <ul class="main-nav__pages-list" hidden>
                    {{{sortCollectionData collection.[0] leftNavStartFrom 2 'collection-data-loop/main-nav'}}}
                    {{>main-nav-static-content 
                        mode='mobile'
                        classes='hidden-sm hidden-md hidden-lg main-nav__pages-list-item main-nav__pages-list-item--charm-button'
                        global-button-classes='main-nav__page-list-link'
                    }}

                </ul>
            </div>
        </li>
        {{>main-nav-static-content 
            mode='desktop'
            classes='hidden-xs main-nav__static-content main-nav__root-list-item'
            global-button-classes='top-nav-menu__charm-button'
        }}
    </ul>
</nav>

<div
    class="sr-only"
    role="search"
>
    <button
        type="button"
        data-target="#SearchModal"
        data-toggle="modal"
        class="top-nav-menu__charm-button top-nav-menu__charm-button--search"
        title="Search"
        aria-label="open search dialog"
        tabindex="-1"
    >
        Search
    </button>
</div>
