<li
    class="{{classes}}"
    data-in-nav--en-us
    data-in-nav--en-in
    data-in-nav--en-uk
    data-in-nav--es
>
    <button
        type='button'
        data-target='#SearchModal'
        data-toggle='modal'
        class='top-nav-menu__charm-button top-nav-menu__charm-button--search'
        title='Search'
        aria-label='open search dialog'
    >
        Search
    </button>
</li>
<li
    class="{{classes}}"
    data-in-nav--en-us
    data-in-nav--en-in
    data-in-nav--en-uk
    data-in-nav--es
>
    {{#eq language 'pt-br'}}
        <a
            href='/contato/'
            class='top-nav-menu__charm-button top-nav-menu__charm-button--contact'
            title='Contato'
        >
            Contato
        </a>
    {{else}}
        <a
            href='/contact-us/'
            class='top-nav-menu__charm-button top-nav-menu__charm-button--contact'
            title='Contact'
        >
            Contact
        </a>
    {{/eq}}
</li>
<li
    class="{{classes}} has-children"
    data-in-nav--en-us
    data-in-nav--en-in
    data-in-nav--en-uk
    data-in-nav--es
>
    <a
        type='button'
        class="{{global-button-classes}} top-nav-menu__charm-button--global"
        title='International'
    >
        International
    </a>
        {{#eq mode 'desktop'}}
            <div class='global-nav__toggle-contents' hidden>
            <div class="global-nav__country-title ">International</div>
        {{/eq}}
            
        <ul class='global-nav__lang-list main-nav__pages-sub-list'>
            <li
                class='main-nav__pages-list-item'
                data-in-nav--en-us
                data-in-nav--en-in
                data-in-nav--en-uk
                data-in-nav--es
            >
                <a
                    href="{{@root.config.domains.cmc}}?l=en-us"
                    class='main-nav__page-list-link'
                >
                    North America
                </a>
            </li>
            <li
                data-in-nav--en-us
                data-in-nav--en-in
                data-in-nav--en-uk
                data-in-nav--es
            >
                <a
                    href="{{@root.config.domains.cmc}}/en-in/?l=en-in"
                    class=' main-nav__page-list-link'
                >
                    India
                </a>
            </li>
            <li>
                <div
                    class=' global-nav__country-title--latam main-nav__page-list-link'
                >
                    Latam
                </div>
                <ul>
            <!--
                    <li>
                        <a
                            href="{{@root.config.domains.cmc}}/es/?l=es"
                            class='global-nav__lang-option main-nav__page-list-link'
                        >
                            Español
                        </a>
                    </li>
            -->
                    <li>
                        <a
                            href="{{@root.config.domains.ptbr}}"
                            class='global-nav__lang-option main-nav__page-list-link'
                        >
                            Portuguese
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {{#eq mode 'desktop'}}</div>{{/eq}}
</li>
<li
    class="{{classes}}"
    data-in-nav--en-us
    data-in-nav--en-in
    data-in-nav--en-uk
    data-in-nav--es
>
    <button
        type='button'
        class='top-nav-menu__charm-button top-nav-menu__charm-button--support'
        data-toggle='modal'
        data-target='#SupportModal'
        title='Support'
        aria-label='open support dialog'
    >
        Support
    </button>
</li>
