{{#each items}}
    {
    "Title": "{{label}}",
    "ArticleStartDate": "{{publishFormatted
    }}",
    "publishDateJSON": {{{publishDateJSON}}},
    "Products": [
    {{#each products}}
        "{{{this}}}"
        {{#unless @last}}
            ,
        {{/unless}}
    {{/each}}
    ],
    "FileRef": "/{{path
    }}/",
    "Document_x0020_Description": "",
    "in-nav--en-us": {{in-nav--en-us
    }},
    "in-nav--en-in": {{in-nav--en-in
    }},
    "in-nav--en-uk": {{in-nav--en-uk}},
    "in-nav--pt-br": {{in-nav--pt-br}}
    }
    {{#unless @last}}
        ,
    {{/unless}}
{{/each}}
