<div class="ms-quicklaunch-navmgr">
    <ul>
        <li>
            <h3 class="menu-item--index">Categories</h3>
            <ul>
                {{#each items}}
                    <li>
                        <a href="/{{first.path}}"
                           class="menu-item {{#eq first.path ../paginationFirst}}menu-item--active-file{{/eq}}">
                            <span class="menu-item-text">{{key}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
