<div class="ms-quicklaunch-navmgr">
    <ul>
        <li>
            <h3 class="menu-item--index">Archive</h3>
            <ul>
                {{#each items}}
                    <li>
                        <a href="/{{path}}" class="menu-item {{#eq path ../currentPath}}menu-item--active-file{{/eq}}">
                            <span class="menu-item-text">{{transformPaginationNameArchive pagination.name}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
