<ul class='recent-news-list'>
    {{#each items}}
        <li class='recent-news-list-item'
            {{#if in-nav--en-us}}data-in-nav--en-us{{/if}}
            {{#if in-nav--en-in}}data-in-nav--en-in{{/if}}
            {{#if in-nav--en-uk}}data-in-nav--en-uk{{/if}}
            {{#if in-nav--pt-br}}data-in-nav--pt-br{{/if}}
            hidden
            >
            <a class='recent-news-list-item__link' href="/{{path}}/">
                {{label}}
            </a>
            <p class='recent-news-list-item__date'>
                {{publishFormatted}}
            </p>
        </li>
    {{/each}}
</ul>
