<ul class="social-media-share-plugins-list">
    <li class="social-media-share-item">
        <button type="button" class="social-media-share__button social-media-share__button--linkedin">Share</button>
        <!--<div class="social-media-share__count">0</div>-->
    </li>
    <li class="social-media-share-item">
        <button type="button" class="social-media-share__button social-media-share__button--twitter">Tweet</button>
        <!--<div class="social-media-share__count">0</div>-->
    </li>
    <li class="social-media-share-item">
        <button type="button" class="social-media-share__button social-media-share__button--facebook">Share</button>
        <!--<div class="social-media-share__count">0</div>-->
    </li>
</ul>
