<div class='bgc-grey--100 c-grey--1000'>
    <div class='container container--2-5'>
        <h2 class='c ht--s--28 c-theme-primary-dark'>
            Talisma Fundraising Suite Modules
        </h2>

        <p>
            The Talisma Fundraising suite offers all the tools you need to succeed in your mission, including specialized modules for:
        </p>

        <div class='box-v4 box-v4--1-1'>
            <div class='left'>
                <ul class='list--normal ht--p--16'>
                    <li>
                        Annual giving and capital campaigns
                    </li>
                    <li>
                        Major gifts (moves management, proposal tracking, and research)
                    </li>
                    <li>
                        Events management
                    </li>
                    <li>
                        Honors and memorials
                    </li>
                    <li>
                        Online giving and events
                    </li>
                    <li>
                        Planned giving
                    </li>
                </ul>
            </div>
            <div class='right'>
                <ul class='list--normal ht--p--16'>
                    <li>
                        Memberships
                    </li>
                    <li>
                        Fund management
                    </li>
                    <li>
                        Financials, HR, and payroll
                    </li>
                    <li>
                        Reporting and analytics
                    </li>
                    <li>
                        Scholarships
                    </li>
                    <li>
                        Alumni and advancement
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
