<div class='bgc-white'>
    <div class='container container--2'>
        <h2 class='ht--s--28 c-theme-primary-dark'>
            Talisma Fundraising Demos
        </h2>
        <div class='box-v4'>
            <div class='right'>
                <img
                    class='max-width-100 c'
                    src='/images/ui/TFR-demo-icon.png'
                    alt=''
                    loading='lazy'
                    inline-img-dims
                />
            </div>
            <div class='left'>
                <p>
                    With Talisma Fundraising, you can enhance your ability to engage supporters and volunteers, execute
                advanced fundraising strategies, and deliver the right messages, to the right constituents, at the right
                time. Now learn more about this powerful platform for driving fundraising success and see the solution
                in action in these demos.
                </p>
                <ul class='pill-list pill-list--centered'>
                    <li class='pill-list__item'>
                        <a
                            class='pill-button'
                            href='/products/Talisma-Fundraising-demos/'
                        >
                            Explore Demos
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
